
.aw_prevnext{
    width:100%;
    padding-bottom:2px;
}

.aw_prevnext img{
    width:50px; 
    height:50px;
}

.aw_prevnext a{
    text-decoration: none;
}

.awpn_prev, .awpn_up, .awpn_next{
    width:33%;
    text-align:left;
}

.awpn_up{
    text-align:center;
}

.awpn_next{
    text-align:right;
}