/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/LICENSE-M1.txt
 *
 * @category   AW
 * @package    AW_Productrelater
 * @copyright  Copyright (c) 2003-2010 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/LICENSE-M1.txt
 */

.aw-arp-block {
}
.aw-arp-content {
    /*padding: 10px;*/
    clear:both;
}
/*.aw-arp-item {
    float: left;
    text-align: center;
    margin: 1px;
    font-size: 0.9em;
}*/
.aw-arp-item {
    float: left;
    margin: 1%;
    border: 1px solid #e0e0e0;
    text-align: center;
    font-size: 0.9em;
}
.aw-arp-item img {
    width: auto;
    margin: 3%;
    max-height:25em;
}
.aw-arp-item .product-info{
    background: #ededed;
    padding: 15px 10px;
}
.aw-arp-item .product-info .title{
    font-weight: 600;
}
.aw-arp-item .price-box {
    margin-bottom: 1px;
    color: #A60002;
}
.aw-arp-item .button{
    display: block;
    background: #A60002;
    color: #fff;
    padding: 3px;
    text-transform: uppercase;
    font-weight: 500;
}
.aw-arp-noitems {
    text-align: center;
    color: #777;
}
.aw-arp-block .head h4 {
    font-size: 13px;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 600;
}

