<?php
	$model	=	Mage::getModel("core/email_template_filter");
	$data = $this->getMegamenupro();
	$menu	=	$data['content'];
	$container_css = '';
	$setId = $this->getData('menu');
?>
<?php if (!empty($menu)): ?>  
<div class="menu-title" id="displayMenu_<?php echo $setId;?>"><a href="#">Navigation</a><span class="option">nav</span></div>
<div class="nav-si" id="toogle_menu_<?php echo $setId;?>"><!-- nav-si -->
	<ul class="nav-si-viewport <?php echo $data['css_class'] ?>"><!-- nav-si-viewport -->
        <?php
        $y = $z = 0;
        $parents = $children = $siblings = $ol = [];
        foreach ($menu as $i => $item):
            $x = $item['depth'];
            $is_parent  = ($i < count($menu) - 1) && $menu[$i+1]['depth'] > $item['depth'];
                $is_child   = ($menu[$i-1]['depth'] < $item['depth']);
                $is_sibling = ($menu[$i-1]['depth'] == $item['depth']);

            if ($is_parent) {
                $parents[$x + 1][] = $item;
//                    $item['is_parent'] = true;
                $item['is_parent_of'] = "submenu_" . (count($parents[$x + 1]) - 1);
            }

            if ($is_child) {
                $children[$x][] = $item;
                $item['child_class'] = "submenu_" . (count($children[$x]) - 1);
            }

            $ol[$x][] = $item;
        endforeach;

        foreach ($ol as $a => $menuItems):
            $div = 0; ?>
            <div data-level="<?php echo $a; ?>" class="nav-si-panel <?php echo $a == '0' ? 'curr-pnl' : 'next-pnl'; ?>"><!-- nav-si-panel -->

            <?php foreach ($menuItems as $b => $menuItem):
                $container_css = $menuItem['container_css'];
                $is_parent = $menuItem['is_parent_of'] !== 'undefined' && $menuItem['is_parent_of'] != null;
                $is_child = $menuItem['child_class'] !== 'undefined' && $menuItem['child_class'] != null;

                if ($is_child):
                    if($b > 0 && $b < count($menuItems)): ?>
                    </ul>
                    <?php endif; ?>
                    <ul class="nav-si-content <?php echo $menuItem['child_class']; ?>" <?php echo $container_css ? ' style="$container_css"' : ''; ?> >
                    <?php $div++; ?>
                <?php endif; ?>

                <?php if ($menuItem['type'] == 'link'): ?>
                <li <?php if($is_parent) { echo 'id="' . $menuItem['is_parent_of'] . '"'; } ?> class="menu-item-link menu-item-depth-<?php echo $menuItem['depth'] ?> <?php echo $menuItem['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent ' : '' ?>">
                    <?php if($is_parent):  ?>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-arrow-rt" viewBox="0 0 26 26">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'frontend/default/em0080/images/icons/si-icon.svg#arrow' ?>"></use>
                            </svg>
                        </div>
                    <?php endif; ?>
                    <a href="<?php echo $model->filter($menuItem['url']) ?>"
                    <?php if ($menuItem['target']): ?>
                        target="<?php echo htmlspecialchars($menuItem['target']) ?>"
                    <?php endif ?>>
                        <span><?php echo $menuItem['label'] ?></span>
                        <?php if ($menuItem['sublabel']): ?>
                        <small><?php echo $menuItem['sublabel'] ?></small>
                        <?php endif ?>
                    </a>
                </li>
                <?php endif ?>

                <?php if ($menuItem['type'] == 'text'): ?>
                <li <?php if($is_parent) { echo 'id="' . $menuItem['is_parent_of'] . '"'; } ?> class="menu-item-text menu-item-depth-<?php echo $menuItem['depth'] ?> <?php echo $menuItem['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>">
                    <?php if($is_parent):  ?>
                    <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                        <svg class="si-arrow-rt" viewBox="0 0 26 26">
                            <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'frontend/default/em0080/images/icons/si-icon.svg#arrow' ?>"></use>
                        </svg>
                    </div>
                    <?php endif; ?>
                    <?php if(strpos($menuItem['css_class'], 'mob_subhead') !== false):  ?>
                    <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                        <svg class="si-arrow-lt" viewBox="0 0 26 26">
                            <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'frontend/default/em0080/images/icons/si-icon.svg#arrow' ?>"></use>
                        </svg>
                    </div>
                    <?php endif; ?>
                    <?php echo $menuItem['text'] ?>
                </li>
                <?php endif ?>

                <?php if ($menuItem['type'] == 'hbox'): ?>
                <li class="menu-item-hbox menu-item-depth-<?php echo $menuItem['depth'] ?> <?php echo $menuItem['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>" style="<?php
            echo $menuItem['width'] ? 'width:'.$menuItem['width'].'px;' : '';
            echo $menuItem['height'] ? 'height:'.$menuItem['height'].'px;' : '';
            echo $menuItem['spacing'] ? 'padding:'.$menuItem['spacing'].'px;' : '';
            ?>"></li>
                <?php endif ?>

                <?php if ($menuItem['type'] == 'vbox'): ?>
                <li class="menu-item-vbox menu-item-depth-<?php echo $menuItem['depth'] ?> <?php echo $menuItem['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>" style="<?php
            echo $menuItem['width'] ? 'width:'.$menuItem['width'].'px;' : '';
            echo $menuItem['height'] ? 'height:'.$menuItem['height'].'px;' : '';
            echo $menuItem['spacing'] ? 'padding:'.$menuItem['spacing'].'px;' : '';
            ?>"></li>
                <?php endif; ?>

                <?php if ($b == count($menuItems)): ?>
                </ul><!-- nav-si-content -->
                <?php endif; ?>
            <?php endforeach; ?>

        </div><!-- nav-si-panel -->

    <?php endforeach; ?>
    </ul><!-- nav-si-viewport -->
</div><!-- nav-si -->

<div id="btnMobileDisplayDrawer" class="btn-mobile-drawer-display-container">
    <?php
    echo $this->getLayout()
        ->createBlock('core/template')
        ->setTemplate('page/html/btn_mobile_display_drawer.phtml')
        ->toHtml();
    ?>
</div>

<script type="text/javascript">
    function toogleMenuPro_<?php echo $setId;?>(){
        var $=jQuery;
        var checkPhone = /iPhone|iPod|Phone|Android/i.test(navigator.userAgent);
        var container = $("#toogle_menu_<?php echo $setId;?>");
        var textClick = $("#displayMenu_<?php echo $setId;?>");
        if($("body").hasClass("adapt-0")==true || checkPhone == true){
            textClick.hide();
            container.show();
        }else{
            textClick.hide();
            container.show();
        }
    };
	
	jQuery(document).ready(function(){
		toogleMenuPro_<?php echo $setId;?>();
	});
			
    jQuery(window).bind('emadaptchange orientationchange', function() {
		toogleMenuPro_<?php echo $setId;?>();
    });
</script>
<?php endif ?>
