<?php
$_this = $this->getData('orderItem');
$_orderItem = $_this->getQty();
$_product = $this->getData('itemProduct');
$_item = $_this->getItem();
$productType = $_item->getProductType();
if($_item->getHasChildren()) {
    foreach($_item->getChildrenItems() as $child) {
        $returnItems[] = $child;
    }
} else {
    $returnItems[] = $_item;
}
$simpleItem = $returnItems[0];

$stockItem = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product);
$statusText = Mage::helper('amstockstatus')->getCustomStockStatusText($_product);
$statusText = ucfirst(substr($statusText, 0,1)).strtolower(substr($statusText,1));
$preorderQuantity = $simpleItem->getData('qty_ordered') + $stockItem->getData('qty');
$statusUponOrdering = $simpleItem->getData('status_upon_ordering');
?>
<table class="embroidery-review-wrapper" width="100%" cellpadding="0" cellspacing="0" border="0" style="border:0; font-family:'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;">

<tr>
    <td height="3" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
</tr>
<?php if (strtolower($statusUponOrdering) != 'in stock'): ?>
    <tr>
        <td style="font-size:12px; color:#D0021B;">
            <?php echo $statusUponOrdering; ?>
        </td>
    </tr>
<?php endif; ?>
</table>
