/*

INSTRUCTION FOR STYLING:

# Change background, color of the horizontal menu bar:
.em_nav .hnav { }

# Change font, color of hyperlinks:
.em_nav a { }
.em_nav a:hover { }

# Menu item's links when hover or active:
.em_nav li:hover > a, .em_nav li.active > a { }


# Top level's menu:
# -----------------

# Change padding, font, color of top menu item:
.hnav .menu-item-depth-0 a { }

# Change position of the drop-down menu of top level menu:
.hnav .menu-item-depth-0 > .menu-container,
.em-catalog-navigation.horizontal > li > ul,
.em-catalog-navigation.horizontal > li:hover > ul { top:50px }

# Level 2+ menu:
# -----------------

# Change background color, padding of container of level 2+ menu container:
.em_nav .menu-item-link > ul,
.em_nav .em-catalog-navigation ul { }

# Change font, color of hyperlink of level 2+ menu items:
.em_nav .menu-item-depth-1 a,
.em_nav .em-catalog-navigation li li a { }

# Change font, color of hover/active hyperlink of level 2+ menu items:
.em_nav .menu-item-depth-1 li:hover > a, 
.em_nav .menu-item-depth-1 li.active > a,
.em_nav .em-catalog-navigation li li:hover > a,
.em_nav .em-catalog-navigation li li.active > a { }


# ----------------

# Add a gutter between 2 children of hbox:
.em_nav .menu-item-hbox > .menu-container > li { margin-left:10px }
.em_nav .menu-item-hbox > .menu-container > li:first-child { margin-left:0 }

# Fix hbox on mobile view
.adapt-0 .menu-item-hbox > .menu-container { white-space:normal }
.adapt-0 .menu-item-hbox > .menu-container > li { display:block; margin-left:0 }



BELOW BASE CSS SHOULD NOT BE CHANGED:
===============================================================================
*/


ul ul, ul ol, ol ol, ol ul { font-size:100% }

.em_nav ul { margin:0; }


/* vertical menu */
.vnav .menu-item-depth-0 { position:relative }
.vnav .menu-item-depth-0 a { display:block; padding:5px 10px }
.vnav .menu-item-depth-0 > .menu-container { position:absolute; top:0; left:-9999px; z-index:101;}
.menu-item-vbox > .menu-container > .menu-item-text > ul > li > a {display:block;padding:5px 0;}
.hnav .menu-item-vbox.menu-item-depth-1.menu-item-parent {margin-right:0;}


/* ---------- level 2+ ---------- */

/* vertical menu */

.vnav .menu-item-depth-0:hover > .menu-container,
.vnav .menu-item-depth-0.hover > .menu-container { left:100%}

.menu-item-hbox > .menu-container { white-space:nowrap }

#mobile-menu-btn-wrap.open .menu-item-link > .menu-container {box-shadow:0 2px 7px #ccc }
.menu-item-depth-1 .menu-item-link > .menu-container,
.menu-item-link.menu-item-depth-1 > .menu-container { min-width:150px;}
.hnav .menu-item-depth-1.grid_19 {margin-right:-2px !important; margin-left:0 !important}

.menu-item-depth-0 .menu-item-link { position:relative }
.menu-item-depth-0 .menu-item-link > .menu-container { position:absolute; top:0; left:-9999px; z-index:9999 }
.menu-item-depth-0 .menu-item-link:hover > .menu-container,
.menu-item-depth-0 .menu-item-link.hover > .menu-container { left:100%; top:5px }


/* Catalog Navigation */
.em-catalog-navigation ul { min-width:180px; background:#fff; box-shadow:0 2px 7px #ccc }
.em-catalog-navigation li { position:relative }
.em-catalog-navigation li > ul { position:absolute; top:0; left:-9999px; z-index:999 }
.em-catalog-navigation li:hover > ul,
.em-catalog-navigation li.hover > ul { left:100%; top:5px }

/* Catalog Navigation with vertical style of top level */
.em-catalog-navigation.horizontal > li { float:left }
.em-catalog-navigation.horizontal > li > ul { top:30px }
.em-catalog-navigation.horizontal > li:hover > ul { left:-1px; top:38px }

/* Mobile view */

.adapt-0 .em-catalog-navigation ul { width:auto !important; }
.adapt-0 .menu-item-link > .menu-container,
.adapt-0 .em-catalog-navigation li > ul { left:0 !important; right:0 !important; display:none;position:static!important;width:auto!important}
.adapt-0 .em-catalog-navigation li.mhover > ul { left:100% !important; right:auto !important; display:block }


/* Clear Divs */
#nav > .menu-container:after,
.menu-item-hbox:after { content:'.';display:block;clear:both;visibility:hidden;height:0;overflow:hidden }

#nav > .menu-container:after, .menu-item-hbox:after, .menu-item-text:after { clear:both;  content:".";  display:block;  height:0;  overflow:hidden;  visibility:hidden;}

/* Adapt 1*/
.adapt-0 .em_nav .menu-item-depth-0 ul {margin: 0 0 5px;}
.adapt-0 .em_nav .menu-item-text.menu-item-depth-0 > ul.em-catalog-navigation,
.adapt-0 .em_nav .menu-item-depth-0 ul.em-catalog-navigation.horizontal {margin-bottom:0;}
.adapt-0 .em_nav .menu-item-vbox > .menu-container > .menu-item-text > ul {margin-bottom:0;}
.adapt-0 .em_nav .menu-item-depth-2 .em-catalog-navigation {margin-left:-20px;margin-right:-20px}

.adapt-0 .sidebar .em_nav  .em-catalog-navigation.vertical li, .adapt-0 .sidebar .em_nav .menu-item-link.menu-item-depth-0.menu-item-link {padding: 0 20px;}
.adapt-0 .vnav .menu-item-depth-0 .em-catalog-navigation > li > a {padding:5px 20px;}
.adapt-0 .sidebar .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a {padding: 5px 20px;}
.adapt-0 .sidebar .vnav .menu-item-depth-0 .em-catalog-navigation > li > a {padding: 5px 0;}
.adapt-0 .sidebar .em_nav .vnav .em-catalog-navigation > li a.arrow, .adapt-0 .sidebar .em_nav .menu-item-link.menu-item-depth-0.menu-item-link > a.arrow{right:20px;}
.adapt-0 .col-right .vnav .menu-item-link.menu-item-depth-0:hover > .menu-container, .adapt-0 .col-left .vnav .menu-item-link.menu-item-depth-0:hover > .menu-container {padding:20px 0;}
.adapt-0 .em_nav .menu-item-depth-2 .em-catalog-navigation li.level0 {padding-left:20px !important; padding-right:20px !important;}


.adapt-0 .em_main .em_nav .vnav .nav-right .menu-item-vbox .menu-container .menu-item-link, .adapt-0  .sidebar .vnav .menu-item-vbox .menu-container .menu-item-link {padding:2px 20px;}
.adapt-0 .em_main .em_nav .vnav .nav-right .menu-item-vbox .menu-container .menu-item-link > a.arrow, .adapt-0  .sidebar .vnav .menu-item-vbox .menu-container .menu-item-link > a.arrow {right:20px;}

.hnav .menu-item-depth-0 ul.menu-container a {display:block;}

.more-left{float:left}
.menu-item-vbox.menu-item-depth-2.more-right.menu-item-parent{float:left; margin-top:13px; margin-left:0px; width:300px}
.adapt-1 .menu-item-vbox.menu-item-depth-2.more-right.menu-item-parent{width:220px}
.title-more{font-family: #6f7073; font-family:WhitneyMedium; font-size:14px; padding-top:72px; font-family:'Whitney SSm A', 'Whitney SSm B'; font-weight: 500;}
.more-content{line-height:20px;}
ul.em-catalog-navigation {margin-top:6px}
.adapt-3 .menu-bar .hnav li.menu-item-depth-0 .arrow {display:none !important;}
.adapt-3 .menu-item-hbox.menu-item-depth-1.menu-item-parent{margin-top:8px; margin-left:22px}
.adapt-3 .menu-item-vbox.menu-item-depth-2.more-left.menu-item-parent{margin-left:0px; width:620px;}
.adapt-3  .menu-item-depth-3 .widget-static-block div{float:left}
.adapt-3  .menu-item-depth-3 .widget-static-block div.item h3.title-more-content{font-family: #6f7073; font-family:WhitneyMedium; font-size:14px; font-weight:normal; text-align:center; line-height:18px; font-family:'Whitney SSm A', 'Whitney SSm B'; font-weight: 500; margin-top:6px; }
.adapt-3  .menu-item-depth-3 .widget-static-block div.item {border:1px solid #f0f0f0; width:136px; height:198px; margin:0px 7px}
.adapt-3  .menu-item-depth-3 .widget-static-block div.row-one {margin-bottom:28px}
.adapt-3  .menu-item-hbox > .menu-container > li{margin-left:0; width:100%}
.adapt-3 .menu-item-vbox.menu-item-depth-2.more-left.menu-item-parent .menu-item-text{padding-left:0}
.menu-item-depth-3 .widget-static-block div.item:hover{box-shadow:0px 1px 8px 1px rgba(0,0,0,0.2);}
.adapt-1 .menu-bar .hnav li.menu-item-depth-0 .arrow {display:none !important;}
.adapt-1 .menu-item-hbox.menu-item-depth-1.menu-item-parent{margin-top:8px}
.adapt-1 .menu-item-vbox.menu-item-depth-2.more-left.menu-item-parent{margin-left:0px}
.adapt-1  .menu-item-depth-3 .widget-static-block div.item h3.title-more-content{font-family: #6f7073; font-family:WhitneyMedium; font-size:14px; font-weight:normal; text-align:center; line-height:18px;  font-family:'Whitney SSm A', 'Whitney SSm B'; font-weight: 500;  }
.adapt-1  .menu-item-depth-3 .widget-static-block div.row-one {margin-bottom:10px}
.adapt-1 .menu-item-depth-3 .widget-static-block div{float:left}


.adapt-0 .hnav .menu-item-depth-0 > a.arrow{z-index:1;border:0!important}
.adapt-0 .hnav .menu-item-depth-0 > a.arrow:hover{border:0}
.adapt-0 .hnav .menu-item-depth-0 > a.arrow,.adapt-0  .hnav .menu-item-depth-0 > .em-catalog-navigation > li > a.arrow {right:0;width:20px;}
.adapt-0  .menu-item-depth-3 .widget-static-block div.item {border:1px solid #f0f0f0; width:79px; height:119px; margin:4px 2px 0; text-align:center;  float:left;}
.adapt-0  .menu-item-depth-3 .widget-static-block div.item h3.title-more-content{font-family: #6f7073; font-family:WhitneyMedium; font-size:10px; font-weight:normal; text-align:center; line-height:11px;  font-family:'Whitney SSm A', 'Whitney SSm B'; font-weight: 500;  }

.adapt-0  .menu-item-depth-3 .widget-static-block div.item img{width:100%;}
.top-menu .hnav {}
.adapt-3 .top-menu .hnav > .menu-item-depth-0.more-wrapper > .menu-container { margin:0px !important; }
.adapt-3 .menu-container {position:relative;}

@media screen and (max-width:767px){
   .menu-item-hbox > .menu-container > li a { width:100%;}
}