<style>
    .orderstatus-request-content {
        text-align: center;
    }
    .orderstatus-request-content table {
        width: 60%;
        border-collapse: collapse;
        margin: 0px auto;
    }
    .orderstatus-request-content th {
        border: 1px solid grey;
        padding: 10px;
        text-align: left;
        background-color:LightGray;
    }
    .orderstatus-request-content td {
        border: 1px solid grey;
        padding: 10px;
        text-align: left;
    }
</style>
<?php

$orderId = $this->getOrder()->getId();
$returnsCollections = Mage::getModel('returns/orderreturns')->getCollection()
    ->addFieldToFilter('order_id', $orderId );
?>

<div id="orderstatus-request">
    <div class="orderstatus-request-content">
        <h1>Returns View</h1>
        <div>
            <br>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Order ID</th>
                    <th>RMA Number</th>
                    <th>Shipment ID Number</th>
                    <th>Created At</th>
                </tr>

                <?php
                foreach($returnsCollections as $return) {
                    echo '<tr>';
                    echo '<td>'.$return->getId().'</td>';
                    echo '<td>'.$return->getOrderId().'</td>';
                    echo '<td>'.$return->getRmaNumber().'</td>';
                    echo '<td>'.$return->getShipmentIdNumber().'</td>';
                    echo '<td>'.$return->getCreatedAt().'</td>';
                    echo '</tr>';
                }
                ?>
            </table>
        </div>
    </div>
</div>
