<?php

    $quoteItemId = $this->getRequest()->getParam('id');
    $cart = Mage::helper('checkout/cart')->getCart();
    $item = $cart->getQuote()->getItemById($quoteItemId);
    if( $item->getProduct()->getCustomOption('info_buyRequest')) {
    	$infoBuyRequestValue = $item->getProduct()->getCustomOption('info_buyRequest')->getValue();
    }
    $optionArs = unserialize($infoBuyRequestValue);
    $embroideryData = $optionArs["product-embroidery-options"];
    $unitEmbroideryPrice = Mage::helper('embroidery')->getEmbroideryPrice($embroideryData);

?>
<input type="hidden" id="product-embroidery-options-<?php echo $item->getId(); ?>" name="product-embroidery-options" value="<?php echo htmlspecialchars($embroideryData); ?>">

<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Update Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <div class="qty-tier-price-status">
            <?php if (!$_product->isGrouped()): ?>
                <input type="<?php echo ($_product->getTypeId() != 'configurable' && $_product->getTypeId() != 'aw_giftcard') ? "text" : "hidden";?>" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                <input type="hidden" name="editcustomization_qty" id="editcustomization_qty" value="<?php echo $this->getProductDefaultQty() * 1 ?>"/>
            <?php endif; ?>

            <?php if( $_product->getTypeId() != 'aw_giftcard'): ?>
                <div class="custom_status"></div>
            <?php endif; ?>
        </div>

        <div class="add-to-cart-small">
            <span id='default_price'><?php echo $this->getPriceHtml($_product) ?></span>
            <div class="si-actions">
                <div class="pdp-add-to-cart-wrap">
                    <button style="" type="button" title="<?php echo $buttonTitle ?>" class="button btn-blue btn-tall btn-wide updatecart" onclick="productAddToCartForm.submit(this)">
                        <span><span class="static-prefix"><?php echo $buttonTitle ?></span></span>
                    </button>
                </div>
            </div>
			<?php echo $this->getChildHtml('', true, true) ?>
		</div>
    </div>

    <script type="text/javascript">
    $j.noConflict();
    $j(function($){
        $j('#qty').keyup(function(){
            optionsPrice.reload();

        });
    });
    </script>
<?php endif; ?>
