<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard
 * @version    1.0.6
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$_product = $this->getProduct();
$_id = $_product->getId();
$preConfiguredValues = $this->getPreConfiguredValues();
?>
<div class="aw-gc-form<?php if($this->isEEVersion()):?>-enterprise<?php endif;?> clearfix">

<?php echo $this->getChildHtml('product_type_data_extra') ?>

<?php if ($_product->isSaleable() && $this->hasAmountOptions()): ?>
    <?php if (!$_product->getAwGcAllowOpenAmount() && (count($this->getAmountOptions()) == 1)): ?>
        <?php $_amount = $this->getAmountOptions(); $_amount = array_shift($_amount); ?>
        <div class="price-box">
                <span class="regular-price">
                    <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                        <?php echo Mage::helper('core')->currency($_amount, true, false); ?>
                    </span>
                </span>
        </div>
        <script type="text/javascript">
            //<![CDATA[
            optionsPrice.productPrice = "<?php echo $_amount;?>";
            //]]>
        </script>
    <?php else: ?>
        <div class="fieldset aw-gc-amount-form">
            <ul class="form-list">
                <li>
                    <?php if ($_product->getAwGcAllowOpenAmount()): ?>
                        <label for="aw-gc-custom-amount" id="aw-gc-custom-amount-label-input" class="required">
                            <em>*</em>Amount
                            <?php //echo $this->__('Amount in %s', $this->getCurrentCurrency()); ?>
                        </label>
                    <?php endif; ?>
                    <?php if (count($this->getAmountOptions()) > 0): ?>
                        <?php $configValue = $preConfiguredValues->getData('aw_gc_amounts');?>
                        <div class="input-box">
                            <div class="title-mail"><?php echo $this->__("Amount") ?></div>
                            <select required name="aw_gc_amount" id="aw-gc-amount" class="required-entry aw-gc-amount-entry">
                                <option value="">
                                    <?php echo $this->__('Choose an Amount*') ?>
                                </option>

                                <?php foreach ($this->getAmountOptions() as $value): ?>
                                    <option value="<?php echo $value; ?>" <?php echo (($configValue == $value) ? 'selected' : '')?>>
                                        <?php echo Mage::helper('core')->currency($value, true, false); ?>
                                    </option>
                                <?php endforeach; ?>

                                <?php if ($_product->getAwGcAllowOpenAmount()): ?>
                                    <option value="custom" <?php echo (($configValue == 'custom') ? 'selected' : '')?>>
                                        <?php echo $this->__('Other Amount...') ?>
                                    </option>
                                <?php endif; ?>
                            </select>
                        </div>
                    <?php endif; ?>
                    <?php if ($_product->getAwGcAllowOpenAmount()): ?>
                        <div id="aw-gc-amount-box" class="input-box">
                                <span class="v-fix">
                                    <input type="text" id="aw-gc-custom-amount" value="<?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_custom_amount')) ?>" name="aw_gc_custom_amount" class="validate-number required-entry input-text aw-gc-amount-entry aw-gc-min-amount aw-gc-max-amount" />
                                </span>

                            <?php if ($_product->getAwGcOpenAmountMin() || $_product->getAwGcOpenAmountMax()): ?>
                                <?php $_minAmount = Mage::helper('core')->currency($_product->getAwGcOpenAmountMin(), true, false); ?>
                                <?php $_maxAmount = Mage::helper('core')->currency($_product->getAwGcOpenAmountMax(), true, false); ?>
                                <p class="notice">
                                    <?php if ($_product->getAwGcOpenAmountMin()): ?>
                                        <span>
                                                <?php echo $this->__('Minimum: %s', $_minAmount); ?>
                                            </span>
                                    <?php endif; ?>

                                    <?php if ($_product->getAwGcOpenAmountMax()): ?>
                                        <span>
                                                <?php echo $this->__('Maximum: %s', $_maxAmount); ?>
                                            </span>
                                    <?php endif; ?>
                                </p>

                                <script type="text/javascript">
                                    //<![CDATA[
                                    var minAllowedAmount = <?php echo Mage::helper('core')->currency($_product->getAwGcOpenAmountMin(), false, false) ?>;
                                    var maxAllowedAmount = <?php echo Mage::helper('core')->currency($_product->getAwGcOpenAmountMax(), false, false) ?>;

                                    function parsePrice(value) {
                                        value = value.replace('\'', '').replace(' ', '');
                                        var separatorComa = value.indexOf(',');
                                        var separatorDot  = value.indexOf('.');

                                        if (separatorComa != -1 && separatorDot != -1) {
                                            if (separatorComa > separatorDot) {
                                                value = value.replace('.', '').replace(',', '.');
                                            } else {
                                                value = value.replace(',', '');
                                            }
                                        } else if (separatorComa != -1) {
                                            value = value.replace(',', '.');
                                        }
                                        return parseFloat(value);
                                    }

                                    Validation.add('aw-gc-min-amount', <?php echo Zend_Json::encode($this->__('Entered amount is too low')); ?>, function(v) {
                                        return (parsePrice(v) >= minAllowedAmount);
                                    });
                                    Validation.add('aw-gc-max-amount', <?php echo Zend_Json::encode($this->__('Entered amount is too high')); ?>, function(v) {
                                        if (maxAllowedAmount == 0) {return true;}
                                        return (parsePrice(v) <= maxAllowedAmount);
                                    });
                                    //]]>
                                </script>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>
                </li>
            </ul>
        </div>
        <?php if($_product->getData('giftcard_design_1')): ?>
        <div class="fieldset giftcard-design">
            <ul class="form-list">
                <li>
                    <label class="required">
                        <em>*</em>
                        <?php echo $this->__('Design');?>
                    </label>
                    <div class="input-box clearfix">
                    <?php
                        for($i = 1; $i < 5; $i++) {
                            if($gcImage == $_product->getData('giftcard_design_'.$i)) {
                                $foundChecked = TRUE;
                            }
                        }
                    ?>
                    <?php $i = 1; ?>
                    <?php for($i; $i<5; $i++): ?>
                        <?php if($_product->getData('giftcard_design_'.$i)):
                        $gcImage = $preConfiguredValues->getData('giftcard_design');
                        $radioChecked = $gcImage == $_product->getData('giftcard_design_'.$i) ? "checked" : "";
                        $imageClass =   $gcImage == $_product->getData('giftcard_design_'.$i) ? "bordered" : "";
                        ?>
                        <div class="gc-design-wrap">
                        <input type="radio" name="giftcard_design" value="<?php echo $_product->getData('giftcard_design_'.$i); ?>" class="radio_<?php echo $i; ?>" <?php echo ($i == 1 && ! $foundChecked) ? "checked" : $radioChecked; ?>>
                          <div class="gc-design-img-wrap">
                             <a class="gc-design-img" href="<?php echo $_product->getData('giftcard_design_'.$i); ?>">
                                <img src="<?php echo $_product->getData('giftcard_design_'.$i); ?>" id="radio_<?php echo $i; ?>" class="gc_images <?php echo $imageClass; ?>"/>
                             </a>
                          </div>
                        </div>
                        <?php endif; ?>
                    <?php endfor; ?>
                        <script type="text/javascript">

                            jQuery(document).ready(function() {
                                jQuery(".gc-design-img").fancybox({
                                    'maxHeight': 300
                                });

                                jQuery("input:radio[name='giftcard_design']").change(function(){
                                    var value = jQuery(this).attr('class');
                                    jQuery('.gc_images').each(function(){
                                        if (jQuery(this).attr('id') == value)
                                            jQuery(this).addClass("bordered");
                                        else
                                            jQuery(this).removeClass("bordered");

                                    })

                                });

                            });

                        </script>
                    </div>
                </li>
            </ul>
        </div>
        <?php endif; ?>
        <script type="text/javascript">
            //<![CDATA[
            if ($('aw-gc-amount') && $('aw-gc-custom-amount')) {
                $('aw-gc-custom-amount').hide();
                $('aw-gc-amount-box').hide();
                $('aw-gc-custom-amount-label-input').hide();
                Event.observe($('aw-gc-amount'), 'change', switchGiftCardInputs);
            }

            function switchGiftCardInputs()
            {
                if (!$('aw-gc-amount') || !$('aw-gc-custom-amount')) {
                    return;
                }

                var value = $('aw-gc-amount').options[$('aw-gc-amount').selectedIndex].value;
                if (value == 'custom') {
                    $('aw-gc-custom-amount').show();
                    $('aw-gc-amount-box').show();

                    $('aw-gc-amount-label-select').hide();
                    $('aw-gc-custom-amount-label-input').show();
                } else {
                    $('aw-gc-custom-amount').hide();
                    $('aw-gc-amount-box').hide();

                    $('aw-gc-amount-label-select').show();
                    $('aw-gc-custom-amount-label-input').hide();
                }
            }
            switchGiftCardInputs();
            //]]>
        </script>
    <?php endif; ?>

    <div class="fieldset aw-gc-send-form clearfix <?php echo $this->isAllowEmail()?'email-send-form':'mail-send-form' ?>">
        <div class="title-mail"><?php echo $this->__("Recipient's Information:") ?></div>
        <ul class="form-list">
            <div class="grid_11 alpha">
                <div class="field-row">
                    <input class="fancy-label required-entry" required="" id="aw-gc-recipient-first-name" type="text" maxlength="50" value="<?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_recipient_first_name')) ?>" name="aw_gc_recipient_first_name" />
                    <label for="aw-gc-recipient-first-name"><span>First Name*</span></label>
                </div>
                <div class="field-row">
                    <input class="fancy-label required-entry" required="" id="aw-gc-recipient-last-name" name="aw_gc_recipient_last_name" type="text" maxlength="50" value="<?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_recipient_last_name')) ?>" />
                    <label for="aw-gc-recipient-last-name"><span>Last Name*</span></label>
                </div>

                <?php if (!$this->isAllowEmail()): ?>
                <div class="field-row">
                    <input class="fancy-label required-entry" required="" id="aw-gc-recipient-address" name="aw_gc_recipient_address" type="text" maxlength="200" value="<?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_recipient_address')) ?>" />
                    <label for="aw-gc-recipient-address"><span>Address 1*</span></label>
                </div>
                <div class="field-row">
                    <input class="fancy-label" required="" id="aw-gc-recipient-address2" name="aw_gc_recipient_address2" type="text" maxlength="200" value="<?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_recipient_address2')) ?>" />
                    <label for="aw-gc-recipient-address2"><span>Address 2</span></label>
                </div>
                <div class="field-row">
                    <input class="fancy-label required-entry" required="" id="aw-gc-recipient-city" name="aw_gc_recipient_city" type="text" maxlength="200" value="<?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_recipient_city')) ?>" />
                    <label for="aw-gc-recipient-city"><span>City*</span></label>
                </div>
                <div class="field-row">
                    <input class="fancy-label required-entry" required="" id="aw-gc-recipient-state" name="aw_gc_recipient_state" type="text" maxlength="200" value="<?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_recipient_state')) ?>" />
                    <label for="aw-gc-recipient-state"><span>State*</span></label>
                </div>
                <div class="field-row">
                    <input class="fancy-label required-entry" required="" id="aw-gc-recipient-zipcode" name="aw_gc_recipient_zipcode" type="text" maxlength="200" value="<?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_recipient_zipcode')) ?>" />
                    <label for="aw-gc-recipient-zipcode"><span>ZIP Code*</span></label>
                </div>
                <?php endif; ?>

                <div class="field-row">
                    <input class="fancy-label required-entry" required="" id="aw-gc-recipient-email" name="aw_gc_recipient_email" type="email" maxlength="400" value="<?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_recipient_email')) ?>" />

                    <?php if (!$this->isAllowEmail()): ?>
                    <label for="aw-gc-recipient-email"><span>Email*</span></label>
                    <?php else: ?>
                    <label for="aw-gc-recipient-email"><span>Recipient's Email*</span></label>
                    <?php endif; ?>

                </div>
            </div>

            <?php if ($this->isAllowMessage()): ?>
            <div class="grid_11 omega">
                <div class="field-row">
                    <input class="fancy-label required-entry" required="" id="aw-gc-sender-name" name="aw_gc_sender_name" type="text" maxlength="200" value="<?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_sender_name')) ?>" />
                    <label for="aw-gc-sender-name"><span>From*</span></label>
                </div>

                <div class="field-row">
                    <textarea class="fancy-label" id="aw-gc-message" name="aw_gc_message" maxlength="500" placeholder="Message"><?php echo $this->escapeHtml($preConfiguredValues->getData('aw_gc_message')) ?></textarea>
                </div>
            </div>
            <?php endif; ?>
        </ul>
    </div>

<?php elseif ($_product->isSaleable()): ?>
    <?php echo $this->getPriceHtml($_product); ?>
<?php endif; ?>
</div>
