<?php
$helper = Mage::helper('customoptions');
?>
<style type="text/css">
    .tl-customoptions-options-edit .form-list td.note { padding-left:18px !important; }
</style>

<div class="entry-edit custom-options product-custom-options">
    <div id="dynamic-price-warrning" style="display:none">
        <ul class="messages">
            <li class="error-msg">
                <ul>
                    <li><?php echo $this->__('Bundle with dynamic pricing cannot include custom defined options. Options will not be saved') ?></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="entry-edit-head">
        <h4><?php
            if ($this->isPredefinedOptions() === true) {
                $model = Mage::registry('current_product');
                echo $this->__('Embroidery Configuration');
            } else {
                $model = Mage::registry('customoptions_data');
                echo $this->__('Embroidery Configuration');
            }
            ?></h4>
        <div class="right"><?php echo $this->getAddButtonHtml() ?></div>
    </div>

    <div id="product_options_container" class="box">
        <div style="padding-top: 10px;">
            <table class="form-list" cellspacing="0">
                <tbody>
                    <tr>
                <td><?php echo $this->getChildHtml('general_box') ?></td>

                <td width="100">&nbsp;</td>
                <td width="100">
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <input type="hidden" name="store" value="<?php echo intval(Mage::registry('store_id')) ?>"/>
        <?php if (!Mage::getSingleton('catalog/product')->isReadonly()): ?><input type="hidden" name="affect_product_custom_options" value="1" /><?php endif; ?>
        <div id="product_options_container_top">
            <button style="margin-bottom:10px;" class="scalable " type="button" title="Show Loaded Embroidery Options" id="show_embroidery_option_button"><span><span><span>Show Loaded Embroidery Options</span></span></span></button>
        </div>
        <div id="product_options_container_down"></div>        
        <?php echo $this->getOptionsBoxHtml() ?>
    </div>
</div>
<style type="text/css">
    .tl-customoptions-options-edit .form-list td.note { padding-left:18px !important; }
    .tl-customoptions-options-edit #customoptions_tabs_options_tab { border:0px !important; }
    .tl-customoptions-options-edit #customoptions_tabs { border:0px!important; }
    .tl-customoptions-options-edit .side-col { width:0px; }
    .tl-customoptions-options-edit ul.tabs, .tl-customoptions-options-edit ul.tabs a { background: transparent; }
    .tl-customoptions-options-edit .columns { background: transparent; }
    .tl-customoptions-options-edit .main-col { width: 100%; float: left; padding: 0!important; margin: 0!important; }
</style>
<script type="text/javascript">
	
	
	
// re-bind form elements onchange
    varienWindowOnload(true);
//show error message
    if ($('price_type')) {
        if ($('price_type').value == '0' && $('dynamic-price-warrning')) {
            $('dynamic-price-warrning').show();
        }
    }
<?php
$width = 930;
if ($helper->isDependentEnabled())
    $width += 210;
if ($helper->isWeightEnabled())
    $width += 85;
if ($helper->isTierPriceEnabled())
    $width += 30;
if ($helper->isSpecialPriceEnabled())
    $width += 230;
if ($helper->isQntyInputEnabled())
    $width += 50;
if ($helper->isCustomerGroupsEnabled())
    $width += 210;
if ($helper->isOptionSkuPolicyEnabled())
    $width += 85;
if ($helper->isImageModeEnabled())
    $width += 175;
?>
    $$('div.wrapper').first().style.minWidth = '<?php echo $width; ?>px';
</script>
<script type="text/javascript">
    //<![CDATA[
    function applySelectedProducts(type) {
        if (type == 'save') {
            editForm.submit();
        } else if ('saveandcontinue') {
            $('edit_form').action += 'back/edit/';
            editForm.submit();
        }
    }
    //]]>
</script>
