<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.2.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
?>
<div class="social_productreview" style="display:block;">
    <table style="width:100%;">
        <tr>
            <td  style="width:50%;" class="a-left">
                <?php
                    if ($this->canShowHelpfulness())
                    {
                        echo $this->getChild('advancedreviews_helpfulness')->setReviewId($this->getReviewId())->toHtml();
                    }            
                ?>
            </td>
        </tr>
   
        <?php  if ($this->canShowAbuse()): ?>
            <tr>
                <td style="width:50%;">
                    &nbsp;
                </td>
                <!--<td style="width:50%;" class="a-right">
                    <?php //echo $this->getChild('advancedreviews_reportabuse')->setReviewId($this->getReviewId())->toHtml(); ?>
                </td>-->
            </tr>
        <?php endif  ?>
    </table>
</div>
