<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.2.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
?>
<!-- Mike remove class name, change text-align, color -->
<div class="" style="display:block; text-align:center; margin-bottom:4px; color: #6f7073">
    <?php //if ($this->canShowHelpfulnessLink()): ?>
        <?php //if (Mage::helper('advancedreviews')->isHelpfulnessRegistered($this->getReviewId())): ?>
            <div class="helpfulness">
                <?php echo $this->__('Was this review helpful?') ?>&nbsp;
                <strong><a class="helpful-link foundHelpful" onclick="makeHelpful(this)" link="<?php echo $this->getAction('Yes') ?>"><?php echo $this->__('YES')?></a><span class="foundHelpful"><?php echo $this->getReviewCount('yes');?></span></strong>
               <!--  <span>&#47;</span> -->
                <strong><a class="helpful-link foundNoHelpful" onclick="makeHelpful(this)" link="<?php echo $this->getAction('No') ?>"><?php echo $this->__('NO') ?></a><span class="foundNoHelpful"><?php echo $this->getReviewCount('no');?></span></strong>
            </div>
            <div class="helpfulness-status" id="helpfulness-status-<?php echo $this->getReviewId(); ?>"></div>
        <?php //endif; ?>
    <?php //endif; ?>

</div>