<style>

    .happychef-giftcard-index-index .promo-bar-wrap,
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap , .promo-bar-wrap a{
        background-color:#000000;
        color:#ffffff;
        margin-bottom:5px;
        text-align: center;
    }
    .promo-main-msg-l2, .promo-main-msg-12 a{font-weight:normal; font-size:17px; letter-spacing: 1px; vertical-align: middle; line-height:30px;}

    .promo-link, .promo-link a{
        cursor:pointer;
        right: 15px;
        top: 6px;
        color: #ffffff;
        font-size:12px;
        text-decoration:underline;
        position: absolute;
        right:20px;
    }
    .promo-det-copy {display:none; width:640px; margin:85px;}

    .fw {width:100%; margin-top:7px; margin-bottom: 5%;}
    .fw.txt {margin: 43px 0 50px;}
    .hw.left {
        width:calc(50% - 4px);
        margin-right:4px;
        margin-top:7px;
    }
    .hw.right {
        width:calc(50% - 4px);
        margin-left:4px;
        margin-top:7px;
    }

    #popmobstatic {
        position: relative;
        z-index: 20;
        width:100%;
        background-color: #ffffff;
        display: block;
    }


    .popvideoWrapper {
        position: relative;
        /*padding-bottom: 50%; !* 16:9 *!*/
        /*padding-top: 25px;*/
        /*height: 0;*/
    }
    .popvideoWrapper video {
        /*position: absolute;*/
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #popmobstatic {
        position: relative;
        z-index: 20;
    }

    #popmobileLogoVid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .fineprint {
        text-align: center;
        font-size:12px;
        padding-right: 5%;
        padding-left: 5%;

    }

    .fineprinthdg {font-size:20px; font-weight:600; text-align: center; padding-top: 5%; padding-bottom: 3%;}

    @media only screen and (max-width: 768px) {
        .promo-det-copy {width:100%; margin:0;}
    }

    @media screen and (max-width:960px) {
        .promo-link  {font-size: 12px;}

    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap {background-size: initial; background-position: right;}
        .promo-bar-wrap {text-align:center;}
        .promo-link  {font-size: 12px; top: 73px;}
        .promo-main-msg-l2 {margin-right:0; font-size:16px; padding: 0;}
    }

    @media screen and (max-width: 673px) {
        .promo-main-msg-l2 {margin-right:0; font-size:12px; padding-right: 0;}
    }

    @media screen and (max-width:643px) {
        .promo-bar-wrap {padding: 0}
        .promo-link{ padding-left: 20px; }
    }

    @media screen and (max-width:480px) {
        .promo-link {font-size:9px; top:0; right:0; background-color:#000000; padding:0;}
        .promo-main-msg-l2 {font-size:9px; padding: 0;}
        .promo-link {display: none;}
    }

    @media screen and (max-width:479px) {

        .hw.left {
            width: 100%;
            margin-right: 0;
        }

        .hw.right {
            width: 100%;
            margin-left: 0;
        }
    }
</style>


<a id="promo-link" href="#promo-det-copy">
    <div class="promo-bar-wrap clearfix">
        <span class="promo-main-msg-l2">3 DAYS ONLY: OVER 20% OFF GRAPHIC WEAR</span>
        <span id="promo-link" class="promo-link">SHOP GRAPHIC WEAR</span>
    </div>
</a>

<script>
    jQuery(document).ready(function(){
        jQuery('#promo-link').on('click', function (e) {
            e.preventDefault;
            e.stopPropagation();
            var path = jQuery(this).attr('href');
            jQuery.fancybox({
                'maxWidth': 800,
                'autoSize': false,
                'width': '95%',
                'padding': 20,
                'margin': 20,
                'href': '#artwork-pop'
            });
        });
    });
</script>

<div id="artwork-pop" class="promo-det-copy">
    <div>
        <img class="fw" src="{{media url="wysiwyg/email-collateral/HC-EML-1710-graphic-wear/t1.jpg"}}" />
    </div>

    <div class="clearfix">
        <div class="fineprint" style="padding-bottom: 5%;">
            <p>Personalize your Coats, Shirts, Hats, Aprons, and more with your style or create a uniform that matches your restaurant's theme with over 100 unique designs to choose from.</p>
        </div>
    </div>


    <div class="clearfix">
        <div>
            <img class="hw left" src="{{media url="wysiwyg/email-collateral/HC-EML-1710-artwork/t1a.jpg"}}" />
        </div>
        <div>
            <img class="hw right" src="{{media url="wysiwyg/email-collateral/HC-EML-1710-artwork/t1b.jpg"}}" />
        </div>
    </div>
    <div class="clearfix">
        <div>
            <img class="hw left" src="{{media url="wysiwyg/email-collateral/HC-EML-1710-artwork/t2a.jpg"}}" />
        </div>
        <div>
            <img class="hw right" src="{{media url="wysiwyg/email-collateral/HC-EML-1710-artwork/t2b.jpg"}}" />
        </div>
    </div>
    <div class="clearfix">
        <div>
            <img class="hw left" src="{{media url="wysiwyg/email-collateral/HC-EML-1710-artwork/t3a.jpg"}}" />
        </div>
        <div>
            <img class="hw right" src="{{media url="wysiwyg/email-collateral/HC-EML-1710-artwork/t3b.jpg"}}" />
        </div>
    </div>
    <div class="clearfix">
        <div class="fineprinthdg">GETTING STARTED</div>
        <div class="fineprint">
            <p>Choose the embroidery option after you’ve selected your product’s color and size.  Then click “Artwork” to browse over 100 designs.</p>
        </div>
    </div>

    <div style="margin-top: 3%;">
        <img class="fw" src="{{media url="wysiwyg/email-collateral/HC-EML-1710-graphic-wear/t4-m.jpg}}" />

    </div>
</div>

