<?php
$attributeId = Mage::getResourceModel('eav/entity_attribute')->getIdByCode('catalog_product','colorgroup');
$attribute = Mage::getModel('catalog/resource_eav_attribute')->load($attributeId);
$attributeOptions = $attribute ->getSource()->getAllOptions();
$countOptions = count($attributeOptions);
?>
<div class="grid">
<div class="hor-scroll">

<table cellspacing="0" class="data">
<col  />
<col  />
<thead>
<tr class="headings">
<th><span class="nobr"><a href="#" name="colorpattern" title="asc" class="not-sort"><span class="sort-title">Color Group/Pattern</span></a></span></th>
<th class=" last"><span class="nobr"><a href="#" name="Action" title="asc" class="not-sort"><span class="sort-title">Action</span></a></span></th>
</tr>
</thead>
<tbody>
<?php
for($i=1;$i<=$countOptions-1;$i++)
{
?>
<tr title="#" >
<td class="a-left ">
<?php echo $attributeOptions[$i]['label']; ?>
</td>
<td class="a-left last">
<a href="<?php echo Mage::helper("adminhtml")->getUrl("colorpattern/adminhtml_colorpattern/edit/",array("id"=>$attributeOptions[$i]['value'],"name"=>$attributeOptions[$i]['label'])); ?>"><?php 
//echo $attributeOptions[$i]['value']; 
echo $this->__('Edit')
?>
</a>
</td>
</tr>
<?php } ?>
</tbody>
</table>
</div>
</div>