<?php
$attributeId = Mage::getResourceModel('eav/entity_attribute')->getIdByCode('catalog_product','color');
$attribute = Mage::getModel('catalog/resource_eav_attribute')->load($attributeId);
$attributeOptions = $attribute ->getSource()->getAllOptions();
$countOptions = count($attributeOptions);
$colorpattern_id = $this->getRequest()->getParam('id');
$read = Mage::getSingleton('core/resource')->getConnection('core_read');
$sql = sprintf(
		 "SELECT color FROM mag_colorpattern_mapping WHERE colorpattern_id = %d",
		  $colorpattern_id
		 );
$rowOptionData = $read->fetchAll($sql);
$countRowOptionData = count($rowOptionData);

$colorArray = array();
foreach($rowOptionData as $color)
{
	$colorArray[] = $color['color'];
}
?> 
<script type="text/javascript" language="javascript">
    function postBack()
    {
	location.href = '<?php echo Mage::helper("adminhtml")->getUrl("colorpattern/adminhtml_colorpattern/index"); ?>';
    }
</script>
<style type="text/css" rel="stylesheet">
#main_all {
    background-color: #FAFAFA;
    border: 1px solid #D6D6D6;
    padding: 0 1.5em;
}

</style>
<form action="<?php echo Mage::helper("adminhtml")->getUrl("colorpattern/adminhtml_colorpattern/save") ?>" method="post" name="colorpattern" id="colorpattern">
<div class="content-header">
<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
<input type="hidden" name="colorpattern_id" value="<?php echo $colorpattern_id; ?>" />
<h3 class="icon-head head-products"></h3>
<div class="content-buttons-placeholder" style="width: 0px; height: 15px;">
<p class="content-buttons form-buttons" style="">
<button style="" onclick="postBack()" class="scalable back" type="button"><span>Back</span></button>
<button class="scalable save" type="submit" id="submit"><span>Save</span></button>
</p>
</div>
</div>
<div class="entry-edit custom-options product-custom-options">
<div class="entry-edit-head">
        <h4><?php echo $this->getRequest()->getParam('name'); ?></h4>
</div>
</div>
<div id="main_all">
<table>
<tr>
<td><label>Select Color</label></td>
<td><select multiple="multiple" class=" select multiselect" size="10" name="color[]" id="color">
<?php
	if($countOptions > 0){
		foreach($attributeOptions as $attributeOption)
		{
			$selected = false;
			if($attributeOption['label'] == ''){
				continue;
			}
			if(in_array($attributeOption['label'],$colorArray)){
				$selected = true;
			}
?>
<option value="<?php echo $attributeOption['label'] ?>" <?php if($selected){?>selected="selected"<?php }?>><?php echo $attributeOption['label'] ?></option>
<?php }} ?>
</select>
</td>
</tr> 
</table>      
</div>
</form>
</div>

