.onsale-product-container {
	cursor: pointer;
	position: relative;
}
.onsale-product-container-inside {
	cursor: pointer;
	position: absolute;
	z-index: 100;
}

.onsale-product-container a {
    z-index: 2 !important;
}

div.onsale-product-label {
    position: absolute;
    top: 3px;
    left: 4px;
    margin-left: -2px;
    text-align: center;
}

div.onsale-onsale-product-label-text {
	FONT-FAMILY: inherit;
	FONT-SIZE: 16px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
}

div.new-onsale-product-label-text {
	FONT-FAMILY: inherit;
	FONT-SIZE: 16px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
}

div.custom-onsale-product-label-text {
	FONT-FAMILY: inherit;
	FONT-SIZE: 16px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
}