{#
/**
* Catalog Twig Bottom Promo Template
*
* @author Ripen eCommerce
* @package Ripen_MailFoundry
*/
#}
{% include 'includes/header_standard.twig' %}

<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: COMMON -->
<tr>
    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
            <tr>
                <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                           style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <!-- IMAGE -->
                        <tr>
                            <td width="100%" align="center"
                                background="{{ baseImagePath }}{{ hero.background }}"
                                style="-webkit-text-size-adjust: none;background-size: 100% 100%;background-repeat: no-repeat;background-position: center;text-rendering: optimizelegibility;">
                                <a href="{{ baseHref }}{{ hero.target }}"
                                   style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                    <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                    <img class="respImgSwitch"
                                         src="{{ baseImagePath }}{{ hero.image }}"
                                         alt="{{ hero.alt }}"
                                         width="100%" hspace="0" vspace="0"
                                         style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                         border="0">
                                </a>
                            </td>
                        </tr>
                        <!-- /IMAGE -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="10" bgcolor="#ffffff"
        style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        .
    </td>
</tr>
<!-- END MODULE: COMMON -->
<!-- ********************************************************************************************************* -->

<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: Horizontal Separation -->
<tr>
    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
            <tr>
                <td height="1" bgcolor="#dadada"
                    style="color: #dadada;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    .
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="60" bgcolor="#ffffff"
        style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        .
    </td>
</tr>
<!-- END MODULE: Horizontal Separation -->
<!-- ********************************************************************************************************* -->


<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: 1 COLUMN CENTERED -->
<tr>
    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
            <tr>
                <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0"
                           cellspacing="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <!-- SUBHEAD -->
                        <tr>
                            <td align="center" class="subhead"
                                style="font-size: 24pt;line-height: 28pt;color: #000000;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <a class="subhead"
                                   style="font-size: 24pt;line-height: 28pt;color: #000000;text-decoration: none;font-weight: 600;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                   href="{{ baseHref }}{{ details.target }}">{{ details.title }}</a>
                            </td>
                        </tr>
                        <!-- /SUBHEAD -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- END MODULE: 1 COLUMN CENTERED -->
<!-- ********************************************************************************************************* -->

<tr>
    <td height="40" bgcolor="#ffffff"
        style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        .
    </td>
</tr>

<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: 2 COLUMN STACKING WIDE TEXT RIGHT -->
<tr>
    <td class="detailitem" bgcolor="#ffffff" style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
            <tr>
                <!-- LEFT -->
                <td valign="top" class="stack"
                    style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <table class="wide" width="280" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                           border="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <!-- IMAGE -->
                        <tr>
                            <td background="{{ baseImagePath }}{{ detail_item_01.background }}"
                                style="-webkit-text-size-adjust: none;background-size: 100% 100%;background-repeat: no-repeat;background-position: center;text-rendering: optimizelegibility;">
                                <a href="{{ baseHref }}{{ detail_item_01.target }}" style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                    <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                    <img class="respImgSwitch"
                                         src="{{ baseImagePath }}{{ detail_item_01.image }}"
                                         alt="{{ baseImagePath }}{{ detail_item_01.alt }}" hspace="0" vspace="0"
                                         style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                         border="0">
                                </a>
                            </td>
                        </tr>
                        <!-- /IMAGE -->
                        <tr>
                            <td class="mob-hide" height="40" bgcolor="#ffffff"
                                style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                .
                            </td>
                        </tr>
                    </table>
                </td>
                <!-- /LEFT -->
                <!-- RIGHT -->
                <td valign="top" class="stack"
                    style="padding-left: 45px;padding-top: 40px;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <table class="centered" width="250" bgcolor="#ffffff" align="center" cellpadding="0"
                           cellspacing="0" border="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <!-- PRODUCT NAME -->
                        <tr>
                            <td class="mob-hide" height="15" bgcolor="#ffffff"
                                style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                .
                            </td>
                        </tr>
                        <tr>
                            <td class="prod" align="left"
                                style="font-size: 14pt;line-height: 17pt;color: #000000;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <a class="prod"
                                   style="font-size: 14pt;line-height: 17pt;color: #000000;text-decoration: none;font-weight: 600;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                   href="{{ baseHref }}{{ detail_item_01.target }}">{{ detail_item_01.title }}</a>
                            </td>
                        </tr>
                        <!-- /PRODUCT NAME -->
                        <!-- DESCRIPTION -->
                        <tr>
                            <td height="10" bgcolor="#ffffff"
                                style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                .
                            </td>
                        </tr>
                        <tr>
                            <td class="centered" align="left"
                                style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <a class="detailtext" style="font-size: 11pt;line-height: 16pt;color: #666666;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                   href="{{ baseHref }}{{ detail_item_01.target }}">{{ detail_item_01.text }}</a>
                            </td>
                        </tr>

                        <!-- /DESCRIPTION -->
                        <tr>
                            <td class="mob-hide" height="20" bgcolor="#ffffff"
                                style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                .
                            </td>
                        </tr>
                        <tr>
                            <td class="mob-hide" height="40" bgcolor="#ffffff"
                                style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                .
                            </td>
                        </tr>
                    </table>
                </td>
                <!-- /RIGHT -->
            </tr>
        </table>
    </td>
</tr>
<!-- END MODULE: 2 COLUMN STACKING WIDE TEXT RIGHT -->
<!-- ********************************************************************************************************* -->

<tr>
    <td class="mob-hide" height="40" bgcolor="#ffffff"
        style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        .
    </td>
</tr>


<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: 2 COLUMN STACKING WIDE TEXT LEFT -->
<tr>
    <td class="detailitem" bgcolor="#ffffff" style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
            <tr>
                <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <!-- RIGHT -->
                    <table class="wide" width="300" align="right" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                           border="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <tr>
                            <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <!-- IMAGE -->
                                <table class="wide" align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                                       border="0"
                                       style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                                    <tr>
                                        <td background="{{ baseImagePath }}{{ detail_item_02.background }}"
                                            style="-webkit-text-size-adjust: none;background-size: 100% 100%;background-repeat: no-repeat;background-position: center;text-rendering: optimizelegibility;">
                                            <a href="{{ baseHref }}{{ detail_item_02.target }}" style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                                <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                                <img class="respImgSwitch"
                                                     src="{{ baseImagePath }}{{ detail_item_02.image }}"
                                                     alt="new colors" hspace="0" vspace="0"
                                                     style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                                     border="0">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /IMAGE -->
                            </td>
                        </tr>
                    </table>
                    <!-- /RIGHT -->
                    <!-- LEFT -->
                    <table class="wide" width="280" align="left" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                           border="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <tr>
                            <td class="left-desc"
                                style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <!-- IMAGE -->
                                <table class="centered" align="center" bgcolor="#ffffff" cellpadding="0"
                                       cellspacing="0" border="0"
                                       style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                                    <!-- PRODUCT NAME -->
                                    <tr>
                                        <td class="mob-hide" height="70" bgcolor="#ffffff"
                                            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                            .
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="prod" align="left"
                                            style="font-size: 14pt;line-height: 17pt;color: #000000;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                            <a class="prod"
                                               style="font-size: 14pt;line-height: 17pt;color: #000000;text-decoration: none;font-weight: 600;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                               href="{{ baseHref }}{{ detail_item_02.target }}">{{ detail_item_02.title }}</a>
                                        </td>
                                    </tr>
                                    <!-- /PRODUCT NAME -->
                                    <!-- DESCRIPTION -->
                                    <tr>
                                        <td height="10" bgcolor="#ffffff"
                                            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">{{ detail_item_02.text }}</td>
                                    </tr>
                                    <tr>
                                        <td class="centered" align="left"
                                            style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                            <a class="detailtext" style="font-size: 11pt;line-height: 16pt;color: #666666;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                               href="{{ baseHref }}{{ detail_item_02.target }}">{{ detail_item_02.text }}</a>
                                        </td>
                                    </tr>
                                    <!-- /DESCRIPTION -->
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- /LEFT -->
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- END MODULE: 2 COLUMN STACKING WIDE TEXT LEFT -->
<!-- ********************************************************************************************************* -->

<tr>
    <td class="mob-hide" height="40" bgcolor="#ffffff"
        style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        .
    </td>
</tr>

<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: 2 COLUMN STACKING WIDE TEXT RIGHT -->
<tr>
    <td class="detailitem" bgcolor="#ffffff" style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
            <tr>
                <!-- LEFT -->
                <td valign="top" class="stack"
                    style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <table class="wide" width="280" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                           border="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <!-- IMAGE -->
                        <tr>
                            <td background="{{ baseImagePath }}{{ detail_item_03.background }}"
                                style="-webkit-text-size-adjust: none;background-size: 100% 100%;background-repeat: no-repeat;background-position: center;text-rendering: optimizelegibility;">
                                <a href="{{ baseHref }}{{ detail_item_03.target }}" style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                    <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                    <img class="respImgSwitch"
                                         src="{{ baseImagePath }}{{ detail_item_03.image }}"
                                         alt="more modern fit" hspace="0" vspace="0"
                                         style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                         border="0">
                                </a>
                            </td>
                        </tr>
                        <!-- /IMAGE -->
                        <tr>
                            <td class="mob-hide" height="40" bgcolor="#ffffff"
                                style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                .
                            </td>
                        </tr>
                    </table>
                </td>
                <!-- /LEFT -->
                <!-- RIGHT -->
                <td valign="top" class="stack"
                    style="padding-left: 45px;padding-top: 40px;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <table class="centered" width="250" bgcolor="#ffffff" align="center" cellpadding="0"
                           cellspacing="0" border="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <!-- IMAGE -->
                        <!-- /IMAGE -->
                        <!-- PRODUCT NAME -->
                        <tr>
                            <td class="mob-hide" height="15" bgcolor="#ffffff"
                                style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                .
                            </td>
                        </tr>
                        <tr>
                            <td class="prod" align="left"
                                style="font-size: 14pt;line-height: 17pt;color: #000000;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <a class="prod"
                                   style="font-size: 14pt;line-height: 17pt;color: #000000;text-decoration: none;font-weight: 600;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                   href="{{ baseHref }}{{ detail_item_03.target }}">{{ detail_item_03.title }}</a>
                            </td>
                        </tr>
                        <!-- /PRODUCT NAME -->
                        <!-- DESCRIPTION -->
                        <tr>
                            <td height="10" bgcolor="#ffffff"
                                style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                            </td>
                        </tr>
                        <tr>
                            <td class="centered" align="left"
                                style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <a class="detailtext" style="font-size: 11pt;line-height: 16pt;color: #666666;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                   href="{{ baseHref }}{{ detail_item_03.target }}">{{ detail_item_03.text }}</a>
                            </td>
                        </tr>

                        <!-- /DESCRIPTION -->
                        <tr>
                            <td class="mob-hide" height="20" bgcolor="#ffffff"
                                style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                .
                            </td>
                        </tr>
                        <tr>
                            <td class="mob-hide" height="40" bgcolor="#ffffff"
                                style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                .
                            </td>
                        </tr>
                    </table>
                </td>
                <!-- /RIGHT -->
            </tr>
        </table>
    </td>
</tr>
<!-- END MODULE: 2 COLUMN STACKING WIDE TEXT RIGHT -->
<!-- ********************************************************************************************************* -->

<tr>
    <td class="mob-hide" height="40" bgcolor="#ffffff"
        style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        .
    </td>
</tr>

<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: 2 COLUMN STACKING WIDE TEXT LEFT -->
<tr>
    <td class="detailitem" bgcolor="#ffffff" style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
            <tr>
                <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <!-- RIGHT -->
                    <table class="wide" width="300" align="right" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                           border="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <tr>
                            <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <!-- IMAGE -->
                                <table class="wide" align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                                       border="0"
                                       style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                                    <tr>
                                        <td background="{{ baseImagePath }}{{ detail_item_04.background }}"
                                            style="-webkit-text-size-adjust: none;background-size: 100% 100%;background-repeat: no-repeat;background-position: center;text-rendering: optimizelegibility;">
                                            <a href="{{ baseHref }}{{ detail_item_04.target }}" style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                                <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                                <img class="respImgSwitch"
                                                     src="{{ baseImagePath }}{{ detail_item_04.image }}"
                                                     alt="more graphic wear" hspace="0" vspace="0"
                                                     style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                                     border="0">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /IMAGE -->
                            </td>
                        </tr>
                    </table>
                    <!-- /RIGHT -->
                    <!-- LEFT -->
                    <table class="wide" width="280" align="left" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                           border="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <tr>
                            <td class="left-desc"
                                style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <!-- IMAGE -->
                                <table class="centered" align="center" bgcolor="#ffffff" cellpadding="0"
                                       cellspacing="0" border="0"
                                       style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                                    <!-- PRODUCT NAME -->
                                    <tr>
                                        <td class="mob-hide" height="70" bgcolor="#ffffff"
                                            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                            .
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="prod" align="left"
                                            style="font-size: 14pt;line-height: 17pt;color: #000000;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                            <a class="prod"
                                               style="font-size: 14pt;line-height: 17pt;color: #000000;text-decoration: none;font-weight: 600;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                               href="{{ baseHref }}{{ detail_item_04.target }}">{{ detail_item_04.title }}</a>
                                        </td>
                                    </tr>
                                    <!-- /PRODUCT NAME -->
                                    <!-- DESCRIPTION -->
                                    <tr>
                                        <td height="10" bgcolor="#ffffff"
                                            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                            .
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="centered" align="left"
                                            style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                            <a class="detailtext" style="font-size: 11pt;line-height: 16pt;color: #666666;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                               href="{{ baseHref }}{{ detail_item_04.target }}">{{ detail_item_04.text }}</a>
                                        </td>
                                    </tr>
                                    <!-- /DESCRIPTION -->
                                </table>
                                <!-- /LEFT -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- END MODULE: 2 COLUMN STACKING WIDE TEXT LEFT -->
            <!-- ********************************************************************************************************* -->

            <tr>
                <td class="mob-hide" height="40" bgcolor="#ffffff"
                    style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    .
                </td>
            </tr>


            <!-- ********************************************************************************************************* -->
            <!-- BEGIN MODULE: CTA -->
            <tr>
                <td class="mob-hide" height="40" bgcolor="#ffffff"
                    style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    .
                </td>
            </tr>
            <tr>
                <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                           border="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <tr>
                            <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0"
                                       cellspacing="0"
                                       style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                                    <!-- CTA -->
                                    <tr>
                                        <td align="center"
                                            style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                            <table class="wide" width="100%" border="0" cellspacing="0"
                                                   cellpadding="0"
                                                   style="text-rendering: optimizelegibility;border-collapse: collapse;">
                                                <tr>
                                                    <td align="center"
                                                        style="background-repeat: no-repeat;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;"
                                                        border="0" color="#FFFFFF">
                                                        <a href="{{ baseHref }}{{ button_01.target }}" title="{{ button_01.text }}" style="text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;">
                                                            <table class="cta" align="center" border="1" bordercolor="#6f7073"
                                                                   cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                                                                   style="border-width: 1pt;border-style: solid;border-color: #1695a8;background-color: #1695a8;text-rendering: optimizelegibility;border-collapse: collapse;">
                                                                <tr>
                                                                    <td class="cta" align="middle" valign="middle"
                                                                        height="30" vspace="0" hspace="0" border="0"
                                                                        style="padding-left: 70px;padding-right: 70px;padding-bottom: 8px;padding-top: 8px;white-space: nowrap;font-size: 11pt;line-height: 14pt;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                                                            <span class="cta"
                                                                                  style="font-size: 11pt;line-height: 28px;font-weight: 600;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;color: #ffffff;white-space: nowrap;margin: 0;text-rendering: optimizelegibility;">{{ button_01.text }}</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!-- /CTA -->
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="60" bgcolor="#ffffff"
                    style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    .
                </td>
            </tr>
            <!-- END MODULE: CTA -->
            <!-- ********************************************************************************************************* -->

            <!-- ********************************************************************************************************* -->
            <!-- BEGIN MODULE: COMMON -->
            <tr>
                <td>
                    <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                        <tr>
                            <td>
                                <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                    <!-- IMAGE -->
                                    <tr>
                                        <td width="100%" align="center"  background="{{ baseImagePath }}{{ bottom_promo.background }}" style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;">
                                            <a href="{{ baseHref }}{{ bottom_promo.target }}">
                                                <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                                <img class="respImgSwitch" src="{{ baseImagePath }}{{ bottom_promo.image }}" alt="{{ bottom_promo.alt }}" width="100%" hspace="0" vspace="0" style="display:block;" border="0">
                                            </a>
                                        </td>
                                    </tr>
                                    <!-- /IMAGE -->
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- END MODULE: COMMON -->
            <!-- ********************************************************************************************************* -->




{% include 'includes/footer_standard.twig' %}