{#
/**
* Weekly Choose Your Offer Twig Template
*
* @author Ripen eCommerce
* @package Ripen_MailFoundry
*/
#}
{% include 'includes/header_standard.twig' %}

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td height="20" bgcolor="#ffffff"
            style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.
        </td>
    </tr>
    <tr>
        <td>
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;">
                <tr>
                    <td>
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin:0 auto;">
                            <!-- IMAGE -->
                            <tr>
                                <td width="100%" align="center"
                                    background="{{ baseImagePath }}{{ hero_offer_head.background }}"
                                    style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;">
                                    <a href="{{ baseHref }}{{ hero_offer_head.target }}">
                                        <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                        <img class="respImgSwitch"
                                             src="{{ baseImagePath }}{{ hero_offer_head.image }}"
                                             alt="{{ hero_offer_head.alt }}" width="100%" hspace="0"
                                             vspace="0" style="display:block;" border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /IMAGE -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: 2 COLUMN NON-STACKING -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;">
                <tr>
                    <!-- LEFT -->
                    <td>
                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                            <!-- STATIC IMAGE -->
                            <tr>
                                <td width="100%" align="center"
                                    background="{{ baseImagePath }}{{ hero_offer_01.background }}"
                                    style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;">
                                    <a href="{{ baseHref }}{{ hero_offer_01.target }}">
                                        <img src="{{ baseImagePath }}{{ hero_offer_01.image }}"
                                             alt="{{ hero_offer_01.alt }}" width="100%" hspace="0" vspace="0"
                                             style="display:block;" border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /STATIC IMAGE -->
                        </table>
                    </td>
                    <!-- /LEFT -->
                    <!-- RIGHT -->
                    <td>
                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                            <!-- STATIC IMAGE -->
                            <tr>
                                <td width="100%" align="center"
                                    background="{{ baseImagePath }}{{ hero_offer_02.background }}"
                                    style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;">
                                    <a href="{{ baseHref }}{{ hero_offer_02.target }}">
                                        <img src="{{ baseImagePath }}{{ hero_offer_02.image }}"
                                             alt="{{ hero_offer_02.alt }}" width="100%" hspace="0" vspace="0"
                                             style="display:block;" border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /STATIC IMAGE -->
                        </table>
                    </td>
                    <!-- /RIGHT -->
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" bgcolor="#ffffff"
            style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.
        </td>
    </tr>
    <!-- END MODULE: 2 COLUMN NON-STACKING -->
    <!-- ********************************************************************************************************* -->

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: SUBHEAD -->
    <tr>
        <td>
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;">
                <tr>
                    <td>
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin:0 auto;">
                            <!-- TEXT -->
                            <tr>
                                <td>
                                    <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0"
                                           cellspacing="0" border="0" style="margin: auto;">
                                        <tr>
                                            <td>
                                                <table class="centered" align="center" width="600" bgcolor="#ffffff"
                                                       border="0" cellpadding="0" cellspacing="0" style="margin: auto;">
                                                    <!-- SUBHEAD -->
                                                    <!-- /SUBHEAD -->
                                                    <!-- DESCRIPTION -->
                                                    <tr>
                                                        <td align="center" class="desc"
                                                            style="font-size:12pt; line-height:20pt; color:#666666;  font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                                                            <p style="margin:0px;">{{ middle_copy.text }}</p>
                                                        </td>
                                                    </tr>
                                                    <!-- /DESCRIPTION -->
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- /TEXT -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- END MODULE: SUBHEAD -->
    <!-- ********************************************************************************************************* -->

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td height="60" bgcolor="#ffffff"
            style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.
        </td>
    </tr>
    <tr>
        <td>
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;">
                <tr>
                    <td>
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin:0 auto;">
                            <!-- IMAGE -->
                            <tr>
                                <td width="100%" align="center"
                                    background="{{ baseImagePath }}{{ hero_bottom.background }}"
                                    style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;">
                                    <a href="{{ baseHref }}{{ hero_bottom.target }}">
                                        <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                        <img class="respImgSwitch"
                                             src="{{ baseImagePath }}{{ hero_bottom.background }}"
                                             alt="{{ hero_bottom.alt }}" width="100%" hspace="0"
                                             vspace="0" style="display:block;" border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /IMAGE -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->

{% include 'includes/footer_standard.twig' %}