{#
/**
* Contest Twig Template
*
* @author Ripen eCommerce
* @package Ripen_MailFoundry
*/
#}
{% include 'includes/header_standard.twig' %}


<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: COMMON -->
<tr>
    <td>
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;">
            <tr>
                <td>
                    <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                           style="margin:0 auto;">
                        <!-- IMAGE -->
                        <tr>
                            <td width="100%" align="center" background="{{ baseImagePath }}{{ hero_image_01.background }}" style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;">
                                <a href="{{ hero_01.target }}">
                                    <!-- Responsive image change - To enable: add and specify a backround URL -->
                                    <img src="{{ baseImagePath }}{{ hero_01.image }}"
                                         alt="{{ hero_01.alt }}" width="100%" hspace="0"
                                         vspace="0" style="display:block;" border="0">
                                </a>
                            </td>
                        </tr>
                        <!-- /IMAGE -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- END MODULE: COMMON -->
<!-- ********************************************************************************************************* -->

<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: 1 COLUMN CENTERED -->
<tr>
    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
            <tr>
                <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0"
                           cellspacing="0"
                           style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <!-- SUBHEAD -->
                        <tr>
                            <td align="center" class="subhead"
                                style="font-size: 15pt;line-height: 20pt;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;font-weight: 600;text-transform: uppercase;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <a class="subhead"
                                   style="font-size: 13pt;line-height: 45pt;color:#{{ middle_copy_01.heading_color }};font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;font-weight: 600;text-transform: uppercase;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                   href="{{ middle_copy_01.target }}">{{ middle_copy_01.heading | raw }}</a>
                            </td>
                        </tr>
                        <!-- /SUBHEAD -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- END MODULE: 1 COLUMN CENTERED -->
<!-- ********************************************************************************************************* -->

<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: COMMON -->
<tr>
    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
            <tr>
                <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                           style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <!-- DESCRIPTION -->
                        <tr>
                            <td class="desc" align="center"
                                style="font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                <a class="desc"
                                   style="text-align: center;font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                   href="{{ middle_copy_01.target }}">
                                    {{ middle_copy_01.text | raw }}</a>
                            </td>
                        </tr>
                        <!-- /DESCRIPTION -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>

<!-- END MODULE: COMMON -->
<!-- ********************************************************************************************************* -->
<tr>
    <td height="50" bgcolor="#ffffff"
        style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        .
    </td>
</tr>


<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: COMMON -->
<tr>
    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
        <table class="wide" width="600" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
            <tr>
                <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                    <table class="wide" width="600" align="center" cellpadding="0" cellspacing="0"
                           style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                        <!-- IMAGE -->
                        <tr>
                            <td width="100%" align="center" background="{{ baseImagePath }}{{ cta_01.background }}" style="-webkit-text-size-adjust:none; background-size:auto; background-repeat:no-repeat; background-position:center;">
                                <a href="{{ cta_01.target }}"
                                   style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                    <!-- Responsive image change - To enable: add and specify a backround URL -->
                                    <img src="{{ baseImagePath }}{{ cta_01.image }}"
                                         alt="{{ cta_01.alt }}"
                                         hspace="0" vspace="0"
                                         style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                         border="0">
                                </a>
                            </td>
                        </tr>
                        <!-- /IMAGE -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- END MODULE: COMMON -->
<!-- ********************************************************************************************************* -->


<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: Horizontal Separation -->
<tr>
    <td>
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
               style="margin: auto;">
            <tr>
                <td height="60" bgcolor="#ffffff"
                    style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.
                </td>
            </tr>
        </table>
    </td>
</tr>

<!-- END MODULE: Horizontal Separation -->
<!-- ********************************************************************************************************* -->




{% include 'includes/footer_standard.twig' %}