{#
/**
* Falsh Sale Single Product Twig Template
*
* @author Ripen eCommerce
* @package Ripen_MailFoundry
*/
#}
{% include 'includes/header_standard.twig' %}

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#000000" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#000000" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- IMAGE -->
                            <tr>
                                <td background="{{ baseImagePath }}{{ hero_01.background }}"
                                    width="100%" align="center"
                                    style="-webkit-text-size-adjust: none;background-size: 100% 100%;background-repeat: no-repeat;background-position: center;text-rendering: optimizelegibility;">
                                    <a href="{{ baseHref }}{{ hero_01.target }}"
                                       style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                        <!-- Responsive image change - To enable: add and specify a backround URL -->
                                        <img src="{{ baseImagePath }}{{ hero_01.image }}"
                                             alt="{{ hero_01.alt }}"
                                             width="100%" hspace="0" vspace="0"
                                             style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                             border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /IMAGE -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td height="30" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- DESCRIPTION -->
                            <tr>
                                <td class="desc" align="center"
                                    style="font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <a class="desc"
                                       style="text-align: center;font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                       href="{{ baseHref }}{{ middle_copy_01.target }}">
                                        {{ middle_copy_01.text_01 | raw }}
                                        {% if middle_copy_01.text_02 != '' %}
                                            <br class="rwd-break">
                                            {{ middle_copy_01.text_02 | raw }}
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                            <!-- /DESCRIPTION -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="30" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: CTA -->

    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- CTA -->
                            <tr>
                                <td align="center"
                                    style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <table class="wide" width="100%" border="0" cellspacing="0" cellpadding="0"
                                           style="text-rendering: optimizelegibility;border-collapse: collapse;">
                                        <tr>
                                            <td align="center"
                                                style="background-repeat: no-repeat;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;"
                                                border="0" color="#FFFFFF">
                                                <a href="{{ baseHref }}{{ button_01.target }}"
                                                   title="{{ button_01.text }}"
                                                   style="text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;">
                                                    <table align="center" border="1" bordercolor="#6f7073"
                                                           cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                                                           style="border-width: 2.5px;border-style: solid;border-color: #6f7073;text-rendering: optimizelegibility;border-collapse: collapse;">
                                                        <tr>
                                                            <td class="cta" align="middle" valign="middle" height="30"
                                                                vspace="0" hspace="0" border="0"
                                                                style="padding-left: 40px;padding-right: 40px;padding-top: 10px;padding-bottom: 10px;white-space: nowrap;font-size: 11pt;line-height: 14pt;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                                                    <span class="cta"
                                                                          style="font-size: 11pt;line-height: 28px;font-weight: bold;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;color: #666666;white-space: nowrap;margin: 0;text-rendering: optimizelegibility;">{{ button_01.text }}</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- /CTA -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="60" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- END MODULE: CTA -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- IMAGE -->
                            <tr>
                                <td background="{{ baseImagePath }}{{ hero_02.background }}"
                                    width="100%" align="center"
                                    style="-webkit-text-size-adjust: none;background-size: 100% 100%;background-repeat: no-repeat;background-position: center;text-rendering: optimizelegibility;">
                                    <a href="{{ baseHref }}{{ hero_02.target }}"
                                       style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                        <!-- Responsive image change - To enable: add and specify a backround URL -->
                                        <img src="{{ baseImagePath }}{{ hero_02.background }}"
                                             alt="{{ hero_02.alt }}" width="100%" hspace="0"
                                             vspace="0"
                                             style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                             border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /IMAGE -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->
    <tr>
        <td height="15" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: 1 COLUMN CENTERED -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0"
                               cellspacing="0"
                               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- SUBHEAD -->
                            <tr>
                                <td align="center" class="subhead"
                                    style="font-size: 15pt;line-height: 20pt;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;font-weight: 600;text-transform: uppercase;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <a class="subhead"
                                       style="font-size: 15pt;line-height: 20pt;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;font-weight: 600;text-transform: uppercase;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                       href="{{ baseHref }}{{ middle_copy_02.target }}">
                                        {{ middle_copy_02.heading }}
                                    </a>
                                </td>
                            </tr>
                            <!-- /SUBHEAD -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: 1 COLUMN CENTERED -->
    <!-- ********************************************************************************************************* -->

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- DESCRIPTION -->
                            <tr>
                                <td class="desc" align="center"
                                    style="font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <a class="desc"
                                       style="text-align: center;font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                       href="{{ baseHref }}{{ middle_copy_02.target }}">
                                        {{ middle_copy_02.text | raw }}</a>
                                </td>
                            </tr>
                            <!-- /DESCRIPTION -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->
    <tr>
        <td height="50" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- IMAGE -->
                            <tr>
                                <td background="{{ baseImagePath }}{{ hero_03.background }}"
                                    width="100%" align="center"
                                    style="-webkit-text-size-adjust: none;background-size: 100% 100%;background-repeat: no-repeat;background-position: center;text-rendering: optimizelegibility;">
                                    <a href="{{ baseHref }}{{ hero_03.target }}"
                                       style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                        <!-- Responsive image change - To enable: add and specify a backround URL -->
                                        <img src="{{ baseImagePath }}{{ hero_03.image }}"
                                             alt="{{ hero_03.alt }}" width="100%" hspace="0" vspace="0"
                                             style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                             border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /IMAGE -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->
    <tr>
        <td height="15" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: 1 COLUMN CENTERED -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0"
                               cellspacing="0"
                               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- SUBHEAD -->
                            <tr>
                                <td align="center" class="subhead"
                                    style="font-size: 15pt;line-height: 20pt;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;font-weight: 600;text-transform: uppercase;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <a class="subhead"
                                       style="font-size: 15pt;line-height: 20pt;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;font-weight: 600;text-transform: uppercase;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                       href="{{ baseHref }}{{ middle_copy_03.target }}">
                                        {{ middle_copy_03.heading }}
                                    </a>
                                </td>
                            </tr>
                            <!-- /SUBHEAD -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: 1 COLUMN CENTERED -->
    <!-- ********************************************************************************************************* -->

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- DESCRIPTION -->
                            <tr>
                                <td class="desc" align="center"
                                    style="font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <a class="desc"
                                       style="text-align: center;font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                       href="{{ baseHref }}{{ middle_copy_03.target }}">
                                        {{ middle_copy_03.text | raw }}</a>
                                </td>
                            </tr>
                            <!-- /DESCRIPTION -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->

    <tr>
        <td height="50" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- IMAGE -->
                            <tr>
                                <td background="{{ baseImagePath }}{{ hero_04.background }}"
                                    width="100%" align="center"
                                    style="-webkit-text-size-adjust: none;background-size: 100% 100%;background-repeat: no-repeat;background-position: center;text-rendering: optimizelegibility;">
                                    <a href="{{ baseHref }}{{ hero_04.target }}"
                                       style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                        <!-- Responsive image change - To enable: add and specify a backround URL -->
                                        <img src="{{ baseImagePath }}{{ hero_04.image }}"
                                             alt="{{ hero_04.alt }}" width="100%" hspace="0" vspace="0"
                                             style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                             border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /IMAGE -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->
    <tr>
        <td height="15" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: 1 COLUMN CENTERED -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0"
                               cellspacing="0"
                               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- SUBHEAD -->
                            <tr>
                                <td align="center" class="subhead"
                                    style="font-size: 15pt;line-height: 20pt;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;font-weight: 600;text-transform: uppercase;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <a class="subhead"
                                       style="font-size: 15pt;line-height: 20pt;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;font-weight: 600;text-transform: uppercase;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                       href="{{ baseHref }}{{ middle_copy_04.target }}">
                                        {{ middle_copy_04.heading }}
                                    </a>
                                </td>
                            </tr>
                            <!-- /SUBHEAD -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: 1 COLUMN CENTERED -->
    <!-- ********************************************************************************************************* -->

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- DESCRIPTION -->
                            <tr>
                                <td class="desc" align="center"
                                    style="font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <a class="desc"
                                       style="text-align: center;font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                       href="{{ baseHref }}{{ middle_copy_04.target }}">
                                        {{ middle_copy_04.text | raw }}</a>
                                </td>
                            </tr>
                            <!-- /DESCRIPTION -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- IMAGE -->
                            <tr>
                                <td background="{{ baseImagePath }}{{ hero_05.background }}"
                                    width="100%" align="center"
                                    style="-webkit-text-size-adjust: none;background-size: 100% 100%;background-repeat: no-repeat;background-position: center;text-rendering: optimizelegibility;">
                                    <a href="{{ baseHref }}{{ hero_05.target }}"
                                       style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                        <!-- Responsive image change - To enable: add and specify a backround URL -->
                                        <img src="{{ baseImagePath }}{{ hero_05.image }}"
                                             alt="{{ hero_05.alt }}" width="100%" hspace="0" vspace="0"
                                             style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                             border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /IMAGE -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->
    <tr>
        <td height="15" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: 1 COLUMN CENTERED -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0"
                               cellspacing="0"
                               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- SUBHEAD -->
                            <tr>
                                <td align="center" class="subhead"
                                    style="font-size: 15pt;line-height: 20pt;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;font-weight: 600;text-transform: uppercase;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <a class="subhead"
                                       style="font-size: 15pt;line-height: 20pt;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;font-weight: 600;text-transform: uppercase;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                       href="{{ baseHref }}{{ middle_copy_05.target }}">
                                        {{ middle_copy_05.heading }}
                                    </a>
                                </td>
                            </tr>
                            <!-- /SUBHEAD -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: 1 COLUMN CENTERED -->
    <!-- ********************************************************************************************************* -->

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- DESCRIPTION -->
                            <tr>
                                <td class="desc" align="center"
                                    style="font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <a class="desc"
                                       style="text-align: center;font-size: 16px;line-height: 25px;color: #6C6C6C;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;"
                                       href="{{ baseHref }}{{ middle_copy_05.target }}">
                                        {{ middle_copy_05.text | raw }}</a>
                                </td>
                            </tr>
                            <!-- /DESCRIPTION -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: 1 COLUMN CENTERED -->

    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0"
                               cellspacing="0"
                               style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- SUBHEAD -->
                            <tr>
                                <td align="center" class="sig-subhead"
                                    style="font-size: 20px;font-weight: 600;line-height: 29px;color: #727272;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <a href="{{ baseHref }}{{ bottom_heading.target }}"
                                       title="{{ bottom_heading.text }}"
                                       style="font-size: 20px;font-weight: 600;line-height: 29px;color: #727272;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;">
                                        {{ bottom_heading.text | raw }}
                                    </a>
                                </td>
                            </tr>
                            <!-- /SUBHEAD -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="10" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- END MODULE: 1 COLUMN CENTERED -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: CTA -->

    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- CTA -->
                            <tr>
                                <td align="center"
                                    style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                    <table class="wide" width="100%" border="0" cellspacing="0" cellpadding="0"
                                           style="text-rendering: optimizelegibility;border-collapse: collapse;">
                                        <tr>
                                            <td align="center"
                                                style="background-repeat: no-repeat;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;"
                                                border="0" color="#FFFFFF">
                                                <a href="{{ baseHref }}{{ button_02.target }}"
                                                   title="{{ button_02.text }}"
                                                   style="text-decoration: none;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;border: none;">
                                                    <table align="center" border="1" bordercolor="#6f7073"
                                                           cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                                                           style="border-width: 2.5px;border-style: solid;border-color: #6f7073;text-rendering: optimizelegibility;border-collapse: collapse;">
                                                        <tr>
                                                            <td class="cta" align="middle" valign="middle" height="30"
                                                                vspace="0" hspace="0" border="0"
                                                                style="padding-left: 40px;padding-right: 40px;padding-top: 10px;padding-bottom: 10px;white-space: nowrap;font-size: 11pt;line-height: 14pt;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                                                                    <span class="cta"
                                                                          style="font-size: 11pt;line-height: 28px;font-weight: bold;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;color: #666666;white-space: nowrap;margin: 0;text-rendering: optimizelegibility;">{{ button_02.text }}</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- /CTA -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="60" bgcolor="#ffffff"
            style="color: #ffffff;font-size: 1pt;mso-line-height-rule: exact;line-height: 1pt;text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            .
        </td>
    </tr>
    <!-- END MODULE: CTA -->
    <!-- ********************************************************************************************************* -->

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0"
                   style="margin: auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                <tr>
                    <td style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;">
                        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0"
                               style="margin: 0 auto;text-rendering: optimizelegibility;border-collapse: collapse;">
                            <!-- IMAGE -->
                            <tr>
                                <td background="{{ baseImagePath }}{{ hero_bottom.background }}"
                                    width="100%" align="center"
                                    style="-webkit-text-size-adjust: none;text-rendering: optimizelegibility;">
                                    <a href="{{ baseHref }}{{ hero_bottom.target }}"
                                       style="text-rendering: optimizelegibility;-webkit-text-size-adjust: none;text-decoration: none;border: none;">
                                        <!-- Responsive image change - To enable: add and specify a backround URL -->
                                        <img src="{{ baseImagePath }}{{ hero_bottom.image }}"
                                             alt="{{ hero_bottom.alt }}" width="100%" hspace="0"
                                             vspace="0"
                                             style="display: block;text-rendering: optimizelegibility;border: 0px;outline: none;"
                                             border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /IMAGE -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->

{% include 'includes/footer_standard.twig' %}