{#
/**
* Weekly Promotion Double Footer Twig Template
*
* @author Ripen eCommerce
* @package Ripen_MailFoundry
*/
#}
{% include 'includes/header_standard.twig' %}

<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: COMMON -->
<tr>
    <td>
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
            <tr>
                <td>
                    <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                        <!-- IMAGE -->
                        <tr>
                            <td width="100%" align="center"  background="{{ baseImagePath }}{{ hero_image_01.background }}" style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;">
                                <a href="{{ baseHref }}{{ hero_image_01.target }}">
                                    <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                    <img class="respImgSwitch" src="{{ baseImagePath }}{{ hero_image_01.filename }}" alt="{{ hero_image_01.alt }}" width="100%" hspace="0" vspace="0" style="display:block;" border="0">
                                </a>
                            </td>
                        </tr>
                        <!-- /IMAGE -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- END MODULE: COMMON -->
<!-- ********************************************************************************************************* -->

<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: COMMON -->
<tr>
    <td>
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
            <tr>
                <td>
                    <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                        <!-- DESCRIPTION -->
                        <tr>
                            <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                        </tr>
                        <tr>
                            <td align="center" class="desc" style="font-size:11pt; line-height:20pt; color:#666666; padding-left:5%; padding-right:5%; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                                <a class="desc" style="font-size:11pt; line-height:20pt; color:#666666; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;" href="{{ baseHref }}{{ small_text.target }}">{{ small_text.text }}</a>
                            </td>
                        </tr>
                        <!-- /DESCRIPTION -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
</tr>
<!-- END MODULE: COMMON -->
<!-- ********************************************************************************************************* -->


<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: CTA -->

<tr>
    <td>
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
            <tr>
                <td>
                    <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                        <!-- CTA -->
                        <tr>
                            <td align="center">
                                <table class="wide" width="100%" border="0" cellspacing="0" cellpadding="0" >
                                    <tr>
                                        <td align="center" style="background-repeat:no-repeat;" border="0" color="#FFFFFF">
                                            <a href="{{ baseHref }}{{ button_01.target }}" title="Shop Now" style="text-decoration:none;" >
                                                <table align="center" border="1" bordercolor="#6f7073" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border-width:2.5px; border-style:solid; border-color:#6f7073;">
                                                    <tr>
                                                        <td class="cta" align="middle" valign="middle" height="30" vspace="0" hspace="0" border="0" style="padding-left:45px; padding-right:45px; padding-top: 10px; padding-bottom: 10px; white-space:nowrap; font-size:11pt; line-height:14pt; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;">
                                                            <span class="cta" style="font-size:11pt; line-height:28px; font-weight:bold; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; color:#666666; white-space:nowrap; margin:0; text-transform: uppercase;">{{ button_01.text }}</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- /CTA -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="30" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
</tr>
<!-- END MODULE: CTA -->
<!-- ********************************************************************************************************* -->


<tr>
    <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
</tr>



<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: COMMON -->
<tr>
    <td>
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
            <tr>
                <td>
                    <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                        <!-- IMAGE -->
                        <tr>
                            <td width="100%" align="center"  background="{{ baseImagePath }}{{ hero_image_02.background }}" style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;">
                                <a href="{{ baseHref }}{{ hero_image_02.target }}">
                                    <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                    <img class="respImgSwitch" src="{{ baseImagePath }}{{ hero_image_02.filename }}" alt="{{ hero_image_02.alt }}" width="100%" hspace="0" vspace="0" style="display:block;" border="0">
                                </a>
                            </td>
                        </tr>
                        <!-- /IMAGE -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
            <tr>
                <td>
                    <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                        <!-- IMAGE -->
                        <tr>
                            <td width="100%" align="center"  background="{{ baseImagePath }}{{ hero_image_03.background }}" style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;margin-top:10px;display:block;">
                                <a href="{{ baseHref }}{{ hero_image_03.target }}">
                                    <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                    <img class="respImgSwitch" src="{{ baseImagePath }}{{ hero_image_03.filename }}" alt="{{ hero_image_03.alt }}" width="100%" hspace="0" vspace="0" style="display:block;" border="0">
                                </a>
                            </td>
                        </tr>
                        <!-- /IMAGE -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
            <tr>
                <td>
                    <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                        <!-- IMAGE -->
                        <tr>
                            <td width="100%" align="center"  background="{{ baseImagePath }}{{ hero_image_04.background }}" style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;margin-top:10px;display:block;">
                                <a href="{{ baseHref }}{{ hero_image_04.target }}">
                                    <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                    <img class="respImgSwitch" src="{{ baseImagePath }}{{ hero_image_04.filename }}" alt="{{ hero_image_04.alt }}" width="100%" hspace="0" vspace="0" style="display:block;" border="0">
                                </a>
                            </td>
                        </tr>
                        <!-- /IMAGE -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- END MODULE: COMMON -->
<!-- ********************************************************************************************************* -->

{% include 'includes/footer_standard.twig' %}