/**
 * Mail Foundry Main CSS
 *
 * @author Ripen eCommerce
 * @package Ripen_MailFoundry
 */

#mailfoundry-container .message.error {
    margin: 0 10px;
    font-size: 13px;
    font-weight: 400 !important;
    font-style: italic;
}

#mailfoundry-container ::placeholder {
    color: #ddd;
    font-style: italic;
}
#mailfoundry-container button:disabled {
    background: #ccc !important;
    border-color: #999;
    color: #eee;
    cursor: default;
}

#campaign-panels {
    display: flex;
}

#mailfoundry-header {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #eee;
    margin: 0 5px 5px 5px;
}

#mailfoundry-header .mailfoundry-email-icon {
    position: absolute;
    width: 80px;
    right: 10px;
    top: 0;
}
#upload-pane {
    background-color: #eee;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    position: relative;
    flex-grow: 1;
}

#upload-pane h3{
    font-size: 20px;
}
#upload-pane select{
    height: 25px;
    font-size: 14px;
    padding: 0 5px;
}

#upload-pane input {
    height: 20px;
    font-size: 14px;
    padding: 0 5px;
    width: 150px;
}

#upload-pane .yml-inputs legend {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-indent: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    visibility: visible;
}

#upload-pane .yml-inputs input[type="text"] {
    width: 500px;
}

#saving-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#saving-overlay .shade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .8;
    background-color: #fff;
}
#saving-overlay .content {
    position: absolute;
    margin: 150px auto 0 auto;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    width: 460px;
    height: 200px;
    padding: 30px 20px 20px 15px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 20px #ddd;
}

#saving-overlay .content h5 {
    display: block;
    font-size: 16px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0 15px 0;
}

.field-set {
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.field-item {
    margin: 10px 0;
}
.field-item label {
    display: block;
    float: left;
    text-align: right;
    width: 100px;
    margin: 0 15px;
    font-size: 14px;
    line-height: 25px;
}

label[for="new-campaign"] {
    display: none;
}

textarea#yml-data {
    width: 750px;
    height: 300px;
    font-family: 'courier';
    font-size: 14px;
    line-height: 22px;
    padding: 8px;
}

.upload-status-message {
    height: 35px;
    margin: 2px 0 12px 0;
    line-height: 35px;
    font-size: 16px;
    font-weight: 600;
    text-indent: 35px;
}

input#asset-file {
    font-size: 14px;
    width: 250px;
}

button#generation-email-submit {
    font-size: 14px;
    padding: 5px 12px;
    margin: 0 0 0 130px;
}

#file-pane {
    display: flex;
    flex-grow: 1;
}

.pane-heading {
    display: flex;
}

.pane-heading .title,
.pane-heading .controls {
    flex-grow: 1;
}

.pane-heading h3 {
    font-size: 18px;
    overflow: hidden;
}

.controls button {
    float: right;
    margin: 5px 0 5px 5px;
}

.filesystem,
.pane-heading,
.file-list,
.file-item {
    margin: 5px;
}

.filesystem {
    flex-grow: 1;
    width: 40%;
    background-color: #eee;
    border: 1px solid #ccc;
}

.file-list {
    background-color: #fff;
    max-height: 500px;
    overflow: scroll;
    border: 1px solid #ddd;
}

.file-item div {
    flex-grow: 1;
    padding: 5px;
    line-height: 25px;
    width: 100px;
}


.file-item {
    display: flex;
    border-bottom: 1px solid #e9e9e9;
}

.file-item.html {
    background-color: #def9ea;
}

.file-item .name {
    position: relative;
    word-wrap: break-word;
}

.file-item.jpg .name,
.file-item.gif .name,
.file-item.png .name {
    padding: 0;
    background-size: cover !important;
    width: 110px;
}

.file-item.jpg .name span,
.file-item.gif .name span,
.file-item.png .name span {
    color: #000;
    background: #e9e9e9;
    position: absolute;
    bottom: 0;
    line-height: 12px;
    left: 0;
    right: 0;
    padding: 4px 2px;
    border:1px solid #ccc;
}

.file-item .ext-type span {
    font-weight: 600;
    margin: 0 10px;
}

.saved-as-message {
    display: inline-block;
    height: 18px;
    font-size: 15px;
    font-style: italic;
    background-color: #ccc;
    padding: 2px 10px;
    border: 1px solid #fff;
}