<?php
/**
 * @var $this Mage_Checkout_Block_Cart_Item_Renderer
 */
?>
<?php
$_item = $this->getItem();
$setting = Mage::helper('em0080settings');
$w = $setting->getImageShoppingCart_Width(100);
$h = $setting->getImageShoppingCart_Height(100);
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
$embroideryHelper = Mage::helper('embroidery');
// TODO :: Uncomment if this is to be used after the A - B testing. It is supposed to get the item subtotal minus embroidery subtotals.
$baseUnitPrice = ($_item->getProduct()->hasEmbroidery()) ? $embroideryHelper->getPriceWithoutEmbroidery($_item->getPrice(), $_item->getEmbroideryData()) : $_item->getPrice();
$fullUnitPrice = $_item->getPrice();
$children = $_item->getChildren();

?>


<!-- new code -->
<div id="shopcart-item-<?php echo $_item->getId(); ?>" class="shopcart-item-container shop-item-compact clearfix">
    <!-- PRODUCT IMAGE -->
    <div class="shopcart-col shopcart-col-image">
        <?php
        $typeId = $_item->getProduct()->getTypeId();
        /****** By Astrio *****/
        $image_product = $_item->getProduct();

        if ($_item->getProduct()->isConfigurable()) {
            $eavConfig = Mage::getSingleton('eav/config');
            $productTypeConfigurable = Mage::getModel('catalog/product_type_configurable');
            $productTypeConfigurable->setProduct($_item->getProduct());
            $configurableSimpleCollection = $productTypeConfigurable->getUsedProductCollection()->addFilterByRequiredOptions();
            $option = $_item->getOptionByCode('attributes');

            if ($option instanceof Mage_Sales_Model_Quote_Item_Option) {
                if ($configurableAttributes = $option->getValue()) {
                    $configurableAttributes = unserialize($configurableAttributes);
                    foreach ($configurableAttributes as $attributeId => $optionId) {
                        $configurableSimpleCollection->addAttributeToFilter($attributeId, $optionId);
                    }

                    $configurableSimpleCollection->addAttributeToSelect(array('image', 'thumbnail', 'small_image'));

                    $configurableSimpleCollection->setPageSize(1);
                    if ($configurableSimpleCollection->count()) {
                        $image_product = $configurableSimpleCollection->getFirstItem();
                    }
                }
            }
        }
        ?>

        <?php if ($typeId != "aw_giftcard"): ?>
            <div class="image-product shopcart-item-image">
                <?php if ($this->hasProductUrl()): ?>
                    <a href="<?php echo $this->getProductUrl() ?>"
                       title="<?php echo $this->escapeHtml($this->getProductName()) ?>" class="product-image"><img
                            src="<?php if ($typeId != "configurable") {
                                echo $this->getProductThumbnail()->resize($w, $h)->setWatermarkSize('30x10');
                            } else {
                                echo Mage::helper('catalog/image')->init($image_product, 'small_image')->resize($w, $h)->setWatermarkSize('30x10');
                            } ?>" width="<?php echo $w ?>"
                            alt="<?php echo $this->escapeHtml($this->getProductName()) ?>"/></a>
                <?php endif; ?>
            </div>
        <?php else: ?>
            <div class="image-product shopcart-item-image">
                <?php if ($this->hasProductUrl()): ?>
                <a href="<?php echo $this->getProductUrl() ?>"
                   title="<?php echo $this->escapeHtml($this->getProductName()) ?>" class="product-image gift-card">
                    <?php endif; ?>
                    <img
                        src="<?php echo $_item->getIsVirtual() ? $this->getProductThumbnail() : $_item->getBuyRequest()->getGiftcardDesign(); ?>"
                        width="<?php echo $w ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>"/>
                    <?php if ($this->hasProductUrl()): ?>
                </a>
            <?php endif; ?>
            </div>
        <?php endif; ?>
    </div><!-- /PRODUCT IMAGE -->

    <!-- ITEM INFO CONTAINER -->
    <div class="shopcart-cols-container">
        <div class="shopcart-col shopcart-col-item">
            <div class="shopcart-item-price base-unit-price">
                <span class="cart-price cart-item-price" id="cart-item-price-<?php echo $_item->getId();?>">
                    <span class="price">
                        <?php if ($fullUnitPrice > 0):?>
                        <?php echo Mage::helper('core')->currency($fullUnitPrice, true, false);?>
                        <?php else:?>
                        <span class="addFreeProdRuleQtyCart">FREE</span>
                        <?php endif;?>
                    </span>
                </span>
            </div>
            <div class="shopcart-col-item-main">
                <div class="<?php echo ($typeId == "aw_giftcard") ? "product-name-giftcard" : "product-name"; ?> extra-accent-text">
                    <?php if ($this->hasProductUrl()): ?>
                        <a href="<?php echo $this->getProductUrl() ?>"><?php echo $this->escapeHtml($this->getProductName()) ?></a>
                    <?php else: ?>
                        <?php echo $this->escapeHtml($this->getProductName()) ?>
                    <?php endif; ?>
                </div>

                <div class="product-sku accent-text">
                    <?php
                    $children = $_item->getChildren();
                    $simpleItem = ($_item->getProductType() == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE) ? reset($children) : $_item;

                    if ($typeId != "aw_giftcard"){
                        echo "#" . $_item->getProduct()->getData('model');
                    }
                    ?>
                </div>

                <?php
                if($_item->getProduct()->getCustomOption('info_buyRequest')){
                    $infoBuyRequestValue = $_item->getProduct()->getCustomOption('info_buyRequest')->getValue();
                    $optionArray = unserialize($infoBuyRequestValue);
                    $superAttributes = $optionArray["super_attribute"];
                    foreach((array) $superAttributes as $superAttribute => $superValue) {
                        $attr = Mage::getModel('catalog/resource_eav_attribute')->load($superAttribute);
                        echo "<div>".ucwords($attr->getFrontend()->getLabel()).": <span class='cart-item-attribute'>". $attr->getSource()->getOptionText($superValue)."</span></div>";
                    }
                }
                ?>

                <?php if ($typeId != "aw_giftcard") : ?>
                <div id="cart-stock-status-<?php echo $_item->getId() ?>" class="cart-stock-status">
                    <?php echo $this->getLayout()->createBlock('core/template')->setData('orderItem', $this)->setData('itemProduct', $image_product)->setTemplate('ripen/bettercheckout/cart/item/stockstatus-verbose.phtml')->toHtml(); ?>
                </div>
                <?php endif; ?>

                <?php $addInfoBlock = $this->getProductAdditionalInformationBlock(); ?>

                <?php if ($addInfoBlock): ?>
                    <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif; ?>

                <?php
                // check for free product promo
                $afptcDiscount = $_item->getProduct()->getCustomOption('aw_afptc_discount');
                if ($afptcDiscount) {
                    $promoDesc = $_item->getProduct()->getCustomOption('aw_afptc_description')->getValue();
                    echo("<div class='addFreeProdRuleDescCart'><span>" . $promoDesc . "</span></div>");
                }
                ?>

                <?php if ($isVisibleProduct): ?>

                <ul class="shopcart-action-links">

                <?php if (!$afptcDiscount) : ?>
                <li>
                    <a onclick="createSidebarEdit('<?php echo $this->getConfigureUrl() ?>')" title="<?php echo $this->__('Edit Item') ?>"><?php echo $this->__('Edit Item') ?></a>
                </li>
                <?php endif; ?>
                <li>
                    <a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove Item') ?>"><?php echo $this->__('Remove Item') ?></a>
                </li>
                <?php if (!$afptcDiscount && Mage::helper('shoppinglist')->isActive() && Mage::helper('shoppinglist')->isShowSaveForLater()) : ?>
                    <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                        <li class="saveLaterLink" title="<?php echo $this->__('Save for later'); ?>">
                            <a onclick="addToShoppinglist(this, '<?php echo $this->getQty(); ?>');"><?php echo $this->__('Save for Later') ?></a>
                        </li>
                    <?php else: ?>
                    <li class="saveLaterLink" title="<?php echo $this->__('Click to sign in and save item'); ?>">
                        <a onclick="createSidebarSignin(this, '<?php echo $this->getUrl('customer/account/login?redirect=shoppinglist/index/additem/item_id/' . $_item->getId() . '/qty/' . $this->getQty() . '/sort_order/0/'); ?>');"><?php echo $this->__('Save for Later') ?></a>
                    </li>
                    <?php endif; ?>
                <?php endif; ?>
            </ul>

            <!-- New Embroidery -->
            <?php if(!$afptcDiscount && $_item->getProduct()->hasEmbroidery()): ?>
                <div id="bind-embroidery-<?php echo $_item->getId();?>" class="shopcart-col bind-embroidery-cart">
                    <!--pre data-bind="text: ko.toJSON($data.isDataSaved(), null, 4)"></pre-->
                    <input type="hidden" id="product-embroidery-options-<?php echo $_item->getId(); ?>" name="product-embroidery-options" value="">
                    <input type="hidden" id="product-id-<?php echo $_item->getId(); ?>" value="<?php echo $this->getProduct()->getId(); ?>">

                    <?php
                    $block = $this->getLayout()
                        ->createBlock('embroidery/embroidery','embroidery',
                            array('template' => 'ripen/embroidery/embroidery.phtml'));

                    $block->setProductId($_item->getProduct()->getId());
                    $block->setQuoteItemId($_item->getId());
                    echo $block->setBlockId('embroidery')->toHtml();
                    ?>

                    <div id="cart-item-embroidery">
                        <span data-bind="if: !$root.isEmbroiderySetForProduct()">
                            <span class="embroidery-label">Embroidery:</span>
                                <span class="open-cart-embroidery cart-item-attribute" id="addEmbroidery-<?php echo $_item->getProduct()->getId();?>-<?php echo $_item->getId();?>" data-bind="click: function(){ $root.loadTypes(); $root.isOpen(true)}">Add Your Name or Logo</span>
                            </span>
                        <span data-bind="if: $root.isEmbroiderySetForProduct()">
                        <div class="embroidery-label-details">
                            Applied Embroidery: <span class="vwo-variant1-hide cart-embroidery-control"><span class="open-cart-embroidery cart-item-attribute" id="previewEmbroidery-<?php echo $_item->getProduct()->getId();?>-<?php echo $_item->getId();?>" data-bind="click: function(){$root.loadSummary(); $root.isOpen(true)}">Edit</span><span class="remove-cart-embroidery cart-item-attribute" id="removeEmbroidery-<?php echo $_item->getProduct()->getId();?>-<?php echo $_item->getId();?>" data-bind="if: $root.isEmbroiderySetForProduct(), click: function(){$root.removeEmbroidery()}">Remove All</span></span>

                            <div class="vwo-variant1-show embroidery-details-toggle open-cart-embroidery-abtest-hide" data-embroidery-details-id="<?php echo $_item->getId(); ?>">
                                Details
                                <div class="expand-contract-caret">&#8963;</div>
                            </div>
                        </div>

                            <?php
                            $embroideryData = $_item->getEmbroideryData();
                            $embroideryOptionsSubtotals = Mage::helper('embroidery')->getEmbroideryOptionsSubtotals($embroideryData);
                            ?>
                        <div id="embroidery-details-<?php echo $_item->getId();?>" class="vwo-variant1-show embroidery-details-container open-cart-embroidery-abtest-hide">
                            <?php if (count($embroideryOptionsSubtotals)) : ?>
                            <dl class="vwo-variant1-show cart-embroidery-options-subtotals open-cart-embroidery-abtest-hide">
                                <dt class="emb-unit-price-label">Product Price</dt>
                                <dd class="emb-unit-price"><?php echo Mage::helper('core')->currency($baseUnitPrice, true, false); ?></dd>
                                <?php foreach ($embroideryOptionsSubtotals as $subTotalName => $subTotalOption ) : ?>
                                    <?php if ($subTotalOption['price']) : ?>
                                        <dt><?php echo $subTotalOption['label']; ?></dt>
                                        <dd><?php echo Mage::helper('core')->currency($subTotalOption['price'], true, false); ?></dd>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </dl>
                            <?php endif; ?>

                            <span class="vwo-variant1-show cart-embroidery-control open-cart-embroidery-abtest-hide">
                                <span class="vwo-variant1-show open-cart-embroidery cart-item-attribute" id="previewEmbroidery-<?php echo $_item->getProduct()->getId();?>-<?php echo $_item->getId();?>" data-bind="click: function(){$root.loadSummary(); $root.isOpen(true)}">Edit Embroidery</span><span class="remove-cart-embroidery cart-item-attribute" id="removeEmbroidery-<?php echo $_item->getProduct()->getId();?>-<?php echo $_item->getId();?>" data-bind="if: $root.isEmbroiderySetForProduct(), click: function(){$root.removeEmbroidery()}">Remove All</span>
                            </span>
                                <div class="cart-embroidery-message" id="cart-embroidery-message-<?php echo $_item->getId(); ?>" data-bind="if: $root.isEmbroiderySetForProduct(), style: {display: $root.isEmbroiderySetForProduct() == true ? 'block' : 'none'}"><?php echo $this->helper('embroidery')->getEmbroideryDisclaimer($_item->hasEmbroiderySaved(), $_item->hasLogoEmbroideryWithoutSetup()); ?></div>
                            </span>
                        </div>
                    </div>

                </div>

            <?php endif; ?>

        </div>
        <!-- /ITEM DETAILS COL -->
        <?php endif; ?>
    </div>
    <!-- UNIT PRICE COL -->
    <div class="shopcart-col shopcart-col-price">

    </div>
    <!-- /UNIT PRICE COL -->

    <!-- QTY COL -->
    <div class="shopcart-col shopcart-col-qty">

        <div class="shopcart-item-qty">


            <?php $cap = 10; ?>

            <input class="cart-qty-cap" type="hidden" id="cart-<?php echo $_item->getId() ?>-qty-cap" value="<?php echo $cap;?>">

            <?php if ($afptcDiscount): ?>
                <div class="cart-item-qty-input" style='display:none' disabled='disabled' id="cart-<?php echo $_item->getId() ?>-item-qty-input">
                    <span class='qtymin no-select'>-</span>
                    <input type="tel" name="cart[<?php echo $_item->getId() ?>][qty]"  id="cart-<?php echo $_item->getId() ?>-qty" value="<?php echo $this->getQty() ?>" maxlength="4" pattern="[0-9]*" title="<?php echo $this->__('Qty') ?>" class="qty-val input-text qty" onclick="this.select();"/>
                    <span class='qtyplus no-select'>+</span>
                </div>
            <?php else: ?>
                <div class="cart-item-qty-input" id="cart-<?php echo $_item->getId() ?>-item-qty-input">
                    <span class='qtymin no-select'>-</span>
                    <input type="tel" name="cart[<?php echo $_item->getId() ?>][qty]"  id="cart-<?php echo $_item->getId() ?>-qty" value="<?php echo $this->getQty() ?>" maxlength="4" pattern="[0-9]*" title="<?php echo $this->__('Qty') ?>" class="qty-val input-text qty" onclick="this.select();"/>
                    <span class='qtyplus no-select'>+</span>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <!-- /QTY COL -->

    <!-- SUBTOTAL -->
    <div class="shopcart-col shopcart-col-subtotal">
        <?php if (($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()) && !$_item->getNoSubtotal()): ?>
            <div class="shopcart-item-totals">
                <?php if ($afptcDiscount && $afptcDiscount->getValue() == 100): ?>

                    <div class="addFreeProdRuleQtyCart">FREE</div>

                <?php else: ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                            <?php else: ?>
                    <span class="cart-price cart-item-total-price" id="cart-item-total-price-<?php echo $_item->getId(); ?>">
                            <?php endif; ?>

                        <?php if ($canApplyMsrp): ?>
                            <span class="cart-msrp-subtotal">--</span>
                        <?php else: ?>
                            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal() + $_item->getWeeeTaxAppliedRowAmount() + $_item->getWeeeTaxRowDisposition()); ?>
                            <?php else: ?>
                                <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
                            <?php endif; ?>
                        <?php endif; ?>
                            </span>

                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                        <div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>"
                             style="display:none;">
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span>
                                    <?php endforeach; ?>
                                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span>
                                    <?php endforeach; ?>
                                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>

                            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                            <div class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                    <span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>
                                        : <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal() + $_item->getWeeeTaxAppliedRowAmount() + $_item->getWeeeTaxRowDisposition()); ?></span>
                                </div>
                            <?php endif; ?>
                    <?php endif; ?>
                    <?php endif; ?>
            </div>
        <?php endif; ?>
        </div><!-- /SUBTOTAL -->
    </div>
</div>
