<?php
$_item = $this->getItem();
$setting = Mage::helper('em0080settings');
$w = $setting->getImageShoppingCart_Width(100);
$observer = Mage::getModel('embroidery/observer');
?>
<div id="shopcart-item-<?php echo $itemId; ?>" class="shopcart-item-container logo-cart-item-container clearfix">

    <div class="shopcart-col shopcart-col-image">
        <div class="image-product shopcart-item-image">
            <img src="<?php echo $_item->getAdditionalData(); ?>" width="<?php echo $w; ?>"/>
        </div>
    </div>
    <div class="shopcart-cols-container">
        <div class="shopcart-col shopcart-col-item">
            <div class="shopcart-item-price base-unit-price">
                <span class="cart-price cart-item-price"  id="cart-item-price-<?php echo $_item->getId(); ?>">
                    <?php echo $_item->getRowTotal() ? $this->helper('checkout')->formatPrice($_item->getRowTotal()) : "FREE";?>
                </span>
            </div>
            <div class="product-name extra-accent-text">
                <?php echo $this->escapeHtml($this->getProductName()) ?>

                <div id="info-tooltip-icon-<?php echo $_item->getId(); ?>"
                     class="info-tooltip-icon info-tooltip-icon-after-line-text info-tooltip-icon-abtest-hide"
                     data-tooltip-id="<?php echo $_item->getId(); ?>">i</div>

                <div class="setup-promo-message"><?php if ($_item->getRowTotal()) echo "FREE setup on orders $" . $observer::FREE_SETUP_TOTAL ."+";?></div>
                <div id="bind-embroidery-cart-logo-<?php echo $_item->getId();?>" class="shopcart-col bind-embroidery-cart-filter"
                     data-setup-quote-item-id="<?php echo $_item->getId();?>">
                    <span class="open-cart-embroidery filter-embroidery-open-alert cart-item-attribute open-cart-embroidery-abtest-hide"><?php echo $this->__('Remove Logo') ?></span>
                    <div class="alert-wrap filter-embroidery-alert-wrap" style="display:none;">
                        <div id="filter-embroidery-alert-<?php echo $_item->getId();?>">
                            <div class="si-alert-msg">Removing fee will affect all products with this custom logo applied.<br /><br />Are you sure you want to proceed?</div>
                            <div class="si-alert-actions">
                                <div><button class="btn-tall btn-wide btn-blue confirm-btn">Yes, Remove</button></div>
                                <div><button class="btn-tall btn-wide btn-white cancel-btn">No, Keep It</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shopcart-col shopcart-col-price">
        </div>
        <div class="shopcart-col shopcart-col-qty">
            <div class="shopcart-item-qty">
                <input type="hidden" name="cart[<?php echo $_item->getId(); ?>][qty]" id="cart-<?php echo $_item->getId(); ?>-qty" value="1">
            </div>
        </div>
        <div class="shopcart-col shopcart-col-subtotal">
            <div class="shopcart-item-price">
                <span class="cart-price cart-item-total-price" id="cart-item-total-price-<?php echo $_item->getId(); ?>">
                    <?php echo $_item->getRowTotal() ? $this->helper('checkout')->formatPrice($_item->getRowTotal()) : "FREE";?>
                </span>
            </div>
        </div>
    </div>
    <div id="info-tooltip-content-<?php echo $_item->getId(); ?>" class="info-tooltip-content">
        <span class="info-tooltip-close-content"></span>
        <p>
            <strong>Pricing Details: </strong> Each logo uploaded for custom embroidery requires:
        </p>
        <p>
            <strong>- One-time logo setup (approx. $95)</strong><br/>
            <strong>- Application fee (approx. $8.95) for each</strong>
        </p>
        <p>
            On orders of $<?php echo $observer::FREE_SETUP_TOTAL; ?> or more, your setup fee is waived, but application fees still apply. An embroidery expert will contact you to provide final pricing.
        </p>
    </div>
</div>
