<?php
$request = $this->getRequest();
$module = $request->getModuleName();
$controller = $request->getControllerName();
$action = $request->getActionName();
$pageType = ($module == 'checkout' && $controller == 'cart' && $action == 'index') ? 'Cart' : 'Order';
$orderItem = $this->getData('orderItem');
$item = $orderItem->getItem();
$product = $this->getData('itemProduct');
$stockItem = Mage::getModel('cataloginventory/stock_item')->loadByProduct($product);
$statusText = Mage::helper('amstockstatus')->getCustomStockStatusText($product);
$skuModel = $product->getSku();
$totalProdQtyRequested = $orderItem->getQty();
$itemProductId = $item->getProduct()->getId();
$cartItems = Mage::getSingleton('checkout/session')->getQuote()->getAllVisibleItems();
$itemOption = $item->getOptionByCode('simple_product');

if ($itemOption != null) {
    $itemProductId = $itemOption->getProduct()->getId();
}

foreach($cartItems as $cartItem) {
    if($cartItem->getId() != $item->getId()) {
        $cartProductId = $cartItem->getProduct()->getId();
        $cartItemOption = $cartItem->getOptionByCode('simple_product');

        if ($cartItemOption != null) {
            $cartProductId = $cartItemOption->getProduct()->getId();
        }

        if ($cartProductId == $itemProductId) {
            $totalProdQtyRequested += $cartItem->getQty();
        }
    }
}

$displayStatusText = $statusText;
switch ($statusText) {
    case 'Ships in approximately 7-10 days.':
    case 'Ships in approx. 7-10 days.':
        $displayStatusText = 'Available in about 7 - 10 days.';
        break;
    case 'Ships in approximately 8 weeks.':
    case 'Ships in approx. 8 weeks.':
        $displayStatusText = 'Available in about 8 weeks.';
        break;
    case 'Ships in approximately 7 weeks.':
    case 'Ships in approx. 7 weeks.':
        $displayStatusText = 'Available in about 7 weeks.';
        break;
    case 'Ships in approximately 6 weeks.':
    case 'Ships in approx. 6 weeks.':
        $displayStatusText = 'Available in about 6 weeks.';
        break;
    case 'Ships in approximately 5 weeks.':
    case 'Ships in approx. 5 weeks.':
        $displayStatusText = 'Available in about 5 weeks.';
        break;
    case 'Ships in approximately 4 weeks.':
    case 'Ships in approx. 4 weeks.':
        $displayStatusText = 'Available in about 4 weeks.';
        break;
    case 'Ships in approximately 3 weeks.':
    case 'Ships in approx. 3 weeks.':
        $displayStatusText = 'Available in about 3 weeks.';
        break;
    case 'Ships in approximately 2 weeks.':
    case 'Ships in approx. 2 weeks.':
        $displayStatusText = 'Available in about 2 weeks.';
        break;
    case 'Expected to ship within 5 business days.':
        $displayStatusText = 'Available in about 5 business days.';
        break;
}

$outOfStockMessageShown = false;
if ($totalProdQtyRequested > $stockItem->getData('qty') && $stockItem->getData('qty') > 0) {
    $outOfStockMessageShown = true;
    $displayStatusText = rtrim($displayStatusText, '.');
    ?>
    <div class="cart-stock-status out-stock">
        <?php echo "{$displayStatusText} for your order of {$totalProdQtyRequested}. To ship today, order ". round($stockItem->getData('qty'))  ." or less."; ?></div>
    <?php

} else if ($totalProdQtyRequested > $stockItem->getData('qty') && $stockItem->getData('qty') <= 0) {
    $outOfStockMessageShown = true;
    if (strpos(strtolower($displayStatusText), 'in stock') === false) { ?>
        <div class="cart-stock-status out-stock">Out of stock</div>
        <div class="cart-stock-status-msg"><?php echo $displayStatusText; ?></div>
        <?php
    }
}

$trackingStatusText = ($outOfStockMessageShown) ? $statusText : 'In Stock';
?>
<script type="text/javascript">
    _gaq.push(['_trackEvent', 'stock status', '<?php echo $pageType; ?> - <?php echo $trackingStatusText; ?>', '<?php echo $skuModel; ?>']);
</script>
