<?php
$request = $this->getRequest();
$module = $request->getModuleName();
$controller = $request->getControllerName();
$action = $request->getActionName();
$pageType = ($module == 'checkout' && $controller == 'cart' && $action == 'index') ? 'Cart' : 'Order';
$orderItem = $this->getData('orderItem');
$product = $this->getData('itemProduct');
$item = $orderItem->getItem();
$stockItem = Mage::getModel('cataloginventory/stock_item')->loadByProduct($product);
$statusText = Mage::helper('amstockstatus')->getCustomStockStatusText($product);
$displayStatusText = ucfirst($statusText);
$skuModel = $product->getSku();
$totalProdQtyRequested = $orderItem->getQty();
$itemProductId = $item->getProduct()->getId();
$cartItems = Mage::getSingleton('checkout/session')->getQuote()->getAllVisibleItems();
$itemOption = $item->getOptionByCode('simple_product');

if (!empty($itemOption)) {
    $itemProductId = $itemOption->getProduct()->getId();
}

foreach($cartItems as $cartItem) {
    if($cartItem->getId() != $item->getId()) {
        $cartProductId = $cartItem->getProduct()->getId();
        $cartItemOption = $cartItem->getOptionByCode('simple_product');

        if ($cartItemOption != null) {
            $cartProductId = $cartItemOption->getProduct()->getId();
        }
        
        if ($cartProductId == $itemProductId) {
            $totalProdQtyRequested += $cartItem->getQty();
        }
    }
}

$outOfStockMessageShown = false;
if ($totalProdQtyRequested > $stockItem->getData('qty') && $stockItem->getData('qty') > 0) {
    $outOfStockMessageShown = true;
    $displayStatusText = rtrim($displayStatusText, '.');
    ?>
    <p class="cart-stock-status out-stock">
        <?php echo "{$displayStatusText} for your order of {$totalProdQtyRequested}. To ship today, order ". round($stockItem->getData('qty'))  ." or less."; ?></p>
    <?php

} else if ($totalProdQtyRequested > $stockItem->getData('qty') && $stockItem->getData('qty') <= 0) {
    $outOfStockMessageShown = true;
    if (strpos(strtolower($displayStatusText), 'in stock') === false) { ?>
        <div class="cart-stock-status out-stock">Out of stock. <span class="out-custom-stock-status"><?php echo $displayStatusText; ?> Once in stock, entire order will be shipped.</span></div>
        <?php
    }
}

$trackingStatusText = ($outOfStockMessageShown) ? $statusText : 'In Stock';
?>
<script type="text/javascript">
    _gaq.push(['_trackEvent', 'stock status', '<?php echo $pageType; ?> - <?php echo $trackingStatusText; ?>', '<?php echo $skuModel; ?>']);
</script>
