<?php
$helper = Mage::helper('categorycolors');

$setColorValue = '';
$currentProduct = Mage::registry('current_product');
if($currentProduct->getTypeId() == 'configurable') {
    foreach ($currentProduct->getTypeInstance(true)->getEditableAttributes($product) as $code => $attribute) {
        if ($code == 'default_image_color') {
            $_resource = Mage::getSingleton('catalog/product')->getResource();
            $imageColorValueId = $_resource->getAttributeRawValue($currentProduct->getId(), 'default_image_color', Mage::app()->getStore());
            $defaultColorValue = $attribute->getData('default_value');
            break;
        }
    }
}

?>
<div class="entry-edit custom-options product-custom-options">
    <div id="dynamic-price-warrning" style="display:none">
        <ul class="messages">
            <li class="error-msg">
                <ul>
                    <li><?php echo $this->__('Bundle with dynamic pricing cannot include custom defined options. Options will not be saved') ?></li>
                </ul>
            </li>
        </ul>
    </div>

    <tbody>
    <?php if($currentProduct->getTypeId() == 'configurable') { ?>
        <div class="entry-edit-head">
            <h4><?php echo $this->__('Default Colors');?></h4>
        </div>

        <div id="default_colors_container" class="box">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><label for="image_color"><?php echo "Default Color";?></label></td>
 		            <td class="value">
                        <select id="current_image_color" name="product[current_image_color]" class="select">
		                    <option value="">-</option>
                            <?php
			                    foreach($this->getColors() as $colorId => $color) {
                                    if(! empty($imageColorValueId)) {
                                        $selected = ($colorId == $imageColorValueId) ? "selected" : "";
                                    } else {
                                        $selected = ($color == $defaultColorValue) ? "selected" : "";
                                    }
 			                    ?>
			                    <option value="<?php echo $colorId; ?>" <?php echo $selected; ?>><?php echo $color; ?></option>
			                <?php } ?>
		                </select>
                    </td>
                    <td class="scope-label"><span class="nobr"></span></td>
                </tr>
            </table>
        </div>
    <?php } ?>

    <div class="entry-edit-head">
        <h4><?php echo $this->__('Category Colors');?></h4>
    </div>

    <div id="category_colors_container" class="box">
        <table cellspacing="0" class="form-list">
        <?php foreach($this->getCategories() as $category) { ?>
            <tr>
                <td class="label"><label for="categorycolor_<?php echo $category->getId();?>"><?php echo $category->getName();?></label></td>
                <td class="value">
                    <select id="categorycolor_<?php echo $category->getId();?>" name="product[categorycolor_<?php echo $category->getId();?>]" class="select">
                        <option value="">-</option>
                        <?php
                            foreach($this->getColors() as $colorId => $color) {
                                $selected = ( $colorId == $this->getSelectedColor($category->getId())) ?  "selected" : "";
                            ?>
                            <option value="<?php echo $colorId; ?>" <?php echo $selected; ?>><?php echo $color; ?></option>
                        <?php } ?>
                    </select>
                </td>
                <td class="scope-label"><span class="nobr"></span></td>
            </tr>
        <?php } ?>
        </table>
    </div>

    </tbody>
</div>
