.top-search{margin-top:0px}
.menu-bar{margin-left:0px}
.em-catalog-navigation.horizontal > li > a{padding:5px 3px 4px}
.cookcool-smart{margin:0}
.text-right{margin-right:7px; margin-bottom:7px;}
 .image-left{margin-right:11px}
.column2a .widget{display:inline-block}
.column3a{clear:both}
.scf, .special, .colour{float:none;}
.block-title{font-size:14px;}
.banner_bottom img{width:100%}

.menu-item-depth-3 .widget-static-block div.item{ border: 1px solid #F0F0F0;
    height: 141px;
    margin: 0 7px;
    width: 94px;
}
.menu-item-depth-3 .widget-static-block div.item img{width:100%}
.menu-item-text.menu-item-depth-3 > img{width:100%}

/*category*/
.em_main .products-grid li.item, .em_main .products-mansory li.item{margin:0px}
.breadcrumbs{clear:both;}
.menu-container{margin-bottom:0}
.product-shop .ratings .rating-box {margin-bottom:0}
.block-compare .actions a{width:65px}
.products-list .product-image img{width:100%;}
.products-list .box.center{width:35%}
.products-list .box.right{width:30%}
.products-list li.item a.link-compare{font-size:12px}
/*category*/
/* chef picks */
.grid_24.chefpick {width:700px; overflow:hidden;}
/* chef picks */
/*detail*/
.product-view .product-img-box .more-views{margin:0}
.product-view  .productreview_1_1_1{width:auto !important;}
.product-view .product-collateral-left{float:none;}
.product-view .product-collateral-right{float:none;}
.adapt-1 .one-column .product-view .product-shop-wrapper{width:auto; float:none}
/*.block-subscribe .action{float:none; text-align:left; padding-top:5px; clear:both}*/
.container-new-collection{width:auto}
/*detail*/

.adapt-1 .cart .cart-collaterals .col2-set .col-1,
.adapt-1 .cart .cart-collaterals .col2-set .col-2 { margin-right:0; float:none}
.adapt-1 .cart .cart-collaterals .col2-set .col-2 {width:94%;}
.adapt-1 .cart .cart-collaterals .col2-set .col-1{width:94%}
.checkout-cart-index .cart .cart-collaterals .col2-set .col-1 input.input-text{width:217px;}
.checkout-cart-index .cart .cart-collaterals .col2-set .col-1 input.input-text{width:506px;}
.checkout-cart-index .cart .cart-collaterals .col2-set .col-2 .shipping-form ul.form-list .input-box input.input-text{width:280px;}
.jcarousel-container .products-grid li.item{margin:0px 5px}
.jcarousel-skin-tango .jcarousel-clip-horizontal{margin-left:5px}
.logo-1 img,.logo-2 img{width:100%}
.block-subscribe .block-title strong span{font-size:13px;}
.block-subscribe .block-title{padding:0}
.bottom-footer{padding-top:20px;}


/* Ripen Overrides */

/* Product Detail Template */
