/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

/*.summary{*/
    /*float: left;*/
/*}*/
/*.form-add.clearfix{*/
    /*position: relative;*/
    /*top: 2px;*/
    /*margin-right: 6px;*/
/*}*/
/*#ProductDetail_ProductReviews-Container .ratings {*/
	/*margin-top:0;*/
	/*padding:0 4px 13px 4px;*/
	/*box-sizing: border-box;*/
	/*border-bottom: 1px solid #e2e2e2; */
/*}*/
