/* DESKTOP */
.custom .a-spot-general {
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    background-size: cover;
}

/* BACKGROUNDS DESKTOP */
#acf-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/acf-banner-desk.jpg');background-position:right;background-repeat:no-repeat;}
#about-pg-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/about.jpg');background-position:right;background-repeat:no-repeat;}
#coats-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_Coat-desk.jpg');background-position:left;background-repeat:no-repeat;}
#apron-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_Apron-desk.jpg');background-position:left;background-repeat:no-repeat;}
#cookcool-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_CookCool-desk.jpg');background-position:left;background-repeat:no-repeat;}
#smart-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_Smart-desk.jpg');background-position:right;background-repeat:no-repeat;}
#womens-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_Womens-desk.jpg');background-position:right;background-repeat:no-repeat;}
#shoes-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/shoes-banner-desk.jpg');background-position:left;background-repeat:no-repeat;}
/*#sales-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/sales-banner-desk.jpg');background-position:left;background-repeat:no-repeat;}*/
/*#sales-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/HERO-sale-marchSpecials-Desktop.jpg');background-position:left;background-repeat:no-repeat;}*/
/*#sales-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/HERO-sale-marchSpecials-Desktop1.jpg');background-position:left;background-repeat:no-repeat;}*/
#sales-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_Sale-desk.jpg');background-position:left;background-repeat:no-repeat;}
#new-prod-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_NewProduct-desk.jpg');background-position:left;background-repeat:no-repeat;}
#hats-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_Hats-desk.jpg');background-position:left;background-repeat:no-repeat;}
#cutlery-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_Cutlery-desk.jpg');background-position:right;background-repeat:no-repeat;}
#coord-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/coord-banner-desk.jpg');background-position:right;background-repeat:no-repeat;}
#formal-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/formal-banner-desk.jpg');background-position:right;background-repeat:no-repeat;}
#pants-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_Pants-desk.jpg');background-position:left;background-repeat:no-repeat;}
#shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/Category_Aspot_Shirts-desk.jpg');background-position:left;background-repeat:no-repeat;}
#staff-shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/staff-shirts-banner-desk.jpg');background-position:left;background-repeat:no-repeat;}
#kit-shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/kit-shirts-banner-desk.jpg');background-position:right;background-repeat:no-repeat;}
#scrubs-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/scrubs-banner-desk.jpg');background-position:right;background-repeat:no-repeat;}
#kit-tools-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/kit-tool-banner-bg-desk.jpg');background-position:center;background-repeat:no-repeat;}
#chef-gifts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/chef-gifts-banner.jpg');background-position:left;background-repeat:no-repeat;}
#graphic-wear-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/ScreenPrint_Header.jpg');background-position:right;background-repeat:no-repeat;}
#t-shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/t-shirt-banner-desk.jpg');background-position:right center;background-repeat:no-repeat;}

ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {background: none repeat scroll 0 0 #ffffff;}
.megamenu ul.list-content {background-color: rgba(221,221,221,0.9);}
ul.list-content li:hover {background-color: rgba(255, 255, 255, 0.9);}
.custom #a-spot-general,
.custom #a-spot-custom {background-repeat:no-repeat;}
.subcat .amshopby-attr-selected, .subcat .amshopby-attr,
.custom .a-spot-btn {background-color:rgba(255,255,255,0.3);}
.subcat .amshopby-attr-selected,
.subcat .amshopby-attr:hover,
.custom .a-spot-btn:hover,
.custom ul.megamenu a.active {background-color:rgba(255,255,255,0.7);}
.custom #cutlery-banner .a-spot-btn {background-color:rgba(0,0,0,0.15);}
.custom #cutlery-banner .a-spot-btn:hover {background-color:rgba(0,0,0,0.3);}

#sales-banner {background-size:contain;}

/* WIDTHS DESKTOP */
.mm-btn-minus {width:10px;}
#smart-banner .copywrap,
#cookcool-banner .copywrap {/* width:420px; */}
#cutlery-banner .cutlery-banner-right {width:250px;}
#cutlery-banner .cutlery-banner-left {width:330px;}
#acf-banner .a-spot-head {width:340px;}
#coord-banner .a-spot-head {width:300px;}
#coord-banner .a-spot-subhead,
#womens-banner .a-spot-head {width:265px;}
#new-prod-banner .a-spot-btn-wrap {width:255px;}
#scrubs-banner .copywrap {width:320px;}
/*#sales-banner .a-spot-btn-wrap {width:328px;}*/
#kit-shirts-banner .copywrap {width:370px;}
/*#coats-banner .copywrap {width:375px;}*/
#kit-tools-banner .copywrap {width: 600px;}


/* HEIGHTS DESKTOP */
.custom .a-spot-general {height:320px;}
.mm-btn-plus {height: 10px;}
#cutlery-banner .cutlery-right-top {height:140px;}
#about-pg-banner {height:460px;}

/* FLOATS DESKTOP */
#cutlery-banner .a-spot-btn-wrap,
#staff-shirts-banner .copywrap,
#cutlery-banner .cutlery-banner-left,
.a-spot-general .megamenu .btnContentWrap,
ul.megamenu .cross,
.a-spot-btn .expand {float:left;}
#cutlery-banner .cutlery-banner-right,
#chef-gifts-banner .copywrap,
#kit-shirts-banner .copywrap,
#scrubs-banner .copywrap,
#coord-banner .a-spot-btn-wrap,
#coord-banner .a-spot-head,
#coord-banner .a-spot-subhead,
#coord-banner .copywrap,
#shoes-banner .a-spot-btn-wrap,
#shoes-banner .copywrap,
.mm-btn-plus {float: right;}

/* PADDING DESKTOP */
#kitchen-tools-banner .banner-copy-wrap {padding-left:73px !important;padding-top:221px !important;}
.mm-item-content,
.a-spot-btn-wrap ul
ul.megamenu li,
ul.megamenu {padding:0;}
.megamenu ul.list-content {padding:2px;}
.a-spot-btn-wrap ul.list-content li a {padding: 2px 10px;}
.custom .a-spot-btn, .subcat .amshopby-attr-selected, .subcat .amshopby-attr {padding:5px 10px;}

#cutlery-banner .cutlery-right-bottom,
#cutlery-banner .cutlery-right-top {padding-top:10px;}
#formal-banner .copywrap {padding-top:20px;}
ul.megamenu div.mm-item-content {margin-top: 31px;}
#chef-gifts-banner .copywrap {padding-top:40px;}
#cutlery-banner .cutlery-banner-left {padding-top:43px;}
#graphic-wear-banner .copywrap {padding-top:80px;}
#shirts-banner .copywrap,
#new-prod-banner .copywrap,
/*#sales-banner .copywrap {padding-top: 90px;}*/
#sales-banner .copywrap {padding-top: 50px;}
#acf-banner .copywrap,
#staff-shirts-banner .copywrap {padding-top:170px;}
#shoes-banner .copywrap {padding-top:110px;}
#coord-banner .copywrap {padding-top:48px;}
#womens-banner .copywrap {padding-top:73px;}
#kit-shirts-banner .copywrap {padding-top:120px;}
#staff-shirts-banner .copywrap {padding-top:130px;}
#t-shirts-banner .copywrap,
#smart-banner .copywrap {padding-top:157px;}
#hats-banner .copywrap {padding-top:172px;}
#scrubs-banner .copywrap {padding-top:70px;}
#kit-tools-banner .copywrap {padding-top: 37px;}

.a-spot-btn .expand {padding-left:5px;}
#cutlery-banner .cutlery-right-bottom {padding-left:10px;}
#acf-banner .copywrap {padding-left:25px;}
/* #cookcool-banner .copywrap, */
#graphic-wear-banner .copywrap,
#t-shirts-banner .copywrap {padding-left: 40px;}
#staff-shirts-banner .copywrap {padding-left:50px;}
#kit-tools-banner .copywrap {padding-left: 200px;}

#kit-shirts-banner .copywrap {padding-right:10px;}
#cutlery-banner .cutlery-banner-left {padding-right:20px;}
#shoes-banner .copywrap {padding-right:30px;}
#chef-gifts-banner .copywrap,
#coord-banner .copywrap {padding-right:50px;}
#scrubs-banner .copywrap {padding-right:35px;}

/* MARGINS DESKTOP */
.subcat .amshopby-attr-selected, .subcat .amshopby-attr,
.custom .a-spot-btn {margin: 0 1px;}
ul.megamenu {margin: 0 auto;}
.a-spot-btn-wrap ul.list-content ol,
.mm-item-content,
ul.megamenu li {margin: 0;}
.megamenu ul.list-content {margin-left:1px;}
.a-spot-btn-wrap ul.list-content li a {margin-bottom:2px;}
.mm-btn-plus {margin: 3px 7px;}
.mm-btn-minus {margin: 7px 3px;}
#new-prod-banner .a-spot-btn-wrap {margin-left:auto;margin-right:auto;}
/*#sales-banner .a-spot-btn-wrap {margin-left:auto;margin-right:auto;}*/
#scrubs-banner .a-spot-head,
#chef-gifts-banner .a-spot-head,
#new-prod-banner .a-spot-head {margin-bottom:10px;}
.custom .a-spot-btn-wrap {margin-top:15px;}

/* BORDERS DESKTOP */
ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {border-left: 1px solid rgba(255,255,255,0.5);}
ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {border-right: 1px solid rgba(255,255,255,0.5);}
ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {border-top: 1px solid rgba(255,255,255,0.5);}
ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {border-bottom: 1px solid rgba(255,255,255,0.5);}
.custom .a-spot-btn.active, .subcat .amshopby-attr-selected.active, .subcat .amshopby-attr.active {border-color:rgba(255, 255, 255, 0.7);}
.custom ul.megamenu a:hover div.mm-btn-plus,
.custom ul.megamenu a:hover div.mm-btn-minus,
.custom ul.megamenu a.active div.mm-btn-plus,
.custom ul.megamenu a.active div.mm-btn-minus {border-color:#444444;}
.custom .a-spot-btn, .subcat .amshopby-attr-selected, .subcat .amshopby-attr {border:1px solid #ffffff}
.custom .a-spot-btn:active, .subcat .amshopby-attr-selected:active, .subcat .amshopby-attr:active {border-color: #777777}
.mm-btn-plus {border-left: 2px solid #ffffff;}
.mm-btn-minus {border-top: 2px solid #ffffff;}


/* POSITION DESKTOP */
.subcat li,
.mm-btn-minus,
.custom .btnContentWrap {position:relative;}
#kit-tools-banner img,
ul.megamenu div.mm-item-content {position: absolute;}
ul.megamenu div.mm-item-content {z-index: 9;}
#kit-tools-banner img {z-index:2;}
ul.megamenu div.mm-item-content {top: 0;}


/* ALIGNMENT DESKTOP */
#t-shirts-banner .copywrap,
#kit-tools-banner .copywrap,
#cutlery-banner .cutlery-right-top,
#new-prod-banner .copywrap,
#sales-banner .copywrap {text-align:center;}
#pants-banner ul.list-content,
#kit-shirts-banner .copywrap,
.a-spot-btn-wrap ul.list-content li a {text-align:left;}
#chef-gifts-banner .copywrap,
#scrubs-banner .copywrap,
#coord-banner .a-spot-subhead,
#coord-banner .a-spot-head,
#cutlery-banner .cutlery-banner-left,
#shoes-banner .a-spot-subhead,
#shoes-banner .a-spot-head,
#womens-banner .a-spot-head {text-align:right;}

/* FONT FAMILIES DESKTOP */
.custom .a-spot-head {font-family:'Archer SSm A','Archer SSm B', 'Sanchez','Times New Roman',serif;}

/* FONT COLORS DESKTOP */
.subcat .amshopby-attr-selected, .subcat .amshopby-attr,
.custom .a-spot-btn,
.custom .a-spot-head,
.custom .a-spot-subhead {color:#ffffff;}
.subcat .amshopby-attr-selected:hover,
.subcat .amshopby-attr:hover,
.custom .a-spot-btn:hover,
.custom ul.megamenu .active,
.a-spot-btn-wrap ul.list-content li a,
ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {color: #444444;}
#sales-banner .a-spot-subhead,
#kit-tools-banner .a-spot-head,
#kit-tools-banner .a-spot-subhead,
#scrubs-banner .a-spot-head,
#scrubs-banner .a-spot-subhead,
#formal-banner .a-spot-head,
#formal-banner .a-spot-subhead,
ul.list-content li:hover {color: #333333;}


/* FONT SIZES DESKTOP */
.a-spot-btn-wrap ul.list-content li a {font-size:inherit;}
.subcat .amshopby-attr-selected, .subcat .amshopby-attr,
.custom .a-spot-btn {font-size:14px;}
.a-spot-general .a-spot-head {
    font-size:50px;font-weight:500;
    text-transform: uppercase;
}
.a-spot-general .a-spot-subhead {font-size:22px;}
#scrubs-banner .a-spot-head {font-size:60px;}

/* FONT WEIGHTS DESKTOP */
.custom .a-spot-subhead {font-weight:300;}

/* LINE HEIGHTS DESKTOP */
.a-spot-general .a-spot-head {line-height:60px;}
.subcat .amshopby-attr-selected, .subcat .amshopby-attr,
.custom .a-spot-btn {line-height:16px;}
.custom .a-spot-subhead {line-height:32px;}

/* DISPLAY DESKTOP */
#formal-banner .copywrap,
.custom .hide-960,
.megamenu div.mm-item-content {display:none;}
ul.list-content ol li,
ul.list-content,
ul.list-content a,
.a-spot-btn-wrap ul.list-content li a {display:block;}
.block-content > ol > li {display:inline-block;}

.a-spot-general a {display:inline-block;}

/* OPACITY DESKTOP */
.megamenu a.active div.mm-btn-plus {opacity:0;}

/* TRANSITIONS DESKTOP */
.mm-btn-plus {transition: opacity 200ms ease-in-out;}

/* LIST SYTLES DESKTOP */
.a-spot-btn-wrap ul,
.megamenu ul.list-content,
ul.megamenu {list-style: none outside none;}

/* MISC DESKTOP */
.a-spot-btn-wrap ul.list-content li a {white-space:nowrap;}
.custom .a-spot-head,
.custom .a-spot-subhead {text-shadow:1px 1px 5px #333333;}
.custom #sales-banner .a-spot-head,
.custom #sales-banner .a-spot-subhead {text-shadow:none;}
.subcat .amshopby-attr-selected, .subcat .amshopby-attr,
.a-spot-btn-wrap ul.list-content li a {text-transform:capitalize;}

#sales-banner .subcat .amshopby-attr-selected {border:1px solid #6f7073;background-color: rgba(0,0,0,0.25);}
#sales-banner .subcat .amshopby-attr-selected {color:#333333;}

/*************************************************************************/
/* 3/8/2016 */
/*************************************************************************/
#hats-banner .a-spot-head,
#shirts-banner .a-spot-head,
#coats-banner .a-spot-head,
#sales-banner .a-spot-head,
#womens-banner .a-spot-head,
#apron-banner .a-spot-head,
#pants-banner .a-spot-head,
#cutlery-banner .a-spot-head,
#smart-banner .a-spot-head,
#cookcool-banner .a-spot-head,
#new-prod-banner .a-spot-head
{
	background-color:rgba(111,112,115,0.7);
	display:inline-block;
}
/*****************************************/
/* COOKCOOL */
/*****************************************/
#cookcool-banner .copywrap {
	padding-top:170px;
}
#cookcool-banner .copywrap {
	text-align:right;
}
#cookcool-banner .a-spot-head {
	padding:15px 130px 15px 50px;
}
#cookcool-banner .a-spot-btn-wrap {
	margin-right:195px;
}

/*****************************************/
/* SMART */
/*****************************************/
#smart-banner .copywrap {
	text-align:left;
}
#smart-banner .a-spot-head {
	padding:15px 50px 15px 70px;
}
#smart-banner .a-spot-btn-wrap {
	margin-left:115px;
}

/*****************************************/
/* APRONS */
/*****************************************/
#apron-banner .copywrap {
	text-align:right;
	padding-top:160px;
}
#apron-banner .a-spot-head {
	padding:15px 100px 15px 90px;
}
#apron-banner .a-spot-btn-wrap {
   margin-right: 35px;
}

/*****************************************/
/* COATS */
/*****************************************/
#coats-banner .copywrap {
	padding-top:125px;
}
#coats-banner .a-spot-head {
	padding:15px 130px 15px 110px;
}
#coats-banner .a-spot-btn-wrap {
   margin-left: 35px;
}

/*****************************************/
/* PANTS */
/*****************************************/
#pants-banner .copywrap {
	padding-top:165px;
}
#pants-banner .a-spot-head {
	padding:15px 70px 15px 80px;
}
#pants-banner .a-spot-btn-wrap {
   margin-left: 55px;
}

/*****************************************/
/* HATS */
/*****************************************/
#hats-banner .copywrap {
	padding-top:165px;
	text-align:right;
}
#hats-banner .a-spot-head {
	padding:15px 120px 15px 120px;
}
#hats-banner .a-spot-btn-wrap {
   margin-right: 35px;
}

/*****************************************/
/* CUTLERY */
/*****************************************/
#cutlery-banner .copywrap {
	padding-top:25px;
}
#cutlery-banner .a-spot-head {
	padding:15px 70px 15px 80px;
}
#cutlery-banner .a-spot-btn-wrap {
   margin-left: 125px;
}

/*****************************************/
/* SHIRTS */
/*****************************************/
#shirts-banner .copywrap {
	padding-top:165px;
	text-align:right;
}
#shirts-banner .a-spot-head {
	padding:15px 100px 15px 70px;
}
#shirts-banner .a-spot-btn-wrap {
   margin-right: 30px;
}

/*****************************************/
/* WOMENS */
/*****************************************/
#womens-banner .copywrap {
	padding-top:165px;
	text-align:right;
}
#womens-banner .a-spot-head {
	padding:15px 100px 15px 70px;
}
#womens-banner .a-spot-btn-wrap {
   margin-right: 60px;
}

/*****************************************/
/* SALE */
/*****************************************/
#sales-banner .copywrap {
	padding-top:165px;
	text-align:right;
}
#sales-banner .a-spot-head {
	padding:15px 200px 15px 170px;
}
#sales-banner .a-spot-btn-wrap {
   margin-right: 20px;
}







@media screen and (max-width:960px){
   
    /* FONT SIZES 960 */
    #scrubs-banner .a-spot-head {font-size:50px;}
    #scrubs-banner .a-spot-subhead {font-size:20px;}

    /*  POSITION 960 */
    #acf-banner {background-position:-100px;}
    #graphic-wear-banner {background-position: calc(100% + 100px);}
    #chef-gifts-banner {background-position:-30px center}
    #scrubs-banner {background-position:right -106px center;}

    #kit-tools-banner img {width:700px;}
    #kit-tools-banner .copywrap {width:auto;}
    
    /* MARGIN 960 */

    /* PADDING 960 */
    #t-shirts-banner .copywrap,
    #kit-tools-banner .copywrap {padding-left:0;}
    #graphic-wear-banner .copywrap {padding-left:20px;}
    #staff-shirts-banner .copywrap {padding-left:32px;}

    #scrubs-banner .copywrap {padding-right: 10px;}
    #chef-gifts-banner .copywrap {padding-right:20px;}

    #chef-gifts-banner .copywrap {padding-top:20px;}
    #scrubs-banner .copywrap {padding-top: 30px;}
    #acf-banner .copywrap {padding-top:126px;}
    #t-shirts-banner .copywrap {padding-top: 140px;}

    /* FONT SIZE 960 */
    
}

@media screen and (max-width:768px){

    /* BACKGROUNDS 768 */
    #acf-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/acf-banner-tab.jpg');background-position:center;background-repeat:no-repeat;}
    #about-pg-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/about.jpg');background-position:calc(100% + 100px) center;background-repeat:no-repeat;}
    #cookcool-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_CookCool-tab.jpg');background-position:left;background-repeat:no-repeat;}
    #smart-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_Smart-tab.jpg');background-position:right;background-repeat:no-repeat;}
    #womens-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_Womens-tab.jpg');background-position:right;background-repeat:no-repeat;}
    #shoes-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/shoes-banner-tab.jpg');background-position:right;background-repeat:no-repeat;}
    /*#sales-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/sales-banner-tab.jpg');background-position:right;background-repeat:no-repeat;}*/
    #sales-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_Sale-tab.jpg');background-position:right;background-repeat:no-repeat;}
    #new-prod-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_NewProducts-tab.jpg');background-position:right;background-repeat:no-repeat;}
    #hats-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_Hats-tab.jpg');background-position:center;background-repeat:no-repeat;}
    #cutlery-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_Cutlery-tab.jpg');background-position:right;background-repeat:no-repeat;}
    #coord-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/coord-banner-tab.jpg');background-position:right;background-repeat:no-repeat;}
    #formal-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/formal-banner-tab.jpg');background-position:right;background-repeat:no-repeat;}
    #pants-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_Pants-tab.jpg');background-position:right;background-repeat:no-repeat;}
    #staff-shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/staff-shirt-banner-tab.jpg');background-position:right;background-repeat:no-repeat;}
    #kit-shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/kit-shirts-banner-tab.jpg');background-position:right;background-repeat:no-repeat;}
    #shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_Shirts-tab.jpg');background-position:left;background-repeat:no-repeat;}
    #scrubs-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/scrubs-banner-tab-new.jpg');background-position:right;background-repeat:no-repeat;}
    #kit-tools-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/kit-tools-banner-tab.jpg');background-position:center;background-repeat:no-repeat;}
    #t-shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/t-shirt-banner-tab.jpg');background-position:center;background-repeat:no-repeat;}
    #graphic-wear-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/ScreenPrintHead_Tablet.jpg');background-position:left;background-repeat:no-repeat;}
    #coats-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_Coats-tab.jpg');background-position:left;background-repeat:no-repeat;}
    #apron-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/tablet/Category_ASpot_Apron-tab.jpg');background-position:left;background-repeat:no-repeat;}
    #chef-gifts-banner {background-position:left center;}

    #hats-banner .amshopby-attr,
    #smart-banner .amshopby-attr {background-color:rgba(0,0,0,0.15);}

    #hats-banner .amshopby-attr-selected,
    #hats-banner .amshopby-attr:hover {background-color:rgba(0,0,0,0.3);}
    /* #smart-banner .amshopby-attr:hover,
    #smart-banner .subcat .amshopby-attr-selected {background-color:rgba(0,0,0,0.3);} */

    /* FLOATS 768 */
    #formal-banner .copywrap,
    #cutlery-banner .cutlery-banner-left {float:right;}
    /* WIDTHS 768 */
    #staff-shirts-banner .copywrap,
    #formal-banner .copywrap {width:395px;}
    #kit-tools-banner .a-spot-head {width:290px;}

    /* HEIGHTS 768 */
    .custom .a-spot-general {height:212px;}

    /* DISPLAY 768 */
    #formal-banner .copywrap {display:block;}
    #cutlery-banner .cutlery-banner-right {display:none;}

    /* FONT SIZES 768 */
    #t-shirts-banner .a-spot-subhead {font-size:16px;}
    #smart-banner .a-spot-head,
    .custom .a-spot-general .a-spot-head {font-size:47px;}
    #smart-banner .a-spot-subhead,
    .custom .a-spot-general .a-spot-subhead {font-size:22px;}

    /* FONT COLORS 768 */
    #scrubs-banner .a-spot-head,
    #scrubs-banner .a-spot-subhead,
    #cookcool-banner .a-spot-btn {color:#333333;}

    /* LINE HEIGHTS 768 */
    .custom .a-spot-general .a-spot-head {line-height: 49px;}

    /* MARGINS 768 */
    #formal-banner .a-spot-head {margin-bottom:5px;}
    #coord-banner .a-spot-btn-wrap {margin-top:5px;}
    #shoes-banner .a-spot-btn-wrap {margin-top:25px;}
    #kit-tools-banner .a-spot-head {margin-left: auto;}
    #kit-tools-banner .a-spot-head {margin-right: auto;}
    #kit-tools-banner .a-spot-head {margin-top: -125px;}

    /* PADDING 768 */
    #smart-banner .copywrap {padding-top:65px;}
    #coord-banner .copywrap {padding-top:7px;}
    #chef-gifts-banner .copywrap,
    #hats-banner .copywrap {padding-top:10px;}
    #acf-
    #formal-banner .copywrap {padding-top:15px;}
    #cutlery-banner .cutlery-banner-left {padding-top:20px;}
    #apron-banner .copywrap {padding-top:25px;}
    #staff-shirts-banner .copywrap,
    #coats-banner .copywrap {padding-top:30px;}
    #scrubs-banner .copywrap,
    #shoes-banner .copywrap {padding-top:40px;}
    #graphic-wear-banner .copywrap,
    #new-prod-banner .copywrap {padding-top: 45px;}
    #kit-shirts-banner .copywrap {padding-top:50px;}
    #acf-banner .copywrap {padding-top:60px;}
    #formal-banner .copywrap {padding-top:69px;}
    #t-shirts-banner .copywrap {padding-top:100px;}
    #kit-tools-banner .copywrap {padding-top:135px;}

    #smart-banner .copywrap {padding-left:0;}
    #graphic-wear-banner .copywrap {padding-left:10px;}
    #kit-tools-banner .copywrap {padding-left:15px;}
    #staff-shirts-banner .copywrap {padding-left:40px;}

    #scrubs-banner .copywrap {padding-right:10px;}
    #kit-shirts-banner .copywrap,
    #coord-banner .copywrap {padding-right:20px;}
    #shoes-banner .copywrap {padding-right:25px;}
    #chef-gifts-banner .copywrap {padding-right:30px;}

    /* BORDERS 768 */

    /* ALIGNMENT 768 */
    #kit-shirts-banner .copywrap {text-align:right;}
    
    /* MISC 768 */
    #cutlery-banner .a-spot-btn-wrap {clear:both;}
	 
	
	/*****************************************/
	/* SMART */
	/*****************************************/
	 #smart-banner .a-spot-btn-wrap {
		margin-left:75px;
	}
	
	/*****************************************/
	/* COOKCOOL */
	/*****************************************/
	#cookcool-banner .copywrap {
		padding-top:80px;
	}
	#cookcool-banner .a-spot-btn-wrap {
		margin-right: 55px;
	}
	#cookcool-banner .a-spot-head {
		padding: 15px 50px 15px 50px;
	}
	
	/*****************************************/
	/* APRONS */
	/*****************************************/
	#apron-banner .copywrap {
		padding-top: 65px;
	}
	#apron-banner .a-spot-head {
		padding: 15px 150px 15px 120px;
	}
	
	/*****************************************/
	/* COATS */
	/*****************************************/
	#coats-banner .copywrap {
		padding-top: 75px;
	}
	#coats-banner .a-spot-head {
		padding: 15px 150px 15px 120px;
	}
	#coats-banner .a-spot-btn-wrap {
		margin-left: 15px;
	}
	
	/*****************************************/
	/* PANTS */
	/*****************************************/
	#pants-banner .copywrap {
		padding-top: 75px;
	}
	#pants-banner .a-spot-head {
		padding: 15px 80px 15px 70px;
	}
	#pants-banner .a-spot-btn-wrap {
		margin-left: 15px;
	}
	
	/*****************************************/
	/* HATS */
	/*****************************************/
	#hats-banner .copywrap {
		padding-top: 75px;
	}
	#hats-banner .a-spot-head {
		padding: 15px 150px 15px 130px;
	}
	#hats-banner .a-spot-btn-wrap {
	}
	
	/*****************************************/
	/* CUTLERY */
	/*****************************************/
	#cutlery-banner .a-spot-btn-wrap {
		margin-left: 95px;
	}
	#cutlery-banner .copywrap {
		padding-top: 15px;
	}
	
	/*****************************************/
	/* SHIRTS */
	/*****************************************/
	#shirts-banner .a-spot-head {
		padding: 15px 120px 15px 90px;
	}
	#shirts-banner .copywrap {
		padding-top:80px;
	}
	/*****************************************/
	/* WOMENS */
	/*****************************************/
	#womens-banner .copywrap {
		padding-top: 80px;
	}
	#womens-banner .a-spot-head {
		padding: 15px 80px 15px 30px;
	}
	#womens-banner .a-spot-btn-wrap {
		margin-right: 40px;
	}
	/*****************************************/
	/* SALE */
	/*****************************************/
	#sales-banner {
		background-size: cover;
	}
	#sales-banner .copywrap {
		padding-top: 70px;
	}
	#sales-banner .a-spot-btn-wrap {
		margin-right: 10px;
	}
	#sales-banner .a-spot-head {
		padding: 15px 210px 15px 180px;
	}
}


@media screen and (max-width:568px){
    /* BACKGROUNDS 568 */
    #acf-banner {background-position:top left -35px;}
    #chef-gifts-banner {background-position:-30px center;}

    /* FONT SIZE 568 */
    #new-prod-banner .a-spot-head {font-size:40px;}

    /* PADDING 568 */
    #chef-gifts-banner .copywrap {padding-right:10px;}

   /*****************************************/
	/* SALE */
	/*****************************************/
	#sales-banner .copywrap {
		padding-top: 70px;
	}
	#sales-banner .a-spot-btn-wrap {
		margin-right: 5px;
	}
	#sales-banner .a-spot-head {
		padding: 15px 190px 15px 160px;
	}
	#sales-banner .subcat .amshopby-attr {
		padding: 5px 7px;
	}
	
}
    
@media screen and (max-width:480px){
   #sales-banner .a-spot-head, 
   #sales-banner .a-spot-subhead {font-size:22px; width:210px;}
   .custom #sales-banner .copywrap {width:70%;}
   #sales-banner {background-position:-60px center;}

    /* BACKGROUNDS 480 */
    #acf-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/acf-banner-m.jpg');background-position:right;background-repeat:no-repeat;}
    #about-pg-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/about.jpg');background-position:calc(100% + 125px) top;background-repeat:no-repeat;}
    #cookcool-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/Category_ASpot_CookCool-m.jpg');background-position:left;background-repeat:no-repeat;min-width:300px;}
    #smart-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/Category_ASpot_Smart-m.jpg');background-position:right;background-repeat:no-repeat;min-width:300px;}
    #womens-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/womens-banner-m.jpg');background-position:right;background-repeat:no-repeat;min-width:300px;}
    #shoes-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/shoes-banner-m.jpg');background-position:right;background-repeat:no-repeat;min-width:300px;}
    /*#sales-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/sales-banner-m.jpg');background-position:right;background-repeat:no-repeat;min-width:300px;}*/
    #sales-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/Category_ASpot_Sale-m.jpg');background-position:right;background-repeat:no-repeat;min-width:300px; background-size:cover;}
    #new-prod-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/Category_ASpot_NewProduct-m.jpg');background-position:right;background-repeat:no-repeat;min-width:300px;}
    #hats-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/Category_ASpot_Hats-m.jpg');background-position:center;background-repeat:no-repeat;min-width:300px;}
    #cutlery-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/Category_ASpot_Cutlery-m.jpg');background-position:center;background-repeat:no-repeat;min-width:300px;}
    #coord-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/coord-banner-m.jpg');background-position:left;background-repeat:no-repeat;min-width:300px;}
    #formal-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/formal-banner-m.jpg');background-position:left;background-repeat:no-repeat;min-width:300px;}
    #pants-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/Category_ASpot_Pants-m.jpg');background-position:left;background-repeat:no-repeat;min-width:300px;}
    #staff-shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/staff-shirts-banner-m.jpg');background-position:left;background-repeat:no-repeat;min-width:300px;}
    #kit-shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/kit-shirts-banner-m.jpg');background-position:right;background-repeat:no-repeat;min-width:300px;}
    #shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/Category_ASpot_Shirts-m.jpg');background-position:left;background-repeat:no-repeat;min-width:300px;}
    #scrubs-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/scrubs-banner-m-new.jpg');background-position:right 15px center;background-repeat:no-repeat;min-width:300px;}
    #kit-tools-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/kit-tools-banner-m.jpg');background-position:center;background-repeat:no-repeat;min-width:300px;}
    #t-shirts-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/t-shirt-banner-m.jpg');background-position:right center;background-repeat:no-repeat;min-width:300px;}
    #graphic-wear-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/ScreenPrint_Head_Mobile.jpg');background-position:left;background-repeat:no-repeat;}
    #coats-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/Category_ASpot_Coats-m.jpg');background-position:left;background-repeat:no-repeat;}
    #apron-banner {background-image:url('../../../../../media/wysiwyg/a-spot-imgs/mobile/Category_ASpot_Apron-m.jpg');background-position:left;background-repeat:no-repeat;}

    #chef-gifts-banner {background-position:center;background-repeat:no-repeat;min-width:300px;}

    /* DISPLAY 480 */
    #formal-banner .a-spot-subhead,
    #chef-gifts-banner .a-spot-subhead,
    #cutlery-banner .a-spot-subhead,
    .custom .a-spot-btn-wrap {display:none;}

    /* FONT SIZES 480 */
    #scrubs-banner .a-spot-head,
    #smart-banner .a-spot-head,
    .custom .a-spot-general .a-spot-head {font-size:38px;}
    #cookcool-banner .a-spot-head {font-size:35px;}
    #smart-banner .a-spot-subhead,
    .custom .a-spot-general .a-spot-subhead {font-size:20px;}

    /* LINE HEIGHTS 480 */
    .custom .a-spot-general .a-spot-head {line-height:38px;}

    /* WIDTH 480 */
    #cutlery-banner .cutlery-banner-left {width:150px;}
    #womens-banner .a-spot-head {width:180px;}
    #hats-banner .copywrap {width:205px;}
    #coord-banner .a-spot-head,
    .custom #coats-banner .copywrap {width:230px;}
    .custom #apron-banner .copywrap {width:275px;}
    #scrubs-banner .copywrap {width:215px;}
    #acf-banner .a-spot-head,
    #shoes-banner .copywrap {width: 200px;}
    #sales-banner .copywrap {width:300px;}
    #shirts-banner .copywrap {width:320px;}

    /* HEIGHT 480 */
    .custom .a-spot-general {height:154px;}
    #about-pg-banner {height:375px;}

    /* PADDING 480 */
    #graphic-wear-banner .copywrap {padding-left:5px;}
    #shirts-banner .copywrap {padding-left:10px;}
    #acf-banner .copywrap,
    #staff-shirts-banner .copywrap {padding-left:15px;}
    #formal-banner .copywrap {padding-top:69px;}
    #hats-banner .copywrap {padding-left:0;}
    #cookcool-banner .copywrap {padding-left:8px;}
    #coats-banner .copywrap {padding-left:30px;}

    #cutlery-banner .cutlery-banner-left {padding-top:17px;}
    #womens-banner .copywrap,
    #chef-gifts-banner .copywrap {padding-top:20px;}
    #smart-banner .copywrap,
    #coats-banner .copywrap {padding-top:22px;}
    #acf-banner .copywrap {padding-top:25px;}
    #hats-banner .copywrap {padding-top:27px;}
    #graphic-wear-banner .copywrap,
    #shirts-banner .copywrap,
    #staff-shirts-banner .copywrap,
    #pants-banner .copywrap,
    #coord-banner .copywrap,
    #cookcool-banner .copywrap,
    #apron-banner .copywrap {padding-top: 40px;}
    #kit-tools-banner .copywrap  {padding-top:18px;}
    #kit-shirts-banner .copywrap {padding-top: 52px;}
    #t-shirts-banner .copywrap {padding-top:80px;}

    #cutlery-banner .cutlery-banner-left {padding-right:20px;}
    #scrubs-banner .copywrap {padding-right:5px;}
    #coord-banner .copywrap {padding-right:7px;}
    #kit-shirts-banner .copywrap,
    #pants-banner .copywrap,
    #smart-banner .copywrap {padding-right:10px;}
    #t-shirts-banner .copywrap,
    #shoes-banner .copywrap {padding-right: 15px;}
    #womens-banner .copywrap {padding-right:20px;}

    /* MARGIN 480 */
    #hats-banner .copywrap,
    #new-prod-banner .copywrap,
    #sales-banner .copywrap {margin:auto;}
    #kit-tools-banner .a-spot-head {margin-top:0;}

    /* ALIGNMENT 480 */
    #t-shirts-banner .copywrap,
    #formal-banner .copywrap,
    #smart-banner .copywrap {text-align:right;}
    #womens-banner .a-spot-head {text-align:right;}

	 #hats-banner .copywrap,
     #shirts-banner .copywrap,
     #coats-banner .copywrap,
     #sales-banner .copywrap,
     #womens-banner .copywrap,
     #apron-banner .copywrap,
     #pants-banner .copywrap,
     #cutlery-banner .copywrap,
     #smart-banner .copywrap,
     #cookcool-banner .copywrap,
     #new-prod-banner .copywrap
     {display:none;}


}
@media screen and (max-width:400px){
    /* FLOATS 400 */
    #t-shirts-banner .copywrap {float:right;}

    /* WIDTH 400 */
    /* #shirts-banner .copywrap {width:275px;} */
    #t-shirts-banner .copywrap {width:200px;}

    /* PADDING 400 */
    #t-shirts-banner .copywrap {padding-top:60px;}
    #coord-banner .copywrap {padding-top:70px;}
    #coord-banner .copywrap {padding-right:10px;}
    /* #cutlery-banner .cutlery-banner-left {padding-top:10px;}
    #cutlery-banner .cutlery-banner-left {padding-right:0;} */

    /* FONT SIZES 400 */
    #formal-banner .a-spot-head {font-size:34px;}
    /* #shirts-banner .a-spot-head {font-size:32px;} */

    /* BACKGROUNDS 400 */
    #formal-banner {background-position: -80px center;}
    
   /*  #sales-banner {background-size:contain;} */

    #hats-banner .copywrap,
    #shirts-banner .copywrap,
    #coats-banner .copywrap,
    #sales-banner .copywrap,
    #womens-banner .copywrap,
    #apron-banner .copywrap,
    #pants-banner .copywrap,
    #cutlery-banner .copywrap,
    #smart-banner .copywrap,
    #cookcool-banner .copywrap,
    #new-prod-banner .copywrap
    {display:none;}

}

/* MARCH SPECIALS ADJUSTMENT */
/*#sales-banner .a-spot-head,
#sales-banner .a-spot-subhead {display:none;}*/

