/**
 * EMThemes
 *
 * @license commercial software
 * @copyright (c) 2012 Codespot Software JSC - EMThemes.com. (http://www.emthemes.com)
 */

.page {
	background:#ccc;
}
.quick-access{ padding:10px 0;}
.adapt-1 .header a.logo{ top:84px; }
.header, .emarea2 { color:#7e7d7d;}
.header h1, .header .h1, .header h2, .header .h2, .header h3, .header .h3, 
.header h4, .header .h4, .header h5, .header .h5,
.emarea2 h1, .emarea2 .h1, .emarea2 h2, .emarea2 .h2, .emarea2 h3, .emarea2 .h3, 
.emarea2 h4, .emarea2 .h4, .emarea2 h5, .emarea2 .h5 { color:#ffffff;}

.quick-access { border-bottom:1px solid #252525 }

.em_nav .hnav { 
	background-position:0 0;
	background-repeat: repeat;
	box-shadow:0 -3px 3px rgba(0,0,0,0.05) inset;
}

.wrapper_footer .container_24 { border-top:0; padding-top:0 }

.footer-container { 
	background:#aaa;
}
.footer-container a {
}

.slider_container .widget-title, 
.slider_container .block_title,
.sidebar .block-title {
	box-shadow:0 -3px 3px rgba(0,0,0,0.05) inset;
}

hr, .hr {
	box-shadow:0 -3px 3px rgba(0,0,0,0.05);
}

#emarea18 { border-top:0 }

.sidebar .block-title { text-transform:none }
.page-title h1, .page-title h2 { text-transform:none }

.widget-static-block  .jcarousel-skin-tango .jcarousel-next-horizontal, .widget-static-block .jcarousel-skin-tango .jcarousel-prev-horizontal{ top:43px; }
.widget-static-block  .jcarousel-skin-tango .jcarousel-next-horizontal{ right:-20px!important;}
.widget-static-block  .jcarousel-skin-tango .jcarousel-prev-horizontal{ right:auto; left:-20px;}
.tabs_wrapper .jcarousel-skin-tango .jcarousel-next-horizontal,.tabs_wrapper .jcarousel-skin-tango .jcarousel-prev-horizontal{ top:-30px; }
.adapt-0 .quick-access .form-search{ top:143px;}
.adapt-0 .emarea2{ top:100px;}
.block-cart-top .cart-popup{ background-position:0 -2px;}
/* drop-down menu of top level */
.hnav .menu-item-depth-0 > .menu-container,
.em-catalog-navigation.horizontal > li > ul,
.em-catalog-navigation.horizontal > li:hover > ul { top:47px; }

