/**
 * EMThemes
 *
 * @license commercial software
 * @copyright (c) 2012 Codespot Software JSC - EMThemes.com. (http://www.emthemes.com)
 */

 /* Import variables and mixins */
@import "variables.less";

/* Declare new variables */
@new_text_color: #000;
@new_line_color: #ff0000;

/* CSS Declaration */
.best-seller {
	margin-left:0 !important;
	.widget-title h3 span {.changeColor(@new_text_color);}
	.widget-products {
		.changeLine(border;1px; solid ; @new_line_color);.changeBorderRadius(@rounded_corner);
		.changeBorderRadius(@rounded_corner);
		.product-image{
			margin:0 0 0 10px; overflow:hidden; 
			img {border:none;}
			&:hover{border:none;}
		}
		.products-grid {
			margin:0;
			&.last {.changeLine( border-top; 1px ; dashed ; @new_line_color);}
			&.first.last {border-top:none;}
			li.item{
				.changeLine( border-left; 1px ; dashed ; @new_line_color); margin:0; padding:14px 15px; .addBorderBox();
				.product-shop {margin-right:0;overflow:hidden; margin-top:4px; text-align:left; min-width:100px;}
				.product-name {margin-bottom:8px;}
				.product-name a{.changeFonts(@general_font); text-transform:uppercase; font-size:110%; }
			}
			li.item:first-child{border-left:none;}			
		}
		.products-list {
			li.item { .addBorderBox(); .changeLine( border-top; 1px ; dashed ; @new_line_color); }
			li.item:first-child{border-top:none;}	
			.product-shop {margin-left:82px;overflow:hidden; margin-top:4px; text-align:left; clear:none;}
		}
		
	}
}

.today_sale {
	margin-right:0 !important;
	.block_title h3 span {.changeColor(@body_text_color1); .changeFonts(@h3_font) }
}
