/**
 * EM ProductLabels
 *
 * @license commercial software
 * @copyright (c) 2012 Codespot Software JSC - EMThemes.com. (http://www.emthemes.com)
 */

 /*========== Product label ============*/
.productlabels_icons {margin:0 !important;}
.productlabels_icons .label{list-style: none;}
.productlabels_icons .label p{margin-bottom:0; }


.products-grid .item, .products-list .item { position:relative }
.product-img-box { position:relative; }
.product-view .box-up-sell .products-grid td div.td { position:relative; }
.mini-products-list .product { position:relative; }
.crosssell .item { position:relative }

.productlabels_icons { position:absolute; top:0; left:0; }
.product-img-box .productlabels_icons { z-index:10; }
.productlabels_icons .label {
    width: 104px;
    height: 16px;
    position: absolute;
    padding: 0;
    left: 2px;
    top: 8px;
    right: auto;
    bottom: auto;
    z-index: 20;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    line-height: 16px;
}
.productlabels_icons .label.new-product,
.productlabels_icons .label.new {
    color: #4a4a4a;
    border: 1px solid #4a4a4a;
    background-color:white;
}
.products-list .productlabels_icons .label.female,
.products-list .productlabels_icons .label.male {
    position:absolute;
    top:178px;
}
.productlabels_icons{
    margin-bottom:0;
    width:100%;
}
.productlabels_icons .nobg {
    background:none;
    width:auto;
    height:auto;
}
.productlabels_icons .label.tl{
    left:50%;
    transform:translateX(-50%);
    top:0;
    right:auto;
    bottom:auto;
}
.productlabels_icons .label.tr{left:2px; top:64px; right:auto; bottom:auto;}
.productlabels_icons .label.bl{left:10px; top:auto; right:auto; bottom:8px;}
.productlabels_icons .label.br{
    left:5px;
    top:5px;
    top:auto;
    right:auto;
}
.products-mansory .productlabels_icons .label.female, .products-mansory .productlabels_icons .label.male{top:354px;}
.productlabels_icons .label.female, .productlabels_icons .label.male{top:212px;}
.productlabels_icons .label.female p {background:url(../images/female.png); width:61px; height:30px; font-family: WhitneySemibold; font-size: 13px;  color:#fff; line-height:30px; padding-left:17px; text-align:left;}
.productlabels_icons .label.male p {background:url(../images/male.png); width:57px; height:30px; font-family: WhitneySemibold; font-size: 13px;  color:#fff; line-height:30px; padding-left:21px; text-align:left;}
.productlabels_icons .label.sale p {
    border:1px solid #D0021B;
    background-color:#ffffff;
    width:104px;
    height:16px;
    font-family: WhitneySemibold;
    font-size: 11px;
    text-transform:uppercase;
    color:#D0021B;
    line-height:16px;
    text-align:center;
}
.productlabels_icons .orange { background-position:0 0 }
.productlabels_icons .yellow { background-position:0 -60px }
.productlabels_icons .blue { background-position:0 -120px }
.productlabels_icons .violet { background-position:0 -180px }
.productlabels_icons .red { background-position:0 -240px }
.productlabels_icons .black { background-position:0 -300px }

.productlabels_icons .label img {
    width: 104px;
    height: 16px;
}

/*@media (min-width:1200px) {
.productlabels_icons .label{padding:18px 7px; min-width:45px;}
.productlabels_icons .label p{}
}

@media (min-width:768px) and (max-width:979px) {
.productlabels_icons .label{padding:20px 6px; min-width:39px;}
.productlabels_icons .label p{font-size:140%;}
}

@media (max-width:767px) {
.productlabels_icons .label{padding:18px 7px; min-width:45px;}
.productlabels_icons .label p{}
}*/

