.align_center,
.align_right {
  text-align: left;
}
.block.block-cart-top .cart-popup .product-details .cart-collateral{float:none}
.block.block-cart-top .cart-popup .product-details .cart-collateral span.price, .block.block-cart-top .cart-popup .product-details .cart-collateral span{padding:0}
.block.block-cart-top .cart-popup .product-details .button-edit{float:none;}
.block.block-cart-top .cart-popup .product-details .cart-collateral .total-item{float:none; margin:0}
.block.block-cart-top .cart-popup .product-details .attr-color, .block.block-cart-top .cart-popup .product-details .attr-size{float:none}
.block.block-cart-top .cart-popup .product-details .cart-collateral span, .block.block-cart-top .cart-popup .product-details .cart-collateral .total-item{float:none}

.menu-container .menu-bar #displayMenu_1{float:none; margin-left:0; display:block; width:auto; background:#3f827f; padding:5px 10px; margin-bottom:1px}
.menu-container .menu-bar #displayMenu_1 a{text-transform:uppercase; color:#fff;  font-family: ArcherBoldPro !important;
    font-size: 14px !important;
    letter-spacing: 0.03em !important; }
.menu-container .topsearch{float:none; margin-top:10px }
.top-menu .menu-title{margin:0}


.hnav .menu-item-depth-0:hover a.arrow{background:none; }
.em-catalog-navigation li > a{padding:0}


.header .form-search button.button span, .header .form-search button.button span span{display:block}
.header-container .form-search{margin-top:0}
.header .form-search input.input-text{width:94%}

.chefpick{clear:both}
.s_item{width:100px}

.header .header-top-left > div {line-height:14px;}
/*category*/
.em_main .products-grid li.item, .em_main .products-mansory li.item{margin:0px}
.breadcrumbs{clear:both;}
.product-shop .ratings .rating-box{margin-bottom:0}
.products-list .product-image img{width:100%;}
.products-list .box.left{width:100%; text-align:center; border:none; float:none;}
.products-list .box.center{float:none; text-align:center; width:100%; padding-top:5px;}
.products-list .box.right{float:none; text-align:center; width:100%;}
.em_main .products-list .product-image img{width:auto !important; height:auto !Important;}
.category-products .products-list li.item{padding:5px 0px;}
.products-list button.button{float:none}
/*category*/
/*detail*/
.product-view .product-img-box .more-views{margin:0}
.product-view .productreview_1_1_1{width:auto !important;}
.product-view .product-collateral-left{float:none;}
.product-view .product-collateral-right{float:none;}
.product-view .add-to-links{position:inherit;}
.product-options-bottom .addtocard_small{width:auto;}
.product-view .product-collateral-left .form-add h2{float:none}
/*detail*/
/*shopping cart*/
.checkout-cart-index .cart .cart-collaterals .col2-set .col-1{ width:auto}
.cart .cart-collaterals{padding:0}
.checkout-cart-index .cart .cart-collaterals .col2-set .col-2{ width:auto;}
.checkout-cart-index .cart .cart-collaterals .col2-set .col-1 .buttons-set{float:right; width:39%;}
.checkout-cart-index .cart .cart-collaterals .col2-set .col-2 .shipping-form .buttons-set{width:auto;}
/*shopping cart*/
.recent_views_fixed .recently_viewed{width:217px;}
.recent_views_fixed .recently_viewed .account-create .form-list .input-box input.input-text{width:203px}
.checkout-cart-index .cart .cart-collaterals .col2-set .col-1{float:none; clear:both; overflow:hidden;}
	.checkout-cart-index .cart .cart-collaterals .col2-set .col-1 .buttons-set{float:none; width:auto;}
	.checkout-cart-index .cart .cart-collaterals .col2-set .col-2 .shipping-form .buttons-set{width:100%;}
	.checkout-cart-index .cart .cart-collaterals .col2-set .col-2 .shipping-form .buttons-set span.fees{margin-left:15px;}
.product-pricing table tr td{font-size:10px; padding:0px;}
.stButton .chicklets{font-size:7px !important}
.product-view .custom_status{right:0}
.zoomWindowContainer{width:auto !important}
.catalog-seo-sitemap-category .cat-root, .catalog-seo-sitemap-category .cat-2-1, .catalog-seo-sitemap-category .cat-2-2, .catalog-seo-sitemap-category .Abouthappychef {float:none; width:auto}
.catalog-seo-sitemap-category .Abouthappychef {border:none; margin-top:0px; padding-top:0px;}

@media only screen and (max-width: 240px){
	.container-new-collection .caption{right:45px !important;}
	.cookcool-smart .text-right{margin:0 !important; padding:0px 5px; width:auto !important; text-align:left;}
	.cookcool-smart .image-left{float:none !important; margin:0; padding:0; width:auto !important; height:auto !important; text-align:center; margin-bottom:7px;}
	.recent_views_fixed .recently_viewed{width:147px}
	.recent_views_fixed .recently_viewed .account-create .form-list .input-box input.input-text{width:135px;}
	.cookcool-smart .part-bottom{margin:7px 0px 7px 0px !important; display:inline-block; float:none !important; tex-align:center !important}
	.cookcool-smart .cookcool, .cookcool-smart .smart{text-align:center;}
	.jcarousel-container .products-grid li.item{width:176px; margin:0px 3px;}
	.jcarousel-container .products-grid li.item a.product-image img{width:100%;}
	.footer-wrapper-new .social a{padding-right:5px;}
	.block-subscribe .input-box input.input-text{width:86%;}
	.block-subscribe .input-box{width:62%;}
	.category-products .products-grid li.item .product-item .product-image > img{width:100% !important}
	.block-cart-top .block-content .cart-popup{left:0; width:164px}
	.block-cart-top .block-content #cart-sidebar li .product-details{margin:0; width:auto; float:none; text-align:left;}
	.block-cart-top .block-content #cart-sidebar li{text-align:left;}
	.block.block-cart-top .actions button.button{float:none; margin:5px 0px 0px 0px;}
	.block-cart-top .block-content #cart-sidebar li a.product-image{margin-right:10px;}
	.productlabels_icons .label.female, .productlabels_icons .label.male{top:157px;}
	.checkout-cart-index .cart .cart-collaterals .col2-set .col-1{float:none; clear:both; overflow:hidden;}
	.checkout-cart-index .cart .cart-collaterals .col2-set .col-1 .buttons-set{float:none; width:auto;}
	.checkout-cart-index .cart .cart-collaterals .col2-set .col-2 .shipping-form ul.form-list .input-box input.input-text{width:100%;}
	.checkout-cart-index .cart .cart-collaterals .col2-set .col-2 .shipping-form .buttons-set span.shipping-fee{margin-right:8px;}
	.checkout-cart-index .cart .cart-collaterals .col2-set .buttons-set button.button{border:none; width:100%;}
	.product-options-bottom{width:66%}
}
