/**
 * OneStepCheckout by EMThemes
 *
 * Based on Magento 1.7.0.0 source code
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 EMThemes. (http://www.emthemes.com)
 * @license     Commercial License. Granted for authorized users only.
 */

.opc-1sc:after { content:'.'; display:block; clear:both; visibility:hidden; height:0; overflow:hidden; zoom:1 }
.opc-col1, .opc-col2, .opc-col3 { width:32%; float:left; margin-left:2% }
.opc-col1 { margin-left:0 }

.opc-col .section { margin-bottom:47px; }
.opc-col .section:last-child { border-bottom:0 }

.opc-col .step-title .number { font-size:18px; padding:7px 13px }
.opc-col .step-title h2 { display:inline }

.opc-col .form-list .field { width:100% }
.opc-col .form-list .input-box
.opc-col .form-list li.wide .input-box, {}
.opc-col .form-list input.input-text ,
.opc-col .form-list select,
.opc-col .form-list li.wide input.input-text,
.opc-col .form-list li.wide select,
.opc-col #payment_form_ccsave .input-box input.input-text, 
.opc-col #payment_form_ccsave .input-box select,
.opc-col .discount-form .input-box input.input-text { height: 30px;padding: 6px 5px;width: 100%;}
.opc-col .form-list li.wide textarea {width: 100%;}
.opc-col #payment_form_ccsave.form-list select.month {margin-right: 10px;width: 274px;}

.opc-col .form-list li.control {margin: 5px 0 0;}
.opc-col .discount-form label {font-size: 100%; display: block;}
.opc-col #opc-shipping_method .sp-methods {margin-top: 0;}

.opc-col #payment_form_ccsave.form-list select.year {width:92px;}
/*.opc-col #payment_form_ccsave.form-list .v-fix {width:100%;}*/
/*.opc-col #payment_form_ccsave.form-list .cvv-what-is-this {float:right;}*/

.opc-1sc p.required {float: right;margin: -30px 0 0;padding: 0;text-align: right;}
.opc-col .discount { margin-top:9px}
.opc-col #review-buttons-container.buttons-set button.button {width: 100%;}

.opc-col  #review-buttons-container.buttons-set {float:none;}
.opc-col  #review-buttons-container.buttons-set p.f-left{margin:9px 0 21px;}
#opc-review .buttons-set { padding:0; border:0; margin:1em 0 0 }

/* hide checkbox "Use Billing Address" */
#opc-shipping .control { display:none !important }

/* hide all continue buttons except review's */
.opc-col .buttons-set { display:none !important }
#opc-review .buttons-set { display:block !important }

#opc-login-popup { position:fixed; width:300px; margin:0 auto; z-index:9999; background:#fff; padding:10px 20px }
#opc-login-popup-overlay { display:block; position:fixed; width:100%; height:100%; top:0; left:0; z-index:9998; background:#000; opacity:.7 }
#opc-login-popup .close-btn { background:url(../images/btn_popup-close.png) no-repeat; width:38px; height:38px; position:absolute; top:-19px; right:-19px; text-indent:-99999px }

#opc-login-popup .form-list .input-box { width:100% }
#opc-login-popup .form-list input.input-text { width:95%; }