/*----------------------------------------------VARIABLES-------------------------------------------*/
@browser:safari;
@slideWidth:710;
@slideHeight:243;

/*----------------------------------------------MIXINS-------------------------------------------*/
/*------------------Change Font------------------*/
.changeFont(@font){
	font-family:@font;
}

.changeFonts (@font){
	font:e(@font);
}

.changeFontWeight (@font-weight){
	font-weight:@font-weight;
}

.lighterFont() { font-weight:300 }

/*------------------Change Line------------------*/
.changeLine(border;@thick; @style ; @color){
	border:@arguments;
}
.changeLine(border-left;@thick; @style ; @color){
	border-left:@arguments;
}
.changeLine(border-right;@thick; @style ; @color){
	border-right:@arguments;
}
.changeLine(border-top;@thick; @style ; @color){
	border-top:@arguments;
}
.changeLine(border-bottom;@thick; @style ; @color){
	border-bottom:@arguments;
}
/*------------------Change Background Color ------*/
.changeBkg(@color){
	background-color:@color;
}
.changeBkgImg(@name;@file:"") {
    background-image:~"url(@{img_pattern}/@{name})";
	.changeBkgfile(@file);
}
.changeBkgfile(@name) when not( @name = ""){
    background-image:~"url(@{name})";
}
/*-----------------Change Box Shadow -------------*/
.changeBoxShadow(@inset:"";@hoz:0;@ver:0;@blur:0;@distance:0;@color:#000){
	@ins:escape(@inset);
	-moz-box-shadow:@ins @hoz @ver @blur @distance @color;
	-webkit-box-shadow:@ins @hoz @ver @blur @distance @color;
	box-shadow:@ins @hoz @ver @blur @distance @color;
}

/*-----------------Change Border Radius -------------*/
.changeBorderRadius(@round) {
	border-radius:@round;
	-webkit-border-radius:@round;
	-moz-border-radius:@round;
}

/*------------------Change Text Color------------*/
.changeColor(@color){
	color:@color;
}
/*------------------Only Change Slideshow------*/
.changeSlide(@w;@h){
	width:~"@{w}px";
	height:~"@{h}px";
}
/*-----------------Only Header Gradient----------*/
.header_gradient(@color){
	@color2:lighten(@color,6%);
	@color3:lighten(@color,13%);
	@color4:lighten(@color,10%);
	/*background-size:1px 100%;*/
	/*background-repeat:repeat-x;*/
	background-color:@color;
	background-image:-webkit-linear-gradient(@color3 1%, @color2 40%, @color 65%);
	background-image:-moz-linear-gradient(@color3 1%, @color2 40%, @color 65%);
	background-image:-ms-linear-gradient(@color3 1%, @color2 40%, @color 65%);
    box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;
	filter :~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{color3}, endColorstr=@{color})";zoom:0;
    -ms-filter:~"progid:DXImageTransform.Microsoft.gradient(startColorStr=@{color3},EndColorStr=@{color});"
}
.header_gradient_opposite (@color){
	@color2:lighten(@color,5%);
	@color3:lighten(@color,8%);
	@color4:lighten(@color,6%);
	/*background-size:1px 100%;*/
	background-repeat:repeat-x;
	background-color:@color;
	background-image:-webkit-linear-gradient(@color 1%, @color2 40%, @color3 65%);
	background-image:-moz-linear-gradient(@color 1%, @color2 40%, @color3 65%);
	background-image:-ms-linear-gradient(@color 1%, @color2 40%, @color3 65%);
	filter :~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{color}, endColorstr=@{color3}, GradientType=0 )";zoom:0;
    -ms-filter:~"progid:DXImageTransform.Microsoft.gradient(startColorStr=@{color},EndColorStr=@{color3}, GradientType=0 );"
}

.header_gradient_pie (@color){
	@color2:lighten(@color,6%);
	@color3:lighten(@color,13%);
	@color4:lighten(@color,10%);
	background-color:@color;
	background-image:-webkit-linear-gradient(@color3 1%, @color2 40%, @color 65%);
	background-image:-moz-linear-gradient(@color3 1%, @color2 40%, @color 65%);
	background-image:-ms-linear-gradient(@color3 1%, @color2 40%, @color 65%);
	-pie-background:~"linear-gradient(@{color4} 1%, @{color} 65%)" ;	
    box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;
}

.header_gradient_opposite_pie (@color){
	@color2:lighten(@color,5%);
	@color3:lighten(@color,8%);
	@color4:lighten(@color,6%);
	/*background-size:1px 100%;*/
	background-repeat:repeat-x;
	background-color:@color;
	background-image:-webkit-linear-gradient(@color 1%, @color2 40%, @color3 65%);
	background-image:-moz-linear-gradient(@color 1%, @color2 40%, @color3 65%);
	background-image:-ms-linear-gradient(@color 1%, @color2 40%, @color3 65%);
	-pie-background:~"linear-gradient(@{color} 1%, @{color4} 65%)" ;
}

.menu_gradient(@color1; @color2){
	@color:darken(@color1,12%);	
	/*background-size:1px 100%;*/
	background-color:@color;
	background-repeat:repeat-x;
	background-image:-webkit-linear-gradient(@color 1%, @color2 90%);
	background-image:-moz-linear-gradient(@color 1%, @color2 90%);
	background-image:-ms-linear-gradient(@color 1%, @color2 90%);
	filter :~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{color}, endColorstr=@{color2})";zoom:0;
    -ms-filter:~"progid:DXImageTransform.Microsoft.gradient(startColorStr=@{color},EndColorStr=@{color2});"
}

.body_gradient(@color){
	@color2:lighten(@color,9%);
	background-color:@color;
	background-image:-webkit-linear-gradient(@color2 1%, @color 65%);
	background-image:-moz-linear-gradient(@color2 1%, @color 65%);
	background-image:-ms-linear-gradient(@color2 1%, @color 65%);
	/*-pie-background:~"linear-gradient(@{color2} 1%, @{color} 65%)" ;	*/
    box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;
	filter :~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{color2}, endColorstr=@{color})";zoom:0;
    -ms-filter:~"progid:DXImageTransform.Microsoft.gradient(startColorStr=@{color2},EndColorStr=@{color});"
}

.body_gradient_opposite(@color){
	@color2:lighten(@color,9%);
	background-color:@color;
	background-image:-webkit-linear-gradient(@color 1%, @color2 65%);
	background-image:-moz-linear-gradient(@color 1%, @color2 65%);
	background-image:-ms-linear-gradient(@color 1%, @color2 65%);
	/*-pie-background:~"linear-gradient(@{color} 1%, @{color2} 65%)" ;	*/
    box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;
	filter :~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{color}, endColorstr=@{color2})";zoom:0;
    -ms-filter:~"progid:DXImageTransform.Microsoft.gradient(startColorStr=@{color},EndColorStr=@{color2});"
}

/*----------------Only Search Button Reflect-----*/
.reflect_gradient(@color){
	@color2:lighten(@color,60%);
	/*background-size:1px 100%;*/
	opacity:0.8;
	background-repeat:repeat-x;
	background-color:@color;
	background-image:-webkit-linear-gradient(@color2 1%, @color 100%);
	background-image:-moz-linear-gradient(@color2 1%, @color 100%);
	background-image:-ms-linear-gradient(@color2 1%, @color 100%);
	/*-pie-background:~"linear-gradient(@{color2} 1%, @{color} 100%)" ;*/
}

/* ----------------Only Search Button Reflect----- */
.addBorderBox(){
    box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;	
}

/*----------------Only Footer Button style-----*/
.footer_btn1(@color){
	@color2:lighten(@color,5%);
	background-size:1px 100%;
	background-repeat:repeat-x;
	background-color:@color;
	background-image:-webkit-linear-gradient(@color 100%, @color2 1%);
	background-image:-moz-linear-gradient(@color 100%, @color2 1%);
	background-image:-ms-linear-gradient(@color 100%, @color2 1%);
	/*-pie-background:~"linear-gradient(@{color} 100%, @{color2} 1%)" ;*/
	filter :~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{color}, endColorstr=@{color2})";zoom:0;
    -ms-filter:~"progid:DXImageTransform.Microsoft.gradient(startColorStr=@{color},EndColorStr=@{color2});"
}

/*----------------Transition-----------------*/
.transition(@timer){
	-moz-transition:all @timer ease; 
	-webkit-transition:all @timer ease; 
	-o-transition:all @timer ease; 
	transition:all @timer ease
}

.input_transition(@timer){
	/*-webkit-transition:border linear @timer, box-shadow linear @timer;
	-moz-transition:border linear @timer, box-shadow linear @timer;
	-o-transition:border linear @timer, box-shadow linear @timer;
	transition:border linear @timer, box-shadow linear @timer;*/
}

.transition(@option; @timer; @ease){
	-moz-transition:@option @timer @ease; 
	-webkit-transition:@option @timer @ease; 
	-o-transition:@option @timer @ease; 
	transition:@option @timer @ease
}

.opacity(@op){
	@op100:@op * 100;
	filter:alpha(opacity=@op100); 
	-moz-opacity:@op; 
	-khtml-opacity:@op; 
	opacity:@op; 
	-ms-filter:~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{op100})";
}

/*----------------Button Style-----------------*/
.changeButtonStyle(@button_bgcolor; @button_line; @button_color){
	.changeLine(border;1px; solid ; @button_line); display:block;.header_gradient(@button_bgcolor); position:relative;
	background-color:@button_bgcolor;.changeFonts(@h6_font);
	> span {.changeLine(border-top;1px; solid ; lighten(@button_line,16%)); display:block; }
	&:hover {.header_gradient_opposite(@button_bgcolor);}
	&:hover > span {.changeLine(border-top;1px; solid ; @button_bgcolor);}
	span span {padding:0; .changeFonts(@general_font); .changeColor(@button_color); line-height:24px;}	
}

.changeBacklinkstyle (@button_bgcolor; @button_line; @button_color){
	.changeLine(border;1px; solid ; @button_line); display:block; float:left;background-color:@button_bgcolor;  position:relative;.changeFonts(@h6_font);
	> a {.changeLine(border-top;1px; solid ; lighten(@button_line,16%)); .header_gradient(@button_bgcolor); display:block; .changeFonts(@general_font); .changeColor(@button_color); padding:0 10px 1px; margin:0; line-height:24px;}
	&:hover > a {.changeLine(border-top;1px; solid ; @button_bgcolor); .header_gradient_opposite(@button_bgcolor);}
}

.changeButtonStyle_pie(@button_bgcolor; @button_line; @button_color) {
	.changeLine(border;1px; solid ; @button_line); display:block;.header_gradient_pie(@button_bgcolor); position:relative;.changeFonts(@h6_font);
	background-color:@button_bgcolor;
	> span {.changeLine(border-top;1px; solid ; lighten(@button_line,16%)); display:block; }
	&:hover {.header_gradient_opposite_pie(@button_bgcolor);}
	&:hover > span {.changeLine(border-top;1px; solid ; @button_bgcolor);}
	span span {padding:0; .changeFonts(@general_font); .changeColor(@button_color);  line-height:24px;}	
}