<style>
	.cat-title {
		font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
		font-size: 60px; 
		color: #ffffff;
		display: inline-block;
		position: absolute;
		top: 60%;
		left: 8%;
	}
</style>

<div class="cat-aspot">
<div style="display:inline;"><h2 class="cat-title">COOKCOOL</h2></div>
	<div id="cookcool-aspot">
		<div class="a-desk">
            <img src="{{media url="wysiwyg/a-spot-refresh/CookCool-CatBanner-d.jpg"}}" alt="CookCool" />
		</div>
		<div class="a-mob">
            <img src="{{media url="wysiwyg/a-spot-refresh/CookCool-CatBanner-m.jpg"}}" alt="CookCool" />
		</div>
	</div>
</div>


<style>

	@media only screen and (min-device-width:1024px){ .cat-title{ top: 59%;}}

	@media(max-width: 960px) {
		.cat-title{
			font-size: 45px;
			top: 60%;
		}
	}


	@media (max-width: 768px) {
		.cat-title{
			top: 36%;
		}
	}

	@media(max-width: 680px) {
		.cat-title{
			top: 27%;
			font-size: 32px;
		}
	}

	@media only screen and (max-device-width: 768px) { .cat-title{top: 25%}}

	@media (max-width: 510px) {
		.cat-title{
			top: 25%;
			font-size: 35px;
		}
	}

	@media(max-width: 460px) {
		.cat-title{
			font-size: 30px;
			top: 25%;
			left: 5%;
		}
	}


	@media(max-width: 375px) {
		.cat-title{
			font-size: 25px;
			top: 23%;
			left: 7%;
		}
	}



	@media (max-width: 320px) {
		.cat-title{
			font-size: 20px;
			top: 23%;
		}
	}

	@media only screen and (max-device-width: 320px) {
		.cat-title{
			font-size: 20px;
			top: 28%;
		}
	}




</style>



