.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
}

.jcarousel-skin-tango .jcarousel-container-vertical {

}

.jcarousel-skin-tango .jcarousel-clip {
   
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
margin-left:8px

}

.jcarousel-skin-tango .jcarousel-clip-vertical {
}

.jcarousel-skin-tango .jcarousel-item {

}

.jcarousel-skin-tango .jcarousel-item-horizontal {

}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {

}

.jcarousel-skin-tango .jcarousel-item-vertical {
	clear:both;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
	min-width:50px; /* Giao: must have to workaround for a bug when no circalur */

}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 40%;
    right: 0px;
    width: 38px;
    height: 76px;
    cursor: pointer;
    background: transparent url(slider-arrow.png) no-repeat 100% 0%;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
   /* left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);*/
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: 100% 0%; opacity:0.45
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
   /* background-position: -64px 0;*/
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0 !important; border:none !important;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 40%;
    left: 0px;
    right: auto;
    width: 38px;
    height: 76px;
    cursor: pointer;
    background: transparent url(slider-arrow.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
   /* left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);*/
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: 0 0; opacity:0.45
}
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    /*background-position: -64px 0;*/
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0 !important;border:none !important;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    top:0px;
    left: 21px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat center 8px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: center -36px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: center -36px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;border:none!important;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: -53px;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat center -38px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: center 7px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: center 7px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;border:none!important;
}
