<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard
 * @version    1.0.6
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$giftcard = Mage::getSingleton('checkout/session')->getCurrentGiftCard();
Mage::getSingleton('checkout/session')->setCurrentGiftCard(null);
?>
<div class="discount aw_giftcard">
    <h2><?php echo $this->__('Gift Cards') ?></h2>

    <?php if($giftcard): ?>
        <div id="aw-giftcard-info-block">
            <div class="fieldset">
                <table>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Code');?>
                        </td>
                        <td>
                            <strong class="giftcard-code">
                                <?php echo $giftcard->getCode();?>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Active');?>
                        </td>
                        <td>
                            <strong class="giftcard-status">
                                <?php echo Mage::getModel('aw_giftcard/source_product_attribute_option_yesno')->getOptionText($giftcard->getStatus());?>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Status');?>
                        </td>
                        <td>
                            <strong class="giftcard-state">
                                <?php echo Mage::getModel('aw_giftcard/source_giftcard_status')->getOptionByValue($giftcard->getState());?>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Balance');?>
                        </td>
                        <td>
                            <strong>
                                <span class="price">
                                    <?php echo Mage::helper('core')->currency($giftcard->getBalance());?>
                                </span>
                            </strong>
                        </td>
                    </tr>
                    <?php if ($giftcard->getExpireAt()): ?>
                        <tr>
                            <td class="label">
                                <?php echo $this->__('Expires');?>
                            </td>
                            <td>
                                <strong>
                                    <?php echo $this->formatDate($giftcard->getExpireAt(), 'short')?>
                                </strong>
                            </td>
                        </tr>
                    <?php endif;?>
                </table>
            </div>
        </div>
    <?php endif;?>

    <form id="aw_giftcard-form" action="<?php echo $this->getFormUrl();?>" method="post">
        <fieldset>
            <!--label for="giftcard_code"><?php echo $this->__('Enter your gift card code') ?></label-->
            <div class="<?php if($this->isEEVersion()) echo 'v-fix';else echo 'input-box';?>">
                <input class="required-entry input-text" id="giftcard_code" name="giftcard_code" value="" placeholder="<?php echo $this->__('Enter your gift card code') ?>"/>
            </div>
            <?php if (!$this->isEEVersion()): ?>
                <div class="buttons-set">
            <?php endif;?>
                <button class="button gc-button" onclick="/*javascript:void(0);*/AwGiftcardForm.submit()" type="button" value="<?php echo $this->__('Add Gift Card') ?>" id="gcApplyButton">
                    <?php echo $this->__('Add Gift Card') ?>
                </button>
                <button class="button<?php if($this->isEEVersion()):?> status<?php endif;?> gc-button" onclick="/*javascript:void(0);*/ awGiftcardCheckStatus()" type="button" value="<?php echo $this->__('Check Gift Card status') ?>" id="gcCheckStatusButton">
                    <?php echo $this->__('Check Status') ?>
                </button>
            <?php if (!$this->isEEVersion()): ?>
                </div>
            <?php endif;?>
        </fieldset>

            <div class="gc-tooltip">
                <strong>Please Note:</strong> Gift cards previously purchased on the current Happy Chef website are not enabled on this Preview website. Once the new site is launched all previously purchased gift cards may be applied.
            </div>

        <input id="status_input" type="hidden" value="0" name="status_flag">
    </form>

    <script type="text/javascript">
        var AwGiftcardForm = new VarienForm('aw_giftcard-form');
        var awGiftcardCheckStatus = function () {
            $('status_input').value = 1;
            AwGiftcardForm.submit();
            return true;
        }


       /* jQuery('.gc-button').mouseenter(function() {
            jQuery('.gc-tooltip').slideToggle("fast");
        }).mouseleave(function() {
            jQuery('.gc-tooltip').slideToggle("fast");
        });
        */

    </script>
</div>