<?php
/**
* @author Amasty Team
* @copyright Amasty
* @package Amasty_Conf
*/
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
    $imageWidth = (int)Mage::getStoreConfig('amconf/size/preview_width');
    $imageHeight = (int)Mage::getStoreConfig('amconf/size/preview_height');
    $smallImageSize = (int)Mage::getStoreConfig('amconf/size/thumb');
    $itemCount = (int)Mage::getStoreConfig('amconf/carousel/visible_items');
    //$img = $this->helper('catalog/image')->init($_product, 'image');
    $productImage = $_product->getImage();
    $imgUrl = Mage::getModel('catalog/product_media_config')->getMediaUrl( $productImage );
?>
<?php if ('true' == (string) Mage::getConfig()->getNode('modules/Amasty_Label/active')): ?>
                <div class="amlabel-div">
                <?php echo Mage::helper('amlabel')->getLabels($_product, 'product') ?>
 <?php endif; ?>
<?php if ( $productImage && $productImage != 'no_selection' ): ?>
<div class="product-image">
    <?php
        echo $_img = '<img id="amasty_zoom" width="448" height="504" data-zoom-image="'.$imgUrl.'" src="'.$imgUrl.'" alt=" " title=" " />';
        //echo $_img = '<img id="amasty_zoom" width="448" height="504" data-zoom-image="'.$imgUrl.'" src="'.$imgUrl.'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        //echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</div>

<?php else: ?>
<div class="product-image">
    <?php
        echo $_img = '<img id="amasty_zoom" width="{$imageWidth}" height="{$imageHeight}" data-zoom-image="'.$imgUrl.'" src="'.$imgUrl.'" alt=" " title=" " />';
        //echo $_img = '<img id="amasty_zoom" width="{$imageWidth}" height="{$imageHeight}" data-zoom-image="'.$imgUrl.'" src="'.$imgUrl.'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        //echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</div>

<?php endif; ?>
<!--div class="title"><?php echo $this->__('Hover to zoom')?></div-->
<?php if ('true' == (string)Mage::getConfig()->getNode('modules/Amasty_Label/active')): ?>
                </div>
            <?php endif; ?>

<script type="text/javascript" >
    AmZoomerObj = new AmZoomer(<?php echo Mage::helper('amconf/zoom')->jsParam()?>);
</script>