<?php
$quickCartLink = ($this->getRequest()->getParam('ref') == 'quickcart');
$cartReferer = Mage::helper('core/http')->getHttpReferer();
$sort = Mage::getSingleton('core/session')->getCartSort();
if(!$quickCartLink) {

    $reorderMatches = array(
        'customer/account/index',
        'sales/order/history',
        'sales/order/view'
    );
    foreach($reorderMatches as $match) {
        if(strpos($cartReferer, $match)) {
            ?>
<script type="text/javascript">
    jQuery(document).ready(function(){
        /*-- HOTJAR REORDER TAG --------------------------------*/
        hj('trigger', ['Reorder']);
        hj('tagRecording', ['Reorder']);
        /*-- HOTJAR REORDER TAG --------------------------------*/
    });
</script>
            <?php
            continue;
        }
    }
}
?>
<script type="text/javascript">
    jQuery(document).ready(function(){
        var $=jQuery;
        $(".link-wishlist").colorbox({width:'400px'});

        $('.update_cart_qty').click(function(){
             var qty_cart = $(this).attr("qty-cart");
             $('#itemIds').val(qty_cart);
        });

        $('.color-box').click(function(){
            $('.availability').hide();
        });

        $('.open-cart-embroidery').on('click', function (e) {
            var elId = $(e.target)[0].id;
            if (elId.indexOf('addEmbroidery-') == 0) {
                /*-- GOOGLE ANALYTICS --------------------------------*/
                _gaq.push(['_trackEvent', 'customization', 'pop-up-view', 'Add your name or logo text (cart)']);
                /*-- GOOGLE ANALYTICS --------------------------------*/
            } else if (elId.indexOf('previewEmbroidery-') == 0) {
                /*-- GOOGLE ANALYTICS --------------------------------*/
                _gaq.push(['_trackEvent', 'customization', 'pop-up-view', 'View text (cart)']);
                /*-- GOOGLE ANALYTICS --------------------------------*/
            }

            /*-- HOTJAR TAG --------------------------------*/
            hj('tagRecording', ['Embroidery - start']);
            /*-- HOTJAR TAG --------------------------------*/
        });
	});
</script>
<div id="si-overlay" class="si-overlay"></div>

<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('MSG-cart-and-checkout-shipping-notice')->toHtml(); ?>

<div class="cart bettercheckout">
<?php $itemsCount = $this->getItemsCount() ? $this->getItemsCount() : $this->getQuote()->getItemsCount(); ?>

<?php if(Mage::getSingleton('customer/session')->isLoggedIn() && $itemsCount <= 0): ?>
    <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('checkout/cart/noItems.phtml')->toHtml() ?>
<?php else: ?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('form_before') ?>

    <div class="cart-basket">
        <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post" id="bettercheckout-cart-form">
            <?php echo $this->getBlockHtml('formkey'); ?>

            <fieldset>
                <div id="shopping-cart-table" class="shopcart-header-container">

                    <div class="shopcart-titles">
                        <div class="shopcart-title">Shopping Cart (<?php echo Mage::getModel('checkout/cart')->getQuote()->getItemsQty();?>)</div>
                        <div class="shopcart-secure-lock"></div>
                        <div class="shopcart-secure">Secure Shopping</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="shopcart-header-row clearfix">
                         <div class="shopcart-col shopcart-col-image">&nbsp;</div>
                         <div class="shopcart-col shopcart-col-item"><span class="shopcart-item-th">ITEM</span> <span class="base-unit-price-label">UNIT PRICE</span></div>
                         <div class="shopcart-col shopcart-col-price"></div>
                         <div class="shopcart-col shopcart-col-qty">QTY</div>
                         <div class="shopcart-col shopcart-col-subtotal">SUBTOTAL</div>
                    </div>

                    <div class="shopcart-items-collection" id="shopcart-items-collection">
                        <?php

                       /* PROD-1878 - Request
                        * To have embroidery logo setup fees be first in the cart.
                        * Other than modifying core behavior and tables to order the quote items, this is a quick workaround.
                        */
                        foreach ($sort as $sortOrder => $attrs) {
                            if ($sortOrder == -1) {
                                echo '<div class="shopcart-item-container moved-msg">' .
                                    '<span>' . $attrs['product_name'] . ' has been moved to the "saved for later" section below.</span>' .
                                    '</div>';
                                unset($sort[$sortOrder]);
                            }
                        }

                        $embroiderySetupSkus = Mage::helper('embroidery')->getEmbroiderySetupSkus();
                        foreach($this->getItems() as $key => $_item) {
                            if(in_array($_item->getSku(), $embroiderySetupSkus)) {
                                foreach ($sort as $sortOrder => $attrs) {
                                    if ($sortOrder == $key) {
                                        echo '<div class="shopcart-item-container moved-msg">' .
                                            '<span>' . $attrs['product_name'] . ' has been moved to the "saved for later" section below.</span>' .
                                            '</div>';
                                    }
                                }
                                echo $this->getItemHtml($_item);
                            }
                        }
                        foreach($this->getItems() as $key => $_item) {
                            if(!in_array($_item->getSku(), $embroiderySetupSkus)) {
                                foreach ($sort as $sortOrder => $attrs) {
                                    if ($sortOrder == $key) {
                                        echo '<div class="shopcart-item-container moved-msg">' .
                                            '<span>' . $attrs['product_name'] . ' has been moved to the "saved for later" section below.</span>' .
                                            '</div>';
                                    }
                                }
                                echo $this->getItemHtml($_item);
                            }
                        }

                        foreach ($sort as $sortOrder => $attrs) {
                            if ($sortOrder > count($this->getItems())) {
                                echo '<div class="shopcart-item-container moved-msg">' .
                                    '<span>' . $attrs['product_name'] . ' has been moved to the "saved for later" section below.</span>' .
                                    '</div>';
                            }
                        }

                        Mage::getSingleton('core/session')->unsCartSort();
                       ?>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="sticky-totals" data-sticky-sidebar>
        <div class="totals-container clearfix" data-sticky-sidebar-inner>
            <div class="totals">
               <div class="ajax_loading"></div>
               <h1>ORDER SUMMARY</h1>
               <div class="cart-promocode-link" id="cart-promocode-link">Have a gift card or promo code?</div>
               <div class="promocode-applied-response-message" id="promocode-applied-response-message"></div>
               <div class="cart-promocode-content" id="cart-promocode-content">
                   <form id="apply-promo-form" name="apply-promo-form" action="<?php echo Mage::getBaseUrl()."bettercheckout/applypromo"; ?>">
                       <div  class="cart-promocode-form">
                           <div class="cart-promocode-col1">
                               <input type="text" name="" class="cart-promocode fancy-label" required id="promocode" value="">
                               <label for="promocode"><span>Promo code or gift card</span></label>
                           </div>
                           <div  class="cart-promocode-col2" id="promocode-submit-button">Apply</div>
                       </div>
                       <div class="promocode-response-message" id="promocode-response-message"></div>
                   </form>
               </div>

               <div id="totals-container">
                   <?php echo $this->getChildHtml('totals'); ?>
               </div>

               <?php if(!$this->hasError()): ?>
                   <?php if ($methodHtml = $this->getMethodHtml('checkout.cart.methods.onepage')): ?>
                       <?php echo $methodHtml; ?>
                   <?php endif; ?>
               <?php endif; ?>
            </div>
            <div class="sticky-totals-secure">
                <div class="shopcart-secure">Secure Shopping</div>
           </div>
       </div>
   </div>

<?php endif; ?>
</div><!-- cart bettercheckout -->
<?php $hasSavedCart = false; ?>
<?php if(Mage::getSingleton('customer/session')->isLoggedIn()):
    $_customerId = Mage::getSingleton('customer/session')->getCustomer()->getId();
    $savedCart = Mage::getModel('shoppinglist/group')->getGroupByCustomer($_customerId)->load();
    $hasSavedCart = count($savedCart->getItems()) > 0;
    $block = $this->getLayout()
        ->createBlock('shoppinglist/customer_group','shoppinglist',
            array('template' => 'shoppinglist/customer/group/view.phtml'));
    echo $block->setBlockId('shoppinglist')->toHtml();
endif; ?>

<?php if($hasSavedCart || $itemsCount >= 0): ?>
<div class="saved-cart-contacts-wrap">
    <div class="saved-cart">
        <div class="alpha omega cart-contacts">
            <h1 id="need-assistance">NEED ASSISTANCE?</h1>
            <div class="cart-contacts-container">
                 <div class="cart-contacts-col">
                     <h2>Contact Us</h2>
                     <span class="accent-text">U.S.:</span> +1.<?php echo Mage::getModel('core/variable')
                         ->setStoreId(Mage::app()->getStore()->getId())
                         ->loadByCode('phone_us')
                         ->getValue('text'); ?>
                     <br>
                     <span class="accent-text">Int.:</span> +1.<?php echo Mage::getModel('core/variable')
                         ->setStoreId(Mage::app()->getStore()->getId())
                         ->loadByCode('phone_int')
                         ->getValue('text'); ?>
                 </div>
                 <div class="cart-contacts-col">
                     <h2>Hours</h2>
                     <?php echo Mage::getModel('core/variable')
                         ->setStoreId(Mage::app()->getStore()->getId())
                         ->loadByCode('open_days')
                         ->getValue('text'); ?>
                     <br>
                     <?php echo Mage::getModel('core/variable')
                         ->setStoreId(Mage::app()->getStore()->getId())
                         ->loadByCode('open_hrs')
                         ->getValue('text'); ?>
                 </div>
                 <div class="cart-contacts-col">
                     <h2>Email</h2>
                     <a href="mailto:<?php echo Mage::getStoreConfig('trans_email/ident_support/email'); ?>"><?php echo Mage::getStoreConfig('trans_email/ident_support/email'); ?></a>
                 </div>
                 <div class="cart-contacts-col return-policy">
                     <h2 id="return-policy-link">Return Policy</h2>
                     <div class="popup-return-policy" id="popup-return-policy">
                         <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('returns-and-exchanges-block')->toHtml(); ?>
                     </div>
                 </div>
            </div>

            <div class="canadian-note">
                 <h1 class="hc-red">CANADIAN SHIPPING - Please Read</h1>
                 <?php echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId('canadian_note')->toHtml(); ?>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>

<script>
    var maxShopcartItemBundle = Math.max.apply(Math, jQuery('.shopcart-item-bundle').map(function(){ return jQuery(this).height(); }).get());
</script>

<script>
    jQuery(function($) {
        // set Sticky Sidebar options - https://abouolia.github.io/sticky-sidebar/#options
        $('[data-sticky-sidebar]').stickySidebar({
            bottomSpacing: 10,
            innerWrapperSelector: '[data-sticky-sidebar-inner]',
            minWidth: 769,
            resizeSensor: true,
            topSpacing: 60
        });
    });
</script>

