<script type="text/javascript">
	jQuery(document).ready(function(){
		var $=jQuery;
        $(".link-wishlist").colorbox({width:'400px'});

        $('.update_cart_qty').click(function(){
             var qty_cart = $(this).attr("qty-cart");
             $('#itemIds').val(qty_cart);
        });

        $('.color-box').click(function(){
            $('.availability').hide();
        });

        $('.open-cart-embroidery').on('click', function (e) {
            var elId = $(e.target)[0].id;
            if (elId.indexOf('addEmbroidery-') == 0) {
                /*-- GOOGLE ANALYTICS --------------------------------*/
                _gaq.push(['_trackEvent', 'customization', 'pop-up-view', 'Add your name or logo text (cart)']);
                /*-- GOOGLE ANALYTICS --------------------------------*/
            } else if (elId.indexOf('previewEmbroidery-') == 0) {
                /*-- GOOGLE ANALYTICS --------------------------------*/
                _gaq.push(['_trackEvent', 'customization', 'pop-up-view', 'View text (cart)']);
                /*-- GOOGLE ANALYTICS --------------------------------*/
            }

            /*-- HOTJAR TAG --------------------------------*/
            hj('tagRecording', ['Embroidery - start']);
            /*-- HOTJAR TAG --------------------------------*/
        });

	})
</script>
<div id="si-overlay" class="si-overlay"></div>
<div class="cart bettercheckout">
   <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
   <?php echo $this->getChildHtml('form_before') ?>
   <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post" id="bettercheckout-cart-form">
      <?php echo $this->getBlockHtml('formkey'); ?>
      <fieldset>
         <div id="shopping-cart-table" class="shopcart-header-container">

             <div class="shopcart-titles">
                 <div class="shopcart-title">Shopping Cart (<?php echo Mage::getModel('checkout/cart')->getQuote()->getItemsQty();?>)</div>
                 <div class="shopcart-secure-lock"></div>
                 <div class="shopcart-secure">Secure Shopping</div>
                 <div class="clearfix"></div>
            </div>

             <div class="shopcart-header-row clearfix">
                 <div class="shopcart-col shopcart-col-image">&nbsp;</div>
                 <div class="shopcart-col shopcart-col-item">ITEM</div>
                 <div class="shopcart-col shopcart-col-price">UNIT PRICE</div>
                 <div class="shopcart-col shopcart-col-qty">QTY</div>
                 <div class="shopcart-col shopcart-col-subtotal">SUBTOTAL</div>
             </div>

             <div class="shopcart-items-collection" id="shopcart-items-collection">
               <?php
               foreach($this->getItems() as $_item) {
                  echo $this->getItemHtml($_item);
               }
               ?>
            </div>

         </div>
      </fieldset>
   </form>

   <div class="cart-collaterals">

       <div class="cart-contacts">
           <h1 id="need-assistance">NEED ASSISTANCE?</h1>
           <div class="cart-contacts-container">
               <div class="cart-contacts-col">
                   <h2>Contact Us</h2>
                   <span class="accent-text">U.S.:</span> +1.800.347.0288<br>
                   <span class="accent-text">Int.:</span> +1.973.492.2525
               </div>
               <div class="cart-contacts-col">
                   <h2>Hours</h2>
                           Mon. - Fri.<br>
                           9:00 am - 5:30 pm EST
               </div>
               <div class="cart-contacts-col">
                   <h2>Email</h2>
                   <a href="mailto:info@happychef.com">info@happychef.com</a>
               </div>
           </div>

           <div class="canadian-note">
               <h1 class="hc-red">CANADIAN SHIPPING - Please Read</h1>
               <?php echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId('canadian_note')->toHtml(); ?>
           </div>
       </div>


       <div class="totals-container">
           <div class="totals">
               <div class="ajax_loading"></div>
               <h1>ORDER SUMMARY</h1>

               <div id="totals-container">
                   <?php echo $this->getChildHtml('totals'); ?>
               </div>

               <?php if(!$this->hasError()): ?>
                   <?php if ($methodHtml = $this->getMethodHtml('checkout.cart.methods.onepage')): ?>
                       <?php echo $methodHtml; ?>
                   <?php endif; ?>
               <?php endif; ?>
           </div>
       </div>


   </div>
</div>

<script>
    var maxShopcartItemBundle = Math.max.apply(Math, jQuery('.shopcart-item-bundle').map(function(){ return jQuery(this).height(); }).get());
</script>
