<?php
$item   = $this->getItem();
if ($item) { ?>
<a href="<?php echo $item->getBigImgUrl() ?>" rel="tlLightbox[]" title="">
    <img src="<?php echo $item->getUrl() ?>" title="" class="small-image-preview v-middle" />
</a>
<?php } ?>