<div class="cms-pg">
    <div class="unprinted">
        <p>The label below has also been emailed to <span style="font-weight:600;"><?php echo $custEmail ?></span></p>
        <div class="print-actions">
            <div class="btn-blue print-btn" onclick="window.print();"><span>PRINT LABEL</span></div>
        </div>
        <h1>Return Shipping Label</h1>
        <p>Cut out this label and affix to the outside of the return package</p>
    </div>
    <div class="return-label-wrap">
        <img alt="Shipping label" class="return-label-img" src="data:image/jpg;charset=utf8;base64,<?php echo $graphicImage ?>"/>
    </div>
</div>
