<?php $session = Mage::getSingleton('customer/session'); ?>
<?php if($session->isLoggedIn()): ?>
    <li>Go to <a class="hc-blue" href="<?php echo Mage::getBaseUrl().'sales/order/history' ?>">My Orders</a> and select the order you want to return</li>
<?php else: ?>
    <li>Go to <span class="false-link hc-blue" onclick="createSidebarSignin(this, '<?php echo Mage::getBaseUrl() . 'customer/account/login?redirect=' . rawurlencode('sales/order/history') ?>')">My Orders</span> and select the order you want to return</li>
<?php endif; ?>