<script type="text/javascript">

    //<![CDATA[
    var dataForm = new VarienForm('returns');
    var validator = new Validation(dataForm);
    if (validator.validate()) {
        dataForm.submit();
    }
    //]]>

</script>

<?php
$orderId = $this->getRequest()->getParam('order_id');
$email = $this->getRequest()->getParam('email');
$customerLocatedForPrepaid = $this->isCustomerLocatedForPrepaidLabel($orderId);
?>

<div class="cms-pg">
    <h1 class="cms-head">WAYS TO RETURN</h1>
    <?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
    <div class="return-option-container">
        <div class="return-option-wrap">
            <?php if($customerLocatedForPrepaid): ?>
                <div class="return-option">
                    <h3 class="cms-title-bold">Option 1</h3>
                    <h2 class="cms-sub-bold">Use our prepaid return label</h2>
                    <ol class="opt-list">
                        <li>Fill out the return form on the back of your packing slip (Lost it? <a class="hc-blue" target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'ProductReturnForm.pdf' ?>">Download a printable version here</a>).</li>
                        <li>Securely pack the items you're returning and include the completed return form in the package.</li>
                        <li>Print the prepaid shipping label using the button below.</li>
                        <li>Drop off your package at any UPS location.</li>
                    </ol>

                    <div class="returns-form-wrap">
                        <div class="checkbox-wrap clearfix">
                            <div class="checkbox">
                                <label class="myCheckbox">
                                    <input id="returnFeeConfirm" type="checkbox">
                                    <span></span>
                                </label>
                                <span class="return-notice">I understand a shipping fee of $9.99 will be deducted when my return order is processed at the Happy Chef facility.</span>
                            </div>
                        </div>

                        <form name="form" id="returns" novalidate action="<?php echo $this->getFormActionUrl($orderId, $email); ?>" method="post">
                            <div id="button_generate_div">
                                <button type="submit" class="btn-blue btn-tall generatelabelbutton"><?php echo $this->__('CREATE PREPAID SHIPPING LABEL'); ?></button>
                            </div
                        </form>
                    </div>
                </div>
            <?php endif; ?>
            <div class="return-option">
                <?php if($customerLocatedForPrepaid): ?>
                    <h3 class="cms-title-bold">Option 2</h3>
                <?php endif; ?>
                <h2 class="cms-sub-bold">Return by mail via the carrier of your choice</h2>
                <ol class="opt-list">
                    <li>Fill out the return form on the back of your packing slip (Lost it? <a class="hc-blue" target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'ProductReturnForm.pdf' ?>">Download a printable version here</a>).</li>
                    <li>Securely pack the items you're returning and include the completed return form in the package.</li>
                    <li>Bring the package to a shipping carrier of your choice, add postage, and send to:
                        <div class="return-address">
                            <p>Happy Chef Uniforms</p>
                            <?php
                            // Note that this is intentionally "Returns" for manual returns but "Returns Processing Center" (database config as of this comment) for generated UPS labels.
                            // They use this subtle distinction in the second line as an additional indicator for whether the label should be charged back to the customer.
                            // The official distinction is whether there is a RMA number (only present for postpaid generated labels), but Mark wanted this distinction as a backup.
                            ?>
                            <p>Returns</p>
                            <p>22 Park Place</p>
                            <p>Butler, NJ 07405</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {

        var toggleSbmtBtn = function() {
            var formSbmtBtn = $('#returns').find('button[type=submit]');
            if ($('#returnFeeConfirm').is(':checked')) {
                formSbmtBtn.removeProp('disabled').removeClass('disabled');
            } else {
                formSbmtBtn.prop('disabled', 'disabled').addClass('disabled');
            }
        };

        toggleSbmtBtn();

        $('#returnFeeConfirm').on('change', toggleSbmtBtn);
    });
</script>
