<div class="scf skg">
    <a href="{{store direct_url="cookcool.html"}}">
        <div class="hide-768">
            <img src="{{media url="wysiwyg/home-pg/refresh/HPd1/d1-spot-d.png"}}" alt="Shop Cookcool" />
        </div>
        <div class="show-768">
            <img src="{{media url="wysiwyg/home-pg/refresh/HPd1/d1-spot-m.png"}}" alt="Shop Cookcool" />
        </div>
    </a>
</div>
