<?php

$_option = $this->getOption();
$valuesHtml = $this->getValuesHtml(); 
if ($valuesHtml): ?>
<div <?php if (Mage::helper('customoptions')->hideDependentOption() && $_option->getIsDependent() || $_option->getViewMode()==2) { ?>style="display: none;"<?php } ?> class="option">
<dl>
<dt><label><?php echo $this->htmlEscape($_option->getTitle()) ?><?php if ($_option->getIsRequire(true)): ?><span class="required">&nbsp;*</span><?php endif; ?></label>
<?php if ($_option->getDescription()): ?><p class="note"><?php echo $_option->getDescription() ?></p><?php endif; ?></dt>
<dd<?php if ($_option->decoratedIsLast) { ?> class="last"<?php } ?>>
    <?php echo $valuesHtml ?>
    <?php if ($_option->getIsRequire(true)): ?>
    <?php if ($_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_RADIO || $_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_CHECKBOX): ?>
                <span id="options-<?php echo $_option->getId() ?>-container"></span>
    <?php endif; ?>
    <?php endif; ?>
    <?php if (Mage::helper('customoptions')->isQntyInputEnabled() && $_option->getQntyInput() && $_option->getType()!=Mage_Catalog_Model_Product_Option::OPTION_TYPE_CHECKBOX && $_option->getType()!=Tl_CustomOptions_Model_Catalog_Product_Option::OPTION_TYPE_MULTISWATCH): ?>
        <span class="qty-holder">
            <label><?php echo Mage::helper('sales')->__('Qty') ?>: <input type="text" class="input-text qty <?php if ($_option->getIsRequire(true)) echo 'validate-greater-than-zero'; else echo 'validate-zero-or-greater'; ?>" title="<?php echo $this->htmlEscape(Mage::helper('sales')->__('Qty')) ?>" value="<?php echo ($_option->getOptionQty()?$_option->getOptionQty():1) ?>" maxlength="12" id="options_<?php echo $_option->getId() ?>_qty" name="options_<?php echo $_option->getId() ?>_qty" <?php if ($_option->getOptionSetQtyProduct()) { ?>onchange="optionSetQtyProduct.setQty(<?php echo $_option->getId() ?>)" onKeyPress="if(event.keyCode==13) optionSetQtyProduct.setQty(<?php echo $_option->getId() ?>)"<?php } ?>}></label>
        </span>
    <?php endif; ?>
</dd>
</dl>
</div>
<?php endif; ?>
