<!--@subject You've been sent a gift from {{var sender_name}} @-->
<head>
<title>$5 Back</title>
<meta name="viewport" content="width=3D760">
<meta http-equiv="content-type" content="text/html; charset=3Dutf-8">
<style type="text/css">
a, a.aapl-link, a.aapl-link:link {
	text-decoration:none;
}
a.aapl-link:hover {
	text-decoration:underline;
}
a#aapl-ribbon:hover {
	text-decoration:none;
}
body {
	width:100% !important;
}
@media only screen and (max-device-width: 768px) {
 #aapl-store-name {
line-height: 1.25em !important;
}
 #aapl-eyebrow {
-webkit-text-size-adjust:100%;
}
 #aapl-footer, #aapl-tiles {
-webkit-text-size-adjust:120%;
}
 #aapl-eyebrow a, #aapl-footer a, a {
color:inherit;
}
 * img#aapl-overhang {
display:block !important;
}
 * img#aapl-border {
display:block !important;
}
}
@media only screen and (device-width: 320px) and (-webkit-max-device-pixel-= ratio: 1) {
 * img#aapl-overhang {
display:none !important;
}
=20 * img#aapl-border {
display:none !important;
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
 * img#aapl-overhang {
display:block !important;
}
 * img#aapl-border {
display:block !important;
}
}
a {
	color:#333;
}
hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(215, 215, 215, 0), rgba(215, 215, 215, 1), rgba(215, 215, 215, 0));
	background-image:    -moz-linear-gradient(left, rgba(215, 215, 215, 0), rgba(215, 215, 215, 1), rgba(215, 215, 215, 0));
	background-image:     -ms-linear-gradient(left, rgba(215, 215, 215, 0), rgba(215, 215, 215, 1), rgba(215, 215, 215, 0));
	background-image:      -o-linear-gradient(left, rgba(215, 215, 215, 0), rgba(215, 215, 215, 1), rgba(215, 215, 215, 0));
	margin-top:10px;
	margin-bottom:10px;
}
</style>


</head>
<body bgcolor="#f2f2f2" style="margin: 0;padding: 0;width: 100% !important;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td style="padding:8px 9px 30px 9px; background-color:#f2f2f2;"><table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
        <tr>
          <td align="left" valign="top" style="padding:0 21px 6px 5px"><div style="font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;color:#666666; font-size:10px; line-height:1em"><a href="https://happychef.com/adtrack/?CatID=5&SourceID=210&CampaignID=450&AdGroupID=21120&AdID=43240&utm_source=HC&utm_medium=email&utm_term=&utm_campaign=Monthly%20Specials&EmailID=*|EmailID|*" style="text-decoration: none;color: #333;">Aprons</a> : <a href="https://happychef.com/adtrack/?CatID=2&SourceID=210&CampaignID=450&AdGroupID=21120&AdID=43240&utm_source=HC&utm_medium=email&utm_term=&utm_campaign=Monthly%20Specials&EmailID=*|EmailID|*" style="text-decoration: none;color: #333;">Coats</a> : <a href="https://happychef.com/adtrack/?CatID=43&SourceID=210&CampaignID=450&AdGroupID=21120&AdID=43240&utm_source=HC&utm_medium=email&utm_term=&utm_campaign=Monthly%20Specials&EmailID=*|EmailID|*" style="text-decoration: none;color: #333;">CookCool</a> : <a href="https://happychef.com/adtrack/?CatID=35&SourceID=210&CampaignID=450&AdGroupID=21120&AdID=43240&utm_source=HC&utm_medium=email&utm_term=&utm_campaign=New%20Campaign&EmailID=*|EmailID|*" style="text-decoration: none;color: #333;">Hats</a> : <a href="https://happychef.com/adtrack/?CatID=1&SourceID=210&CampaignID=450&AdGroupID=21120&AdID=43240&utm_source=HC&utm_medium=email&utm_term=&utm_campaign=Monthly%20Specials&EmailID=*|EmailID|*" style="text-decoration: none;color: #333;">Pants</a> : <a href="https://happychef.com/adtrack/?CatID=39&SourceID=210&CampaignID=450&AdGroupID=21120&AdID=43240&utm_source=HC&utm_medium=email&utm_term=&utm_campaign=New Campaign&EmailID=*|EmailID|*" style="text-decoration: none;color: #333;">Womens</a></div></td>
          <td align="right" valign="top" style="padding:0 5px 6px 0"><div style="font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;color:#666666; font-size:10px; line-height:1em">(800) 347-0288</div></td>
        </tr>
      </table>
      <table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
        <tr>
          <td width="700" style="-webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; background-color:#f2f2f2" bgcolor="#f2f2f2"><img src="https://happychef.com/email/20120626/images/top.jpg" width="700" height="4" style="display:block; margin:0;" border="0" alt=""></td>
        </tr>
      </table>
      <table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
        <tr>
          <td width="1" bgcolor="#dadada"></td>
          <td width="698" bgcolor="#ffffff"><div style="font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;color:#666666; font-size:13px; line-height:1.2em; padding:20px;"> <img src="https://happychef.com/skin/frontend/default/em0080/images/logo.png" width="98" height="43" alt="Happy Chef"><br><br>

<p>Hello!<br><br>

  Someone who thinks you are special has sent you a gift card from Happy Chef Uniforms! You can use your gift card toward the purchase of any of online merchandise. Whatever you do DO NOT DELETE THIS E-MAIL! There's a gift card code down below that you'll need when placing your order. <br><br>
  FROM:&nbsp;{{var sender_name|escape}}<br>
  MESSAGE:&nbsp;{{var message}}<br>
  Gift Card Amount:&nbsp;{{var balance}}<br>
  Gift Card Number:&nbsp;{{var giftcards.format('html')}}<br>
  Check Balance - <a href="https://happychef.com/giftcard" style="color: #073f94;text-decoration: none;">https://happychef.com/giftcard</a><br><br>

  How do you redeem your Happy Chef Uniforms gift card? It's simple, just follow these three easy steps:

  <ol>
  <li>Visit our website at <a href="https://happychef.com/" style="color: #073f94;text-decoration: none;">https://happychef.com</a>.<br></li>
  <li>Select the item(s) you would like to purchase.<br></li>
  <li>When you are done with your selection, proceed to checkout and enter the gift card code.<br></li>
  </ol>

  Special terms about our gift cards:<br>

  <ul>
	  <li>This gift card may only be redeemed at <a href="https://happychef.com/" style="color: #073f94;text-decoration: none;">https://happychef.com</a>.<br></li>
	  <li>Gift cards are not redeemable for cash.<br></li>
	  <li>If you don't spend the entire amount of the gift card, the unused balance will be put into your gift card account.<br></li>
	  <li>If what you're buying costs more than the amount that your gift card covers, you'll have to pay for the balance must be paid with a credit card.<br></li>
	  <li>Please note, gift cards are like cash and cannot be replaced if lost or stolen. Once a gift card is redeemed online, it cannot be used again.<br></li>
  </ul>

  Questions? Send an e-mail to our customer care team at <a href="mailto:info@happychef.com" style="color: #073f94;text-decoration: none;">info@happychef.com</a> or give us a call toll-free at (800) 347-0288.</p>
<p>Your friends at Happy Chef Uniforms<br>
___________________________________ <br>
  <br>

  Happy Chef Uniforms<br>
  <a href="https://happychef.com/" style="color: #073f94;text-decoration: none;">https://happychef.com</a><br>
  <a href="mailto:info@happychef.com" style="color: #073f94;text-decoration: none;">info@happychef.com</a><br>
  or call toll free (800) 347-0288<br>
</p>

<br>
            </div></td>
          <td width="1" bgcolor="#dadada"></td>
        </tr>
      </table>
      <table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
        <tr>
          <td width="700" style="-webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; background-color:#f2f2f2" bgcolor="#f2f2f2"><img src="https://happychef.com/email/20120626/images/bot.gif" width="700" height="4" style="display:block; margin:0;" border="0" alt=""></td>
        </tr>
      </table>
      <table width="700" border="0" cellspacing="0" cellpadding="0" align="center" id="aapl-footer">
        <tr>
          <td style="padding:20px 0px 10px 0px;"><div style="font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;color:#999999; font-size:11px; line-height: 1.6em; color:#999999;">
              <div style="font-size:14px; font-weight:bold;">Need assistance? Call toll free! (800) 347-0288</div>
              <br>
              Extraordinary service is the hallmark of The Happy Chef. Our standard of excellence begins with the great people in our customer service department who are trained to be knowledgeable in our product lines. If you need help selecting a product, call us at (800) 347-0288 from 9 AM to 5:30 PM Eastern U.S. time, Monday through Friday. We will be HAPPY to assist you.<br>
              <br>
              Copyright © 2016 The Happy Chef, Inc. 22 Park Place, Butler, New Jersey 07405. All rights reserved.<br>
              <br>
              The Happy Chef® Logo is a registered trademark of the Happy Chef, Inc.</div></td>
        </tr>
      </table></td>
  </tr>
</table>
            <center>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="canspamBarWrapper" style="background-color:#FFFFFF; border-top:1px solid #E5E5E5;">
                    <tr>
                        <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
                            <table border="0" cellpadding="0" cellspacing="0" id="canspamBar">
                                <tr>
                                    <td align="center" valign="top" style="color:#606060; font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height:150%; padding-right:20px; padding-bottom:5px; padding-left:20px; text-align:center;">
                                        This email was sent to <a href="*|EMAIL|*" target="_blank" style="color:#404040 !important;">*|EMAIL|*</a>
                                        <br>
                                        <a href="*|ABOUT_LIST|*" target="_blank" style="color:#404040 !important;"><em>why did I get this?</em></a>    <a href="*|UNSUB|*" style="color:#404040 !important;">unsubscribe from this list</a>    <a href="*|UPDATE_PROFILE|*" style="color:#404040 !important;">update subscription preferences</a>
                                        <br>
                                        *|LIST:ADDRESSLINE|*
                                        <br>
                                        <br>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <style type="text/css">
                    @media only screen and (max-width: 480px){
                        table[id="canspamBar"] td{font-size:14px !important;}
                        table[id="canspamBar"] td a{display:block !important; margin-top:10px !important;}
                    }
                </style>
            </center>
</body>
