<?php
/** COPYRIGHT authorizeCIM 2011-2014 Eric Levine */
?>
<?php $_code=$this->getMethodCode() ?>
<?php	//authorizeCIM 2014
$custID=0; $poall=''; $lastused=0; $firstsaved=0; $profilecount=0; $showall=0; $orderid=0; $sql='';
if(!$this->hasVerification()) {$cvv=false; } else {$cvv=true; }
if (Mage::getSingleton('customer/session')->isLoggedIn()){
  $custID=Mage::getSingleton('customer/session')->getCustomerId();
}
	$orderTable=Mage::getConfig()->getTablePrefix().'sales_flat_order'; 
	$orderPaymentTable=Mage::getConfig()->getTablePrefix().'sales_flat_order_payment'; 	
	
	$sql = "SELECT * FROM $orderPaymentTable p, $orderTable q WHERE p.cc_ss_start_month>0 AND q.customer_id=".$custID." AND q.entity_id=p.parent_id AND p.cc_type > '' AND p.method='authorizecimsoap' AND p.cc_last4 IS NOT NULL AND p.cc_last4>=0 AND p.cc_last4<10000 ORDER BY p.entity_id desc;";
	//print $sql;

if($sql>'') {
	$results = Mage::getSingleton('core/resource')->getConnection('core_read')->fetchAll($sql);
	$profiletoken=array();
	$profileexpmonth=array();
	$profileexpyear=array();
	$profilecctype=array();
	$profilesavecim=array();
	$profilelast4=array();
	$showcount = Mage::getStoreConfig('payment/authorizecimsoap/cardstoshow');
	$showall = Mage::getStoreConfig('payment/authorizecimsoap/showall');
	foreach($results as $data2) {
		 $poall = $data2['po_number'];
		$poall = str_replace('"','',$poall);
		 $poparts = preg_split('/-/',$poall);
		 $cimcustid=$poparts[0];
		 $cimprofid=$poparts[1];
		 $last4 = $data2['cc_last4'];
		 $token="tkn-$poall-$last4";
		 if($firstsaved==0) { $firstsaved=$cimprofid;  }
		 if(!isset($profilelast4[$last4])) {
			$profiletoken[$cimprofid]=$token;
				if($data2['cc_ss_start_month']!="0") {$profilesavecim[$cimprofid]="1"; } else {$profilesavecim[$cimprofid]="0"; }
				$profilecctype[$cimprofid]=$data2['cc_type'];
				$profileexpmonth[$cimprofid]=$data2['cc_exp_month'];
				$profileexpyear[$cimprofid]=$data2['cc_exp_year'];
				$profilelast4[$last4]=$cimprofid;
				$profilecount=$profilecount+1;
				if($profilesavecim[$cimprofid]!="0") { 
					if($lastused==0) { $lastused=$cimprofid;  }
				}
				
		}
	}
	if($lastused==0) { $lastused=$firstsaved;  }
	if($showcount<1) { $showcount=0; $profilecount=0; }
}

if((substr($_code,0,12) == 'authorizecim') && ($profilecount>0)) {
	$detailblock="style='display:block; margin-left:1cm;'";
} else {
	$detailblock="style='display:block;'";
}
?>


<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:block; margin-left:1cm;">
	<?php if((substr($_code,0,12) == 'authorizecim') && ($profilecount>0)) : ?>
        <?php die("ded"); ?>
		<span style="font-weight: 500;">
		<br />
		<?php $showindex=0;
		foreach($profiletoken as $profilepay => $token):
         $lblCode = $profilecctype[$profilepay];
         switch ($lblCode){
            case "AE":
               $lblVal = "American Express";
               $cardImgPath = Mage::getBaseUrl('media'). "wysiwyg/cc-logos/ae-logo.png";
               break;
            
            case "VI":
               $lblVal = "Visa";
               $cardImgPath = Mage::getBaseUrl('media'). "wysiwyg/cc-logos/vi-logo.png";
               break;
               
            case "MC":
               $lblVal = "Mastercard";
               $cardImgPath = Mage::getBaseUrl('media'). "wysiwyg/cc-logos/mc-logo.png";
               break;
               
            case "DI":
               $lblVal = "Discover";
               $cardImgPath = Mage::getBaseUrl('media'). "wysiwyg/cc-logos/di-logo.png";
               break;
         }
            echo("debug: " + $profilelast4[$profilepay]);

			if(isset($profilelast4[$profilepay]) AND ($profilelast4[$profilepay]==0)) {
					if($profilecctype[$profilepay]>'') {
                  		$llabel = "Use saved card - <img class=\"savedCardLogo\" src=\"".$cardImgPath."\" \/>".$lblVal." card  on file.";
					} else {
						$llabel = "Use saved card on file."; 
					}
			} else {
					if($profilecctype[$profilepay]>'') {
						$llabel = "Use saved card - <img class=\"savedCardLogo\" src=\"".$cardImgPath."\" \/>".$lblVal." card on file ending in ".substr($token,-4); 
					} else {
						$llabel = "Use saved card on file ending ".substr($token,-4); 
					}
			}

					$labelid = $_code."label".$profilepay;
					$tokenid = $_code."token".$profilepay;
					$cctypeid = $_code."cctype".$profilepay;
					$expmonthid = $_code."expmonth".$profilepay;
					$expyearid = $_code."expyear".$profilepay;
					$savecimid = $_code."savecim".$profilepay;
					
					if(substr($token,-2) != "-0") {
						if($profilesavecim[$profilepay]=="0") { $llabel = "Use card on file ending in ".substr($token,-4);  } else { 	$showindex=$showindex+1;  }
					} else {
						if($profilesavecim[$profilepay]=="0") { $llabel = "Use card on file.";  } else { 	$showindex=$showindex+1;  }
					}

					if((($profilesavecim[$profilepay]!="0") && ($showindex<=$showcount)) OR ($showall=="1")):
					?>

                    <input type="radio" name="payment[token]" id='<?php echo $labelid ?>' class="savedCardInput" checked="checked" onClick="
                                var seedValue = this.value;
                                jQuery('#authorizecimsoap_cc_number').val(jQuery('#authorizecimsoaptoken'+seedValue).val());
                                jQuery('#authorizecimsoap_cc_number').attr('class', '');
                                jQuery('#authorizecimsoap_cc_type').val(jQuery('#authorizecimsoapcctype'+seedValue).val());
                                jQuery('#authorizecimsoap_cc_type').attr('class', '');
                                jQuery('#authorizecimsoap_expiration').val(jQuery('#authorizecimsoapexpmonth'+seedValue).val());
                                jQuery('#authorizecimsoap_expiration').attr('class', '');
                                jQuery('#authorizecimsoap_expiration_yr').val(jQuery('#authorizecimsoapexpyear'+seedValue).val());
                                jQuery('#authorizecimsoap_expiration_yr').attr('class', '');

                                if (jQuery('#authorizecimsoapsavecim'+seedValue) != '0') {
                                    jQuery('#authorizecimsoap_savecim').prop('checked', true);
                                } else {
                                    jQuery('#authorizecimsoap_savecim').prop('checked', false);
                                }
                                jQuery('#authorizecimsoap_savecim').attr('class', '');
                                <?php if($cvv): ?>
                                    jQuery('#authorizecimsoap_cc_cid').attr('class','required-entry input-text validate-cc-cvn');
                                    if(jQuery('#authorizecimsoapcctype'+seedValue) != 'AE') {
                                        jQuery('#authorizecimsoap_cc_cid').val('111');
                                    } else {
                                       jQuery('#authorizecimsoap_cc_cid').val('1111');
                                    }
                                <?php endif; ?>
                                jQuery('#authorizecimsoapdetailsection').css('display', 'none');

					
					" value="<?php echo "$profilepay" ?>" > <?php echo $this->__($llabel) ?>
					<input type=hidden id="<?php echo $tokenid ?>" name="<?php echo $tokenid ?>" value="<?php echo $profiletoken[$profilepay] ?>">
					<input type=hidden id="<?php echo $cctypeid ?>" name="<?php echo $cctypeid ?>" value="<?php echo $profilecctype[$profilepay] ?>">
					<input type=hidden id="<?php echo $expmonthid ?>" name="<?php echo $expmonthid ?>" value="<?php echo $profileexpmonth[$profilepay] ?>">
					<input type=hidden id="<?php echo $expyearid ?>" name="<?php echo $expyearid ?>" value="<?php echo $profileexpyear[$profilepay] ?>">
					<input type=hidden id="<?php echo $savecimid ?>" name="<?php echo $savecimid ?>" value="<?php echo $profilesavecim[$profilepay] ?>">
					<br />
		<?php endif;
		endforeach; ?>
		</span>		
    <?php endif; ?>
    </br>
	<?php if (($_code == 'authorizecimsoap') && ($profilecount>0)): ?> 
	<input id="<?php echo $_code ?>fullcc" value="payment[token]" type="radio" name="payment[token]" 
			 onClick="
				 jQuery('#authorizecimsoap_cc_number').attr('class','input-text validate-cc-number');
                 jQuery('#authorizecimsoap_cc_number').val('');

                 jQuery('#authorizecimsoap_cc_type').attr('class','required-entry validate-cc-type-select');
                 jQuery('#authorizecimsoap_cc_type').val('');

                 jQuery('#authorizecimsoap_expiration').attr('class','month validate-cc-exp required-entry');
                 jQuery('#authorizecimsoap_expiration').val('');

                 jQuery('#authorizecimsoap_expiration_yr').attr('class','year required-entry');
                 jQuery('#authorizecimsoap_expiration_yr').val('');

             <?php if($cvv): ?>
                    jQuery('#authorizecimsoap_cc_cid').attr('class','required-entry input-text validate-cc-cvn');
                    jQuery('#authorizecimsoap_cc_cid').val('');
                 <?php endif; ?>
                 jQuery('#authorizecimsoap_savecim').prop('checked',true);
                 jQuery('#authorizecimsoapdetailsection').css('display', 'block');
	" />
	<?php endif; ?>	
   <div class="billing-address-notice">Enter New card</div>
      
      
<span id="<?php echo $_code ?>detailsection" <?php print $detailblock; ?>>
   <!-- CC TYPE INPUT -->
   <span class="billAddrNote">Please enter a credit card with a billing address that matches the billing address you are using for this order.</span>
   <div id="newCCEntryForm" class="clearfix">
      <div class="typeImageRow">
          <li class="type">
              <div class="input-box">
                  <label for="<?php echo $_code ?>_cc_type"><?php echo Mage::helper('payment')->__('Credit Card Type') ?> <span class="required">*</span></label><br/>
                  <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" class="required-entry validate-cc-type-select">
                  <?php $_ccType = $this->getInfoData('cc_type') ?>
                      <option value=""></option>
                  <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                      <option value="<?php echo $_typeCode ?>"><?php echo $_typeName ?></option>
                  <?php endforeach ?>
                  </select>
              </div>
          </li>
          <li class="typeImage" id="typeImage" style="background-image:url('<?php echo Mage::getBaseUrl('media') ?>wysiwyg/em0080/CreditCardLogos.png');"></li>
       </div>

    
    
    <script>

      jQuery('.validate-cc-type-select').on('change', function(){
         getCCImg();
       });
       
       jQuery('input[name="payment[token]"]').on('change', function(){
         getCCImg();
       });
       
       
      (window.getCCImg = function(){
         cctypeval = document.getElementById('authorizecimsoap_cc_type').value

         switch(cctypeval){
            case 'AE':
                 jQuery("#typeImage").css("background-position","-96px");
                 //jQuery('#authorizecimsoap_cc_number').mask('9999-999999-99999');
                 break;
            case 'MC':
                 jQuery("#typeImage").css("background-position","0");
                 //jQuery('#authorizecimsoap_cc_number').mask('9999-9999-9999-9999');
                 break;
            case 'VI':
                 jQuery("#typeImage").css("background-position","-287px");
                 //jQuery('#authorizecimsoap_cc_number').mask('9999-9999-9999-9999');
                 break;
            case 'DI':
                 jQuery("#typeImage").css("background-position","-191px");
                 //jQuery('#authorizecimsoap_cc_number').mask('9999-9999-9999-9999');
                 break;
            case '':
                 jQuery("#typeImage").css("background-position","100px");
                 //jQuery('#authorizecimsoap_cc_number').mask('9999-9999-9999-9999');
                 break;
         }

      })();

      if( jQuery('#<?php echo $labelid ?>').length ) {
          jQuery('#<?php echo $labelid ?>')[0].onclick();
      }
    </script>
    
    
    <!-- CC NUMBER INPUT -->
    <li>
        <div class="input-box ccNumRow">
            <label for="<?php echo $_code ?>_cc_number"><?php echo Mage::helper('payment')->__('Credit Card Number') ?> <span class="required">*</span></label><br/>
            <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo Mage::helper('payment')->__('Credit Card Number') ?>" class="input-text validate-cc-number" value="<?php echo $this->getInfoData('cc_number')?>"/>
        </div>
    </li>

    <!-- CC EXP. DATE AND CVV INPUTS -->
    <div class="expCvvRow clearfix">
       <li class="exp">
           <div class="input-box">
               <label for="<?php echo $_code ?>_expiration"><?php echo Mage::helper('payment')->__('Expiration Date') ?> <span class="required">*</span></label><br/>
               <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="validate-cc-exp required-entry">
               <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
               <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                   <option value="<?php echo $k ?>"><?php echo $v ?></option>
               <?php endforeach ?>
               </select>
               <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
               <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="required-entry">
               <?php foreach ($this->getCcYears() as $k=>$v): ?>
                   <option value="<?php echo $k ? $k : '' ?>"><?php echo $v ?></option>
               <?php endforeach ?>
               </select>
           </div>
       </li>
       <?php if($cvv): ?>
       <li class="cvv">
           <div class="input-box" class="cvvInput">
               <label title="Card Verification Number" for="<?php echo $_code ?>_cc_cid"><?php echo Mage::helper('payment')->__('CVV') ?> <span class="required">*</span></label><br/>
               <input type="text" title="<?php echo Mage::helper('payment')->__('CVV*') ?>" class="required-entry input-text validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" style="width:3em !important;" value="<?php echo $this->getInfoData('cc_cid')?>"/>
           </div>
       </li>
       <?php endif; ?>
    </div>
 
	<?php if(substr($_code,0,12) == 'authorizecim') : ?>
      <div class="saveCard">
		   <input type="checkbox" id="<?php echo $_code ?>_savecim" name="payment[cc_ss_start_month]" checked='checked' /><span><?php echo $this->__('keep this card on file') ?></span>
      </div>
	<?php endif; ?>
	</span>
</ul>
</div>
<br />
<?php if((substr($_code,0,12) == 'authorizecim') && ($profilecount>0)) : ?>
<!--script type="text/javascript">
	
				var t = document.getElementById('authorizecimsoap_cc_number');
					t.setAttribute('class','input-text validate-cc-number');
					t.value='';
				var t = document.getElementById('authorizecimsoap_cc_type');
					t.setAttribute('class','required-entry validate-cc-type-select');
				var t = document.getElementById('authorizecimsoap_expiration');
					t.setAttribute('class','month validate-cc-exp required-entry');
				var t = document.getElementById('authorizecimsoap_expiration_yr');
					t.setAttribute('class','year required-entry');
    <?php if($cvv): ?>
				var t = document.getElementById('authorizecimsoap_cc_cid');
					t.setAttribute('class','required-entry input-text validate-cc-cvn');
					t.value='';
    <?php endif; ?>
				var t = document.getElementById('authorizecimsoap_savecim');
					t.checked=true;
				var t = document.getElementById('authorizecimsoapdetailsection');
					t.style.display = 'none';
	
</script-->
<?php endif; ?>
