<?php

$email     = '';
$firstName = '';
$lastName  = '';

if(Mage::getSingleton('customer/session')->isLoggedIn()) {
    $email     = Mage::getSingleton('customer/session')->getCustomer()->getEmail();
    $firstName = Mage::getSingleton('customer/session')->getCustomer()->getFirstname();
    $lastName  = Mage::getSingleton('customer/session')->getCustomer()->getLastname();
}

?>

<style> 
    <!--
.tabs {
  width:60%;
  position: relative;   
  min-height: 300px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.econtent {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
.subtable {
  border-collapse:separate; 
  border-spacing:20px;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .econtent {
  z-index: 1;
}
    -->
</style>

<div class="my-account">
<div class="tabs page-title">
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1" checked>
       <label id="tab1label" for="tab-1"><span id="tabspan1">Subscribe</span></label>
       <div class="econtent">
            <form action="http://happychefuniforms.us2.list-manage1.com/subscribe/post" method="post">
	        <input type="hidden" name="u" value="819a12effb79545ccb04c9b74">
	        <input type="hidden" name="id" value="07a3719f49">
	        <table class="subtable" cellpadding="5" cellspacing="0" border="0" align="center">
		    <tr>
		        <td align="right" class="formLabel"><strong>Email Address</strong> <span class="required">*</span>:
			</td>
		        <td align="left">
    		            <input class="input-text required-entry" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="35" value="<?php echo $email; ?>">
		        </td>
		    </tr>
	            <tr>
		        <td align="right" class="formLabel">First Name:</td>
		        <td align="left">
    			    <input class="input-text" type="text" name="MERGE1" id="MERGE1" size="35" value="<?php echo $firstName; ?>">
		        </td>
		    </tr>
		    <tr>
		        <td align="right" class="formLabel">Last Name:</td>
		        <td align="left">
    			    <input class="input-text" type="text" name="MERGE2" id="MERGE2" size="35" value="<?php echo $lastName; ?>">
		        </td>
		    </tr>
	            <tr>
		        <td align="right"> 
			</td>
		        <td align="left">
	                    <button class="button" type="submit"><span>Subscribe</span></button>
		        </td>
		    </tr>
	        </table>
	    </form> 
        </div> 
    </div>
    <div class="tab">
        <input type="radio" id="tab-2" name="tab-group-1">
        <label  id="tab2label" for="tab-2"><span id="tabspan2">Unsubscribe</span></label>
        <div class="econtent">
            <form id="mc-unsubscribe-form" action="http://happychefuniforms.us2.list-manage1.com/unsubscribe/post" method="post">
	  	<input type="hidden" name="u" value="819a12effb79545ccb04c9b74">
		<input type="hidden" name="id" value="07a3719f49">
		<table  class="subtable" cellpadding="5" cellspacing="0" border="0" align="center">
		    <tr>
			<td align="right" class="formLabel"><strong>Email Address</strong> <span class="asterisk">*</span>:
			</td>
			<td align="left"><input class="input-text required-entry" type="text" name="EMAIL" size="35" value="<?php echo $email; ?>">
			</td>
		    </tr>
		    <tr>
		        <td align="right"> 
			</td>
			<td align="left">
			    <button class="button" type="submit"><span>Unsubscribe</span></button>
			</td>
		    </tr>
		</table>
	    </form> 
        </div> 
    </div>
</div>
</div>

<script type="text/javascript">

jQuery(document).ready(function() {
   jQuery('#tab1label').css('background-color','#2294a7');
   jQuery('#tab2label').css('background-color','#fff');
   jQuery('#tab1label').css('color','#fff');
   jQuery('#tab2label').css('color','#000');
});

jQuery('#tab-1').on('click', function(e){
   jQuery('#tab1label').css('background-color','#2294a7');
   jQuery('#tab2label').css('background-color','#fff');
   jQuery('#tab1label').css('color','#fff');
   jQuery('#tab2label').css('color','#000');
   return;
});

jQuery('#tab-2').on('click', function(e){
   jQuery('#tab1label').css('background-color','#fff');
   jQuery('#tab2label').css('background-color','#2294a7');
   jQuery('#tab1label').css('color','#000');
   jQuery('#tab2label').css('color','#fff');
   return;
});

</script>

