
      <button type="button" title="<?php echo $this->__('Continue Shopping') ?>" class="btn-blue"
      onclick="setLocation('<?php if (Mage::app()->getRequest()->getServer('HTTP_REFERER')) { 
            echo Mage::app()->getRequest()->getServer('HTTP_REFERER'); 
         } 
         else { 
            echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); 
         } ?>')">
         <span><span><?php echo $this->__('Continue Shopping') ?></span></span>
      </button>
