<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: Social -->
<tr>
    <td height="50" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
</tr>
<tr><td>
    <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
        <tr>
            <td height="1" bgcolor="#dadada" style="color:#dadada;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
        </tr>
    </table>
</td></tr>
<tr>
    <td height="10" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
</tr>
<tr>
    <td valign="top">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
            <tr>
                <td class="socialLeft" style="width:225px; display:inline-block; font-weight: 500; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none; color:#6F7073; font-size:22px !important; line-height:24px !important;padding: 10px 0 10px 30px;" align="center">
                    <a href="https://www.facebook.com/happychef" style="color:#6F7073;text-decoration:none;">JOIN 200,000+ <br />HAPPY CHEF FANS</a>
                </td>
                <td class="socialRight" style="width:340px;display:inline-block;" align="center">
                    <table border="0" cellspacing="0" cellpadding="0" align="center" style="margin: auto;">
                        <tr>
                            <td class="socialIcon" style="padding: 0 10px;"><a href="https://www.instagram.com/happychef" title="Instagram"><img src="https://happychef.com/email/template/social-icons/insta.jpg" width="44" height="44" alt="Instagram" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                            <td class="socialIcon" style="padding: 0 10px;"><a href="https://www.facebook.com/happychef" title="Facebook"><img src="https://happychef.com/email/template/social-icons/facebook_icon.jpg" width="44" height="44" alt="Facebook" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                            <td class="socialIcon" style="padding: 0 10px;"><a href="https://twitter.com/HappyChef" title="Twitter"><img src="https://happychef.com/email/template/social-icons/twitter.jpg" width="44" height="44" alt="Twitter" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                            <td class="socialIcon" style="padding: 0 10px;"><a href="https://www.snapchat.com/add/happy.chef" title="SnapChat"><img src="https://happychef.com/email/template/social-icons/snapchat.jpg" width="44" height="44" alt="SnapChat" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                            <td class="socialIcon" style="padding: 0 10px;"><a href="https://www.pinterest.com/happychef" title="Pinterest"><img src="https://happychef.com/email/template/social-icons/pinterest.jpg" width="44" height="44" alt="Pinterest" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="10" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
</tr>
<tr><td>
    <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
        <tr>
            <td height="1" bgcolor="#dadada" style="color:#dadada;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
        </tr>
    </table>
</td></tr>
<tr>
    <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
</tr>
<!-- END MODULE: Social-->
<!-- ********************************************************************************************************* -->

<!-- ********************************************************************************************************* -->
<!-- BEGIN MODULE: Footer -->
<tr>
    <td valign="top" bgcolor="#ffffff">
        <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" id="footer">
                        <tr>
                            <td class="footercopy">
                                <div style="font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;color:#999999; font-size:11px; line-height: 1.6em; color:#999999;">
                                    <div style="font-size:14px; font-weight:bold;">Need assistance? Call toll free! <a href="tel:800-347-0288" style="color:#999999;text-decoration:none;">800.347.0288</a></div>
                                    <p>Note: Prices subject to change. Website reflects most current pricing.<br /><br />
                                        Happy Chef has proudly served culinary professionals for over 30 years. Our standard of excellence begins with the great people in our customer service department who are always happy to assist you. Customer service is available 9AM&ndash;5:30PM EST, Monday through Friday, at 800.347.0288. For calls outside the United States, dial +1.973.492.2525. Or, if you want to send a message online, use our <a href="https://happychef.com/contact-us" style="color: #999999;text-decoration:underline;">contact form</a> at any time. <br />
                                        <br />
                                        &copy;2018 The Happy Chef, Inc. 22 Park Place, Butler, New Jersey 07405. All rights reserved. Happy Chef, CookCool, #SMART, and their respective logos are registered trademarks of The Happy Chef, Inc. and cannot be reproduced for commercial use without expressed permission. </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
</tr>
<!-- END MODULE: Footer -->
<!-- ********************************************************************************************************* -->


</tbody>
</table>
</body>
</html>
