<?php
$attributeId = Mage::getResourceModel('eav/entity_attribute')->getIdByCode('catalog_product','color');
$attribute = Mage::getModel('catalog/resource_eav_attribute')->load($attributeId);
$attributeOptions = $attribute ->getSource()->getAllOptions();
$countOptions = count($attributeOptions);
$colorgroup_id = $this->getRequest()->getParam('id');


$_product = Mage::getModel('catalog/product');
$attr = $_product->getResource()->getAttribute("colorgroup");
$color_label = $attr->getSource()->getOptionText($colorgroup_id);

$colorArray = array();

$colorgroupCollection = Mage::getModel('colormapping/colormapping')->getCollection()->addFieldToFilter('colorgroup_id', $colorgroup_id);


foreach($colorgroupCollection as $color)
{
	$colorArray[] = $color->getColorId();
    $colorSort[$color->getColorId()] = $color->getSortOrder();
}
?> 
<script type="text/javascript" language="javascript">
    function postBack()
    {
	location.href = '<?php echo Mage::helper("adminhtml")->getUrl("colormapping/adminhtml_colormapping/index"); ?>';
    }
</script>
<style type="text/css" rel="stylesheet">
#main_all {
    background-color: #FAFAFA;
    border: 1px solid #D6D6D6;
    padding: 0 1.5em;
}

</style>
<form action="<?php echo Mage::helper("adminhtml")->getUrl("colormapping/adminhtml_colormapping/save") ?>" method="post" name="colormapping" id="colormapping">
<div class="content-header">
<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
<input type="hidden" name="colorgroup_id" value="<?php echo $colorgroup_id; ?>" />
<h3 class="icon-head head-products"></h3>
<div class="content-buttons-placeholder" style="width: 0px; height: 15px;">
<p class="content-buttons form-buttons" style="">
<button style="" onclick="postBack()" class="scalable back" type="button"><span>Back</span></button>
<button class="scalable save" type="submit" id="submit"><span>Save</span></button>
</p>
</div>
</div>
<div class="entry-edit custom-options product-custom-options">
<div class="entry-edit-head">
        <h4><?php echo $color_label; ?></h4>
</div>
</div>
<div id="main_all">
<table>
<tr>
<td>

<?php
	if($countOptions > 0){
		foreach($attributeOptions as $attributeOption)
		{
            $checked = false;
			if($attributeOption['label'] == ''){
				continue;
			}
			if(in_array($attributeOption['value'], $colorArray)){
				$checked = true;
			}

?>
            <div class="colormapping clearfix">
                <div class="column column-checkbox"> <input type="checkbox" value="1" name="colorId_<?php echo $attributeOption['value'] ?>" <?php if($checked){?>checked="checked"<?php }?>></div>
                <div class="column column-label"><?php echo $attributeOption['label'] ?></div>
                <div class="column column-sort"><input type="text" name="colorSort_<?php echo $attributeOption['value'] ?>" value="<?php echo $colorSort[$attributeOption['value']];?>"></div>
            </div>


<?php }} ?>

</td>
</tr> 
</table>      
</div>
</form>
</div>

