				<!-- display the email -->
				<?php/*  if ($this->canEmailToFriend()):  */?>
					<!--<p class="email-friend"><a href="<?php/*  echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) */ ?>"><?php /* echo $this->__('Email to a Friend') */ ?></a></p> -->
				<?php/*  endif; */ ?>