<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$setting = Mage::helper('em0080settings');

$thisLayer = get_class($this->getLayer());
if (stristr($thisLayer, "CatalogSearch")) {
    $insertSearchTags = true;
}
?>

<?php if (!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <div class="category-products<?php if (isset($insertSearchTags) && $insertSearchTags === true) { echo ' search-results'; } ?>">
        <?php echo $this->getToolbarBlock()->setHidePager(true)->toHtml(); ?>

        <?php if ($_mode != 'mansory'): ?>
            <?php $_collectionSize = $_productCollection->count() ?>
            <?php
            $_current_category = Mage::registry('current_category');
            if ($_current_category) { //this is necessary in case you are in a product listing that is not a category
                $value = $_current_category->getData('top_brand');
            }
            if ($value == '1') {
                $_columnCount = 2;
            } else {
                $_columnCount = 3;
            }
            ?>

            <?php if ($_collectionSize > 0): ?>
                <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"/>

                <?php
                $ulClasses = [];
                if ($_columnCount == 2) { $ulClasses[] = 'coord-products-grid'; }
                if (isset($insertSearchTags) && $insertSearchTags === true) { $ulClasses[] = 'search-products-grid'; }
                ?>
                <ul class="products-grid category-products-grid <?php echo implode(' ', $ulClasses); ?>">
                    <?php $i = 0; ?>
                    <?php foreach ($_productCollection as $_product): ?>
                        <?php $i++; ?>

                        <?php
                        $liClasses = [];
                        if ($_columnCount == 2) { $liClasses[] = 'new-item'; }
                        if (($i - 1) % $_columnCount == 0) {
                            $liClasses[] = 'first';
                        } elseif ($i % $_columnCount == 0) {
                            $liClasses[] = 'last';
                        }
                        ?>
                        <li class="item <?php echo implode(' ', $liClasses) ?>"
                            style="width: <?php echo $setting->getProductsGrid_Width(170) ?>px; margin-right: <?php echo $setting->getProductsGrid_Gutter(0) ?>px;">

                            <!------------------- Product Thumbnail -------------------->

                            <?php

                            $filename = Mage::getBaseDir() . '/var/tim/' . $_product->getId() . "_";
                            if (file_exists($filename)) {

                                ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                // Option A: Load swatches prices from index file:
                                // - Keep the observer disabled.
                                // - Comment <amconf> observer call in app/code/local/Amasty/Conf/etc/config.xml
                                // - Observer code to comment:
                                // <!--amconf>
                                //    <class>amconf/observer</class>
                                //    <method>onListBlockHtmlBefore</method>
                                // </amconf-->
                                ///////////////////////////////////////////////////////////////////////////////////////////////////////////////

                                $indexContent = file_get_contents($filename);
                                $defaultImgSource = (string)$this->helper('catalog/image')->init($_product, 'small_image')->resize(252, 283)->setQuality(100);

                                /**
                                 * Get default color by product and category
                                 */
                                $selectedColor = "";
                                $newImgSource = "";
                                $colorsAssociated = array();
                                unset($firstSimple);

                                if ($_product->isConfigurable()) {

                                    $childrenIds = Mage::getModel('catalog/product_type_configurable')->getChildrenIds($_product->getId());

                                    $currentCategoryId = Mage::registry('current_category') ? Mage::registry('current_category')->getId() : 0;
                                    $categoryProductCollection = Mage::getModel('catalog/product')->getCollection()
                                        ->joinTable('catalog/category_product', 'product_id = entity_id',
                                            array('color_id'),
                                            array('category_id' => $currentCategoryId, 'product_id' => $_product->getId(), 'color_id' => array("gt" => 0))
                                        );


                                    /**
                                     * Customize color swatch and product image display based on color filter
                                     */
                                    if (Mage::app()->getRequest()->getParam('colorgroup')) {

                                        // Initialize $firstSimple as null
                                        $firstSimple = null;

                                        // Array to store all color IDs in collection
                                        $swatchColors = array();

                                        $colorGroups = explode(",", Mage::app()->getRequest()->getParam('colorgroup'));

                                        $colormappingCollection = Mage::getModel('colormapping/colormapping')
                                            ->getCollection()
                                            ->addFieldToFilter('colorgroup_id', array('in' => $colorGroups));

                                        $colormappingCollection->getSelect()
                                            ->order('colorgroup_id', 'ASC')
                                            ->order('sort_order', 'ASC');

                                        foreach ($colormappingCollection as $color) {

                                            // Save the color ID
                                            $swatchColors[] = $color->getColorId();

                                            // If we don't already have an image to display from the color collection, try to find one
                                            if (empty($firstSimple)) {
                                                $simpleCollection = Mage::getModel('catalog/product')->getCollection()
                                                    ->addAttributeToFilter('entity_id', $childrenIds)
                                                    ->addAttributeToFilter('color', $color->getColorId())
                                                    ->addAttributeToSelect('color')
                                                    ->addAttributeToSelect('small_image');

                                                $firstSimpleObj = $simpleCollection->getFirstItem();

                                                if ($firstSimpleObj->getId()) {
                                                    // Store it so that the collection isn't regenerated
                                                    $firstSimple = $firstSimpleObj;
                                                }
                                            }

                                        }

                                    } else if ($categoryProductCollection->getSize()) {

                                        $selectedColor = $categoryProductCollection->getFirstItem()->getColorId();

                                        $firstSimple = Mage::getModel('catalog/product')->getCollection()
                                            ->addAttributeToFilter('entity_id', $childrenIds)
                                            ->addAttributeToFilter('color', $selectedColor)
                                            ->addAttributeToSelect('color')
                                            ->addAttributeToSelect('small_image')
                                            ->getFirstItem();

                                    }

                                    if ($firstSimple) {
                                        $newImgSource = (string)$this->helper('catalog/image')->init($firstSimple, 'small_image')->resize(252, 283)->setQuality(100);
                                        if ($newImgSource) {
                                            $indexContent = str_replace($defaultImgSource, $newImgSource, $indexContent);
                                        }
                                    }
                                }

                                echo $indexContent;

                            }
                            else {
                            ?>
                                <div class="product-item id_<?php echo $_product->getId() ?>"
                                    id="catalog_product_<?php echo $_product->getId() ?>">
                                    <!------------------- Show Image -------------------->
                                    <?php

                                    $imgSource = $this->helper('catalog/image')->init($_product, 'small_image')->resize(252, 283);
                                    if ($setting->getProductsGrid_ShowThumbnail()) {

                                        ?>
                                        <a href="<?php echo $_product->getProductUrl() ?>"
                                        title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                                        class="product-image">
                                            <img id="image" class="catalog_grid"
                                                <?php if ($alt_img = $setting->getProductsGrid_AltImg()): ?>class="top"<?php endif ?>
                                                src="<?php echo $imgSource; ?>"
                                                width="<?php echo $setting->getProductsGrid_Width(170) - 2 ?>"
                                                alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>

                                            <?php if ($setting->getProductsGrid_ShowLabel()): ?>
                                                <!--show label product - label extension is required-->
                                                <?php Mage::helper('productlabels')->display($_product); ?>
                                            <?php endif; ?>
                                        </a>
                                    <?php
                                    }
                                    ?>

                                    <div class="product-shop">
                                        <!------------------- Product Name --------------------->
                                        <?php
                                        if ($setting->getProductsGrid_ShowProductName()) {
                                            ?>
                                            <h2 class="product-name">
                                                <a href="<?php echo $_product->getProductUrl() ?>"
                                                title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                                    <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                                </a>
                                            </h2>
                                        <?php
                                        }
                                        ?>

                                        <!------------------- Product Sku ---------------------->
                                        <div class="model">
                                            <?php
                                            /* For this to work, attribute model should be set as "Use in Catalog Listing"
                                            * on Admin page.
                                            */

                                            echo "#" . $_product->getData('model');
                                            ?>
                                        </div>

                                        <!------------------- Color Swatches, Sizes, Product Price ---------------------->

                                        <?php if ($setting->getProductsGrid_ShowPrice()): ?>
                                            <div class="product-item-price" id="catalog_product_price_<?php echo $_product->getId() ?>">
                                                <?php

                                                ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                // Option B1: Ajax load for swatches prices:
                                                // - Keep the observer disabled.
                                                // - Comment <amconf> observer call in app/code/local/Amasty/Conf/etc/config.xml
                                                // - Observer code to comment:
                                                // <!--amconf>
                                                //    <class>amconf/observer</class>
                                                //    <method>onListBlockHtmlBefore</method>
                                                // </amconf-->
                                                // - Also:
                                                // - Comment out the line below to load price and swatches with ajax
                                                // - Uncomment a call to loadProductPriceWithAjax() in skin/frontend/default/em0080/js/ripen/product-ajax.js
                                                ///////////////////////////////////////////////////////////////////////////////////////////////////////////////

                                                ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                // Option B2: Native Amasty load for swatches and prices:
                                                // - Enable observer:
                                                // - Uncomment <amconf> observer call in app/code/local/Amasty/Conf/etc/config.xml
                                                // - Observer code to uncomment:
                                                // <!amconf>
                                                //    <class>amconf/observer</class>
                                                //    <method>onListBlockHtmlBefore</method>
                                                // </amconf>
                                                ///////////////////////////////////////////////////////////////////////////////////////////////////////////////

                                                echo $this->getPriceHtml($_product, true);
                                                ?>
                                            </div>
                                        <?php endif; ?>

                                        <!------------------- Reviews ---------------------->
                                        <?php if ($setting->getProductsGrid_ShowReviews()): ?>
                                            <?php if ($_product->getRatingSummary()): ?>
                                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>

                                </div>
                                <?php
                            }
                            ?>

                            <!------------------- End Product Thumbnail -------------------->

                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        <?php endif; ?>

        <script type="text/javascript">decorateGeneric($$('ul.products-grid > li.item'), ['odd', 'even', 'first', 'last'])</script>

    </div>
<?php endif; ?>

<script>
    <?php if ($swatchColors): ?>
    var swatchColors = <?php echo json_encode($swatchColors); ?>;
    <?php endif; ?>
    jQuery(document).ready(function () {
        var $ = jQuery;

        $('.product-name a').on('click touchend', function (e) {
            var el = $(this);
            var link = el.attr('href');
            window.location = link;
        });

        $('.compare-social .link-compare').on('click touchend', function (e) {
            var el = $(this);
            var link = el.attr('href');
            window.location = link;
        });

        $('.btnPinIt').click(function () {
            var url = $(this).attr('href');
            var media = $(this).attr('data-image');
            var desc = $(this).attr('data-desc');
            window.open("//www.pinterest.com/pin/create/button/" +
            "?url=" + url +
            "&media=" + media +
            "&description=" + desc, "_blank");
            return false;
        });

        $('a.link-compare').each(function () {
            $(this).attr("href", $(this).attr("href") + "/uenc/<?php echo Mage::helper('core/url')->getCurrentBase64Url(); ?>/form_key/" + $("input[name='form_key']").val());
        });

    });
</script>
