<?php
$_product = Mage::getModel('catalog/product')->load($this->productId);
$setting = Mage::helper('em0080settings');
$imgSource = $this->helper('catalog/image')->init($_product, 'small_image')->resize(252, 283);
?>

<!-- Show Thumbnail -->


<?php if ($setting->getProductsGrid_ShowThumbnail()): ?>
    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
        <img id="image" class="catalog_grid" <?php if ($alt_img = $setting->getProductsGrid_AltImg()): ?>class="top"<?php endif ?> src="<?php echo $imgSource; ?>" width="<?php echo $setting->getProductsGrid_Width(170)-2 ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />

        <?php if ($setting->getProductsGrid_ShowLabel()):?>
            <!--show label product - label extension is required-->
            <?php //Mage::helper('productlabels')->display($_product);?>
        <?php endif;?>
    </a>
<?php endif; ?>

<div class="compare-social">
    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
        <span class="separator"></span> <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Compare') ?></a>
    <?php endif; ?>
    <ul class="social_link_category">
        <li class="one"><a href="<?php echo $_product->getProductUrl(); ?>" data-image=" <?php echo $imgSource; ?>" data-desc="<?php  echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>" class="btnPinIt"></a></li>
        <li class="two"><a href="http://twitter.com/intent/tweet?text=<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>+%22Reform+%22=<?php echo $_product->getProductUrl(); ?>" target="_blank"></a></li>
        <li class="three"><a title="send to Facebook"
                             href="http://www.facebook.com/sharer.php?s=100&p[title]=<?php  echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>&p[summary]=YOUR_SUMMARY&p[url]=<?php echo $_product->getProductUrl(); ?>&p[images][0]=<?php echo $imgSource; ?>"
                             target="_blank"></a></li>
    </ul>
</div>

<div class="product-shop">
    <!--product name-->
    <?php if ($setting->getProductsGrid_ShowProductName()):?>
        <h2 class="product-name">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name');?>
            </a>
        </h2>

    <?php endif; ?>
    <!--product model -->
    <div class="model">
        <?php
        $a= $_helper->productAttribute($_product, $_product->getId() , 'Id');
        $product_md= Mage::getModel('catalog/product')->load($a);
        $b= $product_md->getData('model');
        echo $this->__("$b");
        ?>
    </div>

    <!--product price-->
    <?php if ($setting->getProductsGrid_ShowPrice()): ?>
        <?php echo $this->getPriceHtml($_product, true) ?>
    <?php endif; ?>


    <div class="actions">
        <?php if($_product->isSaleable()): ?>
            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
        <?php else: ?>
            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
        <?php endif; ?>
    </div>
    <!--show reviews-->
    <?php if ($setting->getProductsGrid_ShowReviews()):?>
        <?php if($_product->getRatingSummary()): ?>
            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
        <?php endif; ?>
    <?php endif; ?>
</div>


