
<div class="noresult__suggested-container">
    <div class="noresult__section-head"><?php echo $this->__("Here are some other products you may like...") ?></div>
    <div class="noresult__suggested-wrap">
        <?php echo $this->getProductListHtml(); ?>
    </div>
</div>
