<style>
    .videoWrapper {
        position: relative;
        /*padding-bottom: 50%; !* 16:9 *!*/
        /*padding-top: 25px;*/
        /*height: 0;*/
    }
    .videoWrapper video {
        /*position: absolute;*/
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #mobstatic {
        position: relative;
        z-index: 20;
    }

    #mobileLogoVid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    video {
        controls: false;
    }

    @media only screen and (max-width: 768px) {
    }

</style>

<div class="homepg-hero skg" style="cursor:pointer;">
    <div class="hide-768">
        <div class="videoWrapper" onclick='changeVideo("{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-no-logo.mp4"}}")'>
            <video id="logoVid" autoplay loop>
                <source src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-preview.mp4"}}" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="show-768">
        <div class="videoWrapper" onclick='changeMobileVideo()'>
            <img id="mobstatic" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/mobile-static.png"}}" />
            <video id="mobileLogoVid">
                <source src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/1080-mobile.mp4"}}" type="video/mp4">
            </video>
        </div>
    </div>
</div>

<div class="wide-banner skg">
    <div>
        <a href="{{store direct_url="red-plaid-smart-chef-coat.html?swatch=1430"}}">
            <div class="hide-768">
                <img src="{{media url="wysiwyg/home-pg/refresh/HPb/featured-d.jpg"}}" alt="Red Plaid #Smart Chef Coat" />
            </div>
            <div class="show-768">
                <img src="{{media url="wysiwyg/home-pg/refresh/HPb/featured-m.jpg"}}" alt="Red Plaid #Smart Chef Coat" />
            </div>
        </a>
    </div>
</div>

<script type="text/javascript">

    let video = document.getElementById("logoVid");
    let mobileVideo = document.getElementById("mobileLogoVid");

    function changeVideo(a) {
        video.src=a;
        video.loop = false;
    }

    function changeMobileVideo() {
        jQuery('#mobstatic').css('visibility', 'hidden');
        mobileVideo.play();
    }

    function returnVideo() {
        video.src= "{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-preview.mp4"}}";
        video.loop = true;
    }

    function returnMobileVideo() {
        jQuery('#mobstatic').css('visibility', 'visible');
    }

    video.addEventListener('ended', function() {
        returnVideo();
    });

    mobileVideo.addEventListener('ended', function() {
        returnMobileVideo();
    });
</script>





