<div class="grid">
<div class="hor-scroll">

<table cellspacing="0" class="data">
<col  />
<col  />
<thead>
<tr class="headings">
    <th width="20"><span class="nobr"><a href="#" name="templateid" title="asc" class="not-sort"><span class="sort-title">Template Id</span></a></span></th>
    <th><span class="nobr"><a href="#" name="template" title="asc" class="not-sort"><span class="sort-title">Template</span></a></span></th>
    <th class=" last"><span class="nobr"><a href="#" name="Action" title="asc" class="not-sort"><span class="sort-title">Action</span></a></span></th>
</tr>
</thead>
<tbody>
<?php
$templates = Mage::getModel('embroidery/template')
    ->getCollection()
    ->setOrder('sortorder', "ASC")
    ->setOrder('template_id', "ASC");

    foreach($templates as $template) {
?>
<tr title="#" >
<td class="a-left ">
   <?php echo $template->getTemplateId(); ?>
</td>
<td class="a-left ">
    <?php echo $template->getName(); ?>
</td>
<td class="a-left last">
<a href="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroidery/edit/", array("id"=>$template->getTemplateId())); ?>">
    <?php
echo $this->__('Edit')
?>
</a>
</td>
</tr>
<?php } ?>
</tbody>
</table>
<br/>

    <a href="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroidery/mapEmbroidery/"); ?>">Map Embroidery (Don't click. Bad things may happen. Very bad things.)</a>

</div>
</div>

