<?php

$templateId = $this->getRequest()->getParam('id');
$template = Mage::getModel('embroidery/template')->load($templateId);
$locations = Mage::getModel('embroidery/location')->getCollection()->setOrder('sortorder', "ASC");
$types = $template->getSupportedTypes();

?>
<script type="text/javascript" language="javascript">
    function postBack() {
        location.href = '<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroidery/index"); ?>';
    }
</script>
<style>
    .location {
        float: left;
        width: 20%;
    }
    .type {
        float: left;
        width: 75%;
    }

    .embroidery-row {
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #dfdfdf;
        clear: both;
    }

    .embroidery-images {
        margin: 20px 0 20px 0;
    }
    .embroidery-images .images-row {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dfdfdf;
    }

    .embroidery-images .images-row .image-item {
        float: left;
        width: 200px;
        margin-left: 20px;
    }

    .clear {
        clear: both !important;
    }


</style>
<form action="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroidery/save") ?>" method="post"
      name="embroidery_template" id="embroidery_template" enctype="multipart/form-data">
    <div class="content-header">
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>"/>
        <input type="hidden" name="template_id" value="<?php echo $templateId; ?>"/>

        <h3 class="icon-head head-products"></h3>

        <div class="content-buttons-placeholder" style="width: 0px; height: 15px;">
            <p class="content-buttons form-buttons" style="">
                <button style="" onclick="postBack()" class="scalable back" type="button"><span>Back</span></button>
                <button class="scalable save" type="submit" id="submit"><span>Save</span></button>
            </p>
        </div>
    </div>
    <div class="entry-edit custom-options product-custom-options">
        <div class="entry-edit-head">
            <h4><?php echo $template->getName(); ?></h4>
        </div>
    </div>
    <div id="main_all">

        <?php if ($types->count()): ?>
        <div class="embroidery-images">
            <h3>Embroidery Group Images:</h3>
            <?php
                foreach($types as $type){

                    $image = Mage::getModel('embroidery/templateimage')
                        ->getCollection()
                        ->addFieldToFilter('template_id', $templateId)
                        ->addFieldToFilter('type_id', $type->getTypeId())
                        ->getFirstItem();
                    ?>

                    <div class="images-row">
                        <div class="image-item"><?php echo ucfirst($type->getTypeName()).": ";?></div>
                        <div class="image-item"><?php if ($image->getImage()): ?><img src="<?php echo Mage::getBaseUrl('media').DS.$image->getImage(); ?>" style="width: 200px"><?php endif; ?></div>
                        <div class="image-item"><input name="templateTypeImage_<?php echo $type->getTypeId(); ?>" value="" class="input-file" type="file"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>

                    <?php
                }
            ?>
        </div>
        <?php endif; ?>

        <h3>Template Settings:</h3>

        <table width="100%">
            <tr>
                <td>

                    <?php foreach ($locations as $location) { ?>

                        <div class="embroidery-row">
                            <div class="location"><?php echo $location->getName(); ?></div>
                            <div class="type">
                                <?php
                                $types = Mage::getModel('embroidery/type')->getCollection()->setOrder('sortorder', "ASC");
                                foreach ($types as $type) {

                                    $templateData = Mage::getModel('embroidery/templatedata')
                                        ->getCollection()
                                        ->addFieldToFilter('template_id', $templateId)
                                        ->addFieldToFilter('location_id', $location->getLocationId())
                                        ->addFieldToFilter('type_id', $type->getTypeId());

                                    $checked = ($templateData->count() > 0) ? "checked" : "";
                                    ?>
                                    <input type="checkbox"
                                           name="embroidery_option-<?php echo $location->getLocationId();?>-<?php echo $type->getTypeId();?>]"
                                           value="1" <?php echo $checked?>>&nbsp;&nbsp;<?php echo $type->getName(); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <?php } ?>

                            </div>
                            <div class="clear"></div>
                        </div>

                    <?php } ?>

                </td>
            </tr>
        </table>
    </div>
</form>
</div>

