<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/LICENSE-M1.txt
 *
 * @category   AW
 * @package    AW_Productrelater
 * @copyright  Copyright (c) 2003-2010 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/LICENSE-M1.txt
 */
?>

<?php if( $this->getCount()>0 && count($this->getItems()) > 0 ) : ?>
<div class="base-mini mini-related-items aw-arp-block">
    <div class="head">
        <h2><?php echo $this->getBlockName() ?></h2>
    </div>
    <div class="content aw-arp-content">
	
	<?php foreach ($this->getItems() as $item) :
        $_product = Mage::getModel('catalog/product')->load($item->getId());
        ?>
        <div class="aw-arp-item">
            <a href="<?php echo $_product->getProductUrl()?>"><img src="<?php echo $this->helper('catalog/image')->init($item,'thumbnail')->resize(150)?>" alt="<?php echo $this->htmlEscape($item->getName())?>"/></a><br>
            <div class="product-info">
                <a class="title" href="<?php echo $_product->getProductUrl()?>"><?php echo $this->htmlEscape($item->getName())?></a><br>
                <a href="<?php echo $_product->getProductUrl()?>"><?php echo '#'.$this->htmlEscape($item->getSku())?></a><br>
                <?php echo $this->getPriceHtml($item, true)?>
            </div>
            <a class="button" href="<?php echo $_product->getProductUrl()?>"><?php echo $this->__('Shop now')?></a>
        </div>
	<?php endforeach; ?>
        <div class="clear"></div>
    </div>
</div>
    <?php else : ?>
	<!--<div class="aw-arp-noitems">No related products</div>-->
<?php endif; ?>


<style type="text/css">
.aw-arp-item {
    width: <?php echo floor(100/($this->getCount()!=0 ? $this->getCount() : 1 ))-3?>%;
}
</style>
