#tlLightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#tlLightbox img{ width: auto; height: auto;}
#tlLightbox a img{ border: none; }

#tlOuterImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#tlImageContainer{ padding: 10px; }
#tlLoading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#tlHoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#tlImageContainer>#tlHoverNav{ left: 0;}
#tlHoverNav a{ outline: none;}

#tlPrevLink, #tlNextLink{ width: 49%; height: 100%; display: block; }
#tlPrevLink { left: 0; float: left;}
#tlNextLink { right: 0; float: right;}
#tlPrevLink:hover, #tlPrevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#tlNextLink:hover, #tlNextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#tlImageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#tlImageData{	padding:0 10px; color: #666; }
#tlImageData #tlImageDetails{ width: 70%; float: left; text-align: left; }
#tlImageData #tlCaption{ font-weight: bold;	}
#tlImageData #tlNumberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}
#tlImageData #tlBottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}

#tlOverlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }
.adminhtml-catalog-product-edit .side-col {  display: none; }
