
/*RESET STYLES */
#pageWrap * {color:#333333;}
#pageWrap * {-moz-box-sizing:content-box;box-sizing:content-box;}
#pageWrap * {margin:0;padding:0;}
#pageWrap a {text-decoration: none;}
#pageWrap a:focus {outline: 0 none;}
#pageWrap p {margin:0;}


/* FLOATS */
#organicTabs .nav,
#organicTabs .list-wrap,
#organicTabs .nav li {float:left;}
.floatFix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

/* MARGINS */


/* FONT SIZES */
#pageWrap .sig {font-size:14px;}

/* FONT COLORS */
#pageWrap .sig {color:#663501;}
#test {background-color:purple;color:white;}

/* FONT STYLES */
#pageWrap .sig {font-style:italic;}

/* DISPLAY TYPES */
#pageWrap .accImgWrap img,
#pageWrap .tabImgWrap img,
#organicTabs ul li a {display:block;}

/* POSITION */
#pageWrap .hide {left: -9999px;position: absolute;top: -9999px;}
#pageWrap .tabWrap,
#pageWrap .tabPanelArrow {position:relative;}
#pageWrap .tabPanelArrowWrap {position:absolute;}
#pageWrap .tabPanelArrowInner {position:absolute;}
#pageWrap .accImgWrap img,
#pageWrap .tabImgWrap img {left:0;}
#pageWrap .tabPanelArrowWrap {left:249px;}
#pageWrap .tabPanelArrowWrap {top:5px;}

/* BORDERS */
#organicTabs ul li:last-child a {border: medium none;}
#tabs,
#organicTabs {border:1px solid rgba(0,0,0,0.2);}
#organicTabs .nav {border-right:1px dashed rgba(0,0,0,0.2);}

/* BACKGROUNDS */
#tabs {background-color:rgba(242,242,242,0.9);background-color:rgb(242,242,242);}
#pageWrap .nav a.current .tabWrap {background-color:#e3bb93;}
#pageWrap .accordionToggle,
#pageWrap #organicTabs {background-color: #ffffff;}
#pageWrap .accContentWrap {background-color:#fdf7f0;}

/* OPACITY */
#pageWrap a .tabPanelArrow {opacity:0;}
#pageWrap a .tabPanelArrow,
#pageWrap .tabWrap {transition:opacity 300ms ease-in-out, background-color 300ms ease-in-out;}
#pageWrap a.current .tabPanelArrow {opacity:1;}

/* WIDTHS */
#pageWrap .accordionWrapper {min-width: 300px;}
#organicTabs ul.nav {width:249px;}
#organicTabs .list-wrap {width:448px;}
#tabs {width:700px;}

/* HEIGHTS */
#pageWrap .tabWrap {height:24px;}

/* MARGINS */
#pageWrap {margin: auto;}
#organicTabs .nav {margin:0;}
#organicTabs .nav li {margin-left:0;}
#organicTabs .nav li.last {margin-right:0;}
#pageWrap .accImgWrap,
#pageWrap .tabImgWrap,
#tabs {margin-left:auto;margin-right:auto;}
#pageWrap .contentCopy {margin-bottom:5px;}
#tabs {margin-bottom: 20px;}
#pageWrap .sig {margin-left:30px;}

/* PADDING */
#organicTabs .list-wrap {padding: 0;}
#pageWrap .tabWrap {padding:10px;}
#organicTabs ul.nav,
#pageWrap .tabContentWrap {padding-top:15px;}
#pageWrap .tabContentWrap {padding-top:25px;}
#pageWrap .accordionToggle {padding:10px 8px;}
#pageWrap .accordionWrapper,
#organicTabs ul.nav,
#pageWrap .tabContentWrap {padding-bottom:15px;}
#tabs {padding:35px;}
#pageWrap .tabContentWrap {padding-left:65px;}
#pageWrap .tabContentWrap {padding-right:65px;}
#pageWrap .accContentWrap {padding:15px;}

/* ALIGNMENT */
#pageWrap .accordionToggle,
#pageWrap .accContentWrap {text-align:center;}

/* FONT SIZES */
#pageWrap .contentCopy {font-size:16px;}

/* LINE-HEIGHTS */
#pageWrap .tabWrap {line-height:24px;}
#pageWrap .accordionWrapper h3 {line-height:33px;}

/* MISC */
#pageWrap .accordionToggle,
#pageWrap .tabToggle {cursor:pointer;}
#organicTabs ul {list-style:none outside none;}

.tabPanelArrow {
	background:linear-gradient(to right, rgba(204,157,111,1), rgba(228,181,135,1));
	height:34px;
	width:34px;
}
.tabPanelArrowInner {
	height:0;
	width:0;
	border-width:17px 0 17px 34px;
	border-style:solid;
	border-color:white transparent; 
}

/********************************************/
/* END DESKTOP BREAKPOINT */
/********************************************/

/********************************************/
/* 960 BREAKPOINT */
/********************************************/
@media screen and (max-width: 960px), screen and (max-device-width: 960px) {
	
	/* WIDTHS 960 */
	#organicTabs ul.nav {width:249px;}
	#organicTabs .list-wrap {width:448px;}
	#tabs {width:700px;}

}
/********************************************/
/* END 960 BREAKPOINT */
/********************************************/


/********************************************/
/* 768 BREAKPOINT */
/********************************************/
@media screen and (max-width: 768px), screen and (max-device-width: 768px) {
	
	/* WIDTHS 768 */
	#tabs {width:481px;}
	#organicTabs ul.nav {width:220px;}
	#organicTabs .list-wrap {width:258px;}

	/* PADDING 768 */
	#pageWrap .tabContentWrap {padding-left:45px;}
	#pageWrap .tabContentWrap {padding-right:45px;}
	
	/* POSITION 768 */
	#pageWrap .tabPanelArrowWrap {left:220px;}
	
	
}
/********************************************/
/* END 768 BREAKPOINT */
/********************************************/

/********************************************/
/* 568 BREAKPOINT */
/********************************************/
@media screen and (max-width: 568px), screen and (max-device-width: 568px) {

	/* DISPLAY 568 */
	#tabDiv {display:none;}
	#accord {display:block !important;}
	
	/* WIDTHS 568 */
	#tabs {width:100%;}
	
	/* BORDERS 568 */
	#organicTabs,
	#tabs {border:none;}
	#pageWrap .accContentWrap {border-top:1px solid #e3e3e3;}
	#pageWrap .accContentWrap{border-bottom:1px solid #e3e3e3;}
	
	/* PADDING 568 */
	#tabs {padding:0;}
	
}
