
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:focus {
    outline: 0 none;
}
#page-wrap {
    margin: auto;
}
.hide {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
#organicTabs ul {
    list-style: none outside none;
}
#organicTabs ul li a {
    color: #333333;
    display: block;
}
#organicTabs ul li:last-child a {
    border: medium none;
}
#organicTabs .nav {
    margin: 0;
    overflow: hidden;
}
#organicTabs .nav li {
    float: left;
    margin-left: 0;
    width: 100%;
}
#organicTabs .nav li.last {
    margin-right: 0;
}
