
/** {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}*/

/********************************************/
/* GRID - DESKTOP */
/********************************************/
html, body {
	min-width: 320px;
	font-family: Quicksand,Arial,Tahoma,Verdana,FreeSans,sans-serif;
}
.container_24 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_4sm, .grid_5, .grid_6, .grid_6sm, .grid_7, .grid_8, .grid_8sm, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23 {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.grid_24 {
    display: inline;
    float: left;
    position: relative;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
.container_24 .grid_4 {
    width: 202px;
}
.container_24 .grid_4sm {
    width: 139px;
}
.container_24 .grid_6 {
    width: 232px;
}
.container_24 .grid_6sm {
    width: 227px;
}
.container_24 .grid_8 {
    width: 313px;
}
.container_24 .grid_8sm {
    width: 306px;
}
.container_24 .grid_9 {
    width: 352px;
}
.container_24 .grid_12 {
    width: 475px;
}
.container_24 .grid_12sm {
    width: 455px;
}
.container_24 .grid_18 {
    width: 710px;
}
.container_24 .grid_19 {
    width: 750px;
}
.container_24 .suffix_1 {
    margin-right: 40px;
    padding-right: 0 !important;
}
/********************************************/
/* END GRID - DESKTOP */
/********************************************/

/* FLOATS */
.calloutA-TabNum,
.float-lt {float:left;}
.float-rt {float:right;}

.floatFix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
.floatingFix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
.mobileCenter {
    margin-bottom: 10px !important;
}
.vertBkgd {
    background-image: url("images/dot-CCCCCC.jpg");
    background-position: center center;
    background-repeat: repeat-y;
}
.plain {
    color: #000000;
    font-weight: normal !important;
}
h4.slide_toggle {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 10px 0;
    padding: 0 0 15px 40px;
    position: relative;
}
h4.slide_toggle a {
    color: #499EB6;
}
.topRt a img {
    margin: 0 2px;
}
.selectnav {
    display: none;
}
.pad10 {
    padding: 10px;
}
.pad20 {
    padding: 20px;
}
.paneInsetRt {
    float: right;
    margin-left: 10px;
    width: 200px;
}
.smPaneInsetRt {
    float: right;
    margin: 10px 0 10px 10px;
    width: 100px;
}
.accordion-wrapper {
    padding-bottom: 15px;
}
.accordion-toggle {
    background-color: #000000;
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer !important;
    padding: 10px 8px;
}
#accord h3 > a {
    color: #FFFFFF;
    padding: 15px 0 4px 5px;
}
#organicTabs .list-wrap, #accord .accordion-container {
    padding: 0;
}
#organicTabs table {
    margin: 0;
}
#accord .content-block {
    padding: 10px;
}
#organicTabs h3, #organicTabs h2 {
    color: #FFFFFF;
}
#organicTabs ul li a {
    color: #FFFFFF !important;
}
.calloutA {
    background-color: #FFFFFF;
    padding: 0 30px 30px;
}
.calloutA-TabNum {
    color: #499EB6;
    font-weight: bold;
    padding-right: 5px;
}
.calloutA-Head {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}
.calloutA-Text {
    vertical-align: top;
}
.calloutA-Rt {
    vertical-align: bottom;
}
.calloutA-AccordArrow {
    border-bottom: 12px solid rgba(0, 0, 0, 0);
    border-left: 24px solid #499EB6;
    border-top: 12px solid rgba(0, 0, 0, 0);
    float: right;
    margin: 0 10px;
    transition: all 300ms ease-in-out 0s;
}
.calloutA-More {
    color: #499EB6 !important;
    font-weight: bold !important;
    padding-right: 15px;
    text-align: right;
    vertical-align: bottom;
}
#tabs {
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-image: url("images/vertBg-calloutA.png"), url("images/vertBg-calloutA.png");
    background-origin: padding-box, padding-box;
    background-position: 318px 20px, 640px 20px;
    background-repeat: no-repeat;
    background-size: auto auto, auto auto;
    margin-bottom: 20px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
.selectnav {
    display: none;
}

/* BACKGROUNDS */
.tab-content {background-color:#EEEEEE;}
.nav {background-color: #000000;}
.calloutA-Arrow img {transition: opacity 300ms ease-in-out;}
.current .calloutA-Arrow img {opacity:0;}
.calloutA-Arrow {
	background-position:center center;
	background-repeat:no-repeat;
	margin:auto;
}
#arrowA1 {background-image:url("../images/caltex02.png");background-size:contain;}
#arrowA1, #arrowA1 img {width:130px;height:39px;}
#arrowA2 {background-image:url("../images/drpepper02.png");background-size:contain;}
#arrowA2, #arrowA2 img {width:80px;height:48px;}
#arrowA3 {background-image:url("../images/pfizer02.png");background-size:contain;}
#arrowA3, #arrowA3 img {width:64px;height:37px;}
#arrowA4 {background-image:url("../images/sony02.png");background-size:contain;}
#arrowA4, #arrowA4 img {width:98px;height:19px;}
#arrowA5 {background-image:url("../images/stars02.png");background-size:contain;}
#arrowA5, #arrowA5 img {width:63px;height:52px;}
#arrowA6 {background-image:url("../images/united02.png");background-size:contain;}
#arrowA6, #arrowA6 img {width:130px;height:24px;}

/* DISPLAY TYPES */
.calloutA-Arrow img {display:block;}

/* WIDTHS */
.tab-wrap {width:130px;}

/* PADDING */

/********************************************/
/* DESKTOP BREAKPOINT */
/********************************************/


/********************************************/
/* 960 BREAKPOINT */
/********************************************/
@media screen and (max-width: 960px), screen and (max-device-width: 960px) {
	#tabs {width:744px;}
	.tab-wrap {width:104px;}
	
	#arrowA1, #arrowA1 img {width:104px;height:31px;}
	#arrowA2, #arrowA2 img {width:80px;height:48px;}
	#arrowA3, #arrowA3 img {width:64px;height:37px;}
	#arrowA4, #arrowA4 img {width:98px;height:19px;}
	#arrowA5, #arrowA5 img {width:63px;height:52px;}
	#arrowA6, #arrowA6 img {width:104px;height:19px;}
}
/********************************************/
/* END 719 BREAKPOINT */
/********************************************/


/********************************************/
/* 719 BREAKPOINT */
/********************************************/
@media screen and (max-width: 768px), screen and (max-device-width: 768px) {
	#tabs {width:528px;}
	.tab-wrap {width:68px;}
	
	#arrowA1, #arrowA1 img {width:68px;height:20px;}
	#arrowA2, #arrowA2 img {width:68px;height:40px;}
	#arrowA3, #arrowA3 img {width:64px;height:37px;}
	#arrowA4, #arrowA4 img {width:68px;height:13px;}
	#arrowA5, #arrowA5 img {width:68px;height:52px;}
	#arrowA6, #arrowA6 img {width:68px;height:12px;}
}
/********************************************/
/* END 719 BREAKPOINT */
/********************************************/

/********************************************/
/* 568 BREAKPOINT */
/********************************************/
@media screen and (max-width: 568px), screen and (max-device-width: 568px) {
	.selectnav {
		display: block;
		width: 300px;
	}
	.container_24 {
		width: 95%;
	}
	.container_24 .grid_1 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_2 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_3 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_4 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_4sm {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_5 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_6 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_6sm {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_7 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_8 {
		float: none;
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_8sm {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_9 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_10 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_11 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_12 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_12sm {
		width: 100%;
	}
	.container_24 .grid_13 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_14 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_15 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_16 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_17 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_18 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_19 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_20 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_21 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_22 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_23 {
		margin: 0;
		width: 100%;
	}
	.container_24 .grid_24 {
		margin: 0;
		width: 100%;
	}
	.showResp {
		display: block;
	}
	.mobileCenter {
		margin-bottom: 10px !important;
		text-align: center !important;
	}
	#organicTabs .respond {
		width: 301px !important;
	}
	#tabs {
		display: none !important;
	}
	#accord {
		display: block !important;
	}
	.respond {
		text-align: center !important;
		width: 100% !important;
	}
	.vertBkgd {
		background-image: none !important;
	}
	.footerDivider {
		width: 5px;
	}
	.calloutImg {
		width: 100%;
	}
	.slide_toggle_content {
		margin: 0 0 20px 20px;
	}
	h4.slide_toggle {
		padding: 0 0 15px 20px;
	}
}
/********************************************/
/* END 568 BREAKPOINT */
/********************************************/
