
<?php
$_customer = Mage::getSingleton('customer/session')->getCustomer();
$_groups = Mage::getModel('shoppinglist/group')->getGroupByCustomer($_customer->getId())->load()->getItems();
$sort = Mage::getSingleton('core/session')->getSaveCartSort();
foreach($_groups as $_group) {
    if(!$_group->getItems()) {
        Mage::getModel('shoppinglist/group')->deleteAction($_group->getId());
    }
}
?>

<?php if (count($_groups) > 0 || !is_null($sort)): ?>
<div class="saved-cart-container">
    <div class="saved-cart clearfix">
        <div class="cart-basket">
            <div class="box-account customer-group-view">

                <div id="shopping-cart-table" class="shopcart-header-container">
                    <div class="shopcart-titles clearfix">
                        <div class="shopcart-title">SAVED FOR LATER (<?php echo (count($_groups) > 0) ? count($_group->getItems()) : '0'; ?>)</div>
                    </div>
                    <div class="shopcart-header-row clearfix">
                        <div class="shopcart-col shopcart-col-image">&nbsp;</div>
                        <div class="shopcart-col shopcart-col-item">ITEM <span class="base-unit-price-label">UNIT PRICE</span></div>
                        <div class="shopcart-col shopcart-col-price"></div>
                        <div class="shopcart-col shopcart-col-qty">QTY</div>
                        <div class="shopcart-col shopcart-col-subtotal">SUBTOTAL</div>
                    </div>
                </div>

                <div class="shopcart-items-collection">

    <?php
    if (!is_null($sort)) {
        if (array_key_exists(-1, $sort)) {
            foreach ($sort as $sortOrder => $attrs) {
                if ($sortOrder == '-1') {
                    if ($attrs['is_remove']) {
                        echo '<div class="shopcart-item-container moved-msg">' .
                            '<span>' . $attrs['prod_name'] . ' has been deleted from your saved cart.</span>' .
                            '</div>';
                    } else {
                        echo '<div class="shopcart-item-container moved-msg">' .
                            '<span>' . $attrs['prod_name'] . ' has been moved to your cart above.</span>' .
                            '</div>';
                    }
                    unset($sort[$sortOrder]);
                }
            }
        }

        if (empty(Mage::getModel('shoppinglist/group')->getGroupByCustomer($_customer->getId())->getData())) {
            foreach ($sort as $sortOrder => $attrs) {
                if ($attrs['is_remove']) {
                    echo '<div class="shopcart-item-container moved-msg">' .
                        '<span>' . $attrs['prod_name'] . ' has been deleted from your saved cart.</span>' .
                        '</div>';
                } else {
                    echo '<div class="shopcart-item-container moved-msg">' .
                        '<span>' . $attrs['prod_name'] . ' has been moved to your cart above.</span>' .
                        '</div>';
                }
            }
        }
    } ?>


        <?php
        foreach ($_groups as $_group): ?>
                <?php $groupId = $_group->getListId(); ?>
                <?php if (count($_group->getItems()) <= 0): ?>
                <span><?php echo $this->__('No Items') ?></span>
                <?php else: ?>

                <form name="shoppinglist-group-view" id="shoppinglist-group-view" action="<?php echo $this->getUrl('shoppinglist/group/update') ?>" method="post">
                    <input name="group_id" id="group_id" type="hidden" value="<?php echo $groupId ?>">

                    <?php
                        $sortOrder = 0;

                    foreach($_group->getItems() as $index => $_shoppingListItem):
                        $options = unserialize($_shoppingListItem->getBuyRequest());
                        $setting = Mage::helper('em0080settings');
                        $w = $setting->getImageShoppingCart_Width(100);
                        $h = $setting->getImageShoppingCart_Height(100);
                        $itemId = $_shoppingListItem->getItemId();
                        $_helper = Mage::helper('shoppinglist/group');
                        $product_id = $_shoppingListItem->getProductId();
                        $product = Mage::getModel('catalog/product')->load($product_id);
                        $canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_shoppingListItem->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
                        $typeId = $product->getTypeId();
                        $isVisibleProduct = $product->isVisibleInSiteVisibility();
                        $configurableAttributes = $options['super_attribute'];
                        $buyRequest = unserialize($_shoppingListItem['buy_request']);

                        $embroiderySetupSkus = Mage::helper('embroidery')->getEmbroiderySetupSkus();

                        $isLogoSetup = false;
                        foreach ($embroiderySetupSkus as $embroiderySetupSku) {
                            if ($product->getSku() == $embroiderySetupSku) {
                                $isLogoSetup = true;
                            }
                        }

                        if ($isLogoSetup) {
                            $setting = Mage::helper('em0080settings');
                            $w = $setting->getImageShoppingCart_Width(100);
                            $embOpt = $buyRequest['embroidery_data'];

                            foreach ($embOpt as $location) {
                                foreach ($location['types'] as $type) {
                                    if ($type['name'] == 'logo') {
                                        foreach ($type['options'] as $option) {
                                            $img = $option['image'];
                                        }
                                    }
                                }
                            }
                        ?>
                                <div id="savecart-item-<?php echo $itemId; ?>" class="shopcart-item-container logo-cart-item-container clearfix">

                                    <div class="shopcart-col shopcart-col-image">
                                        <div class="image-product shopycart-item-image">
                                            <img src="<?php echo $img; ?>" width="<?php echo $w; ?>"/>
                                        </div>
                                    </div>
                                    <div class="shopcart-cols-container">
                                        <div class="shopcart-col shopcart-col-item">
                                            <div class="shopcart-item-price base-unit-price">
                                                <span class="cart-price cart-item-price">
                                                    <span class="shoppinglist-item-price"><?php echo Mage::helper('checkout')->formatPrice($buyRequest['snapshot_price']); ?></span>
                                                </span>
                                            </div>
                                            <div class="product-name extra-accent-text">
                                                <?php echo $this->escapeHtml($product->getName()) ?>

                                                <div id="info-tooltip-icon-<?php echo $itemId; ?>"
                                                     class="info-tooltip-icon info-tooltip-icon-after-line-text info-tooltip-icon-abtest-hide"
                                                     data-tooltip-id="<?php echo $itemId; ?>">i</div>

                                                <div class="setup-promo-message"><?php echo "FREE setup on orders $" . Mage::getModel('embroidery/observer')::FREE_SETUP_TOTAL ."+";?></div>
                                            </div>
                                        </div>
                                        <div class="shopcart-col shopcart-col-price">
                                        </div>
                                        <div class="shopcart-col shopcart-col-qty">
                                            <div class="shopcart-item-qty">
                                                <input type="hidden" name="cart[<?php echo $itemId; ?>][qty]" id="cart-<?php echo $itemId; ?>-qty" value="1">
                                            </div>
                                        </div>
                                        <div class="shopcart-col shopcart-col-subtotal">
                                            <div class="shopcart-item-price">
                                                <span class="cart-price cart-item-total-price">
                                                    <?php echo Mage::helper('checkout')->formatPrice($buyRequest['snapshot_row_total']); ?>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="info-tooltip-content-<?php echo $itemId; ?>" class="info-tooltip-content">
                                        <span class="info-tooltip-close-content"></span>
                                        <p>
                                            <strong>Pricing Details: </strong> Each logo uploaded for custom embroidery requires:
                                        </p>
                                        <p>
                                            <strong>- One-time logo setup (approx. $95)</strong><br/>
                                            <strong>- Application fee (approx. $8.95) for each</strong>
                                        </p>
                                        <p>
                                            On orders of $<?php echo Mage::getModel('embroidery/observer')::FREE_SETUP_TOTAL; ?> or more, your setup fee is waived, but application fees still apply. An embroidery expert will contact you to provide final pricing.
                                        </p>
                                    </div>
                                </div>
                        <?php
                        } elseif ($typeId == "configurable" || $typeId == "simple" || $typeId == "aw_giftcard") {
//                            } elseif ($typeId == "configurable" || $typeId == "simple" && $parent_id == null) {

                                $productTypeConfigurable = Mage::getModel('catalog/product_type_configurable');
                                $productTypeConfigurable->setProduct($_shoppingListItem->getProduct());
                                $configurableSimpleCollection = $productTypeConfigurable->getUsedProductCollection()->addFilterByRequiredOptions();

                                foreach ($configurableAttributes as $attributeId => $optionId) {
                                    $configurableSimpleCollection->addAttributeToFilter($attributeId, $optionId);
                                }

                                $configurableSimpleCollection->addAttributeToSelect(array('image', 'thumbnail', 'small_image'));

                                $configurableSimpleCollection->setPageSize(1);

                                if ($configurableSimpleCollection->count()) {
                                    $_simpleProduct = $configurableSimpleCollection->getFirstItem();
                                }


                            $shopListProd = $_shoppingListItem->getProduct();
//                            $buyRequest = unserialize($_shoppingListItem['buy_request']);
                            $embOptions = $buyRequest['embroidery_data'];

                            if (!is_null($sort)) {
                                foreach ($sort as $sortOrder => $attrs) {
                                    if ($sortOrder == $index + 1 || $sortOrder == 0) {
                                        if ($attrs['is_remove']) {
                                            echo '<div class="shopcart-item-container moved-msg">' .
                                                '<span>' . $attrs['prod_name'] . ' has been deleted from your saved cart.</span>' .
                                                '</div>';
                                        } else {
                                            echo '<div class="shopcart-item-container moved-msg">' .
                                                '<span>' . $attrs['prod_name'] . ' has been moved to your cart above.</span>' .
                                                '</div>';
                                        }
                                    }
                                }
                            } ?>
                                <div id="savecart-item-<?php echo $itemId; ?>" class="shopcart-item-container shop-item-compact clearfix">

                                    <!-- PRODUCT IMAGE -->
                                    <div class="shopcart-col shopcart-col-image">
                                        <?php if ($typeId != "aw_giftcard"): ?>
                                        <div class="image-product shopcart-item-image">
                                            <?php if (!is_null($product->getProductUrl()) && $product->getProductUrl() != ''):?>
                                            <a href="<?php echo $product->getProductUrl()?>" title="<?php echo $this->escapeHtml($product->getName()) ?>" class="product-image">
                                            <?php endif; ?>
                                                <img
                                                        src="<?php if ($typeId != "configurable") {
                                                            echo Mage::helper('catalog/image')->init($product, 'thumbnail')->resize($w, $h)->setWatermarkSize('30x10');
                                                        } else {
                                                            echo Mage::helper('catalog/image')->init($_simpleProduct, 'small_image')->resize($w, $h)->setWatermarkSize('30x10');
                                                        } ?>" width="<?php echo $w ?>"
                                                        alt="<?php echo $this->escapeHtml($product->getName()) ?>"/>
                                            <?php if (!is_null($product->getProductUrl()) && $product->getProductUrl() != ''):?>
                                            </a>
                                            <?php endif; ?>
                                        </div>
                                        <?php else: ?>
                                        <div class="image-product shopcart-item-image">
                                            <div class="shopcart-header shopcart-header-image"><?php echo $this->__('Items') ?></div>
                                            <?php if ($product->hasProductUrl()):?>
                                            <a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>" class="product-image gift-card">
                                            <?php endif;?>
    <!--                                            <img src="--><?php //echo $_shoppingListItem->getIsVirtual() ? $this->getProductThumbnail() : $_shoppingListItem->getBuyRequest()->getGiftcardDesign(); ?><!--" width="--><?php //echo $w ?><!--" alt="--><?php //echo $this->escapeHtml($this->getProductName()) ?><!--" />-->
                                                <img src="<?php echo $product->getThumbnailUrl(); ?>" width="<?php echo $w ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" />
                                            <?php if ($product->hasProductUrl()):?>
                                            </a>
                                            <?php endif;?>
                                        </div>
                                        <?php endif; ?>
                                    </div><!-- /PRODUCT IMAGE -->

                                    <!-- ITEM INFO CONTAINER -->
                                    <div class="shopcart-cols-container">

                                        <!-- ITEM DETAILS COL -->
                                        <div class="shopcart-col shopcart-col-item">
                                            <!-- UNIT PRICE COL -->
                                            <div class="shopcart-item-price base-unit-price">
                                                <span class="cart-price cart-item-price"><?php if ($typeId != "aw_giftcard") { echo 'From'; } ?>
                                                    <span class="shoppinglist-item-price"><?php echo Mage::helper('checkout')->formatPrice($buyRequest['snapshot_price']); ?></span>
                                                </span>
                                            </div>

                                            <!-- PRODUCT NAME -->
                                            <div class="<?php echo ($typeId == "aw_giftcard") ? "product-name-giftcard" : "product-name"; ?> extra-accent-text">
                                                <a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($product->getName()) ?>"><?php echo $this->htmlEscape($product->getName()) ?></a>
                                            </div>

                                            <!-- PRODUCT SKU -->
                                            <div class="product-sku accent-text">
                                                <?php if ($typeId != "aw_giftcard") echo "#" . $_shoppingListItem->getProduct()->getData('model'); ?>
                                            </div>

                                            <!-- PRODUCT OPTIONS -->
                                            <?php
                                            if($_shoppingListItem->getBuyRequest()){
                                                foreach((array) $configurableAttributes as $superAttribute => $superValue) {
                                                    $attr = Mage::getModel('catalog/resource_eav_attribute')->load($superAttribute);
                                                    echo "<div>".ucwords($attr->getFrontend()->getLabel()).": <span class='cart-item-attribute'>". $attr->getSource()->getOptionText($superValue)."</span></div>";
                                                }
                                            }
                                            ?>

                                            <ul class="shopcart-action-links">
                                                <li>
    <!--                                                <a href="--><?php //echo $this->getRemoveItemUrl($_shoppingListItem->getItemId(), $groupId) ?><!--"-->
    <!--                                                   title="--><?php //echo $this->__('Remove item') ?><!--"-->
    <!--                                                   class="">Remove<span class="hide-480"> Item</span></a>-->
                                                    <a onclick="removeFromShoppinglist(this, '<?php echo $groupId; ?>', '<?php echo $itemId; ?>')"
                                                       title="<?php echo $this->__('Remove item') ?>"
                                                       class="">Remove<span class="hide-480"> Item</span></a>
                                                </li>
                                                <li>
                                                    <?php if ($product->isSaleable() && $isVisibleProduct): ?>
                                                    <a title="<?php echo $this->__('Move to Cart') ?>"
                                                          onclick="listItemToCart(this, '<?php echo $groupId; ?>', '<?php echo $itemId; ?>')"><?php echo $this->__('Move to Cart') ?></a>
                                                    <?php endif; ?>
                                                </li>
                                            </ul>


                                            <!-- QTY COL -->
                                            <div class="shopcart-col show-1010 shopcart-col-qty">
                                                <div class="shoppinglist-item-qty">
                                                    <span><?php echo (int)$_shoppingListItem->getQty(); ?></span>
                                                </div>
                                            </div><!-- /QTY COL -->

                                            <!-- SUBTOTAL COL -->
                                            <div class="shopcart-col show-1010 shopcart-col-subtotal">
                                                <div class="shoppinglist-item-subtotal"><?php if ($typeId != "aw_giftcard") { echo 'From'; } ?>
                                                    <div class="shoppinglist-item-price"><?php echo Mage::helper('checkout')->formatPrice($buyRequest['snapshot_row_total']); ?></div>
                                                </div>
                                            </div><!-- /SUBTOTAL COL -->


                                            <?php if(count($embOptions)): ?>
                                            <div id="shoppinglist-item-embroidery">
                                                <div class="embroidery-label-details">Applied Embroidery:</div>
                                                <?php echo $this->getLayout()->createBlock('core/template')->setData('embOptions', $embOptions)->setData('cartItem', '')->setTemplate('customoptions/embroiderytool.phtml')->toHtml(); ?>
                                            </div>
                                            <?php endif; ?>

                                            <!-- STOCK STATUS -->
                                            <?php if ($typeId != "aw_giftcard") : ?>
                                            <div id="cart-stock-status-<?php echo $itemId ?>" class="cart-stock-status">
                                                <?php //echo $this->getLayout()->createBlock('core/template')->setData('orderItem', $_shoppingListItem)->setData('itemProduct', $_simpleProduct)->setTemplate('ripen/bettercheckout/cart/item/stockstatus-verbose.phtml')->toHtml(); ?>
                                            </div>
                                            <?php endif; ?>

                                            <!-- ADD'L INFO -->
                                            <?php $addInfoBlock = $this->getProductAdditionalInformationBlock(); ?>
                                            <?php if ($addInfoBlock): ?>
                                                <?php echo $addInfoBlock->setItem($_shoppingListItem)->toHtml() ?>
                                            <?php endif; ?>

                                            <?php if ($isVisibleProduct && !$product->isSaleable()): ?>
                                                <span class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></span>
                                            <?php endif; ?>

                                        </div><!-- /ITEM DETAILS COL -->

                                        <!-- PLACEHOLDER COL -->
                                        <div class="shopcart-col shopcart-col-price">

                                        </div><!-- /PLACEHOLDER COL -->

                                        <!-- QTY COL -->
                                        <div class="shopcart-col hide-1010 shopcart-col-qty">
                                            <div class="shoppinglist-item-qty">
                                                <span><?php echo (int)$_shoppingListItem->getQty(); ?></span>
                                            </div>
                                        </div><!-- /QTY COL -->

                                        <!-- SUBTOTAL COL -->
                                        <div class="shopcart-col hide-1010 shopcart-col-subtotal">
                                            <div class="shoppinglist-item-subtotal"><?php if ($typeId != "aw_giftcard") { echo 'From'; } ?>
                                                <div class="shoppinglist-item-price"><?php echo Mage::helper('checkout')->formatPrice($buyRequest['snapshot_row_total']); ?></div>
                                            </div>
                                        </div><!-- /SUBTOTAL COL -->

                                        </div><!-- shopcart-cols-container -->
                                        <?php echo $this->getChildHtml('setting'); ?>

                                        <script type="text/javascript">
                                            var listForm = new VarienForm('shoppinglist-group-view', true);
                                        </script>
                                    </div> <!-- shopcart-item-container -->
                                <?php } // is logo setup ?>
                            <?php $sortOrder++; ?>
                        <?php endforeach; //END SAVED ITEM ?>
                    </form>
                    <?php endif; ?>
                <?php endforeach; //END SAVED GROUP ?>
                </div><!-- shopcart-items-collection -->
            </div><!-- shopping-cart-table -->
        </div>
    </div>
</div>
<?php //Mage::getSingleton('core/session')->unsSavecartSort();
 endif; ?>