/*---hide second and third snail mail cards---*/
.aw-gc-form .giftcard-design .input-box .gc-design-wrap:nth-child(3),
.aw-gc-form .giftcard-design .input-box .gc-design-wrap:nth-child(2) {display:none;}
.gift-card .two {padding:0;}
.gift-card .two li {text-transform: uppercase; list-style:disc outside none;}
.gift-card .three {overflow: hidden; padding: 10px 10px 0;}
.gift-card .three .right-card .gc-tab-shadow,
.gift-card .three .left-card .gc-tab-shadow {color: #dddddd;}
.gift-card .three .right-card.active .gc-tab-shadow,
.gift-card .three .left-card.active .gc-tab-shadow {color: #6f7073;}
.gift-card .gc-prod-wrap-shadow {
    -moz-box-shadow: 1px 1px 10px 3px #ccc;
    -webkit-box-shadow: 1px 1px 10px 3px #ccc;
    box-shadow: 1px 1px 10px 3px #ccc;  
}
.giftcard-design .input-box .gc-design-wrap {float: left;}
.giftcard-design .input-box .gc-design-img-wrap {float:left;}
.gc-add-to-box .add-to-cart {
    text-align:center;
    margin-top:20px;
}
.gc-add-to-box .add-to-cart .lbl-title {margin-right:15px;}
.gc-add-to-box .add-to-cart .wrap-qty {
    float:none !important;
    display:inline-block;
    vertical-align:middle;
    margin:5px 0 0;
}
.gc-add-to-box .add-to-cart .wrap-qty .qty {
    text-align:center;
}
.giftcard-design .input-box .gc-design-wrap:nth-child(odd) {margin-right: 50px;}
.gift-card .product-wrapper .gc-description {padding:20px 20px 0; line-height: 23px;}
.gift-card .aw-gc-form .giftcard-design ul.form-list,
.gift-card .aw-gc-form .aw-gc-amount-form ul.form-list {width: 100%;}
.gift-card .aw-gc-form .aw-gc-amount-form ul.form-list select {width: 265px;}
.gift-card .aw-gc-form .form-list .field {width: 100%; float: none;}
.gift-card .aw-gc-form .fieldset.aw-gc-send-form.email-send-form,
.gift-card .aw-gc-form .fieldset.aw-gc-send-form.mail-send-form {margin-top: 40px;}
.gift-card .aw-gc-form .form-list .from-message label {width: 90px;}
.gift-card .aw-gc-form .form-list .from-message textarea {height: 4em; width: 300px;}
.gift-card .aw-gc-form .from-message {width:100%;}
.gift-card .aw-gc-form .form-list .input-box input.input-text {padding: 5px; width: 300px;}
.gift-card .title-mail {
    font-weight: 600;
    margin: 0 0 30px;
}
.gift-card form textarea {
    border: 1px solid #A7A7A7;
    width: 100%;
    box-sizing:border-box;
    padding:15px 10px 5px 10px;
    height:126px;
}
.gift-card-container {text-align:center;padding:60px 0;}
.gift-card-wrapper {display:inline-block;text-align:left;}
.aw-gc-send-form-container {text-align:center;}
.aw-gc-send-form-wrap {display:inline-block; text-align:left;}
.gift-card .product-view .giftcard-design input {margin: 30px 10px 0 15px;}
.gift-card .product-view .giftcard-design img {float:left;}
.gift-card #aw-gc-amount-box {margin-left: 106px;}
.gift-card .product-view #product_addtocart_form .add-to-cart label,
.gift-card .product-view #product_addtocart_form .add-to-cart .wrap-qty {display: none;}
.gift-card .one img {width:100%;}
.gift-card .two li {text-align:center; }
.gift-card .two .two-item {width:25%; float:left;}
.gift-card .two ul li a {
    font-size:18px;
    color:#6f7073;
    font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
    font-weight: 400;
    text-transform:uppercase;
}
.gift-card .two {
    background:url("../../images/bg-menu-giftcard.jpg") repeat;
    height:104px;
    overflow:hidden;
    line-height:104px
}
.gift-card .three {margin-top:9px}
.gift-card .three div.left-card,
.gift-card .three div.right-card {
    background-color:#6f7073;
    text-align:center;
    width:49.5%;
    height:72px;
    line-height:72px;
}
.gift-card .three div.left-card.active,
.gift-card .three div.right-card.active {background-color:#ffffff;}
.gift-card .gc-tab-shadow {box-shadow: 1px 1px 10px 3px #ccc;}
.gift-card .three a {
    color:#f0f0f0;
    font-size:30px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
    font-weight: 300;
}
.gift-card .three div.left-card {float:left;}
.gift-card .three div.right-card {float:right; }
.gift-card .four {
    clear:both;
    text-align:center;
    margin-top:45px;
}
.gift-card .four  div {
    font-size:38px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
    font-weight: 700;
}
.gift-card .four a {
    font-size:26px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
    font-weight: 600;
    color:#d4602e;
    display:block
}
.gift-card .four a:hover {text-decoration:underline}
.gift-card .five {margin-top:30px;}
.adapt-1 .gift-card .two ul li {margin:0px 16px}
.adapt-1 .gift-card .two ul li a {font-size:13px;}
.adapt-0 .gift-card .two ul {margin-top:9px;}
.adapt-0 .gift-card .two ul li a {font-size:12px}
.adapt-0 .gift-card .two ul li {margin:0; float:none; line-height:21px;}
.adapt-0 .gift-card .three div a {font-size:15px; padding-right:21px}
.adapt-0 .gift-card .four div {font-size:22px}
.adapt-0 .gift-card .four {margin-top:27px;}
.adapt-0 .gift-card .four a {font-size:23px; padding-top:26px;}
.aw-gc-form .form-list label, .from-message  label {
    float:left;
    width:127px;
    text-align:right;
    margin-right:10px;
}
.giftcard-design .form-list .input-box {
    clear:both;
    width: 82%;
    margin:auto;
}
.aw-gc-form .form-list .field {width:100%; float:none}
.aw-gc-form .form-list label.required em {
    position:inherit;
    right:0;
    top:0
}
.aw-gc-form .form-list .input-box input.input-text,.from-message .input-box input.input-text {
    padding:1px 5px;
    background:#f9f9f9;
    width:275px;
}
.gift-card .product-view #product_addtocart_form .add-to-cart button.button>span {padding: 5px 20px;}
.gift-card .product-view #product_addtocart_form .add-to-cart button.button span span {text-transform: uppercase;}
.gc_images.bordered {border: 4px solid #3088f0;}
.gc_images {border: 4px solid #fff;}
.giftcard-customer {
    margin: 20px;
    text-align: center;
	float:left;
}
.giftcard-customer .four {margin: 35px 0 15px 0;}
.giftcard-customer .four div {
    font-size: 26px;
    margin: 17px 0;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 600;
}
.giftcard-customer .four a {
    font-size: 20px;
    color: #F08153;
    text-decoration: underline;
}
.my-account form#aw_giftcard-form ul.form-list li div.input-box {float: left;}
.item-options.giftcard-item-options div {margin: 6px 0;}
.gift-card .product-view .giftcard-design input:first-child {margin-left:0;}
.gift-card .product-view .giftcard-design img {width:150px;}
/* HIDE THE FIRST AND THIRD GIFT CARD IMAGES AND INPUTS */
.giftcard-design .input-box input[value$='_a1.png'],
.giftcard-design .input-box input[value$='_b1.png'],
.giftcard-design .input-box a[href$='_a1.png'],
.giftcard-design .input-box a[href$='_b1.png'] {display:none;}
.giftcard-customer .four div:first-child {line-height:30px;}
.giftcard-status-check #gcCheckStatusButton {vertical-align: middle !important;}
.giftcard-status-check {margin: 40px 0 40px 0;}
.giftcard-status-check #results div.giftcard-result {
    margin: 20px 0 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0 20px 0;
}
.giftcard-status-check #results .giftcard-status {margin: 5px 0 5px 0;}
.giftcard-status-check #results .giftcard-status span {font-weight: bold;}
#aw_giftcard-form .input-text {box-sizing: border-box; height:38px; width: 142px;}
.aw-gc-form li label {white-space: initial;}
.gift-card .product-configure .title-mail,
.gift-card .product-configure .title-email {padding:0;}

@media screen and (max-width:960px) {
   .aw-gc-form .form-list label, .from-message label {width:90px;}
   .gift-card .aw-gc-form .form-list .from-message textarea,
   .gift-card .aw-gc-form .form-list .input-box input.input-text {width:205px;}
}
@media screen and (max-width:767px) {
    .gift-card-wrapper {
        margin:0 10px;
    }
}
@media screen and (max-width:767px) {
   .gift-card .two {height:auto; line-height:60px;}
   .gift-card .two .two-item {float:none; width:100%;}
    .giftcard-design .input-box .gc-design-wrap:nth-child(odd) {margin-right: 30px;}
}

@media screen and (max-width:568px) {
	.aw-gc-form ul.grid_11 {float:none; width:100%;}
	.gift-card .aw-gc-form .form-list .field {width:350px; margin:auto;}
   .gift-card .product-view .giftcard-design img {width:115px; margin-right:10px;}
    .giftcard-design .form-list .input-box {width: 90%;}
}
@media screen and (max-width:480px) {
	.gift-card .aw-gc-form .form-list .field {width:250px !important; margin:auto;}
	.gift-card .product-view .product-essential {margin-left:0;}
	.gift-card .title-mail {padding-left:20px;}
   .gift-card .aw-gc-form .giftcard-design ul.form-list .input-box {width:100%;}
   .gift-card .aw-gc-form .giftcard-design ul.form-list .input-box .gc-design-img {float:none; width:150px; margin:auto;}
   .gift-card .aw-gc-form .giftcard-design ul.form-list .gc-design-wrap {
       width:175px;
       margin:auto;
       float:none;
   }
    .gift-card .aw-gc-form .form-list .from-message textarea,
    .gift-card .aw-gc-form .form-list .input-box input.input-text {width: 135px;}
   .gift-card .product-view .giftcard-design img {width:152px; margin:10px 0}
   .gift-card .aw-gc-form .aw-gc-amount-form ul.form-list select {width:160px;}
    .giftcard-customer {float:none;}
    #aw_giftcard-form .input-text {width:100%; margin:0 0 15px 0; text-align: center}
    #aw_giftcard-form button {width:100%;}
    .giftcard-status-check #gcCheckStatusButton span {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
    }
    .giftcard-customer {margin: 0;}
    .giftcard-customer .four div {font-size: 22px;}
    .giftcard-status-check {margin: 20px 0 40px 0;}
}