<div class="cat-aspot">
    <div id="trending-aspot">
        <div class="a-desk">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/cat-trending-d.jpg"}}" alt="Trending Products" />
        </div>
        <div class="a-mob">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/cat-trending-m.jpg"}}" alt="Trending Products" />
        </div>
    </div>
</div>