<div class="scf trend">
    <div class="top-image">
        <a href="{{store direct_url="chef-hats.html"}}">
        <div class="hide-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-d1-spot-d.jpg"}}" alt="Shop hats" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-d1-spot-m.jpg"}}" alt="Shop hats" />
        </div>
        </a>
    </div>
</div>
