<div class="colour trend" id="homepage_3column_c">
    <div class="top-image">
        <a href="{{store direct_url="aprons.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-d3-spot-d.jpg"}}" alt="Shop aprons" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-d3-spot-m.jpg"}}" alt="Shop aprons" />
            </div>
        </a>
    </div>
</div>