<div class="wide-banner trend">
    <div>
        <a href="{{store direct_url="chef-pants.html?narrow_results_by=827"}}">
        <div class="hide-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-b-spot-d.jpg"}}" alt="20% off all chef pants." />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-b-spot-m.jpg"}}" alt="20% off all chef pants." />
        </div>
        </a>
    </div>
</div>

<div class="homepage-2column clearfix trend">

    <div class="homepage-2column-col1 clearfix">
        <div class="image-left">
            <a href="{{store url="chef-pants.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-c2-spot-d.jpg"}}" alt="Shop pants" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-c2-spot-d.jpg"}}" alt="Shop pants" />
            </div>
            </a>
        </div>
    </div>

    <div class="homepage-2column-col2 clearfix">
        <div class="image-right">
            <a href="{{store url="chef-coats-jackets.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-c1-spot-d.jpg"}}" alt="Shop coats" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-c1-spot-d.jpg"}}" alt="Shop coats" />
            </div>
            </a>
        </div>
    </div>

</div>