<div class="homepg-hero trend">
    <div>
        <a href="{{store direct_url="trending-products.html"}}">
        <div class="hide-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-hp-a-spot-d.jpg"}}" alt="See the hottest Happy Chef items of 2016." />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-hp-a-spot-m.jpg"}}" alt="See the hottest Happy Chef items of 2016." />
        </div>
        </a>
    </div>
</div>