<div class="special trend" id="homepage_3column_b">
    <div class="top-image">
        <a href="{{store direct_url="shirts.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-d2-spot-d.jpg"}}" alt="Shop shirts" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-d2-spot-m.jpg"}}" alt="Shop shirts" />
            </div>
        </a>
    </div>
</div>