<div class="wide-banner trend">
    <div>
        <a href="{{store direct_url="cookcool.html"}}">
        <div class="hide-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-e-spot-d.jpg"}}" alt="Shop CookCool" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-e-spot-m.jpg"}}" alt="Shop CookCool" />
        </div>
        </a>
    </div>
</div>

<div class="homepage-2column clearfix trend">

    <div class="homepage-2column-col1 clearfix">
        <div class="image-left">
            <a href="{{store url="cutlery-and-chef-knives.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-f1-spot-d.jpg"}}" alt="Shop cutlery" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-f1-spot-m.jpg"}}" alt="Shop cutlery" />
            </div>
            </a>
        </div>
    </div>

    <div class="homepage-2column-col2 clearfix">
        <div class="image-right">
            <a href="{{store url="chef-shoes.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-f2-spot-d.jpg"}}" alt="Shop shoes" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-f2-spot-m.jpg"}}" alt="Shop shoes" />
            </div>
            </a>
        </div>
    </div>

</div>

<div class="wide-banner trend">
    <div>
        <a href="{{store direct_url="sale.html"}}">
        <div class="hide-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-g-spot-d.jpg"}}" alt="End of season clearance" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-g-spot-m.jpg"}}" alt="End of season clearance" />
        </div>
        </a>
    </div>
</div>
