<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.2.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @category   design_default
 * @package    Mage
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<div class="form-add clearfix">
			<div class="Button_Write-a-Review" id="Button_Write-a-Review"> <span id="show_write">Write a Review</span></div>
<script type="text/javascript">

    function showReviewBox(){
        jQuery.fancybox({

            width: 'auto',
            autoWidth: true,
            href: '#review-form-container',
            modal: false,
            afterLoad: function () {
                jQuery(".fancybox-wrap").addClass("write_review");
            }

        });
        jQuery.fancybox.update();
        return false;
    }

	jQuery(document).ready(function() {

        jQuery(".fancybox").fancybox({
            //'width'  : 600,
            //'height' : 600,
            'type'   : 'iframe'
        });

        jQuery('#Button_Write-a-Review').click(function(ev) {
            ev.preventDefault();
            showReviewBox();
        });

        jQuery('#review-first-link').click(function(ev) {
            ev.preventDefault();
            showReviewBox();
        });

        if (window.location.hash === "#writeReview"){
            var rTo = setTimeout("showReviewBox()",2000); // Allow page to settle so fancybox is centered
        }

	});
</script>
<div class="write_contener" style="display:none; width:auto;">
    <div id="review-form-container">
        <?php if (Mage::helper('advancedreviews')->checkVersion('1.4.0.0')): ?>
        <form action="<?php echo $this->getAction() ?>" method="post" id="review-form">
            <?php echo $this->getBlockHtml('formkey'); ?>
            <div class="form-add">
                <h2><?php echo $this->__('Write Your Own Review') ?></h2>
                <div class="review-left">
                    <?php echo $this->getChildHtml('form_fields_before')?>
                    <div class="review-info"><?php echo $this->__("You're reviewing:"); ?> <span><?php echo $this->htmlEscape($this->getProductInfo()->getName()) ?></span></div>
                    <?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
                    <h4><?php echo $this->__('Rate this product:') ?></h4>
                        <span id="input-message-box"></span>
                        <table class="data-table table-1" id="product-review-table">
                            <col />
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th><span class="nobr"><?php echo $this->__('1 star') ?></span></th>
                                    <th><span class="nobr"><?php echo $this->__('2 stars') ?></span></th>
                                    <th><span class="nobr"><?php echo $this->__('3 stars') ?></span></th>
                                    <th><span class="nobr"><?php echo $this->__('4 stars') ?></span></th>
                                    <th><span class="nobr"><?php echo $this->__('5 stars') ?></span></th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($this->getRatings() as $_rating): ?>
                                <tr>
                                    <th><?php echo $this->escapeHtml($_rating->getRatingCode()) ?></th>
                                <?php foreach ($_rating->getOptions() as $_option): ?>
                                    <td class="value"><input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>" value="<?php echo $_option->getId() ?>" class="radio" /></td>
                                <?php endforeach; ?>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                        <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                        <input type="hidden" name="order_id" value="<?php echo Mage::app()->getRequest()->getParam('orderid'); ?>">
                        <input type="hidden" name="is_from_customer" value="<?php echo (Mage::app()->getRequest()->getParam('ref') == "followup") ? 1 : 0; ?>">
                        <script type="text/javascript">decorateTable('product-review-table')</script>
                    <?php endif; ?>
                    <?php // echo $this->getChildHtml('advancedreviews_proscons_checker') ?>
                    <br />
                </div>
                <div class="review-right">
                <ul class="form-list">
                    <div class="title-review-right"><?php echo $this->__('Tell us what you think:')?></div>
                    <?php
                    // Disable Pros and Cons section
                    //echo $this->getChildHtml('advancedreviews_recommend_field');
                    ?>
                    <?php if($this->isNeedEmailField()):?>
                    <li>
                        <label for="email_field" class="required" style="color:red;"><em>*</em><?php echo $this->__('Email') ?></label>
                        <div class="input-box">
                            <input type="text" name="email" id="email_field" class="input-text required-entry validate-email"/>
                        </div>
                    </li>
                    <?php endif;?>
                    <li>
                        <!--<label for="nickname_field" class="required"><em>*</em><?php //echo $this->__('Nickname') ?></label>-->
                        <div class="input-box">
                            <input type="text" name="nickname" id="nickname_field" class="input-text required-entry" value="<?php echo $this->htmlEscape($data->getNickname()) ?>" placeholder="Nickname" />
                        </div>
                    </li>
                    <li>
                        <!--<label for="summary_field" class="required"><em>*</em><?php //echo $this->__('Summary of Your Review') ?></label>-->
                        <div class="input-box">
                            <input type="text" name="title" id="summary_field" class="input-text required-entry" value="<?php echo $this->htmlEscape($data->getTitle()) ?>" placeholder="Summary of Your Review"/>
                        </div>
                    </li>
                    <li>
                        <!--<label for="review_field" class="required"><em>*</em><?php //echo $this->__('Review') ?></label>-->
                        <div class="input-box">
                            <textarea name="detail" id="review_field" cols="5" rows="3" class="required-entry" placeholder="Write your Review"><?php echo $this->htmlEscape($data->getDetail()) ?></textarea>
                        </div>
                    </li>
                </ul>
                    <div class="buttons-set">
                        <button type="submit" title="<?php echo $this->__('Submit Review') ?>" class="button"><span><span><?php echo $this->__('Submit Review') ?></span></span></button>
                    </div>
                </div>

                </div>
        </form>
	<?php else: ?>
	<div class="page-head">
		<h3><?php echo $this->__('Write Your Own Review') ?></h3>
	</div>
    <div class="review-info"><?php echo $this->__("You're reviewing:") ?> <span><?php  echo $this->htmlEscape($this->getProductInfo()->getName()); ?></span></div>
	<form action="<?php echo $this->getAction() ?>" method="post" id="review-form">
	<fieldset>
		<div class="product-review-box">
		<?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
		<strong><?php echo $this->__('Rate this product:') ?></strong><br />
		<span id="input-message-box"></span>
		<table class="data-table" id="product-review-table" cellspacing="0">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th><?php echo $this->__('1 star') ?></th>
					<th><?php echo $this->__('2 stars') ?></th>
					<th><?php echo $this->__('3 stars') ?></th>
					<th><?php echo $this->__('4 stars') ?></th>
					<th><?php echo $this->__('5 stars') ?></th>
				</tr>
			</thead>
			<tbody>
			<?php $_oddIterator = 1; ?>
			<?php foreach ($this->getRatings() as $_rating): ?>
				<tr class="odd<?php if($_oddIterator == $this->getRatings()->getSize()): $_oddIterator = 0; ?> last<?php endif; ?>">
					<td class="label"><?php echo $_rating->getRatingCode() ?></td>
				<?php $_iterator = 1; ?>
				<?php foreach ($_rating->getOptions() as $_option): ?>
					<!--<td <?php if($_iterator == 5): ?>class="last"<?php endif; ?> style="width:60px;"><input type="radio" <?php if($_iterator == 5): $_iterator=0; ?>class="validate-one-required-by-name"<?php endif; ?> name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $_rating->getRatingCode() ?>_<?php echo $_option->getValue() ?>" value="<?php echo $_option->getId() ?>"/></td>-->
					<td<?php if($_iterator == 5): ?> class="last"<?php endif; ?> style="width:60px;"><input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $_rating->getRatingCode() ?>_<?php echo $_option->getValue() ?>" value="<?php echo $_option->getId() ?>" /></td>
				<?php $_iterator++ ?>
				<?php endforeach; ?>
				</tr>
			<?php $_oddIterator ++; ?>
			<?php endforeach; ?>
			</tbody>
		</table>
		<input type="hidden" name="validate_rating" class="validate-rating" value="" />
		<script type="text/javascript">decorateTable('product-review-table')</script>
		<?php endif; ?>
			<?php echo $this->getChildHtml('advancedreviews_proscons_checker') ?>
		</div>
			<?php echo $this->getChildHtml('advancedreviews_recommend_field') ?>
				<?php if($this->isNeedEmailField()):?>
				<div>
					<label for="email_field"><?php echo $this->__('Email') ?><span class="required">*</span></label><br />
					<input class="input-text required-entry validate-email" name="email" id="email_field" style="width: 450px;" type="text"/>
				</div>
				<?php endif;?>
			<div>
			<!--<label for="nickname_field"><?php //echo $this->__('Nickname') ?><span class="required">*</span></label><br />-->
			<input class="input-text required-entry" name="nickname" id="nickname_field" style="width: 450px;" type="text" value="<?php echo $this->htmlEscape($data->getNickname()) ?>" placeholder="Nickname"/><span class="required">*</span>
			</div>

			<div>
			<!--<label for="summary_field"><?php echo $this->__('Summary of Your Review') ?><span class="required">*</span></label><br />-->
			<input name="title" class="input-text  required-entry" id="summary_field" style="width: 450px;" type="text" value="<?php echo $this->htmlEscape($data->getTitle()) ?>" placeholder="Summary of Your Review" />
			</div>

			<div>
			<!--<label for="review_field"><?php //echo $this->__('Review') ?><span class="required">*</span></label><br />-->
			<textarea class="required-entry" name="detail" id="review_field" cols="53" rows="10" style="width: 450px;" placeholder="Write your Review"><?php echo $this->htmlEscape($data->getDetail()) ?></textarea>
			</div>

		<div class="button-set">
			<button class="form-button right" type="submit"><span><?php echo $this->__('Submit Review') ?></span></button>
		</div>
	</fieldset>
	</form>
	<?php endif; ?>
    </div>

</div>
</div>
<script type="text/javascript">
    function appendAntiSpamField(){
        var forms = document.getElementsByTagName("form");
        for(var i = 0,l = forms.length;i < l;i++){
            var inp = document.createElement('input');
            inp.setAttribute("type","hidden");
            inp.setAttribute("name","_antispam");
            var d = new Date();
            inp.value = "antispam_"+d.getMilliseconds();
            forms[i].appendChild(inp);
        }
    }
    document.observe("dom:loaded", appendAntiSpamField);
</script>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('review-form');
    Validation.addAllThese(
    [
           ['validate-rating', '<?php echo $this->__('Please select one of each of the ratings above') ?>', function(v) {
                var trs = $('product-review-table').select('tr');
                var inputs;
                var error = 1;

                for( var j=0; j < trs.length; j++ ) {
                    var tr = trs[j];
                    if( j > 0 ) {
                        inputs = tr.select('input');

                        for( i in inputs ) {
                            if( inputs[i].checked == true ) {
                                error = 0;
                            }
                        }

                        if( error == 1 ) {
                            return false;
                        } else {
                            error = 1;
                        }
                    }
                }
                return true;
            }]
    ]
    );
//]]>
</script>


