<div class="optimiseweb-system-config-fieldset-hint">

    <a target="_blank" href="<?php echo $this->getOptimiseWebUrl(); ?>"><img src="//optimiseweb.co.uk/magento-connect/assets/logo/optimiseweb.php?<?php echo $this->getPxParams(); ?>" /></a>

    <h4>
        <strong style="color:#ea7601;">Mass 301 Redirects v<?php echo $this->getModuleVersion(); ?></strong> by <a target="_blank" href="<?php echo $this->getOptimiseWebUrl(); ?>"><strong>Optimise Web</strong></a>
    </h4>

    <p>
        <a target="_blank" href="<?php echo $this->getOptimiseWebUrl(); ?>"><strong>Optimise Web</strong></a> is a <strong>Full Service Digital Agency</strong> from Edinburgh (Scotland, UK).
        The author of this extension, <a target="_blank" href="<?php echo $this->getKathirVelUrl(); ?>"><strong>Kathir 'Sid' Vel</strong></a>, is our eCommerce and Digital Marketing specialist.
    </p>

    <p>
        Need assistance? <a target="_blank" href="<?php echo $this->getHelpDeskUrl(); ?>">Submit a ticket</a>.
        Got feedback? <a target="_blank" href="<?php echo $this->getOptimiseWebEmailLink(); ?>">Email us</a>.
        <!--Subscribe to our newsletter? <a target="_blank" href="<?php echo $this->getOptimiseWebUrl(); ?>">Visit our website</a>.-->
    </p>

</div>

<style>
    .optimiseweb-system-config-fieldset-hint  {
        background: #E7EFEF;
        border: 1px solid #CCCCCC;
        margin-bottom: 10px;
        padding: 11px 0 0 10px;
    }
</style>