<?php
$_option = $this->getOption();
$_fileInfo = $this->getFileInfo();
$_fileExists = $_fileInfo->hasData() ? true : false;
$_fileName = 'options_' . $_option->getId() . '_file';

$_id = $_option->getId();
$_fieldNameAction = $_fileName . '_action';
$_fieldValueAction = $_fileExists ? 'save_old' : 'save_new';
$_fileNamed = $_fileName . '_name';
$_rand = rand();

$helper = Mage::helper('customoptions');
$disabled = '';
if ($helper->isDependentEnabled() && $_option->getIsDependent()) {
    $disabled = 'disabled="disabled"';
}
?>
<script type="text/javascript">
    //<![CDATA[
    opFile<?php echo $_rand; ?> = {
        initializeFile: function(inputBox) {
            this.inputFile = inputBox.select('input[name="<?php echo $_fileName; ?>"]')[0];
            this.inputFileAction = inputBox.select('input[name="<?php echo $_fieldNameAction; ?>"]')[0];
            this.fileNameBox = inputBox.up('dd').select('.<?php echo $_fileNamed ?>')[0];
        },

        toggleFileChange: function(inputBox) {
            this.initializeFile(inputBox);
            inputBox.toggle();
            this.fileChangeFlag = this.fileChangeFlag ? false : true;
            if (!this.fileDeleteFlag) {
                if (this.fileChangeFlag) {
                    this.inputFileAction.value = 'save_new';
                    this.inputFile.disabled = false;
                } else {
                    this.inputFileAction.value = 'save_old';
                    this.inputFile.disabled = true;
                }
            }
        },

        toggleFileDelete: function(fileDeleteFlag, inputBox) {
            this.initializeFile(inputBox);
            this.fileDeleteFlag = fileDeleteFlag.checked ? true : false;
            if (this.fileDeleteFlag) {
                this.inputFileAction.value = '';
                this.inputFile.disabled = true;
                this.fileNameBox.setStyle({'text-decoration': 'line-through'});
            } else {
                this.inputFileAction.value = this.fileChangeFlag ? 'save_new' : 'save_old';
                this.inputFile.disabled = (this.fileChangeFlag == 'save_old');
                this.fileNameBox.setStyle({'text-decoration': 'none'});
            }
        }
    };

    //Toggle for the div of upload button.
    function f1(){
        $j(".input-box.custom-box").toggle();
    }
    //]]>
</script>
<style type="text/css">
    .input-box.custom-box {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #CCCCCC;
        float: left;
        height: auto;
        margin-top: 12px;
        padding: 15px;
        width: 94%;
    }
    .custom-box .no-margin {
        display: none;
    }
    .save-as {
        border-top: 1px solid #DDDDDD;
        float: left;
        margin-top: 20px;
        padding-top: 20px;
        width: 100%;
    }
    .save-as > p {
        float: left;
        margin-top: 3px;
    }
    .upload-the-image > div {
        float: left;
        width: 100%;
        margin-top: 15px;
        clear: both;
    }
</style>
<div <?php if ($helper->hideDependentOption() && $_option->getIsDependent() || $_option->getViewMode()==2) { ?>style="display: none;"<?php } ?> class="option<?php if ($helper->isSpecifyingCssClassEnabled() && $_option->getDivClass()) echo ' '.$_option->getDivClass() ?>">
    <dl>
        <dt><label><?php echo  $this->htmlEscape($_option->getTitle()) ?><?php if ($_option->getIsRequire(true)): ?><span class="required">&nbsp;*</span><?php endif; ?></label>
            <?php echo $helper->getFormatedOptionPrice($this->getProduct(), $_option); ?>
        <?php if ($_option->getDescription()): ?><p class="note"><?php echo $_option->getDescription() ?></p><?php endif; ?>
        </dt>
        <dd<?php if ($_option->decoratedIsLast){?> class="last"<?php }?>>
            <?php if ($_fileExists) { ?>
                <span class="<?php echo $_fileNamed ?>"><?php echo $_fileInfo->getTitle(); ?></span>
                <a href="javascript:void(0)" class="label" onclick="opFile<?php echo $_rand; ?>.toggleFileChange($(this).next('.input-box'))">
                    <?php echo Mage::helper('catalog')->__('Change') ?>
                </a>&nbsp;
                <?php if (!$_option->getIsRequire()): ?>
                    <input type="checkbox" onclick="opFile<?php echo $_rand; ?>.toggleFileDelete($(this), $(this).next('.input-box'))" />
                    <span class="label"><?php echo Mage::helper('catalog')->__('Delete') ?></span>
                <?php endif; ?>
            <?php } ?>

            <!--Upload your Art box -->
            <div class="choose-art">
                <span>Choose Art</span>
                <ul>
                    <?php
                    if(Mage::getSingleton('customer/session')->isLoggedIn()) {
                        $customerData = Mage::getSingleton('customer/session')->getCustomer();
                        $customerId = $customerData->getId();
                        $orderCollection = Mage::getModel('sales/order')->getCollection()
                            ->addFieldToFilter('customer_id', array('eq' => array($customerId)));
                        $arrayF = array();
                        foreach($orderCollection as $order){
                            $items = $order->getAllVisibleItems();
                            foreach ($items as $itemId => $item) {
                                // Get Product Options of each item
                                $options = $item->getProductOptions();
                                // Go to each option
                                foreach ($options as $val) {
                                    foreach($val as $option) {
                                        Mage::log($option, null,'source.log');
                                        $option_type = $option['option_type'];
                                        if($option_type == 'file') {
                                            $baseurl = $this->getUrl('');
                                            $url = $option['value'];
                                            $optionValuesFull = $option['option_value'];
                                            $data = unserialize($optionValuesFull);
                                            $fullpath = basename($data["fullpath"]);
                                            $title = $data["title"];
                                            preg_match_all('/<a[^>]+href=([\'"])(.+?)\1[^>]*>/i', $url, $result);
                                            if (!empty($result)) {
                                                if(!in_array($fullpath,$arrayF)){
                                                    $arrayF[$result[2][0]."|".$title] = $fullpath;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    $partesArrayF = array();
                    foreach($arrayF as $k => $v){
                        $partesArrayF  = explode("|",$k);
                        $srcF = $partesArrayF[0];
                        $titleF = $partesArrayF[1];
                        echo '<li class="uploaded-image-x"><img width="75" class="swatch image-to-select" id="'.$v.'" src="' . $srcF . '" title="'.$titleF.'" /></li>';
                    }
                    ?>
                </ul>
            </div>

            <div class="base_url"></div>

            <!--Button for upload your art-->
            <div id="upload-box"><input id="upload-button" type="button" value="Upload Your Art" onclick="f1();"/></div>

            <div class="input-box custom-box" <?php echo $_fileExists ? 'style="display:none"' : '' ?>>
                <script type="text/javascript">
                    var $j = jQuery.noConflict();

                    $j(document).ready(function() {

                        $j(".input-box.custom-box").hide();

                        $j("#upload-button").click(function(){
                            $j(".input-box.custom-box").toggle();

                        });

                        $j("li.uploaded-image-x").appendTo(".choose-art > ul > ul");

                        $j(".choose-art > ul").hide();

                        $j(".choose-art > ul").each(function(){
                            $j(".choose-art > span").toggle(
                                function(){
                                    $j(".choose-art > ul").stop(true).show();
                                    $j(this).closest(".main-contenedor").find("input[type='radio']").removeClass("selected-radio");
                                    $j(this).closest(".option.title").find("input[type='radio']").attr('checked', true).addClass("selected-radio");
                                    $j(".custom-box").hide();
                                },
                                function(){
                                    $j(".choose-art > ul").stop(true).hide();
                                    $j(this).closest(".main-contenedor").find("input[type='radio']").removeClass("selected-radio");
                                    $j(this).closest(".option.title").find("input[type='radio']").attr('checked', true).addClass("selected-radio");
                                    $j(".custom-box").hide();
                                }
                            );
                        });

                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $j('#uploaded-img').attr('src', e.target.result);
                                    var uploadedfilename = $j('.upload-the-image input[type=file]').val().split('\\').pop();
                                    $j("#imagenameinput").attr("value",uploadedfilename)
                                }
                                reader.readAsDataURL(input.files[0]);
                                $j("#uploaded-img-container").show();
                                $j("#uploaded-img").show();

                            }
                        }
                        $j(".file-uploader-system").change(function(){
                            readURL(this);
                            opConfig.reloadPrice();
                        });

                    });
                </script>


                <!--Preview thumbnail-->
                <div class="upload-the-image">
                    <input type="file" id="option_<?php echo $_option->getId() ?>_file" <?php echo $disabled ?>  name="<?php echo $_fileName; ?>" class="file-uploader-system product-custom-option<?php echo $_option->getIsRequire(true) ?($_option->getIsDependent()?' required-dependent':' required-entry') : '' ?>" />
                    <div id="uploaded-img-container">
                        <img src="#" id="uploaded-img" width="125" style="display:none" />
                        <input type="hidden" id="imagenameinput" />
                    </div>

                    <input type="hidden" name="<?php echo $_fieldNameAction; ?>" value="<?php echo $_fieldValueAction; ?>" />
                    <?php if ($_option->getFileExtension()): ?>
                        <p class="no-margin"><?php echo Mage::helper('catalog')->__('Allowed file extensions to upload')?>: <strong><?php echo $_option->getFileExtension() ?></strong></p>
                    <?php endif; ?>
                    <?php if ($_option->getImageSizeX() > 0): ?>
                        <p class="no-margin"><?php echo Mage::helper('catalog')->__('Maximum image width')?>: <strong><?php echo $_option->getImageSizeX() ?> <?php echo Mage::helper('catalog')->__('px.')?></strong></p>
                    <?php endif; ?>
                    <?php if ($_option->getImageSizeY() > 0): ?>
                        <p class="no-margin"><?php echo Mage::helper('catalog')->__('Maximum image height')?>: <strong><?php echo $_option->getImageSizeY() ?> <?php echo Mage::helper('catalog')->__('px.')?></strong></p>
                    <?php endif; ?>
                </div>
                <div class="save-as"><p>Save image name as:</p> <input type="text" name="saving_name"/></div>
            </div>
        </dd>
    </dl>
</div>