<?php
$_option = $this->getOption();
$_id = $_option->getId();
$disabled = '';
$helper = Mage::helper('customoptions');
if ($helper->isDefaultTextEnabled() && !$this->getDefaultValue() && $_option->getDefaultText()) $defaultValue = $_option->getDefaultText(); else $defaultValue = $this->getDefaultValue();
if ($helper->isDependentEnabled() && $_option->getIsDependent()) {
    $disabled = 'disabled="disabled"';    
    if ($defaultValue) {
        $dependentJS = 'dependentDefault["options_' . $_option->getId() . '_text"] = "'. str_replace(array("\r\n", "\n"), '\n', $this->htmlEscape($defaultValue)).'";';
        echo '<script type="text/javascript">'.$dependentJS.'</script>';
    }
}
?>
<div <?php if ($helper->hideDependentOption() && $_option->getIsDependent() || $_option->getViewMode()==2) { ?>style="display: none;"<?php } ?> class="option<?php if ($helper->isSpecifyingCssClassEnabled() && $_option->getDivClass()) echo ' '.$_option->getDivClass() ?>">
<dl>
<?php if ($helper->isImagesAboveOptions()) echo $helper->getImgHtml($_option->getImagePath(), $_option->getId()); ?>
<dt><label><?php echo  $this->htmlEscape($_option->getTitle()) ?><?php if ($_option->getIsRequire(true)): ?><span class="required">&nbsp;*</span><?php endif; ?></label>
    <?php echo $helper->getFormatedOptionPrice($this->getProduct(), $_option) ?>
    <?php if ($_option->getDescription()): ?><p class="note"><?php echo $_option->getDescription() ?></p><?php endif; ?></dt>
<dd<?php if ($_option->decoratedIsLast){?> class="last"<?php }?>>
<?php if ($_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_FIELD): ?>
        <input type="text" onchange="opConfig.reloadPrice()" <?php echo $disabled; ?> id="options_<?php echo $_option->getId() ?>_text" class="input-text-option input-text<?php echo $_option->getIsRequire(true) ?($_option->getIsDependent()?' required-dependent':' required-entry') : '' ?> <?php echo $_option->getMaxCharacters() ? ' validate-length maximum-length-'.$_option->getMaxCharacters() : '' ?> product-custom-option" name="options[<?php echo $_option->getId() ?>]" value="<?php echo $this->htmlEscape($defaultValue) ?>" />
<?php elseif ($_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_AREA): ?>
        <textarea id="options_<?php echo $_option->getId() ?>_text" onchange="opConfig.reloadPrice()" <?php echo $disabled; ?> class="<?php echo $_option->getIsRequire(true) ?($_option->getIsDependent()?' required-dependent':' required-entry') : '' ?> <?php echo $_option->getMaxCharacters() ? ' validate-length maximum-length-'.$_option->getMaxCharacters() : '' ?> product-custom-option" name="options[<?php echo $_option->getId() ?>]" rows="5" cols="25"><?php echo $this->htmlEscape($defaultValue) ?></textarea>
<?php endif; ?>
<?php if ($_option->getMaxCharacters()): ?>
<p class="note"><?php echo Mage::helper('catalog')->__('Maximum number of characters:')?> <strong><?php echo $_option->getMaxCharacters() ?></strong></p>
<?php endif; ?>
</dd>
<?php if (!$helper->isImagesAboveOptions()) echo $helper->getImgHtml($_option->getImagePath(), $_option->getId()); ?>
</dl>
</div>
<script type="text/javascript">
  jQuery(document).ready(function(){
    console.log('catalog');
  })
</script>