.choose-art > ul li {
    display: block !important;
    float: left !important;
    height: 75px;
    margin: 5px 5px 5px 5px !important;
    width: auto;
}
.swatch a img {
    width: 75px;
}
.uploaded-image img {
    padding: 2px;
    width: 75px;
    cursor: pointer;
}
.product-options dd {
    border-bottom: 0 none;
    margin: 0 0 5px;
    padding: 5px 10px 15px;
    width: 100%;
    padding: 15px 0 0 0;
}

.main-contenedor input[type=radio] {
   
    margin-right:8px;
}

.product-options dd {
    /*display: none;*/
}
.wrapper-group {
    display: none;
}
.base_url {
    display: none!important;
}
.selected-image {
    border: 2px solid red;
}
.radio-text .radio-selector, .option .radio-default  {
    margin-top: 2px !important;
    margin-right:8px !important; 
}
.product-options p.required {
    display: none !important;
}


.tst1{ width:230px }
.view-div{float: left; width: 230px;}
.add-embroidery{float: left; width: 230px;}



.tst22{
font-size: 12px;
float: left;
width:100%;
}


.bottom-action{
width: 100%;
float: left;
}

.option ul{
width: 426px;
margin: 0 auto;
}

.option img.swatch, .option div.swatch{
margin-bottom:-12px;
}

#product-options-wrapper {
    background: transparent;
    border: 0px;
}
.product-options-bottom {
    background: transparent;
    border: 0px;
    padding: 0;
}
.choose-art ul li a {
    float: left;
}
.product-options-bottom {
    float: left;
    width: 100%;
}
#product-options-wrapper .option {
    background: none repeat scroll 0 0 #fff;
    float: left;
    padding-top: 10px;
    width: 100%;
    display:none;
}

.option > dl > dt > span {
    display: none;
}
.product-options dt {
    font-weight: normal;
    padding: 0;
}
.radio-text label {
    margin:0;
    float: left;
    width: 100%;
}
.radio-text label {
    width: 90%!important;
}
.option dl {
    float: left;
   
}

.main-contenedor dl {
    /*border-bottom:1px solid #ccc;*/
    width:93%;
    margin-bottom: 20px;
}

.product-options dd {
    border-bottom: 0 none;
    margin: 0;
    padding: 0px 0;
}




.option-main-container22 h2 {
    margin-bottom: 0px;
    padding:5px 11px;
    font-size:15px;
    cursor:pointer;
    background-color:#D6D6D6;
}

.wrapper-group dd {
    padding: 0!important;
}

.wrapper-group dd select{
    margin-left: 8px;
}

.choose-art > span {
/*    background: url("https://careers.microsoft.com/Images/mm_dropdown_20x20.gif") no-repeat scroll 256px center #FFFFFF;
    border: 1px solid #DDDDDD;
    cursor: pointer;*/
    float: left;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0px 6px 4px 9px;
    width: 265px;
    font-size: 11px;
    /*display:none;*/
}
#upload-button {
    background: none repeat scroll 0 0 #618499;
    border: 1px solid #406A83;
    color: white;
    font-weight: bold;
    padding: 3px 5px;
    margin-left: 0px!important;
    margin-top: 8px!important;
    float: left;
    cursor: pointer;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
   /* display:none;*/
}
.choose-art {
    float: none;
    margin-right: 15px;
    display:block;
}
#upload-box {
    float: none;
    margin-top: -17px;
}
.choose-art ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 0px solid #EEEEEE;
    border-left: 0px solid #EEEEEE;
    border-right: 0px solid #EEEEEE;
    clear: both;
    display: block;
    float: left;
    padding-top: 2px;
    width: auto;
}
.radio-text label {
    font-weight: bold;
}

.wrapper-group dl {
    float: left;
    width: 100%; margin:0;
}

.radio-text {
    float: left;
    width: 100%;
    margin:10px 0;
}


.deselected-menu{background-color:#ccc;}


div.saveD button {
 position: relative!important;
}

.option-main-container h2 span.btn-clearD { display: none; color:black}
.option-main-container h2.selected-menu span.btn-clearD {float:left; display: block; color:black; font-size: 12px; font-weight: normal; padding-top: 1px;}

.leftTitle {float:left; margin-right: 4px; color:#6f7074;}
.selected-menu .leftTitle {color:#3493a7;}
h2#allDiv2 { background-color: #990000 !important; border-right: 5px solid #e0e0e0; border-left: 5px solid #e0e0e0; border-bottom:5px solid #e0e0e0; width: 203px; margin-top:-1px; font-size:12px; text-transform:uppercase; margin-left:-5px; text-align:center;}
ul#ul_swatch_4348 .small-image-preview.v-middle.swatch { width:127px !important;}
ul#ul_swatch_4348 .swatch-selected { width: 127px !important;}
h2.0_heading { border-top: 5px solid #e0e0e0 !important; }
	
   
/* EMBROIDERY HELP */
#helpSlide {background-color:#e0e0e0;}
.helpSlideList {padding:20px; display:none; font-size:11px;}
.helpSlideList p:first-child {font-weight:bold; text-align:center;}
#helpSlideArrow {
   width:0; 
   height:0; 
   float:right; 
   margin-top:4px; 
   border-top:10px solid #2294a7; 
   border-left:5px solid transparent; 
   border-right:5px solid transparent;
   -webkit-transition:-webkit-transform 500ms ease-in-out; 
   transition:transform 500ms ease-in-out; 
}
#helpSlideArrow.down {
   -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#helpSlide ol {list-style-type:decimal; list-style-position:inside; font-weight:bold;}
#helpSlide ol li {margin-top:10px;}
#helpSlide ol li span {font-weight:normal;}
#helpSlideTitle {font-weight:bold; font-size:12px; padding:5px; color:#2294a7; width:50px; margin:auto; cursor:pointer;}

.text-line{
    width: 100% !important;
}
/*==================  HIDE CLOSEWINDOW ============*/
#closeWindow{
    display: none;
}
/*=========  media query for the embroidery when mobile size ==========*/
@media only screen and (max-width:430px){

/*==========  FANCY BOX WRAP ===================*/
.fancybox-skin.bg-fix{
    padding:0 !important;
    -webkit-padding-before: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}
.fancybox-skin{
    /*padding:0 !important;*/
    -webkit-padding-before: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}
#product-options-wrapper123{
    width: 100%;
}
.tst1{
    width: 100% !important;
}

#closeWindow{
    display: block;
    float: left;
    width: 100%;
    background-color: #6f7074 !important;
    padding: 10px !important;
    box-sizing: border-box;
    margin-top: 0;
    color: #fff !important;
    text-align: center;
    cursor: pointer;
}
#closeWindow h2{
    font-size: 12px;
    margin-bottom: 0px;
}
#applyEmbroideryButton{
    border: none;
}
#applyEmbroideryButton h2{
    font-size: 12px;
    margin-bottom: 0;
}
#closeEmbroideryButton{
    background-color: #6f7074;
}
#closeEmbroideryButton h2{
   font-size: 12px;
   margin-bottom: 0px;
}
#closeEmbroideryButton h2{
   font-size: 12px;
   margin-bottom: 0px;
}
.embroidery-action-button{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

.div-with-no-name{
    width: 100% !important;
}
.main-left{
    width: 100%;
}
.main-left .option-main-container{
    width: 100%;
}

.option-main-container.cssdiv h2{
    width: auto;
}
/*================== CHECK BOX NEAR WITH TEXT LINE =================*/
.first-text-line-child input[type=checkbox]{
    margin-top: 3px !important;
    position: absolute;
}
/*=========== BORDER TO THE RIGHT OF THE MAIN-LEFT ========*/
.option-main-container, .cssdiv{
    border-right: 5px solid #E0E0E0;
    box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/*============ VIEW ALLLOCATIONS ==========*/
.view-div{
    width: 100%;
}
.option-main-container2, .cssdiv{
    width: 100%;

}
#allDiv{
    width: 100% !important;
    box-sizing: border-box;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
}
.selected-menu{
    border-right: none;
}
/*============ ADD EMBROIDERY ==========*/

.option-main-container22, .cssdiv2{
    display: none;
}

/*============ HELP ==========*/
.view-divv{
    width: 100% !important;
}
#helpSlideTitle{
    text-align: center;
    box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#helpSlideTitle{
   width: 24%;
}
/*============== .TST24 =================*/
/*.test{ background-color: #f00; display: none; }
*/.tst24{
    width: 100%;
    box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.disclaimer{
    display: none;
}
.wrapper-group{
    margin-left: 0;
}
.first-text-line-child label{
    display: block;
    font-weight: normal !important;
    color: #6f7074 !important;
}
.input-text-option, .input-text{
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}
input[type="checkbox"]{
    margin-left: 0px;
}
/*================ COLOR BOX ==================*/

/*==============  FLAG SWIPE =================*/
 ul[id*='ul_swatch']{
    position: relative;
    top: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;
    height: 93px;
    width: 93%;
}
ul[id*='ul_swatch'] li{
    position: absolute;
    width: 90px !important;
}
/*ul[id*='ul_swatch'] li[class*='Ribbon']{
  width: 135px !important;
}*/
ul[id*='ul_swatch'] li:first-child{
    left: 0px;
}
ul[id*='ul_swatch'] li:nth-child(2){
    left: 90px;
}
ul[id*='ul_swatch'] li:nth-child(3){
    left: 180px;
}
ul[id*='ul_swatch'] li:nth-child(4){
    left: 270px;
}
ul[id*='ul_swatch'] li:nth-child(5){
    left: 360px;
}
ul[id*='ul_swatch'] li:nth-child(6){
    left: 450px;
}
ul[id*='ul_swatch'] li:nth-child(7){
    left: 540px;
}
ul[id*='ul_swatch'] li:nth-child(8){
    left: 630px;
}
ul[id*='ul_swatch'] li:nth-child(9){
    left: 720px;
}
.main-contenedor{
    padding-left: 2%;
    padding-right: 2%;
}
.main-contenedor dl{
    width: 90%;
}
.embroidery-price{
    float: right !important;
    width: 60%;
}
.last dt label .embroidery-price{
    float: right !important;
    width: 50%;
}
.radio-text .embroidery-price{
    width: 39%;
    float: right !important;
    margin-left: 0 !important;
}
/*========== STYLE FOR RIBBON ==============*/
ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(2){
    left: 140px;
}
ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(3){
    left: 280px;
}
ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(4){
    left: 420px;
}
ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(5){
    left: 560px;
}
ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(6){
    left: 700px;
}
ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(7){
    left: 840px;
}
ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(8){
    left: 980px;
}
ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(9){
    left: 1120px;
}
ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(10){
    left: 1260px;
}
ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(11){
    left: 1400px;
}
/*================ embroidery logo ==================*/
.embroidery-logo label{
    width: 100% !important;
}
.embroidery-logo .logo-message{
    margin-left: 0 !important;
}
/*================== BORDER BOTTORM =================*/
/*.option-main-container{
    border-top: 1px solide #ccc;
}
.embroidery-logo{
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.main-contenedor dl{
    margin-bottom: 0px;
    border-top: 1px solid #ccc;
}*/
/*================== CANCEL EMBROIDERY =================*/
/*#dontSaveClose{
    float: left;
    width: 100%;
    background-color: #888888 !important;
    padding: 10px !important;
    box-sizing: border-box;
    margin-top: 0;
    color: #fff !important;
}*/
/*=================== CHECKBOX RIGHT MARGIN ==============*/
.option .radio-default{
    margin-right: 4px !important;
}

/*=================== FADING EFFECT ==============*/
.fadeEffect{
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    height: 58%;
    position: absolute;
    width: 11%;
    z-index: 1;
    top: 37%;
    left: 86%;
}
/*=================== TEXT AREA ==============*/
.embroidery-instructions textarea{
    box-sizing: border-box;
}
/*=================== CLOSE-MSG ==============*/
#close-msg{
    width: 100% !important;
    box-sizing: border-box;
}
.close-button{
    box-sizing: border-box;
    background-color: #990000 !important;
    color: #fff !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    border: none !important;
}
.close-button h2{
    font-size: 12px;
    margin-bottom: 0px;
}
/*=================== MOVE IMG TO TOP OF LOCATION ==============*/
#view-img{
    border-top: 5px solid #E0E0E0;
    border-right: 5px solid #E0E0E0;
    border-left: 5px solid #E0E0E0;
}
.tst2{
    min-height: 0;
}
/*================ TOP BORDER TO TST1 ============*/
.tst1{
    border-top: 5px solid #E0E0E0;
}
}


/*=^^^^^^^^^^^^^^^^^ TABLETS MEDIA QUERY ^^^^^^^^^^^^^^^^^^*/
@media only screen and (min-width: 430px) and (max-width:767px){
    /*==========  FANCY BOX WRAP ===================*/
    /*.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened{*/
    /*position: relative !important;*/
    /*margin: 0 auto !important;*/
    /*min-width: 98% !important;*/
    /*top: 0 !important;*/
    /*left: 0 !important;*/
    /*}*/
    /*.fancybox-wrap.fancybox-mobile.fancybox-type-inline.fancybox-opened{*/
    /*position: relative !important;*/
    /*margin: 0 auto !important;*/
    /*min-width: 98% !important;*/
    /*top: 0 !important;*/
    /*left: 0 !important;   */
    /*}*/
    .catalog-product-view .fancybox-inner{
        min-width: 100% !important;
    }
    #product-options-wrapper123{
        width: 100%;
    }
    .tst1{
        width: 100% !important;
    }

    #closeWindow{
        display: block;
        float: left;
        width: 100%;
        background-color: #6f7074 !important;
        padding: 10px !important;
        box-sizing: border-box;
        margin-top: 0;
        color: #fff !important;
        text-align: center;
        cursor: pointer;
    }
    #closeWindow h2{
        font-size: 12px;
        margin-bottom: 0px;
    }
    #applyEmbroideryButton{
        border: none;
    }
    #applyEmbroideryButton h2{
        font-size: 12px;
        margin-bottom: 0;
    }
    #closeEmbroideryButton{
        background-color: #6f7074;
    }
    #closeEmbroideryButton h2{
        font-size: 12px;
        margin-bottom: 0px;
    }
    .embroidery-action-button{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
    }


    /*=========== BORDER TO THE RIGHT OF THE MAIN-LEFT ========*/

    /*============ VIEW ALLLOCATIONS ==========*/
    .view-div{
        width: 100%;
    }
    .option-main-container2, .cssdiv{
        width: 100%;

    }
    #allDiv{
        width: 100% !important;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .selected-menu{
        border-right: none;
    }
    /*============ ADD EMBROIDERY ==========*/

    .option-main-container22, .cssdiv2{
        display: none;
    }

    /*============ HELP ==========*/
    .view-divv{
        width: 100% !important;
    }
    #helpSlideTitle{
        text-align: center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    #helpSlideTitle{
        width: 15%;
    }
    /*============== .TST24 =================*/
    .tst24{
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .wrapper-group{
        margin-left: 0;
    }

    /*================ COLOR BOX ==================*/

    /*==============  FLAG SWIPE =================*/
    /*ul[id*='ul_swatch'] li[class*='Ribbon']{
      width: 135px !important;
    }*/
    ul[id*='ul_swatch'] li:first-child{
        left: 0px;
    }
    ul[id*='ul_swatch'] li:nth-child(2){
        left: 90px;
    }
    ul[id*='ul_swatch'] li:nth-child(3){
        left: 180px;
    }
    ul[id*='ul_swatch'] li:nth-child(4){
        left: 270px;
    }
    ul[id*='ul_swatch'] li:nth-child(5){
        left: 360px;
    }
    ul[id*='ul_swatch'] li:nth-child(6){
        left: 450px;
    }
    ul[id*='ul_swatch'] li:nth-child(7){
        left: 540px;
    }
    ul[id*='ul_swatch'] li:nth-child(8){
        left: 630px;
    }
    ul[id*='ul_swatch'] li:nth-child(9){
        left: 720px;
    }

    /*========== STYLE FOR RIBBON ==============*/
    ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(2){
        left: 140px;
    }
    ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(3){
        left: 280px;
    }
    ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(4){
        left: 420px;
    }
    ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(5){
        left: 560px;
    }
    ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(6){
        left: 700px;
    }
    ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(7){
        left: 840px;
    }
    ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(8){
        left: 980px;
    }
    ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(9){
        left: 1120px;
    }
    ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(10){
        left: 1260px;
    }
    ul[id*='ul_swatch'] li[class*='Ribbon']:nth-child(11){
        left: 1400px;
    }
    /*================ embroidery logo ==================*/
    .embroidery-logo label{
        width: 100% !important;
    }
    .embroidery-logo .logo-message{
        margin-left: 0 !important;
    }
    /*================== CHECK BOX NEAR WITH TEXT LINE =================*/
    .first-text-line-child input[type=checkbox]{
        margin-top: 3px !important;
        margin-right: 20px !important;
    }
    /*================== CANCEL EMBROIDERY =================*/
    /*#dontSaveClose{
        float: left;
        width: 100%;
        background-color: #888888 !important;
        padding: 10px !important;
        box-sizing: border-box;
        margin-top: 0;
        color: #fff !important;
    }*/
    /*=================== CHECKBOX RIGHT MARGIN ==============*/
    .option .radio-default{
        margin-right: 20px !important;
    }
    /*=================== FADING EFFECT =================*/
    .fadeEffect{
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        height: 58%;
        position: absolute;
        width: 11%;
        z-index: 1;
        top: 27%;
        left: 86%;
    }
    /*=================== CLOSE-MSG ==============*/
    #close-msg{
        width: 100% !important;
        box-sizing: border-box;
    }
    .close-button{
        box-sizing: border-box;
        background-color: #990000 !important;
        color: #fff !important;
        margin-bottom: 10px !important;
        padding: 10px !important;
        border: none !important;
    }
    .close-button h2{
        font-size: 12px;
        margin-bottom: 0px;
    }
    /*=================== MOVE IMG TO TOP OF LOCATION ==============*/
    #view-img{
        border-top: 5px solid #E0E0E0;
        border-right: 5px solid #E0E0E0;
        border-left: 5px solid #E0E0E0;

    }
    .tst2{
        min-height: 0;
    }
    .tst1{
        border-top: 5px solid #E0E0E0;
    }
}
