<?php
    $data	=	$this->getLoadedProductCollection();
	//echo '<pre>';print_r($data);
    $_helper = $this->helper('catalog/output');
	
    $title = $this->getFrontendTitle();
	$w = $this->getProductItemWidth();
	$h = $this->getProductItemHeight();
    	$alt_img = $this->getAltImg();
?>
<?php if(count($data) == 0): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">   
	<?php if($title): ?>      
        <div class="widget-title">
            <h2><span><?php echo $title; ?></span></h2>
        </div>
    <?php endif; ?> 
	
    <?php $_iterator = 0; ?>
    <ol class="products-list" id="products-list">
    <?php foreach ($data as $_product): ?>
		<?php if(($this->getData('special') == 3 or $this->getData('special') == 4 ) && $data->isEnabledFlat() ) : ?>
			<?php $_product	=	 Mage::getModel('catalog/product')->load($_product->getId()) ?>
		<?php endif ?>
        <li class="item<?php if( ++$_iterator == sizeof($data) ): ?> last<?php endif; ?>">		
            <?php // Product Image ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                <?php if ($alt_img): ?>
					<img class="bottom" src="<?php echo $this->helper('catalog/image')->init($_product, $alt_img)->resize($w,$h) ?>" width="<?php echo $w; ?>" height="<?php echo $h ;?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" />
				<?php endif ?>
                <img  <?php if ($alt_img): ?>class="top"<?php endif ?> src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h) ?>" width="<?php echo $w; ?>" height="<?php echo $h ;?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" />
				
            </a>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product) ?>
                    <?php endif; ?>                   
                    <div class="desc std">
                        <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                    </div> 
                    <?php echo $this->getPriceHtml($_product, true) ?>
					<?php if($_product->isSaleable()): ?>
                        <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
    <?php 
		$config	=	$this->getConfigs();
		if($config['toolbar']	==	1)
		{
		$pager = $this->getLayout()->createBlock('page/html_pager');
		echo $this->getToolbarBlock()->setCollection($data)->setTemplate('em_productsfilterwidget/toolbar.phtml')->setChild('product_list_toolbar_pager',$pager)->toHtml(); 
		}
	
	?>
</div>
<?php endif; ?>
	
