<?php
    $requestData = Mage::helper('adminhtml')->prepareFilterString($this->getRequest()->getParam('filter'));    
    $data = $this->_getFilteredData();       
?>
<div class="grid">
    <div class="hor-scroll">
        <?php if($requestData['adtrack_aggregate'] && $data['aggregate']) { ?>
            <table cellspacing="0" class="data">
                <col  />
                <col  />
                <thead>
                    <tr class="headings">
                        <th><span class="nobr"><a href="#" class="not-sort"><span class="sort-title"><?php echo $data['label'] ?></span></a></span></th>                        
                        <th><span class="nobr"><a href="#" class="not-sort"><span class="sort-title"><?php echo $this->__('Clicks/Visits') ?></span></a></span></th>
                        <th><span class="nobr"><a href="#" class="not-sort"><span class="sort-title"><?php echo $this->__('Orders') ?></span></a></span></th>
                        <th class=" last"><span class="nobr"><a href="#" class="not-sort"><span class="sort-title"><?php echo $this->__('Sales (In USD)') ?></span></a></span></th>
                    </tr>
                </thead>
                <tbody>                    
                    <?php
                        if (count($data['aggregate']) > 0) {
                            foreach ($data['aggregate'] as $key => $value) {
                            ?>
                                <tr title="#" >                                    
                                    <td class="a-left "><?php echo $key; ?></td>                                    
                                    <td class="a-left "><?php echo $value['clicks']; ?></td>
                                    <td><?php echo $value['orders']; ?></td>
                                    <td class="a-left last"><?php echo round($value['sales'], 2); ?></td>
                                </tr>
                            <?php
                            }
                        }
                    ?>
                </tbody>            
            </table>
        <?php } ?>
        <br/><br/>
        <table cellspacing="0" class="data">
            <col  />
            <col  />
            <thead>
                <tr class="headings">                    
                    <th><span class="nobr"><a href="#" class="not-sort"><span class="sort-title"><?php echo $this->__('Total Clicks/Visits') ?></span></a></span></th>
                    <th><span class="nobr"><a href="#" class="not-sort"><span class="sort-title"><?php echo $this->__('Total Orders') ?></span></a></span></th>
                    <th class=" last"><span class="nobr"><a href="#" class="not-sort"><span class="sort-title"><?php echo $this->__('Total Sales (In USD)') ?></span></a></span></th>
                </tr>
            </thead>
            <tbody>
                <tr title="#" >
                    <td class="a-left "><?php echo $data['clicks']; ?></td>
                    <td><?php echo $data['orders']; ?></td>
                    <td class="a-left last"><?php echo round($data['sales'], 2); ?></td>
                <tr>                
            </tbody>            
        </table>
    </div>
</div>
<?php if ($requestData) { ?>
    <script type="text/javascript">    
        document.getElementById('adtrack_source').value = '<?php echo $requestData['adtrack_source'] ?>'
        document.getElementById('adtrack_campaign').value = '<?php echo $requestData['adtrack_campaign'] ?>'
        document.getElementById('adtrack_group').value = '<?php echo $requestData['adtrack_group'] ?>'
        document.getElementById('adtrack_adid').value = '<?php echo $requestData['adtrack_adid'] ?>'
        document.getElementById('adtrack_redirect_id').value = '<?php echo $requestData['adtrack_redirect_id'] ?>'
        document.getElementById('adtrack_aggregate').value = '<?php echo $requestData['adtrack_aggregate'] ?>'
        document.getElementById('from').value = '<?php echo $requestData['from'] ?>'
        document.getElementById('to').value = '<?php echo $requestData['to']  ?>'
        document.getElementById('touch_interval').value = '<?php echo $requestData['touch_interval'] ?>'
        document.getElementById('touch_criteria').value = '<?php echo $requestData['touch_criteria'] ?>'
    </script>
<?php } else { ?>
    <script type="text/javascript">    
        document.getElementById('from').value = '<?php echo date('m/d/Y', mktime(0, 0, 0, date("m") , date("d") - 60, date("Y"))) ?>'
        document.getElementById('to').value = '<?php echo date("m/d/Y", Mage::getModel('core/date')->timestamp(time())) ?>'        
    </script>
<?php } ?>
