<?php
/*
* Copyright (c) 2014 www.magebuzz.com
*/
?>
<?php $_product = $this->getProduct(); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>
<div class="add-to-links-wrap">
	<ul class="add-to-links">
		<?php if ($this->helper('wishlist')->isAllow()) : ?>
			<li><a href="<?php echo $_wishlistSubmitUrl ?>"  class="link-wishlist" onclick="addToShoppingList(this.href); return false;">Add to Wishlist</a></li>
            <!--productAddToCartForm.submitLight(this, this.href); return false;-->
		<?php endif; ?>
	</ul>
</div>
<script type="text/javascript">
  function addToShoppingList(url) {
    var form = $('product_addtocart_form');
    if (form) {
      var validator = new Validation(form);
      if (validator.validate()) {
        var data = form.serialize();
        jQ.colorbox({
            //href: "<?php echo Mage::getUrl('shoppinglist/index/detailform/'); ?>" + "?" + data,
            href: url + "?" + data,
            scrolling: false,
            width:'400px'
        });
      }
      //			
    }
    else
      document.location.href = url;

      return false;
  }

  //jQ(".link-wishlist").colorbox({width:'400px'});


</script>