<?php
/**
 * @var $this Mage_Checkout_Block_Cart_Item_Renderer
 */
?>
<?php
$cartReferer = Mage::helper('core/http')->getHttpReferer();
$setting = Mage::helper('em0080settings');
$w = $setting->getImageShoppingCart_Width(100);
$h = $setting->getImageShoppingCart_Height(100);
?>


<?php foreach($this->getOrder()->getAllVisibleItems() as $_item): ?>
<div class="orderstatus-item-container clearfix">
    <div class="item-flex-container">
        <div class="orderstatus-col orderstatus-col-image">
            <?php
            $typeId = $_item->getProductType();
            /****** By Astrio *****/
            $productId = $_item->getProduct()->getId();
            $product = Mage::getModel('catalog/product')->load($productId);
            $productMediaConfig = Mage::getModel('catalog/product_media_config');
            $baseImageUrl = $productMediaConfig->getMediaUrl($product->getImage());
            $smallImageUrl = $productMediaConfig->getMediaUrl($product->getSmallImage());
            ?>

            <?php if ($typeId != "aw_giftcard"): ?>
                <div class="image-product orderstatus-item-image">
                    <img src="
                        <?php if ($typeId == 'embroidery_setup') {
                            echo $_item->getAdditionalData();
                        } else {
                            if (!is_null(Mage::helper('catalog/image'))) {
                                echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail')->resize($w, $h)->setWatermarkSize('30x10');
                            } else {
                                echo $smallImageUrl;
                            }
                        } ?>" width="<?php echo $w ?>"
                        alt="<?php echo $this->escapeHtml($_item->getProduct()->getName()) ?>"/>
                </div>
            <?php else: ?>
                <div class="image-product orderstatus-item-image">
                    <img src="<?php if ($_item->getIsVirtual()) {
                                echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail');
                            } else {
                                echo $_item->getBuyRequest()->getGiftcardDesign();
                            } ?>"
                        width="<?php echo $w ?>" alt="<?php echo $this->escapeHtml($_item->getName()) ?>"/>
                </div>
            <?php endif; ?>
        </div>
        <!-- END bundle1 -->

        <div class="orderstatus-cols-container">
            <div class="orderstatus-col orderstatus-col-item">
                <div class="<?php echo ($typeId == "aw_giftcard") ? "product-name-giftcard" : "product-name"; ?> extra-accent-text">
                        <?php echo $this->escapeHtml($_item->getName()) ?>
                </div>

                <div class="product-sku accent-text">
                    <?php
                    $children = $_item->getChildren();
                    $simpleItem = ($typeId == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE) ? reset($children) : $_item;

                    if ($typeId != "aw_giftcard" && $typeId != 'embroidery_setup') {
                        echo "#" . $_item->getProduct()->getData('model');
                    }
                    ?>
                </div>

                <?php
                if($_item->getProductOptions('info_buyRequest')){
                    $optionArray = $_item->getProductOptions('info_buyRequest');
                    $superAttributes = $optionArray["attributes_info"];
                    foreach((array) $superAttributes as $superAttribute => $superValue) {
                        $lbl = $superValue[label];
                        $val = $superValue[value];
                        echo "<div class='orderstatus-attr'><span class='orderstatus-attr-lbl'>". $lbl ."</span>: <span class='cart-item-attribute'>". $val ."</span></div>";
                    }
                }
                ?>

                <div class="hide-568">
                    <?php echo $this->getLayout()->createBlock('core/template')->setData('orderItem', $_item)->setData('cartItem', '')->setTemplate('orderstatus/cart/item/embroiderytool.phtml')->toHtml(); ?>
                </div>

                <?php $addInfoBlock = $this->getProductAdditionalInformationBlock(); ?>

                <?php if ($addInfoBlock): ?>
                    <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif; ?>

                <?php
                // check for free product promo
                $afptcDiscount = $_item->getProduct()->getCustomOption('aw_afptc_discount');
                if (!is_null($afptcDiscount)):
                    $promoDesc = $_item->getProduct()->getCustomOption('aw_afptc_description')->getValue(); ?>

                    <div class='addFreeProdRuleDescCart'><span><?php echo $promoDesc ?></span></div>

                <?php elseif ($typeId == 'embroidery_setup' && $_item->getProduct()->getSku() == 'EMBROIDERY-SETUP-FRE'): ?>

                    <div class='addFreeProdRuleDescCart'><span>FREE logo setup</span></div>

                <?php endif; ?>
            </div>
            <!-- END bundle2 -->

            <!--div class="bundleGroup"-->
            <div class="orderstatus-col orderstatus-col-price med-wt">
                <?php if (!is_null($afptcDiscount)): ?>

                    <div class='addFreeProdRuleDescCart'><span><?php echo $promoDesc ?></span></div>

                <?php elseif ($typeId == 'embroidery_setup' && $_item->getProduct()->getSku() == 'EMBROIDERY-SETUP-FRE'): ?>

                    <div class='addFreeProdRuleDescCart'><span>FREE</span></div>

                <?php else: ?>
                    <?php if ($canApplyMsrp): ?>
                        <div class="orderstatus-item-price" <?php if ($this->helper('tax')->displayCartBothPrices()): ?> colspan="2"<?php endif; ?>>
                            <span class="cart-price cart-item-price"  id="cart-item-price-<?php echo $_item->getId(); ?>">
                                <span
                                    class="cart-msrp-unit"><?php echo $this->__('See price before order confirmation.'); ?></span>
                                <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                                <a id="<?php echo $helpLinkId ?>" href="#"
                                   class="map-help-link"><?php echo $this->__("What's this?"); ?></a>
                                <script type="text/javascript">
                                    Catalog.Map.addHelpLink($('<?php echo $helpLinkId ?>'), "<?php echo $this->__("What's this?") ?>");
                                </script>
                            </span>
                        </div>
                    <?php else: ?>
                        <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                            <div class="orderstatus-item-price">
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <span class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                <?php else: ?>
                                    <span class="cart-price cart-item-price" id="cart-item-price-<?php echo $_item->getId(); ?>">
                                <?php endif; ?>

                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php echo $this->helper('checkout')->formatPrice($_item->getPrice() + $_item->getWeeeTaxAppliedAmount() + $_item->getWeeeTaxDisposition()); ?>
                                <?php else: ?>
                                    <?php echo $this->helper('checkout')->formatPrice($_item->getPrice()) ?>
                                <?php endif; ?>
                                </span>

                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                    <div class="cart-tax-info" id="eunit-item-tax-details<?php echo $_item->getId(); ?>"
                                         style="display:none;">
                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="weee"><?php echo $tax['title']; ?>
                                                    : <?php echo Mage::helper('checkout')->formatPrice($tax['amount'], true, true); ?></span>
                                            <?php endforeach; ?>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="weee"><?php echo $tax['title']; ?>
                                                    : <?php echo Mage::helper('checkout')->formatPrice($tax['amount'], true, true); ?></span>
                                            <?php endforeach; ?>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="weee"><?php echo $tax['title']; ?>
                                                    : <?php echo Mage::helper('checkout')->formatPrice($tax['amount'], true, true); ?></span>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </div>

                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                        <div class="cart-tax-total"
                                             onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                            <span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>
                                                : <?php echo $this->helper('checkout')->formatPrice($_item->getPrice() + $_item->getWeeeTaxAppliedAmount() + $_item->getWeeeTaxDisposition()); ?></span>
                                        </div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>

                        <!-- inclusive price starts here -->
                        <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                            <div class="orderstatus-item-price">
                                <div class="orderstatus-header orderstatus-header-price"><?php echo $this->__('Unit Price') ?></div>
                                <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <span class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                <?php else: ?>
                                    <span class="cart-price cart-item-price" id="cart-item-price-<?php echo $_item->getId(); ?>">
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?>
                                <?php else: ?>
                                    <?php echo $this->helper('checkout')->formatPrice($_incl - $_item->getWeeeTaxDisposition()) ?>
                                <?php endif; ?>
                                </span>
                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                    <div class="cart-tax-info" id="unit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="weee"><?php echo $tax['title']; ?>
                                                    : <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'], true, true); ?></span>
                                            <?php endforeach; ?>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="weee"><?php echo $tax['title']; ?>
                                                    : <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'], true, true); ?></span>
                                            <?php endforeach; ?>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="weee"><?php echo $tax['title']; ?>
                                                    : <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'], true, true); ?></span>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </div>

                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                        <div class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                            <span class="weee"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>
                                                : <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?></span>
                                        </div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
            <!-- END bundle3 -->

            <div class="orderstatus-col orderstatus-col-qty med-wt">
                <span class='hide-568'>
                    <?php
                    $_qtyOrdered = $_item->getQtyOrdered();
                    echo $_qtyOrdered % 1 == 0 ? (int)$_qtyOrdered : $_qtyOrdered;
                    ?>
                </span>
                <span class='orderstatus-attr-lbl show-568-inline'>Qty:</span>
                <span class='cart-item-attribute show-568-inline'>
                    <?php
                    $_qtyOrdered = $_item->getQtyOrdered();
                    echo $_qtyOrdered % 1 == 0 ? (int)$_qtyOrdered : $_qtyOrdered;
                    ?>
                </span>
            </div>
            <!-- END bundle4 -->

            <!--Sub total starts here -->
            <div class="orderstatus-col orderstatus-col-subtotal med-wt">
                <?php if (($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()) && !$_item->getNoSubtotal()): ?>
                    <div class="orderstatus-item-totals">
                        <?php if ($typeId == 'embroidery_setup' && $_item->getProduct()->getSku() == 'EMBROIDERY-SETUP-FRE'): ?>

                            <div class='addFreeProdRuleDescCart'><span>FREE</span></div>

                        <?php else: ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                <?php else: ?>
                                <span class="cart-price cart-item-total-price" id="cart-item-total-price-<?php echo $_item->getId(); ?>">
                                <?php endif; ?>

                                <?php if ($canApplyMsrp): ?>
                                <span class="cart-msrp-subtotal">--</span>
                                <?php else: ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                        <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal() + $_item->getWeeeTaxAppliedRowAmount() + $_item->getWeeeTaxRowDisposition()); ?>
                                    <?php else: ?>
                                        <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
                                    <?php endif; ?>
                                <?php endif; ?>
                                </span>

                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                <div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>"
                                     style="display:none;">
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="weee"><?php echo $tax['title']; ?>
                                                : <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span>
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="weee"><?php echo $tax['title']; ?>
                                                : <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span>
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="weee"><?php echo $tax['title']; ?>
                                                : <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </div>

                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <div class="cart-tax-total"
                                         onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                        <span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>
                                            : <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal() + $_item->getWeeeTaxAppliedRowAmount() + $_item->getWeeeTaxRowDisposition()); ?></span>
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
            </div>
            <!-- END bundle5 -->
        </div>
    </div> <!-- END item-flex-container -->
    <div class="show-568">
        <?php echo $this->getLayout()->createBlock('core/template')->setData('orderItem', $_item)->setData('cartItem', '')->setTemplate('orderstatus/cart/item/embroiderytool.phtml')->toHtml(); ?>
    </div>
</div> <!-- END orderstatus-item-container -->
<?php endforeach; ?>

