<?php
$_this = $this->getData('orderItem');
$_itemId = $_this->getItemId();
$embroidery = $_this->getEmbroideryData();

if (! empty($embroidery) && is_array($embroidery)) { ?>

<div class='orderstatus-attr'>
    <span class='orderstatus-attr-lbl'>Embroidery</span>:
</div>

<div id="emb-<?php echo $_itemId ?>" class='orderstatus-emb'>
    <?php foreach($embroidery as $location) { ?>
        <div class="location">
            <span><?php echo $location["name"];?></span>
        </div>

        <?php foreach($location["types"] as $type):?>
        <div class="orderstatus-emb-row">

        <?php foreach($type["options"] as $option):?>

            <?php if ($type["name"] !== "text"): ?>
            <div class="type" style="padding:10px 10px 10px 0; color:#6F7073; font-size:12px;  border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">
                <div><?php echo (substr($type["name"], -1) == "s") ? ucfirst(substr($type["name"], 0, -1)) : ucfirst($type["name"]); ?>:</div>
                <div><span style="font-weight:bold;"><?php echo $option["name"]; ?></span> <span><?php if ($type["name"] == "artwork") { echo " ({$option["artworkColorValue"]})"; } ?></span></div>
                <?php if($option["image"]):?>
                    <?php if($type["name"] == "logo"):?>
                    <div class="embroidery-review-image">
                        <a href="<?php echo $option["image"]; ?>" target="_blank">
                            <img height="80" style="height:80px; padding:10px 10px 10px 0; border:0;" src="<?php echo $option["image"]; ?>">
                        </a>
                    </div>
                    <div class="embroidery-text-style">
                        <?php if(Mage::app()->getStore()->isAdmin()):?>
                            <a href="<?php echo $option["imageOriginal"]; ?>" download>Download</a>
                        <?php endif; ?>
                    </div>
                    <?php else: ?>
                    <div class="embroidery-review-image">
                        <img src="<?php echo $option["image"]; ?>">
                    </div>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
            <?php endif; ?>

            <?php if($type["name"] == "text"):?>
                <div class="type">
                    <div class="embroidery-text-line"><span class="orderstatus-txt-lbl">Line <?php echo $option["textLineNumber"]; ?>:</span> <span class="orderstatus-txt-val"><?php echo $option["textLine"]; ?></span></div>
                    <div class="embroidery-text-color"><span class="orderstatus-txt-lbl">Color:</span> <span class="orderstatus-txt-val"><?php echo $option["textColorValue"]; ?></span></div>
                    <div class="embroidery-text-style"><span class="orderstatus-txt-lbl">Style:</span> <span class="orderstatus-txt-val"><?php echo $option["textStyleValue"]; ?></span></div>
                </div>
            <?php endif; ?>

        <?php endforeach; ?>

        </div>
        <?php endforeach; ?>
        <?php
    }
    ?>
</div>
<?php } ?>