<?php
$_item = $this->getItem();
$setting = Mage::helper('em0080settings');
$w = $setting->getImageShoppingCart_Width(100);
$observer = Mage::getModel('embroidery/observer');
?>
<div id="shopcart-item-<?php echo $_item->getId(); ?>" class="shopcart-item-container clearfix">

    <div class="shopcart-col shopcart-col-image">
        <div class="image-product shopcart-item-image">
            <img src="<?php echo $_item->getAdditionalData(); ?>" width="<?php echo $w; ?>"/>
        </div>
    </div>
    <div class="shopcart-cols-container">
        <div class="shopcart-col shopcart-col-item">
            <div class="product-name extra-accent-text">
                <?php echo $this->escapeHtml($this->getProductName()) ?>
                <div><em><?php if (!$_item->getRowTotal()) echo "FREE logo setup when you spend $" . $observer::FREE_SETUP_TOTAL ." or more";?></em></div>

            </div>
        </div>
        <div class="shopcart-col shopcart-col-price">
            <div class="shopcart-item-price">
                <span class="cart-price cart-item-price"  id="cart-item-price-<?php echo $_item->getId(); ?>">
                    <?php echo $_item->getRowTotal() ? $this->helper('checkout')->formatPrice($_item->getRowTotal()) : "FREE";?>
                </span>
            </div>
        </div>
        <div class="shopcart-col shopcart-col-qty">
            <div class="shopcart-item-qty">
                <input type="hidden" name="cart[<?php echo $_item->getId(); ?>][qty]" id="cart-<?php echo $_item->getId(); ?>-qty" value="1">
            </div>
        </div>
        <div class="shopcart-col shopcart-col-subtotal">
            <div class="shopcart-item-price">
                <span class="cart-price cart-item-total-price" id="cart-item-total-price-<?php echo $_item->getId(); ?>">
                    <?php echo $_item->getRowTotal() ? $this->helper('checkout')->formatPrice($_item->getRowTotal()) : "FREE";?>
                </span>
            </div>
        </div>
    </div>
</div>
