/*
 * jQuery UI Tabs 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { /*position: relative;*/ padding: .2em; zoom: 1; /*overflow:hidden;*/ border:1px solid #CCC;} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { padding:0; margin:0;overflow:hidden; display:none; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; /*position: relative;*/ white-space: nowrap; border:1px solid #AAA; margin:0 0.2em 0 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding:0.5em 1em }
.ui-tabs .ui-tabs-nav li a:hover{}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { /*margin-bottom:-1px;*/ padding-bottom:0  }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding:0; background: none; }
.ui-tabs .tab_content{  padding:1em 1.4em; }
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-state-active a{ color:#fff!important; }