body.dragging, body.dragging * {
    cursor: move !important;
}
#embroidery-artwork-manager input {
    font-size: 18px;
    height: 30px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
}
#embroidery-artwork-manager input:focus {
    border: 1px solid #f33;
    box-shadow: 2px 2px 4px #ccc;
}
#embroidery-artwork-manager-title-bar {
    background-color: #fff;
    overflow: hidden;
}
.modal-form input {
    width: calc(100% - 12px);
}
.input-file {
    background-color: #eee;
}
.no-artwork {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #eee;
    font-weight: 600;
    font-size: 16px;
}
.no-artwork a {
    cursor: pointer;
}
.validate-error {
    color: #d90000;
    background: #ffeeee;
    text-align: left;
    font-size: 10px;
    padding: 3px 7px;
}
.toolbar-mode {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    border-bottom: 3px solid #ff9c00;
    box-shadow: 0 2px 15px #999;
}
.toolbar-mode h1 {
    margin-bottom: 0;
}
#embroidery-artwork-manager-title-bar h1 {
    float: left;
}
#save-application-message {
    background-color: #ffdd99;
    padding: 10px;
    border: 1px solid #ff9c00;
    color: #996611;
    font-size: 18px;
    font-weight: 600;
}
.move-log-item {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0 5px 15px;
}
#artwork-manager-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 500;
}
.modal-heading {
    border-bottom: 1px solid #eee;
    line-height: 2.8em;
    text-indent: 15px;
    font-size: 2em;
}
.modal-content-container {
    max-width: 800px;
    margin: 8% auto;
}
.modal-content {
    background-color: #fff;
    border: 2px solid #999;
    padding: 10px;
    box-shadow: 5px 8px 15px #000;
}
.modal-content label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    height: 20px;
    overflow: hidden;
    padding: 10px 0 2px 0;
}
.modal-content select {
    height: 35px;
    font-size: 18px;
}
.modal-content .field-container {
    padding: 5px;
}
.modal-controls {
    background-color: #eee;
    padding: 10px;
    overflow: hidden;
}

.modal-controls button {
    float: right;
}
body.modal-active {
    overflow: hidden !important;
}
.move-notification {
    display: block;
    padding-top: 10px;
}
.move-notification em {
    font-weight: 600;
}
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
    border: 1px solid #666;
    box-shadow: 2px 4px 5px #999;
    margin-bottom: 5px;
}

li.artwork-category {
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #eee;
    margin: 3px 0;
    overflow: hidden;
}
li.artwork-category span.name {
    font-size: 20px;
    font-weight: 600;
}

select.editable-select {
    font-size: 18px;
    height: 30px;
    padding: 5px;
    line-height:25px;
}
span.inline-label {
    font-size: 11px;
    font-weight: 600;
    line-height: 28px;
}
.record-edit-list input {
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #f33;
    box-shadow: 1px 1px 3px #ccc;
    height: 20px;
}
.editable {
    background-color: #eee;
    font-size: 18px;
 }
.value-changed {
    background-color: #ffeeee !important;
}
.value-changed::after {
    display: inline-block;
    content: 'Unsaved';
    font-size: 11px;
    color: #d90000;
    font-style: italic;
    margin-left: 10px;
    font-weight: 600;
}
.data-field {
    cursor: pointer;
}
.data-field,
.data-field-edit-input {
    margin: 0 5px 0 5px;
    padding: 5px;
}
.data-field-edit-input::placeholder {
    color: #ddd;
    font-style: italic;
}
.data-field.editable em {
    color: #999;
}
.data-field.editable.value-changed em {
    color: #000;
}
.artwork-category-id.data-field {
    display: inline-block;
}
.artwork-category-id.data-field.value-changed {
    border: 1px solid #f33;
}
.sortorder {
    display: inline-block;
    width: 50px;
}
.category-contents {
    margin: 15px 5px 5px 5px;
    border: 1px solid #eee;
    padding: 10px;
}
.category-contents-name {
    font-size: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding: 10px;
}
.controls-container {
    overflow: hidden;
    padding: 10px 0;
}
.enabled {
    float: right;
}
.controls {
    float: right;
}
.controls button,
.modal-controls button {
    margin: 0 2px;
}
.category-option {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 5px 0 10px 0;
    margin-bottom: 5px;
}
.category-option .option-column {
    flex: 1;
}

.option-listing-image {
    width: 250px;
    border: 1px solid #999;
    overflow: hidden;
}
.artwork-listing-image {
    cursor: pointer;
}
.option-column-image-name {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    background-color: #eee;
}
.meta.option-column {
    padding: 10px;
}
.export-sku-csv {
    cursor: pointer;
    margin: 10px;
}
.meta.option-column h5 {
  margin: 15px 0 10px 0;
}
ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    border: 3px solid #eee;
}
ol.vertical li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: 20px;
    line-height: 40px;
    left: -7px;
    top: -4px;
    border: 7px solid transparent;
    border-left-color: #ed6502;
    border-right: none;
    z-index: 3000;
}
.field-row {
    display: flex;
}
.field-column {
    flex: 1;
}
.field-column-center {
    text-align: center;
}
.delete-category-content {
    padding: 15px;
    font-size: 16px;
}
.update-artwork-image-preview,
.delete-artwork-image {
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    border: 1px solid #ddd;
}
.update-artwork-image-preview img,
.delete-artwork-image img {
    width: 100%;
}
.artwork-delete-sku {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}
/** TODO :: Remove this once the store front will support additional artwork manager columns, this is to avoid confusion **/
.temp-feature-hide {
    display: none !important;
}
