.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.embroidery-review-wrapper {
    padding: 20px;
}

.embroidery-review-wrapper .location {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9pt;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.embroidery-review-wrapper .type,
.embroidery-review-wrapper .embroidery-review-image,
.embroidery-review-wrapper .embroidery-review-name,
.embroidery-review-wrapper .embroidery-text-line,
.embroidery-review-wrapper .embroidery-text-color,
.embroidery-review-wrapper .embroidery-text-style
{
    /*float: left;*/
    padding:0 10px 0 0;
}

.embroidery-review-wrapper .textline-wrapper {
    clear:both;
}
.embroidery-review-wrapper .embroidery-row {
    clear:both;
    margin-bottom: 10px;
}