<?php
/*
* Copyright (c) 2014 www.magebuzz.com
*/



?>

  <?php /* redirect to product page if product is bundle and not staying in product page */ ?>
  <div id="create-new-group-form-message">
				<ul class="messages">
						<li>
                <span><div class="create-new-group-message" id="create-new-group-message" style=" "></div></span>
					</li>
				</ul>
			</div>
  

    <form action="javascript:submitNewGroupInCart();" method="post" id="form-create-new-group-in-cart">
      <div class="form-add" id="form-add">
        <h2 class="legend"><?php echo $this->__('Save this cart') ?></h2>
        <ul class="form-list">
          
          <li>
            <div id="form-create-group" >
              <label for="group-name"
                     class="required"><em>*</em><?php echo Mage::helper('shoppinglist')->__('Cart Name') ?></label>

              <div class="input-box">
                <input name="group-name" id="group-name"
                       title="<?php echo Mage::helper('shoppinglist')->__('Cart Name') ?>" value=""
                       class="input-text required-entry" type="text"/>
                <input type="hidden" id="existGroupName" name="existGroupName" value="0"/>
              </div>
            </div>
          </li>
          
        </ul>
        <div class="buttons-set">
          <button onclick="javascript:resizePopup();" class="button btn-submit right" id="btn-submit-add-item"
                  title="<?php echo $this->__('Submit') ?>"
                  type="submit">
            <span><span><?php echo $this->__('Submit') ?></span></span>
          </button>
          
        </div>
      </div>
    </form>


<script type="text/javascript">
  ////<![CDATA[
  var formAdd = new VarienForm('form-create-new-group-in-cart', false);
  function submitNewGroupInCart() { 
  var data = jQ('form#form-create-new-group-in-cart').serialize();
//  jQ.colorbox({
//   href:"<?php echo Mage::getUrl('shoppinglist/index/savelater');?>"+'?'+data,
//  });
   var url = '<?php echo Mage::getUrl('shoppinglist/index/savelater');?>'+'?'+data;
  jQ('#cboxLoadingGraphic').show();
        	var request = new Ajax.Request(
        		url,
        		{
        			method: 'post',
        			onSuccess: function(transport) {
        			var data = transport.responseText.evalJSON();
              if(!data.error) {
                jQ('#form-add').hide();
              }	
              $('create-new-group-message').update(data.message);
              jQ.colorbox.resize();
              jQ('#cboxLoadingGraphic').hide();
    				  jQ('#existGroupName').val("1");
        			},
        			parameters: data,
        		}
        	);
 }   
</script>	