<?php
/*
* Copyright (c) 2014 www.magebuzz.com
*/
?>

<?php $params = $this->getRequest()->getParams() ?>
<?php $_customer = Mage::getSingleton('customer/session')->getCustomer(); ?>
<?php $_product = $this->getProduct() ?>

<form action="javascript:submitAddItem();" method="post" id="form-add-item">
  <div class="form-add">
    <h2 class="legend"><?php echo $this->__('Add item to my saved carts') ?></h2>
    <ul class="form-list">
      <li class="fields">
        <div class="field">
          <?php echo $this->getPriceHtml($_product);?>
        </div>
      </li>
      <li class="fields">
        <div class="field">
          <div class="pro-shop">
            <h5 id="product_name" class="product_name"><?php echo $_product->getName() ?></h5>
<!--            <p class="required">--><?php //echo $this->__('* Required Fields'); ?><!--</p>-->
          </div>
          <?php if ($_product->getTypeId() == 'grouped'): ?>
            <?php echo Mage::helper('shoppinglist')->getProductOptionsHtml($_product); ?>
          <?php endif; ?>
        </div>
      </li>
      <li class="fields">
        <div class="field">
<!--          <label class="required"><em>*</em>--><?php //echo $this->__('Choose a group add to saved cart') ?><!--</label>-->
          <div class="input-box">
            <?php echo Mage::helper('shoppinglist/group')->getGroupHtmlSelect($_customer->getId(), null, null, TRUE); ?>
          </div>
        </div>
      </li>
      <li class="control">
        <div class="input-box">
        <input type="checkbox" name="create_group" id="create_group" value="1" onclick="setCreateGroup(this.checked)"
               title="<?php echo $this->__('Create New Saved Cart') ?>" class="checkbox"/><label
          for="create_group"><?php echo $this->__('Create New Saved Cart') ?></label>
        </div>
      </li>
      <li>
        <div id="form-create-group" style='display:none'>
          <label for="group-name"
                 class="required"><em>*</em><?php echo Mage::helper('shoppinglist')->__('Saved Cart Name') ?></label>

          <div class="input-box">
            <input name="group-name" id="group-name"
                   title="<?php echo Mage::helper('shoppinglist')->__('Saved Cart Name') ?>" value=""
                   class="input-text required-entry" type="text"/>
          </div>
        </div>
      </li>
      <li>
        <div class="field">
          <input name="customer_id" id="customer_id" type="hidden" value="<?php echo $_customer->getId() ?>">
          <input name="product_id" id="product_id" type="hidden" value="<?php echo $_product->getId() ?>">
          <input name="product_type_id" id="product_type_id" type="hidden" value="<?php echo $_product->getTypeId() ?>">
        </div>
      </li>
      <li>
        <?php if (isset($params['super_attribute'])): ?>
          <?php $attributes = $params['super_attribute']; ?>
          <?php if (is_array($attributes)): ?>
            <?php foreach ($attributes as $key => $value): ?>
              <input type="hidden" name="super_attribute[<?php echo $key ?>]" value="<?php echo $value ?>"/>
            <?php endforeach; ?>
          <?php endif; ?>
        <?php endif; ?>
        <?php if (isset($params['options'])): ?>
          <?php $options = $params['options']; ?>
          <?php if (is_array($options)): ?>
            <?php foreach ($options as $key => $value): ?>
              <input type="hidden" name="options[<?php echo $key ?>]" value="<?php echo $value ?>"/>
            <?php endforeach; ?>
          <?php endif; ?>
        <?php endif; ?>

        <!-- For downloadable product -->
        <?php if (isset($params['links'])): ?>
          <?php $links = $params['links']; ?>
          <?php if (is_array($links)): ?>
            <?php foreach ($links as $key => $value): ?>
              <input type="hidden" name="links[<?php echo $key ?>]" value="<?php echo $value ?>"/>
            <?php endforeach; ?>
          <?php endif; ?>
        <?php endif; ?>

        <!-- For bundle product -->
        <?php if (isset($params['bundle_option'])): ?>
          <?php $bundle_option = $params['bundle_option']; ?>
          <?php if (is_array($bundle_option)): ?>
            <?php foreach ($bundle_option as $key => $value): ?>
              <input type="hidden" name="bundle_option[<?php echo $key ?>]" value="<?php echo $value ?>"/>
            <?php endforeach; ?>
          <?php endif; ?>
        <?php endif; ?>

        <?php if (isset($params['bundle_option_qty'])): ?>
          <?php $bundle_option_qty = $params['bundle_option_qty']; ?>
          <?php if (is_array($bundle_option_qty)): ?>
            <?php foreach ($bundle_option_qty as $key => $value): ?>
              <input type="hidden" name="bundle_option_qty[<?php echo $key ?>]" value="<?php echo $value ?>"/>
            <?php endforeach; ?>
          <?php endif; ?>
        <?php endif; ?>

      </li>
    </ul>
    <div class="buttons-set">
      <button onclick="javascript:resizePopup();" class="button btn-submit right" id="btn-submit-add-item" title="<?php echo $this->__('Submit') ?>"
              type="submit">
        <span><span><?php echo $this->__('Submit') ?></span></span>
      </button>
      <button onclick="javascript:resetFields();" class="button btn-reset right" id="btn-reset"
              title="<?php echo $this->__('Reset') ?>" type="button">
        <span><span><?php echo $this->__('Reset') ?></span></span>
      </button>
    </div>
  </div>
</form>
<script type="text/javascript">
  //<![CDATA[
  var formAdd = new VarienForm('form-add-item', false);
  function resetFields() {
    Form.reset('form-add-item');
    jQ('#form-create-group').hide();
    jQ('select[name=select-group]').addClass('validate-select');
    jQ('select[name=select-group]').removeAttr('disabled', 'disabled');
    resizePopup();
  }
</script>	