
        <div id="pg-cat-req-form-wrap" class="custom customwrap">
            <div class="cat-input-wrap omega">
                <!--form name="form" id="contactform" onsubmit="new Ajax.Updater({success:'responseMessage'}, '<?php echo $this->getUrl('contactform/index/post') ?>', {asynchronous:true, evalScripts:false, onComplete:function(request, json){}, onLoading:function(request, json){}, parameters:Form.serialize(this)}); return false;" method="post"-->

                <!--form name="form" id="contactform" method="post" action="<?php echo $this->getFormActionUrl(); ?>"-->
                <form name="form" id="contactform">

                    <div class="cat-input-rows-wrap">

                        <div class="row-vspace-10">
                            <label class="std-lbl" for="contacttype"><?php echo $this->__('Inquiry Type'); ?></label>

                            <select class="cat-select-field" id="contact_type" name="contact_type">
                                <option value="General">Select Inquiry Type</option>
                                <option value="Order Status">Order Status</option>
                                <option value="Tracking Shipment">Tracking Shipment</option>
                                <option value="Confirm Order">Confirm Order</option>
                                <option value="Modify Order">Modify Order</option>
                                <option value="Return/Exchange">Return/Exchange</option>
                                <option value="Payment Methods">Payment Methods</option>
                                <option value="Sales Taxes">Sales Taxes</option>
                                <option value="Telephone Orders">Telephone Orders</option>
                                <option value="International Orders">International Orders</option>
                                <option value="Catalog">Catalog</option>
                                <option value="Registration">Registration</option>
                                <option value="Web Site">Web Site</option>
                                <option value="Other">Other</option>
                            </select>


                        </div>
                        <div class="row-vspace-10">
                            <label class="std-lbl" for="confirmationnumber"><?php echo $this->__('Order #'); ?></label>
                            <input class="cat-input-field" id="confirmation_number" type="text" maxlength="50" value="" name="confirmation_number" />
                        </div>
                        <div class="row-vspace-10">
                            <label class="required std-lbl" for="firstname"><?php echo $this->__('First Name'); ?></label>
                            <input class="cat-input-field required-entry" id="first_name" type="text" maxlength="50" value="" name="first_name" />
                        </div>
                        <div class="row-vspace-10">
                            <label class="required std-lbl" for="lastname"><?php echo $this->__('Last Name'); ?></label>
                            <input class="cat-input-field required-entry" id="last_name" type="text" maxlength="50" value="" name="last_name" />
                        </div>
                        <div class="row-vspace-10">
                            <label class="required std-lbl" for="email"><?php echo $this->__('Email'); ?></label>
                            <input id="email " class="cat-input-field validate-email required-entry" type="email" name="email"/>
                        </div>
                        <div class="row-vspace-10">
                            <label class="std-lbl" for="phone"><?php echo $this->__('Phone'); ?></label>
                            <input class="cat-input-field" id="phone" type="text" maxlength="50" value="" name="phone" />
                        </div>

                        <div class="row-vspace-10">
                            <label class="required std-lbl" for="message" style=""><?php echo $this->__('Message'); ?></label>
                            <textarea class="required-entry cat-input-field" id="message" type="text" name="message"></textarea>
                        </div>

                        <div class="row-vspace-10">
                            <div id="formSubmitButton">
                                <input type="image" name="Send" width="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>wysiwyg/catalog-form-submit.png" value="<?php echo $this->__('Submit'); ?>"/>
                            </div>
                            <div id="formSuccessMessage"></div>
                            <div id="spinner"></div>
                        </div>

                    </div>



                </form>

            </div>
        </div>


        <script>
            var dataFormContactform = new VarienForm('contactform', true);
            new Event.observe('contactform', 'submit', function(e){
                e.stop();
                submitFormViaAjax( 'contactform', '<?php echo $this->getFormActionUrl(); ?>', 'formSuccessMessage', 'spinner');
            });
        </script>
