
<div id="pg-cat-req-form-wrap" class="custom">

    <!-- WRAP -->
    <div class="floatFix" style="padding-left: 12%; padding-right: 10%;">

        <?php

    if (Mage::getSingleton('customer/session')->isLoggedIn()) {
        $customer = Mage::getSingleton('customer/session')->getCustomer();
        $customerAddressId = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling(); //oder getDefaultShipping
        if ($customerAddressId) {
            $customerAddress = Mage::getModel('customer/address')->load($customerAddressId);
            $address =  $customerAddress->getStreet();
        }

    }

?>

<div class="cat-pop">
<div class="container-em-main">
    <form name="form" id="catalogrequest" novalidate="novalidate" method="post" action="javascript:grecaptcha.reset(cat-page-recaptcha);" class="catalog-request-form">
        <div class="clearfix">
            <div class="grid_18 alpha">
                <div style="padding-bottom:20px;">
                    <img class="catalog-img cat-page-img" src="/media/wysiwyg/popups/catalog-request/catalog-spread-desktop.gif">
                    <h1>100 PAGES OF INCREDIBLE STYLES</h1>
                    <p class="cat">Discover fresh aprons, bold artwork, new looks and more in the 2018 Happy Chef catalog.</p>
                </div>
                    <div class="grid_9 alpha keep-in-row">
                        <div class="field-row">
                            <input class="fancy-label required-entry" required="" id="first_name" type="text" maxlength="50" value="<?php if ($customer) echo $customer->getFirstname(); ?>" name="first_name" />
                             <label for="firstname"><?php echo "<span>First Name*</span>"; ?></label>
                        </div>
                    </div>
                    <div class="grid_9 omega keep-in-row align-right">
                        <div class="field-row">                        
                            <input class="fancy-label required-entry" required="" id="last_name" type="text" maxlength="50" value="<?php if ($customer) echo $customer->getLastname(); ?>" name="last_name" />
                            <label for="lastname"><?php echo "<span>Last Name*</span>"; ?></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="grid_9 alpha keep-in-row">
                        <div class="field-row">
                                <input class="fancy-label" required="" id="title" type="text" maxlength="25" value="<?php if ($customer) echo $customer->getTitle(); ?>" name="title" />
                                <label  for="title"><?php echo "<span>Title</span>"; ?></label>                    
                        </div>
                    </div>
                    <div class="grid_9 omega keep-in-row align-right">
                        <div class="field-row">
                            <input class="fancy-label" required="" id="company" type="text" maxlength="50" value="<?php if ($customerAddress) echo $customerAddress->getCompany(); ?>" name="company" />
                            <label  for="company"><?php echo "<span>Company</span>"; ?></label>                      
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="shipping-address-fields">
                    <div class="grid_18 alpha omega ">  
                        <div class="field-row">
                            <input class="fancy-label required-entry" required="" id="address1" type="text" maxlength="50" value="<?php if ($customerAddress) echo $address[0]; ?>" name="address1" />
                            <label  for="address1"><?php echo "<span>Address 1*</span>"; ?></label>   
                        </div>                   
                    </div>
                    <div class="grid_18 alpha omega ">  
                        <div class="field-row">
                            <input class="fancy-label" required="" id="address2" type="text" maxlength="50" value="<?php if ($customerAddress) echo $address[1]; ?>" name="address2" />
                            <label for="address2"><?php echo "<span>Address 2</span>"; ?></label>              
                        </div>                   
                    </div>
                    <div class="grid_9 alpha keep-in-row align-right">
                        <div class="field-row">
                        <select class="validate-select disabled" name="Country" id="countrySlide" >
                            <option value="" title="">Country*</option>
                            <option value="US" <?php if ($customerAddress && $customerAddress->getCountry() == "US") echo "selected"; ?>><?php echo $this->__('United States'); ?></option>
                            <option value="CA" <?php if ($customerAddress && $customerAddress->getCountry() == "CA") echo "selected"; ?>><?php echo $this->__('Canada'); ?></option>
                            <option value="PR" <?php if ($customerAddress && $customerAddress->getCountry() == "PR") echo "selected"; ?>><?php echo $this->__('Puerto Rico'); ?></option>
                            <option value="VI" <?php if ($customerAddress && $customerAddress->getCountry() == "VI") echo "selected"; ?>><?php echo $this->__('Virgin Islands (U.S.)'); ?></option>
                        </select>               
                        </div>
                    </div> 
                    <div class="grid_9 omega keep-in-row">
                        <div class="field-row">
                        <select id="state" class="validate-select disabled" maxlength="2" name="State" title="<?php echo $this->__('State') ?>">
                            <option value="" title="">State/Province*</option>
                            <option value="AL" title="Alabama">AL</option>
                            <option value="AK" title="Alaska">AK</option>
                            <option value="AZ" title="Arizona">AZ</option>
                            <option value="AR" title="Arkansas">AR</option>
                            <option value="CA" title="California">CA</option>
                            <option value="CO" title="Colorado">CO</option>
                            <option value="CT" title="Connecticut">CT</option>
                            <option value="DE" title="Delaware">DE</option>
                            <option value="DC" title="District of Columbia">DC</option>
                            <option value="FL" title="Florida">FL</option>
                            <option value="GA" title="Georgia">GA</option>
                            <option value="HI" title="Hawaii">HI</option>
                            <option value="ID" title="Idaho">ID</option>
                            <option value="IL" title="Illinois">IL</option>
                            <option value="IN" title="Indiana">IN</option>
                            <option value="IA" title="Iowa">IA</option>
                            <option value="KS" title="Kansas">KS</option>
                            <option value="KY" title="Kentucky">KY</option>
                            <option value="LA" title="Louisiana">LA</option>
                            <option value="ME" title="Maine">ME</option>
                            <option value="MD" title="Maryland">MD</option>
                            <option value="MA" title="Massachusetts">MA</option>
                            <option value="MI" title="Michigan">MI</option>
                            <option value="MN" title="Minnesota">MN</option>
                            <option value="MS" title="Mississippi">MS</option>
                            <option value="MO" title="Missouri">MO</option>
                            <option value="MT" title="Montana">MT</option>
                            <option value="NE" title="Nebraska">NE</option>
                            <option value="NV" title="Nevada">NV</option>
                            <option value="NH" title="New Hampshire">NH</option>
                            <option value="NJ" title="New Jersey">NJ</option>
                            <option value="NM" title="New Mexico">NM</option>
                            <option value="NY" title="New York">NY</option>
                            <option value="NC" title="North Carolina">NC</option>
                            <option value="ND" title="North Dakota">ND</option>
                            <option value="OH" title="Ohio">OH</option>
                            <option value="OK" title="Oklahoma">OK</option>
                            <option value="OR" title="Oregon">OR</option>
                            <option value="PA" title="Pennsylvania">PA</option>
                            <option value="RI" title="Rhode Island">RI</option>
                            <option value="SC" title="South Carolina">SC</option>
                            <option value="SD" title="South Dakota">SD</option>
                            <option value="TN" title="Tennessee">TN</option>
                            <option value="TX" title="Texas">TX</option>
                            <option value="UT" title="Utah">UT</option>
                            <option value="VT" title="Vermont">VT</option>
                            <option value="VA" title="Virginia">VA</option>
                            <option value="WA" title="Washington">WA</option>
                            <option value="WV" title="West Virginia">WV</option>
                            <option value="WI" title="Wisconsin">WI</option>
                            <option value="WY" title="Wyoming">WY</option>
                        </select>                 
                        </div>
                    </div>
                    <div class="grid_9 alpha keep-in-row align-right">
                        <div class="field-row">
                        <input class="fancy-label required-entry" required="" id="city" type="text" maxlength="20" value="<?php if ($customerAddress) echo $customerAddress->getCity(); ?>" name="city" /> 
                        <label for="city"><?php echo "<span>City*</span>"; ?></label>                  
                        </div>
                    </div>
                    <div class="grid_9 omega keep-in-row">
                        <div class="field-row">
                        <input class="fancy-label required-entry" required="" id="zip" type="text" maxlength="10" value="<?php if ($customerAddress) echo $customerAddress->getPostcode(); ?>" name="Zip" />   
                        <label for="zip"><?php echo "<span>Zip Code*</span>"; ?></label>                
                        </div>
                    </div>
                    <div class="grid_9 alpha keep-in-row align-right">
                        <div class="field-row">
                            <input class="fancy-label validate-email required-entry" required="" id="cat-email" type="text" value="<?php if ($customer) echo $customer->getEmail(); ?>" name="cat-email"/>
                            <label for="cat-email"><?php echo "<span>Email*</span>"; ?></label>   
                        </div>       
                    </div>
                    <div class="grid_9 omega keep-in-row align-right">
                        <div class="field-row">
                        <input class="fancy-label validate-phoneLax" required="" id="phone" type="text" maxlength="30" value="<?php if ($customerAddress) echo $customerAddress->getTelephone(); ?>" name="phone" />
                        <label for="phone"><?php echo "<span>Phone</span>"; ?></label>               
                        </div>
                    </div>

                    <div class="grid_18 alpha omega catalogCheck">
                        <div class="grid_1 alpha checkbox">
                            <label class="myCheckbox">
                                <input type="checkbox" name="send_offers" id="send_offers" value="1" checked="">
                                <span></span>
                            </label>
                        </div>
                        <div class="grid_15 omega checkout-notice">
                            Sign me up for exclusive sales &amp; promotions
                        </div>
                    </div>
                    <div class="row-vspace-10 floatFix cat-page-recaptcha cat-recaptcha">
                        <div id="cat-page-recaptcha"></div>
                    </div>
                    <div>
                        <div id="formSuccessMessageSlideout" class="form-success-message"></div> 
                        <input type="submit" name="Send" class="catalog-submit" value="<?php echo $this->__('Order Catalog'); ?>"/>
                        <div id="loadSpinnerSlideout" class="load-spinner"></div>
                    </div>

            </div>
        </div>


                        <script>
                    var countrySelect = document.getElementById('countrySlide');
                    var stateSelect = document.getElementById('state');
                    countrySelect.onchange = (function(){
                        stateSelect.options.length = 0;
                        switch(countrySelect.value){
                            case 'CA':
                                jQuery('#stateLbl').html('Province');
                                stateSelect.options[0] = new Option('AB', 'AB');
                                stateSelect.options[1] = new Option('BC', 'BC');
                                stateSelect.options[2] = new Option('MB', 'MB');
                                stateSelect.options[3] = new Option('NB', 'NB');
                                stateSelect.options[4] = new Option('NL', 'NL');
                                stateSelect.options[5] = new Option('NS', 'NS');
                                stateSelect.options[6] = new Option('ON', 'ON');
                                stateSelect.options[7] = new Option('PE', 'PE');
                                stateSelect.options[8] = new Option('QC', 'QC');
                                stateSelect.options[9] = new Option('SK', 'SK');
                                stateSelect.options[10] = new Option('NT', 'NT');
                                stateSelect.options[11] = new Option('NU', 'NU');
                                stateSelect.options[12] = new Option('YT', 'YT');
                                jQuery('#State option:first-child').attr({'title':'Alberta'});
                                jQuery('#State option:nth-child(2)').attr({'title':'British Columbia'});
                                jQuery('#State option:nth-child(3)').attr({'title':'Manitoba'});
                                jQuery('#State option:nth-child(4)').attr({'title':'New Brunswick'});
                                jQuery('#State option:nth-child(5)').attr({'title':'Newfoundland and Labrador'});
                                jQuery('#State option:nth-child(6)').attr({'title':'Nova Scotia'});
                                jQuery('#State option:nth-child(7)').attr({'title':'Ontario'});
                                jQuery('#State option:nth-child(8)').attr({'title':'Prince Edward Island'});
                                jQuery('#State option:nth-child(9)').attr({'title':'Quebec'});
                                jQuery('#State option:nth-child(10)').attr({'title':'Saskatchewan'});
                                jQuery('#State option:nth-child(11)').attr({'title':'Northwest Territories'});
                                jQuery('#State option:nth-child(12)').attr({'title':'Nunavut'});
                                jQuery('#State option:nth-child(13)').attr({'title':'Yukon'});
                                break;
                            case 'PR':
                                jQuery('#stateLbl').html('State');
                                stateSelect.options[0] = new Option('--', '--');
                                break;
                            case 'VI':
                                jQuery('#stateLbl').html('State');
                                stateSelect.options[0] = new Option('--', '--');
                                break;
                            case 'US':
                                jQuery('#stateLbl').html('State');
                                stateSelect.options[0] = new Option('AL', 'AL');
                                stateSelect.options[1] = new Option('AK', 'AK');
                                stateSelect.options[2] = new Option('AZ', 'AZ');
                                stateSelect.options[3] = new Option('AR', 'AR');
                                stateSelect.options[4] = new Option('CA', 'CA');
                                stateSelect.options[5] = new Option('CO', 'CO');
                                stateSelect.options[6] = new Option('CT', 'CT');
                                stateSelect.options[7] = new Option('DE', 'DE');
                                stateSelect.options[8] = new Option('DC', 'DC');
                                stateSelect.options[9] = new Option('FL', 'FL');
                                stateSelect.options[10] = new Option('GA', 'GA');
                                stateSelect.options[11] = new Option('HI', 'HI');
                                stateSelect.options[12] = new Option('ID', 'ID');
                                stateSelect.options[13] = new Option('IL', 'IL');
                                stateSelect.options[14] = new Option('IN', 'IN');
                                stateSelect.options[15] = new Option('IA', 'IA');
                                stateSelect.options[16] = new Option('KS', 'KS');
                                stateSelect.options[17] = new Option('KY', 'KY');
                                stateSelect.options[18] = new Option('LA', 'LA');
                                stateSelect.options[19] = new Option('ME', 'ME');
                                stateSelect.options[20] = new Option('MD', 'MD');
                                stateSelect.options[21] = new Option('MA', 'MA');
                                stateSelect.options[22] = new Option('MI', 'MI');
                                stateSelect.options[23] = new Option('MN', 'MN');
                                stateSelect.options[24] = new Option('MS', 'MS');
                                stateSelect.options[25] = new Option('MO', 'MO');
                                stateSelect.options[26] = new Option('MT', 'MT');
                                stateSelect.options[27] = new Option('NE', 'NE');
                                stateSelect.options[28] = new Option('NV', 'NV');
                                stateSelect.options[29] = new Option('NH', 'NH');
                                stateSelect.options[30] = new Option('NJ', 'NJ');
                                stateSelect.options[31] = new Option('NM', 'NM');
                                stateSelect.options[32] = new Option('NY', 'NY');
                                stateSelect.options[33] = new Option('NC', 'NC');
                                stateSelect.options[34] = new Option('ND', 'ND');
                                stateSelect.options[35] = new Option('OH', 'OH');
                                stateSelect.options[36] = new Option('OK', 'OK');
                                stateSelect.options[37] = new Option('OR', 'OR');
                                stateSelect.options[38] = new Option('PA', 'PA');
                                stateSelect.options[39] = new Option('RI', 'RI');
                                stateSelect.options[40] = new Option('SC', 'SC');
                                stateSelect.options[41] = new Option('SD', 'SD');
                                stateSelect.options[42] = new Option('TN', 'TN');
                                stateSelect.options[43] = new Option('TX', 'TX');
                                stateSelect.options[44] = new Option('UT', 'UT');
                                stateSelect.options[45] = new Option('VT', 'VT');
                                stateSelect.options[46] = new Option('VA', 'VA');
                                stateSelect.options[47] = new Option('WA', 'WA');
                                stateSelect.options[48] = new Option('WV', 'WV');
                                stateSelect.options[49] = new Option('WI', 'WI');
                                stateSelect.options[50] = new Option('WY', 'WY');
                                jQuery('#State option:first-child').attr({'title':'Alabama'});
                                jQuery('#State option:nth-child(2)').attr({'title':'Alaska'});
                                jQuery('#State option:nth-child(3)').attr({'title':'Arizona'});
                                jQuery('#State option:nth-child(4)').attr({'title':'Arkansas'});
                                jQuery('#State option:nth-child(5)').attr({'title':'California'});
                                jQuery('#State option:nth-child(6)').attr({'title':'Colorado'});
                                jQuery('#State option:nth-child(7)').attr({'title':'Connecticut'});
                                jQuery('#State option:nth-child(8)').attr({'title':'Delaware'});
                                jQuery('#State option:nth-child(9)').attr({'title':'District of Columbia'});
                                jQuery('#State option:nth-child(10)').attr({'title':'Florida'});
                                jQuery('#State option:nth-child(11)').attr({'title':'Georgia'});
                                jQuery('#State option:nth-child(12)').attr({'title':'Hawaii'});
                                jQuery('#State option:nth-child(13)').attr({'title':'Idaho'});
                                jQuery('#State option:nth-child(14)').attr({'title':'Illinois'});
                                jQuery('#State option:nth-child(15)').attr({'title':'Indiana'});
                                jQuery('#State option:nth-child(16)').attr({'title':'Iowa'});
                                jQuery('#State option:nth-child(17)').attr({'title':'Kansas'});
                                jQuery('#State option:nth-child(18)').attr({'title':'Kentucky'});
                                jQuery('#State option:nth-child(19)').attr({'title':'Louisiana'});
                                jQuery('#State option:nth-child(20)').attr({'title':'Maine'});
                                jQuery('#State option:nth-child(21)').attr({'title':'Maryland'});
                                jQuery('#State option:nth-child(22)').attr({'title':'Massachusetts'});
                                jQuery('#State option:nth-child(23)').attr({'title':'Michigan'});
                                jQuery('#State option:nth-child(24)').attr({'title':'Minnesota'});
                                jQuery('#State option:nth-child(25)').attr({'title':'Mississippi'});
                                jQuery('#State option:nth-child(26)').attr({'title':'Missouri'});
                                jQuery('#State option:nth-child(27)').attr({'title':'Montana'});
                                jQuery('#State option:nth-child(28)').attr({'title':'Nebraska'});
                                jQuery('#State option:nth-child(29)').attr({'title':'Nevada'});
                                jQuery('#State option:nth-child(30)').attr({'title':'New Hampshire'});
                                jQuery('#State option:nth-child(31)').attr({'title':'New Jersey'});
                                jQuery('#State option:nth-child(32)').attr({'title':'New Mexico'});
                                jQuery('#State option:nth-child(33)').attr({'title':'New York'});
                                jQuery('#State option:nth-child(34)').attr({'title':'North Carolina'});
                                jQuery('#State option:nth-child(35)').attr({'title':'North Dakota'});
                                jQuery('#State option:nth-child(36)').attr({'title':'Ohio'});
                                jQuery('#State option:nth-child(37)').attr({'title':'Oklahoma'});
                                jQuery('#State option:nth-child(38)').attr({'title':'Oregon'});
                                jQuery('#State option:nth-child(39)').attr({'title':'Pennsylvania'});
                                jQuery('#State option:nth-child(40)').attr({'title':'Rhode Island'});
                                jQuery('#State option:nth-child(41)').attr({'title':'South Carolina'});
                                jQuery('#State option:nth-child(42)').attr({'title':'South Dakota'});
                                jQuery('#State option:nth-child(43)').attr({'title':'Tennessee'});
                                jQuery('#State option:nth-child(44)').attr({'title':'Texas'});
                                jQuery('#State option:nth-child(45)').attr({'title':'Utah'});
                                jQuery('#State option:nth-child(46)').attr({'title':'Vermont'});
                                jQuery('#State option:nth-child(47)').attr({'title':'Virginia'});
                                jQuery('#State option:nth-child(48)').attr({'title':'Washington'});
                                jQuery('#State option:nth-child(49)').attr({'title':'West Virginia'});
                                jQuery('#State option:nth-child(50)').attr({'title':'Wisconsin'});
                                jQuery('#State option:nth-child(51)').attr({'title':'Wyoming'});
                                break;
                        }

                    });
                </script>
    </form>
</div>
</div>


    </div>
    <!-- /WRAP -->
</div>

<script>
    var dataFormCatalogrequest = new VarienForm('catalogrequest', true);

    new Event.observe('catalogrequest', 'submit', function(e){
        e.stop();
        $$('catalogrequest').select('input[type="image"]').invoke('disable');

        submitFormViaAjax( 'catalogrequest', '<?php echo $this->getFormActionUrl(); ?>', 'formSuccessMessage', 'loadSpinner');
    });
</script>
