<style>
    .subhero-nav {
        position:absolute;
        bottom:7px;
        width:100%;
        text-align:center;
        font-size:18px;
        font-weight:600;
        margin:20px 0;
    }
    .hbn-nav-intro {color:#ffffff;}
    .hbn-link {color:#ffffff;}
    .hbn-divider {
        font-size:16px;
        font-weight:normal;
        vertical-align:top;
        color:#F75933;
        margin:0 12px;
    }
    .hbn-nav-intro {margin-right:20px;}

    @media screen and (max-width:960px) {
        .hbn-divider {margin:0 8px;}
        .hbn-nav-intro {margin-right:10px;}
        .subhero-nav {font-size:16px;}

    }

    @media screen and (max-width:768px) {
        .subhero-nav {display:none;}
    }
</style>

<div class="skg">
    <a href="{{store direct_url="graphic-chef-wear.html"}}">
    <div class="hide-768">
        <img src="{{media url="wysiwyg/email-collateral/HC-EML-1710-graphic-wear/aspot_d.jpg"}}" alt="Over 50% Off Embroidery Artwork" />
    </div>
    <div class="show-768">
        <img src="{{media url="wysiwyg/email-collateral/HC-EML-1710-graphic-wear/aspot_m.jpg"}}" alt="Over 50% Off Embroidery Artwork" />
    </div>
    </a>

    <div class="subhero-nav">
        <span class="hbn-nav-intro">START SHOPPING:</span>
        <a class="hbn-link" href="{{store direct_url="chef-coats-jackets.html"}}">COATS</a><span class="hbn-divider">|</span>
        <a class="hbn-link" href="{{store direct_url="chef-pants.html"}}">PANTS</a><span class="hbn-divider">|</span>
        <a class="hbn-link" href="{{store direct_url="aprons.html"}}">APRONS</a><span class="hbn-divider">|</span>
        <a class="hbn-link" href="{{store direct_url="shirts.html"}}">SHIRTS</a><span class="hbn-divider">|</span>
        <a class="hbn-link" href="{{store direct_url="chef-hats.html"}}">HATS</a><span class="hbn-divider">|</span>
        <a class="hbn-link" href="{{store direct_url="cookcool.html"}}">COOKCOOL</a>
    </div>
</div>