<div class="skg">
    <a href="{{store direct_url="graphic-chef-wear.html"}}">
    <div class="hide-768">
        <img src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/free-logo-setup-banner.jpg"}}"  alt="Over 50% Off Embroidery Artwork" />
    </div>
    <div class="show-768">
        <img src="{{media url="wysiwyg/email-collateral/HC-EML-1710-graphic-wear/aspot_m.jpg"}}" alt="Over 50% Off Embroidery Artwork" />
    </div>
    </a>
</div>