a:focus { outline: none; }
.highlight {
     font-weight: normal; border-bottom:1px solid #e0e0e0
}

.reset-button{
    position: absolute;
    border: 0px; background-color: transparent; z-index: 100;width:13px; height:13px; top:8px; left:auto !important; right:8px;
    cursor: pointer;
    vertical-align: baseline;
     background:none; text-indent:-999cm; background:url(images/search-x.png) no-repeat;
}
@-moz-document url-prefix() 
{
.reset-button{margin-top: 0px;}
}
input.spinner, input.spinner:focus {
    background-repeat: no-repeat !important;
    background-position: right center;
    background-image: url(images/spinner.gif) !important;
}
.s_separator{
    border-top: 1px solid #e0e0e0;
}
.s_separator:first-child{
    border-top: none;
}
#search_autocomplete{
 
    left: 0 !important;
    top: 22px !important;
    z-index: 999;
}
.searchautocomplete-container{
   
    margin-top: 0px;
    
}
.search-container .span_item{
    padding-left: 0px; line-height:25px; display:block
}
.searchautocomplete-search{

  
    display: block;


    overflow: hidden;
    position: relative; left:auto !important
}
.search-results{
    clear: both;
    display: block;
    text-align: left;
    padding-left: 0px; margin-top:10px; overflow:hidden
}
.search-header {
    margin: 0;
    text-align: left;
    padding: 14px 0 7px;
   
 
    font-weight: normal;
    color: #6f7073;
    font-size: 15px;
    letter-spacing: 0px;
    clear: both; font-family:WhitneyMedium; text-transform:uppercase
}
.s_item{
    width:94px;
    float: left; border:1px solid #E0E0E0; height:163px; margin:0px 5px; padding:5px 10px 10px 10px; text-align:center;
  position:relative; margin-bottom:10px
   
}

.s_item:hover{
   
    cursor:default;
}
.s_item a:link,
.s_item a:hover,
.s_item a:visited {    
    color: #2F2F2F;
    text-decoration: none;
}
.s_icon{
  
    height: auto;
    display: block;
    margin-right: 5px;
}
.s_details{
    text-align: left;
    display: block; padding-top:3px
   
}
.s_item .price-box{margin:0;}
.s_item .price-box .old-price{float:left}
.s_item .price-box .special-price{float:left; margin:0 5px 0 0;}
.s_description{
    font-size: 11px; display:none
}
.s_price{ position:absolute; bottom:4px; left:10px}
.s_item_name{
    font-family:WhitneyBook; font-size: 10px; color: #6f7073; line-height:14px
}
.s_item_name span{
    float: left; height:30px; overflow:hidden
}
.s_review{
    clear: both;
}
.s_ratings {
    font-size: 11px;
    line-height: 1.25;
    margin: 7px 0;
    width: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}

.s_item_name .a_review {
    color: #1E7EC8 !important;
}
.s_sku {
    font-size: 10px; display:none
}
.searchautocomplete-search .s_button button.button span {
    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: white;
    display: block;
    font: bold 12px/19px Arial,Helvetica,sans-serif;
    height: 19px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}
.s_category {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    cursor: pointer;
    float: left;
}
.s_category a{
   color: #6f7073 !important;
    font-weight: normal; font-family:WhitneyMedium; font-size:11px; text-transform:uppercase; display:block; padding-top:6px;
    
}
.s_category a b{font-weight:normal}
.s_category a:hover{color:#2294a7 !important;}
.resultbox-b {
    height: 26px; width:92px; background:#2294a7;
    text-align: center;  text-transform:uppercase;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
    clear: both; float:right;  font-family:WhitneyMedium;  color:#fff; line-height:26px;
}
.resultbox-b a,
.resultbox-b a:link, 
.resultbox-b a:visited, 
.resultbox-b a:hover {
    color: #fff;
    text-decoration: none;
}
.cms_page .s_item{height:auto; width:auto; border:none; padding:0px; height:0px; float:none; text-align:left; padding-top:13px; margin-left:0}
.cms_page .s_item .s_item_name a{ color: #6f7073 !important;
    font-weight: normal; font-family:WhitneyMedium; font-size:11px; text-transform:uppercase; display:block; }
	.cms_page .s_item .s_item_name a:hover{color: #2294a7 !important;}
.cms_page .s_item .s_item_name a span{height:auto;}
.cms_page .s_item .s_details{padding-top:0}
.cms_page .search-container{display:inline-block}
	
	
	