<!--<pre data-bind="text: ko.toJSON($data.productData(), null, 4)"></pre>-->
<div id="embroidery-overlay" data-bind="css: { active: isOpen }, click: function() { $root.closePanel() }"></div>
<div class="si si-rt" id="si-emb" data-bind="css: { vis: isOpen }">

    <div class="si-viewport better-embroidery">

        <div id="types" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'types', currPnl: $root.currentPanel() == 'types' }, animate: currentPanel() == 'types', if: currentPanel() == 'types' || previousPanel() == 'types'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-panel-title">EMBROIDERY TYPE</div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content bg-light">
                <div class="row-l1-container emb-types" data-bind="foreach: { data: typesSortedByPopularity, as: 'type' }">
                    <div class="row-l1 embroidery-types clickable" data-bind="css: { applied: $root.isEmbroiderySetForType(type) }, click: $root.gotoType">
                        <div class="embroidery-type-image" data-bind="style: { backgroundImage: 'url(\'' + type.type_image + '\')' }, attr: { title: type.icon_title} ">
                            <div class="embroidery-type-content">
                                <div class="si-title" data-bind="text: (name == 'acfLogos') ? 'ACF LOGOS' : name"></div>
                                <div class="advisory" data-bind="if: name == 'logo'">(<span style="font-family:WhitneySemibold;font-weight:bold;">$8.95 each application</span> + one-time $95 setup fee)<br></div>
                                <div class="advisory" data-bind="css: { logoAdvisory: name == 'logo' }, text: $root.priceAdvisory(type)"></div>
                                <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                                    <svg class="si-arrow-rt" viewBox="0 0 26 26" data-bind="click: function() { $root.gotoType }">
                                        <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-actions" data-bind="visible: isEmbroiderySetForProduct()">
                <button class="btn-blue btn-wide btn-tall"  data-bind="click: $root.loadSummary">Summary</button>
            </div>
        </div>

        <div id="artwork_categories" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'artwork_categories', currPnl: $root.currentPanel() == 'artwork_categories' }, animate: currentPanel() == 'artwork_categories', if: currentPanel() == 'artwork_categories' || previousPanel() == 'artwork_categories'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title">SELECT CATEGORY</div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="row-l1-container emb-types" data-bind="foreach: { data: artworkCategories, as: 'category' }">
                    <div class="row-l1 bb-light clickable"  data-bind="click: $root.gotoCategory">
                        <div class="row-content">
                            <span class="si-title" data-bind="text: name"></span>
                            <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                                <svg class="si-arrow-rt" viewBox="0 0 26 26" data-bind="click: function() { $root.gotoCategory}">
                                    <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="locations" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'locations', currPnl: $root.currentPanel() == 'locations' }, animate: currentPanel() == 'locations', if: currentPanel() == 'locations' || previousPanel() == 'locations'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'locations' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                        <div class="disabledMsg" data-bind="text: $root.disabledMessage"></div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="emb-gp-img-wrap bb-light"><img data-bind="attr: { src: $root.embroideryGroupImage }" width="100%"/></div>
                <div class="row-l1-container emb-loc" data-bind="foreach: { data: locations, as: 'location' }">
                    <div class="row-l1 bb-light clickable" data-bind="css: { disabled: $root.isTypeSetForLocation(location), applied: $root.isEmbroiderySetForLocation(location) }, click: function(){ if( $root.isTypeSetForLocation(location) ){ $root.showDisabledMessage() } else { $root.gotoLocation(location) } }">
                        <div class="row-content">
                            <span class="si-title" data-bind="text: name"></span>
                            <div class="type-icon-wrap-rt" data-bind="foreach: { data: $root.getTypesForLocation(location), as: 'typeForLocation' }">
                                <div class="type-icon" data-bind="style: { backgroundImage: 'url(\'' + typeForLocation.icon_image + '\')' }, attr: { title: typeForLocation.icon_title} "></div>
                            </div>
                        </div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-arrow-rt" viewBox="0 0 26 26" data-bind="click: function(){ if( $root.isTypeSetForLocation(location) ){ $root.showDisabledMessage() } else { $root.gotoLocation(location) } }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="logo" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'logo', currPnl: $root.currentPanel() == 'logo' }, animate: currentPanel() == 'logo', if: currentPanel() == 'logo' || previousPanel() == 'logo'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'logo' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="row-l1">
                    <div class="row-content">
                        <div data-bind="if: $root.isSignedIn() !== true" class="sign-in-wrapper">
                            <div id="logo-login" data-bind="click: function(){$root.logoLogin();}">Sign In</div> to see your saved logos
                        </div>
                        <div data-bind="if: !$root.isTempLogoSet()">
                            <div class="logo-placeholder logo-dropzone" data-bind="click: chooseFile">
                                <div class="logo-wrap logo-dropzone">
                                    <img class="logo-dropzone" src="<?php echo Mage::getBaseUrl('media'); ?>/embroidery_icons/icon-logo.png">
                                    <div class="logo-dropzone">Upload Custom Logo</div>
                                </div>
                            </div>
                        </div>
                        <div data-bind="if: $root.getLogo().length && $root.isTempLogoSet()">
                            <div class="logo-artwork" data-bind="style: { backgroundImage: 'url(\'' + $root.getLogo()[0].image + '\')' }"></div>
                        </div>
                        <div class="image-upload-btn" data-bind = "if: !$root.isTempLogoSet()">
                            <input id="choose-file" data-bind="event: { change: function() { uploadImage($element.files[0]) } }" type="file">
                            <div class="button-background">
                                <button class="image-upload-button btn-blue btn-wide btn-tall" data-bind="click: chooseFile, text: $root.uploadButtonText"></button>
                            </div>
                        </div>
                        <div class="image-remove-btn" data-bind = "if: $root.isTempLogoSet()">
                            <div class="artwork-edit-wrapper">
                                <div class="artwork-edit-recap" data-bind="if: $root.logoEditFieldVisible() == false && $root.getLogo().length">
                                    FILE NAME: <span class="artwork-name" data-bind="text: $root.getLogo()[0].name"></span>
                                </div>
                                <div class="artwork-edit-field" data-bind="visible: $root.logoEditFieldVisible() == true">
                                    <input required type="text" class="fancy-label" data-bind="attr: {id: 'logo-' + $root.chosenLocation().id }, event: { 'keyup': function(){ $root.validateLogoName(); }, 'keypress': onEnter }, textInput: logoName" maxlength="35">
                                    <label data-bind="attr: { for: 'logo-' + $root.chosenLocation().id }"><span>Logo Name</span></label>
                                </div>
                            </div>
                            <button id="image-remove-button" class="rm-btn" data-bind="click: function(){ $root.removeFile($root.chosenLocation(), $root.chosenType()) }">
                                <span class="rm-txt">Remove File</span>
                                <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                                    <svg class="si-close bold-ex" viewBox="0 0 26 26">
                                        <use xlink:href="/skin/frontend/default/em0080/images/icons/si-icon.svg#close"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="logo-fineprint">
                            <p><div class="logo-fineprint-details">Pricing Details</div> Each logo uploaded for custom embroidery requires:</p>

                            <ul class="logo-requirements">
                                <li>One-time logo setup fee (approx. $95)</li>
                                <li>Application fee (approx. $8.95) for each use</li>
                            </ul>
                            <p>On orders of $<?php echo Mage::getModel('embroidery/observer')::FREE_SETUP_TOTAL; ?> or more, your setup fee is waived, but application fees still apply. An embroidery expert will contact you to provide final pricing.</p>
                        </div>
                        <div class="embroidery-link" data-bind="click: function(){ $root.gotoLogoInfo(); }">WHAT HAPPENS NEXT?</div>
                    </div>
                </div>
            </div>
            <div class="si-actions">
                <button class="btn-blue btn-wide btn-tall"  data-bind="attr: {disabled: $root.isLogoValid() == false}, css: {disabled: $root.isLogoValid() == false }, click: function(){$root.saveLogo()}">Save Logo & Continue</button>
            </div>
        </div>



        <div id="logos" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'logos', currPnl: $root.currentPanel() == 'logos' }, animate: currentPanel() == 'logos', if: currentPanel() == 'logos' || previousPanel() == 'logos'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'logos' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="tier-pricing-header">
                    <div>
                        <span>Choose one of your logos or upload a new one below.</span>
                    </div>
                    <div>
                        <span>Product embroidery fees listed are per item, per quantity.</span>
                    </div>
                </div>
                <div class="row-l1-container emb-acf-logos" data-bind="foreach: { data: logos, as: 'logo' }">
                    <div class="row-l1">
                        <div class="row-content">
                            <div class="opt-wrap-rounded clickable" data-bind="css: { applied: $root.isEmbroiderySetForOption(logo) }, click: function(){$root.showLogoSetupAlert(logo)}">
                                <div class="opt-swatch customer-logo" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }, attr: { title:name }"></div>
                                <div class="opt-lbl-wrap">
                                    <div class="opt-lbl-left" data-bind="text: name"></div>
                                    <div class="opt-lbl-right">
                                        <div data-bind="if: status == 1">
                                            <img src="<?php echo $this->getSkinUrl('images/checkmark.png');?>" class="setup-checkmark"> <span>Setup Complete</span> |
                                            <span class="blue-link" data-bind="click: function(){ $root.showLogoTierInfo(logo)}, clickBubble: false">
                                                <span data-bind="text: min_price"></span>&nbsp;-&nbsp;<span data-bind="text: max_price"></span>
                                            </span>
                                        </div>
                                        <div data-bind="if: status != 1">
                                            <span data-bind="click: function(){ $root.showLogoSetupAlert(logo)}" class="blue-link">Not Set Up</span> | <span>TBD</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-actions">
                <button class="btn-blue btn-wide btn-tall"  data-bind="click: function(){$root.gotoLogo()}">Upload New Logo</button>
            </div>
        </div>


        <div id="logoInfo" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'logoInfo', currPnl: $root.currentPanel() == 'logoInfo' }, animate: currentPanel() == 'logoInfo', if: currentPanel() == 'logoInfo' || previousPanel() == 'logoInfo'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'logoInfo' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="row-l1 bb-light">
                    <div class="row-content-tall clearfix">
                        <div class="lg-icon-lt-wrap">
                            <img class="lg-icon-lt" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "embroidery_icons/icon-upload.png"; ?>" />
                        </div>
                        <div class="text-rt-wrap">
                            <div class="step"><span>Step 1:</span></div>
                            <div class="step-title"><span>Upload Your Logo</span></div>
                            <div class="step-desc"><p>We review it for processing</p></div>
                        </div>
                    </div>
                </div>
                <div class="row-l1 bb-light">
                    <div class="row-content-tall clearfix">
                        <div class="lg-icon-lt-wrap">
                            <img class="lg-icon-lt" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "embroidery_icons/icon-confirm.png"; ?>" />
                        </div>
                        <div class="text-rt-wrap">
                            <div class="step"><span>Step 2:</span></div>
                            <div class="step-title"><span>Confirm Pricing</span></div>
                            <div class="step-desc"><p>We send you the estimated stitch count, one-time set up fee, and embroidery application unit price</p></div>
                        </div>
                    </div>
                </div>
                <div class="row-l1 bb-light">
                    <div class="row-content-tall clearfix">
                        <div class="lg-icon-lt-wrap">
                            <img class="lg-icon-lt" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "embroidery_icons/icon-review.png"; ?>" />
                        </div>
                        <div class="text-rt-wrap">
                            <div class="step"><span>Step 3:</span></div>
                            <div class="step-title"><span>Review Proof</span></div>
                            <div class="step-desc"><p>We digitize your logo, and you sign off on final specs</p></div>
                        </div>
                    </div>
                </div>
                <div class="row-l1 bb-light">
                    <div class="row-content-tall clearfix">
                        <div class="lg-icon-lt-wrap">
                            <img class="lg-icon-lt" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "embroidery_icons/icon-embroider.png"; ?>" />
                        </div>
                        <div class="text-rt-wrap">
                            <div class="step"><span>Step 4:</span></div>
                            <div class="step-title"><span>Embroidery Begins</span></div>
                            <div class="step-desc"><p>Within 2 short weeks, your custom apparel is ready to ship</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="logoTierPriceInfo" style="display:none;">
            <div class="logo-tier-price-info">
                <div data-bind="text: $root.logoInfoName()" class="logo-name"></div>

                Your logo stitch count:
                <div data-bind="text: $root.logoInfoStitches()" class="logo-stitch-count"></div>

                Volume discount pricing

                <div class="logo-tier-grid-wrap">
                    <div data-bind="foreach: {data: logoInfoTierPrices, as: 'tierPrice'}">
                        <div class="tier-column" data-bind="css: {last: ($index() === ($root.logoInfoTierPrices().length - 1))}">
                            <div><span data-bind="text: tierPrice.qty_from"></span><span data-bind="if: (tierPrice.qty_to > 100)">+</span><span data-bind="if: (tierPrice.qty_to <= 100)">-<span data-bind="text: tierPrice.qty_to"></span></span> uses</div>
                            <div>$<span data-bind="text: tierPrice.price"></span> each</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                Using the same logo helps you save more, whether it's used on the same or different products

            </div>
        </div>



        <div id="artwork" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'artwork', currPnl: $root.currentPanel() == 'artwork' }, animate: currentPanel() == 'artwork', if: currentPanel() == 'artwork' || previousPanel() == 'artwork'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'artwork' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="tier-pricing-header">
                    <div>
                        <span>All artwork is available in multiple colors.</span>
                    </div>
                    <div class="si-accordion" data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingartwork-wrap' }, css: { expanded: $root.closedAccordions.indexOf('si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingartwork') == -1 }">
                        <div class="tier-pricing-link" data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingartwork-trigger'}, click: function(data, event) { $root.toggleAccordion('si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingartwork', event) }, clickBubble:false">
                            <span>Learn about our volume discount</span>
                            <div class="acc-arrow"></div>
                        </div>
                        <div data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingartwork' }, toggle: $root.closedAccordions.indexOf('si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingartwork') == -1">
                            <div class="tier-column">
                                <div><span data-bind="text: $root.getTierData(0, 'qty_from')"></span>-<span data-bind="text: $root.getTierData(0, 'qty_to')"></span> uses</div>
                                <div>$<span data-bind="text: $root.getTierData(0, 'price')"></span> each</div>
                            </div>
                            <div class="tier-column">
                                <div><span data-bind="text: $root.getTierData(1, 'qty_from')"></span>-<span data-bind="text: $root.getTierData(1, 'qty_to')"></span> uses</div>
                                <div>$<span data-bind="text: $root.getTierData(1, 'price')"></span> each</div>
                            </div>
                            <div class="tier-column last">
                                <div><span data-bind="text: $root.getTierData(2, 'qty_from')"></span>+ uses</div>
                                <div>$<span data-bind="text: $root.getTierData(2, 'price')"></span> each</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="tier-price-caption">Using the same artwork helps you save more, whether it's used on the same or different products</div>
                        </div>
                    </div>
                </div>
                <div class="row-l1-container emb-acf-logos" data-bind="foreach: { data: artworks, as: 'artwork' }">
                    <div class="row-l1">
                        <div class="row-content">
                            <div class="opt-wrap-rounded clickable" data-bind="css: { applied: $root.isEmbroiderySetForOption(artwork) }, click: function(){$root.setArtwork(artwork)}">
                                <div class="opt-swatch" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }, attr: { title:name }"></div>
                                <div class="opt-lbl-wrap">
                                    <div class="opt-lbl-left" data-bind="text: name"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="artworkColors" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'artworkColors', currPnl: $root.currentPanel() == 'artworkColors' }, animate: currentPanel() == 'artworkColors', if: currentPanel() == 'artworkColors' || previousPanel() == 'artworkColors'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'artworkColors' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="half-row-container emb-text" data-bind="foreach: { data: artworkColors, as: 'color' }">
                    <div class="half-row vert-pad-10">
                        <div class="half-wrap">
                            <div class="opt-wrap-rounded clickable" data-bind="css: { applied: $root.isSetArtworkColor(color) }, click: function(){$root.setArtworkColor(color)}">
                                <div class="opt-swatch" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }, attr: { title:name }"></div>
                                <div class="opt-lbl" data-bind="text: name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div id="acfLogos" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'acfLogos', currPnl: $root.currentPanel() == 'acfLogos' }, animate: currentPanel() == 'acfLogos', if: currentPanel() == 'acfLogos' || previousPanel() == 'acfLogos'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'acfLogos' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="tier-pricing-header">
                    <div>
                        <strong>The full color logo below will be used on white apparel.</strong>
                    </div>
                    <div>
                        <span>Other apparel colors may use an all-white logo at Happy Chef's discretion to adhere to ACF guidelines.</span>
                    </div>
                    <div class="si-accordion" data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingacf-wrap' }, css: { expanded: $root.closedAccordions.indexOf('si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingacf') == -1 }">
                        <div class="tier-pricing-link" data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingacf-trigger'}, click: function(data, event) { $root.toggleAccordion('si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingacf', event) }, clickBubble:false">
                            <span>Learn about our volume discount</span>
                            <div class="acc-arrow"></div>
                        </div>
                        <div data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingacf' }, toggle: $root.closedAccordions.indexOf('si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingacf') == -1">
                            <div class="tier-column">
                                <div><span data-bind="text: $root.getTierData(0, 'qty_from')"></span>-<span data-bind="text: $root.getTierData(0, 'qty_to')"></span> uses</div>
                                <div>$<span data-bind="text: $root.getTierData(0, 'price')"></span> each</div>
                            </div>
                            <div class="tier-column">
                                <div><span data-bind="text: $root.getTierData(1, 'qty_from')"></span>-<span data-bind="text: $root.getTierData(1, 'qty_to')"></span> uses</div>
                                <div>$<span data-bind="text: $root.getTierData(1, 'price')"></span> each</div>
                            </div>
                            <div class="tier-column last">
                                <div><span data-bind="text: $root.getTierData(2, 'qty_from')"></span>+ uses</div>
                                <div>$<span data-bind="text: $root.getTierData(2, 'price')"></span> each</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="tier-price-caption">Using the same logo helps you save more, whether it's used on the same or different products</div>
                        </div>
                    </div>
                </div>
                <div class="row-l1-container emb-acf-logos" data-bind="foreach: { data: licensedlogos, as: 'licensedlogo' }">
                    <div class="row-l1">
                        <div class="row-content">
                            <div class="opt-wrap-rounded clickable" data-bind="css: { applied: $root.isEmbroiderySetForOption(licensedlogo) }, click: function(){$root.setTypeOption(licensedlogo)}">
                                <div class="opt-swatch" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }, attr: { title:name }"></div>
                                <div class="opt-lbl-wrap">
                                    <div>Continue with ACF logo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="text" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'text', currPnl: $root.currentPanel() == 'text' }, animate: currentPanel() == 'text', if: currentPanel() == 'text' || previousPanel() == 'text'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'text' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="row-l1-container emb-text" data-bind="foreach: { data: textLines, as: 'textLineItem' }">
                    <div class="row-l1">
                        <div class="row-head-wrap bb-light">
                            <div class="row-head">
                                <span data-bind="text: $root.getLineLabel(textLineItem)"></span>
                                <span class="advisory">&nbsp;(Text case will appear exactly as typed)</span>
                                <div class="si-icon-wrap vcenter si-icon-wrap-rt" data-bind="visible: $root.textLines().length > 1 , click: function(){ $root.removeTextLine($root.chosenLocation(), $root.chosenType(), textLineItem.sortorder) }, clickBubble:false">
                                    <svg class="si-minus-rnd" viewBox="0 0 26 26" >
                                        <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#minus-rnd" ?>"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="text-input-wrap">
                                <input required type="text" class="fancy-label" data-bind="attr: {id: 'input-' + sortorder }, event: {'keyup': function(){ $root.markAsUnsaved([]);} }, sanitizeTextEmb: textLine" onblur="this.value = this.value.trim();">
                                <label data-bind="attr: { for: 'input-' + sortorder }"><span>Text Line (17 Character Maximum)</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-l1-sub clickable" data-bind="click: $root.gotoColor">
                        <div class="row-content bb-light">
                            <div class="si-sm-title" data-bind="text: $root.textLineData('textColor', textLineItem)"></div>
                            <div class="si-close-rnd si-icon" data-bind="visible: textColor != '', click: function(){ $root.clearTextOption('textColor', textLineItem) }, clickBubble:false"></div>
                            <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                                <svg class="si-arrow-rt" viewBox="0 0 26 26" data-bind="click: function() { $root.gotoType }">
                                    <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="row-l1-sub clickable" data-bind="click: $root.gotoStyle">
                        <div class="row-content bb-light">
                            <div class="si-sm-title" data-bind="text: $root.textLineData('textStyle', textLineItem)"></div>
                            <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                                <svg class="si-arrow-rt" viewBox="0 0 26 26" data-bind="click: function() { $root.gotoType }">
                                    <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-l1 add-text-line-btn-container" data-bind="visible: $root.isAddTextLineVisible()">
                    <div class="row-content">
                        <button class="btn-white btn-wide btn-tall" data-bind="click: addTextLine">Additional Line</button>
                    </div>
                </div>
            </div>
            <div class="si-actions">
                <button class="btn-blue btn-wide btn-tall"  data-bind="attr: {disabled: $root.isDataValid() == false}, css: {disabled: $root.isDataValid() == false }, click: $root.applyTextEmbroidery">Next</button>
            </div>
        </div>



        <div id="textColors" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'textColors', currPnl: $root.currentPanel() == 'textColors' }, animate: currentPanel() == 'textColors', if: currentPanel() == 'textColors' || previousPanel() == 'textColors'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'textColors' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="half-row-container emb-text" data-bind="foreach: { data: textColors, as: 'color' }">
                    <div class="half-row vert-pad-10">
                        <div class="half-wrap">
                            <div class="opt-wrap-rounded clickable" data-bind="css: { applied: $root.isTextOptionSetForTextLine('textColor', color) }, click: function(){$root.setTextOption(color, 'textColor')}">
                                <div class="opt-swatch" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }, attr: { title:name }"></div>
                                <div class="opt-lbl" data-bind="text: name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="textStyles" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'textStyles', currPnl: $root.currentPanel() == 'textStyles' }, animate: currentPanel() == 'textStyles', if: currentPanel() == 'textStyles' || previousPanel() == 'textStyles'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'textStyles' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="row-l1-container emb-text" data-bind="foreach: { data: textStyles, as: 'style' }">
                    <div class="row-l1">
                        <div class="row-content">
                            <div class="opt-wrap-rounded clickable" data-bind="css: { applied: $root.isTextOptionSetForTextLine('textStyle', style) }, click: function(){$root.setTextOption(style, 'textStyle')}">
                                <div class="opt-swatch" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }, attr: { title:name }"></div>
                                <div class="opt-lbl" data-bind="text: name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="ribbons" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'ribbons', currPnl: $root.currentPanel() == 'ribbons' }, animate: currentPanel() == 'ribbons', if: currentPanel() == 'ribbons' || previousPanel() == 'ribbons'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'ribbons' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="half-row-container emb-ribbons" data-bind="foreach: { data: ribbons, as: 'ribbon' }">
                    <div class="half-row vert-pad-10">
                        <div class="half-wrap">
                            <div class="opt-wrap-rounded clickable" data-bind="css: { applied: $root.isEmbroiderySetForOption(ribbon) }, click: function(){ $root.setTypeOption(ribbon) }">
                                <div class="opt-swatch" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }"></div>
                                <div class="opt-lbl" data-bind="text: name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="flags" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'flags', currPnl: $root.currentPanel() == 'flags' }, animate: currentPanel() == 'flags', if: currentPanel() == 'flags' || previousPanel() == 'flags'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'flags' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="half-row-container emb-flags" data-bind="foreach: { data: flags, as: 'flag' }">
                    <div class="half-row vert-pad-10">
                        <div class="half-wrap">
                            <div class="opt-wrap-rounded clickable" data-bind="css: { applied: $root.isEmbroiderySetForOption(flag) }, click: function(){$root.setTypeOption(flag)}">
                                <div class="opt-swatch" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }, attr: { title:name }"></div>
                                <div class="opt-lbl" data-bind="text: name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="patches" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'patches', currPnl: $root.currentPanel() == 'patches' }, animate: currentPanel() == 'patches', if: currentPanel() == 'patches' || previousPanel() == 'patches'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'patches' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="tier-pricing-header">
                    <div class="si-accordion" data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingpatches-wrap' }, css: { expanded: $root.closedAccordions.indexOf('si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingpatches') == -1 }">
                        <div class="tier-pricing-link" data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingpatches-trigger'}, click: function(data, event) { $root.toggleAccordion('si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingpatches', event) }, clickBubble:false">
                            <span>Learn about our volume discount</span>
                            <div class="acc-arrow"></div>
                        </div>
                        <div data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingpatches' }, toggle: $root.closedAccordions.indexOf('si-accordion<?php echo $this->getQuoteItemId();?>-tierpricingpatches') == -1">
                            <div class="tier-column">
                                <div><span data-bind="text: $root.getTierData(0, 'qty_from')"></span>-<span data-bind="text: $root.getTierData(0, 'qty_to')"></span> uses</div>
                                <div>$<span data-bind="text: $root.getTierData(0, 'price')"></span> each</div>
                            </div>
                            <div class="tier-column">
                                <div><span data-bind="text: $root.getTierData(1, 'qty_from')"></span>-<span data-bind="text: $root.getTierData(1, 'qty_to')"></span> uses</div>
                                <div>$<span data-bind="text: $root.getTierData(1, 'price')"></span> each</div>
                            </div>
                            <div class="tier-column last">
                                <div><span data-bind="text: $root.getTierData(2, 'qty_from')"></span>+ uses</div>
                                <div>$<span data-bind="text: $root.getTierData(2, 'price')"></span> each</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="tier-price-caption">Using the same patches helps you save more, whether it's used on the same or different products</div>
                        </div>
                    </div>
                </div>

                <div class="row-l1-container emb-acf-logos" data-bind="foreach: { data: patches, as: 'patch' }">
                    <div class="row-l1">
                        <div class="row-content">
                            <div class="opt-wrap-rounded clickable" data-bind="css: { applied: $root.isEmbroiderySetForOption(patch) }, click: function(){$root.setTypeOption(patch)}">
                                <div class="opt-swatch" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }, attr: { title:name }"></div>
                                <div class="opt-lbl-wrap">
                                    <div class="opt-lbl-left" data-bind="text: name"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="summary" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'summary', currPnl: $root.currentPanel() == 'summary' }, animate: currentPanel() == 'summary', if: currentPanel() == 'summary' || previousPanel() == 'summary'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="si-icon-wrap vcenter si-icon-wrap-lt si-icon-plus" data-bind="click: $root.loadTypes"></div>
                    <div class="row-content">
                        <div class="si-panel-title">SUMMARY</div>
                    </div>
                    <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                        <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                            <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="si-content si-content-summary">
                <div class="row-l1-container" data-bind="foreach: { data: summaryData, as: 'location' }">
                    <div data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-' + location.id + '-wrap' }, css: { expanded: $root.closedAccordions.indexOf('si-accordion<?php echo $this->getQuoteItemId();?>-' + location.id) == -1 }">
                        <div class="row-l1 row-content-heading">
                            <div class="row-content2" data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-' + location.id + '-trigger'}, clickBubble:false">
                                <div class="si-title" data-bind="text: location.name"></div>
                            </div>
                        </div>
                        <div class="si-accordion" data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-' + location.id }, toggle: $root.closedAccordions.indexOf('si-accordion<?php echo $this->getQuoteItemId();?>-' + location.id) == -1">
                            <div class="opt-wrap-rounded" data-bind="foreach: { data: location.types, as: 'type' }">
                                <div data-bind="if: type.name != 'text'">
                                    <div class="opt-wrap">
                                        <div class="type-container" data-bind="attr: { id: 'loc' + location.id + '-' + type.name }">
                                            <div class="row-l2 row-l2-subhead bb-light">
                                                <div class="row-head-wrap">
                                                    <div class="row-head" data-bind="text: (type.name == 'acfLogos') ? 'ACF LOGOS' : type.name"></div>
                                                    <div class="si-icon-wrap vcenter si-icon-wrap-rt row-l2-subhead-remove" data-bind="click: function(){ $root.removeType( location, type ) }, clickBubble:false"></div>
                                                </div>
                                            </div>
                                            <div data-bind="foreach: { data: type.options, as: 'option' }">
                                                <div class="row-l2 bb-light">
                                                    <div class="row-content clickable" data-bind="click: function(){ $root.editOption(location, type, option) }">
                                                        <div class="opt-image-wrap-lt" data-bind="if: option.image != '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) ?>/' ">
                                                            <div class="opt-image" data-bind="style: { backgroundImage: 'url(\'' + option.image + '\')' }"></div>
                                                        </div>
                                                        <span class="opt-name" data-bind="text: option.name"></span>
                                                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                                                            <svg class="si-arrow-rt" viewBox="0 0 26 26">
                                                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-l2" data-bind="if: type.name == 'artwork'">
                                                    <div class="row-content clickable" data-bind="click: function(){ $root.editArtworkColor(location, type, option) }">
                                                        <div class="opt-image-wrap-lt" data-bind="if: option.artworkColorImage != '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) ?>/' ">
                                                            <div class="opt-image" data-bind="style: { backgroundImage: 'url(\'' + option.artworkColorImage + '\')' }"></div>
                                                        </div>
                                                        <span class="opt-name" data-bind="text: option.artworkColorValue"></span>
                                                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                                                            <svg class="si-arrow-rt" viewBox="0 0 26 26">
                                                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="if: type.name == 'text'">
                                    <div data-bind="foreach: { data: type.options, as: 'option' }">
                                        <div class="opt-wrap">
                                            <div class="type-container" data-bind="attr: { id: 'loc' + location.id + '-line-' + option.textLineNumber }">
                                                <div class="row-l2 row-l2-subhead bb-light">
                                                    <div class="row-head-wrap">
                                                        <div class="row-head"><span>Text: Line</span> <span data-bind="text: option.textLineNumber"></span></div>
                                                        <div class="si-icon-wrap vcenter si-icon-wrap-rt row-l2-subhead-remove" data-bind="click: function(){ $root.removeTextLine( location, type, option.textLineNumber ); }, clickBubble:false"></div>
                                                    </div>
                                                </div>
                                                <div class="row-l2 bb-light">
                                                    <div class="row-content clickable" data-bind="click: function(){ $root.editTextLine(location, type, option)}">
                                                        <div data-bind="text: option.textLine"></div>
                                                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                                                            <svg class="si-arrow-rt" viewBox="0 0 26 26">
                                                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-l2 bb-light">
                                                    <div class="row-content clickable" data-bind="click: function(){ $root.editTextOption(location, type, option, 'color') }">

                                                        <div class="opt-image-wrap-lt">
                                                            <div class="opt-image" data-bind="style: { backgroundImage: 'url(\'' + $root.getTextColor(option.textColorId).image + '\')' }"></div>
                                                        </div>
                                                        <div class="upper" data-bind="text: option.textColorValue"></div>
                                                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                                                            <svg class="si-arrow-rt" viewBox="0 0 26 26">
                                                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-l2">
                                                    <div class="row-content clickable" data-bind="click: function(){ $root.editTextOption(location, type, option, 'style') }">
                                                        <div class="opt-image-wrap-lt">
                                                            <div class="opt-image" data-bind="style: { backgroundImage: 'url(\'' + $root.getTextStyle(option.textStyleId).image + '\')' }"></div>
                                                        </div>
                                                        <div class="upper" data-bind="text: option.textStyleValue"></div>
                                                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                                                            <svg class="si-arrow-rt" viewBox="0 0 26 26">
                                                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-l1-container">
                    <div data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-instructions-wrap' }, css: { expanded: $root.closedAccordions.indexOf('si-accordion<?php echo $this->getQuoteItemId();?>-instructions') == -1 }">
                        <div class="row-l1 instructions-heading bb-light">
                            <div class="row-content2" data-bind="attr: { id: 'si-accordion<?php echo $this->getQuoteItemId();?>-instructions-trigger' }, clickBubble:false">
                                <span class="si-title">Add a Note</span>
                            </div>
                        </div>
                        <div class="si-accordion" id="si-accordion<?php echo $this->getQuoteItemId();?>-instructions" data-bind="toggle: $root.closedAccordions.indexOf('si-accordion<?php echo $this->getQuoteItemId();?>-instructions') == -1" >
                            <div class="type-container" data-bind="attr: { id: 'instructions' }">

                                <div id="special-instructions-input-container"><textarea id="special-instructions-input" data-bind="value: $root.productData().instructions, event: { 'keyup': function(){ $root.isDataSaved(false); $root.isDataChanged(true); } }, editFocus: 'true', sanitizeTextarea: productDataInstructions" placeholder="Add any special instructions for our Embroidery Experts here."></textarea></div>
                                <div id="instructions-scrollto"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="si-actions-save-emb-container" class="si-actions">
                <div class="si-actions-save-emb"><button class="save-emb-btn btn-blue btn-wide btn-tall" data-bind="click: $root.doSaveAndExit">Apply to Product</button></div>
            </div>
        </div>



        <div id="textInput" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'textInput', currPnl: $root.currentPanel() == 'textInput' }, animate: currentPanel() == 'textInput', if: currentPanel() == 'textInput' || previousPanel() == 'textInput'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'textInput' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="row-l1 bb-light">
                    <div class="row-head-wrap">
                        <div class="row-head">
                            <span data-bind="text: $root.getLineLabel($root.chosenTextLine())"></span>
                            <span class="advisory">&nbsp;(Text case will appear exactly as typed)</span>
                        </div>
                        <div class="text-input-wrap">
                            <input required type="text" class="fancy-label" data-bind="attr: {id: 'input-' + $root.chosenTextLine().sortorder }, event: { 'keyup': function(){ $root.validateTextLine($root.chosenTextLine()) } }, sanitizeTextEmb: $root.chosenTextLine().textLine"  onblur="this.value = this.value.trim();">
                            <label data-bind="attr: { for: 'input-' + $root.chosenTextLine().sortorder }"><span>Text Line (17 Character Maximum)</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-actions">
                <div class="si-actions-lt"><button class="btn-white btn-wide btn-tall"  data-bind="click: $root.goBack">Cancel</button></div>
                <div class="si-actions-rt"><button class="btn-blue btn-wide btn-tall"  data-bind="attr: {disabled: !$root.isDataValid()}, css: {disabled: !$root.isDataValid()}, click: function(){$root.loadSummary()}">Done</button></div>
            </div>
        </div>



        <div id="instructions" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'instructions', currPnl: $root.currentPanel() == 'instructions' }, animate: currentPanel() == 'instructions', if: currentPanel() == 'instructions' || previousPanel() == 'instructions'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'instructions' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="row-l1">
                    <div class="row-content">
                        <span>Add a note for our Embroidery Experts</span>
                        <div class="vert-pad-5">
                            <textarea data-bind="value: $root.productData().instructions, event: { 'keyup': function(){ $root.isDataSaved(false); $root.isDataChanged(true); } }, sanitizeTextarea: tempInstructions"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-actions">
                <button class="btn-blue btn-wide btn-tall"  data-bind="attr: {disabled: $root.isDataSaved() == true}, css: {disabled: $root.isDataSaved() == true}, click: function(){$root.isDataSaved(true); $root.loadSummary();}">SAVE</button>
            </div>
        </div>



        <div id="signin" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'signin', currPnl: $root.currentPanel() == 'signin' }, animate: currentPanel() == 'signin', if: currentPanel() == 'signin' || previousPanel() == 'signin'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'signin' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="vert-pad-5">
                            <div class="panel-intro-text">Saving your logo requires a free Happy Chef account. This account ensures you only pay one setup fee per custom logo.</div>

                            <div class="error-msg" data-bind="visible: isSignInFailed">Invalid Email or Password</div>
                            <div class="input-box">
                                <input required type="email" class="fancy-label sign-in-field validate-email" id="signInEmail" onblur="Validation.validate(this);" data-bind="textInput: signInEmail, event: { 'keypress': onEnterSignIn }">
                                <label for="signInEmail"><span>Email</span></label>
                            </div>
                            <div>
                                <div class="password-wrapper">
                                    <input required type="password" class="fancy-label sign-in-field password-field" id="signInPassword" data-bind="textInput: signInPassword, event: { 'keypress': onEnterSignIn }">
                                    <label for="signInPassword"><span>Password</span></label>
                                    <button type="button" class="password-switch">Show</button>
                                </div>
                            </div>
                            <div class="row-content-center">
                                <a id="#forgot-password-emb" class="embroidery-link forgot-password" data-bind="click: function(){$root.currentPanel('password');}">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-actions">
                <button id="btn-signin" class="btn-blue btn-wide btn-tall"  data-bind="click: function(){ $root.signIn(); }">Sign In</button>
            </div>
        </div>

        <div id="createAccount" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'createAccount', currPnl: $root.currentPanel() == 'createAccount' }, animate: currentPanel() == 'createAccount', if: currentPanel() == 'createAccount' || previousPanel() == 'createAccount'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title" data-bind="text: $root.currentPanel() == 'createAccount' ? currPnlTitle : prevPnlTitle"></div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="vert-pad-5">
                            <div class="panel-intro-text">Save your logo with your Happy Chef account, so you only pay one setup fee per custom logo.</div>
                            <div class="signin-link">Already have an account? <span id="createaccount-login" class="embroidery-link" data-bind="click: function(){$root.createaccountLogin();}">Sign In</span></div>

                            <div class="error-msg" data-bind="visible: isCreateAccountFailed, text: createAccountErrorMessage">Invalid Entry</div>
                            <div>
                                <input required type="text" class="fancy-label sign-in-field" id="createAccountFirstname" data-bind="textInput: createAccountFirstname">
                                <label for="createAccountFirstname"><span>First Name</span></label>
                            </div>
                            <div>
                                <input required type="text" class="fancy-label sign-in-field" id="createAccountLastname" data-bind="textInput: createAccountLastname">
                                <label for="createAccountLastname"><span>Last Name</span></label>
                            </div>
                            <div class="input-box">
                                <input required type="email" class="fancy-label sign-in-field validate-email" id="createAccountEmail" onblur="Validation.validate(this);" data-bind="textInput: createAccountEmail">
                                <label for="createAccountEmail"><span>Email</span></label>
                            </div>
                            <div>
                                <div class="password-wrapper">
                                    <input required type="password" class="fancy-label sign-in-field password-field" id="createAccountPassword" data-bind="textInput: createAccountPassword">
                                    <label for="createAccountPassword"><span>Password</span></label>
                                    <button type="button" class="password-switch">Show</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="si-actions">
                <button class="btn-blue btn-wide btn-tall"  data-bind="click: function(){ $root.createAccount($root.tempLogo()); }">Create Account to Save Logos</button>
            </div>
        </div>


        <div id="password" class="si-panel" data-bind="css: { inactivePnl: $root.currentPanel() != 'password', currPnl: $root.currentPanel() == 'password' }, animate: currentPanel() == 'password', if: currentPanel() == 'password' || previousPanel() == 'password'">
            <div class="si-header">
                <div class="row-l1">
                    <div class="row-content">
                        <div class="si-icon-wrap vcenter si-icon-wrap-lt">
                            <svg class="si-arrow-lt" viewBox="0 0 26 26" data-bind="click: goBackIcon">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                            </svg>
                        </div>
                        <div class="si-panel-title">Forgot Password</div>
                        <div class="si-icon-wrap vcenter si-icon-wrap-rt">
                            <svg class="si-close" viewBox="0 0 26 26" data-bind="click: function() { $root.closePanelIcon() }">
                                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#close" ?>"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="si-content">
                <div class="row-l1" data-bind="visible: !$root.isPasswordSent()">
                    <div class="row-content">
                        <div class="error-msg" data-bind="visible: isSendPasswordFailed">We couldn't find an account with this email address. </div>
                        <div class="password-copy">Please enter your email address below. You will receive a link to reset your password.</div>
                        <div class="input-box">
                            <input required type="email" class="fancy-label sign-in-field validate-email" id="forgot_password" onblur="Validation.validate(this);" data-bind="textInput: passwordEmail">
                            <label for="forgot_password"><span>Email</span></label>
                        </div>
                    </div>
                </div>
                <div class="row-l1" data-bind="visible: $root.isPasswordSent()">
                    <div class="row-content">
                        Thanks! An email with a link to reset your password has been sent to <span data-bind="text: passwordEmail"></span>
                    </div>
                </div>
            </div>
            <div class="si-actions" data-bind="visible: !$root.isPasswordSent()">
                <button class="btn-blue btn-wide btn-tall"  data-bind="click: function(){ $root.sendPassword(); }">Submit</button>
            </div>
            <div class="si-actions" data-bind="visible: $root.isPasswordSent()">
                <button class="btn-blue btn-wide btn-tall"  data-bind="click: function(){ $root.isPasswordSent(false); $root.currentPanel('signin'); }">Back to Sign In</button>
            </div>
        </div>

        <div class="alert-wrap" style="display:none;">
            <div data-bind="if: isAlertBoxVisible, attr: { id: $root.alertId }">
                <div class="si-alert-msg" data-bind="html: $root.alertData().alertMessage"></div>
                <div class="si-alert-actions">
                    <div data-bind="if: $root.alertData().btn1Label != ''"><button class="btn-tall btn-wide btn-blue" data-bind="text: $root.alertData().btn1Label, click: function() { $root.trackAndDoAction('btn1', $root.alertData()) }""></button></div>
                    <div data-bind="if: $root.alertData().btn2Label != ''"><button class="btn-tall btn-wide btn-white" data-bind="text: $root.alertData().btn2Label, click: function() { $root.trackAndDoAction('btn2', $root.alertData()) }"></button></div>
                </div>
            </div>
        </div>

    </div>
</div>

