<?php
    $customer = $this->getCustomer();
    $logos = $customer->getLogos();
?>


<div class="page-title">
    <h1><?php echo $this->__('My Logos') ?></h1>
</div>

To add your logos to a product, go to the product’s page and look for the embroidery option after you’ve selected a color and size.

<div class="embroidery-logos">
    <?php foreach($logos as $logo): ?>
        <div class="logo-row">
            <div class="column image">
                <div class="image" style="background-image: url(<?php echo $logo["status"] ? $logo["digitized_image"] : $logo["image"];?>)"></div>
            </div>
            <div class="column name">
                <div class="title">Name</div>
                <?php echo $logo["name"];?>
            </div>
            <?php if ($logo["status"]):?>
                <div class="column stitches">
                    <div class="title">Stitch Count</div>
                    <?php echo $logo["stitches"];?>
                </div>
                <div class="column pricing">
                    <div class="title">Pricing</div>

                    <?php
                    $tierPrices = $logo["tier_prices"];
                    $qty = array();
                    foreach ($tierPrices as $key => $row)
                    {
                        $qty[$key] = $row['qty_from'];
                    }
                    array_multisort($qty, SORT_ASC, $tierPrices);

                    foreach($tierPrices as $index=>$tierPrice):?>
                            <div><?php echo $tierPrice["qty_from"];?>
                                <?php echo ($tierPrice["qty_to"] > 100) ? "+" : " - {$tierPrice["qty_to"]}"; ?> uses:
                                 $<?php echo $tierPrice["price"];?> each
                            </div>
                    <?php endforeach; ?>
                </div>
            <?php else: ?>
                <div class="column status">
                    <div class="title">Not Set Up</div>
                    Each logo uploaded for custom embroidery requires a one-time logo setup
                    fee and an application fee for each use. For most logos, the setup fee is $95
                    and the application fee is $8.95 per use. An embroidery expert will contact you
                    to provide final pricing.
                </div>
            <?php endif; ?>
            <div class="clearfix"></div>
        </div>
    <?php endforeach; ?>
</div>