<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php $updateFromCart = strpos(Mage::helper('core/url')->getCurrentUrl(), "cart/configure/id") !== false ? true : false; ?>

<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <?php if(!$_product->isGrouped()): ?>
           <label class="lbl-title"><?php echo $this->__('Quantity:') ?></label>
            <div class="wrap-qty" style="float:left;">
                <span class='qtymin no-select'>-</span>
                <input type="tel" name="qty" id="qty" value="<?php echo $this->getProductDefaultQty() * 1 ?>" maxlength="4" pattern="[0-9]*" title="<?php echo $this->__('Qty') ?>" class="qty-val input-text qty" onclick="this.select();"/>
                <span class='qtyplus no-select'>+</span>
		   </div>
        <?php endif; ?>

        <!-- Start Product Alerts, SKU, and Tier Pricing -->
        <?php if (isset($updateFromCart) && !$updateFromCart) : ?>
            <div class="product-data">
                <?php echo $this->getTierPriceHtml() ?>
            </div>
        <?php endif; ?>
        <!-- End Product Alerts, SKU, and Tier Pricing -->

        <?php if( $_product->getTypeId() != 'aw_giftcard'): ?>
        <div class="custom_status"></div>
        <?php endif; ?>

        <div class="custom_note" style="display:none;">Please allow an additional 2 weeks for embroidery.</div>

        <div style="clear:both"></div>
        <div id="add-to-cart-area" class="addtocard_small">

            <div class="clearfix">
               <span id='default_price'><?php echo $this->getPriceHtml($_product) ?></span>
            </div>

            <div class="discount-qty-alert" id="discount-qty-alert-<?php echo $_product->getId(); ?>"><span>Quantity discount rate has been applied!</span></div>
            <div class="discount-embroidery-alert" id="discount-embroidery-alert-<?php echo $_product->getId(); ?>"><span data-bind="text: $root.embroideryDiscountMessage()"></span></div>
            <!-- New Embroidery -->
            <?php if($_product->hasEmbroidery()): ?>
            <div id="bind-embroidery">
                <div class="clearfix"></div>
                <!--pre data-bind="text: ko.toJSON($root.isDataChanged(), null, 4)"></pre-->
                <div class="emb-btn-wrap btn-hidden" data-bind="css: {'btn-visible': $root.isEmbroiderySetForProduct() == false}">
                    <div class='btn-wrap-blue embroidery-hide'><button type='button' title='ADD EMBROIDERY' class='button add-cust-btn btn-white btn-tall' id="addEmbroidery" data-bind="click: function(){ $root.validateSuperAttributesAndOpen() }"><span><span>ADD EMBROIDERY</span></span></button></div>
                </div>
                <div class="emb-btn-wrap btn-hidden" data-bind="css: {'btn-visible': $root.isEmbroiderySetForProduct()}">
                    <div class='btn-wrap-blue embroidery-hide'>
                        <button type='button' title='EDIT EMBROIDERY' class='button add-cust-btn btn-white btn-tall' id="updateEmbroidery" data-bind="click: function(){ $root.loadSummary(); $root.isOpen(true) }"><span><span>EDIT EMBROIDERY</span></span></button>
                        <div class="remove-embroidery-btn" id="removeEmbroidery" data-bind="click: function(){$root.removeEmbroidery()}">Remove Embroidery</div>
                    </div>
                </div>
                <input type="hidden" id="product-embroidery-options" name="product-embroidery-options" value="<?php if (!empty($embroideryData)) { echo htmlspecialchars($embroideryData); } ?>">
                <input type="hidden" id="quote-item-id" value="<?php if (!empty($quoteItemId)) { echo $quoteItemId; } ?>">
                <input type="hidden" id="product-id" value="<?php echo $this->getProduct()->getId(); ?>">
                <input type="hidden" id="unitEmbroideryPrice" name="unitEmbroideryPrice" data-bind="value: $root.embroideryPrice()" value="<?php if (!empty($unitEmbroideryPrice)) { echo $unitEmbroideryPrice; } ?>">

                <?php
                $block = $this->getLayout()
                    ->createBlock('embroidery/embroidery','embroidery',
                        array('template' => 'ripen/embroidery/embroidery.phtml'));
                $block->setProductId($_product->getId());
                if (!empty($quoteItemId)) {
                    $block->setQuoteItemId($quoteItemId);
                }
                if (!empty($embroideryData)) {
                    $block->setEmbroideryOptionsValue($embroideryData);
                }
                echo $block->setBlockId('embroidery')->toHtml();
                ?>
            </div>
            <?php endif; ?>
            <!-- End New Embroidery -->

            <div class='pdp-add-to-cart-wrap'>
                <button type='button' title='<?php echo $buttonTitle ?>' class='button btn-cart btn-cartf btn-blue btn-tall'><span><span id="add-cart-text"><?php echo $buttonTitle ?></span></span></button>
            </div>
         </div>

		<?php echo $this->getChildHtml('', true, true) ?>
      

		<script type="text/javascript">
			jQuery.noConflict();
			jQuery(function($){

                var currencySymbol =<?php echo json_encode(Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol()); ?>;
                var normalPrices =<?php echo json_encode($_product->getPrice()) ?>;
                var specialPrices =<?php echo json_encode($_product->getSpecialPrice()) ?>;

                if ($(".quickshop-index-view")[0]){
                    if (specialPrices)
                        var default_price = parseFloat(specialPrices).toFixed(2);
                    else
                        var default_price = parseFloat(normalPrices).toFixed(2);

                    $("#total_price_normal").html(currencySymbol + default_price);
                    $("#price_normal").css("display", "block");

                }

				$('#qty').on('change', function(){
                    optionsPrice.reload();
				});

                $('#updateEmbroidery').on('click', function(e){
                    /*-- GOOGLE ANALYTICS --------------------------------*/
                    _gaq.push(['_trackEvent', 'customization', 'pop-up-view', 'Edit embroidery button (PDP)']);
                    /*-- GOOGLE ANALYTICS --------------------------------*/

                    /*-- HOTJAR TAG --------------------------------*/
                    hj('tagRecording', ['Embroidery - start']);
                    /*-- HOTJAR TAG --------------------------------*/
                });

                $('#addEmbroidery').on('click', function(){
                    /*-- GOOGLE ANALYTICS --------------------------------*/
                    _gaq.push(['_trackEvent', 'customization', 'pop-up-view', 'Add embroidery button (PDP)']);
                    /*-- GOOGLE ANALYTICS --------------------------------*/

                    /*-- HOTJAR TAG --------------------------------*/
                    hj('tagRecording', ['Embroidery - start']);
                    /*-- HOTJAR TAG --------------------------------*/
                });

			});
		</script>
        
    </div>
<?php endif; ?>
