/********************************************/
/* GRID - DESKTOP */
/********************************************/
html, body {
	min-width: 320px;
	font-family: Quicksand,Arial,Tahoma,Verdana,FreeSans,sans-serif;
}
.container_24 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_4sm, .grid_5, .grid_6, .grid_6sm, .grid_7, .grid_8, .grid_8sm, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23 {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.grid_24 {
    display: inline;
    float: left;
    position: relative;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}

/********************************************/
/* END GRID - DESKTOP */
/********************************************/

/* FLOATS */
.tabWrap,
.calloutA-TabNum,
.float-lt {float:left;}
.float-rt {float:right;}

.floatFix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
.floatingFix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}

.accordion-wrapper {padding-bottom: 15px;}

.accordion-toggle {background-color: #ffffff;cursor: pointer !important;padding: 10px 8px;}

#organicTabs .list-wrap, #accord .accordion-container {padding: 0;}
#accord .content-block {padding: 10px;}

/* TRANSITIONS */
.calloutA-AccordArrow {transition:all 300ms ease-in-out;}

/********************************************/
/* DESKTOP BREAKPOINT */
/********************************************/

.accPanelArrow {position:relative;}
.accPanelArrowInner {position:absolute;}
.accPanelArrowInner {left:-9px;}
.accPanelArrow {top:1px;}
.accPanelArrowInner {top:3px;}

/* BORDERS */
.accPanelArrow {border-right:10px solid transparent;border-left:10px solid transparent;border-bottom:20px solid black;}
.accPanelArrowInner {border-right:9px solid transparent;border-left:9px solid transparent;border-bottom:18px solid white;}

/* HEIGHT */
.accPanelArrow,
.accPanelArrowInner {height:0;}

/* WIDTH */
.accPanelArrow,
.accPanelArrowInner {width:0;}

/* MARGIN */
.accPanelArrow,
.accPanelArrowInner {margin:auto;}

/* ALIGNMENT */
.content-block {text-align:center;}

/********************************************/
/* 568 BREAKPOINT */
/********************************************/
@media screen and (max-width: 568px), screen and (max-device-width: 568px) {
	#organicTabs .respond {
		width: 301px !important;
	}
	#tabs {
		display: none !important;
	}
	#accord {
		display: block !important;
	}
	.respond {
		text-align: center !important;
		width: 100% !important;
	}
	.calloutImg {
		width: 100%;
	}
}
/********************************************/
/* END 568 BREAKPOINT */
/********************************************/
