/********************************************/
/* 960 BREAKPOINT */
/********************************************/


/********************************************/
/* TAB/ACCORDION STYLES */
/********************************************/
/* TYPOGRAPHY */
.sig {font-size:12px;}

/* ALIGNMENT */
.sig {text-align:right;}

/* MARGINS */
.contentCopy {margin-bottom:5px;}

/********************************************/
/* END TAB/ACCORDION STYLES */
/********************************************/

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:focus {
    outline: 0 none;
}
#page-wrap {
    margin: auto;
}
.hide {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
#organicTabs ul {
    list-style: none outside none;
}
#organicTabs ul li a {
    color: #333333;
    display: block;
}
#organicTabs ul li:last-child a {
    border: medium none;
}
#organicTabs .nav {
    margin: 0;
    overflow: hidden;
}
#organicTabs .nav li {
    float: left;
    margin-left: 0;
    width: 100%;
}
#organicTabs .nav li.last {
    margin-right: 0;
}

/* POSITION */
.tabPanelArrow {position:relative;}
.tabPanelArrowInner {position:absolute;}
.tabPanelArrowInner {left:-9px;}
#tabPanelArrow1 {left:65px;}
#tabPanelArrow2 {left:215px;}
#tabPanelArrow3 {left:365px;}
#tabPanelArrow4 {left:515px;}
#tabPanelArrow5 {left:665px;}
#tabPanelArrow6 {left:815px;}
.tabPanelArrow {top:1px;}
.tabPanelArrowInner {top:3px;}

/* BORDERS */
.tabPanelArrow {border-right:10px solid transparent;border-left:10px solid transparent;border-bottom:20px solid black;}
.tabPanelArrowInner {border-right:9px solid transparent;border-left:9px solid transparent;border-bottom:18px solid white;}
.tabContentWrap {border:1px solid black;}

/* BACKGROUNDS */
.tabContentWrap {background-color:#ffffff;}
.nav {background-color: #ffffff;}

/* DISPLAY TYPES */
.tabImgWrap img {display:block;left:0;}

/* WIDTHS */
.tabPanelArrow {width:0;}
.tabWrap {width:130px;}
.tabPanelArrowWrap {width:100%;}
#organicTabs .t1 {width:100%;}
#organicTabs .t2 {width:80px;}
#organicTabs .t3 {width:64px;}
#organicTabs .t4 {width:98px;}
#organicTabs .t5 {width:63px;}
#organicTabs .t6 {width:100%;}
#tabs {width:900px;}

/* HEIGHTS */
.tabPanelArrow {height:0;}
.tabPanelArrowWrap {height:20px;}

/* MARGINS */
#tabs {margin-left:auto;margin-right:auto;}
#tabs {margin-bottom: 20px;}
#organicTabs .t1 {margin:9px auto;}
#organicTabs .t2 {margin:5px auto;}
#organicTabs .t3 {margin:10px auto;}
#organicTabs .t4 {margin:19px auto;}
#organicTabs .t5 {margin:2px auto;}
#organicTabs .t6 {margin:17px auto;}

/* PADDING */
.tabWrap,
.tabContentWrap {padding:10px;}
/********************************************/
/* END DESKTOP BREAKPOINT */
/********************************************/

/********************************************/
/* 960 BREAKPOINT */
/********************************************/
@media screen and (max-width: 960px), screen and (max-device-width: 960px) {

	/* BACKGROUNDS 960 */
	.nav {background-color: #ffffff;}
	
	/* WIDTHS 960 */
	#tabs {width:744px;}
	.tabWrap {width:104px;}
	#organicTabs .t1 {width:104px;}
	#organicTabs .t2 {width:80px;}
	#organicTabs .t3 {width:64px;}
	#organicTabs .t4 {width:98px;}
	#organicTabs .t5 {width:63px;}
	#organicTabs .t6 {width:104px;}
	
	/* POSITION 960 */
	#tabPanelArrow1 {left:52px;}
	#tabPanelArrow2 {left:176px;}
	#tabPanelArrow3 {left:300px;}
	#tabPanelArrow4 {left:424px;}
	#tabPanelArrow5 {left:548px;}
	#tabPanelArrow6 {left:672px;}
	
	/* MARGINS */
	#organicTabs .t1 {margin:10px auto;}
	#organicTabs .t2 {margin:2px auto;}
	#organicTabs .t3 {margin:7px auto;}
	#organicTabs .t4 {margin:16px auto;}
	#organicTabs .t5 {margin:0px auto;}
	#organicTabs .t6 {margin:16px auto;}
}
/********************************************/
/* END 960 BREAKPOINT */
/********************************************/


/********************************************/
/* 719 BREAKPOINT */
/********************************************/
@media screen and (max-width: 768px), screen and (max-device-width: 768px) {
	
	/* WIDTHS 719 */
	#tabs {width:528px;}
	.tabWrap {width:68px;}
	#organicTabs .t1 {width:68px;}
	#organicTabs .t2 {width:68px;}
	#organicTabs .t3 {width:64px;}
	#organicTabs .t4 {width:68px;}
	#organicTabs .t5 {width:68px;}
	#organicTabs .t6 {width:68px;}
	
	/* POSITION 719 */
	#tabPanelArrow1 {left:44px;}
	#tabPanelArrow2 {left:122px;}
	#tabPanelArrow3 {left:210px;}
	#tabPanelArrow4 {left:298px;}
	#tabPanelArrow5 {left:386px;}
	#tabPanelArrow6 {left:474px;}
	
}
/********************************************/
/* END 719 BREAKPOINT */
/********************************************/

/********************************************/
/* 568 BREAKPOINT */
/********************************************/
@media screen and (max-width: 568px), screen and (max-device-width: 568px) {

	/* DISPLAY 568 */
	#tabs {display: none !important;}
	
}
