<style>
    .hpb-popup {display:none;}
    .subhero-nav {
        position:absolute;
        bottom:7px;
        width:100%;
        text-align:center;
        font-size:18px;
        font-weight:600;
        margin:20px 0;
    }
    .hbn-nav-intro {color:#ffffff;}
    #promo-link-hpa {
        color:#ffffff;
        position:absolute;
        bottom:18%;
        left:78%;
        cursor: pointer;
        transform:translateX(-50%);
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 2px;
    }
    .hbn-link {color:#ffffff;}
    .hbn-divider {
        font-size:16px;
        font-weight:normal;
        vertical-align:top;
        color:#F75933;
        margin:0 12px;
    }
    .hbn-nav-intro {margin-right:20px;}

    @media only screen and (max-width: 768px) {
        #promo-link-hpa {
            color:#ffffff;
            bottom:3%;
            left:50%;
            transform:translateX(-50%);
        }
    }

    @media screen and (max-width:768px) {
        .subhero-nav {display:none;}
    }

    @media screen and (max-width:960px) {
        .hbn-divider {margin:0 8px;}
        .hbn-nav-intro {margin-right:10px;}
        .subhero-nav {font-size:16px;}

    }

    .promo-det-copy-hpa {display: none;}
    .fw {width:100%; margin-top:7px;}
    .fw.txt {margin: 43px 0 50px;}
    .hw.left {
        width:calc(50% - 4px);
        margin-right:4px;
        margin-top:7px;
    }
    .hw.right {
        width:calc(50% - 4px);
        margin-left:4px;
        margin-top:7px;
    }

    #popmobstatic {
        position: relative;
        z-index: 20;
        width:100%;
        background-color: #ffffff;
        display: block;
    }


    .popvideoWrapper {
        position: relative;
        /*padding-bottom: 50%; !* 16:9 *!*/
        /*padding-top: 25px;*/
        /*height: 0;*/
    }
    .popvideoWrapper video {
        /*position: absolute;*/
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #popmobstatic {
        position: relative;
        z-index: 20;
    }

    #popmobileLogoVid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .fineprint {
        margin-top:20px;
        text-align: center;
        font-size:12px;
    }

    .fineprinthdg {font-size:14px; font-weight:bold; margin-bottom:10px;}

    @media only screen and (max-width: 768px) {
        .promo-det-copy {width:100%; margin:0;}
    }
    /****************************************************************/
    /* VIDEO */
    /****************************************************************/


    @media screen and (max-width:768px) {
        .subhero-nav {display:none;}
    }



    @media screen and (max-width:960px) {
        .promo-link  {font-size: 12px;}
        .hbn-divider {margin:0 8px;}
        .hbn-nav-intro {margin-right:10px;}
        .subhero-nav {font-size:16px;}

    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap {background-size: initial; background-position: right;}
        .promo-bar-wrap {text-align:center;}
        .promo-link  {font-size: 12px; top: 73px;}
        .promo-main-msg-l2 {margin-right:0; font-size:16px; padding: 0;}
    }

    @media screen and (max-width: 673px) {
        .promo-main-msg-l2 {margin-right:0; font-size:12px; padding-right: 0;}
    }

    @media screen and (max-width:643px) {
        .promo-bar-wrap {padding: 0}
        .promo-link{ padding-left: 20px; }
    }

    @media screen and (max-width:480px) {
        .promo-link {font-size:9px; top:0; right:0; background-color:#000000; padding:0;}
        .promo-main-msg-l2 {font-size:12px; padding: 0;}
        .promo-link {display: none;}
    }

    @media screen and (max-width:479px) {

        .hw.left {
            width: 100%;
            margin-right: 0;
        }

        .hw.right {
            width: 100%;
            margin-left: 0;
        }
    }

</style>



<div id="promo-det-copy-hpa" class="homepg-hero skg" style="display:inline-block; cursor: pointer;">
    <div class="hide-768">
        <img src="{{media url="wysiwyg/home-pg/a-spots/aspot_d.jpg"}}" alt="Free Logo Setup" />
    </div>
    <div class="show-768">
        <img src="{{media url="wysiwyg/home-pg/a-spots/aspot_m.jpg"}}" alt="Free Logo Setup" />
    </div>
</div>

<div style="display:inline-block; cursor: pointer;">
    <a href="{{store direct_url="chef-shoes.html"}}">
    <div class="wide-banner skg">
        <div>
            <div class="hide-768">
                <img src="{{media url="wysiwyg/home-pg/b-spots/HPb-banner-d.jpg"}}" alt="New Shoes - From Reebok & Genuine Grip" />
            </div>
            <div class="show-768">    
                <img src="{{media url="wysiwyg/home-pg/b-spots/HPb-banner-m.jpg"}}" alt="New Shoes - From Reebok & Genuine Grip" />
            </div>
        </div>
    </div>
    </a>
</div>

<div style="display:inline-block; cursor: pointer;">
    <a href="{{store direct_url="kids-cookcool-chef-coat-16016.html"}}">
        <div class="wide-banner skg">
            <div>
                <div class="hide-768">
                    <img src="{{media url="wysiwyg/home-pg/b-spots/HPb-banner-d_2.jpg"}}" alt="The Kids Cookcool Chef Coat" />
                </div>
                <div class="show-768">
                    <img src="{{media url="wysiwyg/home-pg/b-spots/HPb-banner-m_2.jpg"}}" alt="The Kids Cookcool Chef Coat" />
                </div>
            </div>
        </div>
    </a>
</div>


<div id="hpb-popup" class="hpb-popup popup">
    <div class="hide-768">
        <div id="popviddesk" class="popvideoWrapper">
            <video id="poplogoVid" autoplay loop>
                <source src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-preview.mp4"}}" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="show-768">
        <div class="popvideoWrapper" id="mobstaticwrap">
            <img id="popmobstatic" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/mobile-static.jpg"}}" />
            <video id="popmobileLogoVid" autostart="false">
                <source src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/1080-mobile.mp4"}}" type="video/mp4">
            </video>
        </div>
    </div>
    <div>
        <img class="fw txt" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/free-logo-setup-text_1.jpg"}}" alt="Free Logo Setup When You Spend $150+" />
    </div>
    <div>
        <img class="fw" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/a1.png"}}" />
    </div>
    <div class="clearfix">
        <div>
            <img class="hw left" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/b1.png"}}" />
        </div>
        <div>
            <img class="hw right" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/b2.png"}}" />
        </div>
    </div>
    <div class="clearfix">
        <div class="fineprint">
            <div class="fineprinthdg">The Fine Print</div>
            <p>Minimum purchase of $150 in a single order required. Valid on one logo setup only. Cannot be combined with other offers.</p>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($){

        $('#promo-det-copy-hpa').on('click', function (e) {
            $.fancybox({
                'maxWidth': 800,
                'autoSize': false,
                'width': '95%',
                'padding': 20,
                'margin': 20,
                'href': '#hpb-popup'
            });
        });

        let popvideo = document.getElementById("poplogoVid");
        let popmobileVideo = document.getElementById("popmobileLogoVid");

        function popchangeVideo() {
            popvideo.src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-no-logo.mp4"}}";
            popvideo.loop = false;
        }

        function popchangeMobileVideo() {
            $('#popmobstatic').css('visibility', 'hidden');
            popmobileVideo.play();
        }

        function popreturnVideo() {
            popvideo.src= "{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-preview.mp4"}}";
            popvideo.loop = true;
        }

        function popreturnMobileVideo() {
            jQuery('#popmobstatic').css('visibility', 'visible');
        }

        popvideo.addEventListener('ended', function() {
            popreturnVideo();
        });

        popmobileVideo.addEventListener('ended', function() {
            popreturnMobileVideo();
        });

        $('#popmobstatic').on('click', popchangeMobileVideo);
        $('#popviddesk').on('click', popchangeVideo);
    });
</script>
