<style>

.flash-tag {
        padding-left: 15px;
        padding-right: 15px;
        width: 25px;        
    }
.checkout-onepage-index .promo-bar-wrap, .happychef-giftcard-index-index .promo-bar-wrap,
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap , .promo-bar-wrap a{
        background-color:#000000;
        color:#ffffff;
        position:relative;
        margin-bottom:5px;
        text-align: center;
        line-height:1.5em;
    }
    .promo-main-msg-l2 {font-weight:normal; font-size:1.5em; letter-spacing: 1px; vertical-align: middle; line-height:1.3em;}

    .rwd-break {display:none;}

    @media screen and (max-width:960px) {
        .promo-bar-wrap {padding:0 100px;}
        #clockdiv span.vals {width: 17px;}
        .promo-main-msg-l2 {margin-right:0;}
    }

    @media screen and (max-width:768px) {
        .flash-tag {display: none;}
        .promo-bar-wrap {background-size: initial; background-position: right; padding:.4em;}
        .promo-bar-wrap {text-align:center;}
        .rwd-break {display:inline;}
        /*.promo-main-msg-12 {line-height: 25px;}*/
    }

    @media screen and (max-width:643px) {
        .flash-tag {padding-left: 5px; padding-right: 5px;}
    }

    @media screen and (max-width:480px) {
        .promo-link {top:0; right:0; background-color:#D76229; padding:5px 5px;}
        .flash-tag {padding-left: 15px; padding-right: 15px;}
        .promo-main-msg-l2 {font-size:1.0em;}
    }

    @media screen and (max-width:351px) {
        .promo-main-msg-l2 {font-size: 0.8em;}
    }



</style>

<div class="promo-bar-container">
    <a href="{{store direct_url="cookcool-sport-chef-coat.html?ref=home_a-17/11/cookcoolsportscoat_total"}}">
        <div class="promo-bar-wrap clearfix">
            <span class="promo-main-msg-l2">20% OFF COOKCOOL&reg; SPORT CHEF COAT<img src="{{media url="wysiwyg/email-collateral/HC-EML-1707-508-flash/flashsaletag2x.png"}}" alt="flash-tag" class="flash-tag" /><br class="rwd-break">Ends in <span id="flash_countdown"></span></span>
        </div>
    </a>
</div>

<script>
// Set the date we're counting down to
var countDownDate = new Date("November 15, 2017 12:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    
    // Find the distance between now an the count down date
    var distance = countDownDate - now;
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="flash_countdown"
    document.getElementById("flash_countdown").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("flash_countdown").innerHTML = "EXPIRED";
    }
}, 1000);
</script>