<?php
/**
 * @author Ripen eCommerce
 * @copyright Copyright (c) 2016 Ripen eCommerce
 * @package Ripen_Dynamicoffers
 */
?>
<div class="dynamicoffer-container" id="dynamicoffer-container" style="display:none">
    <div class="dynamicoffer-content clearfix" id="dynamicoffer-content">
        <?php echo $this->getDynamicOffer();?>
    </div>
</div>

<script>

    // Open a lightbox with an offer content, if an offer code provided via GET is valid
    var offerIsValid = <?php echo json_encode($this->checkOfferIsValid($this->getRequest()->getParam('offer'))); ?>;
    if (offerIsValid) {
        dynamicOffer = new jQuery.DynamicOffer();
        dynamicOffer.checkOffer();
    }

    // Validates form, triggers form submission and writes the result back into a lightbox.
    (function ($) {
        if ($('#dynamic_offer_form').length) {

            var dataFormDynamicOffer = new VarienForm('dynamic_offer_form', true);

            new Event.observe('dynamic_offer_form', 'submit', function (e) {
                e.stop();
                $("#dynamic_offer_submit").attr('disabled', 'disabled');

                var myForm = new VarienForm('dynamic_offer_form', true);

                if (myForm.validator.validate()) {
                    new Ajax.Updater(
                        {success: 'formSuccessMessage'},
                        '<?php echo $this->getFormActionUrl(); ?>',
                        {
                            method: 'post',
                            asynchronous: true,
                            evalScripts: false,
                            onComplete: function (request) {

                                var response = request.responseJSON;

                                if (response.error == 0) {
                                    $('#dynamicoffer-content').html(response.content);
                                    dynamicOffer.setCookie(dynamicOffer.cookieName, 1, dynamicOffer.cookieDurationDays);

                                    // don't show catalog popup if offer popup was fired
                                    dynamicOffer.setCookie('catalogPopup', 1, 30);

                                    /*-- GOOGLE ANALYTICS --------------------------------*/
                                    _gaq.push(['_trackEvent', 'Lead Collection', 'Dynamic offer', '10% off']);
                                    /*-- GOOGLE ANALYTICS --------------------------------*/

                                    if(typeof fbq !== "undefined") {
                                        fbq('track', 'Lead');
                                    }

                                } else {
                                    $('#dynamic_offer_submit').prop('disabled', false);
                                    $('#loadSpinner').fadeOut(function () {
                                        $('#responseMessage').html(response.message);
                                    });
                                }
                            },
                            onLoading: function (request, response) {
                                $('#loadSpinner').fadeIn();
                            },
                            parameters: $('#dynamic_offer_form').serialize(true)
                        }
                    );
                } else {
                    if ($('#dynamic_offer_form').length) {
                        $('#dynamic_offer_submit').attr('disabled', '');
                    }
                }
            });
        }
    })(jQuery);

</script>
