<?php
/**
 * @author Ripen eCommerce
 * @copyright Copyright (c) 2016 Ripen eCommerce
 * @package Ripen_Dynamicoffers
 */
?>

<form id="dynamic_offer_form" method="post" action="javascript:grecaptcha.reset(dynamic-offer-recaptcha);">

    <div class="eml-check-line clearfix" style="display:none;">
        <div class="eml-check-wrap">
            <input id="eml-check" name="subscribe" class="big-check" type="checkbox" checked="checked" value="1">
            <div id="big-check-img"></div>
        </div>
        <label for="eml-check" class="eml-check-lbl dark">Want to save even more? Sign up for weekly promotions and sneak peeks.</label>
    </div>

    <div id="dynamicoffers-captcha"></div>

    <?php

        $data = array(
            'promo_id'=> $this->getData('promo_id'),
            'transactional_email_id'=> $this->getData('transactional_email_id'),
            'thankyou_block_code'=> $this->getData('thankyou_block_code'),
            'thankyou_block_code_alt'=> $this->getData('thankyou_block_code_alt')
        );
        $encryptedData = Mage::helper('core')->encrypt(json_encode($data));
    ?>
    <input name="post_data"  type="hidden" value="<?php echo $encryptedData;?>">


    <div id="responseMessage" class="response-message"></div>
    <div id="loadSpinner" class="load-spinner"></div>

    <!--input type="image" name="Submit" width="100px" src="<?php //echo Mage::getBaseUrl('media'); ?>wysiwyg/catalog-form-submit.png" value="Submit" id="dynamic_offer_submit"/-->
    <div class="inputs centering-wrap">
        <input name="email" type="text" value="" placeholder="email" maxlength="255" validate-email required-entry">
        <button id="dynamic_offer_submit" class="action validation-passed" type="submit">GET CODE</button>
    </div>
</form>
