<?php
/*
* Copyright (c) 2014 www.magebuzz.com
*/
?>

<?php $_product = $this->getProduct(); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>
<div class="add-to-links-wrap">
<ul class="add-to-links">
  <?php if ($this->helper('wishlist')->isAllow()) : ?>
    <li><a href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, '<?php echo $_wishlistSubmitUrl ?>'); return false;" class="link-wishlist">Add to Wishlist<?php //echo $this->__('Add to Wishlist') ?></a></li>
  <?php endif; ?>
  <?php
  $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
  ?>
  <?php if ($_compareUrl) : ?>
    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
  <?php endif; ?>
</ul>
</div>
<script type="text/javascript">
  function addToShoppingList(url) {
    var form = $('product_addtocart_form');
    if (form) {
      var validator = new Validation(form);
      if (validator.validate()) {
        var data = form.serialize();
        jQ.colorbox({
          href: "<?php echo Mage::getUrl('shoppinglist/index/detailform/'); ?>" + "?" + data,
          scrolling: false
        });
      }
      //			
    }
    else
      document.location.href = url;
    return false;
  }
</script>