/*Block Blog common*/
.post-item-time{display:inline-block; width:60px; float:left; margin-top:4px;}
.post-item-content{margin-left:70px;}
.em_main .post-item-content {min-height:88px;}
.em_post-item .post-item-time span{  font-weight:bold;}
.em_post-item .post-item-time span.time-month{text-transform:uppercase; font-weight:bold;}
.em_post-item .post-item-time span.time-day{padding:5px; width:40px; height:40px;text-align:center; display:block;}
.em_block-recent-post .block-content ,.em_block-recent-comments .block-content ,.em_blog-cat .block-content{padding:0}
.em_block-recent-post li.item .blog-title,.em_block-tag-cloud li.item .blog-title ,.em_block-recent-comments li.item .blog-title,.em_blog-cat li.item .blog-title{text-decoration:none;padding:0;font-weight:bold;color:#0a263c;font-weight:bold;font-size:11px}
.em_block-recent-post li.item,.em_block-recent-comments li.item ,.em_blog-cat li.item {}
.em_block-recent-post li.item.last,.em_block-tag-cloud li.item .last,.em_block-recent-comments li.item.last ,.em_blog-cat li.item.last{border:0} 
.time-stamp,span.post-on,span.post-by,span.comment-by{}
.time-stamp,.block span.post-on,.block span.post-by,.block span.comment-by {display:block}
.time-stamp span,span.post-on span,span.post-by span,span.comment-by span{}
.block .post-title,.block .comment-title{}
/*Block:Recent Post*/
.em_block-recent-post.block ,.em_block-recent-comments.block{padding-bottom:0}
.em_block-recent-post .post-title:hover,
.em_block-recent-comments .comment-title:hover{text-decoration:underline;}
.em_block-recent-post.block .block-content li.item,
.em_block-recent-comments .block-content li.item{padding:10px 0; margin:0; font-weight:normal;}
.em_block-recent-post.block .block-content li.item:first-child,
.em_block-recent-comments.block .block-content li.item:first-child{border-top:none;}
.em_block-recent-post.block .block-content > ol,
.em_block-recent-comments.block .block-content > ol{margin-bottom:5px;}
.em_block-recent-post li.item .post-title,
.em_block-recent-comments li.item .comment-title{font-size:105%;}
.em_block-recent-post li.item span.post-by,
.em_block-recent-comments li.item span.post-by{font-size:90%; margin-top:1px;}
.em_block-recent-post li.item span.post-by span,
.em_block-recent-comments li.item span.post-by span{font-weight:bold;}

/*Block:Tag Cloud*/
.block .block-content .actions{text-align:right}
.block .block-content .actions a{float:none; display:inline-block; background:url("../images/btn-block.png") no-repeat right center; padding-right:10px; padding-top:0}
.block-cart-top .block-content .actions a{background:none;}
.em_block-tag-cloud .block-title strong {}
.em_block-tag-cloud li.item {display:inline-block;margin:0!important}
.em_block-tag-cloud li.item a{}

/*Block:Recent Comment*/
.em_block-recent-comments .block-title strong {}
.em_block-recent-comments li.item .recent-content{}
.recent-comment-content{}
.recent-comment-content pre{white-space:normal}
/*Block :Blog*/
.em_blog-cat .block-title strong {background-image:none;background-position:center left; background-repeat:no-repeat; padding-left:0;}
.em_blog-cat li{padding:6px 0px 0}
.em_blog-cat li:first-child{padding-top:13px}
.em_blog-cat li a{}
.em_blog-cat.block{padding-bottom:4px}

/*Post List*/
.em_post-item {clear:both;margin-bottom:39px;}
.em_post-item .page-title {border:none;margin-bottom:7px}
.blog-category-view .page-title.category-title {margin-bottom:38px;}
.blog-category-view .em_post_title {display:none;}
.post-title h2{margin:0}
.post-title small{margin-bottom:7px}
.post-title  h2 a{font-size:160%;}
.em_post-item  .std{overflow:hidden;}
.em_post-item  .std p{}
.em_post-item  .std img{float:left;margin:3px 15px 10px 0;}
.em_post-item  .std img:hover{ -moz-opacity:0.8; -webkit-opacity:0.8; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /*IE8*/ opacity:0.8;}
.em_post-item  .postDetails{ border-top:1px solid #E8E8E8;clear:both;font-size:10px;margin-top:10px;padding-top:5px;}
.em_post-item  .postDetails a{text-decoration:none}
.post-by span{}
.comment-count a{margin-left:3px}
.post-footer{padding:10px; text-align:right; font-size:90%; font-weight:bold;}
.post-footer .post-by{margin:0; padding:0; float:left;}
/*.blog-index-index .toolbar .sorter,.blog-category-view .toolbar .sorter{display:none;}*/
.blog-index-index .toolbar, .blog-category-view .toolbar{display:inline-block; width:100%; padding-bottom:6px;}
.blog-index-index .em_post-item {margin-top:-4px;}

/* Block related */
.block.block-related .mini-posts-list li.item {margin: 12px 0 0; padding: 14px 0 0;}
.block.block-related .mini-posts-list li.item:first-child {margin: 0; padding:0; border-top: none;}


/*post detail*/
.post-content .post-title h2{font-size:160%;margin-bottom:7px}
.em_post-item .separator{display:none;}

.em_post-action-top{position:relative; z-index:1;}
.em_post-action-top .prev-button{position:absolute;top:-50px;right:35px}
.em_post-action-top .next-button{position:absolute;top:-50px;right:12px}
.blog-index-view small.date{display:block;color:#969696;font-size:10px;font-style:italic}
.blog-index-view .page-title {border:none;margin-bottom:7px}
.em_post-item .post-content {height:100%;}
.em_post-item .post-content img{float:left;margin-right:15px;margin-bottom:5px}
.em_post-item .post-content p{}
.em_post-action{overflow:hidden;height:100%;padding-top:10px;clear:both;}
.em_post-action .tags{float:left;min-width:200px}
.em_post-action .tags span,
.em_post-action .tags li a{float:left;margin-right:3px;text-decoration:none;color:#969696}
.em_post-action .tags span{color:#5a5a5a;font-weight:bold}
.em_post-action .post-share{float:right}
.em_post-action .post-share img{height:16px;width:16px;margin-right:5px;float:left}
.em_post-action .post-share span{float:left;margin-right:5px;font-weight:bold;}
.form-comment-container h3,#comments-header h3.form-title,.temp  h3.form-title{}
.form-comment-container span#new{display:inline-block; width:100%}
.form-comment-container #new{margin-bottom:20px;}
.temp  h3.form-title{position:absolute;top:15px;left:0;width:100%}
.form-comment-container{ height:100%;
    overflow:hidden;
    padding-top:20px;}
.form-comment{padding:0 0 30px;position:relative}
.comments .field{}
.comments div.input-box{width:312px}
.comments div.input-box .input-text{width:305px;}
/*#recaptcha_widget_div{position:absolute;top:99px;left:320px;*top:101px}
.form-comment-container #recaptcha_widget_div{top:55px;*top:60px}
.comments .required-1  {color:#e56f03;font-size:9px;left:572px;position:absolute;top:238px;font-style:italic}
.comments .form-comment-container  .required-1  {top:195px}*/
.form-comment-container .hide{display:none}
.comments .required{font-size:100%;}
.comments label{margin-bottom:5px; display:inline-block;}
.comments .required em{color:#e56f03}
.form-comment button{position:absolute;top:0; left:0}
.comments .temp{padding-top:45px;}
.form-comment-container .temp{padding-top:0!important;}
.comment-item-header{position:relative;font-size:11px;padding:5px 0}
.comment-button{margin-bottom:10px;display:inline-block; width:100%}
.comment-body{padding:5px 0}
.comment-body pre{white-space:normal;font-size:11px;color:#5a5a5a}
.comment-item-header .time-stamp{display:inline;margin-left:10px;padding-left:10px}
#allcomments  .comment-item{margin-bottom:5px;padding-top:10px;}
#allcomments .comment-item:first-child{border-top:none;}
.article-comments{margin-top:22px}
.col3-layout .form-comment-container #recaptcha_widget_div{left:0;position:relative;top:5px;}
.col3-layout .comments .form-comment-container .required-1{left:0;position:relative;top:5px;}
.rss-em-blog {float:right;}
#recaptcha_widget_div{margin-top:20px}
#loading{width:auto; height:auto;}



/* Our Blog */
.bottom_slider_link .our_blog {}
.bottom_slider_link .our_blog .em_block-recent-post .time-stamp {float:right;}
.bottom_slider_link .our_blog .em_block-recent-post .block-content {padding-top:12px;}
.bottom_slider_link .our_blog .em_block-recent-post li.item{background:url(../images/i_blog.png) 2px 4px no-repeat transparent; border:none !important; padding:0 0 8px 20px;}
.bottom_slider_link .our_blog .em_block-recent-post .recent-post-content > p{margin-bottom:0;}

/* Blog tag view */
.blog-tag-view .toolbar {border:none; padding:0;}