<p class="title">Product Categories</p>
<?php	function get_category($_categories,$arr=null,$i=1,$t=0){
		    global $t;
			foreach($_categories as $_category)
			{
					$t++;
					$_helper = Mage::helper('catalog/category');
					$_category1 = Mage::getModel('catalog/category')->load($_category->getId()); 
					$_subcategories = $_category1->getChildrenCategories();
					$path = $_category->getPath();
					/*
					$ids = explode('/', $path);
					if (isset($ids[2])){
						$topParent = Mage::getModel('catalog/category')->setStoreId(Mage::app()->getStore()->getId())->load($ids[2]);
                    			} else {
						$topParent = null;//it means you are in one catalog root.
					}
					*/
					$topParent = null;//it means you are in one catalog root.

                    			if($topParent) {
                        			$nameparen=$topParent->getName();
                    			}

					$name_id=$_category->getName();
					if($name_id ==$nameparen){$paren=1;}else{$paren=0;}
					$arr[]=array('cap'=>$i,'id'=>$_category->getId(),'data'=>$_category->getName(),'sub'=>(count($_subcategories) >0)?1:0,'link'=> $_helper->getCategoryUrl($_category),'test'=>$t,'parent'=>($paren)?null:$nameparen);
					if (count($_subcategories) >0)
					{
						$j=$i+1;
						$arr=get_category($_subcategories,$arr,$j,$t);
					}
			}
			return $arr;
		}

		$_helper = Mage::helper('catalog/category');
		$_categories = $_helper->getStoreCategories();
		$menu=get_category($_categories);
		$i=0;
		$j=0;
		echo '<div class="row-sitemap-1">';
		echo '<ul class="col-1">';
		foreach($menu as $test=>$test123)
		{
			if($test123['cap']==1&&$test123['sub']==0&&$test123['test']<8)
			{	
				echo '<li class="test1-sub0 '.$test123['parent'].'"><a href="'.$test123['link'].'">'.$test123['data'].'</a></li>';
			}
		}
		echo '</ul>';
		echo '<ul class="col-2">';
		foreach($menu as $test=>$test123)
		{
			if($test123['test']<13&&$test123['test']>7)
			{	
				echo '<li class="test1-sub0 '.$test123['parent'].'"><a href="'.$test123['link'].'">'.$test123['data'].'</a></li>';
			}
		}
		echo '</ul>';
		echo '<ul class="col-3">';
		foreach($menu as $test=>$test123)
		{
			if($test123['test']<=21&&$test123['test']>12)
			{	
				echo '<li class="test1-sub0 '.$test123['parent'].'"><a href="'.$test123['link'].'">'.$test123['data'].'</a></li>';
			}
		}
		echo '</ul>';
		echo '<ul class="col-4">';
		foreach($menu as $test=>$test123)
		{
			if($test123['test']>21)
			{	
				echo '<li class="test1-sub0 '.$test123['parent'].'"><a href="'.$test123['link'].'">'.$test123['data'].'</a></li>';
			}
		}
		echo '<li><a href="'.$this->getUrl().'catalogsearch/result/?q=chef">'.Search.'</a></li>';
		echo '</ul>';
		echo '</div>';
?>
