<?php
$_option = $this->getOption();
$_fileInfo = $this->getFileInfo();
$_fileExists = $_fileInfo->hasData() ? true : false;
$_fileName = 'options_' . $_option->getId() . '_file';

$_id = $_option->getId();
$_fieldNameAction = $_fileName . '_action';
$_fieldValueAction = $_fileExists ? 'save_old' : 'save_new';
$_fileNamed = $_fileName . '_name';
$_rand = rand();

$_selectedArtwork = $this->getRequest()->getParam('id');

//$_selectedArtwork = $this->getArtWorkselected();

$item_art = Mage::getModel('sales/quote_item')->getCollection()->addFieldToSelect('art_workselected')->addFieldToFilter("item_id", $_selectedArtwork)->getData();

//Mage::log($item_art->getData(), null, 'developer.log');

if (isset($item_art[0])) {
    $_selectedArtworkValue = json_encode(unserialize($item_art[0]['art_workselected']));
    Mage::log($_selectedArtworkValue, null, 'developer.log');
} else {
    Mage::log("Item art not set for " . $_selectedArtwork);
}



$helper = Mage::helper('customoptions');
$disabled = '';
if ($helper->isDependentEnabled() && $_option->getIsDependent()) {
    $disabled = 'disabled="disabled"';
}
?>

<script type="text/javascript">
    //<![CDATA[
    opFile<?php echo $_rand; ?> = {
		
        initializeFile: function(inputBox) {
		
			
            this.inputFile = inputBox.select('input[name="<?php echo $_fileName; ?>"]')[0];
            this.inputFileAction = inputBox.select('input[name="<?php echo $_fieldNameAction; ?>"]')[0];
            this.fileNameBox = inputBox.up('dd').select('.<?php echo $_fileNamed ?>')[0];
        },
        toggleFileChange: function(inputBox) {
            this.initializeFile(inputBox);
            inputBox.toggle();
            this.fileChangeFlag = this.fileChangeFlag ? false : true;
            if (!this.fileDeleteFlag) {
                if (this.fileChangeFlag) {
                    this.inputFileAction.value = 'save_new';
                    this.inputFile.disabled = false;
                } else {
                    this.inputFileAction.value = 'save_old';
                    this.inputFile.disabled = true;
                }
            }
        },
        toggleFileDelete: function(fileDeleteFlag, inputBox) {
            this.initializeFile(inputBox);
            this.fileDeleteFlag = fileDeleteFlag.checked ? true : false;
            if (this.fileDeleteFlag) {
                this.inputFileAction.value = '';
                this.inputFile.disabled = true;
                this.fileNameBox.setStyle({'text-decoration': 'line-through'});
            } else {
                this.inputFileAction.value = this.fileChangeFlag ? 'save_new' : 'save_old';
                this.inputFile.disabled = (this.fileChangeFlag == 'save_old');
                this.fileNameBox.setStyle({'text-decoration': 'none'});
            }
        }
    };

    //Toggle for the div of upload button.
    function f1() {
        $j(".input-box.custom-box").toggle();
    }

  

    //]]>
</script>



<style type="text/css">
    span#errorMsg{color:red; font-size:10px;}
    .input-box.custom-box {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 0px solid #CCCCCC;
        float: left;
        height: auto;
        margin-top: 0px;
        padding: 0 0px;
        width: 94%;
    }
    .custom-box .no-margin {
        display: none;
    }
    .save-as {
        border-top: 0px solid #DDDDDD;
        float: left;
        margin-top: 19px;
        width: 38%;
        font-size: 12px;
    }
    .save-as > p {
        float: left;
        margin-top: 3px;
    }
    .upload-the-image > div {
        float: left;
        width: 100%;
        margin-top: 5px;
        clear: both;
    }
    img.swatch.small-image-preview.v-middle{
        width: 60px;
    }   

</style>
<div <?php if ($helper->hideDependentOption() && $_option->getIsDependent() || $_option->getViewMode() == 2) { ?>style="display: none;"<?php } ?> class="option<?php if ($helper->isSpecifyingCssClassEnabled() && $_option->getDivClass()) echo ' ' . $_option->getDivClass() ?>">
    <dl>
        <dt><label><?php echo $this->htmlEscape($_option->getTitle()) ?><?php if ($_option->getIsRequire(true)): ?><span class="required">&nbsp;*</span><?php endif; ?></label>
        <?php echo $helper->getFormatedOptionPrice($this->getProduct(), $_option); ?>
        <?php if ($_option->getDescription()): ?><p class="note"><?php echo $_option->getDescription() ?></p><?php endif; ?>
        </dt>
        <dd<?php if ($_option->decoratedIsLast) { ?> class="last"<?php } ?>>
            <?php if ($_fileExists) { ?>
            <?php
               
				
                $imgUrl= Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).$_fileInfo['quote_path']; ?>
                
				
                <span class="<?php echo $_fileNamed ?> editfile"><img src="<?php echo $imgUrl ?>" width="60" height="60" >&nbsp;&nbsp;<?php echo $_fileInfo->getTitle(); ?></span>
                <a href="javascript:void(0)" class="label" onclick="opFile<?php echo $_rand; ?>.toggleFileChange($(this).next('.input-box'))">
                    <?php echo Mage::helper('catalog')->__('Change') ?>
                </a>&nbsp;
                <?php if (!$_option->getIsRequire()): ?>
                    <input id="chk_<?php echo $_rand; ?>" type="checkbox" checked="checked" onclick="opFile<?php echo $_rand; ?>.toggleFileDelete($(this), $(this).next('.input-box'))" />
                   
                    <!--span class="label"><?php //echo Mage::helper('catalog')->__('Delete') ?></span-->
                <?php endif; ?>
            <?php } ?>



            <div class="base_url"></div>

            <!--Button for upload your art-->
            <!--div id="upload-box"><input id="upload-button" type="button" value="Upload Your Art" /></div-->
<!--             <div id="upload-box"><input id="upload-button" type="button" value="Upload Your Art" onclick="f1();" /></div>-->

            <div class="input-box custom-box" <?php //echo $_fileExists ? 'style="display:none"' : '' ?>>
                <script type="text/javascript">
    var $j = jQuery.noConflict();
	
    $j(document).ready(function() {

		 var chkId = 'chk_<?php echo $_rand; ?>';
		 var browse_optionId = "<?php echo $_id;?>";
		 		 
		if($j("#"+chkId).prop('checked'))
		{
		  $j("#"+chkId).trigger('click');
			  opConfig.reloadPrice();
			  //optionsPrice.reload();
		}
				
		var datta = '<?php echo $_fileExists; ?>';
		
		if(datta){
		   $j(".editfile").closest(".option").find("input[type='radio']").attr('checked', true).addClass("selected-radio");
		}
        
		var selectedart = '<?php echo $_selectedArtworkValue; ?>';
		
		var obj = $j.parseJSON(selectedart);
		
		$j.each( obj, function( key, value ) {
			
			
			chooseArtwork(key, value, 1);
			//$j(".editfile").closest(".option").find("input[type='radio']").attr('checked', true).addClass("selected-radio");
	       
		});
               

        $j("li.uploaded-image-x").appendTo(".choose-art > ul > ul");



        function readURL(input) {
           

		$j("#<?php echo $_id;?>").attr("value","0");
		var template = $j(input).attr('id').split('_'); //alert(template);
		var templateId = template[template.length-1];
            // var imginpt = $j("#imagenameinput_"+templateId).attr('id');
              //var upldimg = $j("#uploaded-img_").attr('id');
              //alert(templateId); //alert( $j("#uploaded-img_"+templateId));
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                     $j("#uploaded-img_"+templateId).attr("src", e.target.result);
                    var uploadedfilename = $j(input).val().split('\\').pop();
                    //alert(uploadedfilename);
                    // $j("#imagenameinput").attr("value",uploadedfilename)
                   // $j("#imagenameinput").attr("value", uploadedfilename);
                       $j("#imagenameinput_"+templateId).attr("value", uploadedfilename)
                    
                }
                reader.readAsDataURL(input.files[0]);
                $j("#uploaded-img-container").show();
                 $j("#uploaded-img_"+templateId).show();

            }
        }
        $j(".file-uploader-system").change(function() {
			
            readURL(this);
            //opConfig.reloadPrice();
                        
            radio_id = $j(this).closest(".option").find("input[type='radio']").attr('id');
			
			template_id_arr = radio_id.split("_");
			hleft = template_id_arr[1];
			
			var attr_name = $j(this).attr('name');
			attr_name_arr = attr_name.split("_");
			upload_id = attr_name_arr[1];
			
			$j("#art_count_"+upload_id).attr("value","1");
			
			$j(".option-container_right"+hleft).find("img").attr("class","small-image-preview v-middle swatch");
			$j('#contenedor_'+hleft+' select option').prop('selected', false);
			
			$j('#wrapper_text_'+hleft+' input[type="text"]').val('');
			$j('#wrapper_text_'+hleft).find("select").val(0).trigger('change');
			$j('#wrapper_text_'+hleft+' input:checkbox').removeAttr('checked');
            
            $j('#saving_name_'+hleft).attr('disabled',false);
            
            $j("input[type='radio']").removeClass("selected-radio");
			$j(this).closest(".option").find("input[type='radio']").attr('checked', true).addClass("selected-radio");
            
            opConfig.reloadPrice();
            //optionsPrice.reload();
        });

    });
    	
	function chooseArtwork(artoptionId, imgId, customValue)
    {
			var tmnmm = $j("#"+imgId).attr('temp-nm');
			var sav_name = $j("#"+imgId).attr('title');
			var img_id_nm = $j("#"+imgId).attr('imgidnm');
                                                                     
			if ($j("#"+imgId).hasClass("selected-image") && !customValue) {
				
					$j("#"+imgId).removeClass("selected-image");
					$j("#"+artoptionId).attr("value","0");
					$j("#artwork-images-"+artoptionId).attr("value","");
					$j("#artwork-template-"+artoptionId).attr("value","");
					$j("#imgidnm-"+artoptionId).attr("value","");
					$j("#img_id_name-"+artoptionId).attr("value","");
					$j("#"+imgId).closest(".option").find("input[type='radio']").removeAttr('checked');					
					$j("#"+imgId).closest(".option").find("input[type='radio']").removeClass("selected-radio");
				
			} else {
				
					if(imgId)
					{
						
						image_arr = imgId.split('_');	
						optionId = image_arr[image_arr.length-2];
						var skinsUrl = $j('#skinId').val();
						radio_id = $j("#"+imgId).closest(".option").find("input[type='radio']").attr('id');
						template_id = radio_id.split("_");
						
						jQuery(".option-container_right"+template_id[1]).find("img").attr("class","small-image-preview v-middle swatch");
						$j('#contenedor_'+template_id[1]+' select option').prop('selected', false);

						$j('#wrapper_text_'+template_id[1]+' input[type="text"]').val('');
						
						$j('#wrapper_text_'+template_id[1]+' input:checkbox').removeAttr('checked');
						$j('#contenedor_'+template_id[1]+' #uploaded-img_'+template_id[1]).attr('src', skinsUrl);
						$j('#contenedor_'+template_id[1]+' input:file').val("");
						$j('#contenedor_'+template_id[1]+' input:text').val("");
						$j('#saving_name_'+template_id[1]).attr('disabled',true);
						
						//alert(jQuery(".option-container_right"+template_id).find("img").length);
						
						$j("#bxslider-"+optionId+" img").removeClass("selected-image");
						
						$j('#wrapper_text_'+template_id[1]).find("select").val(0).trigger('change');
						
						//$j("#"+imgId).removeClass("selected-image");
						$j("#"+imgId).addClass("selected-image");
						$j("#"+artoptionId).attr("value","1");
						$j("#artwork-images-"+artoptionId).attr("value",imgId);
						$j("#artwork-template-"+artoptionId).attr("value",tmnmm);
                        $j("#savings_name-"+artoptionId).attr("value",sav_name);
                        $j("#img_id_name-"+artoptionId).attr("value",img_id_nm);
                        $j("#"+imgId).closest(".option").find("input[type='radio']").attr('checked', true).addClass("selected-radio");
					}	
			} 
           
			opConfig.reloadPrice();
			//optionsPrice.reload();
			
	}
                </script>


                <!--Preview thumbnail-->
                <div class="upload-the-image">

                    <div id="uploaded-img-container">

                        <div style="float:left"><img src="<?php echo $this->getSkinUrl('images/prev.png') ?>" class="uploaded-img" width="50" style="display:block" /></span></div>

                                             
                        <div style="float:left; padding:13px;"><input type="file" id="auction-images-upload-input" <?php echo $disabled ?>  name="<?php echo $_fileName; ?>" class="file-uploader-system product-custom-option<?php echo $_option->getIsRequire(true) ?($_option->getIsDependent()?' required-dependent':' required-entry') : '' ?>" /></div>
                        <input type="hidden" class="imagenameinput" />
                        <input type="hidden" name="artwork-gallery[<?php echo $_id;?>]" class="choosefile-input" value="0" id="<?php echo $_id;?>" />
                        <input type="hidden" name="artwork-gallery-images[<?php echo $_id;?>]" value="" id="artwork-images-<?php echo $_id;?>" />
                        <input type="hidden" name="artwork-template[<?php echo $_id;?>]" value="" id="artwork-template-<?php echo $_id;?>" />
                        <input type="hidden" name="savings_name[<?php echo $_id;?>]" value="" id="savings_name-<?php echo $_id;?>" />
                        <input type="hidden" name="img_id_name[<?php echo $_id;?>]" value="" id="img_id_name-<?php echo $_id;?>" />
                        <input type="hidden" name="art_count[<?php echo $_id;?>]" value="" id="art_count_<?php echo $_id;?>" />
                        
                      </div>
                    <div style="float:right; width:15px; height:15px; margin-right: 195px; margin-top: -34px; cursor: help;"><img style="width:15px !important;  height:15px !important;"  class="helptool" title="
                                                                            
                  <span><b>To Upload your custom artwork:</b><br>Click Browse and select a png or JPEG file with a maximum size of 59*60.<br> Input Save As file name.<br> Click Save<br> After your artwork Appears you may select it to add  your artwork.<br>You may continue to Browse and Save additional artwork.</span>                                                                    
                                                                            " src="<?php echo $this->getSkinUrl('images/help.jpg');?>" width="15" height="15"></div>  
                    <input type="hidden" name="<?php echo $_fieldNameAction; ?>" value="<?php echo $_fieldValueAction; ?>" />
                    <?php if ($_option->getFileExtension()): ?>
                        <p class="no-margin"><?php echo Mage::helper('catalog')->__('Allowed file extensions to upload') ?>: <strong><?php echo $_option->getFileExtension() ?></strong></p>
                    <?php endif; ?>
                    <?php if ($_option->getImageSizeX() > 0): ?>
                        <p class="no-margin"><?php echo Mage::helper('catalog')->__('Maximum image width') ?>: <strong><?php echo $_option->getImageSizeX() ?> <?php echo Mage::helper('catalog')->__('px.') ?></strong></p>
                    <?php endif; ?>
                    <?php if ($_option->getImageSizeY() > 0): ?>
                        <p class="no-margin"><?php echo Mage::helper('catalog')->__('Maximum image height') ?>: <strong><?php echo $_option->getImageSizeY() ?> <?php echo Mage::helper('catalog')->__('px.') ?></strong></p>
                    <?php endif; ?>
                </div>
                <div class="save-as">
                    <span>Save design name as: </span>
                    <span><input style="height: 25px; width:170px;" disabled="disabled" type="text" name="saving_name[<?php echo $_id;?>]" id="saving_name-<?php echo $_id;?>"  class="saving_name" value=""/></span>
                    <span style="display:none" id="errorMsg">Please enter Artwork Name</span>
                </div>
                
				<input type="hidden" name="option_ids[<?php echo $_id;?>]" class="option_ids" value="<?php echo $_id;?>"/>
				
                <div style="width: 13%;float: left; margin-top: 39px;"><button class="saveArt" data-temp="" style="width: 60px; height:25px">Save</button></div>
                <!--Upload your Art box -->
                <div class="choose-art" style="float:left; width:80%;" >
                    <?php // echo $this->getLayout()->createBlock('core/template')->setTemplate('customoptions/artwork/imageslider.phtml')->toHtml(); ?>
                    <div style="width: 100%; float: left; padding: 10px 0;">..Or choose an existing design</div>


                    <ul class="bxslider" id="bxslider-<?php echo $_id; ?>">
                        <?php
                        $customerData = Mage::getSingleton('customer/session')->getCustomer();
                        $customerId = $customerData->getId();
                        $customOptionModel = Mage::getModel('customoptions/artwork')->getCollection()->setOrder('img_path', 'DESC');
                        $customOptionModel = $customOptionModel->addFieldToFilter('customer_id', $customerId);
                        $mediaUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'artwork/';

                            $i=0;	
                            foreach ($customOptionModel as $data) {
                                    $i++;
                                    $srcF = $mediaUrl . $data->getImgPath();
                            ?>
                            <li class="uploaded-image-x">
                                <img class="swatch image-to-select" height="60" height="60" img-nm="<?php echo $data->getImgPath() ?>" tmp-nm="" imgidnm="<?php echo $data->getSaveName()."?".$data->getId() ?>"  src="<?php echo $srcF ?>" title="<?php echo $data->getSaveName() ?>" id="artwork_option_<?php echo $i.'_'.$_id;?>" onclick="chooseArtwork('<?php echo $_id;?>',this.id,0)" />
                            </li>
                            
                        <?php } ?>
                    </ul>
                </div>

            </div>
        </dd>
    </dl>
</div>
