<?php
if (!is_null($this->getData('embOptions'))){
    $embroidery = $this->getData('embOptions');
    //$embroidery = json_decode($embroidery, true);
} else {
    $_this = $this->getData('orderItem');
    $orderItem = $_this->getItem();
    $embroidery = $orderItem->getEmbroideryData();
}
?>

<table class="embroidery-review-wrapper" width="100%" cellpadding="0" cellspacing="0" border="0" style="border:0;"  >
    <?php
    if (!empty($embroidery) && is_array($embroidery)) {
        foreach($embroidery as $location) {
            ?>
            <tr class="location">
                <td colspan="3" style="text-transform:uppercase; font-size:12px; padding:20px 0 5px;"><?php echo $location["name"];?></td>
            </tr>

            <?php foreach($location["types"] as $type):?>
            <tr class="embroidery-row">

            <?php foreach($type["options"] as $option):?>

                <?php if ($type["name"] !== "text"): ?>
                    <td class="type" align="left" style="padding:10px 10px 10px 0; color:#6F7073; font-size:12px;  border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">
                        <?php echo (substr($type["name"], -1) == "s") ? ucfirst(substr($type["name"], 0, -1)) : ucfirst($type["name"]); ?>: <span style="font-weight:bold;"><?php echo $option["name"]; ?></span>
                        <?php
                            if($type["name"] == "artwork"){
                                echo " ({$option["artworkColorValue"]})";
                            }
                        ?>
                    </td>
                <?php endif;?>

                <?php if($option["image"]):?>
                        <?php if($type["name"] == "logo"):?>
                            <td class="embroidery-review-image" align="left" style="border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">
                                <a href="<?php echo $option["image"]; ?>" target="_blank">
                                    <img height="80" style="height:80px; padding:10px 10px 10px 0; border:0;" src="<?php echo $option["image"]; ?>">
                                </a>
                            </td>
                            <td class="embroidery-text-style" align="right" style="border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">
                                <?php if(Mage::app()->getStore()->isAdmin()):?>
                                    <a href="<?php echo $option["imageOriginal"]; ?>" download>Download</a>
                                <?php endif; ?>
                            </td>
                        <?php else: ?>
                        <td colspan="2" class="embroidery-review-image" align="left" style="border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">
                            <img height="16" style="height:16px; padding:10px 10px 10px 0; border:0;" src="<?php echo $option["image"]; ?>">
                        </td>
                        <?php endif; ?>
                <?php endif; ?>

                <?php if($type["name"] == "text"):?>
                    </tr>
                    <tr class="textline-wrapper" style="border-bottom:1px solid #e1e1e1;">
                        <td class="embroidery-text-line" align="left" style="color:#6F7073; font-size:12px; padding:10px 10px 10px 0; border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">Line <?php echo $option["textLineNumber"]; ?>: <span style="font-weight:bold;"><?php echo $option["textLine"]; ?></span></td>
                        <td class="embroidery-text-color" align="left" style="color:#6F7073; font-size:12px; padding:10px 10px 10px 0; border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">Color: <span style="font-weight:bold;"><?php echo $option["textColorValue"]; ?></span></td>
                        <td class="embroidery-text-style" align="right" style="color:#6F7073; font-size:12px; padding:10px 0; border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">Style: <span style="font-weight:bold;"><?php echo $option["textStyleValue"]; ?></span></td>
                    </tr>
                <?php endif; ?>

            <?php endforeach; ?>

            </tr>
            <?php endforeach; ?>
            <?php
        }
    }
    ?>
</table>
