<?php

$_this = $this->getData('orderItem');
$orderItem = $this->getData('isShippingEmail') ? $_this->getItem()->getOrderItem() : $_this->getItem();
$embroidery = $orderItem->getEmbroideryData();

$options = $orderItem->getProductOptions();
$superAttributes = $options["info_buyRequest"]["super_attribute"];
//$embroidery = $options["info_buyRequest"]["product-embroidery-options"];

foreach((array) $superAttributes as $superAttribute => $superValue) {
    $attr = Mage::getModel('catalog/resource_eav_attribute')->load($superAttribute);
    echo "<div style='color:#6F7073; margin-bottom:3px; font-size:12px;'>".ucwords($attr->getFrontend()->getLabel()).": <span style='font-weight:bold;'>". $attr->getSource()->getOptionText($superValue)."</span></div>";
}

if(count($embroidery)){
    echo "<div style='color:#6F7073; margin-bottom:3px; font-size:12px;'>Embroidery: <span style='color: #C90505;'>".$this->helper('embroidery')->getEmbroideryDisclaimer(true, $orderItem->getFirstLogo(), true)."</span></div>";
}

?>

<table class="embroidery-review-wrapper" width="100%" cellpadding="0" cellspacing="0" border="0" style="border:0; font-family:'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;">
    <?php
    foreach($embroidery as $location):
        ?>
        <tr class="location">
            <td colspan="3" style="text-transform:uppercase; font-size:12px; padding:20px 0 5px; border-bottom:1px solid #979797; border-width:0 0 1px 0;"><?php echo $location["name"];?></td>
        </tr>

        <?php foreach($location["types"] as $type):?>
            <tr class="embroidery-row">

                <?php foreach($type["options"] as $option):?>

                    <?php if ($type["name"] !== "text"): ?>
                        <td width="40%" class="type" align="left" style="padding:10px 10px 10px 0; color:#6F7073; font-size:12px;  border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">
                            <?php echo (substr($type["name"], -1) == "s") ? ucfirst(substr($type["name"], 0, -1)) : ucfirst($type["name"]); ?>: <span style="font-weight:bold;"><?php echo $option["name"]; ?></span>
                            <?php
                            if($type["name"] == "artwork"){
                                echo " ({$option["artworkColorValue"]})";
                            }
                            ?>
                        </td>
                    <?php endif;?>

                    <?php if($option["image"]):?>
                        <td class="embroidery-review-image" align="left" style="border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;"><img height="16" style="height:16px; padding:10px 10px 10px 0; border:0;" src="<?php echo $option["image"]; ?>"></td>
                        <td width="35%" class="embroidery-review-image" align="right"></td>
                    <?php endif; ?>

                    <?php if($type["name"] == "text"):?>
                    </tr>
                    <tr class="textline-wrapper">
                        <td width="40%" class="embroidery-text-line" align="left" style="color:#6F7073; font-size:12px; padding:10px 10px 10px 0; border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">Line <?php echo $option["textLineNumber"]; ?>: <span style="font-weight:bold;"><?php echo $option["textLine"]; ?></span></td>
                        <td class="embroidery-text-color" align="left" style="color:#6F7073; font-size:12px; padding:10px 10px 10px 0; border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">Color: <span style="font-weight:bold;"><?php echo $option["textColorValue"]; ?></span></td>
                        <td width="35%" class="embroidery-text-style" align="right" style="color:#6F7073; font-size:12px; padding:10px 0; border-bottom:1px solid #e1e1e1; border-width:0 0 1px 0;">Style: <span style="font-weight:bold;"><?php echo $option["textStyleValue"]; ?></span></td>
                    </tr>
                    <?php endif; ?>

                <?php endforeach; ?>
            </tr>
        <?php endforeach; ?>
    <?php endforeach; ?>

</table>
