<input type="hidden" id="qtyInCart" name="qtyInCart" value="0">

<?php
    $coreHelper = $this->helper('core');
    $_helper = $this->helper('catalog/output');
?>
<?php $pageLayout = str_replace(array('page/','.phtml'),'',Mage::app()->getLayout()->getBlock('root')->getTemplate()); ?>
<?php $_product = $this->getProduct(); ?>
<?php $setting = Mage::helper('em0080settings'); ?>
<?php $gcHelper = Mage::helper('happychef_giftcard'); ?>

<script type="text/javascript">

    optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);

    jQuery.ajax({
        url: EM.QuickShop.BASE_URL + "/ajaxcart/cart/getQtyInCart",
        data: {productId: <?php echo $_product->getId();?>},
        type: "POST",
        success: function(res) {
            optionsPrice.qtyInCart = res;

            var prQty = 1;
            if ($('qty') && !isNaN(parseInt($('qty').getValue()))) {
                prQty = parseInt($('qty').getValue());
                if (prQty <= 0) prQty = 1;
            }

            optionsPrice.initialQty = prQty;

            var prPrice = <?php echo floatval($coreHelper->currency($_product->getFinalPrice(), false, false)) ?>;

            optionsPrice.tierPriceQty = [];
            <?php
            $priceArr = $_product->getFormatedTierPrice();
            if (is_array($priceArr)) {
                foreach ($priceArr as $priceRow) {
                ?>
            if (prQty >= <?php echo intval($priceRow['price_qty'])?>)
                prPrice = <?php echo floatval($coreHelper->currency($priceRow['price'], false, false)) ?>;

            // Fix for tier price qty (by Ripen MM)
            optionsPrice.tierPriceQty.push(<?php echo intval($priceRow['price_qty'])?>);
            <?php
                }
            }
            ?>
        }
    });
</script>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
        <div class="product-essential">

                <!-- --- -->
                <!-- ??? -->
                <!-- --- -->
                <div class="no-display">
                    <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
                    <input type="hidden" name="related_product" id="related-products-field" value=""/>
                </div>
                <!-- --- -->
                <!-- ??? -->
                <!-- --- -->


                <!-- ------------------- -->
                <!-- Start Left  Image -->
                <!-- ------------------- -->
                <div id="ProductDetail_ProductImage-Container">

                    <div class="product-img-box-wrap">

                        <?php if ($_product->getTypeId() != 'aw_giftcard') : ?>

                            <!-- ------------------- -->
                            <!-- Start Product Image -->
                            <!-- ------------------- -->

                            <!-- Option 1 -->
                            <?php if ($_product->getTypeId() == 'configurable'): ?>
                                <div class="product-img-box"
                                     style="width:<?php echo $setting->getImageProduct_BaseImageWidth(380) - 28 ?>px;">
                                    <?php echo $this->getChildHtml('media') ?>
                                </div>
                                <div class="title"><?php echo $this->__('Hover to zoom.')?> <?php echo $this->__('Click to enlarge.')?></div>

                             <!-- Option 2 -->
                            <?php else: ?>
                                <div class="product-img-box"
                                     style="width:<?php echo $setting->getImageProduct_BaseImageWidth(380) - 28 ?>px;">
                                    <?php echo $this->getChildHtml('media123') ?>
                                </div>
                            <?php endif; ?>
                            <!-- ----------------- -->
                            <!-- End Product Image -->
                            <!-- ----------------- -->
                        <?php endif; ?>
                    </div>

                    <!--<div class="social_link">
                        <span class='st_facebook' displayText='Facebook'></span>
                        <span class='st_twitter' displayText='Twitter'></span>
                        <span class='st_pinterest' displayText='Pinterest'></span>
                        <span class='st_email' displayText='Email'></span>
                    </div>-->


                </div>

                <!-- ----------------- -->
                <!-- End Product Image -->
                <!-- ----------------- -->


                <div id="ProductDetail_ProductData-Container">

                    <!-- Start Product Content -->
                    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post"
                          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

                        <?php echo $this->getBlockHtml('formkey') ?>

                        <div id="ProductDetail_ProductInfo-Container">

                            <div class="product-shop-wrapper">

                                <!-- --------------------------------------------- -->
                                <!-- Start Product Name, Model, and Rating Summary -->
                                <!-- --------------------------------------------- -->
                                    <div class="product-name">
                                        <h1>
                                            <?php
                                            echo $_helper->productAttribute($_product, $_product->getName(), 'name');
                                            $a = $_product->getData('model');
                                            ?>
                                        </h1>
                                    </div>
                                    <div>#<?php echo $a; ?></div>
                                    <?php echo $this->getReviewsSummaryHtml($_product, false, true) ?>
                                <!-- ------------------------------------------- -->
                                <!-- End Product Name, Model, and Rating Summary -->
                                <!-- ------------------------------------------- -->

                                <!-- ------------------------------------------- -->
                                <!-- Start Product Alerts, SKU, and Tier Pricing -->
                                <!-- ------------------------------------------- -->
                                <div class="product-data">
                                    <?php echo $this->getTierPriceHtml() ?>
                                </div>
                                <!-- ----------------------------------------- -->
                                <!-- End Product Alerts, SKU, and Tier Pricing -->
                                <!-- ----------------------------------------- -->

                                <!-- --- -->
                                <!-- ??? -->
                                <!-- --- -->
                                <?php if (!$this->hasOptions()): ?>

                                    <div class="add-to-box_1">
                                        <?php if ($_product->isSaleable()): ?>
                                            <?php if ($this->helper('wishlist')->isAllow() || $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product)): ?>

                                            <?php endif; ?>
                                        <?php endif; ?>
                                        <div class="add-to-box_3">
                                            <?php //check product is configurable, if not get addtocartsimple.phtml ?>
                                            <?php if ($_product->getTypeId() == 'configurable'): ?>
                                                <?php echo $this->getChildHtml('addtocart') ?>
                                            <?php else: ?>
                                                <?php echo $this->getChildHtml('addtocart.simple') ?>
                                            <?php endif; ?>

                                            <?php if ($_product->getTypeId() != 'aw_giftcard') : ?>
                                                <?php echo $this->getChildHtml('addto') ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>

                                    <?php echo $this->getChildHtml('extra_buttons'); ?>

                                <?php elseif (!$_product->isSaleable()): ?>
                                    <div class="add-to-box_2">
                                        <?php if ($_product->getTypeId() == 'configurable'): ?>
                                            <?php echo $this->getChildHtml('addtocart') ?>
                                        <?php else: ?>
                                            <?php echo $this->getChildHtml('addtocart.simple') ?>
                                        <?php endif; ?>
                                        <?php echo $this->getChildHtml('addto') ?>
                                    </div>
                                <?php endif; ?>

                                <?php echo $this->getChildHtml('other'); ?>

                                <!-- ------------------------------------------------------------------------------------------------------------------ -->
                                <!-- Start - Product Attributes, Size Chart, Customize Link, Quantity, Price, Add To Cart Button, Add To Wishlist link -->
                                <!-- ------------------------------------------------------------------------------------------------------------------ -->
                                <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                                <?php endif; ?>
                                <!-- ---------------------------------------------------------------------------------------------------------------- -->
                                <!-- End - Product Attributes, Size Chart, Customize Link, Quanitity, Price, Add To Cart Button, Add To Wishlist link -->
                                <!-- ---------------------------------------------------------------------------------------------------------------- -->

                                <div class="clearer"></div>


                                <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                                    <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                                <?php endif; ?>

                                <!-- -------------------------- -->
                                <!-- Start Product Descriptions -->
                                <!-- -------------------------- -->
                                <?php if ($_product->getTypeId() != 'aw_giftcard'): ?>
                                    <?php if ($_product->getShortDescription()): ?>
                                        <div class="short-description">
                                            <h2><?php echo $this->__('product details') ?></h2>

                                            <div
                                                class="std"><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?></div>
                                        </div>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <!-- ------------------------ -->
                                <!-- End Product Descriptions -->
                                <!-- ------------------------ -->

                            </div>
                        </div>

                    </form>


                </div>


            <script type="text/javascript">var switchTo5x = true;</script>
            <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">stLight.options({
                    publisher: "1d6e948e-4e48-495e-a7d3-5a4943e47c69",
                    doNotHash: false,
                    doNotCopy: false,
                    hashAddressBar: false,
                    onhover: false
                });</script>
            <script type="text/javascript">
                jQuery(document).ready(function () {
                    var $ = jQuery;
                    $('span#show_ima').click(function () {
                        $(this).parent('.description').children('span#hide_ima').show();
                        $(this).hide();
                        $(this).parent('.description').children('.descript').show();
                    });
                    $('span#hide_ima').click(function () {
                        $(this).parent('.description').children('span#show_ima').show();
                        $(this).hide();
                        $(this).parent('.description').children('.descript').hide();
                    });
                    $('.color-box').click(function () {
                        $('.availability').hide();
                    });

                })
            </script>
            <script type="text/javascript">
                //<![CDATA[
                var productAddToCartForm = new VarienForm('product_addtocart_form');
                productAddToCartForm.submit = function (button, url) {
                    if (this.validator.validate()) {
                        var form = this.form;
                        var oldUrl = form.action;

                        if (url) {
                            form.action = url;
                        }
                        var e = null;
                        try {
                            this.form.submit();
                        } catch (e) {
                        }
                        this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }

                        if (button && button != 'undefined') {
                            button.disabled = true;
                        }
                    }
                }.bind(productAddToCartForm);

                productAddToCartForm.submitLight = function (button, url) {
                    if (this.validator) {
                        var nv = Validation.methods;
                        delete Validation.methods['required-entry'];
                        delete Validation.methods['validate-one-required'];
                        delete Validation.methods['validate-one-required-by-name'];
                        // Remove custom datetime validators
                        for (var methodName in Validation.methods) {
                            if (methodName.match(/^validate-datetime-.*/i)) {
                                delete Validation.methods[methodName];
                            }
                        }

                        if (this.validator.validate()) {
                            if (url) {
                                this.form.action = url;
                            }
                            this.form.submit();
                        }
                        Object.extend(Validation.methods, nv);
                    }
                }.bind(productAddToCartForm);
                //]]>
            </script>

            <?php if ($_product->getTypeId() != 'aw_giftcard') { ?>
                <div class="static-detail">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('em0080-featurette-productdetail')->toHtml(); ?>
                </div>
            <?php } ?>

            <?php if (Mage::helper('em0080settings')->getImageProduct_UseTabs()) { ?>
                <script type="text/javascript">
                    //<![CDATA[
                    jQuery(window).ready(function () {
                        setTimeout(function () {
                            timeout = null;
                            EM.tools.decorateProductCollateralTabs();
                        }, 200);
                    });
                    //]]>
                </script>
            <?php } ?>


        </div>
</div>

<!--script>
    var t = jQuery.noConflict();
    t(document).ready(function(e) {

        try {
            var pages = j("#pages").msDropdown({on:{change:function(data, ui) {
                var val = data.value;
                if(val!="")
                    window.location = val;
            }}}).data("dd");
        } catch(e) {
            //console.log(e);
        }
        //convert
        t("div.tst2 select").msDropdown({roundedBorder:false});

    });
</script-->
