a:focus {
    outline: none;
}
.highlight {
     font-weight: normal;
    border-bottom:1px solid #e0e0e0;
}
.s_separator {
    border-top: 1px solid #e0e0e0;
}
.s_separator:first-child {
    border-top: none;
}
.search-container .span_item {
    padding-left: 0;
    line-height:25px;
    display:block;
    cursor: pointer;
}
.searchautocomplete-search {
    display: block;
    overflow: hidden;
    position: relative;
    left:auto !important;
}
.searchautocomplete-search .s_icon img {
    width:100%;
}
.search-results {
    clear: both;
    display: block;
    text-align: left;
    padding-left: 0;
    margin-top:10px;
    overflow:scroll;
}
.search-header {
    margin: 0;
    text-align: left;
    padding: 14px 0 7px;
    font-weight: normal;
    color: #6f7073;
    font-size: 15px;
    letter-spacing: 0;
	text-transform:uppercase;
}
.s_item{
    width:130px;
    display: block;
    float:left;
    overflow: hidden;
    border:1px solid #E0E0E0;
    height:215px;
    margin:0 5px;
    padding:5px;
    text-align:center;
    position:relative;
    margin-bottom:10px;
}
.s_item:hover{
    cursor:default;
}
.s_item a:link,
.s_item a:hover,
.s_item a:visited {    
    color: #2F2F2F;
    text-decoration: none;
}
.s_icon{
    height: auto;
    display: block;
}
.s_details{
    text-align: center;
    display: block;
    padding-top:3px;
}
.s_item .price-box {
    margin:0;
}
.s_item .price-box .old-price {
    float:left;
}
.s_item .price-box .special-price {
    float:left;
    margin:0 5px 0 0;
}
.s_description{
    font-size: 11px;
}
.s_price {
    position:absolute;
    bottom:4px;
    left:10px;
}
.s_item_name {
    font-size: 12px;
    color: #6f7073;
    line-height:14px;
    text-transform:uppercase;
    margin-bottom: 5px;
}

.s_item_name span{
    height:30px;
    overflow:hidden;
}
.s_review{
    clear: both;
}
.s_ratings {
    font-size: 11px;
    line-height: 1.25;
    margin: 0;
    width: 70px;
    display: block;
}
.s_item_name .a_review {
    color: #1E7EC8 !important;
}
.s_sku {
    color: #999;
    font-size: 10px;
}
.searchautocomplete-search .s_button button.button span {
    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: white;
    display: block;
    font: bold 12px/19px Arial,Helvetica,sans-serif;
    height: 19px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}
.s_category {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    cursor: pointer;
}
.s_category a{
   color: #6f7073 !important;
    font-weight: normal;
    font-size:11px;
    text-transform:uppercase;
    display:block;
    padding-top:6px;
    
}
.s_category a b {
    font-weight:normal;
}
.s_category a:hover {
    color:#2294a7 !important;
}
.cms_page .s_item {
    width:auto;
    border:none;
    height:0;
    float:none;
    text-align:left;
    padding:13px 0 0;
    margin-left:0;
}
.cms_page .s_item .s_item_name a {
    color: #6f7073 !important;
    font-weight: normal;
    font-family:WhitneyMedium;
    font-size:11px;
    display:block;
}
.cms_page .s_item .s_item_name a:hover {
    color: #2294a7 !important;
}
.cms_page .s_item .s_item_name a span {
    height:auto;
}
.cms_page .s_item .s_details {
    padding-top:0;
}
.cms_page .search-container {
    display:inline-block;
}
.s_price .price-box {
    text-align:center;
    font-size:11px;
}
.search-header.cms {
    margin-bottom: 10px;
}

@media screen and (max-width:480px) {
    .s_item {
        width: 125px;
    }
}
	
	
	