<?php
	$_products = $this->getProductCollection(); 
    //print_r($this);exit;
    $_productCollection=$this->getLoadedProductCollection();
	 if(Mage::registry('current_category')){
    	  $_productCollection->addUrlRewrite(Mage::registry('current_category')->getId());}
    //print_r($this->getToolbarHtml());exit;
 //print_r($_productCollection->getData());exit;
    $_helper = $this->helper('catalog/output');
    $_collectionSize = $_productCollection->count();
    $_columnCount = $this->getColumnCount();	
    $setting = Mage::helper('em0080settings');
	$w = $setting->getProductsList_Width(170);
	$h = $setting->getProductsList_Height();	
    $alt_img = $this->getAltImg();
   //echo $_columnCount;exit;
?>
<?php if(!$_productCollection->count()): ?>

<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>

<div class="widget-title">
	<h2><?php echo $this->getData('frontend_title'); ?></h2>
</div>

<div class="category-products">   
    <?php // Grid Mode ?>
 
        <ul class="products-grid">
   
    <?php $i=0; foreach ($_productCollection as $_product): ?>
  
            <li style="width: <?php echo $setting->getProductsGrid_Width(200) ?>px; margin-right: <?php echo $setting->getProductsGrid_Gutter(20) ?>px;" class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <div class="product-item">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                       <?php if ($alt_img): ?>
							<img class="bottom" src="<?php echo $this->helper('catalog/image')->init($_product, $alt_img)->resize($w,$h) ?>" width="<?php echo $w; ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" />
						<?php endif ?>
                        <img <?php if ($alt_img): ?>class="top"<?php endif ?> src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h) ?>" width="<?php echo $w; ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" />
									
                    </a>
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                    <span class="sku"><?php echo $_product->getSku() ?></span>
    				<?php //if($_product->getRatingSummary()): ?>
                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    <?php //endif; ?>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                    <div class="actions">
                        <?php if($_product->isSaleable()): ?>
                            <div class="actions-cart">
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            </div>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                        <ul class="add-to-links">
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            <?php endif; ?>
                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                            <?php endif; ?>
                        </ul>
                    </div>
                </div>
            </li>
        <?php endforeach ?>
        </ul>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
</div>
<?php endif; ?>
