<?php
    //print_r($this);exit;
    $_productCollection=$this->getLoadedProductCollection();
	 if(Mage::registry('current_category')){
    	  $_productCollection->addUrlRewrite(Mage::registry('current_category')->getId());}
    //print_r($this->getToolbarHtml());exit;
 //print_r($_productCollection->getData());exit;
    $_helper = $this->helper('catalog/output');
    $_collectionSize = $_productCollection->count();
    $_columnCount = $this->getColumnCount();
	$_products = $this->getProductCollection(); 	
    $setting = Mage::helper('em0080settings');
    $w = $setting->getProductsList_Width(170);
    $h = $setting->getProductsList_Height();    
    $alt_img = $this->getAltImg();
   //echo $_columnCount;exit;
?>
<?php if(!$_productCollection->count()): ?>

<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="widget-title">
	<h2><?php echo $this->getData('frontend_title'); ?></h2>
</div>
<div class="category-products">
    <?php // List mode ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list">
    <?php foreach ($_productCollection as $_product): ?>
   
        <li <?php if($setting->getProductsList_Gutter()): ?>style="margin-bottom: <?php echo $setting->getProductsList_Gutter() ?>px"<?php endif; ?> class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
            <?php // Product Image ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                <?php if ($alt_img): ?>
					<img class="bottom" src="<?php echo $this->helper('catalog/image')->init($_product, $alt_img)->resize($w,$h) ?>" width="<?php echo $w; ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" />
				<?php endif ?>
                <img <?php if ($alt_img): ?>class="top"<?php endif ?> src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h) ?>" width="<?php echo $w; ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" />
									
            </a>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                     <span class="sku"><?php echo $_product->getSku() ?></span>
                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ol>
</div>
<?php endif; ?>
