<?php

Mage::log(__FILE__.":".__LINE__." ===============================================", null, 'reindexDebug.log');
Mage::log(__FILE__.":".__LINE__." - Generate thumbnail for product  [{$this->id}]", null, 'reindexDebug.log');

$filename = Mage::getBaseDir() . '/var/tim/' . $this->id ."_";

if (! file_exists($filename) || $this->getRequest()->getParam('doIndex') == 1) {
    $_helper = $this->helper('catalog/output');
    $setting = Mage::helper('em0080settings');

    $productCollection  = Mage::getModel("catalog/product")->getCollection()
        ->addAttributeToSelect(Mage::getSingleton("catalog/config")->getProductAttributes())
        ->addAttributeToFilter("entity_id", $this->id)
        ->setPage(1, 1)
        ->addMinimalPrice()
        ->addFinalPrice()
        ->addTaxPercents()
    ;
    /** @var Mage_Catalog_Model_Product $_product */
    $_product = $productCollection->load()->getFirstItem();

    $_taxHelper = $this->helper('tax');
    $_weeeHelper = $this->helper('weee');

    $_storeId = $_product->getStoreId();
    $_store = $_product->getStore();
    $_simplePricesTax = ($_taxHelper->displayPriceIncludingTax() || $_taxHelper->displayBothPrices());
    $_minimalPriceValue = $_product->getMinimalPrice();
    $_minimalPriceValue = $_store->roundPrice($_store->convertPrice($_minimalPriceValue));

    $_minimalPrice = $_taxHelper->getPrice($_product, $_minimalPriceValue, $_simplePricesTax);

    $_weeeTaxAmount = $_weeeHelper->getAmountForDisplay($_product);

    $_minimalPriceDisplayValue = $_minimalPrice;
    if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, array(0, 1, 4))) {
        $_minimalPriceDisplayValue = $_minimalPrice + $_weeeTaxAmount;
    }

    Mage::log(__FILE__.":".__LINE__." - _minimalPrice [{$_minimalPrice}] _minimalPriceDisplayValue [{$_minimalPriceDisplayValue}] _weeeTaxAmount [{$_weeeTaxAmount}]", null, 'reindexDebug.log');

    $_product = Mage::getModel('catalog/product')->load($this->id);

    ob_start();

    ?>
    <!------------------- Product Thumbnail -------------------->

    <div class="product-item id_<?php echo $_product->getId() ?>" id="catalog_product_<?php echo $_product->getId() ?>">

        <div class="prod-top-wrap">
        <!------------------- Show Image -------------------->
        <?php
        $imgSource = $this->helper('catalog/image')->init($_product, 'small_image')->resize(252, 283)->setQuality(100);
        if ($setting->getProductsGrid_ShowThumbnail()) {
            ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                <img id="image" class="catalog_grid"
                     <?php if ($alt_img = $setting->getProductsGrid_AltImg()): ?>class="top"<?php endif ?>
                        src="<?php echo $imgSource; ?>" width="<?php echo $setting->getProductsGrid_Width(170) - 2 ?>"
                        alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                        />

                <?php if ($setting->getProductsGrid_ShowLabel()): ?>
                    <!--show label product - label extension is required-->
                    <?php Mage::helper('productlabels')->display($_product); ?>
                <?php endif; ?>
            </a>
            <?php
        }
        ?>
        </div>

        <div class="product-shop">
            <!------------------- Color Swatches --------------------->
            <?php
            if ($_product->getTypeId() === Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE) {
                echo Mage::helper('amconf')->getHtmlBlock($_product, '');
            }
            ?>

            <!------------------- Product Name --------------------->
            <?php
            if ($setting->getProductsGrid_ShowProductName()) {
                ?>
                <h2 class="product-name">
                    <a href="<?php echo $_product->getProductUrl() ?>"
                       title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                    </a>
                </h2>
            <?php
            }
            ?>

            <!------------------- Product Sku ---------------------->
            <div class="model">
                <?php echo "#" . $_product->getData('model'); ?>
            </div>

            <!------------------- Color Swatches, Sizes, Product Price ---------------------->
            <?php if ($setting->getProductsGrid_ShowPrice()): ?>
                <div class="product-item-price" id="catalog_product_price_<?php echo $_product->getId() ?>">
                    <?php
                    // Comment out the line below to load price and swatches with ajax by skin/frontend/default/em0080/js/ripen/product-ajax.js
                    $renderedPrice = $this->getPriceHtml($_product, true);
                    echo $renderedPrice;
                    Mage::log(__FILE__.":".__LINE__." - rendered price for product ID [{$_product->getId()}] [{$renderedPrice}]", null, 'reindexDebug.log');
                    Mage::log("----------------------------------------------------------", null, 'reindexDebug.log');
                    ?>
                </div>
            <?php endif; ?>

            <!------------------- Reviews ---------------------->
            <?php if ($setting->getProductsGrid_ShowReviews()): ?>
                <?php if ($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>
            <?php endif; ?>
        </div>

    </div>
    <!------------------- End Product Thumbnail -------------------->

    <?php
    $html = ob_get_clean();

    $filename = $this->id . "_";
    $filepath = Mage::getBaseDir() . '/var/tim/' . $filename;
    file_put_contents($filepath, $html);
}
