<?php
    $carriers = [
        'fedex' => 'https://www.fedex.com/apps/fedextrack/?action=track&trackingnumber=',
        'ups' => 'https://wwwapps.ups.com/tracking/tracking.cgi?tracknum=',
        'usps' => 'https://tools.usps.com/go/TrackConfirmAction?tLabels='
    ];
?>
<?php $_shipment=$this->getShipment() ?>
<?php $_order=$this->getOrder() ?>
<?php if ($_shipment && $_order && $_shipment->getAllTracks()): ?>
    <?php $i=0; foreach ($_shipment->getAllTracks() as $_item): $i++ ?>
        <?php
            $carrierCode = $_item->getCarrierCode();
            $trackingNumber = $_item->getNumber();
            $trackingReference = (isset($carriers[$carrierCode])) ?
                '<a href="' . $carriers[$carrierCode] . $trackingNumber . '">' . $trackingNumber . '</a>' : $trackingNumber ;
        ?>
        <div style="margin-bottom: 10px;">
            Shipped By: <?php echo $this->escapeHtml($_item->getTitle()) ?><br/>
            Tracking Number: <?php echo $trackingReference ?>
        </div>
    <?php endforeach ?>
<?php endif; ?>
