<?php $_linksPurchasedSeparately = $this->getLinksPurchasedSeparately(); ?>
<?php if ($this->getProduct()->isSaleable() && $this->hasLinks()):?>
  <dl>
    <?php $_links = $this->getLinks(); ?>
    <?php $_isRequired = $this->getLinkSelectionRequired(); ?>
    <dt><label<?php if ($_isRequired) echo ' class="required"' ?>><?php if ($_isRequired) echo '<em>*</em>' ?><?php echo $this->getLinksTitle() ?></label></dt>
    <dd style="clear:both">
      <ul id="downloadable-links-list" class="options-list">
        <?php foreach ($_links as $_link): ?>
          <li>
            <?php if ($_linksPurchasedSeparately): ?>
              <input type="checkbox" class="checkbox<?php if($_isRequired):?> validate-one-required-by-name<?php endif; ?> product-downloadable-link" onclick="dConfig.reloadPrice()" name="links[]" id="links_<?php echo $_link->getId() ?>" value="<?php echo $_link->getId(); ?>" <?php echo $this->getLinkCheckedValue($_link); ?> />
            <?php endif; ?>
            <span class="label" >
              <label for="links_<?php echo $_link->getId() ?>" style="float:none">
                <?php echo $this->escapeHtml($_link->getTitle()); ?>
              </label>
              <?php if ($_link->getSampleFile() || $_link->getSampleUrl()): ?>
                &nbsp;(<a href="<?php echo $this->getLinkSamlpeUrl($_link) ?>" <?php echo $this->getIsOpenInNewWindow()?'onclick="this.target=\'_blank\'"':''; ?>><?php echo Mage::helper('downloadable')->__('sample') ?></a>)
              <?php endif; ?>
              <?php if ($_linksPurchasedSeparately): ?>
                <?php echo $this->getFormattedLinkPrice($_link); ?>
              <?php endif; ?>
            </span>
          </li>
        <?php endforeach; ?>
      </ul>

      <?php if ($_isRequired): ?>
        <span id="links-advice-container"></span>
      <?php endif;?>
    </dd>
  </dl>
  <script type="text/javascript">
    //<![CDATA[
    Product.Downloadable = Class.create();
    Product.Downloadable.prototype = {
      config : {},
      initialize : function(config){
        this.config = config;
        this.reloadPrice();
        document.observe("dom:loaded", this.reloadPrice.bind(this));
      },
      reloadPrice : function(){
        var price = 0;
        config = this.config;
        $$('.product-downloadable-link').each(function(elm){
          if (config[elm.value] && elm.checked) {
            price += parseFloat(config[elm.value]);
          }
        });
        try {
          var _displayZeroPrice = optionsPrice.displayZeroPrice;
          optionsPrice.displayZeroPrice = false;
          optionsPrice.changePrice('downloadable', price);
          optionsPrice.reload();
          optionsPrice.displayZeroPrice = _displayZeroPrice;
        } catch (e) {

        }
      }
    };

    dConfig = new Product.Downloadable(<?php echo $this->getJsonConfig() ?>);
    //]]>
  </script>
<?php endif;?>
