<?php
/**
 * @var $this Mage_Checkout_Block_Cart_Item_Renderer
 */
?>



<?php
$_item = $this->getItem();

$setting = Mage::helper('em0080settings');
$w = $setting->getImageShoppingCart_Width(100);
$h = $setting->getImageShoppingCart_Height(100);
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
?>
<!-- new code -->
<div id="shopcart-item-<?php echo $_item->getId(); ?>" class="shopcart-item-container clearfix">
   <div class="shopcart-item-bundle bundle1">
      <?php
      $typeId = $_item->getProduct()->getTypeId();
      
      /****** By Astrio *****/
      $image_product = $_item->getProduct();
      
      if ($_item->getProduct()->isConfigurable()) {
         $eavConfig = Mage::getSingleton('eav/config');
         $productTypeConfigurable = Mage::getModel('catalog/product_type_configurable');
         $productTypeConfigurable->setProduct($_item->getProduct());
         $configurableSimpleCollection = $productTypeConfigurable->getUsedProductCollection()->addFilterByRequiredOptions();
         $option = $_item->getOptionByCode('attributes');
         
         if ($option instanceof Mage_Sales_Model_Quote_Item_Option) {
             if ($configurableAttributes = $option->getValue()) {
                 $configurableAttributes = unserialize($configurableAttributes);
                 foreach ($configurableAttributes as $attributeId => $optionId) {
                     $configurableSimpleCollection->addAttributeToFilter($attributeId, $optionId);
                 }
      
                 $configurableSimpleCollection->addAttributeToSelect(array('image', 'thumbnail', 'small_image'));
      
                 $configurableSimpleCollection->setPageSize(1);
                 if ($configurableSimpleCollection->count()) {
                     $image_product = $configurableSimpleCollection->getFirstItem();
                 }
             }
         }
      }
      ?>

      <?php if($typeId !="aw_giftcard"): ?>
         <div class="image-product shopcart-item-image">
            <div class="shopcart-header shopcart-header-image"><?php echo $this->__('Item') ?></div>
            <?php if ($this->hasProductUrl()):?>
               <a href="<?php echo $this->getProductUrl()?>" title="<?php echo $this->escapeHtml($this->getProductName()) ?>" class="product-image"><img src="<?php if($typeId != "configurable"){echo $this->getProductThumbnail()->resize($w, $h)->setWatermarkSize('30x10'); } else{ echo Mage::helper('catalog/image')->init($image_product, 'small_image')->resize($w, $h)->setWatermarkSize('30x10'); }?>" width="<?php echo $w ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" /></a>
            <?php endif; ?>
         </div>
      <?php else: ?>
         <div class="image-product shopcart-item-image">
            <div class="shopcart-header shopcart-header-image"><?php echo $this->__('Items') ?></div>
            <?php if ($this->hasProductUrl()):?>
               <a href="<?php echo $this->getProductUrl() ?>" title="<?php echo $this->escapeHtml($this->getProductName()) ?>" class="product-image gift-card">
            <?php endif;?>
                  <img src="<?php echo $_item->getIsVirtual() ? $this->getProductThumbnail() : $_item->getBuyRequest()->getGiftcardDesign(); ?>" width="<?php echo $w ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" />
            <?php if ($this->hasProductUrl()):?>
               </a>
            <?php endif;?>
         </div>
      <?php endif;?>
   </div> <!-- END bundle1 -->
    
   <div class="shopcart-item-bundle bundle2">
      <div class="product-name-checkout shopcart-item-name" style="padding-right:0px;">
         <div class="shopcart-header shopcart-header-name">&nbsp;</div>
         <h2 class="<?php
            if ($typeId == "aw_giftcard") {
                echo "product-name-giftcard";
            } else {
                echo "product-name";
            }
            ?>">
            <?php if ($this->hasProductUrl()): ?>
              <a href="<?php echo $this->getProductUrl() ?>"><?php echo $this->escapeHtml($this->getProductName()) ?></a>
            <?php else: ?>
              <?php echo $this->escapeHtml($this->getProductName()) ?>
            <?php endif; ?>
         </h2>

            <?php
               $children = $_item->getChildren();
               $simpleItem = ($_item->getProductType() == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE) ? reset($children) : $_item;
               echo "#" . $_item->getProduct()->getData('model');
            ?>
            
            <br />

            <?php echo $this->getLayout()->createBlock('core/template')->setData('orderItem', $this)->setData('cartItem', '')->setTemplate('customoptions/embroiderytool.phtml')->toHtml(); ?>

            <?php $stockItem = Mage::getModel('cataloginventory/stock_item')->loadByProduct($image_product); ?>

            <?php if($this->getQty() > $stockItem->getData('qty') && $stockItem->getData('qty') != 0 ) { ?>
                <p class="cart-stock-status out-stock"><?php echo Mage::helper('amstockstatus')->getCustomStockStatusText($image_product) . " as we only have " . round($stockItem->getData('qty')) . " available. If you would like it earlier, update your quantity."; ?></p>
            <?php } else if($this->getQty() > $stockItem->getData('qty') && $stockItem->getData('qty') == 0){ ?>
                <p class="cart-stock-status out-stock"><?php echo Mage::helper('amstockstatus')->getCustomStockStatusText($image_product); ?></p>
            <?php } else { ?>
                <p class="cart-stock-status in-stock">In Stock</p>
            <?php } ?>


            <?php
            if (count($this->getProductOptions()) > 0): ?>
                <p class="item-msg <?php echo $message['type'] ?>">Please allow an additional 2 weeks for embroidery.</p>
            <?php endif; ?>

            <?php $addInfoBlock = $this->getProductAdditionalInformationBlock(); ?>
            
            <?php if ($addInfoBlock): ?>
                <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
            <?php endif; ?>
        </div>
    </div> <!-- END bundle2 -->
 
   <!--div class="bundleGroup"-->
      <div class="shopcart-item-bundle bundle3">
         <?php if ($canApplyMsrp): ?>
            <div class="a-center shopcart-item-price" <?php if ($this->helper('tax')->displayCartBothPrices()): ?> colspan="2"<?php endif; ?>>
                <div class="shopcart-header shopcart-header-price"><?php echo $this->__('Unit Price') ?></div>
                <span class="cart-price">
                    <span class="cart-msrp-unit"><?php echo $this->__('See price before order confirmation.'); ?></span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a id="<?php echo $helpLinkId ?>" href="#" class="map-help-link"><?php echo $this->__("What's this?"); ?></a>
                    <script type="text/javascript">
                       Catalog.Map.addHelpLink($('<?php echo $helpLinkId ?>'), "<?php echo $this->__("What's this?") ?>");
                    </script>
                </span>
            </div>
         <?php else: ?>
            <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
               <div class="a-center shopcart-item-price">
                  <div class="shopcart-header shopcart-header-price"><?php echo $this->__('Unit Price') ?></div>
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <span class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');"></span>
                  <?php else: ?>
                    <span class="cart-price">
                  <?php endif; ?>
                  
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
                  <?php else: ?>
                    <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
                  <?php endif; ?>
                    </span>
               
                  <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                     <div class="cart-tax-info" id="eunit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                         <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                             <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                 <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span>
                             <?php endforeach; ?>
                         <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                             <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                 <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span>
                             <?php endforeach; ?>
                         <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                             <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                 <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span>
                             <?php endforeach; ?>
                         <?php endif; ?>
                     </div>
               
                     <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                         <div class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                             <span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
                         </div>
                     <?php endif; ?>
                  <?php endif; ?>
               </div>
            <?php endif; ?>
      
            <!-- inclusive price starts here -->
            <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
               <div class="shopcart-item-price">
                  <div class="shopcart-header shopcart-header-price"><?php echo $this->__('Unit Price') ?></div>
                  <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                     <span class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                  <?php else: ?>
                     <span class="cart-price">
                  <?php endif; ?>
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?>
                  <?php else: ?>
                    <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
                  <?php endif; ?>
                     </span>
         
                  <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                     <div class="cart-tax-info" id="unit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                       <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                           <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                               <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span>
                           <?php endforeach; ?>
                       <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                           <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                               <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span>
                           <?php endforeach; ?>
                       <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                           <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                               <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span>
                           <?php endforeach; ?>
                       <?php endif; ?>
                     </div>
            
                     <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <div class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                           <span class="weee"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>: <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?></span>
                        </div>
                     <?php endif; ?>
                  <?php endif; ?>
               </div>
            <?php endif; ?>          
         <?php endif; ?>
      </div> <!-- END bundle3 -->
   
      <div class="shopcart-item-bundle bundle4">
         <div class="a-center shopcart-item-qty">
            <div class="shopcart-header shopcart-header-qty"><?php echo $this->__('Qty') ?></div>
            <input name="cart[<?php echo $_item->getId() ?>][qty]" value="<?php echo $this->getQty() ?>" size="4" title="<?php echo $this->__('Qty') ?>" class="input-text qty" maxlength="12" />
            <button style="cursor: pointer;" type="submit" name="update_cart_action_2" value="update_qty" title="<?php echo $this->__('Update'); ?>"><span><span><?php echo $this->__('Update'); ?></span></span></button>
         </div>
      </div> <!-- END bundle4 -->
   
      <!--Sub total starts here -->
      <div class="shopcart-item-bundle bundle5">
         <?php if (($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()) && !$_item->getNoSubtotal()): ?>
            <div class="a-center shopcart-item-totals">
               <div class="shopcart-header shopcart-header-totals"><?php echo $this->__('Subtotal') ?></div>
         
               <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                  <span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
               <?php else: ?>
                  <span class="cart-price">
               <?php endif; ?>
         
               <?php if ($canApplyMsrp): ?>
                  <span class="cart-msrp-subtotal">--</span>
               <?php else: ?>
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                     <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
                  <?php else: ?>
                     <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
                  <?php endif; ?>
               <?php endif; ?>
                  </span>
                  
               <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                  <div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                      <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                          <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                              <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span>
                          <?php endforeach; ?>
                      <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                          <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                              <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span>
                          <?php endforeach; ?>
                      <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                          <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                              <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span>
                          <?php endforeach; ?>
                      <?php endif; ?>
                  </div>
         
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                     <div class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                        <span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
                     </div>
                  <?php endif; ?>
               <?php endif; ?>
            </div>
         <?php endif; ?>
      </div> <!-- END bundle5 -->
   
      <?php /*
      <div class="shopcart-item-bundle bundle6">
         <?php if (($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()) && !$_item->getNoSubtotal()): ?>
            <div class="shopcart-item-totals">
            <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($_item); ?>
            
            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
               <span class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
            <?php else: ?>
               <span class="cart-price">
            <?php endif; ?>
      
            <?php if ($canApplyMsrp): ?>
                <span class="cart-msrp-subtotal">--
            <?php else: ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getRowWeeeTaxInclTax($_item)); ?>
                <?php else: ?>
                    <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
                <?php endif; ?>
            <?php endif; ?>
               </span>
               
            <?php if (Mage::helper('weee')->getApplied($_item)): ?>  
               <div class="cart-tax-info" id="subtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                     <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
                     <?php endforeach; ?>
                  <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                     <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
                     <?php endforeach; ?>
                  <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                     <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
                     <?php endforeach; ?>
                  <?php endif; ?>
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                     <div class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                        <span class="weee"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>: <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getRowWeeeTaxInclTax($_item)); ?></span>
                     </div>
                  <?php endif; ?>
               <?php endif; ?>
            </div>
         <?php endif; ?>
      </div> <!-- END bundle6 -->
      */ ?>
   <!--/div--> <!-- END bundleGroup -->
    
   <div class="shopcart-item-bundle bundle7">
      <div class="checkout-config shopcart-item-links">
         <div class="shopcart-header shopcart-header-links"><?php echo $this->__('Edit') ?></div>
         <?php if ($isVisibleProduct): ?>
            <p><a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove') ?>"><?php echo $this->__('Remove') ?></a></p>
            <p><a href="<?php echo $this->getConfigureUrl() ?>" title="<?php echo $this->__('Edit Product') ?>"><?php echo $this->__('Edit Product') ?></a></p>
            <p><a href="<?php echo $this->helper('wishlist')->getMoveFromCartUrl($_item->getId()); ?>" class="link-wishlist use-ajax"><?php echo $this->__('Move to Wishlist'); ?></a></p>
            <div id="customCart" class="embroidery-hide">
               <?php if ( $_item->getProduct()->getShowCustomize() == 1 || $_item->getProduct()->getCustomization() == 681 || $_item->getProduct()->getCustomization() == "Yes"): ?>
                  <?php if (count($this->getProductOptions()) > 0): ?>
                     <p><a href="<?php echo $this->getConfigureUrl() . "?customedit=1" ?>" title="<?php echo $this->__('Edit Embroidery') ?>"><?php echo $this->__('Edit Embroidery') ?></a></p>
                  <?php else: ?>
                     <p><a href="<?php echo $this->getConfigureUrl() . "?customedit=1"?>" title="<?php echo $this->__('Customize It') ?>"><?php echo $this->__('Add Embroidery') ?></a></p>
                  <?php endif ?>
               <?php endif ?>
            </div>
         <?php endif; ?>
      </div>
   </div> <!-- END bundle7 -->
</div>
