<?php
/**
 * Weekly Email Index
 *
 * @author Ripen eCommerce
 * @package Ripen_MailFoundry
 */
?>
<div id="mailfoundry-container">
    <div id="mailfoundry-header">
        <h1>MailFoundry Email Generator</h1>
        <h5>Upload assets, preview files, and generation output.</h5>
        <img class="mailfoundry-email-icon" src="<?php echo $this->getSkinUrl('images/mailfoundry-email-icon.png');?>" />
    </div>
    <div id="campaign-panels">
        <div id="upload-pane">
            <div id="saving-overlay" data-bind="visible: saveOverlayFlag()">
                <div class="shade"></div>
                <div class="content">
                    <img class="loading-img" src="<?php echo $this->getSkinUrl('images/Ripple-1.2s-106px.gif');?>"/>
                    <h5 data-bind="text: savingMessage"></h5>
                </div>
            </div>
            <div class="upload-status-message" data-bind="visible: uploadStatusMessage, text: uploadStatusMessage, css: messageType"></div>
            <div class="form-heading">
                <h3>Upload Email Assets</h3>
            </div>
            <div id="upload-form-container">
                <form action="<?php echo Mage::helper("adminhtml")->getUrl("mailfoundry/adminhtml_generation/savecampaign") ?>" method="post"
                      name="generation-email-upload" id="generation-email-upload" enctype="multipart/form-data">
                    <input type="hidden" name="form_key" id="form-key" value="<?php echo $this->getFormKey(); ?>" />
                    <div class="field-set">
                        <div class="field-item">
                            <label for="campaign">Campaign</label>
                            <select id="campaign" name="campaign" data-bind="
                                options: campaignFormData.campaignOptions,
                                optionsValue: 'value',
                                optionsText: 'text',
                                value: currentSelectedCampaign,
                                event: { change: function() { campaignChange() } }"></select>
                            <label for="new-campaign">New Campaign</label>
                            <input type="text" id="new-campaign" name="new_campaign" data-bind="
                                visible: currentSelectedCampaign() == 'new',
                                event: { keyup: validateForm() }"
                                       placeholder="New Campaign Title" />
                            <span class="message error" data-bind="text: messages.newCampaign, visible: currentSelectedCampaign() == 'new'"></span>
                        </div>
                        <div class="field-item">
                            <label for="template">Template</label>
                            <select id="template" name="template" data-bind="
                                options: campaignFormData.templateOptions,
                                optionsValue: 'value',
                                optionsText: 'text',
                                disable: !enableTemplate(),
                                event: { change: function() { templateChange() } },
                                visible: enableTemplate()"></select>
                            <em class="saved-as-message" data-bind="text: messages.loadedCampaignText, visible: !enableTemplate()"></em>
                        </div>
                        <div class="yml-inputs" data-bind="html: campaignFormData.ymlInputs"></div>
                        <div class="field-item">
                            <label for="asset-file">Asset Zip File</label>
                            <input name="asset_file" value="" class="input-file" id="asset-file" type="file" data-bind="event: { change: function() { $root.validateForm()}} "/>
                            <span class="message error" data-bind="text: messages.uploadFile"></span>
                        </div>
                    </div>
                    <button id="generation-email-submit" type="submit" data-bind="disable: !enableSubmit()">Save Email Campaign</button>
                </form>
            </div>
        </div>
        <div id="file-pane">
            <div id="remote-file-view-pane" class="filesystem">
                <div class="pane-heading">
                    <div class="title">
                        <h3 data-bind="text: paneTitle"></h3>
                    </div>
                    <div class="controls">
                        <button data-bind="click: function(event, data) { $root.getFileListing() }">Refresh</button>
                        <button data-bind="disable: !isSubLevel(), click: function(event, data) { goToParentDir() }">Parent Directory</button>
                    </div>
                </div>
                <div class="file-list" data-bind="foreach: filesystem.fileListing">
                    <div class="file-item" data-bind="css: $root.getFileItemCss($data)">
                        <div class="name" data-bind="attr: { style: $root.thumbnailStyleValue($data) }"><span data-bind="text: filename"></span></div>
                        <div class="ext-type"><span data-bind="text: (typeof extension === 'undefined') ? type : extension"></span></div>
                        <div class="size" data-bind="text: formattedsize"></div>
                        <div class="timestamp" data-bind="text: date"></div>
                        <div class="controls">
                            <button data-bind="visible: type === 'dir', click: function(event, data) { $root.goToChildDir(basename) }">View Directory</button>
                            <button data-bind="visible: type === 'file', click: function(event, data) { $root.viewFile(path) }">View File</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>