<?php
$_cartQty = $this->getSummaryCount();
if (!(Mage::app()->getRequest()->getControllerName()=='onepage') && !(Mage::app()->getRequest()->getControllerName()=='cart')) {
    $quote = Mage::getSingleton('checkout/cart')->getQuote();
    $quote->collectTotals();
    $quote->getShippingAddress()->collectTotals();
}

$_subtotals = Mage::getSingleton('checkout/cart')->getQuote()->getTotals();
$subtotal = $_subtotals["subtotal"]->getValue();

?>

<!----------------------------------------------------------------------------->
<?php /* if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
    <div class="title-cart">
        <h3><?php echo $this->__('Shopping cart') ?></h3>
    </div>
    <div class="actions">
        <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
    </div>
<?php endif */ ?>
<!------------------------------------------------------------------------------>
<div class="cart-popup-content">
    <p class="block-subtitle">
        <?php if ($_cartQty==0): ?>
            <?php echo $this->__('You have no items in your shopping cart') ?>
        <?php elseif ($_cartQty==1): ?>
            <?php echo $this->__('There is <a href="%s">1 item</a> in your cart.', $this->getUrl('checkout/cart')) ?>
        <?php else: ?>
            <?php echo $this->__('There are <a href="%s">%s items</a> in your cart.', $this->getUrl('checkout/cart'), $_cartQty) ?>
        <?php endif ?>
    </p>
    <?php if ($_cartQty > 0): ?>
        <?php //$_items = $this->getRecentItems() ?>
        <?php $_items = array_reverse($this->getItems()) ?>
        <?php if(count($_items)): ?>

            <div class="cartScrollOuter">

                <div class="cartScrollInner">
                    <div class="scrollUpArrow"><div id="scrollBtnText">UP<span class="spanUpArrow"></span></div></div>
                    <ol id="cart-sidebar">
                        <?php foreach($_items as $_item): ?>
                            <?php echo $this->getItemHtml($_item);?>
                        <?php endforeach; ?>
                    </ol>
                    <div class="scrollDownArrow"><div id="scrollBtnText">DOWN<span class="spanDownArrow"></span></div></div>
                </div>

            </div>

            <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
        <?php endif ?>
    <?php endif ?>
    <?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
        <div class="actions">
            <p class="subtotal">
                <?php if ($this->canApplyMsrp()): ?>
                    <span class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
                <?php else: ?>
                    <span class="label"><?php echo $this->__('Sub-total') ?>:</span> <?php echo Mage::helper('checkout')->formatPrice($subtotal) ?>
                <?php endif; ?>
            </p>
            <?php echo $this->getChildHtml('extra_actions') ?>

            <a  title="<?php echo $this->__('View Cart') ?>" class="button" href="<?php echo $this->getUrl('checkout/cart') ?>"> <span><span><?php echo $this->__('View cart') ?></span></span></a>
            <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
        </div>
    <?php endif ?>
</div>