
.cms-index-index .wide-banner {position:relative;}
.footer-wrapper-new .top-footer .same.top-footer-section {
    height:auto;
    padding:24px 0 12px;
    text-align:center;
}
.footer-wrapper-new .top-footer ul.content li {
    background:none;
    padding-left:0;
}
.category-products .products-grid:not(.two-col-var) li.item img.catalog_grid {
    height:356px;
}
.products-grid.category-products-grid li.item {
    margin:8px 0 10px 15px;
}
.top-menu .hnav {
    text-align:center;
}
.top-menu .em_nav .hnav > li {
    float:none;
    display:inline-block;
}
.headfix .hdr-links-gp .customer-services {
    opacity: 1;
    z-index: 0;
    position: static;
}
.headfix .hdr-links-gp #link-myaccount {
    border-left:1px solid #2294a7;
}

@media screen and (max-width:960px) {
    .footer-wrapper-new .top-footer .top-footer-section {
        width:100%;
        background:none;
    }
    .footer-wrapper-new .top-footer .same.top-footer-section {
        margin:0;
    }
    .headfix .hdr-links-gp .customer-services {
        display:block;
    }
    .category-products .products-grid.category-products-grid li.item,
    .category-products .products-grid.category-products-grid li.item.first,
    .category-products .products-grid.category-products-grid li.item.last {
        margin:8px 20px 10px;
    }
}
@media screen and (max-width:768px) {
    .category-products .products-grid.category-products-grid li.item,
    .category-products .products-grid.category-products-grid li.item.first,
    .category-products .products-grid.category-products-grid li.item.last {
        margin:8px 0 10px;
    }
    .top-menu .em_nav .hnav > li {
        display:block;
        text-align:left;
        white-space:nowrap;
    }
    .top-menu .em_nav .hnav > li span {
        white-space:nowrap;
    }
}
@media screen and (max-width:480px) {
    .catalog-category-view .footer-wrapper-new .same.top-footer-section {
        width: 100%;
    }
}
