<?php if(Mage::getStoreConfig('blog/menu/show_recent_post')):?>
<div class="block em_block-recent-post">
    <div class="block-title">
        <strong><span><?php echo $this->__('Recent Posts'); ?></span></strong>
    </div>
    <div class="block-content">
        <ol>
            <?php $i=0; foreach ($this->getRecentPost() as $p): ?>
                <li class="item">
                    <a class="post-title" href="<?php echo $p->getPostUrl();?>" ><?php echo $p->getTitle();?></a>
                    <?php $date = new DateTime($p->getCreatedAt());?>
                    <small class="time-stamp"><?php echo $date->format('l, M j Y, h:iA'); ?></small>
                    <span class="post-by"><?php echo $this->__('Posted by').' '?><span><?php echo $p->getAuthor()->getUsername()?></span></span>
                </li>
                <?php $i++; if($i>2) break; ?>
            <?php endforeach; ?>
        </ol>
    </div>
</div>
<?php endif;?>