#loading-mask {
	position:absolute;
	color:#d85909;
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
	opacity:0.80;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8 */
	z-index:500;
}
	
#loading-mask .loader {
	position:fixed;
	top:45%;
	left:50%;
	width:150px;
	margin-left:-105px;
	padding:15px 30px;
	background:#fff4e9;
	border:2px solid #f1af73;
	color:#d85909;
	font-weight:bold;
	text-align:center;
	z-index:1000;
}

/* image filter */
.img-filter { margin-top:6px; overflow: hidden; }
.img-filter li { }
.img-filter li:hover { }
.img-filter li.selected { }

/* selectbox filter */
.block-layered-nav select { margin-top: 3px; }

/* tree filter */
.tree-filter ol li { padding:0; }
.tree-filter li.selected { font-weight: normal; }
.tree-filter li ol li { font-weight: normal; }
.tree-filter .icon { 
	float: right;
	height:8px;
	width: 10px;
	cursor: pointer;
	text-indent: -9999px;
	margin: 7px 0px 0px 0px
}

.tree-filter .expanded .icon { background-image: url(../images/em_layerednavigation/icon-arrow-sidebar.png);  }
.tree-filter .collapsed .icon { background-image: url(../images/em_layerednavigation/icon-arrow-sidebar-expand.png); width:8px; height:10px }

/* range filter */
.rslider { margin-top: 10px; }

.rslider #track, 
.rslider #range, 
.rslider .handle {
	background-image: url(../images/em_layerednavigation/slider.png);
}

.rslider #track {
	position: relative;
	background-position: -2px 0;
	height: 5px;
}

.rslider #range {
	background-position: 0 -20px;
	background-repeat: repeat-x;
	position: absolute;
	height: 5px;
}

.rslider .handle {
	background-position: 0 -40px;
	position: absolute;
	cursor: pointer;
	height: 15px;
	width: 13px;
	top: -4px;
}

.rslider .values { overflow: hidden; margin-top: 7px; }
.rslider #from-val { float: left; }
.rslider #to-val { float: right; }

#narrow-by-list .filter-act {
	margin-bottom: 0px;
    margin-top: 0px;
  
}

#narrow-by-list .btn-remove {
	margin: 0
}