<style>
    .col1 {
        float: left;
        width: 20%;
        padding-left: 10px;
    }
    .col2 {
        float: left;
        width: 20%;
    }
    .col3 {
        float: left;
        width: 20%;
    }
    .col4 {
        float: left;
        width: 30%;
    }

    .row {
        padding: 10px 0 10px 0;
        border-bottom: 1px solid #dfdfdf;
        clear: both;
    }

    .row:hover {
        background-color: #f6f6f6;
    }
    .row input {
        padding: 5px;
    }

    .section-title {
        float: left;
        color: #eb5e00;
    }
    .section-save {
        float: right;
    }
    .section {
        margin-bottom: 40px;
    }
    .section-header {
        margin-bottom: 20px;
        background-color: #efefef;
        padding: 20px 20px 0 20px;
    }

</style>

<form action="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryoptions/saveTextOptions/type/color"); ?>" method="post" name="embroidery_colors" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey')?>

    <div class="section">

        <div class="section-header">
            <div class="section-title"><h1>Text Colors</h1></div>
            <div class="section-save"><button class="scalable save" type="submit" id="submit"><span>Save Text Colors</span></button></div>
            <div class="clear"></div>
        </div>
        <?php
        $colors = Mage::getModel('embroidery/color')
            ->getCollection()
            ->setOrder('sortorder', "ASC");

        foreach($colors as $color) {
            ?>
            <div class="row">
                <div class="col1"><input name="option_<?php echo $color->getId(); ?>" value="<?php echo $color->getName(); ?>"></div>
                <div class="col2"><input name="optionsort_<?php echo $color->getId(); ?>" value="<?php echo $color->getSortorder(); ?>"></div>
                <div class="col3"><?php if ($color->getImage()): ?><img src="<?php echo Mage::getBaseUrl('media').DS.$color->getImage(); ?>" style="width: 80%"><?php endif; ?>&nbsp;</div>
                <div class="col4"><input name="optionimage_<?php echo $color->getId(); ?>" value="" class="input-file" type="file"></div>
                <div class="col5"><a href="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryoptions/removeTextOption/type/color/id/".$color->getId()); ?>" onclick="return confirm('Are you sure you want to remove this item?');">Remove</a></div>
                <div class="clear"></div>
            </div>
        <?php
        }
        ?>
        <div class="row">
            <div class="col1"><input name="option_new" value="" placeholder="Color..."></div>
            <div class="col2"><input name="optionsort_new" value="" placeholder="Order..."></div>
            <div class="col3">&nbsp;</div>
            <div class="col4"><input name="optionimage_new" value="" class="input-file" type="file"></div>
            <div class="clear"></div>
        </div>
    </div>
</form>


<form action="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryoptions/saveTextOptions/type/style"); ?>" method="post" name="embroidery_styles" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey')?>

    <div class="section">

        <div class="section-header">
            <div class="section-title"><h1>Text Styles</h1></div>
            <div class="section-save"><button class="scalable save" type="submit" id="submit"><span>Save Text Styles</span></button></div>
            <div class="clear"></div>
        </div>
        <?php
        $styles = Mage::getModel('embroidery/style')
            ->getCollection()
            ->setOrder('sortorder', "ASC");

        foreach($styles as $style) {
            ?>
            <div class="row">
                <div class="col1"><input name="option_<?php echo $style->getId(); ?>" value="<?php echo $style->getName(); ?>"></div>
                <div class="col2"><input name="optionsort_<?php echo $style->getId(); ?>" value="<?php echo $style->getSortorder(); ?>"></div>
                <div class="col3"><?php if ($style->getImage()): ?><img src="<?php echo Mage::getBaseUrl('media').DS.$style->getImage(); ?>" style="width: 80%"><?php endif; ?>&nbsp;</div>
                <div class="col4"><input name="optionimage_<?php echo $style->getId(); ?>" value="" class="input-file" type="file"></div>
                <div class="col5"><a href="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryoptions/removeTextOption/type/style/id/".$style->getId()); ?>" onclick="return confirm('Are you sure you want to remove this item?');">Remove</a></div>

                <div class="clear"></div>
            </div>
        <?php
        }
        ?>
        <div class="row">
            <div class="col1"><input name="option_new" value="" placeholder="Style..."></div>
            <div class="col2"><input name="optionsort_new" value="" placeholder="Order..."></div>
            <div class="col3">&nbsp;</div>
            <div class="col4"><input name="optionimage_new" value="" class="input-file" type="file"></div>
            <div class="clear"></div>
        </div>
    </div>
</form>

<form action="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryoptions/saveOptions/type/1"); ?>" method="post" name="embroidery_ribbons" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey')?>

    <div class="section">

        <div class="section-header">
            <div class="section-title"><h1>Ribbons</h1></div>
            <div class="section-save"><button class="scalable save" type="submit" id="submit"><span>Save Ribbons</span></button></div>
            <div class="clear"></div>
        </div>
        <?php
        $ribbons = Mage::getModel('embroidery/option')
            ->getCollection()
            ->addFieldToFilter('type_id', 1)
            ->setOrder('sortorder', "ASC");

        foreach($ribbons as $ribbon) {
            ?>
            <div class="row">
                <div class="col1"><input name="option_<?php echo $ribbon->getId(); ?>" value="<?php echo $ribbon->getName(); ?>"></div>
                <div class="col2"><input name="optionsort_<?php echo $ribbon->getId(); ?>" value="<?php echo $ribbon->getSortorder(); ?>"></div>
                <div class="col3"><?php if ($ribbon->getImage()): ?><img src="<?php echo Mage::getBaseUrl('media').DS.$ribbon->getImage(); ?>" style="width: 80%"><?php endif; ?>&nbsp;</div>
                <div class="col4"><input name="optionimage_<?php echo $ribbon->getId(); ?>" value="" class="input-file" type="file"></div>
                <div class="col5"><a href="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryoptions/removeOption/id/".$ribbon->getId()); ?>" onclick="return confirm('Are you sure you want to remove this item?');">Remove</a></div>

                <div class="clear"></div>
            </div>
        <?php
        }
        ?>
        <div class="row">
            <div class="col1"><input name="option_new" value="" placeholder="Ribbon..."></div>
            <div class="col2"><input name="optionsort_new" value="" placeholder="Order..."></div>
            <div class="col3">&nbsp;</div>
            <div class="col4"><input name="optionimage_new" value="" class="input-file" type="file"></div>
            <div class="clear"></div>
        </div>
    </div>
</form>

<form action="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryoptions/saveOptions/type/2"); ?>" method="post" name="embroidery_flags" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey')?>

    <div class="section">

        <div class="section-header">
            <div class="section-title"><h1>Flags</h1></div>
            <div class="section-save"><button class="scalable save" type="submit" id="submit"><span>Save Flags</span></button></div>
            <div class="clear"></div>
        </div>
        <?php
        $flags = Mage::getModel('embroidery/option')
            ->getCollection()
            ->addFieldToFilter('type_id', 2)
            ->setOrder('sortorder', "ASC");

        foreach($flags as $flag) {
            ?>
            <div class="row">
                <div class="col1"><input name="option_<?php echo $flag->getId(); ?>" value="<?php echo $flag->getName(); ?>"></div>
                <div class="col2"><input name="optionsort_<?php echo $flag->getId(); ?>" value="<?php echo $flag->getSortorder(); ?>"></div>
                <div class="col3"><?php if ($flag->getImage()): ?><img src="<?php echo Mage::getBaseUrl('media').DS.$flag->getImage(); ?>" style="width: 80%"><?php endif; ?>&nbsp;</div>
                <div class="col4"><input name="optionimage_<?php echo $flag->getId(); ?>" value="" class="input-file" type="file"></div>
                <div class="col5"><a href="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryoptions/removeOption/id/".$flag->getId()); ?>" onclick="return confirm('Are you sure you want to remove this item?');">Remove</a></div>

                <div class="clear"></div>
            </div>
        <?php
        }
        ?>
        <div class="row">
            <div class="col1"><input name="option_new" value="" placeholder="Flag..."></div>
            <div class="col2"><input name="optionsort_new" value="" placeholder="Order..."></div>
            <div class="col3">&nbsp;</div>
            <div class="col4"><input name="optionimage_new" value="" class="input-file" type="file"></div>
            <div class="clear"></div>
        </div>
    </div>
</form>