<div class="skg">
    <a href="{{store url="chef-coats-jackets.html"}}">
    <div class="hide-768">
        <img src="{{media url="wysiwyg/home-pg/refresh/HPc1/c1-spot-d.png"}}" alt="Shop Coats" />
    </div>
    <div class="show-768">
        <img src="{{media url="wysiwyg/home-pg/refresh/HPc1/c1-spot-m.png"}}" alt="Shop Coats" />
    </div>
    </a>
</div>