.cat-aspot img {width:100%}

.a-desk {display:block;}
.a-tab {display:none;}
.a-mob {display:none;}

@media screen and (max-width:768px) {
	/*.a-desk {display:none;}*/
	/*.a-tab {display:block;}*/
	.a-mob {display:none;}
}

@media screen and (max-width:480px) {
	.a-desk {display:none;}
	/*.a-tab {display:none;}*/
	.a-mob {display:block;}
}
