.cart.bettercheckout {margin-top:15px;}
.bettercheckout.checkout-success * {
    box-sizing:border-box;
}
.signin-in-welcome {float:left;}
.signin-in-sign-out {float:right;}
.conf-acct-prompt {
    padding: 40px;
}
.acct-prompt-main {
    padding:0 60px;
}
.acct-prompt-lower,
.acct-prompt-upper {
    margin-bottom: 40px;
    float:left;
}
.acct-prompt-upper {
    display:table-row;
}
.prompt-img-wrap,
.prompt-copy-wrap {
    display:table-cell;
    vertical-align:middle;
}
.prompt-copy-wrap {
    width: 60%;
}
.prompt-img-wrap {
    display:table-cell;
    width:40%;
}
.prompt-copy {
    padding:0 60px 0 0;
    text-align:left;
}
.prompt-img-wrap img {
    width:100%;
}
.lower-col-wrap {
    float:left;
    width:32%;
    margin-left:1%;
    margin-right:1%;
    padding: 0 20px;
}
.col-img-wrap {
    width:140px;
    height:140px;
    margin:auto;
}
.col-img-wrap img {
    width:100%;
}
#bettercheckout-create-account .field-wrap {
    width:80%;
}
#bettercheckout-create-account .field-wrap .input-wrap {
    width:48.5%;
    margin-right:1.5%;
    float:left;
}
.success-create-account .confirmation-message {
    margin:60px 0 40px;
}
.acct-prompt-form {
    margin-top:20px;
}
.acct-btn-wrap {
    width:20%;
    float:left;
}
.lower-cols {
    margin-top:40px;
}
.form-hdr-wrap {
    margin-bottom:30px;
}
ul.shopcart-action-links {
    margin-top: 3px;
}
ul.shopcart-action-links li {
    display: inline;
    margin-right: 10px;
    padding-right: 10px;
}
ul.shopcart-action-links li a, .shopcart-item-qty button{
    color: #2294A7;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}

ul.shopcart-action-links li:not(:last-child) {
    border-right: 1px solid #D9D9D9;
}

.shopcart-item-bundle h2.product-name {
    margin-bottom: 0px;
}

.shopcart-header-container .shopcart-titles {
    margin-bottom: 30px;
    margin-bottom: 40px;
    color: #434343;
}

.shopcart-header-container .shopcart-titles .shopcart-title {
    font-size: 22px;
    float:left;
    text-transform: uppercase;
    font-weight: 600;
}

.shopcart-header-container .shopcart-titles .shopcart-secure,
.bettercheckout .shopcart-secure {
    font-size: 14px;
    line-height: 25px;
    float: right;
    text-transform: uppercase;
    font-weight: 600;
    background:url(../../images/secure_lock.png) 0 0 no-repeat;
    padding-left: 30px;
}

.shopcart-header-row {
    border-bottom: 1px solid #404040;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #434343;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
}
.shopcart-cols-container {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0 0 0;
}

.bettercheckout .shop-item-compact {
    padding: 0 !important;
}

.shopcart-col-image {
    width: 210px;
    flex: 0 0 210px;
}

.shopcart-col-item {
    flex-grow: 1;
    text-align: left;
    max-width: 435px;
}

.shopcart-col-item-main {
    min-height: 106px;
    max-width: 320px;
}

.shopcart-col-price {
    width: 120px;
    flex: 0 0 120px;
}

.shopcart-col-qty {
    width: 120px;
    flex: 0 0 120px;
}

.shopcart-col-subtotal {
    width: 100px;
    flex: 0 0 100px;
}

.shopcart-item-container {
    flex-flow: row nowrap !important;
}
.saved-cart-container .shopcart-item-container .shopcart-col.shopcart-col-qty,
.shopcart-item-container .shopcart-col {
    margin-top: 10px;
}
.shopcart-item-container .shopcart-col.shopcart-col-qty {
    margin-top: 5px;
}
.rt-inline {float:right;}
.moved-msg,
.saved-cart-container .extra-accent-text,
.shopcart-header-row .shopcart-col, .bettercheckout .extra-accent-text {
    position: relative;
    color: #434343;
    color: #434343;
    font-weight: 600;
}
.shopcart-col .accent-text{
    color: #434343;
    font-weight:500;
}
.shopcart-col {
    color: #6F7073;
}
.orderstatus-col .product-sku,
.shopcart-col .product-sku {
    margin-bottom: 8px;
}
.shopcart-col .product-name a {
    color: #434343;
}
.bettercheckout .cart-stock-status {
    color:#d20615;
    text-transform: none;
    font-size: 12px;
    margin-top: 10px;
    max-width: 22em;
}
.bettercheckout .cart-stock-status span {
    font-weight: normal;
}
.cart.bettercheckout .cart-collaterals {
    display: flex;
    margin-top: 60px;
    color: #434343;
    padding: 0px;
}
.cart .cart-collaterals a {
    color: #6F7073;
    text-decoration: underline;
}
.cart .cart-collaterals .totals-container {
    min-width: 300px;
    flex: 0 0 300px;
}

.cart .totals {
    background-color: #F7F8FA;
    padding: 20px;
    margin-top: 0;
}

.cart .cart-collaterals .cart-contacts {
    flex-grow: 1;
    color: #6F7073;
}
.cart-contacts-container {
    display: flex;
    flex-wrap: wrap;
}
.cart-contacts-container .cart-contacts-col {
    padding-right: 30px;
    margin-top: 20px;
}
.grid_24.cart-contacts {
    display:inline-block;
}
.cart-contacts-container .cart-contacts-col span{
    font-weight: 600;
}
.cart-contacts h1, .cart .totals h1 {
    font-size: 14px;
    font-weight: 600;
    color: #434343;
}
.cart .cart-contacts h2 {
    color: #434343;
}
.cart .totals .cart-promocode-link {
    color: #2294A7;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.cart .btn-checkout {
    width: 100%;
    background-color: #2294A7;
    cursor: pointer;
    color: #fff;
    text-align: center;
    padding: 10px 0 10px 0;
    font-weight: 600;
}
.cart .btn-checkout:hover, .cart.promocode-submit-button {
    background-color: #24A3B8;
}
.cart .btn-checkout span {
    float:none;
    display:inline-block;
    height:30px;
    line-height:30px;
    text-transform:uppercase;
    font-size:14px;
}
.checkout-footer-container {
    border-top: 1px solid #E0E0E0;
    margin: 100px 0 60px 0;
    padding: 20px 0 0 0;
    font-size: 10px;
}
.checkout-footer-links {
    float:left;
}
.checkout-footer-contacts {
    float:right;
}
.cart-promocode-content {
    display: none;
    margin: 20px 0 20px 0;
}
.cart-promocode-form {
    display: flex;
}
.cart-promocode-col1 {
    flex-grow: 1;
}
.cart-promocode-col2 {
    width: 120px;
    flex: 0 0 120px;
    height: 54px;
    background-color: #2294A7;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 54px;
    font-weight: 600;
    cursor: pointer;
}
select.referred-by.default-selected,
.aw-gc-amount-entry:invalid,
.aw-gc-amount-entry:default,
.bettercheckout select:invalid,
.bettercheckout select.default {
font-size: 12px;
font-weight: 500;
color:#a7a7a7;
}
input.cart-promocode.fancy-label {
    padding: 5px 0px 5px 10px;

}
input.fancy-label:invalid ~ input[type="submit"] {
    display: none;
}
.cart.bettercheckout .totals-container {
    float:none;
    margin-top: 0;
    box-sizing: border-box;
    position:relative;
}
.cart.bettercheckout .totals table td {
    padding:0 0 15px 0;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
}
.cart.bettercheckout .totals table td:first-child {
    padding-right: 0;
    text-align:left !important;
    vertical-align: middle;
}
.cart.bettercheckout .totals table tr:last-child td {
    font-weight: 600;
    padding: 20px 0 20px 0;
    border-top: 1px solid #E0E0E0;
}
.cart.bettercheckout .shopcart-header {
    text-transform: uppercase;
    text-align:left;
}
.cart.bettercheckout .bundle0 h2 a {
    color: #434343;
}
.cart.bettercheckout button.btn-checkout span {
    background: none;
}
button[name^=update_cart_action] {margin:auto;}
.shoppinglist-item-price,
.shopcart-item-price .cart-price .price,
.shopcart-item-totals .cart-price .price,
.orderstatus-item-qty {
    font-size: 14px;
    color: #404040;
    font-weight: 500;
}
.promocode-response-message {
    font-weight: normal;
    font-size: 12px;
    margin: 10px 0 5px 0;
}
.promocode-applied-response-message {
    font-weight: normal;
    font-size: 12px;
    margin: 10px 0 5px 0;
}
.success {
    color: #6F7073;
}
.error {
    color: #C70000;
}
.cart-change-discount, .calculate-shipping-link, .cart .cart-collaterals a.remove-giftcard {
    color: #2294A7;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}
.calculate-shipping-link {padding-right:20px;}
.selected-discount-title {padding-right:10px;}
.shipping-info-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 10px;
    cursor: pointer;
    line-height: 15px;
}
.shipping-info-link img {
    width: 15px;
    height: 15px;
}
.popup-shipping-info, .popup-return-policy {
    display: none;
    font-family: Whitney-Medium;
    font-size: 12px;
    color: #6F7073 ;
    letter-spacing: 0;
    line-height: 19px;
    padding: 20px;
}
.product-return-form-link {
    display:none;
}
.popup-shipping-info h1, .popup-return-policy h1 {
    text-align: center;
    font-size: 24pt;
    margin: 0 0 20px 0;
}
.popup-return-policy a {
    color: #2294A7;
}
.popup-shipping-info img {
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
}
.checkout-notice {
    cursor:pointer;
}
.cart-estimate-shipping-row {
    display: none;
}
#cart-selected-shipping-method, #cart-selected-giftcard, #cart-selected-discount {
    font-size: 12px;
    color: #6F7073;
}
.checkbox-wrap {
    margin-bottom:20px;
}
.bettercheckout .payment-info-box {
    clear: both;
    margin: 10px 0 20px;
}
.bettercheckout .spacer_20 {
    display: block;
    width: 100%;
    height: 20px;
    clear:both;
}
.bettercheckout input[type="radio"].payment-option {
    -webkit-appearance: radio;
}
.bettercheckout input, #bettercheckout-signin-form input {
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: 600;
    box-shadow: inset 0px 0px 0px 0px #404040;
}
.bettercheckout label.payment-option:after {
    content: " ";
    display: block;
    clear: both;
}
.bettercheckout input.cart-promocode:focus {
    border-right: none !important;
    -webkit-box-shadow: inset 0 0 0 2px #979797;
    box-shadow: inset 0 0 0 2px #979797;
}
.cart-totals-dropdown-container{
    margin-bottom: 10px;
    font-size: 12px;
}
.cart-shipping-method-option-container {
    clear: both;
}
.cart-shipping-method-label {
    float: left;
}
.cart-shipping-method-cost {
    float: right;
}
.btn-proceed-checkout-mobile {
    display: none;
}
.cart-contacts-col.return-policy {
    display: none;
}
.return-form-link {
    font-weight: 600;
    color: #2294A7;
    cursor: pointer;
}

/******** ONE PAGE CHECKOUT *********/

.checkout-cart-index .bettercheckout {
    margin-top: 20px;
}
.customer-group-view .shopcart-item-container {
    background-color:#ffffff;
    margin-top:20px;
    border: 1px solid #dddddd;
    border-radius: 6px;
}
.saved-cart {
    padding:20px;
}
.saved-cart,
.bettercheckout {
    font-size: 12px;
}
.bettercheckout .checkout-title {
    margin-bottom:30px;
}
.bettercheckout .checkout-title h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #404040;
    margin-bottom:5px;
}

#overwrap.bettercheckout {
    background: none;
    border-bottom: 2px solid #404040;
    height:80px;
}

.button-bordered {
    background-color: #fff;
    border: 2px solid #2294A7;
    text-transform: uppercase;
    font-size: 14px;
    color: #2294A7;
    line-height: 38px;
    height: 40px;
    font-weight: 600;
    text-align: center;
    padding: 0 10px 0 10px;
    cursor: pointer;
    min-width: 100px;
}

.forgot-pwd-btn {
	background-color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    color: #2294A7;
    line-height: 38px;
    height: 40px;
    font-weight: 600;
    text-align: center;
    padding: 0 10px 0 10px;
    cursor: pointer;
    min-width: 100px;
}

.button-bordered:hover {
    border-color: #24A3B8;
    color: #24A3B8;

}
.button-solid {
    background-color: #2294A7;
    border: 2px solid #2294A7;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    line-height: 38px;
    height: 40px;
    font-weight: 600;
    text-align: center;
    padding: 0 10px 0 10px;
    cursor: pointer;
    min-width: 100px;

}

.button-solid:hover {
    background-color: #24A3B8;
    border-color: #24A3B8;
}

.checkout-wrapper {
    position: relative;
}

.checkout-form {
}

.checkout-step h1 {
    text-transform: uppercase;
    font-size: 16px;
    color: #404040;
}

.checkout-step h1.checkout-shipping-header {
    margin-bottom: 16px;
    line-height: 16px;
}

.checkout-step {
    margin-top: 40px;
}

.checkout-step.first {
    margin-top: 0;
}
.checkout-recap-row {
    padding:6px 0;
}
.bettercheckout .checkout-recap {
    color: #404040;
    float:right;
}
.checkout-recap-total-label {
    float:left;
}

.checkout-recap-total-cost {
    float:right;
}

.checkout-recap-total-grandtotal {
    border-top: 1px solid #E0E0E0;
    margin:10px 0 0;
    padding: 25px 0;
}
.checkout-recap-totals {
    padding: 20px;
    background-color: #F7F8FA;
    font-weight: 600;
    font-size: 12px;
}
.checkout-recap-totals h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.checkout-recap-cart {
    margin-top: 40px;
    overflow-y: scroll;
    padding-right: 10px;
}
.checkout-recap-header {
    border-bottom: 1px solid #404040;
}
.checkout-recap-header h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display:inline-block;
}
.sign-in-header-wrap {
    background-color:#F7F8FA;
    padding:25px 20px;
    margin-bottom:30px;
    position:relative;
    top:-5px;
}
.sign-in-header-wrap .sign-in-title {
    margin:0 0 20px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight:600;
    color: #404040;
    white-space:nowrap;
}
.checkout-recap-header h2 span{
    padding-left:5px;
}
.sign-in-message {
    font-family: WhitneySemibold;
    font-size:14px;
    line-height: 40px;
    margin-bottom:10px;
}
.btn-white.sign-button {
    padding:8px 26px;
}
.method-type {
    cursor:pointer;
}
.myCheckbox input {
    display: none;
    position: relative;
    z-index: -9999;
}
.myCheckbox span {
    width: 15px;
    height: 15px;
    padding:1px;
    display: block;
    background: url(../../images/big-check-sprite.png);
    background-size:100% auto;
    background-position: bottom;
    cursor: pointer;
}
.myCheckbox input:checked + span {
    background: url(../../images/big-check-sprite.png);
    background-size:100% auto;
    background-position: top;
}

.checkout-subscription {
    /*border-top: 1px solid #E0E0E0;*/
    /*margin-top: 0px;*/
    /*padding-top: 20px;*/
    /* HIDDEN PER PROD-1494 06/30/17 */
    display:none;
}

.checkout-notice {
    line-height: 17px;
    font-weight: 600;
}

.checkout-billing-info {
    margin: 20px 0 20px 0;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 20px;
    display: none;
}

.checkout-billing-info-open {
    display: block;
}

.checkout-cc-info {
    margin: 20px 0 0 0;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
}
.logo-cart-item-container {
    position: relative;
}
.em_main > .saved-cart-container ~ .saved-cart-footer-wrap,
.saved-cart-container ~ .saved-cart-contacts-wrap,
.saved-cart-container {
    background-color:#f8f8f8;
}
.em_main > .saved-cart-container ~ .saved-cart-contacts-wrap,
.em_main > .saved-cart-container ~ .saved-cart-footer-wrap {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.saved-cart-container {
    margin-top: 40px;
}
.saved-cart-contacts-wrap {
    padding-top:40px;
}
#shoppinglist-item-embroidery,
#cart-item-embroidery {
    margin: 20px 0 0 0;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
}
.saved-cart-container .shopcart-header-row,
.shopcart-item-container {
    padding-left:15px;
}
.shopcart-item-container.shop-item-compact.clearfix {
    padding-bottom: 11px !important;
}
.cart-embroidery-options-subtotals {
    display: block;
    overflow: hidden;
}
.cart-embroidery-options-subtotals-hide dt.emb-unit-price-label,
.cart-embroidery-options-subtotals-hide dd.emb-unit-price {
    display: none;
}

.cart-embroidery-options-subtotals-hide dd {
    visibility: hidden;
}

.cart-embroidery-options-subtotals dt,
.cart-embroidery-options-subtotals dd {
    padding: 5px 0;
    display: inline-block;
}

.cart-embroidery-options-subtotals dt {
    float: left;
    clear: left;
}

.cart-embroidery-options-subtotals dd {
    float: right;
    clear: right;
    width: 70px;
    text-align: right;
}
.embroidery-label,
.embroidery-label-details{
    font-family: WhitneySemibold, sans-serif;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    line-height: 24px;
}

.out-custom-stock-status,
.cart-embroidery-message {
    font-size: 12px;
    color: #6f7073;
    font-style: italic;
    font-family: 'WhitneyBook', sans-serif;
    margin-top: 5px;
}

.cart-embroidery-message {
    display: none;
}

.alert-note {
    color: #d0021b;
}

.bettercheckout .description a {
    color: #2294A7;
    font-weight: 500;
}
.bettercheckout .item-options {
    font-size: 12px;
}
.bettercheckout .item-options .descript {
    display:none;
}
.bettercheckout .item-options .descript .customOp {
    border:1px solid #ddd;
    background-color:#f6f6f6;
    width:65%;
    position: absolute;
    z-index:100000;
    margin-top: 10px;
}
tr.edit-embroidery-link td {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.base-unit-price,
.base-unit-price-label {
    display: block;
    float: right;
    width: 70px;
    padding-left: 10px;
}

.bettercheckout input[type=number] {
    -moz-appearance:textfield;
}
.bettercheckout input[type=number]::-webkit-inner-spin-button,
.bettercheckout input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.shipping-alert-message {
    color: #d0021b;
}
#cart-estimate-shipping-method .shipping-alert-message {
    margin-top: 20px;
}
.cart-cvv-toggle-container{
    padding-top: 15px;
}
.checkout-gc-info {
    padding: 10px 0 10px 0;
}
.checkout-gc-link {
    background: #fff url(../../images/gc_icon.png) no-repeat left center;
    line-height: 40px;
    padding-left: 30px;
    font-weight: 600;
    color: #2294A7;
    cursor: pointer;
}
.checkout-gc-fields {
    display: none;
    padding-bottom: 10px;
}
.button-taller {
    height: 50px;
    line-height: 50px;
}
.checkout-customer-note, .checkout-recap-totals-mobile-container {
    border-top: 1px solid #E0E0E0;
    padding: 10px 0 10px 0;
}
.checkout-customer-note-link, .checkout-recap-totals-mobile-link span {
    font-weight: 600;
    margin-right:20px;
}
.edit-cart-link {
    display:none;
}
.checkout-customer-note-link, .checkout-recap-totals-mobile-link {
    line-height: 40px;
    padding-left: 30px;
    color: #2294A7;
    cursor: pointer;
}
.checkout-customer-note-link{
    background: #fff url(../../images/pen_icon.png) no-repeat left center;
}
.checkout-recap-totals-mobile-link{
    background: #fff url(../../images/cart_icon_blue.png) no-repeat left center;
    background-size: 20px 20px;
}
.checkout-customer-note-fields {
    display: none;
    padding-bottom: 10px;
}
.checkout-submit {
    margin-top: 20px;
}
#checkout-submit-button {
    box-sizing: border-box;
}
.shipping-method-container select {
    width: 100%;
}
.bettercheckout .shopcart-item-container.checkout-cart .shopcart-col-image {
    width: 100px;
    flex: 0 0 100px;
}
.bettercheckout .shopcart-item-container.checkout-cart .shopcart-col-image .shopcart-item-image img {
    width: 80px;
}
.bettercheckout .shopcart-item-container.checkout-cart .cart-embroidery-links {
    display: none;
}
.checkout-recap.topStill{
    position:fixed;
    top: -150px;
}
.checkout-recap.bottomStill{
    position: absolute;
    top: auto;
    bottom: 0;
}
.cart-view-all, .cart-show-less {
    display: none;
    float: right;
    color: #2294A7;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.bettercheckout .validation-advice,
#bettercheckout-signin-form .validation-advice{
    background: none;
    padding-left: 0px;
}
.bettercheckout .validation-failed, .bettercheckout input.validation-failed:focus {
    border: 2px solid #F36F7C !important;
    -webkit-box-shadow: inset 0 0 0 0 #F36F7C;
    box-shadow: inset 0 0 0 0 #F36F7C;
}
.bettercheckout .payment-not-required-box {
    margin: 20px 0 0 0;
    padding: 20px 0 40px 0;
    border-bottom: 1px solid #E0E0E0;
}
#checkout-giftcard-message {
    display: none;
}
#checkout-giftcard-message.error {
    font-weight: normal;
}
#checkout-giftcard-message.success {
    font-weight: normal;
}
.checkout-recap-total-giftcard {
    color: #6F7073;
    font-size: 12px;
}
.checkout-recap-total-giftcard  a {
    color: #2294A7;
}
#checkout-gc-balance {
    padding-top: 4px;
    font-weight: 600;
    line-height: 20px;
    float: left;
    font-size:14px;
}
#checkout-gc-success-message-container {
    display: none;
    font-weight: 600;
    margin: 20px 0 20px 0;
}
.gc-success-message, .gc-success-message-link {
    float:none;
}
.gc-success-message-link a {
    color: #2294A7;
}
input[name="shipping[postcode]"],
input[name="billing[postcode]"] {
    text-transform: uppercase;
}
#cc_number {
    background-image: url(../../images/credit-cards-logos-vertical.png);
    background-size: 55px 330px;
    background-repeat: no-repeat;
    padding-right: 80px;
    background-position: calc(100% - 10px) 0px;
}
#cc_number.visa {
    background-position: calc(100% - 10px) -188px;
}
#cc_number.amex {
    background-position: calc(100% - 10px) -96px;
}
#cc_number.mastercard {
    background-position: calc(100% - 10px) -279px;
}
#cc_number.discover {
    background-position: calc(100% - 10px) -233px;
}
.checkout-cc-info .checkout-new-cc-fields.invisible {
    display:none;
}
#popup-sign-in {
    display: none;
}
.bettercheckout.checkout-success {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px;
}
.bettercheckout.checkout-success span.brighter {
    font-weight: 600;
    color: #404040;
}
.bettercheckout.checkout-success h1 {
    font-size: 36px;
    color: #404040;
}
.bettercheckout.checkout-success h2 {
    font-size: 30px;
    color: #404040;
}
.bettercheckout.checkout-success h3 {
    font-weight:600;
    color: #404040;
}
.success-create-account {
    background-color: #F7F8FA;
    padding: 40px;
    margin: 40px 0 40px 0;
    text-align: center;
}
.bettercheckout .success-create-account h1 {
    font-size: 24px;
}
.success-create-account-fields {
    margin: 20px auto;
}
.checkout-success .success-icons{
    background: url(../../images/success_icon_set.png) no-repeat center center;
    background-size: 25%;
    line-height: 40px;
    min-height: 80px;
    margin-bottom: 10px;
}
.checkout-success .confirmation-message {
    line-height: 24px;

}
.button-solid.disabled {
    background-color: #ddd;
    border-color: #ddd;
    cursor: default;
}
#checkout-submit-button-disabled {
    display: none;
    background-color: #ddd;
    border: none;
    cursor: default;
    box-sizing: border-box;
}
.animated-dots {
    position: absolute;
    left: 100%;
    bottom: 0px;
}
.inline-loader-wrap,
.static-prefix {
    position: relative;
    display: inline-block;
}
.inline-loader-wrap {
    color:inherit;
    font-size:inherit;
    font-weight:inherit;
}
.system-error {
    position: fixed;
    background-color: #d0021b;
    color: #fff;
    text-align: center;
    padding: 20px;
    z-index: 12000;
    width: 100%;
    display: none;
    box-sizing: border-box;
    cursor: pointer;
}

.system-error div {
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
}

.success-social-icons {
    margin:40px auto;
    background-color: #efefef;
    padding: 40px;
}

.success-social-icons-container {
    display: flex;
    width: 50%;
    margin: 0px auto;
}

.success-social-icons .label {
    color: #404040;
    font-weight: 600;
    line-height: 24px;
    width: 250px;
    text-align: left;
}

.success-social-icons .social-icon {
    flex-grow: 1;
    flex-flow: row wrap;
    line-height: 40px;
    background-size: 50%;
    cursor: pointer;
}

.success-social-icons .facebook {
    background: url(../../images/social_icons/facebook-black.png) no-repeat center center;
    background-size:60%;
}

.success-social-icons .google {
    background: url(../../images/social_icons/google-black.png) no-repeat center center;
    background-size:60%;
}

.success-social-icons .instagram {
    background: url(../../images/social_icons/instagram-black.png) no-repeat center center;
    background-size:60%;
}

.success-social-icons .pinterest {
    background: url(../../images/social_icons/pinterest-black.png) no-repeat center center;
    background-size:60%;
}

.success-social-icons .twitter {
    background: url(../../images/social_icons/twitter-black.png) no-repeat center center;
    background-size:60%;
}

.success-social-icons .youtube {
    background: url(../../images/social_icons/youtube-black.png) no-repeat center center;
    background-size:60%;
}

.save-for-future {
    display: none;
}

.checkout-recap-totals-mobile-container {
    display:none;
}
.radio-row {
    margin-top:15px;
}
input.estimate-method {
    background:transparent;
    border:none;
}
.field-row {
    margin-bottom: 18px;
}
.field-row-small {
	margin-bottom: 10px;
}
.checkout-item-emb {
    margin-top:10px;
}
.checkout-item-emb-label {
    font-family:WhitneySemibold;
    font-size:14px;
    margin-bottom: 5px;
}
.bettercheckout .cart-stock-status-msg,
.checkout-item-embroidery-link {
    font-family:WhitneyMedium;
    font-style: italic;
    font-size:12px;
    font-weight:100;
    text-transform: none !important;
}

.checkout-recap-cart .cart-view-embroidery-link {
    display: none;
}

span.cart-item-attribute {
    font-weight: 600;
    color:#6f7073;
    font-size:12px;
}

.pac-item-link {
    color: #2294A7;
}

.manual-address-link, .auto-lookup-link {
    font-weight: 600;
    color: #2294A7;
    cursor: pointer;
}

.auto-lookup-link {
 display: none;
}

#estimate-delivery-time {
    font-family:WhitneyMedium;
    font-style: italic;
    font-size:14px;
    font-weight:100;
    padding: 0;
    text-transform:none;
}
.estimate-method-label {
    display:inline-block;
}
.estimate-method-price {
    font-family:WhitneySemibold;
}
.estimate-method-title {
    font-family:WhitneyMedium;
    font-weight:100;
}
.canadian-note {
    display: none;
}

.canadian-note h1, .cart .canadian-note-mobile-extended h1 {
    color: #d0021b;
    margin-top: 20px;
    text-transform: none;
}

.cart .canadian-note {
    padding-right:20px;
}
.cart .canadian-note h1, .cart .canadian-note-mobile-extended h1 {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-top: 20px;
}

.cart .canadian-note-mobile-extended {
    font-weight: normal;
    font-size: 12px;
    display: none;
}

.canadian-note-mobile {
    display: none;
}
.canadian-note-mobile-link {
    color: #2294A7;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;
}

.cc-field {
    margin-right: 10px;
    float: left;
}

.cc-number-field {
    width: 45%;
}

.cc-year-field {
    width: 20%;
}

.cc-month-field {
    width: 20%;
}

.cc-cvv-field {
    position: relative;
    width: 10%;
    margin-right: 0;
}
#cvv-tooltip-icon {
    position: absolute;
    top: 0;
    right: -20px;
    width: 16px;
    height: 16px;
    background: url('../../images/icons/bettercheckout/security-code-tool-tip.png') no-repeat;
    background-size: cover;
}
#cvv-tooltip-content {
    display: block;
    position: absolute;
    background: url('../../images/icons/bettercheckout/security-code-default.png') no-repeat;
    height: 155px;
    width: 205px;
    background-size: cover;
    top: -155px;
    right: -30px;
    z-index: 100;
}
#ordercomment-comment {
    width: 100%;
    height: 100px;
    color: #6F7173;
    font-size:14px;
    font-weight: 600;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #A7A7A7;
    background: #fff;
    overflow-x: hidden;
}

#ordercomment-comment::-webkit-input-placeholder {
    color: #a7a7a7;
    font-size: 12px;
}
#ordercomment-comment::-moz-placeholder {
    color: #a7a7a7;
    font-size: 12px;
}
#ordercomment-comment:-ms-input-placeholder {
    color: #a7a7a7;
    font-size: 12px;
}
#ordercomment-comment:-moz-placeholder {
    color: #a7a7a7;
    font-size: 12px;
}
.MSG-cart-and-checkout-shipping-notice {
    font-size: 14px;
    font-weight: 600;
    color:#404040;
    text-transform: uppercase;
    text-align: left;
    line-height:18px;
    border: 2px solid #404040;
    padding: 15px;
}
.checkout-cart-index .MSG-cart-and-checkout-shipping-notice {
    text-align: center;
    margin-bottom: 25px;
}

.embroidery-details-toggle {
    /* display: none; */
    cursor: pointer;
    font-size: 12px;
}

.expand-contract-caret {
    display: block;
    float: right;
    font-size: 1em;
    transition: all .45s ease;
    margin: 0 3px;
    height: 24px;
    line-height: 24px;
    -webkit-transform: scale(1.25,.75) rotate(180deg);
    -moz-transform: scale(1.25,.75) rotate(180deg);
    -ms-transform: scale(1.25,.75) rotate(180deg);
    -o-transform: scale(1.25,.75) rotate(180deg);
    transform: scale(1.25,.75) rotate(180deg);
}
.info-tooltip-content {
    margin: 40px auto 0 40.5% !important;
}
.shopcart-item-qty {
    white-space:nowrap;
}
.cart-basket .shopcart-secure {
    visibility: hidden;
}

.sticky-totals-secure {
    clear: both;
    color: black;
    opacity: 0.5;
    padding-top: 15px;
    text-align: center;
}

.sticky-totals-secure .shopcart-secure {
    float: none;
    display: inline-block;
}
.shopcart-col-qty {
    text-align:center;
}
.shopcart-item-totals {
    text-align:left;
}


@media screen and (min-width: 1011px) {
    .shopcart-item-price {
        text-align: left;
    }
    .shopcart-col-subtotal,
    .shopcart-item-totals {
        text-align:center;
    }
}

@media screen and (min-width: 1011px) and (max-width: 1245px) {
    .shopcart-item-th {
        visibility: hidden;
    }
    .shopcart-header-container .shopcart-titles {
        position: absolute;
        top: 19px;
    }
    .saved-cart-container .shopcart-titles {
        position: static;
    }
    .shopcart-col-price {
        max-width: 20px;
    }
    .shopcart-col-image {
        max-width: 190px;
    }
}
/***************************** Mobile ******************************/

@media screen and (max-width: 1010px) {
    .saved-cart-container .shopcart-col.shopcart-col-qty {
        width:auto;
        flex:none;
        position:static;
        float:none;
    }
    .saved-cart-container .shopcart-col.shopcart-col-qty {
        margin-top:5px;
    }
    .saved-cart-container .shopcart-col.shopcart-col-subtotal {
        margin-top:15px;
        position:static;
        float:none;
    }

    .shopcart-header-row {
        display: none;
    }
    .shopcart-header-container .shopcart-titles {
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    .saved-cart-container .shopcart-titles {
        margin-left:15px;
    }
    .shopcart-col-price {
        display: none;
    }
    ul.shopcart-action-links li a,
    #shopping-cart-table .shopcart-col .shopcart-item-qty button {
        font-size: 12px;
    }
    .acct-prompt-main {
        padding:0 20px;
    }
    #bettercheckout-create-account .field-wrap {
        width:73%;
    }
    .acct-btn-wrap {
        width:27%;
    }
    .cc-number-field {
        width: 100%;
        display: block;
        margin-right:0px;
    }
    .cc-year-field {
        width: 30%;
    }
    .cc-month-field {
        width: 30%;
    }
    .cc-cvv-field {
        width: 20%;
        margin-right: 0px;
    }
    .shopcart-col-item-main {
        min-height: auto;
        max-width: 32em;
    }

    .info-tooltip-content {
        margin: 67px auto 0 auto !important;
    }
    .shopcart-cols-container {
        display: block !important;
    }
    .shopcart-item-price.base-unit-price {
        display: none;
    }

    .shopcart-col.shopcart-col-subtotal {
        margin: 82px 0 0;
    }

    .shopcart-col.shopcart-col-qty,
    .shopcart-col.shopcart-col-subtotal {
        float: left;
        clear: left;
        position: absolute;
    }
    #cart-item-embroidery {
        float: left;
        margin: 95px 0 0 0;
        border: 0;
    }
    .shopcart-item-totals {
        margin-top: -15px;
    }
    .shopcart-item-container.moved-msg {
        min-height: auto;
    }
}

@media screen and (min-width: 1269px) {
    .checkout-recap-cart h2 {
        font-size: 12px;
    }
    .shopcart-col-item {
        width: 120px;
    }
    .bettercheckout .cart-stock-status {
        max-width: 32em;
    }
}

@media only screen and (max-width: 768px) {
    .shopcart-item-container.logo-cart-item-container.clearfix {
        min-height: 100px;
    }
    .shopcart-cols-container {
        max-width: 200px;
    }
    button.update-qty-button {
        position: absolute;
        left: 65px;
        width: 50px;
        top: 20px;
    }
    .shopcart-items-collection {
        border-bottom: none;
    }
    .header-links {
        display:none;
    }
    .shopcart-secure-lock, .shopcart-secure {
        overflow:hidden;
        width: 0;
        margin-right:20px;
    }
    .sticky-totals-secure {
        display: none;
    }
    .shopcart-header-container .shopcart-titles .shopcart-title {
        float: left;
        text-align: center;
        padding-top: 5px;
        display: inline;
        padding-left: 24px;
        font-size: 18px;
    }
    .cart-contacts-container {
        flex-wrap: wrap;
    }
    .cart-contacts h1 {
        margin-top: 20px;
        cursor: pointer;
        color: #2294A7;
    }
    .checkout-footer-container {
        margin-top: 20px;
    }
    .bettercheckout .checkout-recap {
        float:none;
    }
    .acct-prompt-main {
        padding:0;
    }
    .prompt-copy {
        padding:0 20px 0 0;
    }
    .success-create-account {
        padding:20px;
    }
    .col-img-wrap {
        width:100px;
        height:100px;
    }
    .acct-prompt-lower h3 {
        font-size:16px;
    }
    .acct-btn-wrap,
    #bettercheckout-create-account .field-wrap {
        width:100%;
        float:left;
        margin-bottom:10px;
    }
    #bettercheckout-create-account .field-wrap .input-wrap:last-of-type {
        margin-right:0;
        float:right;
    }
    #overwrap.bettercheckout {
        border-bottom:none;
        height:66px;
    }
    #overwrap.bettercheckout .header-container {
        border-bottom: 2px solid #404040;
    }
    .checkout-submit {
        margin-top: 20px;
    }
    .sign-in-message {
        float: none;
    }
    .sign-button {
        float: none;
    }
    .checkout-step.first {
        margin-top: 40px;
    }
    .checkout-form .page-title h1 {
        text-align: center;
        margin-bottom: 0;
    }
    .grid_1.checkbox {
        float: left;
        margin-right: 10px;
    }
    #checkout-gc-apply-button {
        float: left;
        width: 40%
    }
    #checkout-gc-check-button {
        float: right;
        width: 40%
    }
    .grid_6.giftcard-container {
        margin-bottom: 10px;
        display: block;
    }
    #checkout-gc-balance {
        width: 100%;
        margin-top: 20px;
    }
    .gc-success-message-link a {
        padding-left: 0px;
    }
    div.checkout-submit-button-mobile {
        display: inline-block;
        margin-top: 20px;
    }
    #checkout-submit-button {
        display: none;
    }
    .system-error {
        width: calc(100% - 20px);
    }
    .checkout-recap-cart {
        display: none;
    }
    .checkout-recap-totals-mobile-container {
        display:block;
    }
    .checkout-notice {
        line-height: 18px;
        display: block;
    }
    .bettercheckout .shopcart-item-container:last-child {
        border-bottom: none;
    }
    .container_24 .checkout-fields.grid_8.keep-in-row,
    .container_24 .checkout-fields.grid_7.keep-in-row,
    .container_24 .checkout-fields.grid_4.keep-in-row,
    .container_24 .checkout-fields.grid_3.keep-in-row,
    .container_24 .checkout-fields.grid_2.keep-in-row {
        width: 48%;
        display: inline-block;
    }
    .container_24 .checkout-fields.grid_8.keep-in-row.align-right,
    .container_24 .checkout-fields.grid_7.keep-in-row.align-right,
    .container_24 .checkout-fields.grid_3.keep-in-row.align-right {
        float:right;
    }
    .checkout-gc-info, .checkout-recap-totals-mobile-container, .checkout-customer-note {
        text-align: center;
    }
    .checkout-gc-link, .checkout-recap-totals-mobile-link, .checkout-customer-note-link{
        display: inline-block;
    }
    .checkout-recap-totals-mobile {
        display: none;
    }
    #checkout-gc-apply-button, #checkout-gc-check-button {
        margin-top:10px;
    }

    #cart-item-embroidery {
        padding-top: 0;
        max-width: 200px;
        overflow: hidden;
    }
    .open-cart-embroidery {
        margin-top: 5px;
    }
    .embroidery-label-details .cart-embroidery-control {
        margin-left: 0 !important;
        clear: both;
        float: left;
    }
    .cart-embroidery-options-subtotals {
        display: block;
        overflow: hidden;
    }
    .cart-embroidery-options-subtotals dt.emb-unit-price-label,
    .cart-embroidery-options-subtotals dd.emb-unit-price {
        /* display: inline-block; */
    }
    .cart-embroidery-options-subtotals dt,
    .cart-embroidery-options-subtotals dd {
        padding: 5px 0;
        display: inline-block;
    }

    .cart-embroidery-options-subtotals dt {
        /* float: right;
        clear: right;
        margin-right: 5px; */
    }

    .cart-embroidery-options-subtotals dd {
        /* float: left;
        clear: left;
        width: 70px; */
    }
    .cart-basket .shopcart-secure {
        visibility: visible;
    }

    .shopcart-col.shopcart-col-qty {
        margin: 0 0 15px 0;
    }
    .logo-cart-item-container .shopcart-col.shopcart-col-subtotal,
    .logo-cart-item-container .shopcart-col.shopcart-col-qty {
        position: relative;
    }
    .logo-cart-item-container .shopcart-col.shopcart-col-qty {
        display: none;
    }
    .logo-cart-item-container .shopcart-col.shopcart-col-subtotal {
        margin: 0;
    }
}

@media only screen and (min-width: 768px) {
    .cart-promocode-form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .cart-promocode-col1 {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }
    .cart-promocode-col1 input.cart-promocode.fancy-label {
        height: 40px;
        padding: 10px 0 5px 10px;
    }
    .cart-promocode-col1 input.cart-promocode.fancy-label ~ label > span {
        top: -29px;
    }
    .cart-promocode-col1 input.cart-promocode.fancy-label:focus ~ label > span {
        top: -40px
    }

    .cart-promocode-col2 {
        /* Weird width to account for border */
        width: 99%;
        max-height: 36px;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        color: #2294A7;
        line-height: 38px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        border: 2px solid #2294A7;
    }
}

@media only screen and (max-width: 768px) {
    .cart .cart-collaterals {
        flex-wrap: wrap-reverse;
        margin-top: 20px;
    }
    .cart .cart-collaterals .totals-container {
        flex: 0 0 100%;
    }
    .checkout-footer-links, .checkout-footer-contacts {
        float: none;
        text-align: center;
    }
    .btn-proceed-checkout-mobile {
        display: block;
        background-color: #F7F8FA;
        padding: 20px;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 120px;
        width: 100%;
        overflow:hidden;
        box-sizing: border-box;
        z-index: 100;
        border-top: 1px solid #E0E0E0;
    }
    .checkout-mobile-totals {
        clear: both;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .checkout-mobile-total-label {
        float: left;
    }
    .checkout-mobile-total-amount {
        float: right;
    }
    .btn-proceed-checkout-desktop {
        display: none;
    }
    .checkout-footer-container {
        margin-bottom: 140px;
    }
    .cart .cart-contacts {
        margin-bottom: 120px;
    }
    .cart-contacts-container {
        display: none;
    }
    .checkout-footer-container{
        margin-top: 0px;
        display: none;
    }
    .cart-contacts-col.return-policy {
        display: block;
    }
    .cart .cart-collaterals .cart-contacts .cart-contacts-col.return-policy h2 {
        color: #2294A7;
        cursor: pointer;
    }
    .bettercheckout .item-options .descript .customOp {
        left: 10px;
        width: 95% !important;
    }
    .shopcart-col-item {
        width: 100% !important;
    }
}

@media screen and (max-width: 567px) {
    ul.shopcart-action-links li.saveLaterLink {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    ul.shopcart-action-links li:not(:last-child) {
        border: none;
    }
    ul.shopcart-action-links li:first-child {
        border-right: 1px solid #D9D9D9;
    }
}

@media only screen and (max-width: 480px) {
    .prompt-copy-wrap,
    .prompt-img-wrap {
        display:block;
        width:auto;
    }
    .prompt-img-wrap {
        max-width:300px;
        margin:auto;
    }
    .prompt-copy-wrap {
        margin-bottom:20px;
    }
    .prompt-copy {
        padding:0;
    }
    .prompt-copy h1 {
        text-align:center;
    }
    .lower-col-wrap {
        width:100%;
        margin:0 0 20px 0;
    }
    #bettercheckout-create-account .field-wrap {
        margin-bottom:0;
    }
    #bettercheckout-create-account .field-wrap .input-wrap {
        margin:0 0 10px 0;
        width:100%;
    }
    .acct-prompt-form {
        margin-top:0;
    }

    .shopcart-col-image {
        width: 210px;
        flex: 0 0 40%;

    }
    .shopcart-item-image a.product-image img{
        width: 130px !important;
    }
    ul.shopcart-action-links li:last-of-type {
        margin-right:0;
    }
    .saved-cart-container .shopcart-item-container {
        margin: 15px 10px;
    }
    .saved-cart-container .shopcart-titles {
        margin-left: 10px;
    }
}

.embroidery-details-toggle {
     display: inline-block;
     float: right;
     clear: right;
     color: #2294a7;
     font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
     line-height: 25px;
     margin-left: 10px;
 }
.embroidery-details-container {
    overflow: hidden;
    height: 0;
    transition: height 1s ease;
    clear: both;
}

.embroidery-details-toggle.embroidery-toggle-expanded .expand-contract-caret {
    -webkit-transform: scale(1.25,.75) rotate(0deg);
    -moz-transform: scale(1.25,.75) rotate(0deg);
    -ms-transform: scale(1.25,.75) rotate(0deg);
    -o-transform: scale(1.25,.75) rotate(0deg);
    transform: scale(1.25,.75) rotate(0deg);
}

.embroidery-details-container {
    transition: all .45s ease;
    height: 0;
    -moz-transform: scale(1,0);
    -o-transform: scale(1,0);
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    overflow: hidden;
}

.embroidery-details-container.embroidery-details-expanded {
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    height: auto;
}
#inline-billing-notification {
    overflow: hidden;
}
#inline-billing-notification.error {
    color: #6F7073;
    font-weight: 400;
    background-color: #fbf8ee;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-left: 5px solid #d0021b;
}
#inline-billing-notification .error-icon {
    float: left;
    clear: left;
    width: 20px;
    height: 20px;
    background: url('../../images/icons/bettercheckout/error-icon.png') no-repeat;
    background-size: cover;
}

#inline-billing-notification .message {
    line-height: 20px;
    font-weight: 500;
    margin-left: 10px;
    display: inline-block;
    color: #333;
}

.highlight-field {
    background-color: #fbf8ee !important;
    border: 1px solid #A7A7A7 !important;
}


@media only screen and (max-width: 479px) {
    .sign-in-header-wrap .sign-in-title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    .shopcart-secure {
        margin-top:10px;
    }
}

@media only screen and (max-width: 1011px) {
    .checkout-cart-index .promo-thanks-ship-msg {
        margin-top:0;
    }
}

@media only screen and (max-width: 1010px) {
    .saved-cart-container .shopcart-col-item {
        width:auto;
    }
    .saved-cart-container .shopcart-cols-container {
        padding-right:15px;
    }
}

@media screen and (max-width: 960px) {
    .checkout-recap-header h2 {
        font-size: 13px;
    }
    .shopcart-item-container {
        margin:0;
        padding-left: 0;
        flex-flow: row wrap !important;
        justify-content: center;
        min-height: 240px;
    }
    .saved-cart-container .shopcart-col-image {
        flex: 0 0 160px;
    }
    .saved-cart {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 768px) {
    .checkout-cart-index .promo-thanks-ship-msg {
        margin-top:5px;
    }
}

@media only screen and (max-width: 480px) {
    .saved-cart-container .shopcart-col-image {
        flex: 0 0 100px;
    }
    .saved-cart-container .shopcart-item-image a.product-image img {
        width:100% !important;
    }
    .saved-cart-container .shopcart-cols-container {
        padding-right: 10px;
    }
}
/* two column cart layout */
.cart-basket {
    margin-bottom: 50px;
}
.cart > .cart-contacts {
    margin-bottom: 40px;
}
.cart-basket .empty-cart {
    margin-top: 0;
}
.cart-empty a {
    color: #2294A7;
}
.checkout-footer-container {
    margin-top: 0;
}
.cart .btn-proceed-checkout.disabled {
    background: #bbb;
    color: #fff;
}

@media screen and (min-width: 769px) {
    .cart {
        overflow: hidden;
    }
    .cart-basket {
        float: left;
        max-width: 960px;
        overflow: hidden;
        width: 61.803398875%;
        width: calc(100vw - 250px - 35px);  /* full width - sidebar - margins */
    }
    .cart > .cart-contacts {
        clear: left;
        margin-bottom: 0;
    }
    .sticky-totals {
        float: right;
        width: 250px;
        will-change: min-height;
    }
    .totals-container {
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }
    .checkout-footer-container {
        margin-top: 55px;
    }
}

@media screen and (min-width: 1246px) {
    .cart-basket {
        width: calc(100vw - 250px - 30px);  /* full width - sidebar - margins */
    }
}

@media screen and (min-width: 1268px) {
    .cart-basket {
        width: calc(100vw - 250px - 50px);  /* full width - sidebar - margins */
    }
}

