iframe.sidebarEdit {
    border:none;
}
.sidebarEdit-wrap {
    display:flex;
    flex-flow:column;
    -webkit-overflow-scrolling: touch;
    overflow-y:scroll;
    height:100%;
}
.sidebarEdit {
    flex:1 1 auto;
}
.checkout-cart-configure .product-name {
    margin-top:10px;
}
.checkout-cart-configure .si-actions .pdp-add-to-cart-wrap {
    margin:0;
}
.checkout-cart-configure #default_price {
    margin:0 0 20px 0;
    display:block;
}
.checkout-cart-configure .product-view .product-essential {margin-top:0;}
#sidebarOverlay {
    position:absolute;
    top:0;
    left:0;
    background-color:transparent;
    z-index:-1;
}
#sidebarOverlay.active {
    height:100%;
    width:100%;
    z-index:6000;
}
.checkout-cart-configure .si-actions {
    border:0;
    padding:0;
}
.checkout-cart-configure.catalog-product-view #ProductDetail_UpsellProducts-Container {padding-top:0;}
.checkout-cart-configure.catalog-product-view .product-view {margin:0;}
.checkout-cart-configure.catalog-product-view .grid_24.em_main.omega.alpha {margin:0;}
.checkout-cart-configure.catalog-product-view #ProductDetail_ProductImage-Container {margin: 0 0 12px 0;}

@media screen and (max-width:320px) {
    #sidebar-cart-carousel-wrap .jcarousel-control-next,
    #sidebar-cart-carousel-wrap .jcarousel-control-prev {display:none;}
}