.better-embroidery .password-switch {
    top: 20px;
}
.signin-link {
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: 'WhitneySemibold', sans-serif;
    font-size: 14px;
}
.signin-link .embroidery-link,
.panel-intro-text {
    font-family: Whitney SSm A, Whitney SSm B, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 12px;
}
#signin input, #createAccount input {
    margin-top: 10px;
}
.password-copy {
    font-family: WhitneySemibold, sans-serif;
    margin-bottom:10px;
}
.forgot-password {
    text-transform: uppercase;
    text-align: center;
    margin: 18px auto;
    display:inline-block;
}
.embroidery-logos .column.name {
    min-width: 120px;
}
.embroidery-logos .column.status {
    max-width: 250px;
}
.embroidery-logos .logo-row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}
.embroidery-logos .column {
    float: left;
    padding-right: 40px;
    padding-bottom: 10px;
}
.embroidery-logos .column:last-child {
    padding-right: 0px;
}
.embroidery-logos .image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 160px;
    height: 105px;

}
.embroidery-logos .title {
    font-weight: bold;
}
.embroidery-logos {
    margin-top: 20px;
}
.failed-signin {
    background-color: #FFD8D8;
    color: #D0011B;
    padding: 5px;
    font-family: Whitney, sans-serif;
    margin-bottom: 5px;
}
.sign-in-wrapper {
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
    font-family: WhitneySemibold, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.sign-in-wrapper div {
    color: #2294a7;
    cursor: pointer;
    display: inline-block;
}
.logo-tier-price-info {
    font-size: 12px;
}
.logo-tier-price-info .tier-column div:nth-child(2) {
    padding: 5px;
}
.logo-name {
    font-weight: bold;
    margin-bottom: 10px;
}
.logo-stitch-count {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.logo-tier-grid-wrap {
    margin-bottom: 10px;
}
.setup-checkmark {
    width: 15px;
    vertical-align: middle;
}
#si-accordion-instructions-wrap .type-container {
    padding-bottom: 30px;
}
#acfLogos .opt-lbl-wrap, #acfLogos .opt-wrap-rounded {
    background-color: #2294a7;
}
#acfLogos .opt-lbl-wrap {
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
}
.tier-pricing-wrapper{
    width: 80%;
    margin: 5px auto 5px auto;
}
.tier-pricing-link {
    font-family:WhitneySemibold, sans-serif;
    color:#2294a7;
    cursor: pointer;
    margin-bottom: 10px;
    position:relative;
}

.tier-price-caption {
    line-height: 1.5;
    margin-top: 10px;
}
.tier-column {
    float: left;
    border-right: 1px solid #6f7073;
    width: 33%;
}
.tier-column.last {
    border-right: none;
}
.tier-column div:first-child {
    border-bottom: 1px solid #6f7073;
}
.tier-column div:nth-child(2) {
    font-weight: bold;
}
.tier-column > div {
    padding-top: 5px;
}
.tier-column div {
    text-align: center;
}
.tier-pricing-header {
    text-align: center;
    margin: 15px auto 10px auto;
    width: 90%;
    font-family:WhitneySemibold, sans-serif;
}
.acc-arrow {
    display:inline-block;
    border-left: 5px solid #2294a7;
    margin-left:5px;
    width: 5px;
    height: 10px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    transition:all 250ms ease-in-out;
}
.expanded .acc-arrow {
    transform:rotate(90deg);
}
.instructions-heading {
    background-color: #f4f3f3!important;
    border-bottom: 0 !important;
    padding-top: 12px;
}
.instruction-text {
    padding-right:30px;
    line-height:18px;
}
.discount-embroidery-alert span {
    font-size: 12px;
    color: #999;
    font-weight: normal;
    line-height: 25px;
    color: green;
}
.advisory.emphasis {
    color:#C90505;
}
.advisory.logoAdvisory {
	padding-left: 0;
	color: #bf2c2c;
	font-weight: bold;
    font-family: WhitneySemibold, sans-serif;
    font-size: 11px;
}
.emb-toggle {
    padding:0 20px 10px;
    cursor:pointer;
}
.emb-check-wrap {
    display:none;
}
.emb-check-wrap.active {
    display:block;
}
.emb-check-wrap .blue-link {
    float:left;
}
#logos .blue-link {
    text-decoration: none;
    padding: 0px;
    text-transform: none;
}

.embroidery-link {
    cursor: pointer;
    color: #2294a7;
    text-decoration: none;
    padding-top: 10px;
}

.blue-link {
    cursor: pointer;
    color: #2294a7;
    text-decoration: underline;
    text-transform:lowercase;
    padding: 0 8px;
}

.option-customization-wrap .separator {
    float:left;
}
.option-customization-wrap .lbl-title {
    display:block;
}

.artwork-name {
    font-family: whitneybook, sans-serif;
}
.artwork-link {
    font-family: whitneybook, sans-serif;
    color: #2294A7;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
}
.artwork-edit-wrapper {
    margin: 10px 0 10px 0;
}

.artwork-edit-recap {
    float: left;
}
.logo-upload-progress {
    padding: 14px;
    width: 100%;
    color: #2294A7;
    border: 2px solid #2294a7;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-family: whitneybook, sans-serif;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    box-sizing: border-box;
    letter-spacing: normal;
}
.logo-wrap img {
    width: 50px;
}
.logo-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: inline-block;
    text-align: center;
    left: 50%;
}
.logo-placeholder {
    text-align: center;
    position: relative;
    min-height: 200px;
    border: 2px dashed #e1e1e1;
    background-position: center;
    background-repeat: no-repeat;
}
.opt-swatch.customer-logo {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.logo-artwork  {
    min-height: 200px;
    border: 2px dashed #e1e1e1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.image-upload-btn, .image-remove-btn {
    margin-bottom: 20px;
}
.image-upload-btn input {
    visibility: hidden;
}

.image-upload-button {
    background-color: #2294A7;
    transform-origin: 0;
    transition-property: transform;
    transition-duration: 0s;
    height: 100%;
    opacity: 1;
}

.button-background {
    background-color: #2294A7;
    transition-property: height;
    transition-duration: .8s;
    height: 50px;
}

.shrink {
    height: 20px;
    overflow: hidden;
}

.fade-out {
    transition-property: opacity;
    opacity: 0;
}

.rm-txt {
    margin-right: 35px;
    color: #6F7073;
    cursor: pointer;
}

.rm-txt:hover {
    color: #2294a7;
}

.shrink button {
    text-indent: -900000000px;
}

.rm-btn {
    border: none;
    font-family: WhitneySemibold;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    float: right;
    margin-top: 5px;
    background-color: #ffffff;
}

.bold-ex {
    stroke-width: 2px;
}

.rm-ex {
    padding-top: 50px;
}

.logo-fineprint {
    font-weight: normal;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    line-height: 20px;
    margin-bottom:10px;
}
.logo-fineprint span {
    font-weight: bold;
}
ul.logo-requirements {
    list-style-type: none;
    margin: 1.4em 0;
}
ul.logo-requirements li {
    font-weight: 600;
}
ul.logo-requirements li:before {
    content: "\2013";
    font-weight: normal;
    margin-right: 0.3em;
}
.embroidery-review-wrapper {
    padding: 20px;
}
.embroidery-review-wrapper tr.textline-wrapper td:last-of-type {
    padding: 6px 0;
    text-align:right;
}
.embroidery-review-wrapper:last-of-type tr:last-of-type,
.embroidery-review-wrapper:last-of-type tr:last-of-type td { border-bottom:none !important;}
.embroidery-review-wrapper .location {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9pt;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.embroidery-review-wrapper .type,
.embroidery-review-wrapper .embroidery-review-image,
.embroidery-review-wrapper .embroidery-review-name,
.embroidery-review-wrapper .embroidery-text-line,
.embroidery-review-wrapper .embroidery-text-color,
.embroidery-review-wrapper .embroidery-text-style
{
    padding: 6px 10px 6px 0;
    font-size: 9pt;
}
.embroidery-review-wrapper .textline-wrapper {
    clear:both;
}
.embroidery-review-wrapper .embroidery-row {
    clear:both;
    margin-bottom: 10px;
}

.discount-embroidery-alert {
    margin-bottom: 10px;
}

/* ZACK */
#bind-embroidery {
    display:inline-block;
}
.fancybox-overlay {
    z-index:11000;
}
#embroidery-overlay {
    height:0;
    width:0;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.0);
    transition:background-color 0.25s;
}
#embroidery-overlay.active {
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:9999;
}

/* SLIDE-IN DEFAULTS */

.better-embroidery textarea {
    resize: none;
}
.better-embroidery textarea:focus {
    border: 1px solid #979797 !important;
    -webkit-box-shadow: inset 0 0 0 2px #979797;
    box-shadow: inset 0 0 0 2px #979797;
}
.clickable {cursor:pointer;}
.clickable.disabled,
.clickable.disabled .si-icon-wrap {
    cursor:default !important;
    background-color:#eeeeee;
    opacity:0.6;
}
.row-l1.applied:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:5px;
    height:100%;
    background-color:#24a3bb;
}
.row-l1-sub,
.row-l1,
.row-l2,
row-l2-subhead {
    position:relative;
}
.row-l1-sub,
.row-l1 {
    padding-left:10px;
    padding-right:10px;
}
.row-l1.embroidery-types {
    padding-left: 0;
    padding-right: 0;
}
.emb-loc .row-l1 {
    padding-right:30px;
}
.row-l2 {
    padding-left:15px;
    padding-right:15px;
    margin: 0 15px;
}
.row-l2 .si-icon-wrap-rt,
.row-l2-subhead .si-icon-wrap-rt {
    right:15px;
}
.row-head {
    padding:12px 0;
    text-transform:uppercase;
    position:relative;
    font-size: 12px;
}
.row-content-heading {
    background-color: #f4f3f3;
}
.row-l1 .row-content {
    padding-top:12px;
    padding-bottom:12px;
}
.row-l1 .row-content2 {
    padding-top:12px;
    padding-bottom:2px;
}
.row-l1 .row-content-tall {
    padding-top:25px;
    padding-bottom:25px;
}
.row-l1-sub .row-content,
#textStyles .si-content .row-content,
.row-l2 .row-content {
    padding-top:17px;
    padding-bottom:17px;
}

.row-content.clickable .si-icon-wrap-rt {
    right: 0;
}
.row-content-center {
    text-align: center;
}

.row-l2-subhead {
    padding: 0 15px;
    background-color: #e1e1e1;
    margin: 0 !important;
}

.row-l2-subhead-remove {
    background: url(/media/embroidery_icons/icon-close-grey.png) no-repeat center center;
}
.si-icon-plus {
    background: url(/media/embroidery_icons/icon-plus.png) no-repeat center center;
}
.bb-light {
    border-bottom: 1px solid #e1e1e1;
}
.bg-light {
    background-color: #f4f2f3;
}
.bb-med {
    border-bottom: 1px solid #6f7073;
}
.bb-dark {
    border-bottom:1px solid #979797;
}
.bt-light {
    border-top: 1px solid #e1e1e1;
}
.bt-med {
    border-top: 1px solid #6f7073;
}
.bt-dark {
    border-top:1px solid #979797;
}
.si-icon-wrap-rt {
    transform:translateY(-50%)
}
.row-head .si-icon-wrap-rt {
    right:0;
}

.opt-image-wrap-lt,
.type-icon-wrap-lt,
.type-icon-wrap-rt {display:inline-block;}
.opt-image-wrap-lt,
.type-icon-wrap-lt {float:left;}
.type-icon-wrap-rt {float:right;}
.opt-image,
.type-icon {
    display:inline-block;
    background-repeat: no-repeat;
    background-position:center;
}
.type-icon {
    background-size: contain;
    background-position: center;
    height: 36px;
    width: 30px;
}
.embroidery-type-image {
    position:relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:280px;
    height:166px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 340px) and (max-width: 379px) {
    .embroidery-type-image {
        width:320px;
        height:190px;
    }
}
@media only screen and (min-width: 380px) {
    .embroidery-type-image {
        width:335px;
        height:199px;
    }
}
.embroidery-type-image:first-of-type {
    margin-top: 25px;
}
.embroidery-type-content {
    position: absolute;
    bottom: 10px;
    right: 0;
    text-align:right;
}
.opt-image {
    background-size: contain;
    height:26px;
    width:45px;
}
.opt-image-wrap-lt .opt-image,
.type-icon-wrap-lt .type-icon {margin-right:6px;}
.type-icon-wrap-rt .type-icon {margin-left:6px;}
.row-head-wrap .si-icon-wrap {bottom:5px;}
.si-arrow-down-rnd {transform:rotate(90deg);}
.expanded .si-arrow-down-rnd {
    transform:rotate(-90deg);
}

.opt-lbl-wrap {
    border-top: 1px solid #ccc;
    height: 40px;
    background-color: #ffffff;
    font-size: 12px;
}
.opt-lbl-left {
    float: left;
    padding-left: 20px;
    line-height: 40px;
}
.emb-acf-logos .opt-lbl-left {
    text-transform: uppercase;
}
.opt-lbl-right {
    float:right;
    padding-right: 20px;
    line-height: 40px;
}

.emb-acf-logos .opt-swatch,
.emb-acf-logos .opt-swatch
{
    height: 250px;
    background-color: #fff;
}

.half-row {
    width:50%;
    float:left;
}
.half-row .flag-wrap {
    width:100%;
    text-align:center;
}
.opt-wrap-rounded {
    display:inline-block;
    width:100%;
}
.opt-swatch {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display:block;
    padding-top:30%;
}
.half-wrap .opt-swatch {
    padding-top:65%;
}
/*#ribbons .opt-swatch {}*/
.upper,
.opt-name {
    text-transform:uppercase;
}
.text-line-wrap {
    position:relative;
    padding-bottom:7px;
    border-bottom:1px solid #e6e5e5;
}
.si-accordion {
    overflow:hidden;
    transition:max-height 250ms ease-in-out;
    background-color:#f4f3f3;
    padding:0 10px 5px;
}
.si-accordion#si-accordion-tierpricingartwork-wrap,
.si-accordion#si-accordion-tierpricingpatches-wrap,
.si-accordion#si-accordion-tierpricingacf-wrap {
    padding:0 10px 5px;
}
.text-option .si-icon,
.text-option .si-icon-rt,
.text-option .si-icon-lt,
.option-row .si-icon,
.option-row .si-icon-rt,
.option-row .si-icon-lt {width:20px; height:20px;}
.si-icon-bg {
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
.flag-wrap img {
    background-color:#eeeeee;
    display:block;
    margin:0 auto 10px;
    width:110px;
    height:60px;
}
.text-color {background-color:#eeeeee;}
.text-color .text-color-title-wrap {
    border-width:5px;
    border-style:solid;
    border-color:#ffffff;
    transition:border-color 250ms;
}
.opt-wrap-rounded {
    border: 1px solid #c1c1c1;
    border-radius:8px;
    overflow:hidden;
}
.opt-wrap-rounded.applied {box-shadow:0 0 0 5px rgba(34,148,167,1);}

.si-accordion .opt-wrap-rounded {
    background-color:#ffffff;
    margin-bottom:10px;
    float:left;
}

.vert-pad-20 {padding-top:20px; padding-bottom:20px;}
.vert-pad-17 {padding-top:17px; padding-bottom:17px;}
.vert-pad-10 {padding-top:10px; padding-bottom:10px;}
.vert-pad-5 {padding-top:5px; padding-bottom:5px;}
.side-pad-1 {padding-left:1px; padding-right:1px;}
.side-pad-10 {padding-left:10px; padding-right:10px;}
.side-pad-15 {padding-left:15px; padding-right:15px;}
.si-rt.vis {transform:translateX(-100%);}
.si-title,
.si-panel-title {
    text-transform:uppercase;
    line-height:36px;
}
.si-panel-title {
    text-align:center;
    font-size:12px;
}
.row-l1 {
    font-size:14px;
}
.row-l2 {
    font-size:12px;
}
/* ICONS */
.si-alert-wrap a.fancybox-close,
.si-alert-wrap a.fancybox-close {
    top:13px;
    right:8px;
}
/* ICONS */


.si-alert-wrap .fancybox-skin {border-radius:0;}
.si-alert-msg {margin:30px 15px 20px; text-align:center;}
.si-alert-actions > div ~ div {margin:10px 0 35px;}
#si-emb .header .si-row {
    padding:20px 10px;
}
.emb-gp {
    position: relative;
    left:-5px;
}

.better-embroidery .instructions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #999;

}
.text-row {position:relative;}
.boxed-row {border:1px solid rgb(167,167,167);}
.text-input-wrap {padding-bottom:10px;}
.text-color-title-wrap {
    position: relative;
    height:91px;
    width:97px;
    text-transform:capitalize;
    background-color:rgba(255,255,255,0.7);
}
.text-color-title {
    position: absolute;
    top:50%;
    width:100%;
    text-align:center;
    transform:translateY(-50%);
    font-weight:bold;
}
.textLines li {
    margin-bottom: 20px;
}
.text-line-title {padding-right:5px;}
.advisory {
    text-transform:none;
    font-family: whitneybook, sans-serif;
    color:#a7a7a7;
    font-size:10px;
    letter-spacing:0.5px;
}
.si-title + .advisory {padding-left:5px;}
.prompt {
    color:#2294a7;
    text-decoration:underline;
}
#instructions textarea {
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-size: 12px;
    width:100%;
    border: 1px solid #c1c1c1;
    border-radius:8px;
    overflow:hidden;
    height: 60px;
    padding: 10px;
}
.embroidery-type-content .si-title {
    padding: 0 25px 0 0;
    line-height: 16px;
}
.embroidery-type-content .advisory {
    padding: 0 25px 0 0;
    line-height: 16px;
}
.embroidery-type-content .si-icon-wrap-rt {
    right: 5px;
}
#summary .si-content {padding-bottom:30px;}
#textStyles .si-content,
#textColors .si-content,
#flags .si-content,
#ribbons .si-content,
#artwork .si-content,
#artworkColors .si-content,
#acflogos .si-content,
#patches .si-content,
#logos .si-content {background-color:#f4f3f3;}
.half-row-container {padding:0 5px;}
.half-row-container .half-row:nth-child(odd) .half-wrap {padding-left:5px; padding-right:15px;}
.half-row-container .half-row:nth-child(even) .half-wrap {padding-left:15px; padding-right:5px;}
.opt-lbl {
    text-align:center;
    line-height:40px;
    background-color:#ffffff;
}
.better-embroidery .si-content-summary {
    background-color: #f4f3f3;
    padding: 0 2px;
}
.row-l1.bb-light.clickable,
.row-l1-container.emb-text,
.row-l1.add-text-line-btn-container {
    background-color: #fff;
}
.para {
    font-size:12px;
    line-height:21px;
}
.open-cart-embroidery,
.remove-logos-embroidery,
.remove-cart-embroidery {
    line-height:12px;
    display:inline-block;
    cursor:pointer;
}
.open-cart-embroidery,
.remove-cart-embroidery,
span.open-cart-embroidery.cart-item-attribute,
span.remove-cart-embroidery.cart-item-attribute
{
    color: #2294a7;
}
.remove-cart-embroidery {
    padding-left:8px;
    border-left:1px solid #e1e1e1;
}
.open-cart-embroidery {
    padding-right:8px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.disabledMsg {
    display: none;
    position: absolute;
    top:0;
    left:0;
    padding:12px 0;
    background-color:#E76826;
    color:#ffffff;
    font-size: 12px;
    line-height:36px;
    width: 100%;
    text-align: center;
}
.better-embroidery textArea {
    font-family:WhitneySemibold, sans-serif;
    font-size:14px;
    letter-spacing: 0.1px;
    color:#6f7073;
}
.lg-icon-lt-wrap {
    float:left;
    margin:0 25px;
    width:80px;
    height:80px;
}
.lg-icon-lt {
    width:100%;
}
.text-rt-wrap {
    overflow:hidden;
}
.step {
    line-height:17px;
}
.step-title {
    font-size:16px;
    line-height:22px;
    font-weight:bold;
}
.step-desc {
    margin-top:5px;
    font-size:12px;
    line-height:18px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
}

.logo-fineprint-details {
    font-weight: 600;
    color: #4A4A4A;
    text-transform: uppercase;
    padding-bottom: 14px;
    padding-top: 20px;
    clear: both;
}

@media screen and (max-width: 320px) {
    .hide-mobile {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .si-rt,
    .si-panel,
    .si-viewport {width:100% !important;}
    .opt-lbl {
        font-size:11px;
        line-height:30px;
    }
    .advisory {font-size:9px;}
}

@media screen and (max-width: 479px) {
    #bind-embroidery {display:block;}
    .emb-btn-wrap.btn-visible {
        display: block !important;
        padding:0;
    }
    .emb-btn-wrap {
        float: none;
    }
    #bind-embroidery .btn-wrap-blue {
        position:relative;
    }
    #bind-embroidery #removeEmbroidery {
        position:absolute;
        width:100%;
        top:0;
        left:0;
        padding-top:10px;
    }
    #updateEmbroidery {
        margin-top:50px;
    }

}
