.jcarousel-wrapper {
    margin: auto;
    position: relative;
    /*width: 600px;*/
    width:100%;
    /*padding-bottom: 40px;*/
    border-bottom: 1px solid #e0e0e0;
    height: auto;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 25px;
    height: 35px;
    /*background: #6f7073;*/
    color: #6f7073;
    text-decoration: none;
    /*text-shadow: 0 0 1px #000;*/
    /*font: 24px/27px Arial, sans-serif;*/
    font-size: 56px;
    line-height: 25px;
    /*-webkit-border-radius: 30px;*/
    /*-moz-border-radius: 30px;*/
    /*border-radius: 30px;*/
    /*-webkit-box-shadow: 0 0 2px #999;*/
    /*-moz-box-shadow: 0 0 2px #999;*/
    /*box-shadow: 0 0 2px #999;*/
}

.jcarousel-control-prev {
    left: 0;
    text-align: left;
}

.jcarousel-control-next {
    right: 0;
    text-align: center;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    line-height: 5px;
    min-width: 5px;
    min-height: 5px;
    background: #e0e0e0;
    color: #4E443C;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    margin-right: 16px;
    opacity: .75;
    border:1px solid #e0e0e0;
}

.jcarousel-pagination a.active {
    background: #ffffff;
    color: #fff;
    opacity: 1;
    border:1px solid #6f7073;
}

