
/* DELAY SHOWING PROD IMG FOR PRODS WITH VIDS */
@keyframes delayedReveal {
	0% {opacity:0;}
	66% {opacity:0;}
	100% {opacity:1;}
}
.has-video #amasty_zoom {
	animation-name: delayedReveal;
	animation-duration:3s;
}
.video-html5-player {
	width:100%;
	max-height:100%;
	transform: translateY(-50%);
	top: 50%;
	left:0;
	position: fixed;
}
.video-html5-player::-webkit-media-controls-fullscreen-button {display:none;}
.mob-vid-player-wrap {
	display:none;
	width:100%;
	height:100%;
	transform: translateY(-50%);
	top: 50%;
	left:0;
	position: fixed;
	z-index:7000;
	background-color:#000000;
}
.prod-vid-play-btn {
	display:none;
	line-height:40px;
	font-size:14px;
	font-weight:600;
	letter-spacing:2px;
	background-color:#e1e1e1;
	text-align:center;
	transition: background-color 250ms;
}
.mob-vid-player-close {
	display:none;
	position:fixed;
	z-index:7000;
	top:15px;
	right:15px;
	font-size:36px;
	stroke-width:2px;
	height:20px;
	width:20px;
	stroke:#ffffff;
}
.mob-vid-player-close svg {
	height:100%;
	width:100%;
}
.brand-info {
 border-top: 1px solid #e5e5e5;
 margin-top:25px;
 padding-top:25px;
 font-size:12px;
}
.brand-info img {
	display:block;
	margin-bottom:20px;
}
.brand-info span {
	font-style: italic;
}
.brand-info span:first-child {
	font-weight: 600;
}
.brand-info div:first-child {
	margin-top: 20px;
}
.discount-embroidery-alert span,
.product-img-box-wrap {margin:0 0 10px 0;}
.price-wrap,
.add-to-cart-small,
.product-thumb-container {margin: 0 0 20px 0;}
#product-options-wrapper .wrapper_over,
#product-options-wrapper,
.product-num-rev-summary {margin: 0 0 30px 0;}
.product-num-rev-summary .product-num {margin: 0 0 5px 0;}
.product-view .custom_note, .add-to-cart-simple .custom_status {
	color:#bf2c2c;
    min-height: 20px;
	margin:15px 0 20px 0;
	clear:both;
}
.custom_status {
    margin:15px 0 20px 0;
}
#amstockstatus-status {
	text-transform:uppercase;
	color:#bf2c2c;
	min-height: 20px;
	clear:both;
	font-size:18px;
    display: block;
}
#amstockstatus-status.hasstock {
	color: #000;
}
#amstockstatus-stockalert {
	display: block;
	margin-top:10px;
}
.amxnotif-block {
	margin-top:10px;
}
.amxnotif-msg {
	margin-bottom:5px;
}
.amxnotif-block .input-box {
	margin-right:10px;
	width:200px;
	float:left;
}
.product-view .custom_status.preorder, .product-view .custom_note.preorder, .add-to-cart-simple .custom_status.preorder {
	color:#000000;
}
.add-to-cart-small span#total_price_default,
.add-to-cart-small span#total_price,
.add-to-cart-small span.price,
.add-to-cart-small span.old-price {
	line-height:26px;
	color:#a7a7a7;
	font-family:WhitneySemibold;
	font-size:26px;
	margin-top:0;
	margin-bottom:0;
	float:left;
}
.wrap-qty {
	overflow: hidden;
	margin: 0 20px 10px 0;
	font-size: 0;
	-webkit-appearance: none;
	border-radius: 0;
}
.wrap-qty input {
    line-height:40px;
}
.add-to-cart div.product-data {margin:0 0 10px 0;}
.qty-tier-price-status {margin:0 0 30px 0;}
button.btn-cartf {display:inline-block}
dt[class^="dtdd-"]:not(:first-child) {margin:20px 0 0 0;}
.add-to-cart span#total_price_default,
.add-to-cart span#total_price {
	color:#6f7073;
	font-family:WhitneySemibold;
	font-size:26px;
	margin-top:13px;
	margin-bottom:0px;
	float:left;
}
.product-view .product-options-bottom .custom_status .nostock
.product-view .product-options-bottom .custom_status .partial {
	color: #bf2c2c;
}
.emb-btn-wrap {
	display: inline-block;
	padding: 0 10px 0 0;
}
.emb-btn-wrap.btn-hidden {
	display: none;
}
.emb-btn-wrap.btn-visible {
	display: inline-block !important;
}
.remove-embroidery-btn,
.open-embroidery-btn {
	cursor: pointer;
}
.open-embroidery-btn {padding-right:10px;}
.remove-embroidery-btn {
	font-family:WhitneySemibold;
	color:#2294a7;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 5px;
}
.product-view .add-to-cart .lbl-title {display:block; margin-bottom:10px}
.pdp-add-to-cart-wrap {display:inline-block; vertical-align:top;}
.product-options {padding:0; margin:0;}
.product-options dt .qty-holder {float:right;}
.product-options dt .qty-holder label {vertical-align:middle;}
.product-options dt .qty-disabled {background:none; border:0; padding:3px; color:#000;}
.product-options dt label {
	text-transform: capitalize;
	margin:10px 10px 0 0;
}
.product-options dd input.input-text {width:98%;}
.product-options dd input.datetime-picker {width:150px;}
.product-options dd .time-picker {display:-moz-inline-box; display:inline-block; padding:2px 0; vertical-align:middle;}
.product-options dd textarea {width:98%; height:8em;}
.product-options dd select {width:100%; margin-bottom:5px; height:auto;}
.product-options .options-list li {margin:5px 0}
.product-options .options-list input.radio {float:left; margin:7px 0px 0 0; /*margin:1px -18px 0 0*/min-height:auto;}
.product-options .options-list input.checkbox {float:left; margin:7px 0px 0 0; min-height:auto;}
.product-options .options-list .label {display:block; margin-left:20px; line-height:1.35;}
.product-options ul.validation-failed {padding:0 7px;}
.product-options p.required {padding:0; margin:0}
.product-options .qty-holder {display:block;margin-top:5px;overflow:hidden;}
.product-options .qty-holder label{margin-top:5px;}
.product-options-bottom { border-top:0; position:relative; clear:both;}
.add-to-cart .price-box {
	color:#333333;
	font-family:WhitneySemibold;
	line-height:26px;
	font-size:26px;
	margin-top:0;
	margin-bottom:10px;
	min-width: 100px;
	display:inline-block;
	vertical-align: middle;
}
.discount-qty-alert {display: block;}
.discount-qty-alert span {
	font-size: 12px;
	color: #999;
	font-weight: normal;
	line-height: 15px;
	color: green;
	display: none;
	padding-bottom:10px;
}
.product-view .amconf-image-container {
	margin:7px 5px 0 0;
	width:auto !important;
	height:auto !important;
}
.product-view .amconf-image-container img.amconf-image {
	cursor:pointer;
}

#product-options-wrapper .text-size {
	margin-top:10px;
	display:block;
}
#product-options-wrapper .color-box {float:none;}
.free-logo-setup-wrap {margin-top: 10px;}
.free-logo-setup .details-link,
.free-logo-setup .headline {
	font-style: italic;
	font-weight: 500;
}
.free-logo-setup-wrap .headline {
	color: #000000;
	margin-right: 20px;
}
.free-logo-setup-wrap .details-link {
	color: #2294a7;
	cursor: pointer;
}
.free-logo-setup-wrap .details-copy {
	display: none;
	line-height: 20px;
}
#advancereviews-filteredReviews {
	overflow: hidden;
	background: url("../../images/bkg_reviews.png") center bottom repeat-x;
}
#advancereviews-filteredReviews .grid_12 {
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
	min-height: 270px;
	width: 50%;
	float: left;
}
.content_review {
	border: 1px solid #e2e2e2;
	margin: 10px;
	padding: 18px;
}
.product-view .content_review .ratings-table .rating-box {margin: 0 auto;}
.product-view .content_review .ratings-table .span {float: right;}
.product-view .ratings-table {margin-bottom: 0;}
.summary {float: left;}
.catalog-product-view .product-essential {margin-top: 30px;}
.no-rating,
.tags {
	margin: 2px 0;
	overflow: hidden
}
.ratings strong {
	float: left;
	margin: 0px 8px 0 0;
}
.ratings .rating-links .separator {margin: 0 10px;}
.rating-box {
	width: 76px;
	height: 15px;
	font-size: 0;
	line-height: 0;
	background: url("../../images/bkg_rating.png") 0 0% repeat-x;
	text-indent: -999em;
	overflow: hidden;
	position: relative;
	top: 2px;
}
.rating-box .rating {
	float: left;
	height: 15px;
	background: url("../../images/bkg_rating.png") 0 101% repeat-x;
}
.ratings .rating-box {
	text-align: center;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 2px;
}
.ratings .amount {white-space: nowrap;}
.ratings-table {margin-bottom: 8px;}
.ratings-table th {display: block;}
.ratings-table td {padding: 0;}
.three-columns .ratings .rating-box {margin-bottom: 5px;}
.three-columns .ratings .rating-links {
	clear: both;
	display: block;
}

/* ======================================== */
/* RELATED ITEMS ON PRODUCT DETAIL PAGE     */
/* COPIED FROM UNUSED MODULE - skin/frontend/default/default/css/aw_productrelater.css     */
/* ======================================== */

.aw-arp-content {clear: both;}
.aw-arp-item {
	float: left;
	margin: 1.5%;
	text-align: center;
	font-size: 0.9em;
}
.aw-arp-item img {width: 100%;}
.aw-arp-item .product-info {height: 50px !important;}
.aw-arp-item .product-info .title {font-weight: 600;}
.aw-arp-item .price-box {
	margin-bottom: 1px;
	color: #A60002;
}
.aw-arp-item .button {
	display: block;
	background: #A60002;
	color: #fff;
	padding: 3px;
	text-transform: uppercase;
	font-weight: 500;
}
.aw-arp-noitems {
	text-align: center;
	color: #777;
}
.aw-arp-block .head h4 {
	font-size: 13px;
	font-family: 'Whitney SSm A', 'Whitney SSm B';
	font-weight: 600;
}

.prod-vid-play-btn:hover {cursor:pointer; background-color:#d2d2d2;}
/* -------------------------------------------------------------- */
/* SIZE CHARTS */
/* -------------------------------------------------------------- */
.rt-arrow-lbl {
    line-height:20px;
    display:inline-block;
    vertical-align:middle;
}
.rt-arrow-wrap {
    height:20px;
    width:20px;
    stroke:#2294a7;
    fill:#ffffff;
    cursor:pointer;
    display: inline-block;
    vertical-align: middle;
}
.product-view .size_chart span.button-sizechart {
    cursor:pointer;
}
#sizechart .size-chart {
    border:none;
    font-family:inherit;
    max-width:400px;
    margin:auto;
}
#sizechart .size-chart tr:nth-of-type(even) {background-color: #f9f9f9;}
#sizechart .size-chart .hide-767 {display:none !important;}
#sizechart .size-chart .show-767 {display:initial !important;}
#sizechart .title-size-chart {display:none;}
#sizechart #size-chart123 tr:first-of-type th:first-of-type {
    text-transform:uppercase;
}
#sizechart #size-chart123 tr th {
    border-top:0;
}
#sizechart #size-chart123 tr:first-of-type th {
    border-top:0;
    font-weight: 600;
}
#sizechart #size-chart123 tr:last-of-type th {
    border-bottom:0;
}
#sizechart #size-chart123 tr th:first-of-type {
    border-left:0;
}
#sizechart #size-chart123 tr th:last-of-type {
    border-right:0;
}
#sizechart.wrapper_over2 {
    overflow: scroll;
    padding: 20px 0 0 0;
}
/* -------------------------------------------------------------- */
/* END SIZE CHARTS */
/* -------------------------------------------------------------- */


/*MEGHAN PDP EXTENSION */
h3.pdp {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #434343;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
	line-height: 29px;
}
h3.pdp-hero {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #434343;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 25px;
	line-height: 29px;
}
h4.pdp {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #434343;
	line-height: 24px;
}
p.pdp {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	color: #6F7073;
	margin-bottom: 5%;
	line-height: 22px;
}
p.pdp-hero {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	color: #6F7073;
	margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	line-height: 22px;
}
.pdp-hero-img {width: 100%;}
.pdp-feature-img {
	width: 427px;
	height: 310px;
}
.rwd-break {display: block;}
.mob-prod-vid-wrap {
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 7000;
}

/*MEGHAN CUSTOMIZATION PAGE */

.custom-row1 {
	padding-bottom: 5%;
}

.custom-row-last {
	padding-bottom: 10%;
	padding-top: 5%;
}

.custom-row {
	padding-top: 5%;
	padding-bottom: 5%;
}

.get-started-row {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.custom-ext-r {
	float: right;
	width: 51%;
	height: 310px;
}

.custom-ext-r-img {
	float: right;
	height: 310px;
}

.custom-ext-l {
	float: left;
	width: 51%;
	height: 310px;
}

.custom-ext-l-img {
	float: left;
	width: 49%;
	height: 310px;
}

h3.custom {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #434343;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	line-height: 29px;
}

h3.custom-hero {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #434343;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 2%;
	line-height: 29px;
}

h4.custom {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #434343;
	margin-top: 25%;
	line-height: 24px;
}

h4.custom-long {
	margin-top: 20%;
}

p.custom {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	color: #6F7073;
	margin-bottom: 5%;
	line-height: 22px;
}

p.custom-hero {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	color: #6F7073;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	line-height: 22px;
}

.custom-fp {
	color: #9b9b9b !important;
}

.custom-hero-img {
	width: 100%;
}

.custom-feature-img {
	width: 427px;
	height: 310px;
}

.rwd-break {
	display: block;
}

.custom-shop-icon {
	width: 15%;
	padding-right: 2%;
}

.custom-icons {
	display: inline;
}

summary::-webkit-details-marker {
	display: none
}

summary:after {
	content: "Read More...";
	font-weight: 600;
	cursor: pointer;
}

details[open] summary:after {
	display: none;
}

.product-shop-wrapper-content .add-to-cart {width:162px; margin:auto;}
.product-shop-wrapper-content .add-to-cart .pdp-add-to-cart-wrap .btn-cartf,
.product-shop-wrapper .add-to-cart .pdp-add-to-cart-wrap .btn-cartf {width:162px}
.product-shop-wrapper-content .add-to-cart .addtocard_small {width:auto;}


/*ZACK PDP EXTENSION */
h4.pdp-long,
h4.pdp {
	margin:0 0 10px 0;
}
p.pdp {
	margin:0;
}
.pdp-ext-link-wrap {
	margin:20px 0 0 0;
}
a.pdp-ext-link {
	color:#2294a7;
}
.pdp-row1,
.pdp-row,
.pdp-row-last {
	display:flex;
	align-items:center;
}
.pdp-row1 {
	padding-bottom:50px;
}
.pdp-row {
	padding:50px 0;
}
.pdp-row-last {
	padding:50px 0 100px 0;
}
.pdp-ext-l-img,
.pdp-ext-r-img {
	flex-basis: 48%;
}
.pdp-ext-l-img {
	order:0;
	text-align:left;
}
.pdp-ext-r-img {
	order:1;
	text-align:right;
}
.pdp-ext-l,
.pdp-ext-r {
	flex-basis: 52%;
	box-sizing:border-box;
}
.pdp-ext-l {
	order:0;
	padding:0 2% 0 0;
}
.pdp-ext-r {
	order:1;
	padding:0 0 0 2%;
}
.pdp-smart-logo,
.pdp-cookcool-logo {
	margin-top:20px;
}

@media screen and (max-width: 960px) {
	.catalog-product-view .product-essential {margin-top:0;}
    #advancereviews-pager-reviews{margin: 0;}
    #ProductDetail_ProductImage-Container {
        width:100%;
        float: none;
        display:block;
    }
    #ProductDetail_ProductData-Container {
        width:100%;
        float: none;
        display:block;
        margin:0;
    }
	.rwd-break {display: none;}
	.pdp-ext-r {
		width: 100%;
		display: inline-block;
		height: auto;
	}
	.pdp-ext-l {
		width: 100%;
		display: inline-block;
		height: auto;
	}
	h3.pdp, h4.pdp, p.pdp {text-align: center;}
	h3.pdp {
		font-size: 20px;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	h3.pdp-hero {
		font-size: 23px;
		margin-top: 13%;
		margin-bottom: 2%;
	}
	h4.pdp {
		margin-top: 10%;
		font-size: 20px;
		line-height: 23pt;
	}
	h4.pdp-long {
		font-size: 20px;
		line-height: 23pt;
	}
	p.pdp-hero {
		margin-left: 2%;
		margin-right: 2%;
	}
	.pdp-ext-l-img {
		width: 100%;
		height: 100%;
	}
	.pdp-ext-r-img {
		width: 100%;
		height: 100%;
	}
	.pdp-feature-img {
		width: 100%;
		height: auto;
	}
	.pdp-cookcool-logo {
		text-align: center;
		margin-bottom: 0;
		margin-top: 2%;
	}
	.pdp-smart-logo {
		text-align: center;
		margin-bottom: 0;
		margin-top: 2%;
	}
	p.pdp {
		margin-bottom: 15%;
		margin-bottom: 0;
	}
	p.pdp-cookcool {margin-bottom: 0;}
	h4.pdp {margin-top: 5%;}
	.custom-ext-r {
		width: 100%;
		display: inline-block;
		height: auto;
	}
	.custom-ext-l {
		width: 100%;
		display: inline-block;
		height: auto;
	}
	h3.custom, h4.custom, p.custom {text-align: center;}
	h3.custom {
		font-size: 20px;
		margin-top: 13%;
		margin-bottom: 10%;
	}
	h3.custom-hero {
		font-size: 23px;
		margin-top: 13%;
		margin-bottom: 2%;
	}
	h4.custom {
		margin-top: 10%;
		font-size: 20px;
		line-height: 23pt;
	}
	h4.custom-long {
		margin-top: 10%;
		font-size: 20px;
		line-height: 23pt;
	}
	p.custom-hero {
		margin-left: 2%;
		margin-right: 2%;
	}
	.custom-ext-l-img {
		width: 100%;
		height: 100%;
	}
	.custom-ext-r-img {
		width: 100%;
		height: 100%;
	}
	.custom-feature-img {
		width: 100%;
		height: auto;
	}
	.custom-cookcool-logo {
		text-align: center;
		margin-bottom: 0;
		margin-top: 2%;
	}
	.custom-smart-logo {
		text-align: center;
		margin-bottom: 0;
		margin-top: 2%;
	}
	p.custom {
		margin-bottom: 15%;
		margin-bottom: 0;
	}
	p.custom-cookcool {margin-bottom: 0;}
	h4.custom {margin-top: 5%;}

	/*ZACK PDP EXTENSION */
	.pdp-row1 {
		padding-bottom:35px;
	}
	.pdp-row {
		padding:35px 0;
	}
	.pdp-row-last {
		padding:35px 0 70px 0;
	}
	.pdp-ext-l-img,
	.pdp-ext-r-img {
		order:0;
	}
	.pdp-ext-l,
	.pdp-ext-r {
		order:1;
	}
	.pdp-row1,
	.pdp-row,
	.pdp-row-last {
		flex-direction:column;
	}
	.pdp-ext-l-img,
	.pdp-ext-r-img,
	.pdp-ext-l,
	.pdp-ext-r {
		text-align:center;
	}
}

@media screen and (max-width: 768px) {
	#sidebar-cart-carousel {width:460px; margin:auto;}
	.carousel-prod-img {max-width:460px;}
	.product-num-rev-summary {margin: 0 0 20px 0;}
	.prod-img-mob {margin-bottom:20px;}
    #advancereviews-pager-reviews {margin: 0;}
    .helpfulness .foundHelpful {
        background-color: #e2e2e2;
        padding: 6px;
        color: #1C5C0A;
    }
    .helpfulness .foundNoHelpful {
        color: #A60002;
        background-color: #e2e2e2;
        padding: 6px;
    }
    .helpfulness strong {margin-right: 6px;}
    .product-info .price-box .regular-price {display: none;}
    .helpfulness-status {font-size: 8pt; margin-top:10px;}
    .helpfulness-status.review-error {color: #A60002;}
    .helpfulness-status.review-success {color: green;}
    #ProductDetail_ProductReviews-Container .ratings {line-height: 200%;}
    #ProductDetail_ProductReviews-Container .ratings .recommendations {
        font-style: italic;
        font-size: 10pt;
        color: #aaa;
        display:block;
        line-height: 12pt;
    }
    #ProductDetail_ProductReviews-Container .ratings .recommendations-container {margin: 10px 0;}
    #fadingBackHolder {position: relative; clear:both;}
    #fadingBackHolder .fadingBack {
        position: absolute;
        width: 100%;
        height: 100px;
        background: url("../../images/bkg_reviews.png") repeat-x;
        top: -100px;
    }
}

@media screen and (max-width:767px) {
    .summary {text-align: center;}
    #advancereviews-filteredReviews .grid_12 {
        width: 100%;
        min-height:0;
        margin: 10px auto;
        padding: 10px 10px 0 10px;
        box-sizing: border-box;
        float: left;
    }
    .product-img-box-wrap {position: relative;}
    .product-view .product-img-box {border: none !important;}
    .product-data table {width: 150px !important;}
    #ProductDetail_ProductData-Container {min-height: 0;}
    .recommendations {font-size: 10px;}
    #ProductDetail_ProductReviews-Container {padding-top: 20px;}
    .aw-arp-content {
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 320px;
    }
    .product-pricing table tr td {font-size: 12px;}
    .aw-arp-item .product-info {width: 80%; margin: 0 auto;}
    #product-review-table span, #product-review-table th.a-center {font-size: 10px;}
}

@media screen and (max-width:480px) {
	.pdp-row1 {
		padding-bottom:25px;
	}
	.pdp-row {
		padding:25px 0;
	}
	.pdp-row-last {
		padding:25px 0 50px 0;
	}

	#sidebar-cart-carousel {
		width:460px;
		max-width: 100%;
		margin: auto;
	}

	.carousel-prod-img {
		width:460px;
		max-width: 100%;
	}
}

@media screen and (max-width:479px) {
	.emb-btn-wrap.btn-visible {display: block !important;}
	.pdp-add-to-cart-wrap {display:block;}
	.add-cust-btn,
	.product-shop-wrapper .add-to-cart .pdp-add-to-cart-wrap .btn-cartf,
	.pdp-add-to-cart-wrap .btn-cartf {width:100%;}
	.emb-btn-wrap.btn-visible {margin:0 0 20px 0;}
    .summary {float: none;}
    .content_review {margin: 0; padding: 8px;}
    .aw-arp-content {height:auto;}
    .aw-arp-item {width: 97%;}
	.free-logo-setup-wrap .headline {
		display:block;
		margin-right:0;
		margin-bottom:3px;
	}
	.free-logo-setup-wrap .details-link {display:block;}
    #sizechart .size-chart {
        max-width:300px;
        margin:auto;
    }
    #sizechart #size-chart123 tr th {
        border: 1px solid #e0e0e0;
        padding: 6px 10px;
    }
}

@media screen and (max-width: 425px) {
	#sidebar-cart-carousel {
		width:405px;
		max-width: 100%;
		margin: auto;
	}

	.carousel-prod-img {
		width:405px;
		max-width: 100%;
	}

	h3.custom-hero {
		font-size: 34px;
		margin-top: 5%;
		margin-bottom: 3%;
	}

	.custom-icons {
		display: block;
		padding-bottom: 3%;
	}

	.custom-shop-icon {
		width: 32%;
	}
}

@media screen and (max-width: 355px) {
	#sidebar-cart-carousel {
		width: 335px;
		max-width: 100%;
		margin: auto;
	}

	.carousel-prod-img {
		width: 335px;
		max-width: 100%;
	}
}

@media screen and (max-width: 320px) {
	#sidebar-cart-carousel {
		width: 300px;
		max-width: 100%;
		margin: auto;
	}

	.carousel-prod-img {
		width: 300px;
		max-width: 100%;
	}
}
