.no-results {
    margin:30px 0 0 0;
}
.no-results__upper h1.cms-head {
    margin-bottom:15px;
}
.search-bar--wrap {
    position:relative;
    background-color:#ffffff;
    color:#cccccc;
    box-sizing:border-box;
}
.search-more {
    font-weight:500;
}
#search-result_mini_form {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
}
#search_autocomplete {
    overflow:scroll;
    padding: 10px;
    border: solid #eeeeee;
    border-width:0 1px 1px;
}
#search_autocomplete .resultbox-b {
    margin: 0 0 10px 5px;
}
.search-bar__input-wrap {
    width:100%;
    padding-right: 40px;
    box-sizing: border-box;
    flex: 0 1 auto;
}
.search-result__input-clear {
    stroke-width: 2px;
    height: 24px;
    width: 24px;
}
.input_search {
    position:relative;
}
.search-result--footer {
    margin: 100px 0 50px;
}
.search-result--footer-heading {
    text-transform: uppercase;
    font-weight: 500;
}
.search-result--footer-msg {
    margin-top:20px;
}
.no-results__upper {
    border:2px solid #000000;
    padding: 30px 20px 60px;
    text-align:center;
}
.no-results__container--narrow {
    text-align:left;
    width:75%;
    margin: 80px auto 0;
}
.no-results__container--narrow h1.cms-head {
    text-align:left;
}
.search-result__mini-form-wrap {
    margin-top: 40px;
}
#search-result__mini-form {
    display: flex;
    position: relative;
    width: 100%;
    margin-top:25px;
    box-sizing: border-box;
}
.search-result__input-wrap {
    width: 100%;
    box-sizing: border-box;
    flex: 0 1 auto;
    position:relative;
}
.search-bar__input,
.no-results__container--narrow #search-result__input {
    border:none;
    box-shadow:none;
    height:100%;
    width: 100%;
    z-index:1;
    color: #6f7073;
    font-size: 16px;
    background: #fff;
    overflow-x: hidden;
    box-sizing:border-box;
}
.mobHdr .search-bar__input {
    height: auto;
    z-index:1;
    color: #6f7073;
    font-size: 16px;
    line-height:33px;
    background: #fff;
    overflow-x: hidden;
    -webkit-appearance: none;
}
.no-results__container--narrow #search-result__input {
    border:1px solid #cacaca;
    border-radius:0;
    padding: 0 40px 0 10px;;
    -webkit-appearance: none;
}
.search-input-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color:#cccccc;
    font-size:16px
}
.no-results__container--narrow .search-input-placeholder {
    left: 10px;
}
.noresult__suggested-container {
    margin-top:50px;
}
.noresult__suggested-wrap .products-grid {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.noresult__suggested-wrap .products-grid li.item {
    flex: 0 1 30%;
}
.search-result--footer-heading,
.noresult__section-head,
.catalogsearch-noresult-index .page-title h1,
.catalogsearch-noresult-index h1.cms-head {
    color: #4a4a4a;
}
.no-results__container--narrow ul li {
    line-height:24px;
}
.catalogsearch-noresult-index h1.cms-head {
    font-size:14px;
}
.noresult__section-head,
.catalogsearch-noresult-index .page-title h1 {
    font-size:28px;
    line-height:34px;
    font-weight:400;
}
.noresult__section-head {
    margin-bottom:20px;
}
.search-result--footer-heading {
    font-weight:600;
}
.link-topsearch {
    position:relative;
    height:24px;
    width:24px;
    transform:rotate(45deg);
}
.search-cross-2,
.search-cross-1 {
    backface-visibility:hidden;
    position:absolute;
    width:2px;
    left:50%;
    top:50%;
    background-color:#6f7073;
}
.search-cross-1 {
    transform: translate3d(-50%, -50%, 0) scale(1.0, 1.0);
    height:100%;
}
.search-cross-2 {
    height:0;
    transform:rotate(90deg) translate3d(-50%, -50%, 0) scale(1.0, 1.0);
    transform-origin:top left;
}
.search-glass {
    position:absolute;
    top:0;
    right:50%;
    transform:translateX(50%);
    width:60%;
    height:60%;
    box-sizing: border-box;
    border:2px solid #6f7073;
    border-radius:50%;
    background-color:white;
}
.topsearch {
    width:100%;
    font-size: 16px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    color:#6c6c6c;
    letter-spacing: 1.14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#search {
    position:relative;
    font-size: 16px;
    font-weight:500;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    color:#6c6c6c;
    letter-spacing: 1.14px;
}
.search-bar__input-wrap {
    position:relative;
}
.topsearch-link-wrap {
    position:absolute;
    right:3px;
    top: 50%;
    transform: translateY(-50%);
    cursor:pointer;
}
.mobHdr .topsearch-link-wrap {
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.topsearch-content {
    width:960px;
    margin:auto;
    display: none;
    right: 0;
}
.mobHdr .hdr-links-gp {
    top: 24px;
}
.mobHdr #search-result_mini_form {
    height:54px;
}
.form-search .search-autocomplete li:hover {
    background:#dde9f6;
}
.form-search iframe#search_autocomplete_iefix {
    left:-1px !important;
}
.form-search .search-autocomplete {
    z-index:999;
    overflow:hidden;
    left:0 !important;
    width:100% !important;
    top:35px !important;
    position:inherit !important
}
.form-search .search-autocomplete ul {
    background-color:#fff;
    margin-bottom:0;
}
.form-search .search-autocomplete li {
    padding:8px;
    cursor:pointer;
}
.form-search .search-autocomplete li .amount {
    float:right;
}
.form-search .search-autocomplete {
    width:100%!important
}
.search-results .s_suggest {
    line-height:1.25em;
}
.headfix .topsearch-link-wrap {
    right: 176px;
}
.headfix #topsearch .topsearch-content {
    border-top: 9px solid transparent;
    top:23px;
}
.mobHdr .link-topsearch,
.headfix .link-topsearch {
    height:21px;
    width:21px;
}
.outerwrap--top .topsearch {
    display:none;
}
.mobHdr .outerwrap--top .topsearch {
    display:block;
}

@media screen and (max-width: 960px) {
    .link-topsearch {
        height:21px;
        width:21px;
    }
    .headfix .topsearch-link-wrap {
        right: 40px;
    }
    .headfix #topsearch .topsearch-content {
        border-top: 17px solid transparent;
        top: 15px;
    }
    .topsearch-content {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .noresult__suggested-wrap .products-grid {
        justify-content: space-around;
    }
    #search {border:none;}
    .topsearch-link-wrap {
        right: 45px;
        top: 50%;
        transform: translateY(-50%);
    }
    .topsearch-content {
        top:100%;
        width:100%;
    }
    .outerwrap--top .topsearch {
        display:block;
    }
}

@media screen and (max-width: 568px) {
    .no-results__container--narrow {
        width: 100%;
        margin: 55px auto 0;
    }
    .noresult__section-head,
    .catalogsearch-noresult-index .page-title h1 {
        font-size: 24px;
    }
    #search-result__mini-form {
        margin-top: 15px;
    }
    .search-result__mini-form-wrap {
        margin-top: 30px;
    }
}

@media screen and (max-width: 479px) {
    .no-results__upper {
        padding: 30px 8px;
    }
    #search-result_mini_form {
        display:block;
    }
    .search-bar__input-wrap {
        display:block;
        flex:none;
        margin-bottom:18px;
        padding:0;
    }
    .button.search-bar__btn--submit {
        display:block;
        flex:none;
        width:100%;
    }
    .topsearch-link-wrap,
    .mobHdr .topsearch-link-wrap {
        right: 40px;
    }
}
