
/*PROMO FLEX*/

.flex-container {
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.promo-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    transition: all .8s;
}

.collapse {
    flex-grow: .1;
}

.overlay {
    background-color: rgba(1, 1, 1, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

/*HOLIDAY SPLIT PROMO */

/*#dets {display:none;}*/

/*.promo-bar-wrap {*/
    /*color:#ffffff;*/
    /*position:relative;*/
    /*margin-top:5px;*/
/*}*/
/*.promo-bar-wrap .headline {*/
    /*height:43px;*/
    /*background-color:#8dc63f;*/
    /*padding:0 30px;*/
    /*letter-spacing: 2px;*/
    /*text-align:center;*/
/*}*/
/*.promo-bar-wrap .headline-main {*/
    /*font-size:21px;*/
    /*line-height:43px;*/
    /*font-weight:normal;*/
    /*vertical-align:middle;*/
    /*color:#cc231e;*/
    /*letter-spacing:2px;*/
/*}*/
/*.promo-bar-wrap .stars {*/
    /*padding:0 40px;*/
    /*font-size:16px;*/
/*}*/
/*.promo-bar-wrap .star {*/
    /*margin:0 32px;*/
    /*line-height:43px;*/
/*}*/
/*.promo-bar-wrap .choose {*/
    /*font-weight:100;*/
    /*font-size:24px;*/
    /*line-height:43px;*/
    /*vertical-align:middle;*/
/*}*/
/*.promo-bar-wrap .dets-lbl {*/
    /*position: absolute;*/
    /*right:30px;*/
    /*top:15px;*/
    /*font-size:12px;*/
    /*font-weight:600;*/
    /*text-decoration: underline;*/
    /*cursor:pointer;*/
    /*color:#cc231e;*/
/*}*/
/*.promo-confirm-img {transition:opacity 500ms;}*/
/*.blue-promo .fancybox-skin,*/
/*.red-promo .fancybox-skin {border-radius:0;}*/
/*.blue-promo .fancybox-skin {background-color:#000000;}*/
/*.red-promo .fancybox-skin {background-color:#000000;}*/
/*.blue-promo img,*/
/*.red-promo img {width:100%; display:block;}*/
/*.promo-left,*/
/*.promo-right {*/
    /*cursor:pointer;*/
    /*color:#ffffff;*/
    /*line-height:33px;*/
/*}*/
/*.promo-left {background-color:#4da32f; text-align:center;}*/
/*.promo-right {background-color:#cc231e; text-align:center;}*/
/*.promo-main-msg-l1 {font-size:17px; font-weight:600;}*/

/*.promo-main-msg-l2 {*/
    /*display:inline-block;*/
    /*border:1px solid #ffffff;*/
    /*padding:0 10px;*/
    /*font-weight:100;*/
    /*font-size:11px;*/
    /*line-height:15px;*/
    /*margin-left:30px;*/
/*}*/
/*.promo-main-msg-l2,*/
/*.promo-main-msg-l1 {vertical-align: middle;}*/
/*.spec-title {font-weight:bold; text-align:center; font-size:16px; margin-bottom:5px;}*/
/*.promo-confirm {display:none}*/
/*.promo-t2 {position:relative; letter-spacing: 2px;}*/
/*.promo-t2 .or-wrap {*/
    /*position: absolute;*/
    /*line-height: 33px;*/
    /*left: 50%;*/
    /*transform: translatex(-50%);*/
    /*text-align:center;*/
/*}*/
/*.promo-t2 .or {*/
    /*display:inline-block;*/
    /*letter-spacing:1px;*/
    /*text-align:center;*/
    /*border-radius:50%;*/
    /*background-color:#ffffff;*/
    /*color:#6f7073;*/
    /*height:22px;*/
    /*width:22px;*/
    /*line-height:22px;*/
    /*font-size:10px;*/
    /*font-weight:bold;*/
/*}*/
/*.det-head {*/
    /*font-weight: bold;*/
    /*text-align:center;*/
    /*margin-bottom:7px;*/
    /*font-size: 15px;*/
    /*margin-top: 20px;*/
/*}*/

/*.promo-bar-wrap .blue-specific,*/
/*.promo-bar-wrap .red-specific {*/
    /*display:none;*/
    /*font-size: 20px;*/
    /*line-height: 43px;*/
    /*vertical-align: middle;*/
/*}*/

/*!* BLUE *!*/
/*.promo-bar-wrap.blue-selected .headline {background-color: #4da32f; text-align:left;}*/
/*.promo-bar-wrap.blue-selected .dets-lbl,*/
/*.promo-bar-wrap.blue-selected .headline-main {color:#ffffff;}*/
/*.promo-bar-wrap.blue-selected .choose {display:none;}*/
/*.promo-bar-wrap.blue-selected .blue-specific {display:inline;}*/
/*.promo-bar-wrap.blue-selected .red-specific {display:none;}*/
/*.promo-bar-wrap.blue-selected .promo-right .promo-main-msg-l2 {display:inline-block;}*/
/*.promo-bar-wrap.blue-selected .promo-left .promo-main-msg-l2 {display:none;}*/
/*!* BLUE *!*/

/*!* RED *!*/
/*.promo-bar-wrap.red-selected .headline {background-color: #cc231e; text-align:left;}*/
/*.promo-bar-wrap.red-selected .dets-lbl,*/
/*.promo-bar-wrap.red-selected .headline-main {color:#ffffff;}*/
/*.promo-bar-wrap.red-selected .choose {display:none;}*/
/*.promo-bar-wrap.red-selected .red-specific {display:inline;}*/
/*.promo-bar-wrap.red-selected .blue-specific {display:none;}*/
/*.promo-bar-wrap.red-selected .promo-right .promo-main-msg-l2 {display:none;}*/
/*.promo-bar-wrap.red-selected .promo-left .promo-main-msg-l2 {display:inline-block;}*/
/*!* RED *!*/
/*.promo-bar-wrap .star.select-show,*/
/*.promo-bar-wrap.red-selected .star,*/
/*.promo-bar-wrap.blue-selected .star {display:none;}*/

/*.promo-bar-wrap .star.select-show {margin:0;}*/
/*.promo-bar-wrap.blue-selected .star.select-show,*/
/*.promo-bar-wrap.red-selected .star.select-show {display:inline-block}*/

/*@media screen and (max-width:960px) {*/
    /*.promo-bar-wrap .headline-main,*/
    /*.promo-bar-wrap .choose {font-size:21px;}*/
    /*.promo-main-msg-l1 {border:1px solid #ffffff; padding:2px 15px; font-size:16px;}*/
    /*.promo-main-msg-l2 {display:none !important;}*/
    /*.promo-left,*/
    /*.promo-right {padding:0; text-align:center;}*/
    /*.promo-bar-wrap .star:first-child,*/
    /*.promo-bar-wrap .star:last-child {display:none;}*/

    /*.promo-bar-wrap .dets-lbl {right:20px;}*/
    /*.promo-bar-wrap .blue-specific,*/
    /*.promo-bar-wrap .red-specific {*/
        /*font-size: 18px;*/
    /*}*/
    /*.promo-bar-wrap.blue-selected .promo-left .promo-main-msg-l1 {border:none;}*/
    /*.promo-bar-wrap.red-selected .promo-right .promo-main-msg-l1 {border:none;}*/
/*}*/

/*@media screen and (max-width:768px) {*/
    /*.promo-bar-wrap.blue-selected .headline,*/
    /*.promo-bar-wrap.red-selected .headline,*/
    /*.promo-bar-wrap .headline {*/
        /*padding:0 10px;*/
        /*text-align:center;*/
        /*height:33px;*/
    /*}*/
    /*.promo-bar-wrap .headline-main,*/
    /*.promo-bar-wrap .choose {font-size:12px; line-height:33px;}*/
    /*.promo-bar-wrap {text-align:center;}*/
    /*.promo-main-msg-l1 {margin:0; font-size:16px; font-weight:normal; line-height:43px;}*/
    /*.promo-bar-wrap {line-height:20px;}*/
    /*.promo-main-msg-l2 {margin-right:0;}*/

    /*.promo-bar-wrap .dets-lbl {font-size:10px; right:10px; top:0;}*/
    /*.promo-left,*/
    /*.promo-right {padding:4px 10px; width:100%; float:left;}*/
    /*.promo-t2 .or-wrap {top:34px;}*/
    /*.promo-t2 .or {height:18px; width:18px; line-height:18px;}*/

    /*.promo-bar-wrap .blue-specific,*/
    /*.promo-bar-wrap .red-specific {*/
        /*font-size:10px;*/
        /*line-height: 33px;*/
    /*}*/

/*}*/

/*@media screen and (max-width:480px) {*/
    /*.promo-main-msg-l1 {font-size:14px;}*/
    /*.star.select-show,*/
    /*.promo-bar-wrap .choose,*/
    /*.star.mob-hide {display:none;}*/
    /*.promo-bar-wrap.blue-selected .star.select-show,*/
    /*.promo-bar-wrap.red-selected .star.select-show {display:inline-block}*/
    /*.promo-bar-wrap.red-selected .headline-main,*/
    /*.promo-bar-wrap.blue-selected .headline-main {display:none;}*/
    /*.promo-bar-wrap.red-selected .headline,*/
    /*.promo-bar-wrap.blue-selected .headline {text-align:left;}*/
    /*.promo-bar-wrap .star {*/
        /*margin:0 8px;*/
    /*}*/
/*}*/
/* HOLIDAY SPLIT PROMO */

.happychef-giftcard-index-index .one-column .em_main{
    margin-top:0;
}

/**************************************************************/
/* HP A */
/**************************************************************/

/**************************************************************/
/* HP A */
/**************************************************************/

/**************************************************************/
/* HP B */
/**************************************************************/

/**************************************************************/
/* HP B */
/**************************************************************/

/**************************************************************/
/* HP C */
/**************************************************************/

/**************************************************************/
/* HP C */
/**************************************************************/

/**************************************************************/
/* DETAILS POPUPS */
/**************************************************************/
.popup {display:none;}
/**************************************************************/
/* DETAILS POPUPS */
/**************************************************************/


/* FUTURE GLOBALS */
.bettercheckout .totals .ajax_loading,
.promo-confirm-msg .ajax_loading {
    background-image:url('../../images/loading.gif');
    background-repeat:no-repeat;
}
.promo-confirm-msg .ajax_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 40px;
    width: 40px;
    background-size: cover;
}
.bettercheckout .totals .ajax_loading {
    display:none;
    position:absolute;
    height:calc(100% - 40px);
    width:calc(100% - 40px);
    background-size:40px 40px;
    background-position:center;
    background-color: rgba(255,255,255,0.7);
}
img.promo-image{
    width:100%;
}
/* FUTURE GLOBALS */


/* DYNAMIC OFFER LIGHTBOX */
.dynamic-offer-wrap {
    text-align:center;
    width:800px;
    box-sizing: border-box;
    padding:40px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    color:#464646;
    /*background-color:#eeeeee;*/
    position:relative;
}
.dynamic-offer-wrap .light {color:#636363;}
.dynamic-offer-wrap .dark {color:#333333;}
.dynamic-offer-wrap .headline {
    font-size: 40pt;
    line-height:42pt;
    font-weight: bold;
    margin:10px 0 5px;
}
.dynamic-offer-wrap .subhead {font-size:18px;}
.dynamic-offer-wrap .offer-img {width:560px; margin:20px 0;}
.dynamic-offer-wrap .disclaimer-head {font-weight:bold;}
.dynamic-offer-wrap .disclaimer-head {font-size:16px; line-height:24px;}
.dynamic-offer-wrap .disclaimer-text {margin-bottom:40px;}
.dynamic-offer-wrap .form-wrap {margin:40px 0;}
.dynamic-offer-wrap .big-check {display:none;}
.dynamic-offer-wrap .eml-check-wrap {display:inline-block; margin-right:10px;}
#big-check-img {
    height:30px;
    width:30px;
    display:inline-block;
    cursor:pointer;
    vertical-align: middle;
    background-image:url('../../images/big-check-sprite.png');
    background-size:100% auto;
    background-position: top;
}
#big-check-img.uncheck {
    background-position: bottom;
}
.dynamic-offer-wrap .eml-check-line {margin:30px 0; font-weight: bold;}
.dynamic-offer-wrap .eml-check-line label {
    font-size:14px;
    line-height:30px;
}
.dynamic-offer-wrap input[name='email'] {
    width:185px;
    font-size:16px;
}
.dynamic-offer-wrap input[name='email'],
.dynamic-offer-wrap button.action {
    height:50px;
    line-height:50px;
    padding:0 15px;
}
.dynamic-offer-wrap input[name='email'] {border:1px solid #d2d2d2;}
.dynamic-offer-wrap input[name='email'],
#dyn-offer-eml button.action {float:left; box-sizing: border-box;}
.dynamic-offer-wrap button.action {
    background-color:#2294a7;
    color:#ffffff;
    font-weight: bold;
    border:none;
    font-size:16px;
}
.dynamic-offer-wrap .centering-wrap {display: inline-block;}
.dynamic-offer-wrap .pop-close {
    position:absolute;
    right:15px;
    top:15px;
    width:25px;
    height:25px;
}
.dynamic-offer-wrap .mob-break {display:none;}
.dynamic-offer-wrap .rnd-check {
    border:1px solid #18c818;
    border-radius:50%;
    height:40px;
    width:40px;
    padding:4px;
    margin:10px 0;
}
.dynamic-offer-wrap .promo-line {margin:30px 0;}
.dynamic-offer-wrap .promo-msg {
    margin:30px auto;
    line-height:24px;
    width: 580px;
}
.dynamic-offer-wrap .promo-code-disp {font-weight:bold;}
.dynamic-offer-wrap .promo-msg span {font-weight:bold;}
.dynamic-offer-wrap .inputs {margin:10px 0 0 0;}
#dynamic_offer_form {position:relative;}
#dynamic_offer_form .load-spinner {
    position:absolute;
    float:none;
    right:-50px;
    top:-30px;
    width:30px;
    height:30px;
}
#dynamic_offer_form .validation-advice {
    position:absolute;
    top:15px;
    width:100%;
    background:none;
    padding-left:0;
}
#dynamicoffers-captcha {display:inline-block;}
#dynamic_offer_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border:1px solid #d2d2d2;
}
/**************************************************************/
/* NOTIFICATION BAR */
/**************************************************************/
#notification-bar ~ .wrapper,
#notification-bar ~ .wrapper .mob-menu-btn {padding-top:37px;}
/**************************************************************/
/* NOTIFICATION BAR */
/**************************************************************/

@media screen and (max-width:960px) {
    .dynamic-offer-wrap {width:720px;}
}

@media screen and (max-width: 768px) {
    /**************************************************************/
    /* NOTIFICATION BAR */
    /**************************************************************/
    #notification-bar ~ .wrapper {padding-top:37px;}
    #notification-bar ~ .wrapper .mob-menu-btn {padding-top:0;}
    /**************************************************************/
    /* NOTIFICATION BAR */
    /**************************************************************/
}

@media screen and (max-width:767px) {
    .dynamic-offer-wrap {width:460px;}
    .dynamic-offer-wrap .offer-img {width: 350px; margin: 20px 0;}
    .dynamic-offer-wrap .eml-check-line label {line-height:18px;}
    .dynamic-offer-wrap .eml-check-wrap {position:relative; top:10px;}
    .dynamic-offer-wrap .disclaimer-text {line-height: 22px; font-size: 14px;}
    .dynamic-offer-wrap .promo-msg {width:auto;}
}

@media screen and (max-width:480px) {
    .dynamic-offer-wrap {width: 260px; padding:0px;}
    .dynamic-offer-wrap .offer-img {width: 190px; margin:40px 0 20px;}
    .dynamic-offer-wrap .pop-close {width:20px; height:20px;}
    .dynamic-offer-wrap .headline {font-size: 20pt;}
    .dynamic-offer-wrap .eml-check-wrap {
        position: static;
        display:block;
        float: left;
        margin-top:3px;
    }
    .dynamic-offer-wrap .mob-break {display:block;}
    .dynamic-offer-wrap .eml-check-line label {font-size:12px;}
    .dynamic-offer-wrap .disclaimer-head {font-size: 14px;}
    .dynamic-offer-wrap .disclaimer-text {font-size: 12px;}
    .dynamic-offer-wrap .centering-wrap {width:240px;}
    .dynamic-offer-wrap input[name='email'] {width:60%;}
    .dynamic-offer-wrap .eml-field-wrap button {width:40%; padding:0}
    .offer-detail-wrap.fancybox-wrap {
        /*width:310px !important;*/
        padding:10px;
    }
    .offer-detail-wrap .fancybox-inner {
        /*width:100% !important;*/
    }
    .offer-detail-wrap .fancybox-skin {
        padding:4px !important;
    }
    #dynamic_offer_form .load-spinner {
        right: calc(50% - 30px);
        top: 0;
    }
    .dynamic-offer-wrap .inputs {margin:10px 0 20px 0;}
    #dynamicoffers-captcha {
        transform:scale(0.7) translateX(-52px);
    }
}

@media screen and (max-width:320px) {
    .offer-detail-wrap.fancybox-wrap {
        left:5px !important;
    }
}

/************************************************************************/
/* CATALOG THANK YOU */
/************************************************************************/
.thankyou-cta {
    text-align:center;
    margin:40px 0 20px;
}
#thankyou-aspot {
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height:320px;
}
.thankyou-copy {
    position:absolute;
    bottom:20px;
    left:20px;
    color:#ffffff;
    white-space:nowrap;
}
.thankyou-copy h1 {
    color:#ffffff;
    font-size:44px;
    font-weight:500;
    margin-bottom:3px;
}
.thankyou-copy h2 {
    color:#ffffff;
    font-size:21px;
    font-weight:200;
}
.thankyou .mid-rule h2 {
    background-color:#ffffff;
}
.ty-row {
    width:50%;
    float:left;
}
.thankyou-4column.skg .grid_6.first {
    margin-left:0;
}
.thankyou-4column.skg .grid_6.last {
    margin-right:0;
}
.thankyou-4column.skg .grid_6 img {
    width:100%;
}
.thankyou-4column.skg .grid_6 {
    width:48.5%;
    margin-left:1%;
    margin-right:1%;
    float:left;
}

@media screen and (max-width: 960px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 568px) {
    #thankyou-aspot {
        height:240px;
    }
    .thankyou-copy {
        left: 50%;
        transform: translateX(-50%);
        text-align:center;
    }
    .thankyou-copy h1 {
        font-size:40px;
        margin-bottom:3px;
    }
    .thankyou-copy h2 {
        font-size:20px;
        font-weight:100;
    }
}
@media screen and (max-width: 480px) {
    .ty-row {
        width:100%;
        float:none;
    }
    .thankyou-4column.skg .ty-row:first-of-type {
        margin-bottom:2%;
    }
    .thankyou-4column.skg .ty-row .grid_6:first-of-type {
        margin-left:0;
    }
    .thankyou-4column.skg .ty-row .grid_6:last-of-type {
        margin-right:0;
    }
}
/************************************************************************/
/* CATALOG THANK YOU */
/************************************************************************/

/**********************************************************/
/* RESTAURANT UNIFORMS */
/**********************************************************/
.cms-restaurant-uniforms .skg {position:relative;}
.cms-restaurant-uniforms .skg img {width:100%;}
.cms-restaurant-uniforms .container_24 .grid_12.skg,
.cms-restaurant-uniforms .container_24 .grid_8.skg {
    margin-left:0;
    margin-right:0;
}
.rest-uni-copy {
    position:absolute;
    bottom:15px;
    left:20px;
    text-align:left;
    white-space: nowrap;
}
.rest-uni-copy.rest-hero {
    bottom:45px;
}
.rest-uni-copy.rest-hero h2{
    font-size:22px;
}
.rest-uni-copy h1 {
    font-size:44px;
    font-weight:400;
    margin-bottom:3px;
}
.rest-uni-copy h2 {
    font-size:20px;
    font-weight:200;
    margin-bottom:0;
}
.rest-uni-copy h3 {
    font-size:18px;
    font-weight:200;
    margin-bottom:0;
}
.rest-uni-copy.light {
    color:#ffffff;
}
.rest-uni-copy.dark {
    color:#444444;
}
@media screen and (max-width:768px) {
    .rest-uni-copy h1 {
        font-size: 40px;
    }
}
@media screen and (max-width:568px) {
    .rest-uni-copy {
        bottom:15px;
        left:15px;
    }
    .rest-uni-copy.rest-hero {
        bottom:25px;
    }
    .rest-uni-copy h1 {
        font-size: 28px;
    }
    .rest-uni-copy.rest-hero h2{
        font-size:18px;
    }
}
@media screen and (max-width:480px) {
    .rest-uni-copy.rest-hero h1 {
        font-size: 20px;
    }
    .rest-uni-copy.rest-hero h2{
        font-size:13px;
    }
    .rest-uni-copy {
        bottom:10px;
        left:15px;
    }
}
@media screen and (min-width:769px) {
    .cms-restaurant-uniforms .container_24 .grid_12.skg {
        width: 50%;
    }
    .cms-restaurant-uniforms .container_24 .grid_8.skg {
        width: calc(100% / 3);
    }
}
/**********************************************************/
/* RESTAURANT UNIFORMS */
/**********************************************************/
