.false-link {cursor:pointer;}
.forgot-pwd-wrap {width:355px; margin:auto;}
.hide-1010,
.hide-568 {display:block;}
.hide-568-inline {display:inline;}
.show-1010,
.show-568,
.show-568-inline,
.show-568-inline-block {display:none;}
.pseudo-input-label {
    font-size:12px;
    color: #a7a7a7;
    font-weight:500;
}
.pseudo-input-field {
    font-size:14px;
    font-weight:600;
    margin-top:4px;
}
.ital {font-style:italic;}
.orig-price {display:none;}
/* PREVENT YELLOW BG ON AUTOCOMPLETED FIELDS IN CHROME */
@-webkit-keyframes autofill {
    to {
        color: #6f7073;
        background: transparent;
    }
}
@-webkit-keyframes autofill-dark {
    to {
        color: #404040;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.bettercheckout input:-webkit-autofill {
    -webkit-animation-name: autofill-dark;
    -webkit-animation-fill-mode: both;
}
/* PREVENT YELLOW BG ON AUTOCOMPLETED FIELDS IN CHROME */
.cat-aspot {margin-top:5px;}
.cms-page-view .std {margin-top:5px;}
#cat-slideout-recaptcha {overflow:hidden; max-width:100%;}
html.noscroll,
body.noscroll {
    height:100%;
    overflow:hidden;
    position:relative;
}
#ProductDetail_ProductReviews-Container .mid-rule h2,
.product-view .mid-rule h2 {
    background-color: #ffffff;
}
.mid-rule h2 {
    display:inline-block;
    position:relative;
    top: 22px;
    padding:0 20px;
    /*background-color: #ffffff;*/
}
.product-view .mid-rule h2 {
    background-color: #ffffff;
}
.aw-arp-block .mid-rule h2 {
    background-color: #ffffff;
}
.mid-rule {
    border-bottom:2px solid #e0e0e0;
    text-align: center;
    margin-bottom: 20px;
}
a:hover {text-decoration:none; color:#2294A7}

.si.cart-sidebar-edit .si-panel {
    background:url('../../images/loading-hc-dark.gif') center center no-repeat;
}
.custom .floatFix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}

.page {padding:0;}

.lbl-title .amconf-label {font-weight:normal;}

.system-message {
    position: fixed;
    left:0;
    background-color: #E76826;
    color: #fff;
    text-align: center;
    padding: 20px;
    z-index: 9000;
    width: 100%;
    display: none;
    box-sizing: border-box;
    font-size: 14px;
}

.system-message div {
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
}

/* PRODUCT OPTIONS */
.ui-tooltip {
   background: #666;
   color: white;
   border: none;
   padding: 0;
   opacity: 1;
   z-index: 9999999999999999999999999999;
   font-size: 10px;
}
.ui-tooltip-content {
   position: relative;
   padding: 1em;
   font-size: 10px;
}
.ui-tooltip-content::after {
   content: '';
   position: absolute;
   border-style: solid;
   width: 0;
}
.left .ui-tooltip-content::after {
   bottom: -10px;
   left: 50%;
   border-color: transparent #666;
   border-width: 10px 0 10px 10px;
   font-size: 10px;
}
p.note {
   display: none;
}
#close-msg {
   margin: 0 auto;
   width: 310px;
   margin-top: 50px;
   text-align: center;
}
.close-button {
   width: 100%;
   color: #fff;
   text-align: center;
   margin: 15px 0 0 0;
   padding: 6px 10px;
   cursor: pointer;
}
#dontSaveClose {
   background-color: #ffffff;
   text-transform:uppercase;
   color:#333333;
   border:1px solid #333333;
}
#saveClose {
   margin-top:25px;
   background-color: #2294a7;
   text-transform:uppercase;
}
#closeWindow {
   border: none !important;
}
.catalog-product-view .fancybox-inner #embroideryContainer .button {
   position: relative !important;
   float: right;
   top: 0px !important;
   right: 0px !important;
}
.addFreeProdRuleDescCart span {
    font-weight:600;
    font-style:italic;
    letter-spacing:0.5px;
    font-size: 14px;
}
.addFreeProdRuleQtyCart {
    font-weight:600;
    font-style:italic;
    letter-spacing:0.5px;
    font-size: 14px;
    color: #434343;
}
.addFreeProdRuleDescPdp {
    display:inline-block;
    vertical-align: middle;
}
.addFreeProdRuleDescPdp span {
    font-weight:bold;
    font-style:italic;
    letter-spacing:0.5px;
    color:#0daf55;
}
/* /PRODUCT OPTIONS */

/* END PRODUCT DETAIL PAGES */

/* Content Page Styles 1024 */

/* Wrapper for all CMS content pages */
#pageNotFound {min-width:300px;}

/* COLUMN WIDTHS */
.custom .one-fourth-to-full-767,
.custom .one_fourth,
.custom .one_third,
.custom  .one-third-to-one-half,
.custom .one-third-to-full-767,
.custom  .one-third-to-full,
.custom .one_half,
.custom .one-half-to-full-767,
.custom .one-half-to-full-960,
.custom .two_thirds,
.custom .two-thirds-to-full-767,
.custom .three_fourths,
.custom .three-fourths-to-full-767
{
	display:inline;
	float: left;
	position: relative;
	margin-right: 10px;
}
.custom .one-third-to-full
{
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
}
.custom .grid_24 {
	display:inline;
	float: left;
	position: relative;
}
.custom .one-fourth-to-full-767,
.custom .one_fourth {
	width:230px;
}
.custom .one-third-to-one-half img {max-width:310px;}
.custom  .one-third-to-one-half,
.custom  .one-third-to-full,
.custom .one-third-to-full-767,
.custom .one_third {
	width:310px;
}
.custom .one-half-to-full-960,
.custom .one-half-to-full-767,
.custom .one_half {
	width:470px;
}
.custom .two-thirds-to-full-767,
.custom .two_thirds {
	width:630px;
}
.custom .three-fourths-to-full-767,
.custom .three_fourths {
	width:710px;
}
.custom #placementOptions  .omega,
.custom .omega {margin-right: 0;}
/* /COLUMN WIDTHS */

.custom .archer {font-family: 'Archer SSm A','Archer SSm B', 'Sanchez','Times New Roman',serif;}
.custom h1,
#cat-req-form-wrap h1,
#pg-cat-req-form-wrap h1,
#cat-req-form-wrap h1, #pg-cat-req-form-wrap h1, .custom h1,
h1.cms-head {
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 20px;
    font-weight: 600;
}
.cms-head--smaller {
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-size: 17px;
    line-height: 1.15;
    margin-bottom: 20px;
    font-weight: 600;
}
.cms-pg {
    margin: 35px 0 0 0;
}
.cms-section {
    margin: 0 0 40px 0;
}
.cms-section .subsection {
    margin: 0 0 30px 0;
}
.return-option-container {
    text-align: center;
}
.return-option-wrap {
    display: inline-block;
}
.return-option {
    border: 1px solid #6f7073;
    padding:30px;
    margin-bottom:40px;
    text-align:left;
    box-sizing:border-box;
}
.returns-form-wrap {
    text-align:center;
    margin-top:30px;
}
.return-address {
    font-weight:600;
    margin-top:15px;
}
.opt-list {
    list-style-type: decimal;
    list-style-position:outside;
    margin-left: 30px;
}
.opt-list li {
    padding-left: 15px;
    line-height: 20px;
    margin-bottom:5px;
}
.print-actions {
    margin:50px 0;
}
.return-label-wrap {
    margin: 40px 0;
    overflow: hidden;
}
.print-btn {
    min-width:162px;
    margin-right:10px;
}
h1.cms-head {
    text-align: center;
}

h2.cms-sub-bold {
    margin: 0 0 1em;
    padding: 0;
    font-size:18px;
    font-weight:600;
}
h3.cms-title-bold {
    font-size:14px;
    font-weight:600;
}
.std ul ul.sm-bullet {
    list-style-type:disc;
}
.sm-bullet li {
    font-size:10px;
}
.sm-bullet li span {
    font-size:14px;
    line-height:18px;
    vertical-align:middle;
}
.return-notice {
    font-size:10px;
    font-weight:600;
}
.return-label-img {
    width: 100%;
}
.returns-form-wrap .return-notice,
.returns-form-wrap .myCheckbox {
    float:left;
}
.returns-form-wrap .myCheckbox {
    margin-right:15px;
}
.returns-form-wrap .checkbox-wrap {
    margin-left:15px;
}
#cat-req-form-wrap h2, #pg-cat-req-form-wrap h2, .custom h2 {
    font-size: 20pt !important;
    font-weight: 600 !important;
    line-height: 1.15 !important;
    margin-bottom: 10px !important;
    text-align: center !important;
}
#cat-req-form-wrap h1,
#pg-cat-req-form-wrap h1 {font-size: 54px;font-weight:400;line-height:1.15;margin-bottom:10px;}
.custom h2 {font-size: 29px;}
.custom h3 {font-size: 24px;font-weight: 400;margin-top: 40px;}
.mob-filter-trigram {font-size:20px;}
.custom #chef-gifts-banner .a-spot-subhead {font-size:28px;}
#pageNotFound .msg404,
.custom .a-spot-subhead {font-size:22px;}
#customization .custCatLink {font-size:24px;}
#pageNotFound .link404,
.custom h4 {font-size:18px;}
.custom h5 {margin:10px 0;}
.lbl-title,
.custom .intro,
.custom .lg-copy {font-size:16px;}
.custom #about-pg-banner ~ .one-fourth-to-full-767 blockquote {font-size:17px; font-style:italic; font-weight:500; line-height:24px; text-indent:29px; box-shadow:2px 4px 10px -4px #858585; position:relative;}
.custom .med-copy {font-size:12px;}
#catalogrequest {font-size:13px;}
.custom .sm-copy {font-size:10px;}
#cat-req-form-wrap .cat-signup-header.slideout h1 {font-size:36px !important;}
#cat-req-form-wrap .cat-input-rows-wrap h2 {font-size:50px;}
#pg-cat-req-form-wrap .cat-input-rows-wrap h1 {font-size:50px;}
#customization #a-spot-custom h1 {font-size:80px}

/* FONT WEIGHTS */
.custom a {cursor: pointer;}
.addresses-list a[href*="address/edit"],
.dashboard a[href*="manage"],
.dashboard a[href*="edit"],
.box-title h3,
#customization #a-spot-custom h1,
.custom .bold {font-weight:bold;}
.custom h1 {font-weight:normal;}
.lbl-title,
.font500 {font-weight:500;}
.custom .a-spot-subhead,
.custom .narrow {font-weight:300;}

/* FONT COLORS */
.blue-link,
.product-view .size_chart span.button-sizechart,
.addresses-list a[href*="address/edit"],
.dashboard a[href*="manage"],
.dashboard a[href*="edit"] {color:#2294A7;}
#Catalog label {color:#666666;}
.custom .red {color:#ab0000;}
.hc-red {color:#D0021B;}
.hc-red-bg {background-color:#D0021B;}
#pageNotFound,
.custom .white {color:#ffffff;}
#pageNotFound a {color:#f54f31;}
.custom .shadow {text-shadow:1px 1px 5px #333333;}
.social_productreview .left div {color:#6f7073;}

/* FONT STYLES */
.custom .ital {font-style:italic;}
.products-grid .product-shop .required {text-transform:capitalize;}

/* LINE HEIGHTS */
#customization #a-spot-custom p {line-height:22px;}
#pageNotFound .link404 {line-height:22px;}
p.line-24,
.customer-serv-pg #returns-block p,
.customer-serv-pg p {line-height:24px !important;}
.cust-btn-wrap .Customize.check-bg {line-height:25px;}
.col-1 .box-content label.faux-pwd,
.custom h4 {line-height:34px;}
.custom .lg-line {line-height:24px;}
.custom .intro {line-height:26px;}
#pageNotFound .msg404 {line-height:30px;}
#option-advisory {line-height:25px;}
.custom .font-60 {font-size:60px;line-height:60px;}
.custom .font-48 {font-size:48px;line-height:48px;}
.custom .font-32 {font-size:32px;line-height:32px;}
.custom .font-24 {font-size:24px;line-height:30px;}
.custom .font-14 {font-size:14px;line-height:16px;}
.custom #about-pg-banner ~ .one-fourth-to-full-767 blockquote {padding:13px 18px; margin-top:10px; margin-left:10px; margin-right:26px;}
.custom #about-pg-banner ~ .one-fourth-to-full-767 blockquote:before {content: "\201C"; font-family:'Whitney SSm B'; font-style:normal; font-weight:bold; font-size:650%; color:#d4602e; text-shadow:3px 3px 5px #858585; position:absolute; left:-48px; top:14px;}


/* TEXT TRANSFORMS */
.custom .all-ucase {text-transform: uppercase;}
.custom .ucase {text-transform: capitalize;}
.custom .lcase {text-transform: lowercase;}
.custom .half-width {width:50%;}

/* FLOATS */
#advancereviews-pager-reviews-footer .pager .amount,
#advancereviews-pager-reviews .pager .amount,
#discount-coupon-form .discount-form .buttons-set {float:none;}
.cust-btn-wrap .Customize.check-bg,
.cust-btn-wrap #Customize,
.cust-btn-wrap .remove-customization-button,
#advancereviews-pager-reviews-footer .pager .limiter,
#advancereviews-pager-reviews .pager .limiter,
#advancereviews-pager-reviews-footer,
#cat-req-form-wrap .opt-lbl,
.custom .whats-new-lt-arrow,
#customization .custCatLink,
#pg-cat-req-form-wrap .optin,
#pg-cat-req-form-wrap .opt-lbl,
.custom #coats-banner .copywrap,
#cat-req-form-wrap .cat-signup-header,
#pg-cat-req-form-wrap .cat-signup-header,
.cat-input-wrap,
.custom .float-lt,
.custom .resp-float-lt-767,
.custom .resp-float-lt-960,
.custom .resp-float-lt-480,
#send2 {float: left;}

#pg-cat-req-form-wrap .load-spinner,
#pg-cat-req-form-wrap input[name='send'],
#advancereviews-pager-reviews-footer .pager .pages,
#advancereviews-pager-reviews .pager .pages,
.custom .whats-new-rt-arrow,
#contact-form,
#cat-req-form-wrap .cat-input-wrap,
.custom .float-rt,
.custom .resp-float-rt-960,
.custom .resp-float-rt-767,
.custom .resp-float-rt-480 {float: right;}
/* Clear Floating Elements */
.custom .floatFix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}
.custom .clear {clear:both;content:' ';display:block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}

/* TEXT ALIGNMENT */
.block #mob-filter-btn.block-title strong span,
#advancereviews-pager-reviews-footer .pager .amount,
#advancereviews-pager-reviews .pager .amount,
.bottom-footer {text-align:left;}
#cat-req-form-wrap .cat-input-wrap,
.cat-input-wrap,
.custom .align-rt {text-align: right;}
#customization .custCatLink,
#cat-req-form-wrap .cat-signup-header-text,
#pg-cat-req-form-wrap .cat-signup-header-text,
#cat-req-form-wrap .cat-signup-header-text-767,
#pg-cat-req-form-wrap .cat-signup-header-text-767,
.remove-conf-msg,
.custom .align-ctr {text-align: center;}
.custom .sm-icon {width: 20px;height: 20px;margin: 5px;overflow: hidden;}
.cat-input-field,
.custom .no-border {border:none;}
.logo-1 a:nth-child(2), .logo-2 a:nth-child(2) {text-indent:-9999px;}

/* BACKGROUNDS */
.product-options .Customize.check-bg,
.product-options .customize-from-quickshop {background-image:url("../../images/checked-checkbox-xl.png"); background-repeat:no-repeat; background-position:left 3px; background-size:12px;}
.product-options .Customize.uncheck-bg,
.product-options .remove-customization-button.uncheck-bg,
.product-options .customize-from-quickshop.uncheck-bg {background-image:url("../../images/unchecked-checkbox-xl.png"); background-repeat:no-repeat; background-position:left 3px; background-size:12px;}
.product-options .blue-link#Customize,
.product-options .customize-from-quickshop {background-position:left center; background-repeat:no-repeat; padding-left:20px;}
#tooltip-close {background: url(../../images/close-embroid.jpg) no-repeat;}
.custom .bkgd-lite {background-color:#f1f1f1;}
.bg-lt-grey-matte {background-color:#f8f8f8;}
#pg-cat-req-form-wrap .cat-input-rows-wrap select,
.cat-input-field,
.custom .bkgd-dark {background-color:#eeeeee;}
input.cat-input-field:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #eeeeee inset; /* handles Chrome autofill background issue */
}
#pageNotFound {
	background-image:url("../../../../../../media/wysiwyg/404-page_03.jpg");
	background-position: right top;
    background-repeat: no-repeat;
    height: 747px;
}
.custom .whats-new-t1-wrap {
   background-image:url("../../../../../../media/wysiwyg/whats-new/whats-new-t1.jpg");
   background-position:center;
   background-repeat:no-repeat;
   background-size:contain;
}
.custom .whats-new-t5-wrap {
   background-image:url("../../../../../../media/wysiwyg/whats-new/whats-new-t5.jpg");
   background-position:center;
   background-repeat:no-repeat;
   background-size:contain;
}
.custom .whats-new-t9-wrap {
   background-image:url("../../../../../../media/wysiwyg/whats-new/whats-new-t9.png");
   background-position:center;
   background-repeat:no-repeat;
   background-size:contain;
}
.politespace-proxy-val {
    color:#404040;
}
/*.product-view .size_chart {background:url(../../images/size-chart.png) 0 3px no-repeat;}*/

/* CATEGORY A-SPOTS */
.cat-aspot {position:relative;}
.cat-title {
    position: absolute;
    bottom: 30px;
}
.txt-right .cat-title {
    right: 30px;
}
.txt-left .cat-title {
    left: 30px;
}
.cat-title h1 {
    font-family:WhitneySemibold,'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-size: 44px;
    font-weight:400;
    color: #ffffff;
    margin:0;
    text-transform:uppercase;
}
.cat-aspot .tm {
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    vertical-align: top;
    font-size: 28px;
    font-weight: 100;
}


/* BORDERS */
#contact-form,
#cat-req-form-wrap .cat-input-rows-wrap .cat-input-field,
#cat-req-form-wrap .cat-input-rows-wrap select,
#pg-cat-req-form-wrap .cat-input-rows-wrap select {border:none}
#tooltip-close {border:1px solid #ffffff;}
.fancybox-wrap.remove-confirm .fancybox-skin {border-radius:0;}


/***********************************************************/
/* Structures */
/***********************************************************/

/* DISPLAY TYPES */
.cust-serv-links-wrap h3 {display:inline;}
.custom .sm-icon,
.custom .inline-block,
#contact-form input,
#contact-form label,
#contact-form .rt-side {display:inline-block;}
#pg-cat-req-form-wrap input[name='send'],
.header .logo-theme a.logo,
.sidebar.col-left #wishlist-sidebar .item a.product-image img,
#mob-filter-wrap,
.custom .whats-new-rt-img,
.custom .whats-new-lt-img,
.a-spot-btn-wrap ul.list-content li,
.custom img.ribbon,
.custom img.flag,
#pg-cat-req-form-wrap #Catalog,
#pg-cat-req-form-wrap .cat-signup-header img,
#cat-req-form-wrap .cat-signup-header img,
.custom #placementOptions img,
.custom .block,
#contact-form {display:block;}
dt[id^="label-267"],
dt[id^="label-267"] + dd,
dt[id^="label-220"],
dt[id^="label-220"] + dd,
dt[id^="label-213"],
dt[id^="label-213"] + dd,
.show-480,
.show-768,
input#change_password,
label[for="change_password"] {display:none !important;}
.show-767,
#Customize2,
#tooltip-close,
dt.amshopby-collapsed+dd > ol,
p#back-top,
#mob-filter-btn,
#cat-req-form-wrap .cat-signup-header-img-767,
#cat-req-form-wrap .cat-signup-header-text-767 {display:none;}
.hide-479 {display:initial;}
.show-479 {display:none;}

/* MARGINS */
.sidebar.col-left #wishlist-sidebar .item a.product-image img,
.custom img.ribbon,
.custom img.flag,
.custom .center {margin-left:auto;margin-right:auto;}
.a-spot-btn-wrap ul {margin:0;}
.custom .row-sm-vspace,
.custom .sm-vspace {margin-top:5px;margin-bottom:5px;}
.custom .row-vspace-10,
.custom .med-vspace {margin-top:10px;margin-bottom:10px;}
#cat-req-form-wrap .cat-input-wrap,
.cat-input-wrap,
.custom .row-vspace-15 {margin-top:15px;margin-bottom:15px;}
#customization .custCatLinkWrap {margin-top:20px;margin-bottom:20px;}
.lg-vspace {margin-top:25px;margin-bottom:25px;}
.xl-vspace {margin-top:40px; margin-bottom:40px;}
.xxl-vspace {margin-top:60px; margin-bottom:60px;}
.one-column .em_main {margin-top:5px;}
.cms-index-index.cms-em0080-home .one-column .em_main,
.cms-page-view.cms-customization .one-column .em_main,
.cms-page-view.cms-about-us .one-column .em_main {margin-top:0;}
.custom .sm-vspace-top {margin-top: 5px;}
#pg-cat-req-form-wrap input[type="image"],
#cat-req-form-wrap h1,
.custom .med-vspace-top {margin-top: 10px;}
.cms-contact-us .em_main,
.custom #straightLine .rt-side {margin-top:15px;}
.product-options-bottom .add-to-cart .btn-wrap-red {margin-right:15px;}
.cust-serv-links-wrap,
.logout-block,
#contact-form .submit-row,
.custom .vspace-top-20 {margin-top:20px;}
.custom .whats-new-rt-img,
.custom .whats-new-lt-img,
.custom .resp-lg-vspace-top-960,
.custom .lg-vspace-top {margin-top:25px;}
.placement-option,
.custom .xl-vspace-top {margin-top:40px;}
.custom .vspace-50-960 {margin-top:50px;}
#pg-cat-req-form-wrap .cat-signup-header img {margin-top:40px;}
#cat-req-form-wrap .cat-input-rows-wrap select,
#pg-cat-req-form-wrap .cat-input-rows-wrap select {margin-bottom:0;}
.custom .sm-vspace-bottom {margin-bottom: 5px;}
#pageNotFound .msg404,
.bottom-footer p,
#cat-req-form-wrap input[type="image"],
#pg-cat-req-form-wrap input[type="image"],
.custom .med-vspace-bottom {margin-bottom: 10px}
.customer-serv-pg .customer-serv-bookmarks {margin-bottom:15px;}
#customization #a-spot-custom > div img,
.best-seller-wrap,
.cust-serv-links-wrap li {margin-bottom:20px;}
.custom .lg-vspace-bottom {margin-bottom: 25px;}
.custom .xl-vspace-bottom {margin-bottom:40px;}
.cust-serv-links-wrap {margin-bottom:45px;}
.custom .vspace-50-960 {margin-bottom:50px;}
#cat-req-form-wrap .optin {margin-right:0;}
.custom .resp-sm-hspace-960,
.custom .sm-hspace {margin-left:5px;margin-right:5px;}
.custom .resp-med-hspace-960,
.custom .med-hspace {margin-left:10px;margin-right:10px;}
.custom .lg-hspace {margin-left:25px;margin-right:25px;}
#pg-cat-req-form-wrap .cat-signup-header img {margin-left:38px;}
.whats-new-pg .relative-wrap,
.whats-new-lt-img,
.whats-new-rt-img,
#pg-cat-req-form-wrap #Catalog,
.customwrap {margin-left:auto;}
.product-collateral-left .base-mini .aw-arp-content div.aw-arp-item:first-child {margin-left:0;}
#pg-cat-req-form-wrap .cat-input-rows-wrap .zip-lbl,
.custom .hspace-lt-5-6-960,
.custom .hspace-lt-5-6-480,
.custom .resp-sm-hspace-lt-960,
.custom .sm-hspace-lt {margin-left:5px;}
#pg-cat-req-form-wrap input[type="image"],
.custom .resp-med-hspace-lt-960,
.custom .med-hspace-lt {margin-left:10px;}
.custom .lg-hspace-lt {margin-left:25px;}
.customer-serv-pg .customer-serv-bookmarks {margin-left:80px;}
#pg-cat-req-form-wrap .optin,
#cat-req-form-wrap .optin {margin-left:110px;}

.whats-new-pg .relative-wrap,
.whats-new-lt-img,
.whats-new-rt-img,
#pg-cat-req-form-wrap #Catalog,
.customwrap {margin-right:auto;}
.product-collateral-left .base-mini .aw-arp-content div.aw-arp-item:last-child,
.custom .add-sm-hspace-rt-480 {margin-right:0;}
#pg-cat-req-form-wrap .cat-input-rows-wrap .zip-lbl,
#pg-cat-req-form-wrap .cat-input-rows-wrap .std-lbl,
#contact-form label,
.custom .hspace-rt-5-6-480,
.custom .resp-sm-hspace-rt-480,
.custom .resp-sm-hspace-rt-960,
.custom .sm-hspace-rt {margin-right:5px;}
.footer-wrapper-new .newsletter-intro,
.col-1 .box-content label.faux-pwd,
.custom .resp-med-hspace-rt-960,
.custom .med-hspace-rt {margin-right:10px;}
#advancereviews-pager-reviews-footer .pager .pages,
#advancereviews-pager-reviews .pager .pages {margin-right:20px;}
.custom .lg-hspace-rt {margin-right:25px;}

#pg-cat-req-form-wrap .load-spinner {margin:17px 0 0 0;}


/* PADDING */
/*.btn-wrap-red, .btn-wrap-blue {padding:3px;}*/
#pg-cat-req-form-wrap .cat-input-rows-wrap select {padding:0;}
.cat-input-field[type='text'], .cat-input-field[type='email'] {padding-left:8px;padding-right:8px;}
#mob-filter-btn {padding-left:33px;}
.cust-btn-wrap .remove-customization-button.blue-link {padding-left:8px;}
#Customize2,
#Customize {padding-left:20px;}
.custom .resp-pad-lt-30-767,
.custom .pad-lt-30 {padding-left:30px;}
#pageNotFound .copy404,
/*#cat-req-form-wrap .cat-signup-header,*/
.custom .pad-lt-50 {padding-left:50px;}
#cat-req-form-wrap input[type='image'] {padding-left:82px;}
.custom .pad-lt-100 {padding-left:100px;}
.cust-serv-links-left {padding-left:125px;}
#contact-form input[type="text"], #contact-form input[type="email"] {padding-left:5px; padding-right:5px;}
.cat-input-wrap {padding-right:0;}
.product-view #Customize.blue-link {padding-right:8px;}
.custom .pad-rt-20 {padding-right:20px;}
.custom .pad-rt-30 {padding-right:30px;}
#cat-req-form-wrap .cat-input-wrap,
.custom .pad-rt-50 {padding-right:50px;}
.custom .pad-top-20 {padding-top:20px;}
#pg-cat-req-form-wrap .cat-input-rows-wrap select {padding:5px;}
.custom .lg-vpad-top {padding-top:30px;}
.custom .lg-vpad {padding-top:30px;padding-bottom:30px;}
.custom .pad-top-100 {padding-top:100px;}
.custom .pad-top-160 {padding-top:160px;}
#pageNotFound .copy404 {padding-top:300px;}
.bg-lt-grey-matte {padding:20px;}

.custom #straightLine .padLeft {padding-left:75px;}

/* WIDTHS */
#tooltip-close {width:20px;}
#cat-req-form-wrap .cat-input-rows-wrap select[name="Country"] {width:300px;}
.cat-input-field {box-sizing: border-box; width:300px;}
.custom img.ribbon {width:276px;}
.whats-new-pg .relative-wrap,
.whats-new-lt-img,
.whats-new-rt-img,
#pg-cat-req-form-wrap .cat-input-rows-wrap select[name="Country"] {width:300px;}
.cat-signup-header.slideout {width:400px;}

#cat-req-form-wrap .cat-input-rows-wrap .cat-input-field[name="State"] {width:115px;}
#cat-req-form-wrap .cat-input-rows-wrap .cat-input-field[name="Zip"] {width:90px;}
.custom img.flag {width:61px;}
.custom #straightLine .lt-side img {width:80px;}
#pg-cat-req-form-wrap .cat-input-field[name="State"] {width:77px;}
#contact-form label {width:105px;}
.cat-input-field[name="Zip"] {width:124px;}
.custom #straightLine .lr-side img {width:150px;}
#contact-form textarea,
#contact-form input[type="text"], #contact-form input[type="email"] {width:300px;}
#contact-form .rt-side {width:314px;}
.product-collateral-left .base-mini .aw-arp-content div.aw-arp-item {width:31.19%;}

.cat-signup-header.slideout,
#pg-cat-req-form-wrap #Catalog,
#cat-req-form-wrap .cat-signup-header img {width:400px;}
#pg-cat-req-form-wrap .cat-signup-header {width:490px;}
#pg-cat-req-form-wrap .cat-signup-header img {width:450px;}
.cat-input-wrap {width:410px;}
.custom #straightLine .rt-side,
.custom #straightLine .lt-side {width:480px;}
.custom .whats-new-t9-wrap,
.custom .whats-new-t5-wrap,
.custom .whats-new-t1-wrap {width:917px;}

.best-seller-wrap img,
.sidebar.col-left #wishlist-sidebar .item a.product-image,
#advancereviews-pager-reviews-footer,
#advancereviews-pager-reviews {width:100%;}

/* HEIGHTS */
#tooltip-close {height:20px;}
#pg-cat-req-form-wrap .cat-input-rows-wrap select,
.cat-input-field,
#contact-form label,
#contact-form input[type="text"], #contact-form input[type="email"] {height:27px;}
.custom .hgt180 {height:180px;}
.homepage-2column img {vertical-align:middle;}
.custom .whats-new-t9-wrap {height:481px;}
.custom .whats-new-t1-wrap {height:477px;}
.custom .whats-new-t5-wrap {height:600px;}

/* POSITIONING */
.product-view .add-to-links,
/*#product-options-wrapper .text-size {position:relative;left:auto;top:auto;}*/
.product-view .add-to-links {bottom: -4px;}
#mob-filter-btn,
.relative-wrap,
#pg-cat-req-form-wrap .cat-input-rows-wrap select,
#cat-req-form-wrap .cat-input-rows-wrap select {position:relative;}
#tooltip-close {position:absolute; right:10px; top:10px;}
#mob-filter-btn .mob-filter-trigram {position:absolute; left:10px; top:0;}
.whats-new-t3-highlight {position:absolute; top:5px; left:-30px;}
.whats-new-t6-highlight {position:absolute; bottom:-23px; left:170px;}
.whats-new-t7-highlight {position:absolute; bottom:120px; left:25px;}
.whats-new-t10-highlight1 {position:absolute; bottom:50px; left:20px; z-index:2;}
.whats-new-t10-highlight2 {position:absolute; bottom:205px; left:121px; z-index:3;}
.whats-new-t12-highlight {position:absolute; bottom:100px; left:-30px;}

/* BOX SIZING */
.product-options-bottom,
#product-options-wrapper {box-sizing:border-box;}

/* MISC */
.custom .required:before {content:"* ";color:#ab0000;}
.custom a {text-decoration:none;}
.blue-link,
.custom .uline,
#customization .custCatLink a {text-decoration:underline;}
.custom .hgt180,
#pg-cat-req-form-wrap .cat-input-rows-wrap select {top:-4px;}
#cat-req-form-wrap .cat-input-rows-wrap select {top:-2px;}
.whats-new-pg .relative-wrap,
.whats-new-t7-highlight,
.whats-new-rt-img,
.whats-new-lt-img {box-shadow:2px 3px 5px rgba(0,0,0,0.25);}
#option-advisory {text-transform:none;}
.btn-save-later,
.helpfulness {
    white-space:nowrap;
    font-size: 8pt;
}
#Customize2,
#mob-filter-btn {cursor:pointer;}
.cust-serv-links-wrap h3 {vertical-align:middle;}
.hide-568 {display:block;}
.show-568 {display:none;}

@media screen and (max-width: 1010px) {
    .hide-1010 {display:none;}
    .show-1010 {display:block;}
}

/* 960 BREAKPOINT */
@media screen and (max-width: 960px) {

	.customwrap {width: 700px}
/* COLUMN WIDTHS 960 */
	.custom .one-fourth-to-full-767,
	.custom .one_fourth {
		width:167px;
	}
	.custom .one-third-to-full-767,
	.custom .one_third {
		width:226px;
	}
	.custom .one-third-to-one-half img {max-width:344px;}
	.custom  .one-third-to-one-half,
	.custom .one-half-to-full-767,
	.custom .one_half {
		width:344px;
	}
	.custom .two-thirds-to-full-767,
	.custom .two_thirds {
		width:462px;
	}
	.custom .three-fourths-to-full-767,
	.custom .three_fourths {
		width:522px;
	}
   .custom .one-half-to-full-960 {width:100%;}
	/* /COLUMN WIDTHS 960 */
	#cat-req-form-wrap h1 {font-size: 42px;font-weight:400;line-height:1.15;margin-bottom:10px;}
	#pg-cat-req-form-wrap h1 {font-size: 46px;font-weight:400;line-height:1.15;margin-bottom:10px;}
   #contact-form textarea,
   #contact-form input[type="text"], #contact-form input[type="email"] {width:220px;}

	/* BACKGROUNDS 960 */
	#pageNotFound {background-position: -215px -50px;}

	/* DISPLAY 960 */
	/* HIDE EMBROIDERY CTAS */

/*    .embroidery-hide {display:none !important;}*/

    .quickshop-main .Customize.embroidery-hide {display:block !important;}

	.hide-960 {display:none;}

	/* FLOATS 960 */
	.custom .resp-float-lt-960,
	.custom .resp-float-rt-960 {float:none !important;}

	/* CENTERING 960 */
	.custom .center-960 {margin:auto;}
	.custom #placementOptions  .one-third-to-full {width:100%;}

	/* MARGINS 960 */
	.custom #placementOptions  .one-third-to-full,
	.custom .resp-med-hspace-960 {margin-left:0;margin-right:0;}
	#pg-cat-req-form-wrap .cat-signup-header img,
	.custom .resp-med-hspace-lt-960 {margin-left:0;}
	.custom .hspace-lt-5-6-960 {margin-left:6px;}
	.adapt-3 .top-menu .hnav > .menu-item-depth-0.more-wrapper > .menu-container {
		margin:0 0 0 25px !important;
	}
	#pg-cat-req-form-wrap .optin {margin-left:88px;}
   .custom .one-third-to-one-half,
	#pg-cat-req-form-wrap #Catalog,
	.custom .resp-med-hspace-rt-960 {margin-right:0;}
   div.cust-row div.one-third-to-one-half {margin-right:0;}
   div.cust-row:nth-child(even) div.one-third-to-one-half:nth-child(even) {margin-right:10px;}
   div.cust-row:nth-child(odd) div.one-third-to-one-half:nth-child(odd) {margin-right:10px;}
	.custom .vspace-50-960,
	.custom .resp-lg-vspace-top-960 {margin-top:0;}
	#cat-req-form-wrap .cat-input-wrap,
	.cat-input-wrap {margin-top:10px;}
    .catalog-category-view .two-columns-left .container_24 .sidebar {margin-top: 20px;}
	.custom #straightLine .rt-side {margin-top:25px;}
   .one-third-to-one-half .aprons2 {margin-top:60px;}
	.custom .vspace-50-960 {margin-bottom:0;}
   #placementOptions .one-half-to-full-960.placement-option {margin:0 auto 60px;}
   .aprons3 {margin-bottom:40px;}

	/* WIDTHS 960 */
   #cat-req-form-wrap .cat-input-rows-wrap .cat-input-field[name="Zip"],
	.cat-input-field[name="State"] {width:52px;}
   #cat-req-form-wrap .cat-input-rows-wrap .cat-input-field[name="State"] {width:100px;}
	#cat-req-form-wrap .cat-input-field[name="Zip"] {width:105px;}
	.custom #straightLine .lt-side img {width:64px;}
    #pg-cat-req-form-wrap .cat-input-field[name="Zip"],
	.custom #straightLine .rt-side img {width:95px;}
   .footer-wrapper-new .block-subscribe .input-box {width:auto;}
	#pg-cat-req-form-wrap .cat-input-rows-wrap select[name="Country"] {width:246px;}
	.cat-input-field {width:246px;}
    #cat-req-form-wrap .cat-input-rows-wrap select[name="Country"],
   #contactform .cat-select-field {width: 246px;}
   #contact-form .rt-side {width:300px;}
	.custom #straightLine .rt-side {width:310px;}
	.custom #straightLine .lt-side {width:345px;}
   .cat-signup-header.slideout,
	.cat-input-wrap,
	#pg-cat-req-form-wrap .cat-signup-header img,
	#pg-cat-req-form-wrap .cat-signup-header,
	#pg-cat-req-form-wrap #Catalog,
	#cat-req-form-wrap .cat-signup-header img {width:350px;}
	.custom img.ribbon {width:100%;}
   .custom .whats-new-t9-wrap,
   .custom .whats-new-t5-wrap,
   .custom .whats-new-t1-wrap {width:660px;}

	/* HEIGHTS 960 */
	#pageNotFound {height: 647px;}
   .custom .whats-new-t5-wrap {height:431px;}
   .custom .whats-new-t1-wrap {height:343px;}
   .custom .whats-new-t9-wrap {height:347px;}

	/* PADDING 960 */
	#contact-form {padding-left: 0;}
	#pageNotFound .copy404 {padding-left:40px;}
   .cust-serv-links-left {padding-left:70px;}
	#cat-req-form-wrap .cat-signup-header {padding-left:0;}
	#cat-req-form-wrap .cat-input-wrap,
   .cat-input-wrap {padding-right:0;}
   #contact-form .rt-side input[type=image] {padding-right:66px;}
	#cat-req-form-wrap .cat-signup-header,
	#pg-cat-req-form-wrap .cat-signup-header {padding-top:10px;}
	#pageNotFound .copy404 {padding-top:250px;}

   /* POSITION 960 */
   .whats-new-t7-highlight {left:-3px;}

	/* FONT SIZES 960 */
	#customization #a-spot-custom h1 {font-size: 72px;}
	#customization .custCatLink {font-size: 20px;}
   .whats-new-pg h3 {font-size:18px;}

   .catalogsearch-result-index {
      background-size:100% 90px, 100% 479px;
      background-position:center calc(100% - 144px), center bottom;
      background-repeat:repeat-x;
   }
}
/* /960 BREAKPOINT */



/* 768 BREAKPOINT */
@media screen and (max-width: 768px) {
   .custom #about-pg-banner ~ .one-fourth-to-full-767 {text-align:center;}
   .custom #about-pg-banner ~ .one-fourth-to-full-767 blockquote {text-indent:0;padding:13px 50px;}
   .custom #about-pg-banner ~ .one-fourth-to-full-767 blockquote:before {left:7px;}
   .align-center-767 {text-align: center;}
   .custom .one-half-to-full-767,
   .custom .one-fourth-to-full-767,
   .custom .one-third-to-full-767,
   .custom  .one-third-to-full,
   .custom .three-fourths-to-full-767,
   .customwrap {width:460px;}

   /* COLUMN WIDTHS 768 */
      .custom .one_fourth {
         width:107px;
      }
      .custom .one_third {
         width:146px;
      }
   .custom .one-third-to-one-half img {max-width:244px;}
   .custom .one-third-to-one-half,
      .custom .one_half {
         width:224px;
      }
      .custom .two_thirds {
         width: 302px;
      }
      .custom .three_fourths {
         width:341px;
      }
   .custom .one-fourth-to-full-767,
   .custom .one-third-to-full-767,
          .custom .two-thirds-to-full-767,
         .custom .three-fourths-to-full-767 {
         margin-left: auto;
         margin-right: auto;
      }
      .custom .one-third-to-full-767,
      .custom .two-thirds-to-full-767 {width:100%;}
   /* /COLUMN WIDTHS 768 */

   /* FLOATS 768 */
   #cat-req-form-wrap .cat-signup-header,
   #pg-cat-req-form-wrap .cat-signup-header,
   #cat-req-form-wrap .cat-input-wrap,
   .cat-input-wrap,
   .custom .resp-float-lt-767,
   .custom .resp-float-rt-767 {float:none;}

   /* POSITION 768 */
   .products-grid li.item .product-shop {top:0;}
   .whats-new-t12-highlight {left:-10px;}
   .whats-new-t7-highlight {left:30px;}

   /* FONTS 768 */
   #customization #a-spot-custom h1,
   .custom .font-48px-767 {font-size:48px;}

   #customization .custCatLink {line-height: 40px;}


   /* DISPLAY 768 */
   .menu-item-link a.arrow {display:none !important;}
   .product-img-box-wrap .title,
   .zoomContainer,
   #cat-req-form-wrap .cat-signup-header-text,
   #cat-req-form-wrap .cat-signup-header-img,
   .hide-768 {display:none;}
   .block-compare,
   .compare-social {display:none !important;}
   #cat-req-form-wrap .cat-input-rows-wrap .std-lbl,
   #pg-cat-req-form-wrap .cat-input-rows-wrap .std-lbl {display:inline-block;}
   .mob-menu-btn a.arrow,
   .menu-item-link.more-wrapper a.arrow,
   .show-768 {display:block !important;}
    #mob-filter-btn,
   .menu-item-link.more-wrapper a.arrow,
   #cat-req-form-wrap .cat-signup-header-img-767,
   #pg-cat-req-form-wrap .cat-signup-header-img-767,
   #cat-req-form-wrap .cat-signup-header-text-767,
   #pg-cat-req-form-wrap .cat-signup-header-text-767 {display:block;}
   .homepage-2column .text-right {display:table;}

   /* WIDTHS 768 */
   #cat-req-form-wrap .cat-input-field[name="State"] {width:72px;}
   #pg-cat-req-form-wrap .cat-input-field[name="State"] {width:98px;}
   #pg-cat-req-form-wrap .cat-input-rows-wrap .std-lbl {width:90px;}
   #cat-req-from-wrap .cat-input-rows-wrap .zip-lbl,
   #cat-req-from-wrap .cat-input-rows-wrap .zip-lbl,
   #cat-req-form-wrap .cat-input-rows-wrap .std-lbl {width:86px;}
   .cat-input-field[name="Zip"] {width:121px;}
   .block-subscribe .input-box input.input-text {width:160px;}
    #cat-req-form-wrap .cat-input-rows-wrap .cat-input-field[name="Zip"] {width:274px;}
    #cat-req-form-wrap .cat-input-rows-wrap select[name="Country"],
   #pg-cat-req-form-wrap .cat-input-rows-wrap select[name="Country"],
   #cat-req-form-wrap .cat-input-rows-wrap .cat-input-field[name="State"] {width:292px;}
   #cat-req-form-wrap .opt-lbl {width:180px;}
   .custom #placementOptions img {width:300px;}
   #pg-cat-req-form-wrap .opt-lbl {width:244px;}
   #contactform .cat-select-field {width:292px;}
   .custom #straightLine .rt-side {width:345px;}
   .footer-wrapper-new #newsletter-validate-detail .block-content {width:250px; margin:auto;}
   .cat-input-field {width:292px;}
   #pg-cat-req-form-wrap .cat-signup-header img {width:275px;}
   #cat-req-form-wrap .cat-signup-header img {width:292px;}
   .cat-input-wrap,
   #pg-cat-req-form-wrap #Catalog {width:400px;}
   .custom .whats-new-t9-wrap,
   .custom .whats-new-t1-wrap {width:280px;}
   .custom .whats-new-t5-wrap {width:460px;}
   .custom #straightLine .rt-side img {width:111px;}
   .cat-signup-header.slideout,
   .home-mob-banner img,
    #cat-req-form-wrap,
   img[title=UPS_Delivery_Map],
   #pg-cat-req-form-wrap .cat-signup-header {width:100%;}

   /* HEIGHTS 768 */
   .custom .whats-new-t5-wrap {height:300px;}
   .custom .whats-new-t9-wrap {height:707px;}
   .custom .whats-new-t1-wrap {height:551px;}

   /* CENTERING 768 */
   #cat-req-form-wrap .cat-input-rows-wrap .zip-lbl,
   #pg-cat-req-form-wrap .cat-input-rows-wrap .zip-lbl,
   #cat-req-form-wrap .cat-input-rows-wrap .std-lbl,
   #pg-cat-req-form-wrap .cat-input-rows-wrap .std-lbl {text-align:right;}
   .custom .align-ctr-767 {text-align:center;}
   #pg-cat-req-form-wrap .cat-signup-header img,
   #cat-req-form-wrap .cat-signup-header img,
   .custom .center-767 {margin:auto;}

   /* BORDERS 768 */
   #contact-form {border-right:0;}
   #contact-form {border-bottom:1px solid #bbbbbb;}

   /* MARGINS 768 */
   .custom .whats-new-t9-wrap,
   .custom .whats-new-t1-wrap,
   #cat-req-form-wrap .cat-input-wrap {margin:auto;}
   #cat-req-form-wrap .cat-input-rows-wrap .std-lbl,
   #pg-cat-req-form-wrap .cat-input-rows-wrap .std-lbl {margin-right:10px;}
   #cat-req-form-wrap .cat-signup-header-img-767 {margin-top:15px;}
   #cat-req-form-wrap .optin {margin-left:60px;}
   #pg-cat-req-form-wrap .optin {margin-left:100px;}
    #pg-cat-req-form-wrap .cat-input-wrap {margin-left:auto;}
    #pg-cat-req-form-wrap .cat-input-wrap {margin-right:auto;}
    .logo-menu {margin:0 !important;}
   #pg-cat-req-form-wrap .cat-input-rows-wrap select[name="Country"],
   #cat-req-form-wrap .cat-input-rows-wrap .cat-input-field[name="Zip"] {margin-top:7px;}
   .home-mob-banner {margin-top:15px;}
   .aprons3 {margin-top:40px;}

   /* PADDING 768 */
   #pg-cat-req-form-wrap .cat-signup-header {padding:0;}
   #cat-req-form-wrap .cat-input-wrap,
   .cat-input-wrap {padding-right:0;}
   #cat-req-form-wrap .cat-signup-header {padding: 0 20px;}
   .custom .resp-pad-lt-30-767 {padding-left:0;}
    .cust-serv-links-right {padding-left:70px;}
   #cat-req-form-wrap input[type='image'] {padding-left:96px;}
   .custom #straightLine .padLeft {padding-left:15%;}
    .catalogsearch-result-index .two-columns-left .container_24 .sidebar {margin-top:5px; margin-bottom: 5px;}
    .catalog-category-view .two-columns-left .container_24 .sidebar {margin-top:0; padding-top: 5px;}

   /* BACKGROUNDS 768 */
   .custom .whats-new-t9-wrap {
      background-image:url("../../../../../../media/wysiwyg/whats-new/whats-new-t9-768.png");
   }
   .custom .whats-new-t1-wrap {
   background-image:url("../../../../../../media/wysiwyg/whats-new/whats-new-t1-768.jpg");
   }
   .menu-container .logo-menu {display:none !important;}


   /* MISC 768 */
   .homepage-2column .image-left a {line-height:normal;}
   .homepage-2column .image-left img {vertical-align:middle;}
   .cat-signup-header.slideout {box-sizing:border-box;}
}
/* /768 BREAKPOINT */

/* 767 BREAKPOINT */
@media screen and (max-width:767px) {
    .return-label-wrap {
        height: calc(1.75 * 90vw);
        margin-bottom: 0;
    }
    .return-label-img {
        transform-origin: top left;
        transform: rotate(90deg) translateY(-100%);
        height: 90vw;
        width: auto;
    }

   .show-767 {display:block;}
    .hide-767,
   .container_24 .grid_24.recent_views_fixed {display:none;}

   .cust-serv-links-wrap {margin:auto;}
   .cust-serv-links-left,
   .cust-serv-links-right {padding-left:0;}

   .home-mob-banner {position:relative;}
   .home-mob-banner span {position:absolute; font-family: 'Archer SSm A','Archer SSm B', 'Sanchez','Times New Roman',serif; font-size:48px;}
   .home-pants-banner span,
   .home-aprons-banner span,
   .home-coat-banner span {color:#ffffff;}
   .home-hats-banner span {color:#333333;}
   .home-coat-banner span {bottom:30%; left:3%;}
   .home-pants-banner span {bottom:30%; right:9%;}
   .home-aprons-banner span {bottom:30%; left:3%;}
   .home-hats-banner span {bottom:40%; left: calc(50% - 68px);}
   .cust-serv-links-wrap {width:384px;}
   .products-grid li.item .product-shop {top:0;}
   .block-compare,
   .compare-social,
   .compare-social-wrap {display:none !important;}
}
/* /767 BREAKPOINT */

/* 568 BREAKPOINT */
@media screen and (max-width: 568px) {
    /* CATEGORY A-SPOTS */
    .cat-title h1 {
        font-size: 38px;
    }
    .cat-aspot .tm {
        font-size: 22px;
    }

	/* BACKGROUND 568 */
	#pageNotFound {background-position: -360px -200px;height:447px;}

	/* PADDING 568 */
	#pageNotFound .copy404 {padding:78px 10px 0;}

	/* FONT SIZES 568 */
	#pageNotFound .msg404 {font-size:20px;}

   .home-mob-banner span {font-size:46px;}
   .home-coat-banner span {bottom:30%; left:2%;}
   .home-pants-banner span {bottom:30%; right:9%;}
   .home-aprons-banner span {bottom:30%; left:2%;}
   .home-hats-banner span {bottom:40%; left: calc(50% - 68px);}
   .show-568 {display:block;}
    .show-568-inline {display:inline;}
    .show-568-inline-block {display:inline-block;}
    .hide-568,
    .hide-568-inline {display:none;}
}
/* END 568 BREAKPOINT */

/* 480 BREAKPOINT */
@media screen and (max-width: 480px) {
    .forgot-pwd-wrap {width:100%;}
    .home-mob-banner span {position:absolute; font-family: 'Archer SSm A','Archer SSm B', 'Sanchez','Times New Roman',serif; font-size:30px;}
    .home-coat-banner span {bottom:30%; left:2%;}
    .home-pants-banner span {bottom:30%; right:9%;}
    .home-aprons-banner span {bottom:30%; left:2%;}
    .home-hats-banner span {bottom:40%; left: calc(50% - 44px);}

/* COLUMN WIDTHS 480 */
	.customwrap {width:100%;}
	.align-center-480 {text-align: center;}
		/* GO TO FULL WIDTH */
	.custom .one-fourth-to-full-767,
	.custom .one-third-to-full-767,
		.custom .one_fourth,
	.custom .one_third,
	.custom .one-third-to-one-half,
	.custom .one_half,
	.custom .two_thirds,
	.custom .two-thirds-to-full-767,
	.custom .one-half-to-full-767,
	.custom .three_fourths,
	.custom .three-fourths-to-full-767,
	.custom .full_width
	{
		width: 100%;
	}
	.custom .one_fourth,
	.custom .one_third,
	.custom .one_half,
	.custom .one-half-to-full-767,
	.custom .two_thirds,
	.custom .three_fourths
	{
		margin-left: auto;
		margin-right: auto;
	}
/* /COLUMN WIDTHS 480 */

	.custom h4 {font-size:24px;}

     /* REMOVE FLOATS 480*/
     #contact-form,
     .custom .resp-float-lt-480,
     .custom .resp-float-rt-480 {float: none;}

	 /* FONT SIZES 480 */
	 #pageNotFound .msg404 {font-size: 18px;}
	 #pageNotFound .link404 {font-size:14px;}
	 #customization #a-spot-custom h1 {font-size:30px;}
    .cms-payment-pricing-promos .custom h1,
    .cms-returns-exchanges .custom h1 {font-size:42px;}

   /* MARGINS 480 */
   #contact-block .cat-input-wrap,
   .cat-input-wrap,
   #cat-req-form-wrap input[type="image"],
   #pg-cat-req-form-wrap input[type="image"] {margin-left:auto;}
   #contact-block .cat-input-wrap,
   .cat-input-wrap,
   #cat-req-form-wrap input[type="image"],
   #pg-cat-req-form-wrap input[type="image"] {margin-right:auto;}
   .custom .whats-new-t9-wrap,
   #contact-form,
   #cat-req-form-wrap .cat-input-rows-wrap,
   #pg-cat-req-form-wrap .cat-input-rows-wrap,
   .custom .center480 {margin:auto;}

   .top-menu #toogle_menu_4 .hnav .menu-item-depth-2,
   .custom #placementOptions  .one-third-to-full {margin-left:0}
    #cat-req-form-wrap .optin {margin-left:25px;}
   #pg-cat-req-form-wrap .optin {margin-left:41px;}
   .custom .hspace-lt-5-6-480 {margin-left:6px;}

   #formSubmitButton,
   #pg-cat-req-form-wrap .cat-input-rows-wrap select,
   #pg-cat-req-form-wrap .cat-input-rows-wrap select[name="Country"],
   .cat-input-field[name="State"],
   .cat-input-field[name="Zip"],
   .cat-input-field,
   #cat-req-form-wrap .cat-input-rows-wrap .zip-lbl,
   #cat-req-form-wrap .cat-input-rows-wrap .row-vspace-15,
   #pg-cat-req-form-wrap .cat-input-rows-wrap .row-vspace-15 {margin-right:10px;}
   #contact-form label {margin-right: 0;}
   .custom .resp-sm-hspace-rt-480 {margin-right:0;}
   #pg-cat-req-form-wrap .cat-input-rows-wrap .zip-lbl,
   #pg-cat-req-form-wrap .cat-input-rows-wrap .std-lbl,
   .custom .add-sm-hspace-rt-480 {margin-right:5px;}

   .custom .sm-hspace-rt-5-6-480 {margin-right:6px;}
   .cat-input-field[name="Zip"] {margin-bottom:6px;}
   .more-wrapper .item {margin-bottom:7px;}
   .cat-input-field[name="State"] {margin-bottom:10px;}
   #cat-req-form-wrap .cat-input-rows-wrap .cat-input-field[name="State"] {margin-bottom:15px;}
   .more-wrapper .item {margin-top:7px;}

   /* PADDING 480 */
   #pageNotFound .copy404 {padding:20px 10px 0;}
   #contact-form .rt-side input[type=image],
   #contact-form,
   #cat-req-form-wrap input[type="image"],
   #pg-cat-req-form-wrap input[type="image"],
   #pg-cat-req-form-wrap .cat-signup-header,
   #cat-req-form-wrap .cat-signup-header {padding:0;}
   .bg-lt-grey-matte {padding:10px;}

   /* WIDTHS 480 */
   .cust-serv-links-wrap {width:auto;}
   #cat-req-form-wrap .cat-input-wrap,
   .custom .one-third-to-one-half img {max-width:100%;}
   #cat-req-form-wrap .cat-input-rows-wrap select[name="Country"],
   #cat-req-form-wrap .cat-input-rows-wrap .cat-input-field[name="State"] {width:130px;}
   #cat-req-form-wrap .cat-input-rows-wrap .cat-input-field[name="Zip"],
    #cat-req-form-wrap .cat-input-rows-wrap .cat-input-field {width:114px;}
   #contact-form textarea,
   #contact-form input[type="text"], #contact-form input[type="email"] {width:168px;}
   #pg-cat-req-form-wrap .cat-input-field[name="Zip"],
   #cat-req-form-wrap .cat-input-field[name="Zip"],
   .cat-input-field {width:186px;}
   #pg-cat-req-form-wrap .opt-lbl,
   #contact-form .rt-side {width:182px;}
   #pg-cat-req-form-wrap .cat-input-rows-wrap select[name="Country"],
   .cat-input-field[name="State"] {width:186px;}
   #cat-req-form-wrap .cat-signup-header img {width:220px;}
   #pg-cat-req-form-wrap .cat-signup-header img,
   #cat-req-form-wrap .cat-input-rows-wrap {width:240px;}
   #pg-cat-req-form-wrap #Catalog,
   .cat-input-wrap {width:293px;}
   .custom .whats-new-t9-wrap {width:280px;}
   #shipping-block p img,
   .whats-new-t7-highlight,
   #contact-form,
   .custom #straightLine .lt-side,
   .custom #straightLine .rt-side {width:300px;}
   .custom #straightLine .lt-side img {width:95px;}
   .custom #straightLine .rt-side img {width:95px;}
   #pg-cat-req-form-wrap .cat-input-rows-wrap .std-lbl,
   #cat-req-form-wrap .cat-input-rows-wrap .std-lbl {width:86px;}
    #pg-cat-req-form-wrap .cat-input-field[name="State"],
   #cat-req-form-wrap .cat-input-rows-wrap select,
   #pg-cat-req-form-wrap .cat-input-rows-wrap select {width:186px;}
   .whats-new-pg .relative-wrap,
   .whats-new-rt-img,
   .whats-new-lt-img {width:280px;}

   /* HEIGHTS 480 */
   .custom .whats-new-t9-wrap {height:683px;}

   /* CENTERING 480 */
   #customization h3,
   .custom .align-ctr-480,
   #contact-form .contact-form-body {text-align:center;}

   /* DISPLAY 480 */
   .hide-480 {display:none}
   #cat-req-form-wrap input[type="image"],
   #pg-cat-req-form-wrap input[type="image"] {display:block;}
   .show-480 {display:block !important;}

   /* POSITION 480 */
   .whats-new-t6-highlight {bottom:-15px; left:137px;}
   .whats-new-t7-highlight,
   .whats-new-t3-highlight {left:0;}
   .custom .whats-new-t5-wrap {width:100%}
   .mob-menu-btn .menu-item-depth-0 > a.arrow {top:4px;}

   /* BACKGROUNDS 480 */
	#pageNotFound {background-position:right -160px top -204px;height:447px;}
   /*.home-pants-banner {background:url("../../../../../../media/wysiwyg/a-spot-imgs/pants-banner-m.jpg") no-repeat center;}
   .home-hats-banner {background:url("../../../../../../media/wysiwyg/a-spot-imgs/hats-banner-m.jpg") no-repeat center;}*/
   /*.catalogsearch-result-index {
      background-size:100% 150px, 100% 1013px;
      background-position:center calc(100% - 164px), center bottom;
      background-repeat:repeat-x;
   }*/

   /* MISC 480 */
   .homepage-2column .image-left a {line-height:normal;}
   .header .header-links {border:none !important;}
    .addFreeProdRuleDescPdp {
        display:block;
        margin-top:5px;
    }

}
/* /480 BREAKPOINT */

@media screen and (max-width:479px) {
    .return-option {
        padding: 15px;
    }
    .opt-list {
        margin-left: 15px;
    }
    .cat-title h1 {
        font-size: 28px;
    }
    .opt-list li {
        padding-left: 10px;
    }
   #size-chart123 tr th {padding:0;}
   .hide-479 {display:none;}
   .show-479 {display:block;}
   .more-wrapper .item {float:none;}
    #cat-slideout-recaptcha > div, #cat-page-recaptcha > div > div {transform: scale(0.7) translateX(-52px);}
    .print-actions > div {
        width:100%;
    }
    .print-actions > div:first-of-type {
        margin-bottom:15px;
    }
}

/* WHAT'S NEW NONSTANDARD OVERRIDES */
.whats-new-pg.custom h1 {font-size:70px; font-weight:bold;}
.whats-new-pg.custom h2 {font-weight:500; margin-bottom:5px;}
.whats-new-pg.custom h3 {margin:0;}
.whats-new-pg.custom .section-subhead {font-size:34px; line-height:38px; margin:20px 0 10px;}
.whats-new-pg.custom .intro-wrap1 {width:80%;}
.whats-new-pg.custom .intro-wrap2 {width:70%;}
.whats-new-pg.custom .intro-wrap3 {width:86%;}
.whats-new-pg.custom .intro-wrap1,
.whats-new-pg.custom .intro-wrap2,
.whats-new-pg.custom .intro-wrap3 {margin-left:auto; margin-right:auto; margin-bottom:30px;}
.whats-new-pg.custom .whats-new-lt-img,
.whats-new-pg.custom .whats-new-rt-img {margin-top:5px;}

/* WHAT'S NEW NONSTANDARD OVERRIDES */


.gradient-lt{
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	background: linear-gradient(to left, rgba(0.7,0,0,0), rgba(0.3,0,0,0));
	padding: 20px 30px 20px 20px !important;
}
.gradient-rt{
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	background: linear-gradient(to left, rgba(0.7,0,0,0), rgba(0.3,0,0,0));
	padding: 20px 20px 20px 30px !important;
}
/*========= CHANGE THE WIDTH  OF COLLAR AND STYLE OF MOBILE EMBROIDORY*/
@media only print {
    .returns-result-index .header-container-wrap,
    .returns-result-index .unprinted,
    .returns-result-index .ros-banner {
        display: none;
    }
    .returns-result-index .return-label-img {
        transform: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 4in;
        width: auto;
    }
}
