/*@charset "UTF-8";*/

/* ######################################################################################*/
/* DESKTOP HEADER STATIC */
/* ######################################################################################*/
#overwrap {
    height:127px;
    min-width:310px;
    position: relative;
    background-color: #ffffff;
    z-index:1000;
}
.header-container-wrap {
    width:100%;
}
.mobHdr .header-container-wrap {
    position:fixed;
    left:0;
    top:0;
}
.header-container {
    font-family: WhitneySemibold, 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-size:12px;
    line-height:12px;
    color: #6c6c6c;
    letter-spacing: 0.85px;
    position:relative;
    min-width:300px;
    transition:padding 500ms ease-in-out;
    padding:1px 0;
    background-color:#ffffff;
    border-bottom:1px solid #e5e5e5;
}
.innerwrap {
    box-sizing:border-box;
    position:relative;
    background-color:#ffffff;
    width: 960px;
    margin: 0 auto;
}
.outerwrap--top {
    width: 960px;
    margin: auto;
    position: relative;
}
.not-header-overlay,
#full-page-overlay {
    height:0;
    width:0;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.0);
    transition:background-color 0.25s;
}
.not-header-overlay.active,
#full-page-overlay.sidebar-active,
#full-page-overlay.active {
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.5);
}
#link-logout,
#nav-acct-links,
.account-login .fieldset {
    display:none;
}
.account-login .success-msg {
    background-image:none;
    background-color:#eeeeee;
    padding:20px 10px;
}
.account-login ~ .account-create {
    margin-top:40px;
}
#createAcctSubmit {
    top:0;
    left:0;
    z-index: 2;
}
.account-login .registered-users a {
    margin-top:20px;
    display:inline-block;
    font-weight:normal;
    margin-right:0;
    font-size:12px
}
.login-link {
    cursor:pointer;
    color:#6f7073;
}
.login-link:hover {
    color: #2294A7;
}
.forgot-passwd {
    margin-top:20px;
    text-align: center;
}
#link-myaccount,
#link-logout,
#link-account {
    padding: 0 0 0 10px;
    margin-right: 10px;
    border-left: 1px solid #2294a7;
}
.myaccount-content,
.account-content {
    right:76px;
    width:275px;
}
#account-content .form-list li {margin-bottom:10px;}
#myaccount-content ul li { display:block; padding:0}
#myaccount-content ul li a {
    font-size: 14px;
    color:#2294a7;
    border-bottom:1px solid #d5d5d5;
    line-height:24px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-weight: 500;
}
#myaccount-content .my-account-logged-title {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #f6f6f6;
}
.cart-popup .ajax_loading,
.cart-empty-msg {
    text-align:center;
    padding:40px 0;
}
#myaccount-content .my-account-logged-title span {
    font-weight: bold !important;
}
.my-account-logged-links {
    margin-bottom: 10px;
}
#send2 {
    margin-bottom:10px;
}
.register-account {
    margin-bottom: 10px;
}
.myaccount .page-title {
    margin:0
}
.myaccount .page-title span {
    font-size: 12px;
    color:#6f7073;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-weight: 500;
}
.not-header-overlay,
#full-page-overlay {
    z-index:-1;
}
.outerwrap {
    z-index:21;
}
#full-page-overlay.sidebar-active,
#full-page-overlay.active {
    z-index:6000;
}
.not-header-overlay.active {
    z-index: 999;
}
#notification-bar {
    z-index:5000;
}
.border-gray {
    border-color: #d5d5d5;
}
.bg-lt-gray {
    background-color: #f7f8f9;
}
.cart-popup,
.myaccount-content,
.account-content {
    position:absolute;
    top:10px;
    display: none;
}
.cart-popup-inner,
.myaccount-content-inner,
.account-content-inner {
    border-top:14px solid transparent;
}
.cart-popup-content,
.myaccount-content-inner .links,
.account-content-inner .links {
    background:#fff;
    border:1px solid #d5d5d5;
}
.myaccount-content-inner .links,
.account-content-inner .links {
    padding:15px;
}
.btn-mobile-drawer-display-container {
    display: none !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:10000;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e1e1e1;
}
.cart-popup:before,
.desksub:before,
.myaccount-content:before,
.account-content:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom:9px solid #d5d5d5;
    position:absolute;
}
.cart-popup:after,
.desksub:after,
.myaccount-content:after,
.account-content:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position:absolute;
    z-index: 300;
}
.desksub:after,
.myaccount-content:after,
.account-content:after {border-bottom:7px solid #ffffff;}
.cart-popup:after {border-bottom:7px solid #f7f8f9;}
.myaccount-content:before,
.account-content:before {
    top:6px;
    right:21px;
}
.myaccount-content:after,
.account-content:after {
    top:8px;
    right:23px;
}
.cart-popup:before {
    top: 6px;
    right: 38px;
}
.cart-popup:after {
    top:8px;
    right:40px;
}
#notification {
    width: 100%;
    box-sizing:border-box;
}
#notification-bar {
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-size: 20px;
    line-height: 20px;
    position:relative;
    width:100%;
    text-align: center;
    background-color: #2294a7;
    padding: 7px 0;
}
#notification-bar .notification-content {
    line-height: 20px;
}
#notification-bar a, #notification-bar a:hover, #notification-bar a:visited {
    text-decoration: none;
    color: #fff;
}
#notification-bar .star {
    color: #ffffff;
    padding: 0 1.5%;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
}
#notification-bar .msg {
    padding: 0 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    line-height: 20px;
}
#notification-bar .layout-mod {
    display:inline;
}
#notification-bar .star {
    font-size: 12px;
    padding: 0 2%;
    line-height: 40px;
}
#notification-bar .msg {
    font-size: 12px;
}
#notification-bar {
    position:fixed;
    width:100%;
}
#notification-bar .layout-mod {
    display:inline-block;
}
.logo-theme {
    width:170px;
    line-height:80px;
    position:relative;
    background-color:#ffffff;
    background-size:100%;
    margin:0 auto;
    opacity: 1;
}
.logo-theme h1 {line-height:80px;}
.logo-theme img {width:100%; vertical-align: middle;}
.logo-theme strong {
    position: absolute;
    top: -999em;
    left: -999em;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
    overflow: hidden;
}
.logo-theme h1 {
    margin-bottom:0;
}
.hdr-links-gp {
    position:absolute;
    top:35px;
    right:13px;
    z-index:4000;
}
.customer-services-960 {
    display:none;
}
.customer-services,
.account,
.myaccount,
.dropdown-cart {
    display:block;
    float:left;
}
.customer-services {
    opacity: 1;
    transition:opacity 500ms;
    margin-right:10px;
}
.dropdown-cart .cart-popup {
    width:300px;
}
.dropdown-cart-btn-wrap {
    cursor:pointer;
}
#top-cart-btn {
    display: block;
    padding:0 22px 0 10px;
    position: relative;
    border-left: 1px solid #2294a7;
}
#top-cart-btn img {
    position: absolute;
    top:-2px;
    right:0px;
    height:17px;
    width:17px;
}
#top-cart-btn:hover {
    color:#2294a7;
}
.top-cart-qty {
    font-size:10px;
    font-weight:bold;
    background-color: #D66023;
    color:#ffffff;
    border-radius: 50%;
    min-width: 17px;
    height: 17px;
    line-height: 17px;
    padding:1px;
    text-align: center;
    position: absolute;
    right: -12px;
    top: -13px;
    text-indent:0;
}
.cart-popup {right:-3px;}
.cart-popup-content {
    border:1px solid #d5d5d5;
    background-color:#f7f8f9;
    text-align:left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.cart-popup-scroll {
    background-color:#ffffff;
    max-height:350px;
    overflow:scroll;
}
.dropdown-cart .actions {
    padding: 15px;
}
.cart-drop-view {
    width:48%;
    margin-right:2%;
    float: left;
}
.cart-drop-checkout {
    width:48%;
    margin-left:2%;
    float: left;
}
.cart-drop-hidden-flag {
    visibility: hidden;
}
.dropdown-cart .subtotal {
    margin:0 0 17px 0;
    color:#434343;
}
.dropdown-cart .subtotal span.price {
    font-weight: 600;
    float:right;
}
.dropdown-cart .actions a.goto-cart {
    text-decoration:none;
    padding:8px 15px 7px 15px;
    float:right;
}
.dropdown-cart .btn-remove {
    position:absolute;
    top:0;
    right:0;
    margin:0
}
.dropdown-cart .mini-products-list .product-details {
    overflow:inherit;
    min-width:50px;
}
.dropdown-cart .summary {
    float:none;
}
.dropdown-cart .summary p a {
    display:inline-block;
    cursor:pointer;
}
.dropdown-cart .block-subtitle {
    padding:15px;
}
.dropdown-cart .cart-subtitle {
    color:#555555;
}
.dropdown-cart .cart-subtitle-qty {
    float:right;
}
.dropdown-cart .cart-subtitle-qty a {
    color:#8d8d8d;
}
.dropdown-cart .cart-popup .product-details .cart-collateral .total-item {
    margin-left:30px;
}
.dropdown-cart .cart-popup .product-details .attr-product-0,
.dropdown-cart .cart-popup .product-details .attr-product-1 {
    float:left;
    margin-bottom:3px;
    margin-right:15px;
}
.dropdown-cart .cart-popup .product-details .cart-collateral span {
    padding:0
}
.dropdown-cart .cart-popup .product-details .cart-collateral span.price {
    width:64px
}
.dropdown-cart .cart-popup .product-details .cart-collateral .total-item span.price {
    padding-right:0;
}
.dropdown-cart .block-title a,.dropdown-cart .block-title .summary {
    float:right;
}
.dropdown-cart .block-title span {
    margin-bottom:0;
}
.dropdown-cart .block-title .summary p {
    margin-bottom:0;
}
.dropdown-cart .block-title a, .dropdown-cart .block-title .summary span {
    margin-bottom:0;
}
.dropdown-cart .block-title a {
    background:url("../images/icons.png") no-repeat 4px -39px #005cb9;
    padding:6px 12px 6px 42px;
}
.dropdown-cart p.amount a {
    color:#6F7073;
    font-size:12px;
    line-height:14px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    background:none;
}
#cart-sidebar {
    padding:15px 5px;
}
#cart-sidebar li {
    margin-bottom:10px;
    display:block;
    float:left;
    width:100%;
    border-bottom:1px solid #f0f0f0;
}
#cart-sidebar li.last {
    border-bottom:none;
    margin-bottom:0;
}
#cart-sidebar li a.product-image {
    float:left;
    display: inline-block;
}
#cart-sidebar li .product-details {
    padding-left: 5px;
    box-sizing:border-box;
    font-size:12px;
    line-height:16px;
    overflow:hidden;
}
.cart-popup .product-name {
    font-family: WhitneySemibold, 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    text-transform:capitalize;
    color:#434343;
    margin-bottom:7px;
}
.cart-popup .prod-attr-mod {
    font-family: WhitneyMedium, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
    color: #444444;
}
.cart-popup .prod-attr {
    line-height:7px;
    margin-bottom:4px;
}
.cart-popup .prod-attr-lbl {
    font-family: WhitneyMedium, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
    color:#a3a3a3;
}
.cart-popup .prod-attr-val {
    font-family: WhitneySemibold, 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    color:#6f7073;
}
.dropdown-cart .summary p a {
    padding:0 10px;
}
.dropdown-cart .block-content.active p.amount a {
    border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    box-shadow:0 -3px 7.76px -4.76px rgba(0,0,0,0.2);
    display:inline-block;
    z-index:999;
    position:inherit;
    background:#fff;
    padding:0 12px;
    height:26px;
}
#notification-bar .mob-show-2,
.myaccount-content-inner .links form,
.account-content-inner .links form,
#mini-sidebar-form,
.not-header-overlay,
#full-page-overlay.sidebar-active,
#full-page-overlay.active
.register-account {
    display: block;
}
#cart-sidebar li .product-details .truncated,
#notification-bar .mob-hide-2,
#nav-cust-serv,
#notification-bar .mob-show-2 {
    display:none;
}
/* ######################################################################################*/
/* END DESKTOP HEADER STATIC */
/* ######################################################################################*/



/* ######################################################################################*/
/* DESKTOP HEADER FIXED */
/* ######################################################################################*/
.headfix .cart-popup:before {
    top: 6px;
    right: 10px;
}
.headfix .cart-popup:after {
    top:8px;
    right:12px;
}
.headfix .header-container-wrap {
    position:fixed;
}
.headfix .hdr-links-gp {
    top:16px;
    right:15px;
}
.headfix .logo-theme {
    opacity: 0;
    z-index:-1;
    height:0;
    line-height:0;
}
.headfix #link-account,
.headfix #link-logout,
.headfix #link-myaccount {
    border-left:none;
}
.headfix .customer-services {
    opacity: 0;
    z-index:-1;
    position:absolute;
    left:-9999px;
}
/* ######################################################################################*/
/* END DESKTOP HEADER FIXED */
/* ######################################################################################*/



/* ######################################################################################*/
/* MOBILE HEADER */
/* ######################################################################################*/
.mobHdr .outerwrap {
    display:block;
    visibility:hidden;
    position:fixed;
    z-index:6000;
}
.mobHdr .header-container {
    padding:0 10px;
}
.mobHdr .outerwrap--top {
    max-width:960px;
    width: 100%;
    margin: auto;
    position: relative;
}
.mobHdr .btn-mobile-drawer-display-container {
    display: block !important;
}
.mobHdr .menu-bar {
    overflow: scroll;
    height: 100%;
}
.mobHdr #link-logout,
.mobHdr #link-account {
    display: none !important;
}
.mobHdr .em_nav {
    padding-bottom: 70px !important;
}
#overwrap.mobHdr {
    height:65px;
    position:relative;
    width:100%;
}
.mobHdr .logo-theme h1,
.mobHdr .logo-theme {
    width:134px;
    line-height: 60px;
}
.mobHdr .home-mob-banner.first {
    margin-top:0;
}
.mobHdr .innerwrap--top {
    width:100%;
    left:0;
    top:0;
    padding:0 0 5px 0;
    margin:0;
    z-index:5000;
    background-color:#ffffff;
}
.mobHdr .myaccount-content,
.mobHdr .account-content {
    display:none !important;
}
.mobHdr .myaccount-content-inner:before,
.mobHdr .account-content-inner:before {
    top:4px;
    right:18px;
}
.mobHdr .myaccount-content-inner:after,
.mobHdr .account-content-inner:after {
    top:6px;
    right:20px;
}
.mobHdr .customer-services-960,
.mobHdr .header-container .customer-services,
.mobHdr .header-container #account,
.mobHdr .header-container #myaccount {
    display:none;
}
.mobHdr .header-container .nav-cust-serv .customer-services,
.mobHdr .header-container .nav-acct-links #account,
.mobHdr .header-container .nav-acct-links #myaccount {
    display:block;
}
.mobHdr .customer-services,
.mobHdr .account,
.mobHdr .myaccount {
    position: static;
    padding:0;
    float:none;
}
.mobHdr #link-myaccount,
.mobHdr #link-logout,
.mobHdr #link-account {
    padding:0;
    margin:0;
}
.mobHdr .top-container {
    z-index:4000;
}
.mobHdr #topsearch .topsearch-content {
    border-top: 11px solid transparent;
}
.mobHdr .dropdown-cart-btn-wrap {
    position:absolute;
    top:23px;
    right:8px;
    z-index:5000;
}
.mobHdr .hdr-links-gp {
    position:static;
}
.mobHdr #top-cart-btn {
    padding:0;
    border:none;
}
.mobHdr .top-cart-lbl {
    display:none;
}
.mobHdr #top-cart-btn img {
    display:block;
    position: absolute;
    top:0;
    right:0px;
    height:17px;
    width:17px;
}
.mobHdr .dropdown-cart .cart-popup {
    width:250px;
    height:100%;
    transition: all 500ms;
    display: block !important;
    position:fixed;
    top:0;
    z-index:8000;
    left:100%;
    right:auto;
}
.mobHdr .dropdown-cart.open .cart-popup {
    transform:translateX(-100%);
}
.mobHdr .cart-popup:before,
.mobHdr .cart-popup:after {
    display:none;
}
.mobHdr .cart-popup-inner {
    border:none;
    height:100%;
}
.mobHdr .cart-popup-content {
    height:100%;
}
.mobHdr .cart-popup-scroll {
    max-height: calc(100% - 138px);
}
.mobHdr .dropdown-cart .actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.mobHdr .dropdown-cart .summary p a {
    padding:0 60px;
}
.mobHdr .dropdown-cart .subtotal {
    margin:5px 0 6px 0;
}
.mobHdr .dropdown-cart .subtotal span.label {
    margin-bottom: 5px;
}
.mobHdr .dropdown-cart .block-subtitle {
    margin:0 0 10px 0;
    padding-bottom:10px;
}
.mobHdr .top-cart-qty {
    right: -11px; top: -13px;
}
.mobHdr .cart-popup .cart-drop-checkout {
    float:right;
}
.header-container {
    box-sizing:border-box;
    width:100%;
    min-width: 320px;
}
.mobHdr #topmenu-wrap {height:100%;}
.mobHdr #nav-acct-links,
.mobHdr #nav-cust-serv {display:block;}
/* ######################################################################################*/
/* END MOBILE HEADER */
/* ######################################################################################*/



/* ###########################################################################*/
/* BEGIN 960 */
/* ###########################################################################*/
@media screen and (max-width:960px) {
    .outerwrap--top {
        width: 700px;
    }
    #notification-bar .msg {
        padding: 0 10px;
    }
    #notification-bar .mob-hide {
        display:none;
    }
    .customer-services-960 {
        display:inline-block;
        position: absolute;
        top: 35px;
        left:3px;
    }
    .headfix .customer-services-960,
    .headfix .account,
    .headfix .myaccount,
    .customer-services {
        display:none;
    }
    .customer-services a {
        padding:0;
    }
    #link-myaccount,
    #link-logout,
    #link-account {
        border-left:none;
    }
    .myaccount-content,
    .account-content {
        right:76px;
    }

    /* #######################################################################################*/
    /* FIXED HEADER 960 */
    /* ######################################################################################*/
    .innerwrap {
        width:700px;
    }
    .headfix .header-container {
        font-size:10px; line-height:10px;
    }
    .headfix #top-cart-btn {
        text-indent:-9999px;
        padding: 0 20px 0 0;
    }
    .headfix .topsearch {
        right:0;
    }
    #top-cart-btn {
        border:none;
    }
    .headfix .myaccount-content,
    .headfix .account-content {
        right:30px;
    }
    /* ######################################################################################*/
    /* FIXED HEADER 960 */
    /* ######################################################################################*/
}
/* ###########################################################################*/
/* END 960 */
/* ###########################################################################*/


/* ###########################################################################*/
/* BEGIN 768 */
/* ###########################################################################*/
@media screen and (max-width:768px) {
    .header-container {
        padding:0 10px;
    }
    #overwrap,
    #overwrap.mobHdr {
        height: 65px;
        border-bottom:none;
    }
    .outerwrap--top {
        width: 100%;
        margin: auto;
        position: relative;
    }
    .outerwrap {
        visibility:hidden;
        position:fixed;
        z-index:6000;
    }
    .btn-mobile-drawer-display-container {
        display: block !important;
    }
    .menu-bar {
        overflow: scroll;
        height: 100%;
    }
    #link-logout,
    #link-account {
        display: none !important;
    }
    .em_nav {
        padding-bottom: 70px !important;
    }

    .logo-theme h1,
    .logo-theme {width:134px; line-height: 60px;}

    .home-mob-banner.first {margin-top:0;}

    /* NOTIFICATION BAR */
    #notification-bar .star {
        font-size: 12px;
        padding: 0 2%;
        line-height: 40px;
    }
    #notification-bar .msg {
        font-size: 12px;
    }
    #notification-bar {
        position:fixed;
        width:100%;
    }
    #notification-bar {
        width:calc(100% + 10px);
        min-width:300px;
        left:-10px;
        padding-left:5px;
        padding-right:5px;
        box-sizing:border-box;
    }
    #notification-bar .mob-show-2 {display:block;}
    #notification-bar .mob-hide-2 {display:none;}
    #notification-bar .layout-mod {display:inline-block;}
    .myaccount-content,
    .account-content {
        display:none !important;
    }
    .myaccount-content-inner:before,
    .account-content-inner:before {
        top:4px;
        right:18px;
    }
    .myaccount-content-inner:after,
    .account-content-inner:after {
        top:6px;
        right:20px;
    }
    .customer-services-960,
    .header-container .customer-services,
    .header-container #account,
    .header-container #myaccount {display:none;}
    .header-container .nav-cust-serv .customer-services,
    .header-container .nav-acct-links #account,
    .header-container .nav-acct-links #myaccount {display:block;}
    .customer-services,
    .account,
    .myaccount {position: static; padding:0; float:none;}
    #link-myaccount, #link-account, #link-logout {padding:0; margin:0;}
    #link-logout .no-bold {
        text-transform: uppercase;
        font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    }
    .top-container {z-index:4000;}
    .dropdown-cart-btn-wrap {
        position:absolute;
        top:23px;
        right:8px;
        z-index:5000;
    }
    .hdr-links-gp {position:static;}
    #top-cart-btn {padding:0; border:none;}
    .top-cart-lbl {display:none;}
    #top-cart-btn img {
        height:17px;
        width:17px;
        display:block;
        top:1px;
    }
    .dropdown-cart .cart-popup {
        width:250px;
        height:100%;
        transition: all 500ms;
        display: block;
        position:fixed;
        top:0;
        z-index:8000;
        left:100%;
        right:auto;
    }
    .dropdown-cart.open .cart-popup {
        transform:translateX(-100%);
    }
    .cart-popup:before,
    .cart-popup:after {display:none;}
    .cart-popup-inner {border:none; height:100%;}
    .cart-popup-content {height:100%;}
    .cart-popup-scroll {
        max-height: calc(100% - 138px);
    }
    .dropdown-cart .actions {
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
    }
    .dropdown-cart .summary p a {padding:0 60px;}
    .dropdown-cart .subtotal {margin:5px 0 6px 0;}
    .dropdown-cart .subtotal span.label {margin-bottom: 5px;}
    .dropdown-cart .block-subtitle {margin:0 0 10px 0; padding-bottom:10px;}
    .top-cart-qty {right: -11px; top: -13px;}
    .cart-popup .cart-drop-checkout {float:right;}
    .innerwrap {
        width:100%;
        min-width:320px;
        margin:0;
        z-index:5000;
        background-color:#ffffff;
    }
    .innerwrap--top {
        width: 100%;
        padding: 0 0 5px 0;
        margin: 0;
        z-index: 5000;
        background-color: #ffffff;
    }
    .header-container-wrap {
        position:fixed;
        left:0;
        top:0;
    }
    .header-container {
        box-sizing:border-box;
        width:100%;
    }
    #topmenu-wrap {height:100%;}
    #nav-acct-links,
    #nav-cust-serv {display:block;}

    .grid_6.sidebar.col-left.frozen ~ .grid_18.em_main {
        padding-top:34px;
    }

    .catalog-category-view .two-columns-left .container_24 .grid_6.sidebar.col-left {
        padding-bottom:5px;
        top:0;
    }
    .catalog-category-view .two-columns-left .container_24 .grid_6.sidebar.col-left.frozen {
        z-index:999;
        position: fixed;
        width: calc(100% + 10px);
        left:-5px;
        top: 62px;
        background-color: #fff;
    }
    .catalog-category-view .two-columns-left .container_24 .grid_6.sidebar.col-left.frozen .amshopby-filters-left {
        width: calc(100% - 30px);
        left:15px;
        background-color:#ffffff;
    }
    #mob-filter-wrap {
        overflow:hidden;
        max-height:0;
        transition:max-height 500ms ease-in-out;
    }
    /* ######################################################################################*/
    /* FIXED HEADER */
    /* ######################################################################################*/

}
/* ###########################################################################*/
/* END 768 */
/* ###########################################################################*/



/* ###########################################################################*/
/* BEGIN 480 */
/* ###########################################################################*/
@media screen and (max-width: 480px) {

    #notification {
        padding-left: 12px;
        padding-right: 12px;
    }
    #account-content {
        right:-12px;
        left:auto;
    }
    .myaccount-content-inner:before,
    .account-content-inner:before {
        top:4px;
        right:18px;
    }
    .myaccount-content-inner:after,
    .account-content-inner:after {
        top:6px;
        right:20px;
    }
    #cart-sidebar .total-item {
        float: right;
    }
    #link-logout {
        display:block;
    }
}
/* ###########################################################################*/
/* END 479 */
/* ###########################################################################*/


@media screen and (max-width: 375px) {
    #overwrap,
    #overwrap.mobHdr {
        height: 60px;
    }
    .mobHdr .header-container,
    .header-container {
        padding: 0 5px;
    }
}

/* ###########################################################################*/
/* BEGIN 350 */
/* ###########################################################################*/
@media screen and (max-width: 350px) {
    #notification {padding-left: 10px; padding-right: 10px; font-size:12px;}
}
/* ###########################################################################*/
/* END 350 */
/* ###########################################################################*/



/* ###########################################################################*/
/* BEGIN 320 */
/* ###########################################################################*/
@media screen and (max-width: 320px) {
    #overwrap.mobHdr,
    #overwrap {
        height: 61px;
    }
    #top-cart-btn img {
        top: 3px;
    }
    .catalog-category-view .two-columns-left .container_24 .grid_6.sidebar.col-left.frozen .amshopby-filters-left {
        width: calc(100% - 20px);
        left:10px;
        background-color:#ffffff;
    }
}
/* ###########################################################################*/
/* END 320 */
/* ###########################################################################*/
