/* CSS Document */

@media print {
   /** {-webkit-print-color-adjust:exact;}*/
   #about-pg-banner,
   ul.hnav,
   .mob-menu-btn,
   .recent_views_fixed a#emarea16_close,
   .content_close a#emarea16_close,
   .compare-social,
   .widget .footer-wrapper-new,
   .widget .footer-wrapper-new .top-footer,
   .widget .footer-wrapper-new .bottom-footer,
   .widget .footer-wrapper-new .middle-footer,
   .a-spot-general {display:none !important;}
   /*.item,
   .sidebar.col-left,
   .adapt-3.catalog-category-view .container_24 .grid_18.em_main {float:left !important;}*/
   /*body {width:100% !important;}*/
   .em_main,
   .sidebar,
   .products-grid,
   .product-item,
   .item {display:block; float:left !important;}
   .product-item img.catalog_grid,
   .item img {max-width:200px !important;}
   .happychef_home_featured,
   .widget.em-widget-featured-products-grid {width:100% !important;}
   #home-featured-slider {width:auto !important; display:block !important;}
   .container_24 .grid_24 {width:98% !important; float:left !important;}
   .one-third-to-full-767,
   .container_24 .grid_8 {width:31.3% !important; float:left !important;}
   .one_half,
   .container_24 .grid_12 {width:48% !important; float:left !important;}
   .container_24 .grid_11 {width:43% !important; float:left !important;}
   .container_24 .grid_13 {width:53% !important; float:left !important;}
   .products-grid .item img.catalog_grid {width:auto !important; height:auto !important;}
   .two-thirds-to-full-767 {width:100% !important;}
   #home-featured-slider .item img {width:100% !important; height:auto !important;}
   .category-products .products-grid li.item {width:31.3% !important; float:left !important;}
   .container_24 .grid_18 {width:75% !important; float:left !important;}
   .container_24 .grid_6,
   #home-featured-slider .item {width:23% !important; float:left !important;}
   .one-third-to-full-767,
   .one_half,
   .container_24 .grid_13,
   .container_24 .grid_11,
   .container_24 .grid_18,
   .container_24 .grid_6,
   #home-featured-slider .item,
   .container_24 .grid_24,
   .container_24 .grid_8,
   .container_24 .grid_12 {margin-left:1% !important; margin-right:1% !important;}
   .two-thirds-to-full-767,
   .one-third-to-full-767.alpha,
   .one_half.alpha,
   .container_24 .grid_13.alpha,
   .container_24 .grid_11.alpha,
   .container_24 .grid_18.alpha,
   #home-featured-slider .item.first,
   .grid_6.alpha,
   .grid_8.alpha,
   .grid_12.alpha {margin-left:0 !important;}
   .two-thirds-to-full-767,
   .one-third-to-full-767.omega,
   .one_half.omega,
   #ProductDetail_ProductImage-Container.grid_11,
   .container_24 .grid_13.omega,
   .container_24 .grid_11.omega,
   .container_24 .grid_18.omega,
   #home-featured-slider .item.last,
   .grid_8.omega,
   .grid_12.omega {margin-right:0 !important;}
   .products-grid li.item .product-shop {top:0 !important;}
   .custCatLink {line-height:36px !important;}
   
}