ul.products-grid {
    padding:0;
    list-style:none;
    border:0;
    clear:both;
    margin-top: 10px;
}
ul.products-grid.coord-products-grid {
    max-width: 525px;
    margin: 0 auto;
    display: block;
    float: none !important;
    clear: both !important;
}
.products-grid {
    border-bottom:1px solid #ddd;
    position:relative;
}
.products-grid.last {
    border-bottom:0;
}
.products-grid li.item .item-product {
    padding:10px;
}
.products-grid .product-image {
    display:inline-block;
    position:relative;
}
li.item .amconf-block {
    margin-bottom:10px;
}
.products-grid:not(.two-col-var) li.item img.catalog_grid {height:283px;}
.noresult__suggested-wrap .products-grid:not(.two-col-var) li.item img.catalog_grid {height:auto;}
li.item .amconf-block {
	position:relative;
	margin-right:3px;
}
.products-grid .product-name a {
    text-align:center;
    font-size:16px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-weight: 600;
    color:#4a4a4a;
}
.products-grid .price-box {
    margin:0 0 16px;
}
.products-grid .price-box {
    margin:10px 0 0;
}
.products-grid .availability {
    line-height:21px;
}
.products-grid .ratings .rating-box {
    float:none;
    display:inline-block;
    text-align:center;
}
.products-grid .ratings .amount, .products-list .ratings .amount {
    float:none;
    display:inline-block;
    text-align:center;
}
.products-grid li.item {
    position:relative;
    text-align:center;
    margin:8px 0 20px 12px;
    height:auto;
    z-index:0;
    float:left;
}
.products-grid li.item.last {
    margin-right:0;
}
.products-grid li.item.first {
    margin-left:0
}
.products-grid li.item .compare-social-wrap {
	position:relative;
}
.products-grid li.item .compare-social {
	background-color:rgba(255,255,255,0.5); 
	height:40px; 
	line-height:40px; 
	top:0; 
	position:absolute;
	padding:0px 5px; 
	text-align: center;
	box-sizing:border-box;
   width: 100%;
	transition-duration:0.6s;
    transition-property:top;
    -webkit-transition-duration:0.6s;
    -webkit-transition-property:top;
}
.products-grid li.item:hover .compare-social {
	top:-40px; 
}
.products-grid li.item a.product-image {
	z-index:0;
}
.products-grid li.item .compare-social {
	z-index:1;
}
.products-grid li.item .product-shop {
    z-index:2;
	clear:both;
    position:relative;
}
.products-grid li.item .product-item {
	border:1px solid transparent;
}
.catalog-category-view .model {
    padding:5px 0 0 0;
}
.mob-quick-shop {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    width: 20px;
    height: 20px;
    text-indent: -9999em;
}
.mob-quick-shop img {
    display: block;
}
#em_quickshop_handler.mobDisable {display: none !important;}
.product-img-box-wrap .product-image > img {
    display:block;
    margin:0 auto;
}
.container-new-collection .products-grid li.item,
.container-new-collection .products-grid li.item .product-item,
 .products-grid .product-image {
    width:calc(100% - 2px) !important;
    height:auto !important;
}
.catalog-category-view .old-price,
.catalog-category-view .special-price {
    display:none;
}
.products-grid li.item .product-item .product-image > img {width:100%;}
.products-grid li.item .product-item {position:relative;}
.category-products .toolbar-bottom {clear:both;display:block;}
.category-products .toolbar-bottom .toolbar {margin-bottom:20px;}

/* ###########################################################################*/
/* SWATCHES (.amconf-images-container WIDTH IS 248PX */
/* ###########################################################################*/
.amconf-image-container,
.cms-index-index .amconf-image-container {
    float:none;
}
.catalogsearch-result-index .amconf-images-container,
.catalog-category-view .amconf-images-container {
    max-width: 240px;
    height: 30px;
    display: inline-block;
    margin: auto;
    text-align: left;
    position:relative;
    overflow:hidden;
}
.catalogsearch-result-index .amconf-image-container,
.catalog-category-view .amconf-image-container {
    display:inline-block;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
.catalogsearch-result-index .amconf-image,
.catalog-category-view .amconf-image {
    width:28px;
    margin: 1px;
    border:2px solid #EBEBEB;
    height:auto;
    box-sizing:border-box;
}
.catalogsearch-result-index .amconf-image-selected,
.catalogsearch-result-index .amconf-image:hover,
.catalog-category-view .amconf-image-selected,
.catalog-category-view .amconf-image:hover {
    padding: 0;
    border-color: #000000;
    cursor: pointer;
}
li.item .amconf-block {
    position:relative;
}
li.item .amconf-block > dl dt {
    margin:0;
}
li.item .swatchOverflow {
    cursor:pointer;
    background-color:#ffffff;
    position:absolute;
    font-size:10px;
    text-align:center;
    top: 0;
    right: 0;
    margin: 1px;
    border: 2px solid #EBEBEB;
    box-sizing: border-box;
}
li.item .swatchOverflow:hover {
    border:2px solid #6f7073;
}
/* ###########################################################################*/
/* END SWATCHES (.amconf-images-container WIDTH IS 248PX */
/* ###########################################################################*/

.products-grid li.item:hover,
.products-grid li.item.swatchExpand {
    z-index:998;
}
.products-grid .product-shop {
    min-height:172px;
}
.products-grid:not(.two-col-var) li.item img.catalog_grid {
    height:283px;
}
ol.currently {
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,'sans-serif';
    font-size: 12px;
    line-height: 25px;
}

ol.currently li span.label {
    font-size: 13px;
}
ol.currently a.btn-remove-inline {
    margin-left: 0;
}
ol.currently a.btn-remove-inline img {
    margin-right: 2px;
}
.sidebar .clear-filter ol.currently li .active-filter-item span {
    display: inline;
    font-weight: 400;
    margin: 0 0 0 8px;
}
.products-grid .product-item-price .minimal-price-link,
.products-grid .product-item-price {
    font-size:16px;
    color:#4a4a4a;
}

@media screen and (max-width:960px) {
    .products-grid li.item.odd {
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .products-grid li.item.even {
        margin-left:12px !important;
        margin-right:0 !important;
    }
}

@media screen and (max-width:768px) {
    ul.products-grid {
        display:flex;
        justify-content:space-around;
        flex-wrap:wrap;
    }
    .products-grid li.item,
    .products-grid li.item .product-item {
        flex:1 1 auto;
    }
    .products-grid li.item .product-item .product-image > img {
        max-width:320px;
        width: 100%;
        height:auto;
    }
    .catalogsearch-result-index .amconf-images-container,
    .catalog-category-view .amconf-images-container {
        max-width: 272px;
        height: 34px;
    }
    .catalogsearch-result-index .amconf-image,
    .catalog-category-view .amconf-image {
        width:32px;
        margin: 1px;
    }
    .item .product-item {
        padding-top:10px;
    }
    .products-grid li.item {
        margin: 8px 0 10px 0;
    }
    .products-grid .product-shop {
        min-height:auto;
    }
    .products-grid li.item .product-shop {
        padding: 5px 5px 15px;
    }
}

@media screen and (max-width:479px) {
    .products-grid .product-shop {
        min-height:auto;
    }
}
