input[class^='btn'],
input[class*=' btn'] {
    -webkit-appearance: none;
}
.btn-overlay {
    position:absolute;
    background:#dddddd;
}
.btn-loader {
    position: absolute;
    height: 26px;
    width: 26px;
    top: 50%;
    left: 50%;
    -webkit-animation: rotateloader 1s linear infinite;
    animation: rotateloader 1s linear infinite;
}
@-webkit-keyframes rotateloader {
    from {transform: translate(-50%, -50%) rotate(0deg);}
    to {transform: translate(-50%, -50%) rotate(360deg);}
}
@keyframes rotateloader {
    from {transform: translate(-50%, -50%) rotate(0deg);}
    to {transform: translate(-50%, -50%) rotate(360deg);}
}
.password-wrapper {
    position: relative;
}
.password-switch{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 34px;
    background-color: #F6F6F6;
    border: 1px solid #eee;
    border-radius: 0px;
    padding: 10px;
    text-transform: uppercase;
    width: 70px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.clickable {cursor:pointer;}

/* COLORS #############################################################*/
.hc-blue {color:#2294a7}
.bg-blue {background-color:#2294a7;}
.bg-red {background-color:#D0021B;}
.bg-gray {background-color:#707175}
.hc-red {color:#D0021B;}
/* COLORS #############################################################*/

/* BUTTONS #############################################################*/

.block-compare button.button {width:100%;margin-bottom:10px;}

/* TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
button.btn-tp-blue,
button.btn-red,
button.btn-gray,
button.btn-blue,
button.btn-white,
button.btn-black,
button.btn-tp-blue span,
button.btn-red span,
button.btn-gray span,
button.btn-blue span,
button.btn-white span,
button.btn-black span,
button.btn-red a,
button.btn-gray a,
button.btn-blue a,
button.btn-white a,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-tp-blue,
.btn-red,
.btn-gray,
.btn-blue,
.btn-white,
.btn-black,
.btn-tp-blue a,
.btn-red a,
.btn-gray a,
.btn-blue a,
.btn-white a,
.btn-tp-blue span,
.btn-red span,
.btn-gray span,
.btn-blue span,
.btn-white span,
.btn-black span {
    text-align:center;
    text-transform: uppercase;
    font-size: 14px;
    line-height:18px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    border:none;
    cursor: pointer;
    font-weight: 500;
    display:inline-block;
    box-sizing: border-box;
    letter-spacing: normal;
}
button.btn-tp-blue.disabled,
button.btn-red.disabled,
button.btn-gray.disabled,
button.btn-blue.disabled,
button.btn-white.disabled,
button.btn-tp-blue span.disabled,
button.btn-red span.disabled,
button.btn-gray span.disabled,
button.btn-blue span.disabled,
button.btn-white span.disabled,
button.btn-red a.disabled,
button.btn-gray a.disabled,
button.btn-blue a.disabled,
button.btn-white a.disabled,
button.btn-black a.disabled,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-tp-blue.disabled,
.btn-red.disabled,
.btn-gray.disabled,
.btn-blue.disabled,
.btn-white.disabled,
.btn-black.disabled,
.btn-tp-blue a.disabled,
.btn-red a.disabled,
.btn-gray a.disabled,
.btn-blue a.disabled,
.btn-white a.disabled,
.btn-black a.disabled,
.btn-tp-blue span.disabled,
.btn-red span.disabled,
.btn-gray span.disabled,
.btn-blue span.disabled,
.btn-white span.disabled,
.btn-black span.disabled {
    background-color:#eeeeee;
    color:#a7a7a7;
    border-color: #eeeeee;
    cursor:default;
}
.btn-tp-blue {
    background-color:transparent;
}
/* TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
button.btn-red,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-red {
    background-color:#D0021B;
}
/* TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
button.btn-gray,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-gray {
    background-color: #707175;
}
/* TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
button.btn-blue,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-blue {
    background-color: #2294A7;
}
/* TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
button.btn-white,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-white {
    background-color: #ffffff;
}
/* TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
button.btn-black,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-black {
    background-color: #000000;
}
.pdp-add-to-cart-wrap button.btn-cartf.add-to-cart-with-embroidery {
    width: auto !important;
    background-color: #d3602d !important;
}
@media (max-width: 768px) {
    .pdp-add-to-cart-wrap button.btn-cartf.add-to-cart-with-embroidery {
        width: 100% !important;
    }
}
/* TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
button.btn-red,
button.btn-gray,
button.btn-blue,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-red,
.btn-gray,
.btn-blue {
    color: #ffffff;
    padding: 10px;
    border-radius:0;
}
button.btn-red.btn-xtall,
button.btn-gray.btn-xtall,
button.btn-blue.btn-xtall {
    padding:16px 18px;
}
button.btn-white.btn-xtall,
button.btn-white.btn-xtall,
.btn-white.btn-xtall {
    padding:16px 16px;
}
button.btn-red.btn-tall,
button.btn-gray.btn-tall,
button.btn-blue.btn-tall,
.btn-red.btn-tall,
.btn-gray.btn-tall,
.btn-blue.btn-tall {
    padding:16px 18px;
}
button.btn-red.btn-tall.btn-xtra-pad,
button.btn-gray.btn-tall.btn-xtra-pad,
button.btn-blue.btn-tall.btn-xtra-pad,
.btn-red.btn-tall.btn-xtra-pad,
.btn-gray.btn-tall.btn-xtra-pad,
.btn-blue.btn-tall.btn-xtra-pad {
    padding:16px 50px;
}
/* TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
button.btn-red a,
button.btn-gray a,
button.btn-blue a,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-red a,
.btn-gray a,
.btn-blue a {color:#ffffff;}
/* TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
button.btn-tp-blue,
button.btn-white,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-tp-blue,
.btn-white {
    color: #2294A7;
    border: 2px solid #2294a7;
    border-radius:0;
    padding: 8px;
}
button.btn-tp-blue.btn-tall,
button.btn-white.btn-tall,
.btn-tp-blue.btn-tall,
.btn-white.btn-tall {
    padding:14px 16px;
}
/* TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
button.btn-tp-blue span,
button.btn-tp-blue a,
button.btn-white span,
button.btn-white a,
    /* /TEMPORARY UNTIL BASE STYLE RULES CAN BE REMOVED FROM STYLES.CSS */
.btn-tp-blue span,
.btn-tp-blue a,
.btn-white span,
.btn-white a {color: #2294A7;}
button.btn-wide,
.btn-wide {width:100%;}

.btn-close-blue {
    display:inline-block;
    background-image:url("../../images/icons/icon_close-blue.png");
    background-size:contain;
    background-position:center;
    width:14px;
    height:14px;
    cursor:pointer;
}

.sign-in-btn-blue{
    padding: 16px !important;
}

.sign-in-btn-white{
    padding: 14px !important;
}

.account-btn-blue{
    padding: 16px !important;
}

.btn-blue:hover {
    background-color: #24A3B8;
    border-color: #24A3B8;
    color: #ffffff;
}
.btn-blue.disabled:hover {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color:#a7a7a7;
}
.btn-black:hover {
    background-color: #2a2a2a;
    border-color: #2a2a2a;
    color: #ffffff;
}
.btn-black.disabled:hover {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #a7a7a7;
}
.no-items-signin {
    width: 334px !important;
    margin: 10px 0;
}
p.not-logged-in-cart-message {
    margin: 20px 0 10px 0;
}
#no-account-yet {
    margin-bottom: 20px;
}
@media(max-width: 768px) {
    .no-items-signin {
        width: 300px !important;
    }
}
/* BUTTONS #############################################################*/

/* EXCEPTIONS #############################################################*/
.middle-footer .newsletter-new button.btn-gray {padding:6px;}
#wishlist-table .btn-red {padding:2px; font-size:12px;}
/* EXCEPTIONS #############################################################*/

/* FANCY LABEL #############################################################*/
.form-list input.fancy-label,
.form-list .input-box input.input-text.fancy-label,
input.fancy-label,
input.fancy-label,
select.fancy-label {
    width: 100%;
    height: 54px;
    margin: 0;
    padding: 15px 10px 5px 10px;
    box-sizing: border-box;
    border: 1px solid #A7A7A7;
    font-size: 14px;
    background: #fff;
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
    border-radius:0;
    -webkit-appearance: none;
}
select.fancy-label option:checked {color:#404040;}
.form-list input.fancy-label ~ label,
input.fancy-label ~ label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0;
    font-weight: 500;
    color: #6F7073;
    pointer-events: none;
}
input.fancy-label:focus,
select.fancy-label:focus,
.bettercheckout select.default:focus,
.bettercheckout select.validate-select:focus{
    border: 1px solid #979797 !important;
    -webkit-box-shadow: inset 0 0 0 2px #404040;
    box-shadow: inset 0 0 0 2px #404040;
}
input.fancy-label.validation-failed:focus,
select.fancy-label.validation-failed:focus,
.bettercheckout select.validation-failed:focus{
    border: 1px solid #D0021B !important;
    -webkit-box-shadow: inset 0 0 0 2px #D0021B;
    box-shadow: inset 0 0 0 2px #D0021B;
}
.bettercheckout select.disabled {
    background-color: #eee;
    color: #999;
}
.form-list input.fancy-label ~ label > span,
input.fancy-label ~ label > span {
    letter-spacing: 0;
    margin: 0;
    position: absolute;
    font-size: 12px;
    line-height:18px;
    top: -35px;
    left: 12px;
    z-index: 10;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    color: #a7a7a7;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-weight:500;
}
input.fancy-label.validation-failed ~ label > span {
    color: #D0021B;
}
input.fancy-label.validation-failed:not(.required-entry) ~ label > span,
.form-list input.fancy-label:valid ~ label > span,
.form-list input.fancy-label:focus ~ label > span,
input.fancy-label:valid ~ label > span,
input.fancy-label:focus ~ label > span {
    top: -52px;
    left: 12px;
    font-size: 9px;
}
.form-list input.fancy-label:valid ~ label,
.form-list input.fancy-label:focus ~ label,
input.fancy-label:valid ~ label,
input.fancy-label:focus ~ label {
    width: 100%;
}
input.fancy-label, select.fancy-label {
    width: 100%;
    height: 54px;
    margin: 0px;
    padding: 15px 10px 5px 10px;
    box-sizing: border-box;
    border: 1px solid #a7a7a7;
    color:#404040;
    font-size: 14px;
    background: #fff;
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
input.fancy-label:disabled,
select.fancy-label:disabled,
input.fancy-label.disabled {
    border: 1px solid #A7A7A7;
    color: #A7A7A7;
    background: #f6f6f6;
}

/* Underline and Placeholder */
input.fancy-label ~ label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
    font-weight: 500;
    color: #6F7073;
}
input.fancy-label:focus ~ label {
    width: 100%;
}
input.fancy-label:focus ~ label > span,
input.fancy-label:valid ~ label > span,
input.fancy-label:disabled ~ label > span {
    top: -48px;
    left: 12px;
    font-size: 9px;
}
input.fancy-label ~ label > span {
    margin: 0;
    position: absolute;
    font-size: 12px;
    top: -35px;
    left: 12px;
    z-index: 10;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    color: #a7a7a7;
}
/* FANCY LABEL #############################################################*/

input[type='radio']:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #a7a7a7;
}

input[type='radio']:checked:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    background: #2294a7;
    background: -webkit-radial-gradient(#ffffff 20%, #2294a7 21%); /* Safari */
    background: -o-radial-gradient(#ffffff 20%, #2294a7 21%); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#ffffff 20%, #2294a7 21%); /* Firefox 3.6 to 15 */
    background: radial-gradient(#ffffff 20%, #2294a7 21%); /* Standard syntax */
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #a7a7a7;
}
.info-tooltip-icon {
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    margin-left: 15px;
    border: 1px solid #000;
}
.info-tooltip-content {
    display: block;
    transition: opacity .5s ease-out;
    height: auto;
    opacity: 0;
    font-weight: 400;
    position: absolute;
    color: #6d6d6f;
    text-align: left;
    max-width: 400px;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #bbb;
    border-radius: 4px;
    z-index: -100;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}
/* for A/B Testing */
.info-tooltip-icon-abtest-hide,
.open-cart-embroidery-abtest-hide,
.embroidery-details-toggle-abtest-hide,
.cart-embroidery-options-subtotals-abtest-hide,
.cart-embroidery-control-abtest-hide {
    display: none;
}
.cart-embroidery-control {
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
}
.embroidery-label-details .cart-embroidery-control {
    margin-left: 10px;
}


.show-info-tooltip-content {
    display: block;
    opacity: 1;
    height: auto;
    z-index: 100;
}

.info-tooltip-close-content {
    display: none;
    cursor: pointer;
    float: right;
    width: 20px;
    height: 20px;
    background: url(/media/embroidery_icons/icon-close-grey.png) no-repeat center center;
}

.info-tooltip-content p {
    margin: 10px;
}

.info-tooltip-icon:hover {
    cursor: pointer;
}

.info-tooltip-icon:hover .info-tooltip-content {
    visibility: visible;
}

.info-tooltip-icon-after-line-text {
    margin-left: 15px;
}

@media (max-width: 768px) {
    .info-tooltip-close-content {
        display: block;
    }
}

/* QTY BUTTONS */
.add-to-cart .qty {
    float: left;
    color: #4A4A4A;
    padding: 0;
    margin:0;
    outline:none;
    width:40px;
    height: 40px;
    background:#ffffff;
    display:inline-block;
    text-align:center;
    font-size: 19px;
    border: 1px solid;
    border-bottom-color: #D8D8D8;
    border-top-color: #D8D8D8;
    border-left-color: transparent;
    border-right-color: transparent;
}
.add-to-cart .qty {
    font-size:19px;
}
.qtymin, .qtyplus {
    margin:0;
    outline:none;
    background:#ffffff;
    display:inline-block;
    font-size: 25px;
    font-weight: 100 !important;
    color: #4A4A4A;
    border: 1px solid #D8D8D8;
    width: 34px;
    height: 40px;
    float: left;
    line-height: 40px;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
    text-align: center;
}

.qtymin:hover, .qtyplus:hover {
    border: 1px solid #4A4A4A;
}

.qtymin.disabled {
    color: #D8D8D8;
}

.qtymin:active,
.qtyplus:active {
    background: #4A4A4A;
    color: #ffffff;
    -webkit-appearance: none;
    border-radius: 0;
    text-align: center;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
