/* http://sonspring.com/journal/clearing-floats */
.wrapper-group,
.option-main-container~.option {
    clear: both;
    display: block;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.wrapper-group:before,
.wrapper-group:after,
.option-main-container~.option:before,
.option-main-container~.option:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.wrapper-group:after,
.option-main-container~.option:after {
    clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.wrapper-group,
.option-main-container~.option {
    zoom: 1;
}
#confirm-msg,
#complete-confirm-msg {
    display:none;
    position:absolute;
    width: 100%;
    z-index:4;
    background-color:#ffffff;
    box-sizing: border-box;
    padding:20px;
    text-align:center;
}
#removeConfirm {display:none;}
.remove-conf-msg {margin:20px 0 10px 0;}
#removeConfirm button {
    margin-top:10px;
}
.embroidery-action-button {
    float:left;
    width:100%;
    box-sizing:border-box;
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border-style: solid;
    border-width: 0 0 5px 5px;
    border-color: #e0e0e0;
    font-weight:bold;
    font-size:14px;
    line-height:50px;
    letter-spacing: 1px;
}
.blue-button {background-color:#2294a7;}
.gray-button {background-color:#6f7073;}
.blue-text {color:#3493a7;}
#saveClose {
   float:left;
   background-color: #2294a7;
   color:#ffffff;
   padding: 6px 10px;
   cursor: pointer;
}
#dontSaveClose {
   float:right;
   background-color: #ffffff;
   text-transform:uppercase;
   color:#333333;
   border:1px solid #333333;
   padding: 5px 9px;
   cursor: pointer;
}
#close-msg {
   margin-bottom:8px;
}
ul[id^=ul_swatch] {
   overflow:hidden;
}
.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
    z-index: 9999999999999999999999999999;
    font-size: 10px;
}
.ui-tooltip-content {
    position: relative;
    padding: 1em;
    font-size: 10px;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: #ffffff;
    width: 0;
}
.left .ui-tooltip-content::after {
    bottom: -10px;
    left: 50%;
    border-color: transparent #666;
    border-width: 10px 0 10px 10px;
    font-size: 10px;
}
p.note {
    display: none;
}
#closeWindow {
    border: none !important;
}
.catalog-product-view .fancybox-inner #embroideryContainer .button {
    position: relative !important;
    float: right;
    top: 0px !important;
    right: 0px !important;
}
.main-left {float: left; width: 230px;}
.tst24{
    float:left;
    width:631px;
    min-height:450px;
    border:5px solid #E0E0E0;
    padding: 5px 5px;
    background-color: #fff;
}
.option-main-container h2 {
    margin-bottom: 0px;
    padding:10px 10px 10px 10px;
    font-size:15px;
    cursor:pointer;
    width: 215px;
    height: 15px;
    border: 4px solid #fff;
}
.option-main-container2 h2 {
    margin-bottom: 0px;
    padding:7px 11px;
    font-size:12px;
    cursor:pointer;
    background-color:#e0e0e0;
    border-top: 5px solid #e0e0e0;
    border-bottom: 5px solid #e0e0e0;
    border-right: 5px solid #e0e0e0;
    width:203px;
    text-align:center;
    color:#3493a7;
    letter-spacing:0.3px;
}
.input-text-option.input-text {
    margin: 0;
}
.wrapper-text .disclaimer {
    font-size: 12px;
    color: #6F7073;
    margin: 0 0 20px 56px;
}
#view-img {display:none;}
.div-with-no-name {float:left; width:881px;}
#mob-panel-title-m {display:none;}
#mob-panel-title {display:none;}
#wrapper-overlay {
    width:100%;
    height:100%;
    position:absolute;
    z-index:4;
    background-color:rgba(0,0,0,0.65);
    display:none;
}
.tst2{
    float: left;
    position: relative;
    min-height: 300px;
    width:100%;
}
.main-contenedor dl{
    width: 90%;
}
.option-main-container {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 0px solid #CCCCCC;
    float: left;
    padding-top: 0px;
    width: 100%;
    min-height:0px;
}
.option-main-container, .cssdiv{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.cssdiv{
    color:#fff;
    border-bottom: 1px solid #E0E0E0;
    border-left: 5px solid #E0E0E0;
}
.cssdiv2{
    color:#fff;
    border-bottom: 0px solid #E4E4E5;
    margin-left:5px;
}
.mob-emb {display:none;}
.desk-emb {display:block}
.selected-menu {
    background-color:#fff;
    position: relative;
    border-right: 7px solid #fff;
    z-index:2;
    width:208px;
}
.main-left .option-main-container {width:102%;}
.main-contenedor {
    float: left;
    width: 100%;
    padding-top: 10px;
    background: #fff;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.last dt label .embroidery-price {
    float: right !important;
    width: 50%;
}
.first-text-line-child input[type=checkbox] {
    float: left;
}
.first-text-line-child {
    padding-right: 0%!important;
}
.option dl dt {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}
.wrapper-text {
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
    float: left;
    width: 100%;
    background:#ffffff;
    box-sizing:border-box;
}
.embroidery-action-button.inactive {opacity:0.3;}
.wrapper-group {
    background: #ffffff;
    margin-left:35px;
    display:block;
}
#subPanelAction,
.wrapper-group label,
.wrapper-group .note {display:none;}
.wrapper-group input.input-text {
    height:22px;
    box-sizing: border-box;
    width:100%;
}
.wrapper-group > div {
    float: left;
    padding-right: 0;
}
.main-contenedor > .option {float: left;}
/* HIDE FLAGS AND RIBBONS */
div[id^='radio_option_'] dl > dd > ul[id^='ul_swatch'] {display:none;}
div[id^='radio_option_'] dl > dd > ul[id^='ul_swatch'].swatch_active {display:block;}
.clearLocation {cursor: pointer;}
.rightTitle {
    float: right;
    margin-right: 15px;
    color: #3493a7;
    text-transform: uppercase;
    font-size: 10px;
    display: none;
}
.wrapper_over2 {overflow:visible; padding:32px 0 0 0;} 
#desk-top-close {
    position: absolute;
    z-index:4;
    width:20px;
    height:20px;
    right:2px;
    top:0;
    cursor:pointer;
}
#completeConfirmMob,
#continueMob {border:none;}
#completeConfirmMob {margin:0 0 10px 0;}


.wrapper-text .wrapper-group > div.option {width:30%}
.wrapper-group .option .ddcommon {width:90% !important; margin-left:10%;}
.wrapper-group input[type=checkbox] {
    margin-top: 5px!important;
    margin-right:4px;
    margin-left:0;
}
.wrapper-group .first-text-line-child dl {
    float: left;
    width: 90%;
    margin:0;
}
.dd {
    width:100%;
    height:22px;
    margin-left:7px;
}
.embroidery-price {
    float:left;
    font-style: oblique;
    font-size: 12px;
    margin-left: 20px;
    color: #6F7073;
    font-weight: normal;
}
#confirm-continue-mob,
#confirm-clear-panel {
    margin-top:15px;
    border:none;
}
#confirm-loc {text-transform:uppercase; margin-bottom: 10px; font-size:18px;}

/* ###################################################################### */
/* BEGIN 960 */
/* ###################################################################### */
@media screen and (max-width:960px) {
    .embroidery-price {
        width: auto;
    }
    .last dt label .embroidery-price{
        float: none;
        width: auto;
    }
    .radio-text .embroidery-price{
        width: auto;
        float: none;
    }
    .main-left {float: left; width: 190px;}
    .tst24 {width:490px; min-height: 430px;}
    .option-main-container h2 {width: 185px;}
    .option-main-container2 h2 {width: 163px;}
    .input-text-option.input-text {width:110px;}
    .wrapper-text .disclaimer {float:left;}
    .div-with-no-name {width:700px;}
    .wrapper-group {
        float:left;
        width: 100%;
        background: #ffffff;
        display:block;
        padding-left: 23px;
        margin-left:0;
        box-sizing: border-box;
    }
    .wrapper-text .wrapper-group > div.option {width:33%;}
    .option {clear:none; overflow:visible;}
}
/* ###################################################################### */
/* END 960 */
/* ###################################################################### */


/* ###################################################################### */
/* BEGIN 767 */
/* ###################################################################### */
@media screen and (max-width:767px) {
    #completeConfirmMob {margin-bottom: 0;}
    #desk-top-close {display:none;}
    .radio-default {z-index:3;}
    .input-text-option.input-text {width:100%;}
    #subPanelAction {display:block;}
    .wrapper-text {
        padding:0;
        float: left;
        width: 100%;
    }
    .embroidery-price {width: auto;}
    .option dl dt {float: left; width: auto; margin-bottom: 0px;}
    .wrapper-group .first-text-line-child dl {
        padding-left: 20px;
        float: left;
        margin:0;
    }
    .mob-panel-title-class {
        display:none;
    }
    .mob-panel-title-class-m {
        width:relative;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px;
        border-bottom-style: solid;
        border-bottom-color: #CCCCCC;
        height:100%;
    }
    .mob-panel-title-head-class {
        position:fixed;
        height:21px;
        width:relative;
        z-index:9998;
        /* background-color:#ff0000; */
    }
    .wrapper_over3 {
        position:relative;
        overflow:hidden;
        padding:0 0 0 0;
        /* background-color:#ffffff; */
    }
    .wrapper_over2 {
	/*
        overflow:visible;
        position:relative;
	*/
    }
    .tst24 .dd{width: auto; margin-left: 30px;}
    .first-text-line-child input[type=checkbox] {
        position:absolute;
    }
    ul[id*='ul_swatch']{
        position: relative;
        top: 0px;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 0 auto;
        height: 93px;
        width: 93%;
    }
    ul[id*='ul_swatch'] li{
        position: absolute;
        width: 90px !important;
    }
    input~.radio-label {padding-left:23px;}
    .radio-text .embroidery-price {
        width: auto;
        float: left;
    }
    .embroidery-price {float:left;}
    input[name^='radio_'] {position:absolute;}
    input~dl dt:first-child {
        padding-left:23px;
        margin-right:20px;
    }
    .div-with-no-name{
        width: 100% !important;
    }
    .main-left{
        width: 100%;
    }
    .main-left .option-main-container{
        width: 100%;
    }

    .option-main-container.cssdiv h2{
        width: auto;
    }
    .selected-menu{
        position: static;
    }
    #apply-embroidery {display:none;}
    .desk-emb {display:none}
    .mob-emb {display:block;}
    .embroidery123 {border:5px solid #e0e0e0; background-color:#ffffff; box-sizing:border-box;}
    .main-contenedor{
        padding-left: 0;
        padding-right: 0;
    }
    .main-contenedor dl{
        width: 100%;
    }
    a#closeWindow {display:none;}
    .main-left,
    .tst2,
    .tst24 {float:none; width: 100%; border:none;}
    #mob-panel-title-m.loc-panel {text-align:center; text-transform: uppercase;}
    #mob-panel-title.loc-panel {text-align:center; text-transform: uppercase;}
    .tst24 {width:100%; padding:0; display:none;}
    #allDiv {display:none;}
    .option-main-container {width: 100%;}
    .tst2 {
        border-top:5px solid #e0e0e0;
        padding: 10px;
        box-sizing: border-box;
    }
    .main-left .option-main-container {border-bottom: 1px solid #e0e0e0;}
    #mob-panel-title-m {
        display:block;
        background-color:#ffffff;
        padding:10px 14px;
        text-align:left;
        font-size:18px;
    }
    #mob-panel-title {
        display:none;
        background-color:#ffffff;
        padding:10px 14px;
        text-align:left;
        font-size:18px;
    }
    #mob-panel-title-m span {line-height:32px;}
    #mob-panel-title span {line-height:32px;}
    #go-back,
    #top-close {
        border:1px solid #2294a7;
        border-radius:50%;
        width:30px;
        height:30px;
        line-height:30px;
        text-align:center;
        color:#2294a7;
        font-size:14px;
        position:absolute;
 	top:5px;
        cursor:pointer;
    }
    #go-back {left:15px; display:none;}
    #top-close {right:15px;}
    .embroidery-action-button {border:none; margin-top:15px;}
    #closeEmbroideryButtonMob,
    #completeMob {margin:0; border-top:4px solid #e0e0e0;}
    .option-main-container,
    .cssdiv {
        border-right: none;
        border-left:none;
    }
    #confirm-msg,
    #complete-confirm-msg {
        bottom:0;
        left:0;
        top:auto;
    }
    #confirm-msg.top-confirm,
    #complete-confirm-msg.top-complete {
        top:0;
        bottom:auto;
    }
}
/* ###################################################################### */
/* END 767 */
/* ###################################################################### */


/* ###################################################################### */
/* BEGIN 567 */
/* ###################################################################### */
@media only screen and (max-width:567px) {

}
/* ###################################################################### */
/* END 567 */
/* ###################################################################### */


/* ###################################################################### */
/* BEGIN 480 */
/* ###################################################################### */
@media only screen and (max-width:480px){
    .wrapper-group {padding-left:5px;}
    .option .dd {width:82% !important;}
    #mob-panel-title-m {font-size:16px;}
    #mob-panel-title {font-size:16px;}
    .wrapper-text .wrapper-group > div.option {width: 100%;}
    .wrapper-group .first-text-line-child dl {padding-left: 0; float: right;}
    .embroidery-price {margin-left: 0;}
}
/* ###################################################################### */
/* END 480 */
/* ###################################################################### */



@media only screen and (max-width:430px){
    /*ul[id*='ul_swatch'] li[class*='Ribbon']{*/
        /*width: 135px !important;*/
    /*}*/
    /*.tst24 .dd{*/
        /*width: 200px !important;*/
        /*margin-left: 0px;*/
        /*   background-color: red;*/
    /*}*/

}
