/* Ripen style sheet */

/* WIDTHS */
.fancyConfirmBtnGp {width:115px;}

/* HEIGHTS */

/* MARGINS */
.fancyConfirmBtnGp {margin-top:10px;}
.fancyConfirmBtnGp {margin-left:auto;}
.fancyConfirmBtnGp {margin-right:auto;}
.fancyConfirmBtnGp input[type="button"] {margin:0 7px;}
.quickshop-main .product-view .product-essential .product-shop {margin-left:0 !important;}

/* PADDING */
.fancyConfirmBtnGp input[type="button"] {padding:2px 5px;}
.quickshop-main .product-view .product-essential .product-shop {padding:20px;}

/* DISPLAY */
.fancyConfirmBtnGp input[type="button"] {display:inline-block;}

/*********************************************************************************/
/* HOME PAGE */
/*********************************************************************************/
.tiered-hero-buttons-wrap {
    position: absolute;
    bottom: 15px;
    right: 25px;
}
.tiered-hero-buttons-wrap a {
    color: #ffffff;
}
#offer-arrow {
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 10px solid #ffffff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: inline-block;
}
#offer-details {padding:25px 15px;}

@media screen and (max-width:960px) {
	.hero-buttons-wrap {
		bottom: 15px;
		width: 70%;
		margin: 0 15%;
	}
}

@media screen and (max-width:768px) {
   .catalog-category-view .col-left.sidebar {
		border:none;
	}
   #mob-filter-wrap {
		border:1px solid #f0f0f0;
	}
	#mob-filter-wrap.expanded {overflow:scroll;}
}

@media screen and (max-width:568px) {
	.hero-buttons-container {
		width: 430px;
	}
}

@media screen and (max-width:479px) {
	.hero-buttons-wrap {
		position:relative;
	}
    .tiered-hero-buttons-wrap {
        right: 15px;
    }
	.hero-buttons-container {
		width:100%;
	}
	.hero-button {
		float:none;
		width:100%;
		margin-top:15px;
		padding:8px;
		box-sizing:border-box;
	}
}