.container_24 .grid_8.three-col {width:314px; margin-left:4px; margin-right:4px;}
.container_24 .grid_8.three-col.extra-left {margin-left:5px;}

.container_24 .grid_12.two-col {width:calc(50% - 4px); margin-left:4px; margin-right:4px;}

.container_24 .grid_8.three-col.alpha,
.container_24 .grid_12.two-col.alpha,
.container_24 .grid_6.sidebar.alpha,
.container_24 .grid_18.em_main.alpha,
.container_24 .grid_24.alpha,
.container_24 .alpha,
.alpha {margin-left:0;}

.container_24 .grid_8.three-col.omega,
.container_24 .grid_12.two-col.omega,
.container_24 .grid_6.sidebar.omega,
.container_24 .grid_18.em_main.omega,
.container_24 .grid_24.omega,
.container_24 .omega,
.omega {margin-right: 0;}

.container-em-main:before,
.container-em-main:after,
.clearfix:before,
.clearfix:after {
content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.container-em-main:after,
.clearfix:after {
    clear: both;
}

.grid_6.sidebar,
.grid_18.em_main {margin-top: 28px;}
.catalog-category-view .grid_18.em_main {margin-top: 20px;}

@media screen and (min-width:961px) {
    body {
        min-width: 960px;
    }

    /* Containers ----------------------------------------------------------------------------------------------------*/
    .container_24 {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
    }

    /* Grid >> Global ----------------------------------------------------------------------------------------------------*/
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_11-to-full-767,
    .grid_12,
    .grid_12-to-full-767,
    .grid_13,
    .grid_14,
    .grid_15,
    .grid_16,
    .grid_17,
    .grid_18,
    .grid_19,
    .grid_20,
    .grid_21,
    .grid_22,
    .grid_23,
    .grid_24 {
        display:inline;
        float: left;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }

    .push_1, .pull_1,
    .push_2, .pull_2,
    .push_3, .pull_3,
    .push_4, .pull_4,
    .push_5, .pull_5,
    .push_6, .pull_6,
    .push_7, .pull_7,
    .push_8, .pull_8,
    .push_9, .pull_9,
    .push_10, .pull_10,
    .push_11, .pull_11,
    .push_12, .pull_12,
    .push_13, .pull_13,
    .push_14, .pull_14,
    .push_15, .pull_15,
    .push_16, .pull_16,
    .push_17, .pull_17,
    .push_18, .pull_18,
    .push_19, .pull_19,
    .push_20, .pull_20,
    .push_21, .pull_21,
    .push_22, .pull_22,
    .push_23, .pull_23,
    .push_24, .pull_24 {
        position:relative;
    }

    /* Grid >> 24 Columns ----------------------------------------------------------------------------------------------------*/
    .container_24 .grid_1 {width:20px;}
    .container_24 .grid_2 {width:60px;}
    .container_24 .grid_3 {width:100px;}
    .container_24 .grid_4 {width:140px;}
    .container_24 .grid_5 {width:180px;}
    .container_24 .grid_6 {width:220px;}
    .container_24 .grid_7 {width:260px;}
    .container_24 .grid_8 {width:300px;}
    .container_24 .grid_9 {width:340px;}
    .container_24 .grid_10 {width:380px;}
    .grid_11-to-full-767,
    .container_24 .grid_11 {width:420px;}
    .grid_12-to-full-767,
    .container_24 .grid_12 {width:470px;}
    .container_24 .grid_12.two-col {width:476px;}
    .container_24 .grid_13 {width:500px;}
    .container_24 .grid_14 {width:540px;}
    .container_24 .grid_15 {width:580px;}
    .container_24 .grid_16 {width:620px;}
    .container_24 .grid_17 {width:660px;}
    .container_24 .grid_18 {width:700px;}
    .container_24 .grid_19 {width:740px;}
    .container_24 .grid_20 {width:780px;}
    .container_24 .grid_21 {width:820px;}
    .container_24 .grid_22 {width:860px;}
    .container_24 .grid_23 {width:900px;}
    .container_24 .grid_24 {width:960px;}


    /* Prefix Extra Space >> 24 Columns ----------------------------------------------------------------------------------------------------*/
    .container_24 .prefix_1 {padding-left:40px;}
    .container_24 .prefix_2 {padding-left:80px;}
    .container_24 .prefix_3 {padding-left:120px;}
    .container_24 .prefix_4 {padding-left:160px;}
    .container_24 .prefix_5 {padding-left:200px;}
    .container_24 .prefix_6 {padding-left:240px;}
    .container_24 .prefix_7 {padding-left:280px;}
    .container_24 .prefix_8 {padding-left:320px;}
    .container_24 .prefix_9 {padding-left:360px;}
    .container_24 .prefix_10 {padding-left:400px;}
    .container_24 .prefix_11 {padding-left:440px;}
    .container_24 .prefix_12 {padding-left:480px;}
    .container_24 .prefix_13 {padding-left:520px;}
    .container_24 .prefix_14 {padding-left:560px;}
    .container_24 .prefix_15 {padding-left:600px;}
    .container_24 .prefix_16 {padding-left:640px;}
    .container_24 .prefix_17 {padding-left:680px;}
    .container_24 .prefix_18 {padding-left:720px;}
    .container_24 .prefix_19 {padding-left:760px;}
    .container_24 .prefix_20 {padding-left:800px;}
    .container_24 .prefix_21 {padding-left:840px;}
    .container_24 .prefix_22 {padding-left:880px;}
    .container_24 .prefix_23 {padding-left:920px;}



    /* Suffix Extra Space >> 24 Columns ----------------------------------------------------------------------------------------------------*/
    .container_24 .suffix_1 {padding-right:40px;}
    .container_24 .suffix_2 {padding-right:80px;}
    .container_24 .suffix_3 {padding-right:120px;}
    .container_24 .suffix_4 {padding-right:160px;}
    .container_24 .suffix_5 {padding-right:200px;}
    .container_24 .suffix_6 {padding-right:240px;}
    .container_24 .suffix_7 {padding-right:280px;}
    .container_24 .suffix_8 {padding-right:320px;}
    .container_24 .suffix_9 {padding-right:360px;}
    .container_24 .suffix_10 {padding-right:400px;}
    .container_24 .suffix_11 {padding-right:440px;}
    .container_24 .suffix_12 {padding-right:480px;}
    .container_24 .suffix_13 {padding-right:520px;}
    .container_24 .suffix_14 {padding-right:560px;}
    .container_24 .suffix_15 {padding-right:600px;}
    .container_24 .suffix_16 {padding-right:640px;}
    .container_24 .suffix_17 {padding-right:680px;}
    .container_24 .suffix_18 {padding-right:720px;}
    .container_24 .suffix_19 {padding-right:760px;}
    .container_24 .suffix_20 {padding-right:800px;}
    .container_24 .suffix_21 {padding-right:840px;}
    .container_24 .suffix_22 {padding-right:880px;}
    .container_24 .suffix_23 {padding-right:920px;}



    /* Push Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/
    .container_24 .push_1 {left:40px;}
    .container_24 .push_2 {left:80px;}
    .container_24 .push_3 {left:120px;}
    .container_24 .push_4 {left:160px;}
    .container_24 .push_5 {left:200px;}
    .container_24 .push_6 {left:240px;}
    .container_24 .push_7 {left:280px;}
    .container_24 .push_8 {left:320px;}
    .container_24 .push_9 {left:360px;}
    .container_24 .push_10 {left:400px;}
    .container_24 .push_11 {left:440px;}
    .container_24 .push_12 {left:480px;}
    .container_24 .push_13 {left:520px;}
    .container_24 .push_14 {left:560px;}
    .container_24 .push_15 {left:600px;}
    .container_24 .push_16 {left:640px;}
    .container_24 .push_17 {left:680px;}
    .container_24 .push_18 {left:720px;}
    .container_24 .push_19 {left:760px;}
    .container_24 .push_20 {left:800px;}
    .container_24 .push_21 {left:840px;}
    .container_24 .push_22 {left:880px;}
    .container_24 .push_23 {left:920px;}


    /* Pull Space >> 24 Columns ----------------------------------------------------------------------------------------------------*/
    .container_24 .pull_1 {left:-40px;}
    .container_24 .pull_2 {left:-80px;}
    .container_24 .pull_3 {left:-120px;}
    .container_24 .pull_4 {left:-160px;}
    .container_24 .pull_5 {left:-200px;}
    .container_24 .pull_6 {left:-240px;}
    .container_24 .pull_7 {left:-280px;}
    .container_24 .pull_8 {left:-320px;}
    .container_24 .pull_9 {left:-360px;}
    .container_24 .pull_10 {left:-400px;}
    .container_24 .pull_11 {left:-440px;}
    .container_24 .pull_12 {left:-480px;}
    .container_24 .pull_13 {left:-520px;}
    .container_24 .pull_14 {left:-560px;}
    .container_24 .pull_15 {left:-600px;}
    .container_24 .pull_16 {left:-640px;}
    .container_24 .pull_17 {left:-680px;}
    .container_24 .pull_18 {left:-720px;}
    .container_24 .pull_19 {left:-760px;}
    .container_24 .pull_20 {left:-800px;}
    .container_24 .pull_21 {left:-840px;}
    .container_24 .pull_22 {left:-880px;}
    .container_24 .pull_23 {left:-920px;}
    .container_24 .grid_6.sidebar {width:154px;}
    .container_24 .grid_18.em_main {width:793px;}
    .container-footer .grid_24 {width:960px;}
}

@media screen and (min-width:769px) and (max-width:960px) {
    body {
        min-width: 300px;
    }
    /* Containers ----------------------------------------------------------------------------------------------------*/
    .container_24 {
        margin-left: auto;
        margin-right: auto;
        width:700px;
    }

    /* Grid >> Global ----------------------------------------------------------------------------------------------------*/
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .container_24 .grid_6.sidebar,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12,
    .grid_13,
    .grid_14,
    .grid_15,
    .grid_16,
    .grid_17,
    .container_24 .grid_18.em_main,
    .grid_18,
    .grid_19,
    .grid_20,
    .grid_21,
    .grid_22,
    .grid_23,
    .grid_24 {
        display: inline;
        float: left;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }

    .push_1, .pull_1,
    .push_2, .pull_2,
    .push_3, .pull_3,
    .push_4, .pull_4,
    .push_5, .pull_5,
    .push_6, .pull_6,
    .push_7, .pull_7,
    .push_8, .pull_8,
    .push_9, .pull_9,
    .push_10, .pull_10,
    .push_11, .pull_11,
    .push_12, .pull_12,
    .push_13, .pull_13,
    .push_14, .pull_14,
    .push_15, .pull_15,
    .push_16, .pull_16,
    .push_17, .pull_17,
    .push_18, .pull_18,
    .push_19, .pull_19,
    .push_20, .pull_20,
    .push_21, .pull_21,
    .push_22, .pull_22,
    .push_23, .pull_23,
    .push_24, .pull_24 {position: relative;}

    /* Grid >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/
    .container_24 .grid_1 {width: 10px;}
    .container_24 .grid_2 {width: 40px;}
    .container_24 .grid_3 {width: 70px;}
    .container_24 .grid_4 {width: 140px;}
    .container_24 .grid_5 {width: 130px;}
    .container_24 .grid_6.sidebar,
    .container_24 .grid_6 {width: 160px;}
    .container_24 .grid_7 {width: 190px;}
    .container_24 .grid_8 {width: 220px;}
    .container_24 .grid_9 {width: 250px;}
    .container_24 .grid_10 {width: 280px;}
    .container_24 .grid_11 {width: 310px;}
    .container_24 .grid_12 {width: 340px;}
    .container_24 .grid_13 {width: 370px;}
    .container_24 .grid_14 {width: 400px;}
    .container_24 .grid_15 {width: 430px;}
    .container_24 .grid_16 {width: 460px;}
    .container_24 .grid_17 {width: 490px;}
    .container_24 .grid_18.em_main,
    .container_24 .grid_18 {width: 520px;}
    .container_24 .grid_19 {width: 550px;}
    .container_24 .grid_20 {width: 580px;}
    .container_24 .grid_21 {width: 610px;}
    .container_24 .grid_22 {width: 640px;}
    .container_24 .grid_23 {width: 670px;}
    .container_24 .grid_24 {width: 700px;}

    /* Prefix Extra Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/
    .container_24 .prefix_1 {padding-left: 30px;}
    .container_24 .prefix_2 {padding-left: 60px;}
    .container_24 .prefix_3 {padding-left: 90px;}
    .container_24 .prefix_4 {padding-left: 120px;}
    .container_24 .prefix_5 {padding-left: 150px;}
    .container_24 .prefix_6 {padding-left: 180px;}
    .container_24 .prefix_7 {padding-left: 210px;}
    .container_24 .prefix_8 {padding-left: 240px;}
    .container_24 .prefix_9 {padding-left: 270px;}
    .container_24 .prefix_10 {padding-left: 300px;}
    .container_24 .prefix_11 {padding-left: 330px;}
    .container_24 .prefix_12 {padding-left: 360px;}
    .container_24 .prefix_13 {padding-left: 390px;}
    .container_24 .prefix_14 {padding-left: 420px;}
    .container_24 .prefix_15 {padding-left: 450px;}
    .container_24 .prefix_16 {padding-left: 480px;}
    .container_24 .prefix_17 {padding-left: 510px;}
    .container_24 .prefix_18 {padding-left: 540px;}
    .container_24 .prefix_19 {padding-left: 570px;}
    .container_24 .prefix_20 {padding-left: 600px;}
    .container_24 .prefix_21 {padding-left: 630px;}
    .container_24 .prefix_22 {padding-left: 660px;}
    .container_24 .prefix_23 {padding-left: 690px;}

    /* Suffix Extra Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/
    .container_24 .suffix_1 {padding-right: 30px;}
    .container_24 .suffix_2 {padding-right: 60px;}
    .container_24 .suffix_3 {padding-right: 90px;}
    .container_24 .suffix_4 {padding-right: 120px;}
    .container_24 .suffix_5 {padding-right: 150px;}
    .container_24 .suffix_6 {padding-right: 180px;}
    .container_24 .suffix_7 {padding-right: 210px;}
    .container_24 .suffix_8 {padding-right: 240px;}
    .container_24 .suffix_9 {padding-right: 270px;}
    .container_24 .suffix_10 {padding-right: 300px;}
    .container_24 .suffix_11 {padding-right: 330px;}
    .container_24 .suffix_12 {padding-right: 360px;}
    .container_24 .suffix_13 {padding-right: 390px;}
    .container_24 .suffix_14 {padding-right: 420px;}
    .container_24 .suffix_15 {padding-right: 450px;}
    .container_24 .suffix_16 {padding-right: 480px;}
    .container_24 .suffix_17 {padding-right: 510px;}
    .container_24 .suffix_18 {padding-right: 540px;}
    .container_24 .suffix_19 {padding-right: 570px;}
    .container_24 .suffix_20 {padding-right: 600px;}
    .container_24 .suffix_21 {padding-right: 630px;}
    .container_24 .suffix_22 {padding-right: 660px;}
    .container_24 .suffix_23 {padding-right: 690px;}

    /* Push Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/
    .container_24 .push_1 {left: 30px;}
    .container_24 .push_2 {left: 60px;}
    .container_24 .push_3 {left: 90px;}
    .container_24 .push_4 {left: 120px;}
    .container_24 .push_5 {left: 150px;}
    .container_24 .push_6 {left: 180px;}
    .container_24 .push_7 {left: 210px;}
    .container_24 .push_8 {left: 240px;}
    .container_24 .push_9 {left: 270px;}
    .container_24 .push_10 {left: 300px;}
    .container_24 .push_11 {left: 330px;}
    .container_24 .push_12 {left: 360px;}
    .container_24 .push_13 {left: 390px;}
    .container_24 .push_14 {left: 420px;}
    .container_24 .push_15 {left: 450px;}
    .container_24 .push_16 {left: 480px;}
    .container_24 .push_17 {left: 510px;}
    .container_24 .push_18 {left: 540px;}
    .container_24 .push_19 {left: 570px;}
    .container_24 .push_20 {left: 600px;}
    .container_24 .push_21 {left: 630px;}
    .container_24 .push_22 {left: 660px;}
    .container_24 .push_23 {left: 690px;}

    /* Pull Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/
    .container_24 .pull_1 {left: -30px;}
    .container_24 .pull_2 {left: -60px;}
    .container_24 .pull_3 {left: -90px;}
    .container_24 .pull_4 {left: -120px;}
    .container_24 .pull_5 {left: -150px;}
    .container_24 .pull_6 {left: -180px;}
    .container_24 .pull_7 {left: -210px;}
    .container_24 .pull_8 {left: -240px;}
    .container_24 .pull_9 {left: -270px;}
    .container_24 .pull_10 {left: -300px;}
    .container_24 .pull_11 {left: -330px;}
    .container_24 .pull_12 {left: -360px;}
    .container_24 .pull_13 {left: -390px;}
    .container_24 .pull_14 {left: -420px;}
    .container_24 .pull_15 {left: -450px;}
    .container_24 .pull_16 {left: -480px;}
    .container_24 .pull_17 {left: -510px;}
    .container_24 .pull_18 {left: -540px;}
    .container_24 .pull_19 {left: -570px;}
    .container_24 .pull_20 {left: -600px;}
    .container_24 .pull_21 {left: -630px;}
    .container_24 .pull_22 {left: -660px;}
    .container_24 .pull_23 {left: -690px;}

    .container_24 .grid_8.three-col {width: 228px;}
    .container_24 .grid_8.three-col.extra-left {margin-left: 4px; margin-right: 4px;}

    .container_24 .grid_8.three-col.alpha,
    .container_24 .grid_6.sidebar.alpha,
    .container_24 .grid_18.em_main.alpha,
    .alpha {margin-left:0;}
    .container_24 .grid_8.three-col.omega,
    .container_24 .grid_6.sidebar.omega,
    .container_24 .grid_18.em_main.omega,
    .omega {margin-right: 0;}
}

@media screen and (min-width:768px) {
    .container_24 .grid_16_rpn {width:620px;}
    .container_24 .grid_8_rpn {width: 300px;}
    .container_24 .grid_16_rpn,
    .container_24 .grid_8_rpn {
        display: inline;
        float: left;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }
    .container_24 .grid_16_rpn.alpha,
    .container_24 .grid_8_rpn.alpha {
        margin-left:0;
    }
    .container_24 .grid_16_rpn.omega,
    .container_24 .grid_8_rpn.omega {
        margin-right:0;
    }
}

@media screen and (max-width:768px) {
    body {min-width: 300px; padding-left:10px; padding-right:10px;}

    .container_24 {
        margin-left: auto;
        margin-right: auto;
        width:auto;
    }

    .container_24 .grid_1,
    .container_24 .grid_2,
    .container_24 .grid_3,
    .container_24 .grid_4,
    .container_24 .grid_5,
    .container_24 .grid_6.sidebar,
    .container_24 .grid_6,
    .container_24 .grid_7,
    .container_24 .grid_8,
    .container_24 .grid_9,
    .container_24 .grid_10,
    .container_24 .grid_11,
    .container_24 .grid_12,
    .container_24 .grid_13,
    .container_24 .grid_14,
    .container_24 .grid_15,
    .container_24 .grid_16,
    .container_24 .grid_17,
    .container_24 .grid_18.em_main,
    .container_24 .grid_18,
    .container_24 .grid_19,
    .container_24 .grid_20,
    .container_24 .grid_21,
    .container_24 .grid_22,
    .container_24 .grid_23,
    .container_24 .grid_24 {width: auto;}

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6.sidebar,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12,
    .grid_13,
    .grid_14,
    .grid_15,
    .grid_16,
    .grid_17,
    .container_24 .grid_18.em_main,
    .grid_18,
    .grid_19,
    .grid_20,
    .grid_21,
    .grid_22,
    .grid_23,
    .grid_24 {
        margin-left: 0;
        margin-right: 0;
        float:none;
    }

    .grid_1:after,
    .grid_2:after,
    .grid_3:after,
    .grid_4:after,
    .grid_5:after,
    .grid_6.sidebar:after,
    .grid_6:after,
    .grid_7:after,
    .grid_8:after,
    .grid_9:after,
    .grid_10:after,
    .grid_11:after,
    .grid_12:after,
    .grid_13:after,
    .grid_14:after,
    .grid_15:after,
    .grid_16:after,
    .grid_17:after,
    .container_24 .grid_18.em_main:after,
    .grid_18:after,
    .grid_19:after,
    .grid_20:after,
    .grid_21:after,
    .grid_22:after,
    .grid_23:after,
    .grid_24:after { content:'.';visibility:hidden;display:block;clear:both;overflow:hidden;height:0;zoom:1 }

    .container_24 .grid_6.sidebar.alpha,
    .container_24 .grid_18.em_main.alpha,
    .alpha {margin-left:0;}
    .container_24 .grid_6.sidebar.omega,
    .container_24 .grid_18.em_main.omega,
    .omega {margin-right: 0;}

    .container_24 .grid_8.three-col,
    .container_24 .grid_8.three-col.extra-left,
    .container_24 .grid_12.two-col {width:100%; margin-left:0; margin-right:0;}

    .grid_24.chefpick {float:left;}
}

@media screen and (max-width:767px) {
    .container_24 .grid_8_rpn,
    .container_24 .grid_16_rpn {
        width: auto;
    }
    .grid_8_rpn,
    .grid_16_rpn {
        margin-left: 0;
        margin-right: 0;
        float:none;
    }
    .grid_8_rpn:after,
    .grid_16_rpn:after {content:'.';visibility:hidden;display:block;clear:both;overflow:hidden;height:0;zoom:1}
}

@media only screen and (max-width: 480px) {
    body {
        width: auto !important;
        padding: 0 10px !important;
        margin: 0 !important;
    }
}
@media only screen and (max-width: 375px) {
    body {
        width: auto !important;
        padding: 5px !important;
        margin: 0 !important;
    }
}