#orderstatus .input-box {
    margin:20px 0;
}
#orderstatus-request {
    text-align: center;
}
.orderstatus-request-content {
    max-width:440px;
    display: inline-block;
}
.orderstatus-result-msg {
    color:#434343;
    text-transform:uppercase;
}
.login-advisory {
    margin:40px 0;
}
.login-advisory .false-link {
    margin:0 0 0 5px;
}
.orderstatus-form-wrap {
    width:300px;
    display:inline-block;
    text-align:left;
}
.orderstatus-result-index #cc_number {
    width: 66px;
    height: 50px;
    padding:0;
}
.orderstatus-result-index #cc_number.visa {
    background-position: calc(100% - 10px) -190px;
}
.orderstatus-result-index #cc_number.amex {
    background-position: calc(100% - 10px) -98px;
}
.orderstatus-result-index #cc_number.mastercard {
    background-position: calc(100% - 10px) -281px;
}
.orderstatus-result-index #cc_number.discover {
    background-position: calc(100% - 10px) -235px;
}
.info-hdg {
    color:#434343;
    font-weight:600;
    font-size:12px;
    white-space:nowrap;
}
.orderstatus-info {
    display: flex;
    justify-content: space-between;
    margin:40px 0 0 0;
}
.orderstatus-result-content {
    margin:35px 0 0 0;
    text-align:center;
}
.orderstatus-ship-date {
    margin-top: 15px;
    line-height: 25px;
}
.orderstatus-track {
    line-height:23px;
}
.orderstatus-carrier {
    text-transform:uppercase;
}
.orderstatus-result-msg,
.orderstatus-date {
    margin:15px 0 0 0;
}
.orderstatus-meta {
    padding: 0 60px 0 0;
    box-sizing: border-box;
    text-align: left;
}
.orderstatus-bill-addr {
    margin:20px 0 0 0;
}
.orderstatus-cart {
    margin:40px 0 0 0;
}
.orderstatus-cart .cart.bettercheckout {
    margin-top:0;
}
.orderstatus-pmt-hdg-mob,
.orderstatus-cart-hdg,
.orderstatus-cart-hdg-mob {
    color:#434343;
    font-weight:600;
    font-size: 14px;
    line-height: 18px;
}
.orderstatus-attr-lbl {
    text-transform: capitalize;
    color:#6f7073;
    font-size:12px;
    font-weight:normal;
}
.orderstatus-attr .false-link {
    font-weight:600;
}
#orderstatus-pmt-info {
    display:none;
}
.orderstatus-emb .location:first-of-type {
    padding-top:10px;
}
.location {
    text-transform:uppercase;
    font-size:12px;
    padding:20px 0 5px;
    border-bottom:1px solid #979797;
    border-width:0 0 1px 0;
}
.saved-cart-container .location {
    border:none;
}
.orderstatus-emb-row .type {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px 0;
    border-bottom:1px solid #e1e1e1;
    line-height:16px;
}
.orderstatus-emb-row .embroidery-review-image img {
    height:16px;
}
.orderstatus-txt-lbl {
    color:#6F7073;
    font-size:12px;
}
.orderstatus-txt-val {
    font-weight:bold;
}
.orderstatus-item-container {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    color:#6f7073;
}
.item-flex-container {
    display:flex;
}
.orderstatus-header-row,
.item-desk-container {
    display:flex;
    justify-content: space-between;
    align-items: stretch;
}
.orderstatus-header-row {
    border-bottom: 1px solid #434343;
    padding-bottom: 5px;
}
.orderstatus-hdr-col {
    color: #434343;
    font-weight: 600;
    font-size: 12px;
    padding-right:10px;
    box-sizing:border-box;
}
.orderstatus-col {
    padding-top: 5px;
    padding-right:10px;
    box-sizing:border-box;
}
.orderstatus-hdr-col:last-of-type,
.orderstatus-col:last-of-type {
    padding-right:0;
}
.med-wt {
    font-size: 14px;
    color: #404040;
    font-weight: 500;
}
.orderstatus-col-image {
    flex: 2.25 2.25 0;
}
.orderstatus-cols-container {
    flex: 8 8 0;
    display:flex;
}
.orderstatus-col-item {
    flex: 5 5 0;
    text-align: left;
}
.orderstatus-col-price {
    flex: 1 1 0;
}
.orderstatus-col-subtotal {
    flex: 1 1 0;
}
.orderstatus-col-qty {
    flex:1 1 0;
}
.checkout-recap-total-cost,
.checkout-recap-total-label {
    font-size: 14px;
    font-weight: 600;
    color:#333333;
}
.orderstatus-collaterals .totals {
    width:260px;
    background-color: #F7F8FA;
    padding: 20px;
    box-sizing:border-box;
    float:right;
    margin-top:60px;
}
.orderstatus-recap-row {
    padding: 0 0 15px 0;
}
.orderstatus-recap-row:first-of-type {
    margin-top:30px;
}
.orderstatus-coupon-code {
    font-size: 12px;
    font-weight:600;
    color: #6F7073;
}
.orderstatus-recap-total-grandtotal {
    border-top: 1px solid #E0E0E0;
    margin: 10px 0 0;
    padding: 25px 0 10px;
}
.orderstatus-pmt-hdg-mob,
.orderstatus-cart-hdg-mob {
    position: relative;
}
.orderstatus-cart .si-icon-wrap {
    height:20px;
    width:20px;
    right:-30px;
    stroke:#434343;
}
.si-icon-wrap.open .si-arrow-down {
    transform:rotate(-90deg);
}
.orderstatus-result-content .btn-wrap {
    margin-top:20px;
}

@media screen and (max-width: 960px) {
    .orderstatus-header-row {
        display: none;
    }
    .orderstatus-col-price {
        display: none;
    }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 568px) {
    .orderstatus-cols-container {
        flex: 8 8 0;
        display:block;
        margin-top:10px;
    }
    .orderstatus-col-image {
        flex: 5 5 0;
    }
    .orderstatus-col-image img {
        width:100%;
    }
    .orderstatus-info {
        display:flex;
        justify-content:space-between;
    }
    .orderstatus-meta {
        padding-right:20px;
    }
    .orderstatus-billing-info {
        display:none;
    }
    .orderstatus-pmt-hdg-mob {
        display:inline-block;
    }
    .orderstatus-cart-hdg-mob .si-icon-wrap {
        display:block;
    }
    #orderstatus-cart-table {
        display:none;
    }
    #orderstatus-pmt-info,
    .orderstatus-cart .cart.bettercheckout {
        margin-top:30px;
    }
    #orderstatus-cart-table {
        border-top:1px solid #e0e0e0;
    }
    .orderstatus-billing-pmt,
    .orderstatus-bill-addr {
        width:50%;
        float:left;
    }
    .orderstatus-header-container {
        margin-bottom:40px;
    }
    .orderstatus-emb {
        padding:0 0 10px;
    }
    .orderstatus-collaterals .totals {
        width:100%;
    }
}