#catalogrequest_slideout {
	position:fixed;
	background-color:#ffffff;
	border:3px solid #4a4a4a;
	bottom:0;
	right:-100%;
	padding:15px;
	z-index:1000;
	color:#4a4a4a;
	max-height:100%;
	box-sizing:border-box;
	-webkit-overflow-scrolling : touch;
	overflow: auto;
	display:none;
}
#catalogrequest_slideout.expanded,
#catalogrequest_slideout.open {
	display:block;
}
#catFormSpacer {
	height:0;
	transition:height linear 100ms;
}
.expanded #catFormSpacer {
	height:100px;
}
.cat-prompt-content {
	position:relative;
}
#catalogImage {
	position:absolute;
	top:-5px;
	left:-14px;
	width:290px;
	z-index:-1;
}
.cat-slidein-container .headline {
	font-size:20px;
	font-weight: 500;
	margin-bottom:15px;
	white-space:nowrap;
}
.cat-slidein-container .closer {
	float:left;
	position:relative;
	cursor:pointer;
	stroke:#4a4a4a;
	stroke-width: 2px;
	height: 24px;
	width: 24px;
}
.cat-slidein-container .desc {
	font-size:14px;
	line-height:17px;
	letter-spacing: 0.5px;
}
.cat-slidein-container .form-success-message {
	display:none;
	text-align: center;
	font-size: 12px;
	float: none;
	width: auto;
	margin: 0 0 10px 0;
}
.cat-form-content {
	background:#ffffff;
}
.request-btn-container,
.prompt-text-wrap {
	width:60%;
	float:right;
	text-align: center;
}
.request-btn-container {
	margin:15px 0 20px;
	transition:width ease-in-out 500ms;
}
.prompt-text-wrap {
	margin:30px 0 15px;
}
.request-btn-wrap {
	width:215px;
	display: inline-block;
	transition:width ease-in-out 500ms;
}
.expanded .request-btn-container {
	width:100%;
}
.expanded .request-btn-wrap {
	width:350px;
}
.cat-page-recaptcha {
	padding-left: 29%;
}
.catalog-request-popup .fancybox-skin {
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}
.cat-form-content .grid_18 {width:720px;}
.cat-form-content .grid_9 {width:350px; margin:0 10px;}
.cat-form-content .grid_3 {width:175px;}
.cat-form-content .grid_18.alpha,
.cat-form-content .grid_9.alpha {margin-left:0;}
.cat-form-content .grid_18.omega,
.cat-form-content .grid_9.omega {margin-right:0;}

.cat-form-content select {
	-webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    height: 54px;
    border-radius: 0px;
    border: 1px solid #A7A7A7;
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    background: #fff url(../../images/dropdown-arrow.png) no-repeat right 10px center;
    background-size: 10px 6px;
    width: 100%;
    margin-bottom: 0px;
}

.cat-recaptcha {
	float:left;
	width:100%;
	text-align:center;
	margin-top:20px;
}

#cat-slideout-recaptcha {
	display:inline-block;
}
.catalogCheck {
	padding: 20px 0;
}

.catalog-img {
	width:100%;
}
.cat {
	font-size: 11pt;
	line-height: 24px;
	text-align: center;
}
.cat-bottom {
	padding-bottom: 3%;
}

.shipping-address-fields input.catalog-submit {
	border-style:none;
	border-image-width: 0;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: normal;
	background-color: #2294A7;
	border: none !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	width: 100%;
}
.br480 {
	display:none;
}

@media screen and (max-width: 960px) {
	.cat-form-content .customwrap {width:auto;}
	.cat-form-content .grid_18 {width:550px;}
	.cat-form-content .grid_9 {width:265px; margin:0 10px;}
}

@media screen and (max-width: 768px) {
	.cat-form-content .grid_18,
	.cat-form-content .grid_9 {width:400px; margin:0;}
	.cat-form-content .customwrap {width:400px;}
	.cat-page-recaptcha {padding-left: 20% !important;}
	.cat-page-img {padding-left: 15%;}
}

@media screen and (max-width: 767px) {
	#catalogrequest_slideout {
		bottom:-100%;
		right:0;
		max-height:100%;
		width: 100%;
	}
	#catalogrequest_slideout.open {
		bottom:0;
	}
	.cat-slidein-container .headline {
		font-size:18px;
	}
	#catalogImage {
		top: -20px;
		left: 0;
		width: 41%;
	}
	.prompt-text-wrap {
		width:59%;
		margin:10px 0 5px;
	}
	.request-btn-container {
		margin: 15px 0 5px;
	}
}

@media screen and (max-width:568px) {
	#catalogrequest_slideout {
		padding: 10px;
	}
	.expanded #catFormSpacer {
		height: 45px;
	}
	.prompt-text-wrap {
		margin: 5px 0 0;
	}
	.expanded .prompt-text-wrap {
		padding: 150px 0 0;
		width:100%;
	}
	.prompt-text-wrap p {
		display: none;
	}
	.expanded .prompt-text-wrap p {
		display: block;
		margin:10px 0 0;
		padding:0 10%;
	}
	#catalogImage {
		top: -61%;
		left: 10%;
		width: auto;
		height: 81px;
	}
	.expanded #catalogImage {
		top: -15px;
		left: 50%;
		width: auto;
		height: 200px;
		transform: translateX(-50%)
	}
	.catalog-submit.btn-blue.btn-tall.btn-wide {
		background-color: #ffffff;
		color: #2294a7;
		padding: 0;
		width: auto;
		transition:all ease-in-out 300ms 300ms;
	}
	.expanded .catalog-submit.btn-blue.btn-tall.btn-wide {
		background-color: #2294a7;
		color: #ffffff;
		padding: 16px 18px;
		width: 100%;
	}
	.request-btn-wrap,
	.request-btn-container {
		transition-delay:300ms;
	}
	.cat-slidein-container .headline {
		font-size: 16px;
		margin-bottom: 0;
	}
	.request-btn-container {
		margin: 10px 0 0;
	}
	.request-btn-container, .prompt-text-wrap {
		padding-right: 5%;
	}
	.expanded .request-btn-container {
		padding-right: 0;
	}
	.expanded .request-btn-wrap {
		width: 100%;
	}
	.cat-slidein-container .closer {
		top: -5px;
		left: -5px;
	}
	.catalogCheck {
		padding: 0;
	}
	.expanded #catFormSpacer {
		height:45px;
	}
}

@media screen and (max-width: 480px) {
	.cat-form-content .grid_18,
	.cat-form-content .grid_9 {width:100% !important; margin:0;}
	.cat-rc {margin-left:-49px !important;}
	.cat-page-recaptcha {padding-left: 10% !important;}
	.cat-page-img {padding-left: 10%;}
	.expanded #catFormSpacer {
		height: 30px;
	}
	#catalogrequest_slideout {
		padding: 8px;
	}
	.cat-slidein-container .headline {
		white-space: normal;
	}
	#catalogImage {
		top: -8px;
		left: 6%;
		height:77px;
	}
	.request-btn-wrap {
		width: auto;
	}
	.prompt-text-wrap {
		margin: 0;
	}
	.request-btn-container, .prompt-text-wrap {
		padding: 0;
		width:55%;
		text-align:left;
	}
	.expanded .request-btn-container, .expanded .prompt-text-wrap {
		text-align:center;
	}
	.request-btn-container {
		margin: 5px 0 0;
	}
	.br480 {
		display:block;
	}
}

@media screen and (max-width: 320px) {
	.cat-rc {margin-left:-42px !important;}
	.cat-page-img {padding-left: 0 !important;}
	.cat {
		padding-left: 5%;
		padding-right: 5%;
	}

}

