.footer {clear:both}
.footer-wrapper-new {
    padding-top:24px;
    color:#e5e5e5;
    background:url("../../images/line-feature-product.png") no-repeat scroll center 23px;
}
.footer-wrapper-new .content_close {cursor:pointer;}
.footer-wrapper-new .content_close,
.footer-wrapper-new ul.content li a {
    font-size:14px;
    color:#e5e5e5;
    text-decoration:none;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
}
.footer-wrapper-new ul.content li {
    line-height:22px;
    background:url("../../images/icon-footer.png") 0 53% no-repeat;
    padding-left:12px
}
.footer-wrapper-new .content_close:hover,
.footer-wrapper-new ul.content li a:hover {color:#2294A7}
.footer-wrapper-new ul.content, .footer-wrapper-new  .icon-social {padding-top:7px; overflow:hidden;}
.footer-wrapper-new .title{
    font-size:16px;
    text-transform:none;
    font-family:ArcherSemiboldPro;
    letter-spacing:1px;
}
.footer-wrapper-new .top-footer-section {
    float:left;
    height:197px;
    background:url("../../images/line-footer.png") right 24px no-repeat #333333;
    padding:24px 0;
}
.footer-wrapper-new .happychef {padding-left:0}
.footer-wrapper-new .social {padding-right:0; background:none}
.footer-wrapper-new .top-footer {overflow:hidden; background-color:#333333;}
.footer-wrapper-new .middle-footer {background-color:#4f4f4f; padding:30px 0;}
.footer-wrapper-new .newsletter-intro,
.footer-wrapper-new .newsletter-new {float:left; line-height:30px;}
.footer-wrapper-new .newsletter-new {margin-top:0; height:30px;}
.footer-wrapper-new .newsletter-intro {
    font-size:28px;
    text-align:center;
    margin-right:10px;
    padding-left:6px;
}
.footer-wrapper-new .newsletter-new .block-title {display:none;}
.footer-wrapper-new .newsletter-new .block-subscribe .action {float:left;}
.social a.youtube {padding-right:0;}
.bottom-footer {
    background-color:#333333;
    text-align:center;
    font-size:12px;
    line-height:20px;
    padding:24px 0 30px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
}
.bottom-footer a{text-decoration:underline}
.bottom-footer p {margin:0}
.footer-wrapper-new .newsletter-new button
.footer-wrapper-new .newsletter-new input {outline: 1px solid #76787a;}
.footer-wrapper-new .logoWrap {width:81px; margin:auto; padding:7px;}
.footer-wrapper-new p.copy {font-size:10px; text-align:center;}
.footer-wrapper-new .icon-social img {margin-bottom:20px;}
.catalog-category-view .footer-wrapper-new {float:none;}
.footer-wrapper-new .icon-social .grid_2 img {width:40px; margin:10px;}

@media screen and (max-width:960px) {
    .footer-wrapper-new .top-footer .container_24 .top-footer-section:first-child {margin-left:0;}
    .footer-wrapper-new .top-footer .container_24 .top-footer-section:last-child {margin-right:0;}
    .footer-wrapper-new .icon-social .grid_2 img {margin:0 0 15px;}
    .footer-wrapper-new .container_24 .grid_6 {width:160px; float:left; margin-right:10px;}
    .footer-wrapper-new .newsletter-intro {font-size:17px;}
}

@media screen and (max-width: 768px) {
    .footer-wrapper-new .icon-social a.grid_2 img {margin:0 10px 15px; width:30px;}
    .footer-wrapper-new .icon-social a.grid_2 {float:left}
    .footer-wrapper-new .container_24 .grid_6 {width:23%; float:left; margin-right:2%;}
    .footer-wrapper-new .top-footer{padding:0px 10px}
    .banner_bottom img{width:100%}
    .bottom-footer{padding:10px 0px 0px 0px}
    .block-subscribe .input-box{width:73%}
    .footer-wrapper-new .newsletter-new .block-subscribe {width:auto;}
    .footer-wrapper-new .block-subscribe .input-box {width:auto;}
    .footer-wrapper-new .newsletter-intro,
    .footer-wrapper-new .newsletter-new {float:none;}
    .footer-wrapper-new .newsletter-intro {font-size:22px;}
}

@media screen and (max-width: 767px) {
    .footer-wrapper-new .container_24 .grid_6 {width: auto; float: none; margin-right: 0;}
    .footer-wrapper-new .icon-social {width:300px; margin:auto;}
    .footer-wrapper-new ul.content li {background:none; padding-left:0;}
    .footer-wrapper-new .top-footer-section {
        float:none;
        height:auto;
        width:auto;
        background:none;
        text-align:center;
        display:block;
        padding:24px 0 0;
    }
    .catalog-category-view .footer-wrapper-new .top-footer .same.grid_6 {width:100%}
    .catalog-category-view .footer-wrapper-new ul.content li {padding:0;}
    .footer-wrapper-new ul.content li {background:none;}
}

@media screen and (max-width:480px) {
    .footer-wrapper-new .icon-social {width: 276px;}
    .footer-wrapper-new .icon-social a.grid_2 img {margin: 0 8px 15px;}
    .catalog-category-view .footer-wrapper-new .top-footer-section {
        width: 280px;
        margin: auto;
        padding-left: 0;
    }
}
