#ProductDetail_ProductReviews-Container {display:block; clear:both;}
#review-form a#hiddenProsListSwitcher_form {
    position: inherit;
    top: auto;
    right: auto;
    text-indent: 0;
    height: auto;
    width: auto;
    text-transform: capitalize;
    background: none;
}
#review-form a#hiddenProsListSwitcher_form:hover {text-decoration: underline;}
.catalog-product-view .fancybox-inner .form-add {float: none;}
.review-left h3 {font-weight: normal;}
.review-left h3 span {font-weight: bold;}
.review-left {float: left; margin-right:20px;}
.review-right {float: left;}
.review-right ul {float: right;}
#review-form .form-add {
    overflow: hidden;
    margin:20px 35px 20px 20px;
    padding:0;
}
.title-review-right {font-weight:bold; margin-bottom: 20px;}
.review-right .notice {color:#6f7073; float: left;}
.review-right .buttons-set button.button {margin-right:0;}
.review-right input.input-text {height:33px;}
.review-right input.input-text,
.review-right textarea {box-sizing:border-box; width:280px;}

#ProductDetail_ProductReviews-Container .ratings {
    margin-top:0;
    padding:0 4px 13px 4px;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2;
}
.box-reviews .review-list {width:100%; margin:0 0 20px}
.Button_Write-a-Review {
    background-color:#2294a7;
    float:right;
    padding:7px 18px;
    margin-top: 10px;
}
.Button_Write-a-Review span#show_write {
    color:#fff;
    display:block;
    font-family: 'Whitney SSm A','Whitney SSm B';
    font-size:14px;
    font-weight:500;
    line-height:26px;
    text-transform:uppercase;
    text-align:center;
    cursor:pointer;
    padding-top:5px;
    padding-bottom:5px;
}
.no-reviews {
    float: left;
    font-size: 10pt;
    color: #aaa;
    padding-top:10px;
}
.Button_Write-a-Review {margin:10px 0}
#review-form .data-table th,
#review-form .data-table td {padding:5px 5px;}
.form-add{float: right;}
#moreReviews{
    margin: 0 auto;
    text-align: center;
    color: #2294a7;
    clear: both;
    text-decoration: underline;
}
#moreReviews:hover {cursor: pointer;}
#customer-reviews .form-list li {position:relative;}
#customer-reviews .buttons-set {clear:left; display:block; padding-top:12px;}
.customer-reviews h2 {
    font-family: WhitneySemibold;
    font-size: 14px;
    color:#6f7073;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-weight: 600;
}
.customer-reviews .head {margin:10px 0;}
.ratings-table th {
    font-family: WhitneyMedium;
    font-size: 14px;
    color:#6f7073;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-weight: 500;
}

@media screen and (max-width:767px) {
    .review-left {
        float:none;
        margin:0 0 20px 0;
    }
    .review-right,
    .review-right ul {float: none;}
    .review-right input.input-text,
    .review-right textarea {width:100%;}
}

@media screen and (max-width:479px) {
    .Button_Write-a-Review,
    .form-add,
    .no-reviews {float:none;width:auto;padding-top:10px;padding-bottom:10px;}
    .Button_Write-a-Review {padding: 5px 10px;}
    .no-rating {margin: 10px 0;}
    #review-form .data-table th,
    #review-form .data-table td {padding:5px 2px;}
    #review-form .form-add {margin: 20px 10px;}
}