/* DO NOT CHANGE #############################################################*/
[class^='popopen_'],
[class*=' popopen_'],
[id^='popopen_'],
[class^='split_'],
[class*=' split_'],
[id^='split_'] {cursor:pointer;}
.hpa {margin-top:5px;}
.cms-index-index .container-em-main .widget-static-block {display:block; margin:0 0 8px 0;}
.cms-index-index .container-em-main .widget-static-block:empty {display:none;}
.cms-index-index .container-em-main .widget-static-block img {width:100%;}
.popup {display:none; margin:0;}
.popup .widget-static-block {margin:0;}
.cms-index-index .container-em-main .ros-banner .widget-static-block,
.ros-banner .widget-static-block {display:block; margin:5px 0 0 0;}
.ros-banner .widget-static-block:empty {display:none;}
.wide-banner img,
.homepg-hero img {width:100%;}

@media screen and (max-width:768px) {
    .cms-index-index .container-em-main .widget-static-block {margin-bottom:15px;}
    .ros-banner .widget-static-block {display:block; margin:0;}
}
/* DO NOT CHANGE #############################################################*/
