.holiday-ship-msg {
    font-family: WhitneyMedium;
    font-style: italic;
    font-size: 14px;
    font-weight: 100;
    text-transform: none;
}

.cc-form-new#payment_form_authnetcim .cc-form-new-bg {
    border:1px solid #DDD;
    border-radius:15px;
    background-color:#f6f6f6;
    padding:15px;
    max-width:395px;
    box-shadow:5px 5px 15px -2px #aaaaaa;
}
.cc-form-new#payment_form_authnetcim .cc-form-new-bg .cvv {
    float: none;
    display: inline;
    text-align: right;
}
.cc-form-new#payment_form_authnetcim .cc-form-new-bg .cvv .input-box {
    display: inline;
}
.cc-form-new#payment_form_authnetcim .cc-form-new-bg #authnetcim_cc_type_cvv_div {
    padding-right: 20px;
}
.cc-form-new#payment_form_authnetcim .cc-form-new-bg .cvv .validation-advice {
    clear: right;
}
.cc-form-new#payment_form_authnetcim .cc-form-new-bg select {
    height: 36px;
    font-size: 14px;
    background-color: #ffffff;
}
.cc-form-new#payment_form_authnetcim .cc-form-new-bg #authnetcim_expiration {
    margin-right: 20px;
    width: 140px;
}
.cc-form-new#payment_form_authnetcim .cc-form-new-bg #authnetcim_cc_type_cvv_div input,
.cc-form-new#payment_form_authnetcim .cc-form-new-bg #authorizecimsoap_cc_number input {
    border-radius: 5px;
}
.cc-form-new#payment_form_authnetcim .use-different-new,
.cc-form-new#payment_form_authnetcim .cc-form-new-bg .cc-save-new,
.cc-form-new#payment_form_authnetcim .cc-form-new-bg .cc-type-new,
.cc-form-new#payment_form_authnetcim .cc-form-new-bg .cc-num-new {
    float: left;
}

.cc-form-new#payment_form_authnetcim li input[type="radio"],
.cc-form-new#payment_form_authnetcim li input[type="checkbox"],
.cc-form-new#payment_form_authnetcim input[type="radio"],
.cc-form-new#payment_form_authnetcim input[type="checkbox"] {
    margin-top: 1px;
    float: left;
    margin-left: 2px;
    margin-right: 20px;
}
.surcharge-notice-wrap {margin:10px 0;}
.surcharge-notice {
    font-family: WhitneySemibold;
    font-weight:600;
    font-size:16px;
}
#opc-login .step-title-wrapper h2 {
    color: #2294a7;
}

#opc-login .step-title-wrapper h2 span {
    font-weight: normal;
}

#opc-login h3.no-account-header {
    color: #2294a7;
    margin-top:30px;
}

li.control.create-account {
    margin-right: 0px !important;
}

li.control.guest-checkout {
    margin-right: 20px !important;
}

@media screen and (max-width: 768px) {
    .surcharge-notice-wrap {margin:10px 0;}
    .opc-block-progress,
    #checkout-step-login .col-1 h3,
    #checkout-step-login .col-1 h4,
    #checkout-step-login .col-1 ul.ul {display:none;}
    #checkout-step-login ul.form-list {
         margin-top: 0px;
    }
    #checkout-step-login{
        padding-top:0px;
    }
    .opc #opc-login .col-1 .buttons-set {
        margin-bottom: 40px;
    }
}
