@media screen and (max-width: 768px) {

    .nav-si * {
        box-sizing: border-box;
    }
    .nav-si-panel,
    .nav-si-viewport,
    .nav-si {
       width: 250px;
    }
    .nav-si {
        background-color: #ffffff;
        color: #6f7073;
        position: absolute;
        top: 0;
        z-index: 10000;
        height: 100%;
        box-sizing: border-box;
        font-family: WhitneySemibold;
    }

    .nav-si-overlay {
        height: 0;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0 .0);
        transition: background-color 0 .25s;
    }

    .nav-si-overlay .active {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0 .5);
        z-index: 9999;
    }

    .nav-si-viewport {
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    .nav-si-panel[data-level] {
        display:block;
        position: absolute;
        min-width: 250px;
        height: 100%;
        background-color: #ffffff;
        display: flex;
        flex-flow: column;
        left: -100%;
    }

    .nav-si .curr-pnl,
    .nav-si .prev-pnl,
    .nav-si .next-pnl {
        transition: left linear 250ms;
    }

    .nav-si .curr-pnl {
        left: 0;
        z-index: 2;
    }

   .nav-si .prev-pnl {
        left: -100%;
        z-index: 1;
    }

   .nav-si .next-pnl {
        left: 100%;
        z-index: 1;
    }

   .nav-si .prev-pnl .inactive-pnl,
   .nav-si .next-pnl .inactive-pnl {
        z-index: 0;
    }

   .nav-si-arrow-lt {
        transform: rotate(-180deg);
    }

   .nav-si-main-prev {
        left: 10px;
    }

   .nav-si-main-close {
        right: 10px;
    }

   .nav-si-row .si-main-prev .si-icon {
        transform: translateY(-50%) rotate(180deg);
        top: 50%;
    }

   .nav-si .create-acct-msg {
        margin-top: 50px;
        text-align: center;
    }

   .nav-sidebar-iframe-container .si-panel {
        background: url( . ./ . ./images/loading-hc-dark .gif) center center no-repeat;
    }

   .nav-si-rt {
        left: 100%;
        transition: transform 500ms;
    }

   .nav-si-header {
        flex: 0 1 auto;
        border-bottom: 1px solid #e1e1e1;
        background-color: #ffffff;
    }

   .nav-si-content {
        flex: 1 1 auto;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

   .nav-si-actions {
        width: 100%;
        padding: 19px 13px;
        flex: 0 1 auto;
        border-top: 1px solid #e1e1e1;
        background-color: #ffffff;
        box-sizing: border-box;
    }

   .nav-si-actions-lt {
        padding-right: 2%;
    }

   .nav-si-actions-rt {
        padding-left: 2%;
    }

   .nav-si-actions-lt,
   .nav-si-actions-rt {
        width: 50%;
        float: left;
    }

   .nav-si .currPnl {
        left: 0;
        z-index: 2;
        transition: left linear 450ms;
    }

   .nav-si .inactivePnl .prevPnl {
        z-index: 1;
    }

   .nav-si .inactivePnl {
        z-index: 0;
        transition: left linear 450ms;
    }

   .nav-si .inactivePnl .slideLeft {
        left: -100%;
    }

   .nav-si .inactivePnl .slideRight {
        left: 100%;
    }

    /* SIDEBAR FORMS #############################################################*/
   .nav-sidebar-form .input-box {
        margin-top: 20px;
    }

   .nav-sidebar-form .account-login .buttons-set {
        margin-top: 20px;
    }

    .nav-sidebar-form .buttons-set {
        position: relative;
        margin-top: 20px;
    }

    .nav-sidebar-form .page-title {
        margin: 0 0 20px;
    }

    .nav-sidebar-form {
        margin: 20px 0;
        display: block;
    }

    .nav-sidebar-form .page-title p {
        margin-top: 20px;
    }

    .nav-si .inner-pnl-title {
        margin: 20px 0 0;
    }

    .nav-si .register-forget {
        font-weight: 500;
    }


    /*.nav-sidebar-iframe-container iframe {*/
    /*border: none;*/
    /*}*/

    /*.nav-sidebar-iframe-wrap {*/
    /*display: block;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*max-width: 375px;*/
    /*overflow: auto;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*}*/

    /*.nav-sidebarIframe {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*}*/

    /*.nav-sidebar-iframe-overlay {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: transparent;*/
    /*z-index: -1;*/
    /*}*/

    /*.nav-sidebar-iframe-overlay .active {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*z-index: 6000;*/
    /*}*/

    /*.nav-sidebar-iframe-wrap. .si-actions {*/
    /*margin-top: 20px;*/
    /*border: 0;*/
    /*padding: 19px 0;*/
    /*}*/
}