.sidebar-iframe-container iframe {
    border:none;
}
.sidebar-iframe-wrap {
    display:block;
    height:100%;
    width:100%;
    max-width:375px;
    margin:auto;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}
.sidebarIframe {
    width:100%;
    height:100%;
}
.sidebar-iframe-overlay {
    position:absolute;
    top:0;
    left:0;
    background-color:transparent;
    z-index:-1;
}
.sidebar-iframe-overlay.active {
    height:100%;
    width:100%;
    z-index:6000;
}
.sidebar-iframe-wrap .si-actions {
    margin-top:20px;
    border:0;
    padding:19px 0;
}
.si * {box-sizing:border-box;}
.si {
    background-color:#ffffff;
    color:#6f7073;
    position:fixed;
    top:0;
    z-index:10000;
    height:100%;
    box-sizing:border-box;
    line-height:25px;
    font-family:WhitneySemibold;
}
.si-overlay {
    height:0;
    width:0;
    position:fixed;
    top:0;
    left:0;
    margin:0;
    background-color:rgba(0,0,0,0.0);
    transition:background-color 0.25s;
}
.si-overlay.active {
    height:100%;
    width:100%;
    margin:0;
    background-color:rgba(0,0,0,0.5);
    z-index:9999;
    max-width: none;
}
.si-viewport {
    position:relative;
    overflow:hidden;
    width:375px;
    height:100%;
}
.si-panel {
    position:absolute;
    width:375px;
    min-width:320px;
    height:100%;
    background-color:#ffffff;
    display:flex;
    flex-flow:column;
    left:-100%;
}
.curr-pnl {
    left:0;
    z-index:2;
    transition:left linear 450ms;
}
.prev-pnl {
    left:-100%;
    z-index:1;
    transition:left linear 750ms;
}
.next-pnl {
    left:100%;
    z-index:1;
    transition:left linear 750ms;
}
.prev-pnl.inactive-pnl,
.next-pnl.inactive-pnl {
    z-index:0;
}
.si-arrow-lt {
    transform: rotate(-180deg);
}
.si-main-prev {left:10px;}
.si-main-close {right:10px;}
.si-row .si-main-prev.si-icon {
    transform:translateY(-50%) rotate(180deg);
    top:50%;
}
.create-acct-msg {
    margin-top: 50px;
    text-align: center;
}
.sidebar-iframe-container .si-panel {
    background: url(../../images/loading-hc-dark.gif) center center no-repeat;
}
.si-rt {left:100%; transition:transform 500ms;}
.si-header {
    flex:0 1 auto;
    border-bottom: 1px solid #e1e1e1;
    background-color:#ffffff;
}
.si-content {
    flex:1 1 auto;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.si-actions {
    width:100%;
    padding:19px 13px;
    flex:0 1 auto;
    border-top: 1px solid #e1e1e1;
    background-color:#ffffff;
    box-sizing:border-box;
}
.si-actions-lt {padding-right:2%;}
.si-actions-rt {padding-left:2%;}
.si-actions-lt,
.si-actions-rt {width:50%; float:left;}


.currPnl {
    left:0;
    z-index: 2;
    transition:left linear 450ms;
}
.inactivePnl.prevPnl {
    z-index: 1;
}
.inactivePnl {
    z-index: 0;
    transition:left linear 450ms;
}
.inactivePnl.slideLeft {
    left:-100%;
}
.inactivePnl.slideRight {
    left:100%;
}

/* SIDEBAR FORMS #############################################################*/
.sidebar-form .input-box {margin-top: 20px;}
.sidebar-form .account-login .buttons-set {
    margin-top:20px;
}
.sidebar-form .buttons-set {position:relative; margin-top:20px;}
.sidebar-form .page-title {margin:0 0 20px;}
.sidebar-form {margin:20px 0; display:block;}
.sidebar-form .page-title p {margin-top:20px;}
.inner-pnl-title {margin:20px 0 0;}
.register-forget {font-weight:500;}
.form-list .input-box.referred-by-other-wrap {
    display:none;
}
.fieldset.optional-fieldset {
    margin:50px 0;
}
.fieldset.optional-fieldset .input-box {
    margin:10px 0 0;
}
/* SIDEBAR FORMS #############################################################*/
