.messages {
    list-style:none !important;
    margin:3px 0 20px;
    padding:0;
    width:100%;
    overflow:hidden;
}
.messages ul {
    list-style:none !important;
    padding:0 ;
    margin:0;
}
.error-msg {
    clear:both;
    min-height:13px;
    padding:16px 10px;
    margin-top:3px;
    font-size:14px;
    line-height:18px;
    color:#ffffff;
    background-color:#D0021B;
    text-align:center;
}
.error-msg {
    margin:3px 0 0;
}
.validation-advice {
    clear: both;
    min-height: 13px;
    margin: 5px 0 0;
    font-size: 10px;
    line-height: 13px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
    font-weight:500;
    color: #D0021B;
}
.validation-failed {border-color:#D0021B !important;}
.validation-failed ~ label {color:#D0021B;}
