@media screen and (min-width: 769px) {
    /* make banner full browser width */
    .container-em-main > .container_24 > .ros-banner {
        max-width: 100%;
        width: 100%;
    }
    .container-em-main > .container_24 > .em_main {
        max-width: 100%;
        width: 100%;
    }
    /* make main layout wider */
    .container-em-main > .container_24 {
        width: 100%;
        overflow: hidden;
    }
    .container-em-main > .container_24 > .grid_24 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1460px;
        width: 100%;
        float: none;
    }
    .em_main > div {
        margin-left: 10px;
        margin-right: 10px;
    }
    .em_main > div.saved-cart-contacts-wrap,
    .em_main > div.saved-cart-container {
        margin-left:auto;
        margin-right:auto;
    }

    .em_main > .widget-static-block {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 1246px) {
    .em_main > .saved-cart-contacts-wrap ~ .saved-cart-footer-wrap > .saved-cart-footer,
    .em_main .saved-cart,
    .em_main > div {
        max-width: 1226px;
        margin-left: auto;
        margin-right: auto;
    }
}
.em_main > .saved-cart-contacts-wrap,
.em_main > .saved-cart-contacts-wrap ~ .saved-cart-footer-wrap,
.em_main > .saved-cart-container {
    width:100%;
    max-width:initial !important;
}