
<?php if(!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <div class="sign-in-btn-blue btn-wide btn-blue" onclick="createSidebarSignin(this, '<?php echo Mage::getUrl('customer/account/login'); ?>');" title="Login" name="send" id="send3"><span class="static-prefix">SIGN IN</span></div>
<?php else: ?>
    <div class="sign-in-btn-blue btn-wide btn-blue" onclick="window.location ='<?php echo Mage::getUrl('customer/account/logout'); ?>';" title="Logout" name="send" id="send4"><span class="static-prefix">LOGOUT</span></div>
<?php endif; ?>
