<?php
$id = $this->getData('wrapperId');
$class = $this->getData('wrapperClass');
$content = $this->getChildHtml('', true, true);
?>
<div class="content_close">
<?php if (!empty($content)): ?>
    <?php if ($id || $class): ?>
		<a href="javascript:void(0);" id="<?php echo $id ?>_close">Free 2016 Catalog<?php //echo $this->__('Sign Up Catalog');?></a>
    <?php else: ?>
        <?php echo $content ?>
    <?php endif ?>
<?php endif ?>
</div>
