<?php
    /* get config from themesetting */

$setting = Mage::helper('em0080settings');
$fonts = Mage::getModel('em0080settings/config_font')->toOptionArray();
?>

<a href="javascript:void(0)" class="btn-toggle">+ open/close</a>
<div id="demotool_variation" class="hide-lte0">
	
	<div class="variation-cp" style="display:none">
		<div class="demotool-title">Magento Theme Variations</div>
		<form method="get" id="emvariationform" action="<?php echo $this->getSkinUrl('css/variation.php') ?>">
		<div class="demotool-content">
			<span class="v-alert" style="font:bold 12px Arial;margin-left:15px">For input text, press Enter to update variation</span>
            <!-- Google Fonts -->
			<div class="demo demo-02">
				<div class="content-title"><span>Google Fonts</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
							<div class="col">
								<div class="row">
									<div class="label">Import these google fonts</div>
									<div class="input">
										<select id="em_variation_google_font" multiple="multiple" rows="10" size="10">
											<?php $selectedFonts = explode(',', $setting->getTypography_GoogleFonts()) ?>
											<?php foreach ($fonts as $_font): ?>
											<option value="<?php echo htmlspecialchars($_font['value']) ?>" <?php echo @in_array($_font['value'], $selectedFonts) ? 'selected="selected"' : '' ?>><?php echo $_font['label'] ?></option>
											<?php endforeach ?>
										</select>
									</div>
									<div class="desc">Select which google fonts should be imported to your site</div>
								</div>
							</div>
						</div>
					</div>
				</div>					
			</div>
			
			<!-- Element Fonts -->
			<div class="demo demo-03">
				<div class="content-title"><span>Element Fonts</span></div>
								
				<div class="wrapper-content">
					<div class="box last">
						<div class="content">
							<div class="col">
								<div class="row">
									<div class="label">General Font</div>
									<div class="input"><input type="text" name="general_font" value="<?php echo htmlspecialchars($setting->getTypography_GeneralFont()) ?>" class="input-text"/></div>
									<div class="desc">Font for body, content, text...<br/>E.g. <em> normal 12px/1.35 "Open Sans", Arial, san-serif</em></div>
								</div>
								
								<div class="row">
									<div class="label">General Font Weight</div>
									<div class="input"><input type="text" name="general_bold" value="<?php echo htmlspecialchars($setting->getTypography_GeneralBold()) ?>" class="input-text"/></div>
									<div class="desc">Font weight bold of general font<br/>Property Values: normal, bold, 300, 400, 500, 600, 700, 800, inherit<br/>E.g. <em>600</em></div>
								</div>

								<div class="row">
									<div class="label">H1</div>
									<div class="input"><input type="text" name="h1_font" value="<?php echo htmlspecialchars($setting->getTypography_H1Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>600 22px "Open Sans", Arial, san-serif</em></div>
								</div>

								<div class="row">
									<div class="label">H2</div>
									<div class="input"><input type="text" name="h2_font" value="<?php echo htmlspecialchars($setting->getTypography_H2Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>600 18px "Open Sans", Arial, san-serif</em></div>
								</div>

								<div class="row">
									<div class="label">H3</div>
									<div class="input"><input type="text" name="h3_font" value="<?php echo htmlspecialchars($setting->getTypography_H3Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>600 17px "Open Sans", Arial, san-serif</em></div>
								</div>

								<div class="row">
									<div class="label">H4</div>
									<div class="input"><input type="text" name="h4_font" value="<?php echo htmlspecialchars($setting->getTypography_H4Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>600 16px "Open Sans", Arial, san-serif</em></div>
								</div>

								<div class="row">
									<div class="label">H5</div>
									<div class="input"><input type="text" name="h5_font" value="<?php echo htmlspecialchars($setting->getTypography_H5Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>600 14px "Open Sans", Arial, san-serif</em></div>
								</div>

								<div class="row">
									<div class="label">H6</div>
									<div class="input"><input type="text" name="h6_font" value="<?php echo htmlspecialchars($setting->getTypography_H6Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>600 13px/1.35 "Open Sans", Arial, san-serif</em></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<!-- Header -->
			<div class="demo demo-01">
				<div class="content-title"><span>Header</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">
                                <div class="row">
									<div class="label">1st Header Background</div>
									<div class="input"><input type="text" name="header_bgcolor1" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgcolor1()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in background header<br/>Syntax: #number or rgba(...)<br/>Default: #fff <span class="color_pattern" style="background-color:#fff"/></div>
								</div>
                                <div class="row">
                                    <div class="label">2nd Header Line Color</div>
                                    <div class="input"><input type="text" name="header_line2" value="<?php echo htmlspecialchars($setting->getTypography_HeaderLine2()) ?>" class="color-picker" /></div>
                                    <div class="desc">Header Links Separate<br/>Default: #aaa</div>
                                </div>
                                <div class="row">
                                    <div class="label">2nd Header Text Color</div>
                                    <div class="input"><input type="text" name="header_text_color2" value="<?php echo htmlspecialchars($setting->getTypography_HeaderTextColor2()) ?>" class="color-picker" /></div>
                                    <div class="desc">Default text color used in dropdown cart content...<br/>Default: #fff</div>
                                </div>
							</div>
							<div class="col col-1">
								<div class="row">
									<div class="label">2nd Header Background</div>
									<div class="input"><input type="text" name="header_bgcolor2" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgcolor2()) ?>" class="color-picker" /></div>
									<div class="desc">Background Button Search<br/>Default: #f0f0f0</div>
								</div>
                                <div class="row">
                                    <div class="label">3th Header Line Color</div>
                                    <div class="input"><input type="text" name="header_line3" value="<?php echo htmlspecialchars($setting->getTypography_HeaderLine3()) ?>" class="color-picker" /></div>
                                    <div class="desc">Line Between Two Products of Dropdown Shopping Cart<br/>Default: #cdd4e3</div>
                                </div>
								<div class="row">
									<div class="label">Header Background Repeat</div>
									<div class="input"><input type="text" name="header_bgrepeat" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgrepeat()) ?>" class="input-text" /></div>
									<div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br/>Default: repeat</div>
								</div>
							</div>
							<div class="col col-1">
								<div class="row">
									<div class="label">1st Header Line Color</div>
									<div class="input"><input type="text" name="header_line1" value="<?php echo htmlspecialchars($setting->getTypography_HeaderLine1()) ?>" class="color-picker" /></div>
									<div class="desc">Border of Dropdown Cart Content<br/>Default: #f3707d</div>
								</div>
                                <div class="row">
                                    <div class="label">1st Header Text Color</div>
                                    <div class="input"><input type="text" name="header_text_color1" value="<?php echo htmlspecialchars($setting->getTypography_HeaderTextColor1()) ?>" class="color-picker" /></div>
                                    <div class="desc">Default color used in text link...<br/>Default: #aaa</div>
                                </div>
                                <div class="row">
                                    <div class="label">Header Background Position</div>
                                    <div class="input"><input type="text" name="header_bgposition" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgposition()) ?>" class="input-text" /></div>
                                    <div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit</div>
                                </div>
							</div>
							<div class="col">                               
                                 <div class="row">
									<div class="label">Header Background Pattern</div>
									<div class="input">
										<input type="hidden" name="header_bgimage" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgimage()) ?>"  />
										<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/em0080/images/stripes/'; ?>
										<?php foreach (Mage::getModel('em0080settings/config_stripes')->toOptionArray() as $row):?>
										<a href="#" class="header_bgimage" data-input-value="<?php echo htmlspecialchars($row['value']) ?>" <?php echo $setting->getTypography_HeaderBgimage() == $row['value'] ? 'style="selected=\'selected\'"' : '' ?>>
											<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $imgDir . $row['value'] ?>)" alt="" />
										</a>
										<?php endforeach ?>
									</div>
									<div class="desc">Specify background pattern image.</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Top Menu -->
			<div class="demo demo-01">
				<div class="content-title"><span>Top Menu</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-2">
                                <div class="row">
									<div class="label">Top Menu Background Color</div>
									<div class="input"><input type="text" name="menu_top_bgcolor" value="<?php echo htmlspecialchars($setting->getTypography_MenuTopBgcolor()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in top menu...<br/>Default: #9a9ab3</div>
								</div>
                                <div class="row">
									<div class="label">Left Content Menu Background Color</div>
									<div class="input"><input type="text" name="menu_left_content_bgcolor" value="<?php echo htmlspecialchars($setting->getTypography_MenuLeftContentBgcolor()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in left menu content...<br/>Default: #fff</div>
								</div>
                                <div class="row">
									<div class="label">Top Menu Text Color</div>
									<div class="input"><input type="text" name="menu_top_text_color" value="<?php echo htmlspecialchars($setting->getTypography_MenuTopTextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in top menu and left menu title...<br/>Default: #fff</div>
								</div>
                                <div class="row">
									<div class="label">Left Menu Active Text Color</div>
									<div class="input"><input type="text" name="menu_active_text_color" value="<?php echo htmlspecialchars($setting->getTypography_MenuActiveTextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Text color used in Top Menu wher hover<br/>Default: #fff</div>
								</div>
                                <div class="row">
                                    <div class="label">Border of Dropdown Top Menu</div>
                                    <div class="input"><input type="text" name="menu_drop_line1" value="<?php echo htmlspecialchars($setting->getTypography_MenuDropLine1()) ?>" class="color-picker"/></div>
                                    <div class="desc">Default border color used in dropdown top menu...<br/>Default: #9797b1</div>
                                </div>
                                <div class="row">
                                    <div class="label">Dropdown Menu Text Color</div>
                                    <div class="input"><input type="text" name="menu_drop_text_color" value="<?php echo htmlspecialchars($setting->getTypography_MenuDropTextColor()) ?>" class="color-picker"/></div>
                                    <div class="desc">Default text color used in dropdown menu...<br/>Default: #fff</div>
                                </div>
							</div>
							<div class="col col-2">
                                <div class="row">
									<div class="label">Left Menu Background Color</div>
									<div class="input"><input type="text" name="menu_left_bgcolor" value="<?php echo htmlspecialchars($setting->getTypography_MenuLeftBgcolor()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in left menu title and dropdown...<br/>Default: #f36f7c</div>
								</div>
                                <div class="row">
									<div class="label">Left Menu Text Color</div>
									<div class="input"><input type="text" name="menu_left_text_color" value="<?php echo htmlspecialchars($setting->getTypography_MenuLeftTextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in left menu content...<br/>Default: #969696</div>
								</div>
								 <div class="row">
									<div class="label">Menu Line</div>
									<div class="input"><input type="text" name="menu_line" value="<?php echo htmlspecialchars($setting->getTypography_MenuLine()) ?>" class="color-picker"/></div>
									<div class="desc">Separate line between two top menu items...<br/>Default: #fff</div>
								</div>
                                <div class="row">
                                    <div class="label">Dropdown Menu Background Color</div>
                                    <div class="input"><input type="text" name="menu_drop_bgcolor" value="<?php echo htmlspecialchars($setting->getTypography_MenuDropBgcolor()) ?>" class="color-picker"/></div>
                                    <div class="desc">Default background color used in dropdown menu...<br/>Default: #fff</div>
                                </div>
                                <div class="row">
                                    <div class="label">Border of Dropdown Left Menu</div>
                                    <div class="input"><input type="text" name="menu_drop_line2" value="<?php echo htmlspecialchars($setting->getTypography_MenuDropLine2()) ?>" class="color-picker"/></div>
                                    <div class="desc">Default border color used in dropdown left menu...<br/>Default: #9797b1</div>
                                </div>
                                <div class="row">
                                    <div class="label">Dropdown Menu Link Color</div>
                                    <div class="input"><input type="text" name="menu_drop_link_color" value="<?php echo htmlspecialchars($setting->getTypography_MenuDropLinkColor()) ?>" class="color-picker"/></div>
                                    <div class="desc">Default link color used in dropdown menu...<br/>Default: #fff</div>
                                </div>
							</div>  
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Body -->
			<div class="demo demo-01">
				<div class="content-title"><span>Body</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">

                                <div class="row">
									<div class="label">1st Background</div>
									<div class="input"><input type="text" name="body_bgcolor1" value="<?php echo htmlspecialchars($setting->getTypography_BodyBgcolor1()) ?>" class="color-picker" /></div>
									<div class="desc">Default color used in background content page<br/>Default: #fff</div>
								</div>	

                                <div class="row">
									<div class="label">1st Body Line Color</div>
									<div class="input"><input type="text" name="body_line1" value="<?php echo htmlspecialchars($setting->getTypography_BodyLine1()) ?>" class="color-picker" /></div>
									<div class="desc">Primary line color used in body as: border of block content, ...<br/>Default: #f36f7c</div>
								</div>

								<div class="row">
									<div class="label">4th Body Line Color</div>
									<div class="input"><input type="text" name="body_line4" value="<?php echo htmlspecialchars($setting->getTypography_BodyLine4()) ?>" class="color-picker"/></div>
									<div class="desc">The line used in border product image<br/>Default: #e6e6e6</div>
								</div>

								<div class="row">
									<div class="label">2nd Body Text Color</div>
									<div class="input"><input type="text" name="body_text_color2" value="<?php echo htmlspecialchars($setting->getTypography_BodyTextColor2()) ?>" class="color-picker"/></div>
									<div class="desc">Nagative text color used in body form title as: create account form title, register form title, ...<br/>Default: #9797b1</div>
								</div>

								<div class="row">
									<div class="label">5th Body Text Color</div>
									<div class="input"><input type="text" name="body_text_color5" value="<?php echo htmlspecialchars($setting->getTypography_BodyTextColor5()) ?>" class="color-picker"/></div>
									<div class="desc">The color used in block title, page title, checkout step title...<br/>Default: #fff</div>
								</div>

                                <div class="row">
                                    <div class="label">Body Background Repeat</div>
                                    <div class="input"><input type="text" name="body_bgrepeat" value="<?php echo htmlspecialchars($setting->getTypography_BodyBgrepeat()) ?>" class="input-text"/></div>
                                    <div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br/>Default: repeat</div>
                                </div>

                            </div>
                            <div class="col col-1">

								<div class="row">
									<div class="label">2nd Background</div>
									<div class="input"><input type="text" name="body_bgcolor2" value="<?php echo htmlspecialchars($setting->getTypography_BodyBgcolor2()) ?>" class="color-picker" /></div>
									<div class="desc">Background used in product collateral tab, block title, page title, checkout step title, my account title, ...<br/>Default: #f36f7c</div>
								</div>		

								<div class="row">
									<div class="label">2nd Body Line Color</div>
									<div class="input"><input type="text" name="body_line2" value="<?php echo htmlspecialchars($setting->getTypography_BodyLine2()) ?>" class="color-picker"/></div>
									<div class="desc">Secondary line color used in body as: slider title, border of cart table, ...<br/>Default: #b3b7ce</div>
								</div>

								<div class="row">
									<div class="label">5th Body Line Color</div>
									<div class="input"><input type="text" name="body_line5" value="<?php echo htmlspecialchars($setting->getTypography_BodyLine5()) ?>" class="color-picker"/></div>
									<div class="desc">The line used in border input, select<br/>Default: #d2d2d2</div>
								</div>

                                <div class="row">
									<div class="label">3th Body Text Color</div>
									<div class="input"><input type="text" name="body_text_color3" value="<?php echo htmlspecialchars($setting->getTypography_BodyTextColor3()) ?>" class="color-picker"/></div>
									<div class="desc">Secondary text color used in body as price, label...<br/>Default: #1e1e1e</div>
								</div>

								<div class="row">
									<div class="label">6th Body Text Color</div>
									<div class="input"><input type="text" name="body_text_color6" value="<?php echo htmlspecialchars($setting->getTypography_BodyTextColor6()) ?>" class="color-picker"/></div>
									<div class="desc">General color used in body<br/>Default: #969696</div>
								</div>

							</div>
                            <div class="col col-1">

								<div class="row">
									<div class="label">3th Background</div>
									<div class="input"><input type="text" name="body_bgcolor3" value="<?php echo htmlspecialchars($setting->getTypography_BodyBgcolor3()) ?>" class="color-picker" /></div>
									<div class="desc">Background used in new product label and blog timestamp...<br/>Default: #73b8e9</div>
								</div>	

								<div class="row">
									<div class="label">3th Body Line Color</div>
									<div class="input"><input type="text" name="body_line3" value="<?php echo htmlspecialchars($setting->getTypography_BodyLine3()) ?>" class="color-picker"/></div>
									<div class="desc">Negative line color used in body<br/>Default: #8dc5ed</div>
								</div>

								<div class="row">
									<div class="label">1st Body Text Color</div>
									<div class="input"><input type="text" name="body_text_color1" value="<?php echo htmlspecialchars($setting->getTypography_BodyTextColor1()) ?>" class="color-picker"/></div>
									<div class="desc">Primary text color used in body...<br/>Default: #f36f7c</div>
								</div>

								<div class="row">
									<div class="label">4th Body Text &nbsp; Color</div>
									<div class="input"><input type="text" name="body_text_color4" value="<?php echo htmlspecialchars($setting->getTypography_BodyTextColor4()) ?>" class="color-picker"/></div>
									<div class="desc">The color used in color of some text labels...<br/>Default: #5a5a5a</div>
								</div>

                                <div class="row">
                                    <div class="label">Body Background Position</div>
                                    <div class="input"><input type="text" name="body_bgposition" value="<?php echo htmlspecialchars($setting->getTypography_BodyBgposition()) ?>" class="input-text"/></div>
                                    <div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br/>Default: 0 0</div>
                                </div>

							</div>
                                
                            <div class="col">
                                <div class="row">
									<div class="label">Body Background Pattern</div>
									<div class="input">
										<input type="hidden" name="body_bgimage" value="<?php echo htmlspecialchars($setting->getTypography_BodyBgimage()) ?>"  />
										<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/em0080/images/stripes/'; ?>
										<?php foreach (Mage::getModel('em0080settings/config_stripes')->toOptionArray() as $row):?>
										<a href="#" class="body_bgimage" data-input-value="<?php echo htmlspecialchars($row['value']) ?>" <?php echo $setting->getTypography_BodyBgimage() == $row['value'] ? 'style="selected=\'selected\'"' : ''  ?>>
											<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $imgDir . $row['value'] ?>)" alt="" />
										</a>
										<?php endforeach ?>
									</div>
									<div class="desc">Specify background pattern image.</div>
								</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Footer -->
			<div class="demo demo-01">
				<div class="content-title"><span>Footer</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">

                                <div class="row">
									<div class="label">1st Footer Background Color</div>
									<div class="input"><input type="text" name="footer_bgcolor1" value="<?php echo htmlspecialchars($setting->getTypography_FooterBgcolor1()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in footer<br/>Default: #fff</div>
								</div>

                                <div class="row">
                                    <div class="label">2nd Footer Line Color</div>
                                    <div class="input"><input type="text" name="footer_line2" value="<?php echo htmlspecialchars($setting->getTypography_FooterLine2()) ?>" class="color-picker" /></div>
                                    <div class="desc">Line and border's color in footer category links<br/>Default: #b0b4cc</div>
                                </div>

                                <div class="row">
                                    <div class="label">3th Footer Text Color</div>
                                    <div class="input"><input type="text" name="footer_text_color3" value="<?php echo htmlspecialchars($setting->getTypography_FooterTextColor3()) ?>" class="color-picker" /></div>
                                    <div class="desc">Default text color used in footer<br/>Default: #969696</div>
                                </div>

                            </div>
                            <div class="col col-1">

                                <div class="row">
									<div class="label">2nd Footer Background Color</div>
									<div class="input"><input type="text" name="footer_bgcolor2" value="<?php echo htmlspecialchars($setting->getTypography_FooterBgcolor2()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in footer links<br/>Default: #9e9eb7</div>
								</div>

                                <div class="row">
                                    <div class="label">1st Footer Text Color</div>
                                    <div class="input"><input type="text" name="footer_text_color1" value="<?php echo htmlspecialchars($setting->getTypography_FooterTextColor1()) ?>" class="color-picker" /></div>
                                    <div class="desc">The text color used in title of box content<br/>Default: #9797b1</div>
                                </div>

                                <div class="row">
                                    <div class="label">Footer Link Color</div>
                                    <div class="input"><input type="text" name="footer_link_color" value="<?php echo htmlspecialchars($setting->getTypography_FooterLinkColor()) ?>" class="color-picker" /></div>
                                    <div class="desc">Default link color used in footer<br/>Default: #fff</div>
                                </div>

							</div>
                            <div class="col col-1">

								<div class="row">
									<div class="label">1st Footer Line Color</div>
									<div class="input"><input type="text" name="footer_line1" value="<?php echo htmlspecialchars($setting->getTypography_FooterLine1()) ?>" class="color-picker" /></div>
									<div class="desc">Line and dashed border's color<br/>Default: #f68694</div>
								</div>

                                <div class="row">
                                    <div class="label">2nd Footer Text Color</div>
                                    <div class="input"><input type="text" name="footer_text_color2" value="<?php echo htmlspecialchars($setting->getTypography_FooterTextColor2()) ?>" class="color-picker" /></div>
                                    <div class="desc">The text color used in emphasis text<br/>Default: #f36f7c</div>
                                </div>

                                <div class="row">
                                    <div class="label">Footer Background Position</div>
                                    <div class="input"><input type="text" name="footer_bgposition" value="<?php echo htmlspecialchars($setting->getTypography_FooterBgposition()) ?>" class="input-text"/></div>
                                    <div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br/>Default: 0 0</div>
                                </div>
                            </div>
                            
                            <div class="col">
                                <div class="row">
									<div class="label">Footer Background Pattern</div>
									<div class="input">
										<input type="hidden" name="footer_bgimage" value="<?php echo htmlspecialchars($setting->getTypography_FooterBgimage()) ?>"  />
										<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/em0080/images/stripes/'; ?>
										<?php foreach (Mage::getModel('em0080settings/config_stripes')->toOptionArray() as $row):?>
										<a href="#" class="footer_bgimage" data-input-value="<?php echo htmlspecialchars($row['value']) ?>" <?php echo $setting->getTypography_FooterBgimage() == $row['value'] ? 'style="selected=\'selected\'"' : ''  ?>>
											<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $imgDir . $row['value'] ?>)" alt="" />
										</a>
										<?php endforeach ?>
									</div>
									<div class="desc">Specify background pattern image.</div>
								</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="demo demo-01">
            	<div class="content-title"><span>Button</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">
                            	<div class="row">
									<div class="label">1st Button Background Color</div>
									<div class="input"><input type="text" name="button1_bgcolor" value="<?php echo htmlspecialchars($setting->getTypography_Button1Bgcolor()) ?>" class="color-picker" /></div>
									<div class="desc">Background color 1st used in Button</div>
								</div>
                            	<div class="row">
									<div class="label">2nd Button Background Color</div>
									<div class="input"><input type="text" name="button2_bgcolor" value="<?php echo htmlspecialchars($setting->getTypography_Button2Bgcolor()) ?>" class="color-picker" /></div>
									<div class="desc">Background color 2nd used in Button</div>
								</div>
                            </div>

                            <div class="col col-1">
                            	<div class="row">
									<div class="label">1st Button Line Color</div>
									<div class="input"><input type="text" name="button1_line" value="<?php echo htmlspecialchars($setting->getTypography_Button1Line()) ?>" class="color-picker" /></div>
									<div class="desc">Line color 1st used in Button</div>
								</div>
                            	<div class="row">
									<div class="label">2nd Button Line Color</div>
									<div class="input"><input type="text" name="button2_line" value="<?php echo htmlspecialchars($setting->getTypography_Button2Line()) ?>" class="color-picker" /></div>
									<div class="desc">Line color 2nd used in Button</div>
								</div>
                            </div>

                            <div class="col col-1">
                            	<div class="row">
									<div class="label">1st Button Text Color</div>
									<div class="input"><input type="text" name="button1_color" value="<?php echo htmlspecialchars($setting->getTypography_Button1Color()) ?>" class="color-picker" /></div>
									<div class="desc">Text color 1st used in Button</div>
								</div>
                            	<div class="row">
									<div class="label">2nd Button Text Color</div>
									<div class="input"><input type="text" name="button2_color" value="<?php echo htmlspecialchars($setting->getTypography_Button2Color()) ?>" class="color-picker" /></div>
									<div class="desc">Text color 2nd used in Button</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

			<a href="#" class="btn-reset">Reset</a>
			<!--a href="#" class="btn-apply">Apply Changes</a-->
		</div>
		<div class="copyright">Theme designed by <a href="http://emthemes.com/premium-magento-themes.html" title="Premium Magento Themes &amp; Premium Magento Templates" onclick="window.open('http://emthemes.com/premium-magento-themes.html');return false;">EMThemes.com</a></div>
		</form>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
jQuery(function($) {
	var panel = $('#demotool_variation').css({'left':'-100%', 'position':'absolute'});
	
	$('a.btn-toggle').click(function () {
		if (!panel.hasClass('show')) {
			$('.variation-cp').show();
			panel.css('top', Math.max($(document).scrollTop(), Math.min($(this).offset().top, $(document).scrollTop() + $(window).height() - panel.outerHeight())) + 'px')
				.addClass('show')
				.animate({'left':$(this).width() + 1 + 'px'});
		} else {
			panel.removeClass('show')
				.animate({'left':-$(this).width() - panel.outerWidth() - 10 + 'px'}, 
				500, function () {
					$('.variation-cp').hide();
				});
			
		}
		return false;
	});

	// toogle section content-title
	$('#demotool_variation .content-title').click(function() {
		$(this).next('.wrapper-content').slideToggle('fast');
	}).trigger('click').first().trigger('click');
	

	// toggle box content
	$('#demotool_variation .box .title').click(function () {
		var box = $(this).parent();

		if (box.children('.content').is(':visible')) {
			box.children('.content').slideUp('fast');
			box.addClass('close');
		} else {
			box.children('.content').slideDown('fast');
			box.removeClass('close');
		}
			
	});
	
	
	var oldCss = $('#emcssvariation').attr('href');
	
	$('#demotool_variation .btn-apply').click(function() {
		//$('#emcssvariation').attr('href', $('#emvariationform').attr('action') + '?' + $('#emvariationform').serialize());
	
		changeVariation();
		return false;
	});
	
	$('#demotool_variation .btn-reset').click(function() {
		//$('#emcssvariation').attr('href', oldCss);
		$('#demotool_variation input[type=text], #demotool_variation select, #demotool_variation input[type=hidden]').val('').css('background-color', '');
	
		resetVariation();
		return false;
		
	});


	// load google fonts
	var fontLoaded = {};
	$('#em_variation_google_font').after('<p id="em_variation_google_font_preview" style="font-size:20px;padding:10px 0"></p>')
		.bind('change', function() {
			var font = $(this).val();
			if (font.length > 0) {
				font = font[font.length-1];
				if (typeof fontLoaded[font] == 'undefined') {
					$('head').append('<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family='+encodeURIComponent(font)+':400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext"></link>');
					$('#em_variation_google_font_preview').html(font)
						.css('font-family', font);
				}
			}
		});
		
	// stripes pattern
	$('#demotool_variation a.header_bgimage').click(function() {
		$('#demotool_variation a.header_bgimage').removeClass('selected');
		$(this).addClass('selected');
		$('#demotool_variation input[name=header_bgimage]').val($(this).data('input-value'));
		changeVariation('@header_bgimage',$('#demotool_variation input[name=header_bgimage]').val());	
		return false;
	});

	$('#demotool_variation a.body_bgimage').click(function() {
		$('#demotool_variation a.body_bgimage').removeClass('selected');
		$(this).addClass('selected');
		$('#demotool_variation input[name=body_bgimage]').val($(this).data('input-value'));
		changeVariation('@body_bgimage',$('#demotool_variation input[name=body_bgimage]').val());		
		return false;
	});

	$('#demotool_variation a.footer_bgimage').click(function() {
		$('#demotool_variation a.footer_bgimage').removeClass('selected');
		$(this).addClass('selected');
		$('#demotool_variation input[name=footer_bgimage]').val($(this).data('input-value'));		
		changeVariation('@footer_bgimage',$('#demotool_variation input[name=footer_bgimage]').val());	
		return false;
	});
});
//]]>
</script>