<div id="myaccount" class="myaccount hdr-drop">
    <span id="link-logout"><span class="no-bold">Not <?php echo Mage::helper('customer')->getCurrentCustomer()->getFirstname(); ?>?</span> &nbsp; <a href="<?php echo $this->getUrl('customer/account/logout')?>"><?php echo $this->__('SIGN OUT'); ?></a></span>
    <span id="link-myaccount"><a href="<?php echo $this->getUrl('customer/account/index')?>"><?php echo $this->__('MY ACCOUNT'); ?></a></span>
    <div id="myaccount-content" class="myaccount-content">
        <div class="myaccount-content-inner">
            <div class="links">
                <div class="page-title">
                    <div class="my-account-logged-title"><span><?php echo (isset($myAccountWelcome)) ? $myAccountWelcome : 'Welcome!' ; ?></span></div>
                    <ul class="my-account-logged-links">
                        <li class="my_older"><a href="<?php echo $this->getUrl('customer/account/') ?>"> <?php echo $this->__('Account Information'); ?></a></li>
                        <li class="re_older"><a href="<?php echo $this->getUrl('customer/address/') ?>"> <?php echo $this->__('Address Book'); ?></a></li>
                        <li class="user_embroidery"><a href="<?php echo $this->getUrl('sales/order/history/') ?>"> <?php echo $this->__('My Orders'); ?></a></li>
                        <li class="profile_information"><a href="<?php echo $this->getUrl().'sales/order/history/'?>"> <?php echo $this->__('Re-Order'); ?></a></li>
                        <li class="save_for_later"><a href="<?php echo $this->getUrl('review/customer/') ?>"> <?php echo $this->__('My Product Reviews'); ?></a></li>
                        <li class="newsletter_subscriptions"><a href="<?php echo $this->getUrl('newsletter/manage/') ?>"> <?php echo $this->__('Newsletter Subscriptions'); ?></a></li>
                        <li class="gift_card"><a href="<?php echo $this->getUrl('awgiftcard/card/index/') ?>"> <?php echo $this->__('Manage Gift Cards'); ?></a></li>
                        <li class="my_review"><a href="<?php echo $this->getUrl('shoppinglist') ?>"> <?php echo $this->__('My Saved Carts'); ?></a></li>
                        <li class="my_review"><a href="<?php echo $this->getUrl('embroidery/index/logos') ?>"> <?php echo $this->__('My Logos'); ?></a></li>
                    </ul>
                    <a id="logoutBtn" class='logoutbtn btn-blue btn-wide' href="<?php echo Mage::getBaseUrl() ?>customer/account/logout/">LOGOUT</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($){
        $('#logoutBtn').on('click', function(){
            showButtonLoader($('#logoutBtn'));
        })
    })
</script>