<?php
$_item = $this->getItem();
$setting = Mage::helper('em0080settings');
$w = $setting->getImageShoppingCart_Width(100);
$h = $setting->getImageShoppingCart_Height(100);
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
?>
<!-- new code -->
<div id="shopcart-item-<?php echo $_item->getId(); ?>" class="shopcart-item-container checkout-cart clearfix">

    <div class="shopcart-col shopcart-col-image">
        <?php
        $typeId = $_item->getProduct()->getTypeId();

        /****** By Astrio *****/
        $image_product = $_item->getProduct();

        if ($_item->getProduct()->isConfigurable()) {
            $eavConfig = Mage::getSingleton('eav/config');
            $productTypeConfigurable = Mage::getModel('catalog/product_type_configurable');
            $productTypeConfigurable->setProduct($_item->getProduct());
            $configurableSimpleCollection = $productTypeConfigurable->getUsedProductCollection()->addFilterByRequiredOptions();
            $option = $_item->getOptionByCode('attributes');

            if ($option instanceof Mage_Sales_Model_Quote_Item_Option) {
                if ($configurableAttributes = $option->getValue()) {
                    $configurableAttributes = unserialize($configurableAttributes);
                    foreach ($configurableAttributes as $attributeId => $optionId) {
                        $configurableSimpleCollection->addAttributeToFilter($attributeId, $optionId);
                    }

                    $configurableSimpleCollection->addAttributeToSelect(array('image', 'thumbnail', 'small_image'));

                    $configurableSimpleCollection->setPageSize(1);
                    if ($configurableSimpleCollection->count()) {
                        $image_product = $configurableSimpleCollection->getFirstItem();
                    }
                }
            }
        }
        ?>

        <?php if ($typeId != "aw_giftcard"): ?>
            <div class="image-product shopcart-item-image">
                <?php if ($this->hasProductUrl()): ?>
<!--                    <a href="--><?php //echo $this->getProductUrl() ?><!--"-->
<!--                       title="--><?php //echo $this->escapeHtml($this->getProductName()) ?><!--" class="product-image">-->
                        <img
                            src="<?php if ($typeId != "configurable") {
                                echo $this->getProductThumbnail()->resize($w, $h)->setWatermarkSize('30x10');
                            } else {
                                echo Mage::helper('catalog/image')->init($image_product, 'small_image')->resize($w, $h)->setWatermarkSize('30x10');
                            } ?>" width="<?php echo $w ?>"
                            alt="<?php echo $this->escapeHtml($this->getProductName()) ?>"/>
<!--                    </a>-->
                <?php endif; ?>
            </div>
        <?php else: ?>
            <div class="image-product shopcart-item-image">
                <?php //if ($this->hasProductUrl()): ?>
<!--                <a href="--><?php //echo $this->getProductUrl() ?><!--"-->
<!--                   title="--><?php //echo $this->escapeHtml($this->getProductName()) ?><!--" class="product-image gift-card">-->
                    <?php //endif; ?>
                    <img
                        src="<?php echo $_item->getIsVirtual() ? $this->getProductThumbnail() : $_item->getBuyRequest()->getGiftcardDesign(); ?>"
                        width="<?php echo $w ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>"/>
                    <?php //if ($this->hasProductUrl()): ?>
<!--                </a>-->
            <?php // endif; ?>
            </div>
        <?php endif; ?>
    </div>
    <!-- END bundle1 -->
    <div class="shopcart-cols-container">
        <div class="shopcart-col shopcart-col-item">
            <div
                class="<?php echo ($typeId == "aw_giftcard") ? "product-name-giftcard" : "product-name"; ?> extra-accent-text">
                <?php //if ($this->hasProductUrl()): ?>
<!--                    <a href="--><?php //echo $this->getProductUrl() ?><!--">--><?php //echo $this->escapeHtml($this->getProductName()) ?><!--</a>-->
                <?php //else: ?>
                    <?php echo $this->escapeHtml($this->getProductName()) ?>
                <?php //endif; ?>
            </div>

            <div class="product-sku accent-text">
                <?php
                $children = $_item->getChildren();
                $simpleItem = ($_item->getProductType() == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE) ? reset($children) : $_item;
                if ($typeId != "aw_giftcard"){
                    echo "#" . $_item->getProduct()->getData('model');
                }
                ?>
            </div>
            Qty: <span class='cart-item-attribute'><?php echo $this->getQty();?></span>

            <?php
	    if($_item->getProduct()->getCustomOption('info_buyRequest')) {
                $infoBuyRequestValue = $_item->getProduct()->getCustomOption('info_buyRequest')->getValue();
                $optionArray = unserialize($infoBuyRequestValue);
                $superAttributes = $optionArray["super_attribute"];
                foreach((array) $superAttributes as $superAttribute => $superValue) {
                    $attr = Mage::getModel('catalog/resource_eav_attribute')->load($superAttribute);
                    echo "<div>".ucwords($attr->getFrontend()->getLabel()).": <span class='cart-item-attribute'>". $attr->getSource()->getOptionText($superValue)."</span></div>";
                }
	    }
            ?>

            <?php if ($_item->hasEmbroiderySaved()): ?>
                <div class="checkout-item-emb">
                    <div class="checkout-item-emb-label">Embroidery Added</div>
                    <div class="checkout-item-embroidery-link"><?php echo $this->helper('embroidery')->getEmbroideryDisclaimer($_item->hasEmbroiderySaved(), $_item->hasLogoEmbroideryWithoutSetup(), true); ?></div>
                </div>
            <?php endif; ?>

            <?php  if ($typeId != "aw_giftcard") :?>
            <div class="checkout-stock-status">
                <?php echo $this->getLayout()->createBlock('core/template')->setData('orderItem', $this)->setData('itemProduct', $image_product)->setTemplate('ripen/bettercheckout/cart/item/stockstatus.phtml')->toHtml(); ?>
            </div>
            <?php endif; ?>

            <?php
            // check for free product promo
            $rulesCollection = Mage::getModel('awafptc/rule')->getCollection();
            $_productId = $_item->getProduct()->getId();

            foreach($rulesCollection as $rule) {
                if ($rule->_data[status] && $rule->_data[product_id] == $_productId && $rule->_data[discount] == 100) {
                    echo("<div class='addFreeProdRuleDescPdp'><span>FREE</span></div>");
                }
            }
            ?>



        </div>
        <!-- END bundle2 -->

    </div>
</div>
