<?php
$quote = Mage::helper('checkout/cart')->getQuote();
$address = $quote->getBillingAddress();
$cards = Mage::helper('aw_giftcard/totals')->getQuoteGiftCards();
?>

<div class="checkout-gc-info">
    <div class="checkout-gc-link">Have a Gift Card or Promo Code?</div>

    <div id="checkout-gc-fields" class="checkout-gc-fields">
        <div class="grid_9 alpha giftcard-container">
            <input type="text" name="giftcard" class="fancy-label" required id="giftcard" value="">
            <label for="giftcard"><span>Promo code or gift card</span></label>
        </div>
        <div class="grid_3 alpha button-solid button-taller" id="checkout-gc-apply-button" onclick="bettercheckout.applyGiftcard();">
            Apply
        </div>
        <!--div class="grid_4 alpha button-bordered button-taller" id="checkout-gc-check-button" onclick="bettercheckout.checkGiftCardBalance();">
            Check Balance
        </div-->
        <div class="grid_3 alpha omega" id="checkout-gc-balance"></div>
        <div class="clearfix"></div>
    </div>

    <div id="checkout-gc-success-message-container">
        <div class="gc-success-message"></div>
        <div class="gc-success-message-link"><a href="javascript:void(0);" onclick="bettercheckout.resetGiftCardForm()">Add additional Gift Card or Promo Code</a></div>
        <div class="clearfix"></div>
    </div>
    <div id="checkout-giftcard-message"></div>

</div>
