<?php
$_item = $this->getItem();
$setting = Mage::helper('em0080settings');
$w = $setting->getImageShoppingCart_Width(100);
$h = $setting->getImageShoppingCart_Height(100);
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
?>
<!-- new code -->
<div id="shopcart-item-<?php echo $_item->getId(); ?>" class="shopcart-item-container checkout-cart clearfix">

    <div class="shopcart-col shopcart-col-image">
        <div class="image-product shopcart-item-image">
            <img src="<?php echo $_item->getAdditionalData();?>" width="<?php echo $w;?>"/>
        </div>
    </div>
    <!-- END bundle1 -->
    <div class="shopcart-cols-container">
        <div class="shopcart-col shopcart-col-item">
            <div class="product-name extra-accent-text">
                <a href="javascript:void(0)"><?php echo $this->escapeHtml($this->getProductName()) ?></a>
            </div>
            <?php if (!(floatval($_item->getPrice()))):?><em>FREE</em><?php endif;?>
        </div>
    </div>
</div>
