<?php
$quote = Mage::helper('checkout/cart')->getQuote();
$billingAddr = $quote->getBillingAddress();
$billingCustAddrId = $billingAddr->getCustomerAddressId();
$shippingAddr = $quote->getShippingAddress();
$shippingCustAddrId = $shippingAddr->getCustomerAddressId();
$payment = Mage::getSingleton('checkout/session')->getQuote()->getPayment();
$storeCode = Mage::app()->getStore()->getCode();
$methods = $this->getMethods();
$oneMethod = count($methods) <= 1;
// TODO: Find a more elegant way of determining active payment methods
$hasCheckMo = false;
$hasCC = false;

foreach ($methods as $method) {
    if ($method->getCode() == "checkmo") {
        $hasCheckMo = true;
        $_checkmoMethodTitle = Mage::helper('payment')->getMethodInstance("checkmo")->getTitle();
    }
    if ($method->getCode() == "authnetcim") {
        $hasCC = true;
        $_authnetcimMethodTitle = Mage::helper('payment')->getMethodInstance("authnetcim")->getTitle();
    }
}
?>
<h1 id="billing-information-heading"><?php echo (!$this->hasOnlyEmailGiftCard()) ? "3." : ""; ?> Billing Information
    <div class="shopcart-secure">Secure Shopping</div>
    <div class="clearfix"></div>
</h1>
<?php
if ($hasCheckMo) {

    /* ########################################## CHECKMO FORM ########################################### */
    $_code = "checkmo";

    ?>
    <div class="payment-info-box">
        <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]"
               checked="checked" class="radio payment-option"/>
        <label for="p_method_<?php echo $_code ?>" class="payment-option"><?php echo $_checkmoMethodTitle ?></label>
    </div>
    <?php

}

if ($this->getCustomer()->getId()) {
    $cards = Mage::helper('tokenbase')->getActiveCustomerCardsByMethod();

    $cardsOptions = array();
    foreach ($cards as $card) {
        $cardData = $card->getAdditional();
        $cardsOptions[$card->getHash()] = array(
            'cc_number' => "Ending with " . $cardData["cc_last4"],
            'cc_expiration' => $cardData["cc_exp_month"],
            'cc_expiration_yr' => $cardData["cc_exp_year"],
            'cc_type' => $cardData["cc_type"]
        );
    }
    $cardsOptionsJson = json_encode($cardsOptions);
}

/* ########################################## CC FORM ################################################# */

if ($hasCC) {
$_code = "authnetcim";

?>

<div class="payment-info-box">

    <?php if ($oneMethod) { ?>
        <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="hidden" name="payment[method]"/>
    <?php } else { ?>
        <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]"
               class="radio payment-option"/>
        <label for="p_method_<?php echo $_code ?>" class="payment-option"><?php echo $_authnetcimMethodTitle ?></label>
        <div class="clearfix"></div>
    <?php } ?>
    <?php
    } // End if $hasCC
    ?>

    <?php if (!$this->hasOnlyEmailGiftCard()): ?>
        <div id="is-shipping-as-billing-container" class="checkbox-wrap clearfix">
            <div class="grid_1 alpha checkbox">
                <label class="myCheckbox">
                    <input type="checkbox" value="1" name="is-shipping-as-billing"
                           <?php if ($billingCustAddrId == $shippingCustAddrId || $shippingCustAddrId == null): ?>checked="checked"<?php endif; ?>
                           id="is-shipping-as-billing" onchange="bettercheckout.prepareBillingFields(this)"/>
                    <span></span>
                </label>
            </div>
            <div class="grid_15 omega checkout-notice">
                My billing address is the same as my shipping address above
            </div>
        </div>
        <div id="inline-billing-notification" class="error" style="display:none;">
            <div class="error-icon"></div>
            <span class="message"></span>
        </div>
    <?php endif; ?>

    <div class="checkout-billing-info">

        <?php if ($this->customerHasAddresses()): ?>
            <div class="checkout-fields grid_16 alpha omega">
                <div class="field-row">
                    <?php echo $this->getAddressesHtmlSelect('billing') ?>
                </div>
            </div>
            <div class="clearfix"></div>
        <?php endif; ?>

        <input type="hidden" name="shipping[address_id]" value="<?php echo $billingAddr->getId() ?>"
               id="shipping:address_id"/>

        <?php if ($this->hasOnlyEmailGiftCard()): ?>
            <div class="checkout-fields grid_8 alpha">
                <div class="field-row">
                    <input type="email" name="shipping[email]" class="fancy-label required-entry validate-email"
                           id="shipping:email" required
                           value="<?php if (!empty($quote->getBillingAddress()->getEmail())) {
                               echo $this->escapeHtml($quote->getBillingAddress()->getEmail());
                           } else {
                               echo $this->escapeHtml($quote->getCustomer()->getEmail());
                           } ?>" <?php if ($this->getCustomer()->getId() && (!empty($quote->getCustomer()->getEmail()) || !empty($quote->getBillingAddress()->getEmail()))) {
                        ECHO "DISABLED='DISABLED'";
                    } ?> autocomplete="email" maxlength="255">
                    <label for="shipping:email"><span>Email</span></label>
                </div>
            </div>
            <div class="checkout-fields grid_8 omega">
                <div class="field-row">
                    <input name="shipping[telephone]" class="fancy-label validate-phoneMasked required-entry" required
                           id="shipping:telephone"
                           maxlength="30"
                           value="<?php echo $this->escapeHtml($shippingAddr->getTelephone()); ?>"
                           autocomplete="tel" type="tel"/>
                    <label for="shipping:telephone"><span>Phone Number</span></label>
                </div>
            </div>
            <div class="clearfix"></div>
        <?php endif; ?>

        <div class="checkout-fields grid_8 alpha keep-in-row">
            <div class="field-row">
                <input type="text" name="billing[firstname]" class="fancy-label conditional-required" required
                       id="billing:firstname" value="<?php echo $this->escapeHtml($billingAddr->getFirstname()) ?>"
                       autocomplete="given-name" maxlength="255">
                <label for="billing:firstname"><span>First Name</span></label>
            </div>
        </div>
        <div class="checkout-fields grid_8 omega keep-in-row align-right">
            <div class="field-row">
                <input type="text" name="billing[lastname]" class="fancy-label conditional-required" required
                       id="billing:lastname" value="<?php echo $this->escapeHtml($billingAddr->getLastname()) ?>"
                       autocomplete="family-name" maxlength="255">
                <label for="billing:lastname"><span>Last Name</span></label>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="checkout-fields grid_16 alpha omega">
            <div class="field-row">
                <input type="text" name="billing[company]" class="fancy-label" required id="billing:company"
                       value="<?php echo $this->escapeHtml($billingAddr->getCompany()) ?>" autocomplete="organization"
                       maxlength="255">
                <label for="billing:company"><span>Company (optional)</span></label>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="checkout-fields grid_16 alpha omega">
            <div class="field-row">
                <input type="text" name="billing[street][]" class="fancy-label conditional-required" required
                       id="billing:street1" value="<?php echo $this->escapeHtml($billingAddr->getStreet(1)) ?>"
                       autocomplete="address-line1" maxlength="255">
                <label for="billing:street1"><span>Address</span></label>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="checkout-fields grid_16 alpha omega">
            <div class="field-row">
                <input type="text" name="billing[street][]" class="fancy-label" required id="billing:street2"
                       value="<?php echo $this->escapeHtml($billingAddr->getStreet(2)) ?>" autocomplete="address-line2"
                       maxlength="255">
                <label for="billing:street2"><span>Address 2</span></label>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="checkout-fields grid_8 alpha">
            <div class="field-row">
                <select id="billing:region_id" name="billing[region_id]"
                        title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>"
                        class="conditional-required"
                        onchange="bettercheckout.validateSelect(this); bettercheckout.setBillingState(this.value)"
                        autocomplete="address-level1">
                    <option value=""><?php echo $this->__('State or Province...') ?></option>
                </select>
            </div>
        </div>
        <div class="checkout-fields grid_8 omega">
            <div class="field-row">
                <?php echo $this->getCountryHtmlSelect('billing') ?>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="checkout-fields grid_8 alpha">
            <div class="field-row">
                <input type="text" name="billing[city]" class="fancy-label conditional-required" required
                       id="billing:city" value="<?php echo $this->escapeHtml($billingAddr->getCity()) ?>"
                       autocomplete="address-level2" maxlength="255">
                <label for="billing:city"><span>City</span></label>
            </div>
        </div>
        <div class="checkout-fields grid_8 omega">
            <div class="field-row">
                <input type="tel" name="billing[postcode]" class="fancy-label conditional-required"
                       required id="billing:postcode"
                       value="<?php echo $this->escapeHtml($billingAddr->getPostcode()) ?>" autocomplete="postal-code"
                       maxlength="5" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <label for="billing:postcode"><span>Zip Code</span></label>
            </div>
        </div>
        <div class="clearfix"></div>

        <?php if ($this->getCustomer()->getId()): ?>
            <div id="billing-save-for-future" class="save-for-future">
                <div class="grid_1 alpha checkbox">
                    <label class="myCheckbox">
                        <input type="checkbox" name="billing[save_in_address_book]" id="save-billing" value="1"/>
                        <span></span>
                    </label>
                </div>
                <div class="grid_15 omega checkout-notice">
                    Save billing information for future orders
                </div>
                <div class="clearfix"></div>
            </div>
        <?php endif; ?>

    </div>
    <?php
    if ($hasCC) {
    ?>
    <div class="checkout-cc-info" <?php if ($quote->getGrandTotal() <= 0) echo "style='display:none;'"; ?>>

        <?php if (count($cards)): ?>
            <div class="checkout-fields grid_16 alpha omega">
                <div class="field-row">
                    <select id="payment-select" name="payment[card_id]"
                            title="<?php echo Mage::helper('core')->quoteEscape($this->__('Billing Information')) ?>"
                            style="width: 100%;" onchange="bettercheckout.prefillPayment();">
                        <?php foreach ($cards as $card): ?>
                            <?php
                            $card = $card->getTypeInstance();
                            $cardData = $card->getData();
                            $additional = unserialize($cardData['additional']);
                            switch ($additional['cc_type']) {
                                case "AE":
                                    $lblVal = "American Express";
                                    break;

                                case "VI":
                                    $lblVal = "Visa";
                                    break;

                                case "MC":
                                    $lblVal = "Mastercard";
                                    break;

                                case "DI":
                                    $lblVal = "Discover";
                                    break;
                            }
                            ?>
                            <option value="<?php echo $card->getHash(); ?>"
                                    <?php if ($card->getId() == $this->getInfoData('tokenbase_id') || count($this->getStoredCards()) == 1): ?>selected="selected"<?php endif; ?>>
                                <?php echo "Pay with " . strtoupper($lblVal) . " {$additional['cc_last4']} (Exp. " . date('m/y', strtotime($additional['cc_exp_month'] . '/1/' . $additional['cc_exp_year'])) . ")"; ?>
                            </option>
                        <?php endforeach; ?>
                        <option value="">Pay with another card...</option>
                    </select>

                    <input type="hidden" name="cards" value="authnetcim_saved_card">
                </div>
            </div>
            <div class="clearfix"></div>
        <?php endif; ?>

        <div class="checkout-new-cc-fields <?php if (count($cards)) echo " invisible"; ?>" data-hj-masked>
            <div class="cc-field cc-number-field" data-hj-masked>
                <div class="field-row">
                    <input type="hidden" name="payment[cc_type]" id="cc_type" value="">
                    <input type="tel" name="payment[cc_number]"
                           maxlength="30"
                           class="fancy-label <?php if (count($cards) || !$oneMethod) echo "conditional-required"; else echo "validate-cc-number required-entry"; ?>"
                           required id="cc_number" value=""
                           onkeyup="bettercheckout.getCcType(this)" <?php if (count($cards) || !$oneMethod) echo "disabled='disabled'"; ?>
                           autocomplete="cc-number">
                    <label for="cc_number"><span>Credit Card Number</span></label>
                </div>
            </div>
            <div class="cc-field cc-year-field">
                <div class="field-row">
                    <select id="cc_expiration" name="payment[cc_exp_month]"
                            title="<?php echo Mage::helper('core')->quoteEscape($this->__('Expiration Year')) ?>"
                            class="<?php if (count($cards) || !$oneMethod) echo "conditional-required"; else echo "validate-select validate-cc-exp"; ?>"
                            style="width: 100%;"
                            onchange="bettercheckout.validateSelect(this);" <?php if (count($cards) || !$oneMethod) echo "disabled='disabled'"; ?>
                            autocomplete="cc-exp-year">
                        <option value=""><?php echo $this->__('Exp. Month'); ?></option>
                        <?php
                        for ($i = 1; $i <= 12; $i++) {
                            $selected = ($payment && $payment->getCcExpMonth() == $i) ? "selected" : "";
                            echo "<option value='{$i}' {$selected}>" . date('m - F', strtotime(date('Y') . '-' . $i . '-01')) . "</option>";
                        }
                        ?>
                    </select>
                </div>
            </div>
            <div class="cc-field cc-month-field">
                <div class="field-row">
                    <select id="cc_expiration_yr" name="payment[cc_exp_year]"
                            title="<?php echo Mage::helper('core')->quoteEscape($this->__('Expiration Month')) ?>"
                            class="<?php if (count($cards) || !$oneMethod) echo "conditional-required"; else echo "validate-select"; ?>"
                            style="width: 100%;"
                            onchange="bettercheckout.validateSelect(this);" <?php if (count($cards) || !$oneMethod) echo "disabled='disabled'"; ?>
                            autocomplete="cc-exp-month">
                        <option value=""><?php echo $this->__('Exp. Year'); ?></option>
                        <?php
                        $y = date('Y');
                        for ($i = $y; $i <= ($y + 10); $i++) {
                            $selected = ($payment && $payment->getCcExpYear() == $i) ? "selected" : "";

                            echo "<option value='{$i}' {$selected}>{$i}</option>";
                        }
                        ?>
                    </select>
                </div>
            </div>
            <div class="cc-field cc-cvv-field">
                <div class="field-row">
                    <input type="tel" name="payment[cc_cid]"
                           class="fancy-label <?php if (count($cards) || !$oneMethod) echo "conditional-required"; else echo "required-entry validate-cc-cvv"; ?>"
                           required id="cvv" maxlength="4"
                           value="" <?php if (count($cards)) echo "disabled='disabled'"; ?> autocomplete="cc-csc" />
                    <label for="cvv"><span>CVV</span></label>
                </div>
                <div id="cvv-tooltip-icon">&nbsp;</div>
                <div id="cvv-tooltip-content" style="display:none;"></div>
            </div>
            <div class="clearfix"></div>

        </div>


        <div class="checkout-new-cc-fields <?php if (count($cards)) echo "invisible"; ?>">
            <div class="checkout-fields grid_6 alpha keep-in-row">

            </div>
            <div class="checkout-fields grid_4 alpha keep-in-row">

            </div>
            <div class="checkout-fields grid_4 alpha keep-in-row align-right">

            </div>
            <div class="checkout-fields grid_2 alpha omega keep-in-row">

            </div>
            <div class="clearfix"></div>

            <?php if ($this->getCustomer()->getId()): ?>
                <div id="payment-save-for-future" class="save-for-future">
                    <div class="grid_1 alpha checkbox">
                        <label class="myCheckbox">
                            <input type="checkbox" name="payment[save]" id="save-payment" value="1"/>
                            <span></span>
                        </label>
                    </div>
                    <div class="grid_15 omega checkout-notice">
                        Save payment information for future orders
                    </div>
                    <div class="clearfix"></div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="payment-not-required-box" <?php if ($quote->getGrandTotal() > 0) echo "style='display:none;'"; ?>>
        No credit card information required.
        <input type="hidden" name="payment[method]" id="cc_method" value="free">
    </div>

</div>
<?php
} // End if $hasCC
?>
<script type="text/javascript">
    var betterCheckoutConfig = {
        baseSkinPath: '<?php echo $this->getSkinUrl(); ?>'
    };
    bettercheckout.initializeCheckout(betterCheckoutConfig);
    <?php if(count($cards)): ?>
    bettercheckout.setPaymentBook(<?php echo $cardsOptionsJson; ?>);
    <?php endif; ?>
    bettercheckout.prefillPayment();
    <?php if ($this->hasOnlyEmailGiftCard()): ?>
    bettercheckout.prepareBillingFields(true);
    jQuery('.checkout-billing-info').toggleClass("checkout-billing-info-open");
    <?php endif; ?>
    bettercheckout.renderCheckoutTotals(false);
    bettercheckout.prepareBillingFields('#is-shipping-as-billing');

    jQuery(document).ready(function () {
        var $ = jQuery;
        var billingCheckbox = $('#is-shipping-as-billing');
        if (!billingCheckbox.is(':checked')) {
            bettercheckout.prepareBillingFields(billingCheckbox);
            if (!$('.checkout-billing-info').hasClass("checkout-billing-info-open")) {
                $('.checkout-billing-info').addClass("checkout-billing-info-open");
            }
        }
    });
</script>
