<?php
$quote = Mage::helper('checkout/cart')->getQuote();

if (!$this->hasOnlyEmailGiftCard()) {


    $address = $quote->getShippingAddress();

    if ($this->customerHasAddresses()) {
        $addressOptions = array();
        foreach ($this->getCustomer()->getAddresses() as $addressRecord) {
            $addressOptions[$addressRecord->getId()] = array(
                'firstname' => $addressRecord->getFirstname(),
                'lastname' => $addressRecord->getLastname(),
                'telephone' => $addressRecord->getTelephone(),
                'company' => $addressRecord->getCompany(),
                'prefix' => $addressRecord->getPrefix(),
                'street1' => $addressRecord->getStreet(1),
                'street2' => $addressRecord->getStreet(2),
                'country_id' => $addressRecord->getCountryId(),
                'region_id' => $addressRecord->getRegionId(),
                'city' => $addressRecord->getCity(),
                'postcode' => $addressRecord->getPostcode()
            );
        }
        $addressOptionsJson = json_encode($addressOptions);
    }

    ?>
    <h1>1. Shipping Information</h1>

    <div class="checkout-shipping-info">

        <?php if ($this->customerHasAddresses()): ?>
            <div class="checkout-fields grid_16 alpha omega">
                <div class="field-row">
                    <?php echo $this->getAddressesHtmlSelect('shipping') ?>
                </div>
            </div>
            <div class="clearfix"></div>
        <?php endif; ?>

        <input type="hidden" name="shipping[address_id]" value="<?php echo $address->getId() ?>"
               id="shipping:address_id"/>

        <div class="checkout-fields grid_8 alpha keep-in-row">
            <div class="field-row">
                <input type="text" name="shipping[firstname]" class="fancy-label required-entry" required
                       id="shipping:firstname" value="<?php echo $this->escapeHtml($address->getFirstname()) ?>"
                       autocomplete="given-name" maxlength="255">
                <label for="shipping:firstname"><span>First Name</span></label>
            </div>
        </div>
        <div class="checkout-fields grid_8 omega keep-in-row align-right">
            <div class="field-row">
                <input type="text" name="shipping[lastname]" class="fancy-label required-entry" required
                       id="shipping:lastname" value="<?php echo $this->escapeHtml($address->getLastname()) ?>"
                       autocomplete="family-name" maxlength="255">
                <label for="shipping:lastname"><span>Last Name</span></label>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="checkout-fields grid_8 alpha">
            <div class="field-row">
                <input type="email" name="shipping[email]" class="fancy-label required-entry validate-email"
                       id="shipping:email" required value="<?php if (!empty($quote->getBillingAddress()->getEmail())) {
                    echo $this->escapeHtml($quote->getBillingAddress()->getEmail());
                } else {
                    echo $this->escapeHtml($quote->getCustomer()->getEmail());
                } ?>" <?php if ($this->getCustomer()->getId() && (!empty($quote->getCustomer()->getEmail()) || !empty($quote->getBillingAddress()->getEmail()))) {
                    echo "disabled='disabled'";
                } ?> autocomplete="email" maxlength="255">
                <label for="shipping:email"><span>Email</span></label>
            </div>
        </div>
        <div class="checkout-fields grid_8 omega">
            <div class="field-row">
                <input name="shipping[telephone]" class="fancy-label validate-phoneMasked required-entry" required id="shipping:telephone"
                       maxlength="30"
                       value="<?php echo $this->escapeHtml($address->getTelephone()); ?>"
                       autocomplete="tel" type="tel">
                <label for="shipping:telephone"><span>Phone Number</span></label>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="checkout-fields grid_8 alpha">
            <div class="field-row">
                <input type="text" name="shipping[company]" class="fancy-label" required id="shipping:company"
                       value="<?php echo $this->escapeHtml($address->getCompany()) ?>" autocomplete="organization"
                       maxlength="255">
                <label for="shipping:company"><span>Company (optional)</span></label>
            </div>
        </div>
        <div class="checkout-fields grid_8 omega">
            <div class="field-row">
                <input type="text" name="shipping[prefix]" class="fancy-label" required id="shipping:prefix"
                       value="<?php echo $this->escapeHtml($address->getPrefix()) ?>" maxlength="255">
                <label for="shipping:prefix"><span>Title (optional)</span></label>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="shipping-address-fields">
            <div class="checkout-fields grid_16 alpha omega">
                <div class="field-row">
                    <input type="text" name="shipping[street][]" class="fancy-label required-entry" required
                           id="shipping:street1" value="<?php echo $this->escapeHtml($address->getStreet(1)) ?>"
                           onchange="bettercheckout.renderShippingMethods(jQ('#shipping\\:region_id').val(), this.value + '\n' + jQ('#shipping\\:street2').val(), '', jQ('#shipping\\:country_id').val());"
                           autocomplete="address-line1" maxlength="255">
                    <label for="shipping:street1"><span>Address 1 – Street address, P.O. Box</span></label>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="checkout-fields grid_16 alpha omega">
                <div class="field-row">
                    <input type="text" name="shipping[street][]" class="fancy-label" required id="shipping:street2"
                           value="<?php echo $this->escapeHtml($address->getStreet(2)) ?>"
                           onchange="bettercheckout.renderShippingMethods(jQ('#shipping\\:region_id').val(), jQ('#shipping\\:street1').val() + '\n' + this.value, '', jQ('#shipping\\:country_id').val());"
                           autocomplete="address-line2" maxlength="255">
                    <label for="shipping:street2"><span>Address 2 – Apt., Suite, Unit, Building, Floor (optional)</span></label>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="checkout-fields grid_8 alpha">
                <div class="field-row">
                    <select required id="shipping:region_id" name="shipping[region_id]"
                            title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>"
                            class="validate-select"
                            autocomplete="address-level1"
                            onchange="
                                bettercheckout.validateSelect(this);
                                bettercheckout.renderShippingMethods(this.value, jQ('#shipping\\:street1').val() + '\n' + jQ('#shipping\\:street2').val(), '', jQ('#shipping\\:country_id').val());">
                    </select>
                    <input type="hidden" id="shipping:region_id_default" value="">
                </div>
            </div>
            <div class="checkout-fields grid_8 omega">
                <div class="field-row">
                    <?php echo $this->getCountryHtmlSelect('shipping') ?>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="checkout-fields grid_8 alpha">
                <div class="field-row">
                    <input type="text" name="shipping[city]" class="fancy-label required-entry" required
                           id="shipping:city" value="<?php echo $this->escapeHtml($address->getCity()) ?>"
                           autocomplete="address-level2" maxlength="255">
                    <label for="shipping:city"><span>City</span></label>
                </div>
            </div>
            <div class="checkout-fields grid_8 omega">
                <div class="field-row">
                    <input type="text" name="shipping[postcode]" class="fancy-label required-entry"
                           required id="shipping:postcode"
                           value="<?php echo $this->escapeHtml($address->getPostcode()) ?>" autocomplete="postal-code"
                           maxlength="5">
                    <label for="shipping:postcode"><span>Zip Code</span></label>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <?php if ($this->getCustomer()->getId()): ?>

            <div id="shipping-save-for-future" class="save-for-future">
                <div class="grid_1 alpha checkbox">
                    <label class="myCheckbox">
                        <input type="checkbox" name="shipping[save_in_address_book]" id="save-shipping" value="1"/>
                        <span></span>
                    </label>
                </div>

                <div class="grid_15 omega checkout-notice">
                    Save shipping information for future orders
                </div>
                <div class="clearfix"></div>
            </div>

        <?php endif; ?>

    </div>

    <script type="text/javascript">
        var $ = jQuery;

        bettercheckout.renderRegions('<?php echo $address->getCountryId() ? $address->getCountryId() : "US"; ?>', 'shipping', '<?php echo $address->getRegionId(); ?>', '<?php echo $address->getShippingMethod(); ?>');
        <?php if($addressOptionsJson): ?>
        bettercheckout.setAddressBook(<?php echo $addressOptionsJson; ?>);
        <?php endif; ?>
        <?php if ($this->getCustomer()->getId()):?>
        bettercheckout.showShippingAddressFields();
        <?php endif; ?>

        $(document).ready(function($){
            $('shipping\\:region_id').trigger('change');
        })
    </script>
    <?php
}
?>
