<?php
$quote = Mage::helper('checkout/cart')->getQuote();

if (!$this->hasOnlyEmailGiftCard()) {

    $address = $quote->getShippingAddress();
    $itemsWithEmbroidery = 0;
    $itemsOutOfStock = 0;
    ?>

    <h1 class="checkout-shipping-header">2. Shipping Method </h1>

    <div id="estimate-delivery-time"></div>

    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('MSG-cart-and-checkout-shipping-notice')->toHtml(); ?>

    <div id="cart-estimate-shipping-method">
        <div id="estimate_method"></div>
        <input type="hidden" name="estimate_method_set" value="" id="estimate_method_set" />
    </div>

    <div class="canadian-note" style="<?php if ($address->getCountryId() == 'CA') echo "display:none;" ?>">
        <h1>CANADIAN SHIPPING - Please Read</h1>
        <?php
        echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId('canadian_note')->toHtml();
        ?>
    </div>
    <?php
}
?>
