<div class="checkout-sign-in-info checkout-step">
    <h1>Sign In</h1>

    <form id="bettercheckout-signin-form" name="bettercheckout-signin-form" method="post" action="/">

        <div class="checkout-fields">
            <div class="field-row">
                <input type="text" name="username" class="fancy-label required-entry validate-email" required id="username" value=""  onkeydown="if (event.keyCode == 13) { bettercheckout.doSignIn(); }">
                <label for="username"><span>Email</span></label>
            </div>
        </div>

        <div class="checkout-fields">
            <div class="field-row">
                <input type="password" name="password" class="fancy-label required-entry" required id="password" value="" onkeydown="if (event.keyCode == 13) { bettercheckout.doSignIn(); }">
                <label for="password"><span>Password</span></label>
            </div>
        </div>

        <div class="checkout-fields">
            <div class="button-solid field-row-small button-taller" id="checkout-sign-in-action-button" onclick="bettercheckout.doSignIn()">
                Sign In
            </div>
        </div>

        <div class="checkout-fields">
            <div class="forgot-pwd-btn field-row button-taller" id="checkout-forgot-password-action-button" onclick="bettercheckout.doForgotPassword()">
                Forgot Password?
            </div>
        </div>

        <div class="clearfix"></div>

    </form>

</div>