<?php
    $order = Mage::getModel('sales/order')->load(Mage::getSingleton('checkout/session')->getLastOrderId());
    $c = Mage::registry('current_customer');
    $subscriber = Mage::getModel('newsletter/subscriber')->loadByEmail($order->getCustomerEmail());
    $existingCustomer = Mage::getModel('customer/customer');
    $existingCustomer->setWebsiteId(Mage::app()->getStore()->getStoreId());
    $existingCustomer->loadByEmail($order->getCustomerEmail());
    $orderItems = $order->getAllVisibleItems();
    $firstLogo = "";
    $i = 0;
    foreach($orderItems as $orderItem) {
        $firstLogo = $orderItem->getFirstLogo();
        if ($firstLogo) {
            if ( Mage::getSingleton('customer/session')->isLoggedIn() ) {
                $customer = Mage::getSingleton('customer/session')->getCustomer();
                $customer->saveEmbroideryLogos($order);
            }
            break;

        }

    }

    foreach($orderItems as $orderItem) {
        $embData = $orderItem->getEmbroideryData();
        $hasEmbroidery = !!count($embData);
        if ($hasEmbroidery) {
            foreach($embData as $embDatum){
                foreach($embDatum["types"] as $type){
                    foreach ($type["options"] as $option) {
                        $embElements[] = array("type"=> $type["name"], "price"=> $option["price"], "name"=> $option["name"]);
                    }
                }
            };
        }
    }
?>

<script>
    var jsEmbElements = <?php echo json_encode($embElements); ?>;

    if (jsEmbElements) {
        jQuery.each(jsEmbElements, function (idx, thing) {
            if (thing.price != undefined) {
                var price = parseInt(thing.price * 100);
            }

            _gaq.push(['_trackEvent', 'customization', 'ordered', thing.type, price]);

            if (thing.type == "artwork") {
                _gaq.push(['_trackEvent', 'customization', 'ordered', thing.name]);
            }
        });
    }
</script>

<div class="bettercheckout checkout-success">

    <h1>Thank you for your order</h1>
    <h2>Your order number is <?php echo $this->escapeHtml($this->getOrderId()); ?></h2>
    <div class="confirmation-message">
        You will receive an email confirmation shortly at <span class="brighter"><?php echo $order->getCustomerEmail(); ?></span><br/>
        <span class="brighter">Questions?</span> Call us at +1.800.347.0288
    </div>


    <?php if (!Mage::getSingleton('customer/session')->isLoggedIn() && !$existingCustomer->getId()){ ?>
    <div class="success-create-account">
        <div id="before-register">
            <?php if ( !$firstLogo ): ?>
            <h1>SAVE TIME ON YOUR NEXT ORDER</h1>
            <div class="success-icons"></div>
            <?php endif; ?>


            <?php if ( $firstLogo ): ?>
            <div class="acct-prompt-main clearfix">
                <div class="acct-prompt-upper clearfix">
                    <div class="prompt-copy-wrap">
                        <div class="prompt-copy">
                            <h1>Don't lose your logo!</h1>
                            <p>By creating an account now, you'll save the logo you've used today for future orders. Your new account tracks
                                which logos you've processed, so you never pay for the same logo twice. It's one of the many benefits to creating an account.</p>
                        </div>
                    </div>
                    <div class="prompt-img-wrap">
                        <img class="logo-preview" src="<?php echo $firstLogo; ?>" width="300"/>
                    </div>
                </div>
                <div class="acct-prompt-lower">
                    <h1>The perks of your Happy Chef account</h1>
                    <div class="lower-cols clearfix">
                        <div class="lower-col-wrap alpha">
                            <div class="col-img-wrap">
                                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'checkout/upload_logo.png'; ?>" />
                            </div>
                            <div>
                                <h3>Build your logo library</h3>
                            </div>
                            <div class="col-desc">
                                <p>Keep your designs only one click away.</p>
                            </div>
                        </div>
                        <div class="lower-col-wrap">
                            <div class="col-img-wrap">
                                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'checkout/piggy.png'; ?>" />
                            </div>
                            <div>
                                <h3>No set-up fee</h3>
                            </div>
                            <div class="col-desc">
                                <p>When you reuse a logo on future orders.</p>
                            </div>
                        </div>
                        <div class="lower-col-wrap omega">
                            <div class="col-img-wrap">
                                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'checkout/stopwatch.png'; ?>" />
                            </div>
                            <div>
                                <h3>Quicker checkout</h3>
                            </div>
                            <div class="col-desc">
                                <p>With saved order history and shipping info.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php endif; ?>


            <div class="acct-prompt-form clearfix">
                <div class="form-hdr-wrap">
                    <h3>Create your password and you're all set!</h3>
                </div>
                <div>
                    <form name="bettercheckout-create-account" id="bettercheckout-create-account" method="post">
                        <div class="field-wrap">
                            <div class="input-wrap">
                                <input type="password" name="password" id="password" title="Password" required="required" class="fancy-label required-entry validate-password">
                                <label for="password"><span>Create Password (Required)</span></label>
                            </div>
                            <div class="input-wrap">
                                <input type="password" name="confirmation" id="confirmation" title="Confirm Password" required="required" class="fancy-label required-entry validate-both-passwords">
                                <label for="confirmation"><span>Verify Password (Required)</span></label>
                            </div>
                        </div>
                        <div class="acct-btn-wrap">
                            <button class="btn-tall btn-blue btn-wide" id="create-account-button" onclick="bettercheckout.createAccount()"><span><span>Create Account</span></span></button>
                        </div>
                        <input type="hidden" name="success_url" id="register_success_url"  value="/customer/account/index/">
                        <input type="hidden" name="error_url" id="register_error_url" value="/customer/account/create/">
                        <input type="hidden" name="firstname" id="register_firstname" value="<?php echo $order->getBillingAddress()->getFirstname(); ?>">
                        <input type="hidden" name="lastname" id="register_lastname" value="<?php echo $order->getBillingAddress()->getLastname(); ?>">
                        <input type="hidden" name="email" id="register_email" value="<?php echo $order->getBillingAddress()->getEmail(); ?>">
                        <input type="hidden" name="increment_id" id="register_increment_id" value="<?php echo $order->getIncrementId(); ?>">
                        <input type="hidden" name="is_subscribed" id="register_is_subscribed" value="<?php echo $subscriber->getId() ? 1 : 0; ?>">
                        <input type="hidden" name="form_key" id="register_form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                    </form>
                </div>
            </div>
        </div> <!-- END BEFORE-REGISTER -->

        <div id="after-register" style="display:none;">
            <h1>CHECK YOUR INBOX</h1>
            <div class="confirmation-message">
                <span class="brighter">Welcome to Happy Chef.</span> We've created your account and sent a confirmation email to <span class="brighter"><?php echo $order->getCustomerEmail(); ?></span><br/>
            </div>
            <button class="btn-tall btn-blue" id="my-account-button"><span><span>My Account</span></span></button>
        </div> <!-- END AFTER-REGISTER -->

    </div>

    <?php } else { ?>


    <div class="success-social-icons">
        <div class="success-social-icons-container">
            <div class="label">Tell your friends about the great chef apparel selection you found.</div>
            <div class="social-icon facebook" onclick="window.open('https://www.facebook.com/happychef','_blank')"></div>
            <div class="social-icon twitter" onclick="window.open('https://twitter.com/HappyChef','_blank')"></div>
            <div class="social-icon instagram" onclick="window.open('https://www.instagram.com/happychef','_blank')"></div>
        </div>
    </div>

    <?php } ?>
</div>





<?php
$orderItems = $order->getAllVisibleItems();
$fbItemsOnOrder = [];
$fuelxItems = "";
foreach ($orderItems as $item) {
    $product = Mage::getModel('catalog/product')->load($item->getProductId());
    $fbItemsOnOrder[] = $product->getSku();
    $fuelxItems = $fuelxItems . $product->getSku() . ";";
}
$fbItemsOnOrder = json_encode($fbItemsOnOrder);
?>

<!-- Google Code for Purchase/Sale Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1066826095;
    var google_conversion_language = "en_US";
    var google_conversion_format = "1";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "MjfoCNnRPhDv8tn8Aw";
    var google_conversion_value = <?php echo $order->getGrandTotal();?>;
    var google_conversion_currency = "USD";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1066826095/?value=<?php echo $order->getGrandTotal();?>&amp;currency_code=USD&amp;label=MjfoCNnRPhDv8tn8Aw&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>


<!-- Bing User Tag -->
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5036737"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=5036737&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>


<!-- Gemini Tag -->
<script type="application/javascript">(function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'1000886178672','properties':{'pixelId':'419312'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");</script>


<!-- Facebook Conversion Code for Sales -->
<script>
    (function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
    })();
    window._fbq = window._fbq || [];

    // Advanced matching
    fb_eml   = <?php echo json_encode($order->getCustomerEmail()); ?>;
    fb_eml   = fb_eml.toString().replace(/\s/g,'').toLowerCase();
    fb_fname = <?php echo json_encode($order->getBillingAddress()->getFirstname()); ?>;
    fb_fname = fb_fname.toString().replace(/\s/g,'').toLowerCase();
    fb_lname = <?php echo json_encode($order->getBillingAddress()->getLastname()); ?>;
    fb_lname = fb_lname.toString().replace(/\s/g,'').toLowerCase();
    fb_phone = <?php echo json_encode($order->getBillingAddress()->getTelephone()); ?>;
    fb_phone = fb_phone.toString().replace(/\s/g,'').toLowerCase();
    fb_state = <?php echo json_encode($order->getBillingAddress()->getRegion()); ?>;
    fb_state = fb_state.toString().replace(/\s/g,'').toLowerCase();
    fb_city  = <?php echo json_encode($order->getBillingAddress()->getCity()); ?>;
    fb_city  = fb_city.toString().replace(/\s/g,'').toLowerCase();
    fb_zip   = <?php echo json_encode($order->getBillingAddress()->getPostcode()); ?>;
    fb_zip   = fb_zip.toString().replace(/\s/g,'').toLowerCase();

    fbq('init', '853803188070972', {
        em: fb_eml,
        fn: fb_fname,
        ln: fb_lname,
        ph: fb_phone,
        st: fb_state,
        ct: fb_city,
        zp: fb_zip
    });

    window._fbq.push(['track', '6017889869260', {'value':'<?php echo $order->getGrandTotal();?>','currency':'USD'}]);
    if (typeof fbq !== "undefined"){
        fbq('track', 'Purchase', {
            content_type: 'product',
            content_ids: <?php echo $fbItemsOnOrder; ?>,
            value: <?php echo $order->getGrandTotal();?>,
            currency: 'USD'
        });
    }
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6017889869260&amp;cd[value]=<?php echo $order->getGrandTotal();?>&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('l4tec', { tw_sale_amount: <?php echo $order->getGrandTotal();?>, tw_order_quantity: 0 });</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l4tec&p_id=Twitter&tw_sale_amount=<?php echo $order->getGrandTotal();?>&tw_order_quantity=0" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l4tec&p_id=Twitter&tw_sale_amount=<?php echo $order->getGrandTotal();?>&tw_order_quantity=0" />
</noscript>

<script>
    fuelx("purchase", {
        orderId: "<?php echo $order->getEntityId(); ?>",
        orderValue: "<?php echo $order->getGrandTotal(); ?>",
        products: "<?php echo $fuelxItems; ?>"
    });
</script>
