<?php
$quote = Mage::helper('checkout/cart')->getQuote();
$cards = Mage::helper('aw_giftcard/totals')->getQuoteGiftCards();

// fetch discount amount from totals
$totals = $quote->getTotals();

if (! empty($totals["discount"])) {
    $discount = $totals["discount"]->getValue();
}

// check address discount amount in case there are no discount from totals
if (empty($discount)) {
    $address = $quote->getShippingAddress();
    $discount = $address->getDiscountAmount();
}

// make sure the discount number is positive
if (is_numeric($discount)) {
    $discount = abs($discount);
}
else {
    $discount = 0;
}

$storename = strtolower(Mage::app()->getStore()->getName());
?>

    <h2>Order Summary</h2>
    <div class="checkout-recap-row clearfix">
        <div class="checkout-recap-total-label">Subtotal:</div>
        <div class="checkout-recap-total-cost"><?php  echo Mage::helper('checkout')->formatPrice($quote->getSubtotal()); ?></div>
    </div>
    <div class="checkout-recap-row clearfix">
        <div class="checkout-recap-total-label">Shipping:</div>
        <div class="checkout-recap-total-cost"><?php  echo Mage::helper('checkout')->formatPrice($quote->getShippingAddress()->getData('shipping_amount')); ?></div>
    </div>

    <?php if ($discount > 0): ?>
    <div class="checkout-recap-row clearfix">
        <div class="checkout-recap-total-label">Discount:</div>
        <div class="checkout-recap-total-cost">-<?php  echo Mage::helper('checkout')->formatPrice($discount); ?></div>
    </div>
    <?php endif;?>

    <?php if (count($cards) > 0): ?>
        <?php foreach($cards as $card):?>
        <div class="checkout-recap-row clearfix">
            <div class="checkout-recap-total-label">Gift card:</div>
            <div class="checkout-recap-total-cost">-<?php  echo Mage::helper('checkout')->formatPrice($card->getGiftcardAmount()); ?></div>
            <div class="clearfix"></div>
            <div class="checkout-recap-total-giftcard">
                <?php echo $card->getCode()?>&nbsp;&nbsp;
                <a href='javascript:void(0);' onclick="bettercheckout.removeGiftcard('<?php echo base64_encode($card->getCode()); ?>')">Remove</a>
            </div>
        </div>

        <?php endforeach;?>
    <?php endif;?>

    <div class="checkout-recap-row clearfix">
        <div class="checkout-recap-total-label">Tax:</div>
        <div class="checkout-recap-total-cost"><?php  echo Mage::helper('checkout')->formatPrice($quote->getShippingAddress()->getData('tax_amount')); ?></div>
    </div>

    <div class="checkout-recap-total-grandtotal">
        <div class="checkout-recap-total-label">Total:</div>
        <div class="checkout-recap-total-cost"><?php  echo Mage::helper('checkout')->formatPrice($quote->getData('grand_total')); ?></div>
        <div class="clearfix"></div>
    </div>

    <?php if ($storename == 'sage'): ?>
        <div class="surcharge-notice-wrap">
            <span class="surcharge-notice hc-red">$10 surcharge for orders under $100</span>
        </div>
    <?php endif; ?>

    <div class="btn-blue btn-tall btn-wide checkout-submit-button disabled" onclick="bettercheckout.submitOrder(this)">
        <div class="static-prefix">Calculating<div class='animated-dots'></div></div>
    </div>

    <div class="clearfix"></div>

