{#
/**
* Header Standard Twig Template Include
*
* @author Ripen eCommerce
* @package Ripen_MailFoundry
*/
#}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" >
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet" type="text/css">
    <style type="text/css">
        * { text-rendering:optimizelegibility }

        div, p, a, li, td {-webkit-text-size-adjust:none;}
        a {text-decoration:none; border:none;}
        body {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased; mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;}
        html {width: 100%;}
        img {border:0px; outline:none; display:block;}
        table {border-collapse: collapse;}

        td[class=respRule] {background-color:#ffffff; visibility:hidden; height:0;}
        td[class=socialLeft] {width:225px; display:inline-block; font-family: 'Sanchez','Times New Roman',serif; color:#ffffff; font-size:22px; line-height:24px; padding: 10px 0 10px 30px;}
        td[class=socialRight] { width:340px; display:inline-block;}
        td[class=socialIcon] {padding: 0 20px;}
        td[class=footercopy] {padding: 0 20px;}
        td[class=model],
        a[class=model] {font-size: 15px !important; color: #6f7073 !important;}


        @media only screen and (max-width: 599px), only screen and (max-width: 740px) and (-webkit-min-device-pixel-ratio: 3)
        {
            body {width:auto!important; -webkit-text-size-adjust: none !important;}

            .toplinkWrap {padding:0 2px !important;}

            /* REPLACE class="respImg" WITH ON IMGS
            THAT GO FULL BLEED IN MOBILE AND HAVE A BACKGROUND */
            img[class=respImgSwitch] {width:100% !important; opacity:0.0 !important;}
            img[class=respImg] {width:100% !important;}

            /* Responsive Containers */
            table[class="wide"], td[class="wide"], img[class=respImg] {width:100% !important;}
            td[class=stack] {width:100% !important; display:block !important;padding-left:0 !important;padding-top:0 !important;}
            table[class=centered], td[class=centered] { width:440px !important;}
            td[class=mob-hide] {display:none;}
            td[class=prod], td[class=centered] { text-align:center;}
            td[class=prod] {padding-top: 40px;}
            td[class=detailitem] { padding-bottom: 40px;}
            table[class=cta] {margin-top:40px;}

            /*Social Bar Mobile Adjustments */
            td[class=socialLeft] {width:100% !important; padding: 10px 0 0 0 !important;}
            td[class=socialRight] {width:100% !important; padding: 0 !important;}
            td[class=socialIcon] {padding: 7px 6px !important;}

            /* Responsive Copy and Copy containers*/
            a[class=headline] {font-size:27px !important; line-height:29px !important; }
            td[class=headline] {font-size:27px !important; line-height:29px !important; padding: 0 8pt;}
            a[class=subhead],
            td[class=subhead] {font-size:11pt !important; font-weight: 600 !important; line-height:15pt !important;}
            td[class=subhead] {padding: 0;}
            td[class=mobilecenter] {text-align:center !important; background-position:center !important;}
            td[class=respRule] {background-color:#dadada !important; visibility:visible !important; height:1px !important;}
            a[class=toplink] {font-size:10px !important;}

            /* Show/Hide  */
            .respHide { display:none !important; }
        }



        @media only screen and (max-width: 479px)
        {
            /* Responsive Containers */
            a[class="toplink"] {font-size: 8px !important;}
            table[class=stackingHalfWrap], td[class=stackingHalfWrap] {width:130px !important;}
            table[class=centered], td[class=centered], table[id=TopLinks] {width:280px !important;}
            td[class=cta-3col-ns] {padding-left:5px !important; padding-right:5px !important;}
            span[class=cta-3col-ns] {font-size:10pt !important;}
            td[class=catsubhead] {padding-left:10px !important; padding-right: 10px !important;}
            td[class=cta] {padding: 2px 20px !important;}
            a[class="desc"] {font-size: 14px !important;}
            td[class=sig-subhead]{font-size: 15px !important; font-weight: 600 !important;}
            td[class="title-subhead"] {font-size: 13pt !important;}
            br[class="rwd-break"] {display: none !important;}

        }

        @media only screen and (max-width: 320px) {
            a[class="toplink"] {font-size: 8px !important;}

        }
    </style>
</head>
<body style="width:100%; background-color:#ffffff; margin:0; padding:0; -webkit-font-smoothing:antialiased; mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt:0px 0px 0px 0px;">
<table width="100%" bgcolor="#{% if theme.background %}{{ theme.background }}{% else %}ffffff{% endif %}" border="0" cellpadding="0" cellspacing="0" align="center" style="line-height:100%;">
    <tbody>
    <tr><td valign="middle" height="0" style="height: 0px; overflow: hidden; font-size: 0px;"><span style="font-size: 0px; overflow: hidden; color: #{%if theme.text_color %}{{ theme.text_color }}{% else %}000000{% endif %};line-height:0px;">{% if header.preview_text %}{{ header.preview_text }}{% else %}Happy Chef Uniforms{% endif %}</span></td></tr>

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: HEADER -->
    <tr>
        <td height="15" bgcolor="#{% if theme.background %}{{ theme.background }}{% else %}ffffff{% endif %}" style="color:#ffffff;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td></tr>
    <tr>
        <td align="center">
            <a href="{{ baseHref }}{{ header.target }}">
                <img src="{{ baseBucketPath }}shared/themes/{% if theme.graphic_set %}{{ theme.graphic_set }}{% else %}default{% endif %}/logos/logo-01.png" alt="Happy Chef" width="170" height="38" hspace="0" vspace="0" style="display:block;" border="0">
            </a>
        </td>
    </tr>
    <!-- END MODULE: HEADER -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: TOP LINKS -->
    <tr>
        <td>
            <table class="wide" width="600" bgcolor="#{% if theme.background %}{{ theme.background }}{% else %}ffffff{% endif %}" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table class="wide" align="center" width="600" bgcolor="#{% if theme.background %}{{ theme.background }}{% else %}ffffff{% endif %}" border="0" cellpadding="0" cellspacing="0" style="margin: auto;">
                            <tr>
                                <td align="center" style="padding-top:15px;">
                                    <table class="wide" align="center" width="600" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <table class="wide" width="100%" border="0" cellspacing="0" cellpadding="0" >
                                                    <tr>
                                                        <td class="toplinkWrap" align="center" style="padding:0 10px;">
                                                            <a class="toplink" style="font-size:12px; text-align:center; color:#{% if theme.text_color %}{{ theme.text_color }}{% else %}666666{% endif %}; font-family: 'Lucida Grande','Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{ baseHref }}aprons.html{{ header.target }}">APRONS</a>
                                                        </td>
                                                        <td class="toplinkWrap" align="center" style="padding:0 10px;">
                                                            <a class="toplink" style="font-size:12px; text-align:center; color:#{% if theme.text_color %}{{ theme.text_color }}{% else %}666666{% endif %}; font-family: 'Lucida Grande','Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{ baseHref }}chef-coats-jackets.html{{ header.target }}">COATS</a>
                                                        </td>
                                                        <td class="toplinkWrap" align="center" style="padding:0 10px;">
                                                            <a class="toplink" style="font-size:12px; text-align:center; color:#{% if theme.text_color %}{{ theme.text_color }}{% else %}666666{% endif %}; font-family: 'Lucida Grande','Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{ baseHref }}cookcool.html{{ header.target }}">COOKCOOL</a>
                                                        </td>
                                                        <td class="toplinkWrap" align="center" style="padding:0 10px;">
                                                            <a class="toplink" style="font-size:12px; text-align:center; color:#{% if theme.text_color %}{{ theme.text_color }}{% else %}666666{% endif %}; font-family: 'Lucida Grande','Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{ baseHref }}shirts/kitchen-shirts.html{{ header.target }}">KITCHEN SHIRTS</a>
                                                        </td>
                                                        <td class="toplinkWrap" align="center" style="padding:0 10px;">
                                                            <a class="toplink" style="font-size:12px; text-align:center; color:#{% if theme.text_color %}{{ theme.text_color }}{% else %}666666{% endif %}; font-family: 'Lucida Grande','Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{ baseHref }}chef-hats.html{{ header.target }}">HATS</a>
                                                        </td>
                                                        <td class="toplinkWrap" align="center" style="padding:0 10px;">
                                                            <a class="toplink" style="font-size:12px; text-align:center; color:#{% if theme.text_color %}{{ theme.text_color }}{% else %}666666{% endif %}; font-family: 'Lucida Grande','Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{ baseHref }}chef-pants.html{{ header.target }}">PANTS</a>
                                                        </td>
                                                        <td class="toplinkWrap" align="center" style="padding:0 10px;">
                                                            <a class="toplink" style="font-size:12px; text-align:center; color:#{% if theme.text_color %}{{ theme.text_color }}{% else %}666666{% endif %}; font-family: 'Lucida Grande','Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{ baseHref }}womens-chef-wear.html{{ header.target }}">WOMEN'S</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="20" bgcolor="#{% if theme.background %}{{ theme.background }}{% else %}ffffff{% endif %}" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
    </tr>
    <!-- END MODULE: TOP LINKS -->
    <!-- ********************************************************************************************************* -->

    <!-- ********************************************************************************************************* -->