<div class="skg">
    <a href="{{store direct_url="kids-cookcool-chef-coat-16016.html"}}">
    <div>
        <div class="hide-768">
            <img src="{{media url="wysiwyg/home-pg/b-spots/HPb-banner-d_1.jpg"}}" alt="The Kids Cookcool chef Coat" />
        </div>
        <div class="show-768">
            <img src="{{media url="wysiwyg/home-pg/b-spots/HPb-banner-m.jpg"}}" alt="The Kids Cookcool chef Coat" />
        </div>
    </div>
    </a>
</div>