<div class="skg">
    <a href="{{store url="chef-pants.html"}}">
    <div class="hide-768">
        <img src="{{media url="wysiwyg/home-pg/refresh/HPc2/c2-spot-d.png"}}" alt="Shop Pants" />
    </div>
    <div class="show-768">
        <img src="{{media url="wysiwyg/home-pg/refresh/HPc2/c2-spot-m.png"}}" alt="Shop Pants" />
    </div>
    </a>
</div>