<?php
	$data	=	$this->getLoadedProductCollection();
	
    $_helper = $this->helper('catalog/output');	
	
    $title = $this->getFrontendTitle();
	$w = $this->getProductItemWidth();
	$h = $this->getProductItemHeight();	
    	$alt_img = $this->getAltImg();
?>
<?php if(count($data) == 0): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="widget-products">   
	<?php if($title): ?>      
        <div class="widget-title">
            <h2><span><?php echo $title; ?></span></h2>
        </div>
    <?php endif; ?> 
	
    <?php $_collectionSize = $data->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
    <?php $i=0; foreach ($data as $_product): ?>
	<?php if(($this->getData('special') == 3 or $this->getData('special') == 4 ) && $data->isEnabledFlat() ) : ?>
		<?php $_product	=	 Mage::getModel('catalog/product')->load($_product->getId()) ?>
	<?php endif ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif ?>
            <li  style="width:<?php echo $w; ?>px; margin-right:20px" class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w, $h); ?>" width="<?php echo $w ?>" height="<?php echo $h ?>" <?php if ($alt_img): ?>
                rel="<?php echo $alt_img ?>" 
                data-alt-src="<?php echo $this->helper('catalog/image')->init($_product, $alt_img)->resize($w,$h) ?>"
                <?php endif ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                <?php if($_product->getRatingSummary()): ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>
                <?php echo $this->getPriceHtml($_product, true) ?>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
        <?php endforeach ?>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
        <?php 
		$config	=	$this->getConfigs();
		if($config['toolbar']	==	1)
		{
			$pager = $this->getLayout()->createBlock('page/html_pager');
			echo $this->getToolbarBlock()->setCollection($data)->setTemplate('em_productsfilterwidget/toolbar.phtml')->setChild('product_list_toolbar_pager',$pager)->toHtml(); 
		}		
	 ?> 
</div>
    <?php endif; ?>
	



