<?php
	$model	=	Mage::getModel("core/email_template_filter");
	$data = $this->getMegamenupro();
	$menu	=	$data['content'];
	
  // function print_array($aArray) {
  // // Print a nicely formatted array representation:
  //   echo '<pre>';
  //   print_r($aArray);
  //   echo '</pre>';
  // }
  //print_array($menu);
  
	$container_css = '';
	$setId = $this->getData('menu');

    $session 		= Mage::getSingleton('customer/session');
    $sessionCustomer	= $session->getCustomer();
    $sessionCustomerData 	= Mage::getModel('customer/customer')->load($sessionCustomer->getId())->getData();
    $customerGroupId = $sessionCustomerData["group_id"];
    $groupname = Mage::getModel('customer/group')->load($customerGroupId)->getCustomerGroupCode();
?>
<?php if (!empty($menu)): ?>  
<div class="menu-title" id="displayMenu_<?php echo $setId;?>"><a href="#">Navigation</a><span class="option">nav</span></div>
<div class="sage_nav" id="toogle_menu_<?php echo $setId;?>">
	<ul class="<?php echo $data['type'] == 1 ? 'vnav' : 'hnav' ?> <?php echo $data['css_class'] ?>">
	<?php $close_tags = array() ?>
	<?php foreach ($menu as $i => $item): ?>
        <?php if ( $item['label'] != "DISTRICT MANAGERS" || ($item['label'] == "DISTRICT MANAGERS" && strtolower($groupname) == "sage - district manager") ): ?>
            <?php $is_parent = ($i < count($menu) - 1) && $menu[$i+1]['depth'] > $item['depth'] ?>
            <?php echo $this->open_tag($close_tags, $item['depth'], $container_css) ?>

            <?php echo $this->close_tags($close_tags, $item['depth']) ?>

            <?php /* ---------- Menu Item: LINK ---------- */ ?>
            <?php if ($item['type'] == 'link'): ?>
                <?php if($item['css_class'] == 'all-items' && strtolower($groupname) == "sage - district manager"): ?>
                <li class="menu-item-link menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>">
                    <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'all-items-dms.html' ?>"
                        <?php if ($item['target']): ?>
                            target="<?php echo htmlspecialchars($item['target']) ?>"
                        <?php endif ?>
                    ><span><?php echo $item['label'] ?></span>
                        <?php if ($item['sublabel']): ?>
                            <small><?php echo $item['sublabel'] ?></small>
                        <?php endif ?>
                    </a>
                <?php else: ?>
                <li class="menu-item-link menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>">
                    <a href="<?php echo $model->filter($item['url']) ?>"
                        <?php if ($item['target']): ?>
                            target="<?php echo htmlspecialchars($item['target']) ?>"
                        <?php endif ?>
                    ><span><?php echo $item['label'] ?></span>
                        <?php if ($item['sublabel']): ?>
                            <small><?php echo $item['sublabel'] ?></small>
                        <?php endif ?>
                    </a>
                <?php endif; ?>
                <?php $close_tags[ $item['depth'] ] = "</li>" ?>
            <?php endif ?>


            <?php /* ---------- Menu Item: TEXT ---------- */ ?>
            <?php if ($item['type'] == 'text'): ?>
                <li class="menu-item-text menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>">
                    <?php echo $item['text'] ?>
                <?php $close_tags[ $item['depth'] ] = "</li>" ?>
            <?php endif ?>


            <?php /* ---------- Menu Item: HBOX ---------- */ ?>
            <?php if ($item['type'] == 'hbox'): ?>
                <li class="menu-item-hbox menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>" style="<?php
                        echo $item['width'] ? 'width:'.$item['width'].'px;' : '';
                        echo $item['height'] ? 'height:'.$item['height'].'px;' : '';
                        echo $item['spacing'] ? 'padding:'.$item['spacing'].'px;' : '';
                    ?>">
                <?php $close_tags[ $item['depth'] ] = "</li>" ?>
            <?php endif ?>


            <?php /* ---------- Menu Item: VBOX ---------- */ ?>
            <?php if ($item['type'] == 'vbox'): ?>
                <li class="menu-item-vbox menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>" style="<?php
                        echo $item['width'] ? 'width:'.$item['width'].'px;' : '';
                        echo $item['height'] ? 'height:'.$item['height'].'px;' : '';
                        echo $item['spacing'] ? 'padding:'.$item['spacing'].'px;' : '';
                    ?>">
                <?php $close_tags[ $item['depth'] ] = "</li>" ?>
            <?php endif ?>
            <?php $container_css = $item['container_css'] ?>
        <?php endif ?>
	<?php endforeach ?>
	<?php echo $this->close_tags($close_tags, 0); ?>
	</ul>
</div>

<script type="text/javascript">
    function toogleMenuPro_<?php echo $setId;?>(){
        var $=jQuery;
        var checkPhone = /iPhone|iPod|Phone|Android/i.test(navigator.userAgent);
        var container = $("#toogle_menu_<?php echo $setId;?>");
        var textClick = $("#displayMenu_<?php echo $setId;?>");
        if($("body").hasClass("adapt-0")==true || checkPhone == true){
            textClick.hide();
            container.show();
        }else{
            textClick.hide();
            container.show();
        }
    };
	
	jQuery(document).ready(function(){
		toogleMenuPro_<?php echo $setId;?>();
	});
			
    jQuery(window).bind('emadaptchange orientationchange', function() {
		toogleMenuPro_<?php echo $setId;?>();
    });
</script>
<?php endif ?>