<?php $requireClass	= ( $this->haveStoredCards() ? $this->getMethodCode() . '_require' : 'required-entry' ); ?>
<?php $newClass		= $this->getMethodCode() . '_new'; ?>

<ul class="form-list clearfix cc-form-new" id="payment_form_<?php echo $this->getMethodCode(); ?>" >

	<form>
        <?php if($this->haveStoredCards()) { ?>

	    <div class="input-box" style="display:block" >
                <label><input type="radio" name="cards" id="<?php echo $this->getMethodCode(); ?>_card" value="<?php echo $this->getMethodCode(); ?>_saved_card"><?php echo $this->__('Use Saved Card. '); ?></label></br></br>
            </div>

	    <!-- Saved cards.  -->
	    <input type="hidden" id="cc-stored-wrap-state" value="S">
	    <div id="cc-stored-wrap" class="cc-form-stored-wrap" style="display:block">
                <div class="input-box styled-select">
                    <select name="payment[card_id]" id="<?php echo $this->getMethodCode(); ?>_card_id" class="<?php echo $this->getMethodCode(); ?>_require required-entry cc_saved_card_dem">
                        <option value=""><?php echo $this->__('-- Select One --'); ?></option>
                            <?php foreach( $this->getStoredCards() as $card ): ?>
                                <?php $card = $card->getTypeInstance(); ?>
				<?php
				 $cardData   =  $card->getData();
				 $additional = unserialize($cardData['additional']);
				 switch ($additional['cc_type']){
					    case "AE":
					       $lblVal = "American Express";
					       $cardImgPath = Mage::getBaseUrl('media'). "wysiwyg/cc-logos/ae-logo.png";
					       break;

					    case "VI":
					       $lblVal = "Visa";
					       $cardImgPath = Mage::getBaseUrl('media'). "wysiwyg/cc-logos/vi-logo.png";
					       break;

					    case "MC":
					       $lblVal = "Mastercard";
					       $cardImgPath = Mage::getBaseUrl('media'). "wysiwyg/cc-logos/mc-logo.png";
					       break;

					    case "DI":
					       $lblVal = "Discover";
					       $cardImgPath = Mage::getBaseUrl('media'). "wysiwyg/cc-logos/di-logo.png";
					       break;
					 }

					//$llabel = "Use saved card - <img class=\"savedCardLogo\" src=\"" . $cardImgPath . "\">" . $lblVal . " card on file ending in " . $card->getLabel();
					$llabel = "Use saved card - " . $lblVal . " card on file ending in " . $card->getLabel();
				?>
                                <option value="<?php echo $card->getHash(); ?>" <?php if( $card->getId() == $this->getInfoData('tokenbase_id') || count( $this->getStoredCards() ) == 1 ): ?>selected="selected"<?php endif; ?>><?php echo $llabel; ?></option>
                             <?php endforeach; ?>
                    </select>
		    <?php if(1 < 0): // old code ?>
		        <div class="input-box">
		            <select name="payment[card_id]" id="<?php echo $this->getMethodCode(); ?>_card_id" class="<?php echo $this->getMethodCode(); ?>_require required-entry">
			        <option value=""><?php echo $this->__('-- Select One --'); ?></option>
			        <?php foreach( $this->getStoredCards() as $card ): ?>
			            <?php $card = $card->getTypeInstance(); ?>
			            <option value="<?php echo $card->getHash(); ?>" <?php if( $card->getId() == $this->getInfoData('tokenbase_id') || count( $this->getStoredCards() ) == 1 ): ?>selected="selected"<?php endif; ?>><?php echo $card->getLabel(); ?></option>
			        <?php endforeach; ?>
			    </select>
		        </div>
		    <?php endif; ?>
                </div>
	    </div>

	    <div class="input-box" style="display:block" >
                <label><input type="radio" name="cards" id="<?php echo $this->getMethodCode(); ?>_card" value="<?php echo $this->getMethodCode(); ?>_new_card"><?php echo $this->__('Enter New Card.'); ?></label></br>
            </div>

	    <!-- New card. -->
	    <input type="hidden" id="cc-new-wrap-state" value="H">
	    <div id="cc-new-wrap" style="display:none">
	<?php } else { ?>
	    <input type="hidden" id="cc-new-wrap-state" value="S">
	    <div id="cc-new-wrap" style="display:block">
	<?php } ?>
		<span class="billAddrNote">Please enter a credit card with a billing address that matches the billing address you are using for this order.</span>
		<div id="cc-form-new-bg_id" class="cc-form-new-bg clearfix" >
		    <li class="typeImage" id="typeImage" style="background-image: url(&quot;<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);?>wysiwyg/em0080/CreditCardLogos.png&quot;); background-position: -96px 50%;"></li>
		    <li class="<?php echo $newClass; ?>  cc-type-new">
			<label for="<?php echo $this->getMethodCode(); ?>_cc_type" class="required"><?php echo $this->__('Credit Card Type') ?><span class="required">*</span></label>
			<div class="input-box">
			    <select id="<?php echo $this->getMethodCode(); ?>_cc_type" name="payment[cc_type]" class="<?php echo $requireClass; ?>">
				<option value=""><?php echo $this->__('-- Select One --')?></option>
				<?php foreach( $this->getCcAvailableTypes() as $k => $v ): ?>
				    <option value="<?php echo $k; ?>" <?php if( $k == $this->getInfoData('cc_type') ): ?>selected="selected"<?php endif ?>><?php echo $v; ?></option>
				<?php endforeach ?>
			    </select>
			</div>
		    </li>
		    <li  class="<?php echo $newClass; ?> cc-num-new">
			<label for="<?php echo $this->getMethodCode(); ?>_cc_number" class="required"><?php echo $this->__('Credit Card Number') ?><span class="required">*</span></label>
			<div class="input-box">
			    <input type="text" id="<?php echo $this->getMethodCode(); ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text <?php echo $requireClass; ?> validate-cc-number" autocomplete="off" value="" />
			</div>
		    </li>
		    <li  class="<?php echo $newClass; ?> cc-exp-row-new" id="<?php echo $this->getMethodCode(); ?>_cc_type_exp_div">
			<label for="<?php echo $this->getMethodCode(); ?>_expiration" class="required"><?php echo $this->__('Expiration Date') ?><span class="required">*</span></label>
			<div class="input-box">
			    <div class="v-fix">
				<select id="<?php echo $this->getMethodCode(); ?>_expiration" name="payment[cc_exp_month]" class="month <?php echo $requireClass; ?>">
				    <?php foreach( $this->getCcMonths() as $k => $v ): ?>
					<option value="<?php echo $k?$k:''; ?>" <?php if( $k == $this->getInfoData('cc_exp_month') ): ?>selected="selected"<?php endif ?>><?php echo $v; ?></option>
				    <?php endforeach ?>
				</select>
			    </div>
			    <div class="v-fix">
				<select id="<?php echo $this->getMethodCode(); ?>_expiration_yr" name="payment[cc_exp_year]" class="year <?php echo $requireClass; ?>">
				    <?php foreach( $this->getCcYears() as $k => $v ): ?>
					<option value="<?php echo $k?$k:''; ?>" <?php if( $k == $this->getInfoData('cc_exp_year') ): ?>selected="selected"<?php endif ?>><?php echo $v; ?></option>
				    <?php endforeach ?>
				</select>
			    </div>
			</div>
		    </li>
		    <?php echo $this->getChildHtml(); ?>
		    <?php if( $this->getMethod()->getConfigData('useccv') ): ?>
			<li  class="<?php echo $newClass; ?> cc-cvv-new" id="<?php echo $this->getMethodCode(); ?>_cc_type_cvv_div">
			    <label title="Card Verification Number" for="<?php echo $this->getMethodCode(); ?>_cc_cid" class="required"><?php echo $this->__('CVV') ?><span class="required">*</span></label>
			    <div class="input-box">
				<div class="v-fix">
				    <input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text cvv <?php echo $requireClass; ?> <?php if( !$this->haveStoredCards() ): ?>validate-cc-cvn<?php endif; ?>" id="<?php echo $this->getMethodCode(); ?>_cc_cid" name="payment[cc_cid]" autocomplete="off" value="" maxlength="4" />
				</div>
				<!--a href="#" class="cvv-what-is-this"><?php //echo $this->__('What is this?') ?></a-->
			    </div>
			</li>
		    <?php endif; ?>
		    <?php if( !$this->isNominalCheckout() && !$this->isGuestCheckout() && $this->getMethod()->getConfigData('allow_unsaved') ): ?>
			<li  class="<?php echo $newClass; ?> cc-save-new">
			    <label>&nbsp;</label>
			    <input type="hidden" name="payment[save]" value="0" />
			    <input type="checkbox" name="payment[save]" id="<?php echo $this->getMethodCode(); ?>_save" value="1" <?php if( $this->getMethod()->getConfigData('savecard_opt_out') ): ?>checked="checked" <?php endif; ?>autocomplete="on" />
			    <label for="<?php echo $this->getMethodCode(); ?>_save" style="float:none;font-weight:normal;"><?php echo $this->__('keep this card on file'); ?></label>
			</li>
		    <?php elseif( $this->isNominalCheckout() || !$this->isGuestCheckout() ): ?>
			<li  class="<?php echo $newClass; ?>">
			    <?php echo $this->__('<strong>Note:</strong> For your convenience, this data will be stored securely by our payment processor.'); ?>
			</li>
		    <?php else: /* Guests are not given any choice or warning, because the card can never be reused. */ ?>
		    <?php endif; ?>
        	</div>
	    </div>
	</form>

</ul>
<?php if( $this->haveStoredCards() ): ?>
<script type="text/javascript">

    jQuery(document).ready(function(){

        console.log('document ready');

	jQuery('input[value="authnetcim_saved_card"]').attr("checked", true);

	jQuery("#authnetcim_card_id").val(jQuery("#authnetcim_card_id option:first").val());
    });

    jQuery('input[value="authnetcim_saved_card"]').on('click', function() {

        console.log('saved card click [' + $(this).value + ']');
        
        jQuery('#cc-stored-wrap').css('display', 'block');
        jQuery('#cc-stored-wrap-state').attr("value", "S");
        jQuery('#cc-new-wrap').css('display', 'none');
        jQuery('#cc-new-wrap-state').attr("value", "H");

	// To reset on click, or not reset ?  That is the question.  Okay we'll reset.
	jQuery("#authnetcim_card_id").val(jQuery("#authnetcim_card_id option:first").val());
    });

    jQuery('input[value="authnetcim_new_card"]').on('click', function() {

        console.log('new card click [' + $(this).value + ']');

        //e.preventDefault();
        
        jQuery('#cc-stored-wrap').css('display', 'none');
        jQuery('#cc-stored-wrap-state').attr("value", "H");
        jQuery('#cc-new-wrap').css('display', 'block');
        jQuery('#cc-new-wrap-state').attr("value", "S");

	// We are not using CVV on saved cards.
	/*
        $$('.<?php echo $newClass; ?>').each(function(el) {
            el.toggle();
        });
        $$('.<?php echo $this->getMethodCode(); ?>_require').each(function(el) {
            el.toggleClassName('required-entry');
                if( el.hasClassName('cvv') ) {
                    el.toggleClassName('validate-cc-cvn');
                }
        });
	*/
    });


    // We are not using CVV on saved cards.
    /*
    jQuery('input[value^="authnetcim_saved_card_"]').on('change', function(e) {

        console.log('saved card change [' + $(this).value + ']');

        $$('.<?php echo $newClass; ?>').each(function(el) {
                el.hide();
        });

        $$('.<?php echo $newClass; ?> .<?php echo $this->getMethodCode(); ?>_require').each(function(el) {
        el.removeClassName('required-entry');
            if( el.hasClassName('cvv') ) {
                el.removeClassName('validate-cc-cvn');
            }
        });

        $$('#<?php echo $this->getMethodCode(); ?>_saved_cc_cid, #<?php echo $this->getMethodCode(); ?>_card_id').each(function(el) {
        el.addClassName('required-entry');
            if( el.hasClassName('cvv') ) {
                el.addClassName('validate-cc-cvn');
            }
        });
    });
    */

</script>
<?php endif; ?>

<script>

    jQuery('#authnetcim_cc_type').on('change', function(){
        getCCImg();
    });

    jQuery('input[name="payment[card_id]"]').on('change', function(){
        getCCImg();
    });

    (window.getCCImg = function(){
        var cctypevar = document.getElementById('authnetcim_cc_type');
	if(typeof(cctypevar) != 'undefined' && cctypevar != null) {
	    var cctypeval = cctypevar.value; 	

            switch(cctypeval){
                case 'AE':
                    jQuery("#typeImage").css("background-position","-96px");
                    //jQuery('#authorizecimsoap_cc_number').mask('9999-999999-99999');
                    break;
                case 'MC':
                    jQuery("#typeImage").css("background-position","0");
                    //jQuery('#authorizecimsoap_cc_number').mask('9999-9999-9999-9999');
                    break;
                case 'VI':
                    jQuery("#typeImage").css("background-position","-287px");
                    //jQuery('#authorizecimsoap_cc_number').mask('9999-9999-9999-9999');
                    break;
                case 'DI':
                    jQuery("#typeImage").css("background-position","-191px");
                    //jQuery('#authorizecimsoap_cc_number').mask('9999-9999-9999-9999');
                    break;
                case '':
                    jQuery("#typeImage").css("background-position","100px");
                    //jQuery('#authorizecimsoap_cc_number').mask('9999-9999-9999-9999');
                    break;
            }
	}
    })();

</script>
