<?php
    $_item = $this->getItem();
    $w = 83;
?>
<li class="item" data-parent="<?php echo $_item->getProductId(); ?>" data-product="<?php echo $_item->getCalculationPrice() ?>">
    <a href="javascript:void(0);" title="<?php echo $this->escapeHtml($this->getProductName()) ?>" class="product-image">
        <img src="<?php echo $_item->getAdditionalData();?>" width="<?php echo $w;?>"/>
    </a>
    <div class="product-details">
        <div class="product-name" ><?php echo $this->escapeHtml($this->getProductName()) ?></div>
        <?php if (!floatval($_item->getPrice()) > 0):?><em>FREE</em><?php endif;?>
    </div>
</li>
