<style>
    #prodVid {min-height:549px;}


    @media screen and (max-width:960px) {
        #prodVid {min-height:403px;}
    }
    @media screen and (max-width:768px) {
        #prodVid {min-height:318px;}
    }
    @media screen and (max-width:568px) {
        #prodVid {min-height:178px;}
    }
    
</style>

<script src="https://player.vimeo.com/api/player.js"></script>

<iframe id="prodVid" src="https://player.vimeo.com/video/221320415?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>



<script>
var video = document.getElementById("prodVid"),
fraction = .8;

var player = new Vimeo.Player('prodVid');

function checkScroll() {

  var x = video.offsetLeft, y = video.offsetTop, w = video.offsetWidth, h = video.offsetHeight, r = x + w, //right
            b = y + h, //bottom
            visibleX, visibleY, visible;

            visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
            visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));

            visible = visibleX * visibleY / (w * h);

            if (visible > fraction) {
                //video.play();
                if (player["play"]) {
                    player["play"]();
                }
                console.log("started");
            } else {
                //video.pause();
            }


}

window.addEventListener('scroll', checkScroll, false);
window.addEventListener('resize', checkScroll, false);
</script>