<style>

	.pdpVidWrap {width: 300px; text-align: center}

</style>

<div>
    <video id="video1" preload="auto" loop="loop" class="pdpVidWrap">
        <source src="{{media url="wysiwyg/pdp-ext/sc24-ss/RedPlaid_PDP_1.mp4"}}" type="video/mp4">
    </video>
</div>

<script>
var video = document.getElementById("video1"),
fraction = .8;
function checkScroll() {

  var x = video.offsetLeft, y = video.offsetTop, w = video.offsetWidth, h = video.offsetHeight, r = x + w, //right
            b = y + h, //bottom
            visibleX, visibleY, visible;

            visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
            visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));

            visible = visibleX * visibleY / (w * h);

            if (visible > fraction) {
                video.play();
            } else {
                video.pause();
            }
}

window.addEventListener('scroll', checkScroll, false);
window.addEventListener('resize', checkScroll, false);
</script>