<ol <?php if ($this->getCollapsed() && !$this->getHasSelection()): ?>style="display:none" <?php endif ?>>
<?php

switch ($this->getDisplayType()){
	
    case Amasty_Shopby_Model_Source_Attribute::DT_LABELS_ONLY:

        if ($this->getShowSearch()){
            echo '<li rel="search"><input type="text" class="amshopby_attr_search input-text" onkeyup="amshopby_attr_search(this)" /></li>';
        }

        $urlParams = array();

        foreach($this->getItems() as $_item){
            $paramSet = $_item->getFilter() ? $this->getRequest()->getParam($_item->getFilter()->getRequestVar()): false;
        }
        $urlParams = explode(",", $paramSet);

        foreach ($this->getItemsAsArray() as $item){

            /**
             * Don't show filter attribute if there is no matching result set
             *
             * Before, we also didn't want to show the filter if all items in current collection were matching
             * the result set. The condition for this was:
             * ($item['countValue'] != Mage::getSingleton('catalog/layer')->getProductCollection()->getSize())
             *
             */

            if( $item['countValue'] > 0  || in_array($item['id'], $urlParams )) {
                echo '<li ' . (isset($item['style']) ? $item['style'] : '') . ' data-text="' . $item['label'] . '"><a class="' . $item['css'] . '"' . $item['rel'] . ' href="' . $item['url'] . '">' . $item['label'] . ' ' . $item['count']  .'</a></li>';
            }
        }
    break;
    
    case Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_ONLY:
        echo '<li>';
        foreach ($this->getItemsAsArray() as $item){
            if (isset($item['image_hover']) && $item['image_hover'] != '') {
                echo '<img src="' . $item['image_hover'] . '" style="display: none;" />';
                $onHover = 'onmouseover=this.src="' . $item['image_hover'] . '"'; 
                $onHover .= ' onmouseout=this.src="' . $item['image'] . '"';
            } else {
                $onHover = '';
            }
            echo '<a '.$item['style'].$item['rel'].' class="'.$item['css'].'" href="'.$item['url'].'"><img src="'.$item['image'].'" ' . $onHover . ' title="'. $item['label'] .'" alt="'. $item['label'] .'"></a>';
            
        }
        echo '</li>';
    break;
    
    case Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_AND_LABELS:
        if ($this->getShowSearch()){
            echo '<li rel="search"><input type="text" class="amshopby_attr_search" onkeyup="amshopby_attr_search(this)" /></li>';
        }
        foreach ($this->getItemsAsArray() as $item){
            echo '<li '.$item['style'].' data-text="' . $item['label'] . '"><a class="'.$item['css'].'" '.$item['rel'].' href="'.$item['url'].'">';
            
            if (isset($item['image_hover']) && $item['image_hover'] != '') {
                echo '<img src="' . $item['image_hover'] . '" style="display: none;" />';
                $onHover = 'onmouseover=this.src="' . $item['image_hover'] . '"'; 
                $onHover .= ' onmouseout=this.src="' . $item['image'] . '"';
            } else {
                $onHover = '';
            }
            
            if (!empty($item['image'])){
                echo '<img src="'.$item['image'].'" ' . $onHover . ' title="'. $item['label'] .'" alt="'. $item['label'] .'">';
            }
            echo $item['label'] . ' ' . $item['count'] . '</a></li>';
        }
    break;
    
    case Amasty_Shopby_Model_Source_Attribute::DT_DROPDOWN:
        echo '<li><select onchange="if (this.value) setLocation(this.value)" class="amshopby-select amshopby-ajax-select">';
        //echo '<option value="">' . $this->getName() . '</option>';
        echo '<option value="'.$this->getRemoveUrl().'"></option>';
        foreach ($this->getItemsAsArray() as $item){
            echo '<option '.$item['css'] . $item['rel'] . ' value="'.$item['url'].'">'. $item['label'] . $item['count'] . '</option>';
        }
        echo '</select></li>';
    break;
    
    case Amasty_Shopby_Model_Source_Attribute::DT_LABELS_IN_2_COLUMNS:
        $items = $this->getItemsAsArray(); 
        $size  = sizeof($items);
        $half  =  ceil($size/2);
        
        echo '<li>';
        echo '<div class="amshopby-column">';
        for ($i=0; $i<$half; $i++){
            $item = $items[$i];
            echo '<a class="'.$item['css'].'" '.$item['rel'].' href="'.$item['url'].'" data-text="' . $item['label'] . '">'. $item['label'] . ' ' . $item['count'] . '</a><br/>';
        }
        echo '</div>';
        echo '<div class="amshopby-column">';
        for ($i=$half; $i<$size; $i++){
            $item = $items[$i];
            echo '<a class="'.$item['css'].'" '.$item['rel'].' href="'.$item['url'].'" data-text="' . $item['label'] . '">'. $item['label'] . ' ' . $item['count'] . '</a><br/>';
        }
        echo '</div>';
        echo '</li>';
    break;
}

if ($this->getShowLessMore() && in_array($this->getDisplayType(), array(
        Amasty_Shopby_Model_Source_Attribute::DT_LABELS_ONLY,
        Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_ONLY,
        Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_AND_LABELS,
    ))) {
    echo '<li class="amshopby-clearer"><a id="amshopby-more-'.$this->getRequestValue().'" class="amshopby-more" href="#">' . $this->__('More ...') . '</a></li>';
    echo '<li class="amshopby-clearer"><a id="amshopby-less-'.$this->getRequestValue().'" class="amshopby-less" href="#" style="display:none">' . $this->__('Less ...') . '</a></li>';
} 
?>
</ol>