<?php $_filters = $this->getActiveFilters() ?>
<?php $_removeTxt = Mage::helper('catalog')->__('Remove This Item') ?>
<?php if (!empty($_filters)): ?>
    <?php if (Mage::helper('amshopby')->isVersionLessThan(1, 4)): ?>
        <h4><?php echo $this->__('Currently Shopping by') ?></h4>
        <ol class="narrowed-category">
    <?php else: ?>
        <p class="block-subtitle"><?php echo Mage::helper('catalog')->__('Currently Shopping by') ?></p>
        <ol class="currently">
    <?php endif; ?>
    <?php foreach ($_filters as $_filter): ?>
        <li>
            <span class="label"><?php echo Mage::helper('catalog')->__($_filter->getName()) ?>:</span>
            <?php
            $activeFilterNames = explode(' ',trim($_filter->getLabel()));
            $activeFilterKeys = $_filter->getValue();

            $labelFilters = array_combine($activeFilterKeys, $activeFilterNames);

            foreach($labelFilters as $fkey => $labelFilter) {

                $filterRemoveUrl = $_filter->getRemoveUrl();

                // handle multi-valued filter options
                if (count($activeFilterKeys) > 1):
                    /**
                     * A bit of a hack here as Mage_Catalog_Model_Layer_Filter_Abstract::getResetValue() is not implemented
                     * on Mage_Catalog_Model_Layer_Filter_Attribute (it returns null), and therefore ->getRemoveUrl()
                     * will not properly parse out the correct filter option id from the filter values.
                     */

                    $filterValues = $activeFilterKeys;

                    // unset the filter option id that will be 'removed'
                    unset($filterValues[array_search($fkey, $activeFilterKeys)]);

                    // attach the remaining filter option value so it's retained
                    $appendValue = $_filter->getFilter()->getRequestVar() . '=' . urlencode(implode(',',$filterValues));
                    $filterRemoveUrl .= ( ! is_null(parse_url($filterRemoveUrl, PHP_URL_QUERY)) ? '&' : '?') . $appendValue;
                endif;

                echo '<div class="active-filter-item"><a href="'.$filterRemoveUrl.'" class="btn-remove-inline">'
                    . '<img src="' . Mage::getDesign()->getSkinUrl('images/spacer.gif') . '" width="13" height="12" alt="' . $_removeTxt . '" />'
                    . '</a><span>'.$labelFilter.'</span></div>';
            }
            ?>

        </li>
    <?php endforeach; ?>
    </ol>
    <?php if (Mage::helper('amshopby')->isVersionLessThan(1, 7)): ?>
    <div class="actions"><a href="<?php echo Mage::helper('amshopby/url')->getFullUrl(array(), 1) ?>"><?php echo Mage::helper('catalog')->__('Clear All') ?></a></div>
    <?php endif; ?>
<?php endif; ?>
