<div class="skg">
    <a href="{{store url}}">
        <div class="hide-768">
            <img src="{{media url="wysiwyg/home-pg/free-logo-b/HPb-banner.jpg"}}" alt="Free Logo Setup" />
        </div>
        <div class="show-768">
            <img src="{{media url="wysiwyg/home-pg/free-logo-b/HPb-banner-m.jpg"}}" alt="Free Logo Setup" />
        </div>
    </a>
</div>
