<div class="skg">
    <div class="hide-768">
        <img src="{{media url="wysiwyg/home-pg/free-logo-b/HPb-banner.jpg"}}" alt="Free Logo Setup" />
    </div>
    <div class="show-768">
        <img src="{{media url="wysiwyg/home-pg/free-logo-b/HPb-banner-m.jpg"}}" alt="Free Logo Setup" />
    </div>
</div>

<div id="hpb-popup" class="hpb-popup popup">
    <div class="hide-768">
        <div id="popviddesk" class="popvideoWrapper">
            <video id="poplogoVid" autoplay loop>
                <source src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-preview.mp4"}}" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="show-768">
        <div class="popvideoWrapper" id="mobstaticwrap">
            <img id="popmobstatic" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/mobile-static.jpg"}}" />
            <video id="popmobileLogoVid" autostart="false">
                <source src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/1080-mobile.mp4"}}" type="video/mp4">
            </video>
        </div>
    </div>
    <div>
        <img class="fw txt" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/free-logo-setup-text_1.jpg"}}" alt="Free Logo Setup When You Spend $150+" />
    </div>
    <div>
        <img class="fw" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/a1.png"}}" />
    </div>
    <div class="clearfix">
        <div>
            <img class="hw left" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/b1.png"}}" />
        </div>
        <div>
            <img class="hw right" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/b2.png"}}" />
        </div>
    </div>
    <div class="clearfix">
        <div class="fineprint">
            <div class="fineprinthdg">The Fine Print</div>
            <p>Minimum purchase of $150 in a single order required. Valid on one logo setup only. Cannot be combined with other offers.</p>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($){

        $('#promo-link-hpb').on('click', function (e) {
            e.preventDefault;
            e.stopPropagation();
            $.fancybox({
                'maxWidth': 800,
                'autoSize': false,
                'width': '95%',
                'padding': 20,
                'margin': 20,
                'href': '#hpb-popup'
            });
        });

        let popvideo = document.getElementById("poplogoVid");
        let popmobileVideo = document.getElementById("popmobileLogoVid");

        function popchangeVideo() {
            popvideo.src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-no-logo.mp4"}}";
            popvideo.loop = false;
        }

        function popchangeMobileVideo() {
            $('#popmobstatic').css('visibility', 'hidden');
            popmobileVideo.play();
        }

        function popreturnVideo() {
            popvideo.src= "{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-preview.mp4"}}";
            popvideo.loop = true;
        }

        function popreturnMobileVideo() {
            jQuery('#popmobstatic').css('visibility', 'visible');
        }

        popvideo.addEventListener('ended', function() {
            popreturnVideo();
        });

        popmobileVideo.addEventListener('ended', function() {
            popreturnMobileVideo();
        });

        $('#popmobstatic').on('click', popchangeMobileVideo);
        $('#popviddesk').on('click', popchangeVideo);
    });
</script>