<?php
/*
* Copyright (c) 2014 www.magebuzz.com
*/
?>

<?php $_customer = Mage::getSingleton('customer/session')->getCustomer(); ?>
<?php $groups = Mage::getModel('shoppinglist/group')->getGroupByCustomer($_customer->getId()); ?>
<h2><?php echo $this->__('All '.Mage::helper('shoppinglist')->getGeneralTitle().'s') ?></h2>
<div class="box-account customer-group-view">
  <div class="box-head title-buttons">
    <button onclick="window.location='<?php echo $this->getCreateGroupUrl() ?>';" class="button btn-blue"
            title="<?php echo $this->__('Create New Empty Cart') ?>" type="button">
      <span><span><?php echo $this->__('Create New Empty Cart') ?></span></span></button>
  </div>
  <?php if (count($groups) > 0): ?>
    <table class="data-table" id="customer-group-table">
      <colgroup>
        <col width="1"/>
        <col/>
        <col width="1"/>
        <col width="1"/>
      </colgroup>
      <thead>
      <tr>
        <th><span class="nobr"><?php echo $this->__('#') ?></span></th>
        <th><span class="nobr"><?php echo $this->__('Cart') ?></span></th>
        <th><span class="nobr"><?php echo $this->__('Created on') ?></span></th>
        <th><span class="nobr"><?php echo $this->__('') ?></span></th>
      </tr>
      </thead>
      <tbody>
      <?php foreach ($groups as $_group): ?>
        <tr>
          <td><span><?php echo $_group->getListId(); ?></span></td>
          <td>
            <a href="<?php echo $this->getListItemsUrl($_group->getListId()) ?>"
               title="<?php echo $this->__('View all items on %s', $_group->getListName()) ?>"><span><?php echo $_group->getListName(); ?></span><a/>
          </td>
          <td>
            <span
              class="nobr"><?php echo Mage::helper('shoppinglist')->getFormatedDate($_group->getCreatedAt()) ?></span>
          </td>
          <td>
              <span class="nobr">
                <a href="<?php echo $this->getListItemsUrl($_group->getListId()) ?>"
                   title="<?php echo $this->__('Edit') ?>"><span><?php echo $this->__('View') ?></span></a>
                <span class="separator">|</span><a
                  onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this cart?') ?>');"
                  href="<?php echo $this->getDeleteUrl($_group->getListId()) ?>"
                  title="<?php echo $this->__('Remove') ?>"><span><?php echo $this->__('Remove') ?></span></a>
                <span class="separator">|</span><?php if (count($_group->getItems()) > 0): ?><a
                  href="<?php echo $this->getUrl('*/group/cart', array('items' => 'all', 'groupId' => $_group->getListId())) ?>"
                  title="<?php echo $this->__('Add All To Checkout') ?>">
                  <span><?php echo $this->__('Add All To Checkout') ?></span></a><?php else : ?>
                  <span><?php echo $this->__('No Items') ?></span><?php endif ?>
              </span>
          </td>
        </tr>
      <?php endforeach; ?>
      </tbody>
    </table>
  <?php else: ?>
    <p class="note-msg"><?php echo $this->__('You have not added any carts yet.') ?></p>
  <?php endif; ?>
</div>