<?php
/*
* Copyright (c) 2014 www.magebuzz.com
*/
?>
<div style="top: 30px; float: left;"></div>
<div class="button-container" style="top: 30px; margin-right:30px;">  <?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<script type="text/javascript">
  resizePopup();
</script>
