<?php
$_order = $this->getOrder();
$cards = Mage::helper('aw_giftcard/totals')->getQuoteGiftCards();
$address = $_order->getShippingAddress();
$discount = $_order->getDiscountAmount();
$storename = strtolower(Mage::app()->getStore()->getName());
?>

    <h1>ORDER SUMMARY</h1>
    <div class="orderstatus-recap-row clearfix">
        <div class="checkout-recap-total-label">Subtotal:</div>
        <div class="checkout-recap-total-cost"><?php  echo Mage::helper('checkout')->formatPrice($_order->getSubtotal()); ?></div>
    </div>
    <div class="orderstatus-recap-row clearfix">
        <div class="checkout-recap-total-label">Shipping:</div>
        <div class="checkout-recap-total-cost"><?php  echo Mage::helper('checkout')->formatPrice($_order->getData('shipping_amount')); ?></div>
    </div>

    <?php if ($discount < 0): ?>
    <div class="orderstatus-recap-row clearfix">
        <div class="clearfix">
            <div class="checkout-recap-total-label">Discount:</div>
            <div class="checkout-recap-total-cost"><?php  echo Mage::helper('checkout')->formatPrice($discount); ?></div>
        </div>
        <?php $_couponCode = $_order->getCouponCode(); ?>
        <?php if ($_couponCode): ?>
        <div class="orderstatus-coupon-code"><span><?php echo $_couponCode; ?></span></div>
        <?php endif; ?>
    </div>
    <?php endif;?>

    <?php if (count($cards) > 0): ?>
        <?php foreach($cards as $card):?>
        <div class="orderstatus-recap-row clearfix">
            <div class="checkout-recap-total-label">Gift card:</div>
            <div class="checkout-recap-total-cost">-<?php  echo Mage::helper('checkout')->formatPrice($card->getGiftcardAmount()); ?></div>
            <div class="clearfix"></div>
            <div class="checkout-recap-total-giftcard">
                <?php echo $card->getCode()?>&nbsp;&nbsp;
                <a href='javascript:void(0);' onclick="bettercheckout.removeGiftcard('<?php echo base64_encode($card->getCode()); ?>')">Remove</a>
            </div>
        </div>

        <?php endforeach;?>
    <?php endif;?>

    <div class="orderstatus-recap-row clearfix">
        <div class="checkout-recap-total-label">Tax:</div>
        <div class="checkout-recap-total-cost"><?php  echo Mage::helper('checkout')->formatPrice($_order->getShippingAddress()->getData('tax_amount')); ?></div>
    </div>

    <div class="orderstatus-recap-total-grandtotal clearfix">
        <div class="checkout-recap-total-label">Total:</div>
        <div class="checkout-recap-total-cost"><?php  echo Mage::helper('checkout')->formatPrice($_order->getData('grand_total')); ?></div>
    </div>

    <?php if ($storename == 'sage'): ?>
        <div class="surcharge-notice-wrap">
            <span class="surcharge-notice hc-red">$10 surcharge for orders under $100</span>
        </div>
    <?php endif; ?>


