<?php
    $address = Mage::getSingleton('checkout/cart')->getQuote()->getShippingAddress();
?>

<tr id="cart-shipping-row">
    <td colspan="<?php echo $this->getColspan(); ?>" style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right">
        Shipping:
        <div class="popup-shipping-info" id="popup-shipping-info">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cart_shipping_info')->toHtml(); ?>
        </div>
        <div class="shipping-info-link"><img src="<?php echo $this->getSkinUrl('images/question_mark.png') ?>"></div>

        <?php if ($address && $address->getShippingMethod()) { ?>
            <div id="cart-selected-shipping-method">
                <?php echo str_replace("Select Shipping Method - ", "", $address->getShippingDescription()); ?>
                &nbsp;&nbsp;<div class="calculate-shipping-link" id="calculate-shipping-link">Edit</div>
            </div>
        <?php }  else { ?>
            <div class="calculate-shipping-link" id="calculate-shipping-link">Calculate</div>
        <?php
        }
        ?>

    </td>
    <td style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
</tr>
<tr class="cart-estimate-shipping-row" id="cart-estimate-shipping-row">
    <td colspan="2">
        <div id="cart-estimate-country" class="cart-totals-dropdown-container">
            <select id="country" name="country_id" class="" style="width: 100%">
            <?php
                $collection = Mage::getModel('directory/country')
                    ->getResourceCollection()
                    ->loadByStore()
                    ->toOptionArray()
                ;

                $cId = (!$address->getCountryId()) ? "US" : $address->getCountryId();
                foreach($collection as $c){
                    if($c['value']){
                        $selected = ($cId == $c['value']) ? "selected" : "";
                        echo "<option value='{$c['value']}' {$selected}>{$c['label']}</option>";
                    }
                }
            ?>
            </select>
        </div>

        <div id="cart-estimate-region" class="cart-totals-dropdown-container"></div>
        <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($address->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
        <div id="cart-estimate-shipping-method" class="cart-totals-dropdown-container"></div>

        <div class="canadian-note-mobile">
            <div class="canadian-note-mobile-link">Learn about additional Canadian rates...</div>
            <div class="canadian-note-mobile-extended">
                <h1>CANADIAN SHIPPING - Please Read</h1>
                <?php echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId('canadian_note')->toHtml(); ?>
            </div>
        </div>
    </td>
</tr>
