.si-icon-wrap {
    overflow:hidden;
    position: absolute;
    display:block;
    cursor:pointer;
    stroke:#6f7073;
    fill:#ffffff;
    transition:all ease-in-out 200ms;
}
.si-header .si-icon-wrap {stroke:#2294a7;}
.si-icon-wrap svg {
    height:100%;
    width:100%;
}
.vcenter {
    top:50%;
    transform:translateY(-50%);
}
.si-icon-wrap-rt {
    right:10px;
}
.si-icon-wrap-lt {
    left:10px;
}
.si-header .si-icon-wrap {
    stroke-width:2px;
    height:24px;
    width:24px;
}
.nav-si-content .si-icon-wrap,
.si-content .si-icon-wrap {
    stroke-width:1px;
    height:20px;
    width:20px;
}
.si-icon-wrap:hover {stroke:#2294a7;}
.si-arrow-lt,
.si-arrow-lt-rnd {
    transition:all ease-in-out 200ms;
    transform:rotate(180deg);
}
.si-arrow-rt,
.si-arrow-rt-rnd {
    transition:all ease-in-out 200ms;
    /*transform:rotate(180deg);*/
}
.si-arrow-up,
.si-arrow-up-rnd {
    transition:all ease-in-out 200ms;
    transform:rotate(-90deg);
}
.si-arrow-down,
.si-arrow-down-rnd {
    transition:all ease-in-out 200ms;
    transform:rotate(90deg);
}
.si-alert-wrap a.fancybox-close {
    width:20px;
    height:20px;
}