<div id="dyn-offer-eml" class="dynamic-offer-wrap">
    <img class="offer-img" src="{{media url='wysiwyg/blocks/icons.png'}}" />
    <div class="headline">GET 10% OFF</div>
    <div class="subhead">You give us your email, we give you the promo code. <br class="mob-break" />No catch.</div>
    <div class="form-wrap">
        <div class="eml-check-line clearfix">
            <div class="eml-check-wrap">
                <input id="eml-check" class="big-check" type="checkbox" checked="checked">
                <div id="big-check-img"></div>
            </div>
            <label for="eml-check" class="eml-check-lbl dark">Want to save even more? Sign up for weekly promotions and sneak peeks.</label>
        </div>
        <div class="eml-field-wrap">
            <div class="centering-wrap">
                {{widget type="dynamicoffers/form" promo_id="19" transactional_email_id="102" thankyou_block_code="dynamic_offer_thankyou"}}
            </div>
        </div>
    </div>
    <div class="disclaimer-wrap">
        <div class="disclaimer-head dark">The Fine Print:</div>
        <div class="disclaimer-text light">Valid for single use only. Code cannot be combined with other offers.</div>
    </div>
</div>