<div id="dyn-offer-thankyou" class="dynamic-offer-wrap">
    <div class="headline">THANKS!</div>
    <img class="rnd-check" src="{{media url="wysiwyg/blocks/big-gn-check.png"}}" />
    <div class="promo-line">Promo code <span id="promo-code-disp" class="promo-code-disp dark">{{var coupon_code}}</span> was applied to your cart.</div>
    <div class="promo-msg"><span class="dark">Don't worry.</span> Unlike other retailers who like to hit up customers with daily emails, you won't get that from us. (If you like that sort of thing though, we won't judge.)</div>
    <div class="centering-wrap">
        <button id="promo-thankyou-close" class="action">LET'S START SHOPPING</button>
    </div>
</div>

<script>
    $('#promo-thankyou-close').click(function() {
        parent.$.fancybox.close();
    })
</script>