<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" >
    <title>What do you think?</title>
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet" type="text/css">
    <style type="text/css">
        * { text-rendering:optimizelegibility }

        div, p, a, li, td {-webkit-text-size-adjust:none;}
        a {text-decoration:none; border:none;}
        body {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased; mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;}
        html {width: 100%;}
        img {border:0; outline:none; display:block;}
        table {border-collapse: collapse;}

        td.respRule {background-color:#ffffff; visibility:hidden; height:0;}
        td.socialLeft {background-color:#6f7073; width:225px; display:inline-block; font-family: 'Sanchez','Times New Roman',serif;color:#ffffff; font-size:22px; line-height:24px; padding: 10px 0 10px 30px;}
        td.socialRight {background-color:#6f7073; width:340px; display:inline-block;}
        td.socialIcon {padding: 0 20px;}
        td.footercopy {padding: 0 20px;}

        a.headline, span.headline {font-size:29px !important; line-height:29px !important; }
        td.headline {font-size:29px !important; line-height:29px !important; padding: 0 20px;}
        a.subhead {font-size:16px !important;}
        td.subhead {font-size:16px !important; padding: 0 20px; line-height: 20px !important;}


        @media only screen and (max-width: 599px), only screen and (max-width: 740px) and (-webkit-min-device-pixel-ratio: 3)
        {
            body {width:auto!important; -webkit-text-size-adjust: none !important;}

            /* REPLACE class="respImg" WITH class="respImgSwitch" ON IMGS
            THAT GO FULL BLEED IN MOBILE AND HAVE A BACKGROUND */
            img.respImgSwitch {width:100% !important; opacity:0.0 !important;}
            img.respImg {width:100% !important;}

            /* Responsive Containers */
            table.wide, td.wide, img.respImg {width:100% !important;}
            td.stack {width:100% !important; display:block !important;}
            table.centered, td.centered { width:440px !important;}

            /*Social Bar Mobile Adjustments */
            td.socialLeft {width:100% !important; padding: 10px 0 0 0 !important;}
            td.socialRight {width:100% !important; padding: 0 !important;}
            td.socialIcon {padding: 7px 12px !important;}

            /* Responsive Copy and Copy containers*/
            a.headline {font-size:18px !important; line-height:25px !important; }
            td.headline {font-size:18px !important; line-height:25px !important; padding: 0 2px;}
            a.subhead {font-size:12px !important;}
            td.subhead {font-size:12px !important; padding: 0 10px;}
            td.mobilecenter {text-align:center !important; background-position:center !important;}
            td.respRule {background-color:#dadada !important; visibility:visible !important; height:1px !important;}
            a.toplink {font-size:10px !important;}

            .mobilepad5 {padding-left:calc(50% - 47px);}

            /* Show/Hide  */
            .respHide { display:none !important; }
        }

        @media only screen and (max-width: 479px)
        {
            /* Responsive Containers */
            table.stackingHalfWrap, td.stackingHalfWrap {width:130px !important;}
            table.centered, td.centered, table#TopLinks {width:280px !important;}
        }
    </style>
</head>
<body style="width:100%; background-color:#ffffff; margin:0; padding:0; -webkit-font-smoothing:antialiased; mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt:0px 0px 0px 0px;">
<table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" style="line-height:100%;">
    <tbody>

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN Module: Header -->
    <tr>
        <td height="15" bgcolor="#ffffff" style="color:#ffffff;font-size:1px;mso-line-height-rule:exact;line-height:1px;">.</td></tr>
    <tr>
        <td align="center">
            <a href="https://happychef.com/?utm_source=Review%20Email&utm_medium=email&utm_campaign=After%20Shipped%20Review">
                <img src="{{var logo_url}}" alt="{{var logo_alt}}" width="129" height="62" hspace="0" vspace="0" style="display:block;" border="0">
            </a>
        </td>
    </tr>
    <!-- END Module: Header -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- _________________BEGIN Module (1 Column Centered)____________________________ -->
    <tr>
        <td>
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin: auto;">
                            <!-- BEGIN Callout Label Rows - Delete if not needed -->
                            <tr>
                                <td align="center">
                                    <!--Middle Container -->
                                    <table class="centered" align="center" width="450" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <!-- Product Copy -->
                                                <table class="centered" width="100%" border="0" cellspacing="0" cellpadding="0" >
                                                    <tr>
                                                        <td align="center" style="padding-top:15px;">
                                                            <a class="toplink" style="font-size:14px; color:#666666; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="https://happychef.com/aprons.html?utm_source=Review%20Email&utm_medium=email&utm_campaign=After%20Shipped%20Review">Aprons |</a>
                                                            <a class="toplink" style="font-size:14px; color:#666666; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="https://happychef.com/chef-coats-jackets.html?utm_source=Review%20Email&utm_medium=email&utm_campaign=After%20Shipped%20Review">Coats |</a>
                                                            <a class="toplink" style="font-size:14px; color:#666666; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="https://happychef.com/cookcool.html?utm_source=Review%20Email&utm_medium=email&utm_campaign=After%20Shipped%20Review">CookCool |</a>
                                                            <a class="toplink" style="font-size:14px; color:#666666; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="https://happychef.com/chef-hats.html?utm_source=Review%20Email&utm_medium=email&utm_campaign=After%20Shipped%20Review">Hats |</a>
                                                            <a class="toplink" style="font-size:14px; color:#666666; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="https://happychef.com/chef-pants.html?ref=mainnav?utm_source=Review%20Email&utm_medium=email&utm_campaign=After%20Shipped%20Review">Pants |</a>
                                                            <a class="toplink" style="font-size:14px; color:#666666; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="https://happychef.com/womens-chef-wear.html?utm_source=Review%20Email&utm_medium=email&utm_campaign=After%20Shipped%20Review">Women's</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- / Product Copy -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- / Middle Container -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1px; mso-line-height-rule:exact; line-height:1px;">.</td>
    </tr>
    <!-- _________________END Module (1 Column Centered)____________________________ -->
    <!-- ********************************************************************************************************* -->





    <!-- ********************************************************************************************************* -->
    <!-- BEGIN Module: Email Headline -->
    <tr>
        <td valign="top">
            <table width="600" class="wide" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <!-- HEADLINE -->
                <tr>
                    <td width="100%" height="10" ></td>
                </tr>
                <tr>
                    <td width="100%" valign="top" align="center" class="headline" style="line-height:37px; color:#333333; letter-spacing:-1px; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                        <span class="headline" style="color:#333333;">Thank you for your recent purchase.</span>
                    </td>
                </tr>
                <!-- / HEADLINE -->
                <tr>
                    <td height="17" bgcolor="#ffffff" style="color:#ffffff; font-size:1px; mso-line-height-rule:exact; line-height:1px;">.</td>
                </tr>
                <!-- SUBHEAD -->
                <tr>
                    <td align="center" class="subhead" style="color:#333333; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                        <span class="subhead" style="color:#333333;">What do you think?  Please share your opinion with us.  Your review will help other customers like yourself shop on <a href="https://happychef.com/?utm_source=Review%20Email&utm_medium=email&utm_campaign=After%20Shipped%20Review" style="color:#ea6e24;">happychef.com</a>.</span>
                    </td>
                </tr>
                <!-- / SUBHEAD -->
            </table>
        </td>
    </tr>
    <tr>
        <td height="35" bgcolor="#ffffff" style="color:#ffffff; font-size:1px; mso-line-height-rule:exact; line-height:1px;">.</td>
    </tr>
    <!-- END Module: Email Headline -->
    <!-- ********************************************************************************************************* -->

    {{foreach var="$order.getRandomItem()" template="nsltr:KK_review_request_item"}}



    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: Responsive Banner -->
    <tr>
        <td>
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                            <!-- IMAGE -->
                            <tr>
                                <td width="100%" align="center"  background="https://happychef.com/email/template/banners/ig-footer-follow-up-m.jpg" style="-webkit-text-size-adjust:none; background-size:100% 100%; background-repeat:no-repeat; background-position:center;">
                                    <a href="https://www.instagram.com/happychef/?utm_source=Review%20Email&utm_medium=email&utm_campaign=After%20Shipped%20Review">
                                        <!-- Responsive image change - To enable: add class="respImgSwitch" and specify a backround URL -->
                                        <img class="respImgSwitch" src="https://happychef.com/email/template/banners/ig-footer-follow-up-d.jpg" alt="Follow us on Instagram" width="100%" hspace="0" vspace="0" style="display:block;" border="0">
                                    </a>
                                </td>
                            </tr>
                            <!-- /IMAGE -->
                            <tr>
                                <td height="15" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: Responsive Banner -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN Module: Social -->
    <tr>
        <td valign="top">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: 30px auto;">
                <tr bgcolor="#6f7073">
                    <td class="socialLeft" style="background-color:#6f7073;width:225px;display:inline-block;font-family: 'Sanchez','Times New Roman',serif;color:#ffffff; font-size:22px !important; line-height:24px !important;padding: 10px 0 10px 30px;" align="center">
                        <a href="https://www.facebook.com/happychef" style="color:#ffffff;text-decoration:none;">JOIN 200,000+ <br />HAPPY CHEF FANS</a>
                    </td>
                    <td class="socialRight" style="background-color:#6f7073;width:340px;display:inline-block;" align="center">
                        <table border="0" cellspacing="0" cellpadding="0" align="center" style="margin: auto;">
                            <tr>
                                <td class="socialIcon" style="padding: 0 20px;"><a href="https://www.facebook.com/happychef" title="Facebook"><img src="https://happychef.com/email/template/social-icons/SM_banner_facebook.jpg" width="44" height="44" alt="Facebook" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                                <td class="socialIcon" style="padding: 0 20px;"><a href="https://twitter.com/HappyChef" title="Twitter"><img src="https://happychef.com/email/template/social-icons/SM_banner_twitter.jpg" width="44" height="44" alt="Twitter" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                                <td class="socialIcon" style="padding: 0 20px;"><a href="https://www.pinterest.com/happychef" title="Pinterest"><img src="https://happychef.com/email/template/social-icons/SM_banner_pinterest.jpg" width="44" height="44" alt="Pinterest" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                                <td class="socialIcon" style="padding: 0 20px;"><a href="https://www.instagram.com/happychef" title="Instagram"><img src="https://happychef.com/email/template/social-icons/SM_banner_instagram.jpg" width="44" height="44" alt="Instagram" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END Module: Social-->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN Module: Footer -->
    <tr>
        <td valign="top" bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" id="footer">
                            <tr>
                                <td class="footercopy">
                                    <div style="font-family: Geneva,Verdana,Arial,Helvetica,sans-serif;color:#999999; font-size:11px; line-height: 1.6em; color:#999999;">
                                        <div style="font-size:14px; font-weight:bold;">Need assistance? Call toll free! <a href="tel:800-347-0288" style="color:#999999;text-decoration:none;">800.347.0288</a></div>
                                        <p>Note: Prices subject to change. Website reflects most current pricing.<br /><br />
                                            Happy Chef has proudly served culinary professionals for over 30 years. Our standard of excellence begins with the great people in our customer service department who are always happy to assist you. Customer service is available 9AM&ndash;5:30PM EST, Monday through Friday, at 800.347.0288. For calls outside the United States, dial + 1 973.492.2525. Or, if you want to send a message online, use our <a href="https://happychef.com/cs/contact.cfm" style="color: #999999;text-decoration:underline;">contact form</a> at any time. <br />
                                            <br />
                                            &copy;2016 The Happy Chef, Inc. 22 Park Place, Butler, New Jersey 07405. All rights reserved. Happy Chef, CookCool, Chefs Sharp, #SMART, and their respective logos are registered trademarks of The Happy Chef, Inc. and cannot be reproduced for commercial use without expressed permission. </p>
                                        <p>Unsubscribe? <a href="{{var subscriber.getUnsubscriptionLink()}}">{{var subscriber.getUnsubscriptionLink()}}</a></p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="35" bgcolor="#ffffff" style="color:#ffffff; font-size:1px; mso-line-height-rule:exact; line-height:1px;">.</td>
    </tr>
    <!-- END Module: Footer -->
    <!-- ********************************************************************************************************* -->

    </tbody>
</table>

</body>
</html>
