<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" >
    <style type="text/css">
        * { text-rendering:optimizelegibility }

        div, p, a, li, td {-webkit-text-size-adjust:none;}
        a {text-decoration:none; border:none;}
        body {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased; mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0 0 0 0;}
        html {width: 100%;}
        img {border:0; outline:none; display:block;}
        table {border-collapse: collapse;}

        td[class=respRule] {background-color:#ffffff; visibility:hidden; height:0;}
        td[class=socialIcon] {padding: 0 20px;}
        td[class=footercopy] {padding: 0 20px;}
        td[class=model],
        a[class=model] {font-size: 11pt !important; color: #6f7073 !important;}
    </style>
</head>

<body style="font-family:'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif; width:100%; color:#404040; background-color:#ffffff; margin:0; padding:0; -webkit-font-smoothing:antialiased; mso-margin-top-alt:0; mso-margin-bottom-alt:0; mso-padding-alt:0 0 0 0;">
<span style="font-size: 0; overflow: hidden; color: #ffffff;">Your order has shipped!</span>
<table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" style="line-height:100%;">
    <tbody>

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: HEADER -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin: auto;">
                            <tr>
                                <td height="15" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a href="{{store direct_url}}" style="text-decoration:none;">
                                        <img src="{{store direct_url}}media/email/logo/default/happy-chef-logo.gif" alt="Happy Chef" border="0" height="56" hspace="0" vspace="0" style="display:block;" border="0">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span style="font-size: 32px; font-weight: 600; line-height:36px;">Your order is on the way</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="5" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span style="font-size: 20px; font-weight: 600; line-height:22px;">Your shipping number is: {{var shipment.increment_id}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="5" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span style="font-size: 11px;">(Shipped on: {{var shipment_date}})</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px;">
                                    <span style="font-weight:bold; font-size:14px; line-height:22px;">Hi {{htmlescape var=$order.getCustomerName()}}</span><span style="font-size:14px; line-height:22px;">, your order has shipped. Use the tracking number below for delivery status.
                                    Thank you for shopping with Happy Chef.
                                </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: HEADER -->
    <!-- ********************************************************************************************************* -->



    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: 2 COLUMN STACKING WIDE -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <!-- LEFT -->
                    <td valign="top" class="stack">
                        <table class="centered" width="300" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                            <!-- SHIPPING ADDRESS -->
                            <tr>
                                <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px;">
                                    <span style="font-size: 10px; font-weight:bold; white-space:nowrap;">SHIPPING INFORMATION</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#000000" style="color:#000000;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td height="10" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px; font-size: 12px; line-height: 18px; color:#666666; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                                    {{var order.getShippingAddress().format('html')}}
                                </td>
                            </tr>
                            <!-- /SHIPPING ADDRESS -->
                        </table>
                    </td>
                    <!-- /LEFT -->
                    <!-- RIGHT -->
                    <td valign="top" class="stack">
                        <table class="centered" width="300" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                            <!-- BILLING ADDRESS -->
                            <tr>
                                <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px;">
                                    <span style="font-size: 10px; font-weight:bold; white-space:nowrap;">SHIPPING METHOD</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#000000" style="color:#000000;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td height="10" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px; font-size: 12px; line-height: 18px; color:#666666; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                                    {{var selected_shipping_method}}
                                    {{block type='core/template' area='frontend' template='ripen/bettercheckout/email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                                </td>
                            </tr>
                            <!-- /BILLING ADDRESS -->
                        </table>
                    </td>
                    <!-- /RIGHT -->
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: 2 COLUMN STACKING WIDE -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: 2 COLUMN STACKING WIDE -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <!-- LEFT -->
                    <td valign="top" class="stack">
                        <table class="centered" width="300" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                            <!-- ORDER NUMBER -->
                            <tr>
                                <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td class="deskpad" style="padding-left:20px;">
                                    <span style="font-size: 14px; font-weight: 600; line-height:22px;">Order Number:</span> <span style="font-size: 14px; font-weight: 600; line-height:22px;">{{var order.increment_id}}</span>
                                </td>
                            </tr>
                            <!-- /ORDER NUMBER -->
                        </table>
                    </td>
                    <!-- /LEFT -->
                    <!-- RIGHT -->
                    <td valign="top" class="stack">
                        <table class="centered" width="300" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                            <!-- ORDER DATE -->
                            <tr>
                                <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td class="deskpad" style="padding-left:20px;">
                                    <span style="font-size: 14px; font-weight: 600; line-height:22px;">Order Date:</span> <span style="font-size: 14px; font-weight: 600; line-height:22px;">{{var order.getCreatedAtFormated('short')}}</span>
                                </td>
                            </tr>
                            <!-- /ORDER DATE -->
                        </table>
                    </td>
                    <!-- /RIGHT -->
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
    </tr>
    <!-- END MODULE: 2 COLUMN STACKING WIDE -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: ITEMS -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="centered" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td class="centered" width="100%" style="width:100%; min-width:100%;">
                        <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" style="min-width:100%;">
                            <tr>
                                <td class="deskpad" style="width:100%; padding-left:20px; font-size: 10px; font-weight:bold;">ITEMS</td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#000000" style="width:100%; color:#000000;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="deskpad" style="padding-left:20px; padding-right:20px;">
            {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
        </td>
    </tr>
    <!-- END MODULE: ITEMS -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: CONTACT -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td height="20" bgcolor="#ffffff" style="min-width:100%; color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                </tr>
                <tr>
                    <td class="deskpad" style="min-width:100%; padding-left:20px; padding-right:20px;">
                        <table class="centered" width="100%" align="center" cellpadding="0" border="0" style="min-width:100%; margin:auto;">
                            <tr>
                                <td class="deskpad" width="50%" valign="top" style="font-size: 12px; padding-right: 20px; line-height: 16px;">
                                    <span style="font-weight:bold; font-size:12px;">Contact:</span><br/><br/>
                                    <span style="font-weight:bold; font-size:12px;">U.S.:</span> <span style="color: #6F7073;">{{customVar code=phone_us}}</span><br/>
                                    <span style="font-weight:bold; font-size:12px;">Int.:</span> <span style="color: #6F7073;">{{customVar code=phone_int}}</span>
                                </td>
                                <td class="deskpad" width="50%" valign="top"  style="font-size: 12px; padding-right: 20px; line-height: 16px;">
                                    <span style="font-weight:bold; font-size:12px;">Hours:</span><br/><br/>
                                    <span style="color: #6F7073;">{{customVar code=open_days}}</span><br/>
                                    <span style="color: #6F7073;">{{customVar code=open_hrs}}</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
    </tr>
    <!-- END MODULE: CONTACT -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: SOCIAL -->
    <tr>
        <td bgcolor="#F7F8FA">
            <table class="wide" width="600" bgcolor="#F7F8FA" align="center" cellpadding="0" cellspacing="0" border="0" style="min-width:100%; margin: auto;">
                <tr>
                    <td valign="middle" height="67" bgcolor="#F7F8FA">
                        <table class="centered" width="335" bgcolor="#F7F8FA" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                            <tr>
                                <!-- LEFT -->
                                <td class="stack">
                                    <table width="110" bgcolor="#F7F8FA" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                                        <tr>
                                            <td height="10" bgcolor="#F7F8FA" style="color:#F7F8FA; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-weight:600;">Follow us on:</td>
                                        </tr>
                                    </table>
                                </td>
                                <!-- /LEFT -->
                                <!-- RIGHT -->
                                <td class="stack">
                                    <table width="225" bgcolor="#F7F8FA" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                                        <tr>
                                            <td height="10" bgcolor="#F7F8FA" style="color:#F7F8FA; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td width="35" align="center">
                                                            <a href="https://www.facebook.com/happychef" style="text-decoration:none;"><img src="{{skin url="images/social_icons/facebook-black.png"}}" alt="Facebook" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                        <td width="35" align="center">
                                                            <a href="https://twitter.com/HappyChef" style="text-decoration:none;"><img src="{{skin url="images/social_icons/twitter-black.png"}}" alt="Twitter" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                        <td width="35" align="center">
                                                            <a href="https://www.youtube.com/user/HappyChefUniforms" style="text-decoration:none;"><img src="{{skin url="images/social_icons/youtube-black.png"}}" alt="You Tube" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                        <td width="35" align="center">
                                                            <a href="https://plus.google.com/101415755986397710251/posts" style="text-decoration:none;"><img src="{{skin url="images/social_icons/google-black.png"}}" alt="Google Plus" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                        <td width="35" align="center">
                                                            <a href="https://www.instagram.com/happychef" style="text-decoration:none;"><img src="{{skin url="images/social_icons/instagram-black.png"}}" alt="Instagram" border="0" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                        <td width="35" align="center">
                                                            <a href="http://www.pinterest.com/happychef/" style="text-decoration:none;"><img src="{{skin url="images/social_icons/pinterest-black.png"}}" alt="Pinterest" border="0" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <!-- /RIGHT -->
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="10" bgcolor="#F7F8FA" style="color:#F7F8FA; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
    </tr>
    <!-- END MODULE: SOCIAL -->
    <!-- ********************************************************************************************************* -->

    </tbody>
</table>
</body>
</html>