<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" >

    <style type="text/css">

        @media only screen and (max-width: 599px) {
            table[class="container"], table[class="responsiveTable"]  {
                width: 100% !important;
                display: block !important;
            }

            table[class="col1-header"], table[class="col2-header"] {
                display:none !important;
            }

            table[class="item-image-col"], table[class="item-details-col"] {
                width: 100% !important;
                display: block !important;
            }

            table[class="item-image-col"] img[class="item-image"]{
                width: 80% !important;
                margin-bottom: 10px;
            }

            table[class="item-details-name"], table[class="item-details-qty"], table[class="item-details-subtotal"] {
                width: 100% !important;
                display: block !important;
            }

            table[class="item-details-name"] {
                padding-bottom: 10px;
            }

            table[class="responsive-embroidery"] {
                width: 100% !important;
                display: block !important;
                margin-bottom: 5px;;
            }

            span[class="qty-label"], span[class="subtotal-label"] {
                display: inline !important;
                font-weight: normal !important;
            }

            td[class="item-label"] {
                color: #6F7073 !important;
                padding-bottom: 5px;
            }

            table[class="item-details-embroidery"] {
                margin-top: 0;
            }

            table[class="totals-contacts"], table[class="totals-totals"] {
                width: 100% !important;
                display: block !important;
                margin-bottom: 20px;
            }

            td[class="item-embroidery-container"] {
                padding-top: 0 !important;
            }

            table[class="responsive-embroidery invisible"] {
                display:none !important;
            }

        }

        table[class="responsive-embroidery invisible"] {
            display:none !important;
        }

    </style>
</head>
<body style="margin: 0; padding: 0; background: #fff; color: #404040; font-size: 12px; width: 100%; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif; line-height:12px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <table class="container" cellpadding=0 cellspacing=0 style="width:600px;">
                <tr>
                    <td style="padding: 12px 2%;">
                        <table cellpadding=0 cellspacing=0 style="margin: 0 auto; background: #fff; width: 96%; ">
                            <tr>
                                <td style="padding: 20px">
                                    <div>
                                        <div style="text-align: center; margin-top: 20px;">
                                            <img src="{{store url="/"}}media/email/logo/default/happy-chef-logo.gif" alt="Happy Chef Logo" border="0" height="56">
                                        </div>
                                        <div style="text-align: center; font-size: 32px; font-weight: 600; margin: 20px 0 0 0; line-height:36px;">Thanks for your order</div>
                                        <div style="text-align: center; font-size: 20px; font-weight: 600; margin: 5px 0 0 0; line-height:22px;">Your order number is: {{var order.increment_id}}</div>
                                        <div style="text-align: center; font-size: 11px; font-weight: normal; margin: 5px 0 0 0;">(placed on: {{var order.getCreatedAtFormated('long')}}) </div>
                                    </div>
                                    <div style="margin-top: 20px; font-size: 14px; line-height: 22px;">
                                        <strong>Hi {{htmlescape var=$order.getCustomerName()}},</strong> your order confirmation is below. Once your order ships, we will send another email with a link to track it. You can also check the status of your order by logging into your <a href="{{store url="customer/account/"}}" style="color: #2294A7; font-weight:600; text-decoration: none;">account</a>.
                                    </div>
                                    <div>
                                        <table style="width: 100%; border-spacing: 0;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td  valign="top"  style="width: 100%;">
                                                    <table class="responsiveTable" cellpadding=0 cellspacing=0  style="border-spacing: 0; width: 50%; margin-top: 40px; display: inline-table;" align="left">
                                                        <tr>
                                                            <td valign="top" style="padding: 10px 0 10px 0; border-bottom:1px solid black; font-size: 10px; font-weight:bold;">SHIPPING INFORMATION</td>
                                                        </tr>
                                                        <tr>
                                                            <td  valign="top" style="padding: 10px 0 20px 0; font-size: 12px; line-height: 18px;">
                                                                {{var order.getShippingAddress().format('html')}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table class="responsiveTable" cellpadding=0 cellspacing=0  style="border-spacing: 0; width: 50%; margin-top: 40px; display: inline-table;" align="left">
                                                        <tr>
                                                            <td  valign="top" class="right-col" style="padding: 10px 0 10px 0; border-bottom:1px solid black; font-size: 10px; font-weight:bold">BILLING INFORMATION</td>
                                                        </tr>
                                                        <tr>
                                                            <td  valign="top" class="right-col" style="padding: 10px 0 20px 0; font-size: 12px; line-height: 18px;">
                                                                {{var order.getShippingAddress().format('html')}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                        <table style="width: 100%; border-spacing: 0;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td  valign="top"  style="width: 100%;">
                                                    <table class="responsiveTable" style="border-spacing: 0; width: 50%; margin-top: 40px; display: inline-table;" align="left">
                                                        <tr>
                                                            <td valign="top" style="padding: 10px 0 10px 0; border-bottom:1px solid black; font-size: 10px; font-weight:bold;">SHIPPING METHOD</td>
                                                        </tr>
                                                        <tr>
                                                            <td  valign="top" style="padding: 10px 0 20px 0; font-size: 12px; line-height: 18px;">
                                                                <strong>{{var selected_shipping_method}}</strong>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table class="responsiveTable" style="border-spacing: 0; width: 50%; margin-top: 40px; display: inline-table;" align="left">
                                                        <tr>
                                                            <td  valign="top" class="right-col" style="padding: 10px 0 10px 0; border-bottom:1px solid black; font-size: 10px; font-weight:bold">PAYMENT METHOD</td>
                                                        </tr>
                                                        <tr>
                                                            <td  valign="top" class="right-col" style="padding: 10px 0 20px 0; font-size: 12px; line-height: 18px;">
                                                                <strong>{{var spelled_cc_type}} ({{var order.getPayment().getCcLast4()}})</strong>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>


                                        {{depend canadian_note}}
                                        <table style="border-spacing: 0; width: 100%; margin-top: 40px;">
                                            <tr>
                                                <td style="padding: 0 0 10px 0; border-bottom:1px solid black; font-size: 10px; font-weight:bold; color: #C90505">CANADIAN SHIPPING - Please Read</td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 10px 0 0 0; font-size: 12px; line-height: 18px;">
                                                    {{block type="cms/block" block_id="canadian_note"}}
                                                </td>
                                            </tr>
                                        </table>
                                        {{/depend}}

                                        {{depend order.getCustomerNote()}}
                                        <table style="border-spacing: 0; width: 100%; margin-top: 40px;">
                                            <tr>
                                                <td style="padding: 0 0 10px 0; border-bottom:1px solid black; font-size: 10px; font-weight:bold;">SPECIAL INSTRUCTIONS</td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 10px 0 0 0; font-size: 12px; line-height: 18px;">
                                                    <p>{{var order.getCustomerNote()}}</p>
                                                </td>
                                            </tr>
                                        </table>
                                        {{/depend}}

                                        {{layout handle="sales_email_order_items" order=$order}}

                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table cellpadding=0 cellspacing=0 style="margin: 0 auto; background: #F7F8FA; width: 96%;">
                            <tr>
                                <td style="padding: 30px">
                                    <div style="margin:0px auto; width:320px;">
                                        <table>
                                            <tr>
                                                <td style="font-weight:600;">Follow us on:</td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <a href="https://www.facebook.com/happychef"><img src="{{store url="/"}}skin/frontend/default/em0080/images/social_icons/facebook-black.png" alt="Facebook" border="0" width="20"></a>&nbsp;&nbsp;
                                                                <a href="https://twitter.com/HappyChef"><img src="{{store url="/"}}skin/frontend/default/em0080/images/social_icons/twitter-black.png" alt="Twitter" border="0" width="20"></a>&nbsp;&nbsp;
                                                                <a href="https://www.youtube.com/user/HappyChefUniforms"><img src="{{store url="/"}}skin/frontend/default/em0080/images/social_icons/youtube-black.png" alt="You Tube" border="0" width="20"></a>&nbsp;&nbsp;
                                                                <a href="https://plus.google.com/101415755986397710251/posts"><img src="{{store url="/"}}skin/frontend/default/em0080/images/social_icons/google-black.png" alt="Google Plus" border="0" width="20"></a>&nbsp;&nbsp;
                                                                <a href="https://www.instagram.com/happychef"><img src="{{store url="/"}}skin/frontend/default/em0080/images/social_icons/instagram-black.png" alt="Instagram" border="0" width="20"></a>&nbsp;&nbsp;
                                                                <a href="http://www.pinterest.com/happychef/"><img src="{{store url="/"}}skin/frontend/default/em0080/images/social_icons/pinterest-black.png" alt="Pinterest" border="0" width="20"></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>