<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" >
    <style type="text/css">
        * { text-rendering:optimizelegibility; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; }
        div, p, a, li, td {-webkit-text-size-adjust:none;}
        a {text-decoration:none; border:none;}
        body {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased; mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0 0 0 0;}
        html {width: 100%;}
        img {border:0; outline:none; display:block;}
        table {border-collapse: collapse;}
    </style>
</head>


<body style="font-family:'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif; width:100%; background-color:#ffffff; margin:0; padding:0; -webkit-font-smoothing:antialiased; mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt:0px 0 0 0;">
<span style="font-size: 0; overflow: hidden; color: #ffffff;">Thank you for your order!</span>
<table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" style="line-height:100%;">
    <tbody>

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: HEADER -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin: auto;">
                            <tr>
                                <td height="15" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a href="{{store direct_url}}" style="text-decoration:none;">
                                        <img src="{{store direct_url}}media/email/logo/default/happy-chef-logo.gif" alt="Happy Chef" border="0" height="56" hspace="0" vspace="0" style="display:block;" border="0">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span style="font-size: 32px; font-weight: 600; line-height:36px;">Thanks for your order</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="5" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span style="font-size: 20px; font-weight: 600; line-height:22px;">Your order number is: {{var order.increment_id}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="5" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span style="font-size: 11px; font-weight: normal;">(placed on: {{var order.getCreatedAtFormated('long')}})</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px;">
                                <span style="font-size:14px; line-height:22px;"><strong>Hi {{htmlescape var=$order.getCustomerName()}},</strong>
                                 your order confirmation is below. Once your order ships, we will send another email with a link to track it.
                                You can also check the status of your order by logging into your
                                <a href="{{store url="customer/account/"}}" style="color:#2294A7; font-weight:600; text-decoration:none;">account</a>.
                                </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: HEADER -->
    <!-- ********************************************************************************************************* -->




    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: 2 COLUMN STACKING WIDE -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <!-- LEFT -->
                    <td valign="top" class="stack">
                        <table class="centered" width="300" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                            <!-- SHIPPING ADDRESS -->
                            <tr>
                                <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px;">
                                    <span style="font-size: 10px; font-weight:bold; white-space:nowrap;">SHIPPING INFORMATION</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#000000" style="color:#000000;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td height="10" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px; font-size: 12px; line-height: 18px; color:#666666; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                                    {{var order.getShippingAddress().format('html')}}
                                </td>
                            </tr>
                            <!-- /SHIPPING ADDRESS -->
                        </table>
                    </td>
                    <!-- /LEFT -->
                    <!-- RIGHT -->
                    <td valign="top" class="stack">
                        <table class="centered" width="300" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                            <!-- BILLING ADDRESS -->
                            <tr>
                                <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px;">
                                    <span style="font-size: 10px; font-weight:bold; white-space:nowrap;">BILLING INFORMATION</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#000000" style="color:#000000;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td height="10" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px; font-size: 12px; line-height: 18px; color:#666666; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                                    {{var order.getShippingAddress().format('html')}}
                                </td>
                            </tr>
                            <!-- /BILLING ADDRESS -->
                        </table>
                    </td>
                    <!-- /RIGHT -->
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MODULE: 2 COLUMN STACKING WIDE -->
    <!-- ********************************************************************************************************* -->




    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: 2 COLUMN STACKING WIDE -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <!-- LEFT -->
                    <td valign="top" class="stack">
                        <table class="centered" width="300" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                            <!-- SHIPPING ADDRESS -->
                            <tr>
                                <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px;">
                                    <span style="font-size: 10px; font-weight:bold;">SHIPPING METHOD</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#000000" style="color:#000000;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td height="10" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px; font-size: 12px; line-height: 18px; color:#666666; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                                    {{var selected_shipping_method}}
                                </td>
                            </tr>
                            <!-- /SHIPPING ADDRESS -->
                        </table>
                    </td>
                    <!-- /LEFT -->
                    <!-- RIGHT -->
                    <td valign="top" class="stack">
                        <table class="centered" width="300" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                            <!-- BILLING ADDRESS -->
                            <tr>
                                <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px;">
                                    <span style="font-size: 10px; font-weight:bold;">PAYMENT METHOD</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#000000" style="color:#000000;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td height="10" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td align="left" class="deskpad" style="padding-left:20px; padding-right:20px; font-size: 12px; line-height: 18px; color:#666666; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                                    {{var spelled_cc_type}} ({{var order.getPayment().getCcLast4()}})
                                </td>
                            </tr>
                            <!-- /BILLING ADDRESS -->
                        </table>
                    </td>
                    <!-- /RIGHT -->
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
    </tr>
    <!-- END MODULE: 2 COLUMN STACKING WIDE -->
    <!-- ********************************************************************************************************* -->


    {{depend canadian_note}}
    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="min-width:100%; margin:0 auto;">
                            <tr>
                                <td class="deskpad" style="padding-left:20px; padding-right:20px; font-size: 10px; font-weight:bold; color: #C90505">CANADIAN SHIPPING - Please Read</td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#000000" style="color:#000000;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td class="deskpad" style="padding-left:20px; padding-right:20px;font-size: 12px; line-height: 18px;">
                                    {{block type="cms/block" block_id="canadian_note"}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->
    {{/depend}}



    {{depend order.getCustomerNote()}}
    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: COMMON -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="min-width:100%; margin:0 auto;">
                            <tr>
                                <td class="deskpad" style="min-width:100%; padding-left:20px; padding-right:20px; font-size: 10px; font-weight:bold;">
                                    <span style="white-space:nowrap;">SPECIAL INSTRUCTIONS</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#000000" style="min-width:100%; color:#000000;font-size:1pt;mso-line-height-rule:exact;line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td height="20" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                            <tr>
                                <td class="deskpad" style="padding-left:20px; padding-right:20px; font-size: 12px; line-height: 18px;">
                                    <p>{{var order.getCustomerNote()}}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
    </tr>
    <!-- END MODULE: COMMON -->
    <!-- ********************************************************************************************************* -->
    {{/depend}}

    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: ITEMS -->
    <tr>
        <td bgcolor="#ffffff">
            <table class="centered" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td class="centered" width="100%" style="min-width:100%; width:100%;">
                        <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" style="min-width:100%;">
                            <tr>
                                <td class="deskpad" style="min-width:100%; padding-left:20px; font-size: 10px; font-weight:bold;">ITEMS</td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#000000" style="min-width:100%; color:#000000; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="deskpad" style="padding-left:20px; padding-right:20px;">
            {{layout handle="sales_email_order_items" order=$order}}
        </td>
    </tr>
    <!-- END MODULE: ITEMS -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: SOCIAL -->
    <tr>
        <td bgcolor="#F7F8FA">
            <table class="wide" width="600" bgcolor="#F7F8FA" align="center" cellpadding="0" cellspacing="0" border="0" style="min-width:100%; margin: auto;">
                <tr>
                    <td valign="middle" height="67" bgcolor="#F7F8FA">
                        <table class="centered" width="335" bgcolor="#F7F8FA" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                            <tr>
                                <!-- LEFT -->
                                <td class="stack">
                                    <table width="110" bgcolor="#F7F8FA" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                                        <tr>
                                            <td height="10" bgcolor="#F7F8FA" style="color:#F7F8FA; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-weight:600;">Follow us on:</td>
                                        </tr>
                                    </table>
                                </td>
                                <!-- /LEFT -->
                                <!-- RIGHT -->
                                <td class="stack">
                                    <table width="225" bgcolor="#F7F8FA" align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
                                        <tr>
                                            <td height="10" bgcolor="#F7F8FA" style="color:#F7F8FA; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td width="35" align="center">
                                                            <a href="https://www.facebook.com/happychef" style="text-decoration:none;"><img src="{{skin url="images/social_icons/facebook-black.png"}}" alt="Facebook" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                        <td width="35" align="center">
                                                            <a href="https://twitter.com/HappyChef" style="text-decoration:none;"><img src="{{skin url="images/social_icons/twitter-black.png"}}" alt="Twitter" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                        <td width="35" align="center">
                                                            <a href="https://www.youtube.com/user/HappyChefUniforms" style="text-decoration:none;"><img src="{{skin url="images/social_icons/youtube-black.png"}}" alt="You Tube" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                        <td width="35" align="center">
                                                            <a href="https://plus.google.com/101415755986397710251/posts" style="text-decoration:none;"><img src="{{skin url="images/social_icons/google-black.png"}}" alt="Google Plus" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                        <td width="35" align="center">
                                                            <a href="https://www.instagram.com/happychef" style="text-decoration:none;"><img src="{{skin url="images/social_icons/instagram-black.png"}}" alt="Instagram" border="0" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                        <td width="35" align="center">
                                                            <a href="http://www.pinterest.com/happychef/" style="text-decoration:none;"><img src="{{skin url="images/social_icons/pinterest-black.png"}}" alt="Pinterest" border="0" width="20"  vspace="0" hspace="0" border="0" style="display:block;"></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <!-- /RIGHT -->
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="10" bgcolor="#F7F8FA" style="color:#F7F8FA; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
    </tr>
    <!-- END MODULE: SOCIAL -->
    <!-- ********************************************************************************************************* -->

    </tbody>
</table>

</body>
</html>

