<div class="row-one">
    <div class="item first"><a href="{{store direct_url="formal.html"}}" onclick="moreMenuItem(this);"><img src="{{media url="wysiwyg/More_DropDown_Formal.jpg"}}" alt="Formal Wear" />
        <div class="vCenter">
            <h3 class="title-more-content">FORMAL</h3>
        </div>
        </a> </div>
    <div class="item second"><a href="{{store direct_url="scrubs.html"}}" onclick="moreMenuItem(this);"><img src="{{media url="wysiwyg/More_DropDown_Scrubs.jpg"}}" alt="Scrubs" />
        <div class="vCenter">
            <h3 class="title-more-content">SCRUBS</h3>
        </div>
        </a> </div>
    <div class="item third"><a href="{{store direct_url="graphic-chef-wear.html"}}" onclick="moreMenuItem(this);"><img src="{{media url="wysiwyg/More_DropDown_GraphicWear.jpg"}}" alt="Graphic Wear" />
        <div class="vCenter">
            <h3 class="title-more-content">GRAPHIC WEAR</h3>
        </div>
        </a> </div>
    <div class="item fourth"><a href="{{store direct_url="urban-styles.html"}}" onclick="moreMenuItem(this);"><img src="{{media url="wysiwyg/UrbanStyles.jpg"}}" alt="Urban Styles" />
        <div class="vCenter">
            <h3 class="title-more-content">URBAN STYLES</h3>
        </div>
        </a> </div>
</div>
<div class="row-two">
    <div class="item fifth"><a href="{{store direct_url="kitchen-tools.html"}}" onclick="moreMenuItem(this);"><img src="{{media url="wysiwyg/More_DropDown_KitchenTools.jpg"}}" alt="Kitchen Tools" />
        <div class="vCenter">
            <h3 class="title-more-content">KITCHEN TOOLS</h3>
        </div>
        </a> </div>
    <div class="item sixth"><a href="{{store direct_url="coordinating.html"}}" onclick="moreMenuItem(this);"><img src="{{media url="wysiwyg/More_DropDown_Coordinating.jpg"}}" alt="Coordinating" />
        <div class="vCenter">
            <h3 class="title-more-content">COORDINATING</h3>
        </div>
        </a> </div>
    <div class="item seventh"><a href="{{store direct_url="chef-gifts.html"}}" onclick="moreMenuItem(this);"><img src="{{media url="wysiwyg/more_dropdown/chefgifts-moredropdown.jpg"}}" alt="Chef Gifts" />
        <div class="vCenter">
            <h3 class="title-more-content">CHEF GIFTS</h3>
        </div>
        </a> </div>
    <div class="item last"><a href="{{store direct_url="new-products.html"}}" onclick="moreMenuItem(this);"> <img src="{{media url="wysiwyg/More_DropDown_NewProducts.jpg"}}" alt="New Products" />
        <div class="vCenter">
            <h3 class="title-more-content">NEW PRODUCTS</h3>
        </div>
        </a> </div>
</div>
<script>
    jQuery('.more-wrapper .item a').unbind();
    function moreMenuItem(el) {
        var linkmoreHref = el.getAttribute('href');
        if (typeof linkmoreHref != "undefined") {
            window.location = linkmoreHref;
        }
        return false;
    }
</script>