<style>
    .homepg-hero.split .split-left,
    .homepg-hero.split .split-right {
        float: left;
        width:50%;
        cursor:pointer;
    }
</style>
<div class="homepg-hero split">
    <div>
        <div class="hide-767">
            <div>
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/d-t_01.jpg"}}" alt="" />
            </div>
            <div class="clearfix">
                <div class="split-left" onclick="applyCouponAjax('JINGLE');"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/d-t_02.jpg"}}" alt="JINGLE" /></div>
                <div class="split-right" onclick="applyCouponAjax('EGGNOG');"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/d-t_03.jpg"}}" alt="EGGNOG" /></div>
            </div>
        </div>
        <div class="show-767">
            <div>
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/m-t_01.jpg"}}" alt="" />
            </div>
            <div class="clearfix">
                <div class="split-left" onclick="applyCouponAjax('JINGLE');"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/m-t_02.jpg"}}" alt="JINGLE" /></div>
                <div class="split-right" onclick="applyCouponAjax('EGGNOG');"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/m-t_03.png"}}" alt="EGGNOG" /></div>
            </div>
        </div>
    </div>
</div>