<style>
    .subhero-nav {
        position:absolute;
        bottom:23px;
        width:100%;
        text-align:center;
        font-size:18px;
        font-weight:bold;
        margin:20px 0;
    }
    .hbn-link {color:#ffffff;}
    .hbn-divider {
        font-size:16px;
        font-weight:normal;
        vertical-align:top;
        color:#ffffff;
        margin:0 12px;
    }
    .hbn-nav-intro {margin-right:20px;}

    @media screen and (max-width:960px) {
        .hbn-divider {margin:0 8px;}
        .hbn-nav-intro {margin-right:10px;}
        .subhero-nav {font-size:16px;}
    }

    @media screen and (max-width:767px) {
        .subhero-nav {display:none;}
    }

</style>
<div class="homepg-hero">
    <div>
        <!--a href="{{store direct_url="sale.html"}}"-->
        <div class="hide-767">
            <img src="{{media url="wysiwyg/home-pg/a-spots/HC-EML-1610-5-back/hp-a-spot-5back-d.jpg"}}" alt="Get $5 Back" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/home-pg/a-spots/HC-EML-1610-5-back/hp-a-spot-5back-m.jpg"}}" alt="Get $5 Back" />
        </div>
        <!--/a-->

        <div class="subhero-nav">
            <span class="hbn-nav-intro" style="color:#bbbbbb;">START SHOPPING:</span>
            <a class="hbn-link" href="{{store direct_url="chef-coats-jackets.html"}}">COATS</a><span class="hbn-divider">|</span>
            <a class="hbn-link" href="{{store direct_url="chef-pants.html"}}">PANTS</a><span class="hbn-divider">|</span>
            <a class="hbn-link" href="{{store direct_url="aprons.html"}}">APRONS</a><span class="hbn-divider">|</span>
            <a class="hbn-link" href="{{store direct_url="shirts.html"}}">SHIRTS</a><span class="hbn-divider">|</span>
            <a class="hbn-link" href="{{store direct_url="chef-hats.html"}}">HATS</a><span class="hbn-divider">|</span>
            <a class="hbn-link" href="{{store direct_url="cookcool.html"}}">COOKCOOL</a>
        </div>
    </div>
</div>