<div class="scf blk">
    <div class="top-image">
        <a href="{{store direct_url="chef-hats.html"}}">
        <div class="hide-767">
            <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-d-spot-l-d.jpg"}}" alt="SHOP HATS" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-d-spot-l-m.jpg"}}" alt="SHOP HATS" />
        </div>
        </a>
    </div>
    <!--div class="block-content">
       <a href="{{store direct_url="shirts/kitchen-shirts.html"}}">OUTFIT THE TEAM</a>
    </div-->
</div>
