<div class="special blk" id="homepage_3column_b">
    <div class="top-image">
        <a href="{{store direct_url="shirts.html"}}">
        <div class="hide-767">
            <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-d-spot-c-d.jpg"}}" alt="SHOP SHIRTS" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-d-spot-c-m.jpg"}}" alt="SHOP SHIRTS" />
        </div>
        </a>
    </div>
    <!--div class="block-content">
        <a href="{{store direct_url="sale.html"}}">ON SALE TODAY</a>
    </div-->
</div>