<div class="homepage-2column clearfix blk">

    <div class="homepage-2column-col1 clearfix">
        <div class="image-left">
            <a href="{{store url="chef-pants.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-c-spot-l-d.jpg"}}" alt="SHOP PANTS" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-c-spot-l-m.jpg"}}" alt="SHOP PANTS" />
            </div>
            </a>
        </div>
    </div>

    <div class="homepage-2column-col2 clearfix">
        <div class="image-right">
            <a href="{{store url="aprons.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-c-spot-r-d.jpg"}}" alt="SHOP APRONS" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-c-spot-r-m.jpg"}}" alt="SHOP APRONS" />
            </div>
            </a>
        </div>
    </div>

</div>