<div class="homepg-hero skg">

    <div>
        <div class="hide-767">
            <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-a-spot-d.jpg"}}" alt="SHOP COATS" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-a-spot-m.jpg"}}" alt="SHOP COATS" />
        </div>
    </div>
    <div>
        <div class="hide-767">
            <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-a-spot-d.jpg"}}" alt="SHOP COATS" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-a-spot-m.jpg"}}" alt="SHOP COATS" />
        </div>
    </div>
</div>