<div class="homepg-hero skg" style="cursor:pointer;">
    <div class="hide-768">
       <img src="{{media url="wysiwyg/email-collateral/HC-EML-1702-pres-reminder/A-spot-reminder-d.jpg"}}" alt="Presidents Day" />
    </div>
    <div class="show-768">
        <img src="{{media url="wysiwyg/email-collateral/HC-EML-1702-pres-reminder/A-spot-hero-reminder-m.jpg"}}" alt="Presidents Day" />
            <div class="mobile-text"><p>One order placed between 10:30am EST on 02/20/17 and 11:59pm EST on 02/26/17 will be randomly selected to receive a full refund up to $500.</p><span class="hbn-link" style="color: #1099cc; font-weight: 600;"><p>SEE OFFICIAL RULES</p></span></div>
    </div>
</div>


<style>

    .subhero-nav {
        bottom:23px;
        width:100%;
        text-align:center;
        font-size:18px;
        font-weight:bold;
        margin:20px 0;
    }
    .hbn-link a{color: #1099cc; font-weight: 600;}
    .hbn-divider {
        font-size:16px;
        font-weight:normal;
        vertical-align:top;
        color:#c5c1c1;
        margin:0 12px;
    }
    .hbn-nav-intro {margin-right:20px;}

    .mobile-text {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 3%;
        font-size: 14pt;
        line-height: 2;
        text-align: center;
    }

    @media screen and (max-width:960px) {
        .hbn-divider {margin:0 8px;}
        .hbn-nav-intro {margin-right:10px;}
        .subhero-nav {font-size:16px;}
    }

    @media screen and (max-width:768px) {
        .subhero-nav {display:none;}
    }

    @media screen and (max-width: 425px) {
        .mobile-text {font-size: 11pt !important; padding-left: 7% !important; padding-right: 7% !important;}
    }

</style>

<div id="promo-det-copy" class="promo-det-copy">
    <div class="spec-title">Special Offer Details</div>
    For every whole increment of $50 spent per order at happychef.com between October 4, 2016 and October 31, 2016, customers will receive $5 of Happy Chef credit.
    A credit code will be sent via email to the address associated with the order after it has shipped. Codes expire March 31, 2017.
</div>

<div class="homepg-hero skg">
    <div>
        <div class="subhero-nav">
            <span class="hbn-nav-intro" style="color:#a31e21;">START SHOPPING:</span>
            <a class="hbn-link" href="{{store direct_url="chef-coats-jackets.html"}}">COATS</a><span class="hbn-divider">|</span>
            <a class="hbn-link" href="{{store direct_url="chef-pants.html"}}">PANTS</a><span class="hbn-divider">|</span>
            <a class="hbn-link" href="{{store direct_url="aprons.html"}}">APRONS</a><span class="hbn-divider">|</span>
            <a class="hbn-link" href="{{store direct_url="shirts.html"}}">SHIRTS</a><span class="hbn-divider">|</span>
            <a class="hbn-link" href="{{store direct_url="chef-hats.html"}}">HATS</a><span class="hbn-divider">|</span>
            <a class="hbn-link" href="{{store direct_url="cookcool.html"}}">COOKCOOL</a>
        </div>
    </div>
</div>


<div id="pop-rules" class="custom customwrap" style="display:none;">

<section style="max-width: 960px;">
    <div class="align-ctr">
        <h1>FREE ORDER GIVEAWAY SWEEPSTAKES RULES</h1>
    </div>
    <div class="std">
        <div class="section">
            <h3>I. NAME OF SPONSORS</h3>
            <p>The Happy Chef, Inc. (hereafter, “Contest Sponsor”) is the only sponsor of the “Free Order Giveaway Sweepstakes” (hereafter, “Contest”).</p>
        </div>
        <div class="section">
            <h3>II. ELIGIBILITY TERMS AND LIMITATIONS</h3>
            <p>Eligibility to enter and/or claim prizes related to the contest is limited solely to legal residents of the contiguous, continental United States. Eligible participants must be at least 18 years of age or older. 
            Contest is not open to residents of Florida and Rhode Island, nor to contest sponsor employees or their immediate families. Contest entry is void where prohibited by law; no section or subsection of this document is intended to supersede applicable local or federal laws. 
            By participating in the contest, entrants certify they are eligible under the terms outlined in this document and under all applicable laws and regulations. Contest sponsor disclaims any liability and responsibility associated with personal failure to comply with any law or regulation, explicitly stated or otherwise.</p>
        </div>
        <div class="section">
            <h3>II. HOW TO ENTER</h3>
            <p>Eligible participants may register any number of times via the following method:</p>
                <ul><li>Eligible customers who place any order, up to $500.00 total (including applicable sales tax and shipping costs) on happychef.com between 10:30am on February 20th, 2017 and 11:59 p.m. EST on February 26th, 2017 will be entered automatically. Each discrete order will count as one (1) contest entry. Customers must have a valid, verifiable name and address to be eligible for entry.</li></ul>
            All submissions must be received by contest sponsor between 10:30am on February 20th, 2017 and 11:59 p.m. EST on February 26th, 2017 (hereafter, “Contest Period”). Contest sponsor explicitly disclaims any and all liability and responsibility regarding submission problems, including but not limited to: technical difficulties, delivery delays, user error, and natural or man-made disasters.</p>
        </div>
        <div class="section">
            <h3>III. PRIZES</h3>
            <p>One (1) grand prize winner (hereafter, “Winner”) will receive a complimentary order of Happy Chef merchandise, up to $500 value, in equal substitution for his or her qualifying order at no expense. No charge will be made to the Winner’s account (or, if the order has already been charged, the charges will be refunded in full for the winning purchase). 
            Total estimated retail value of all prizes depends on the value of the winner’s entry drawn by Contest Sponsor, but shall not exceed $500. No substitutions, transfers, or cash payments will be made for, or in place of, any prize. The Contest prize will be awarded, providing at least one eligible entry is received, although Contest Sponsor disclaims responsibility for delivering prizes to winners who fail to respond/claim prizes as described in Section IV. 
            Declaration and subsequent payment of federal, state, and local taxes, if any, are the sole responsibility of the winner. The Contest Sponsor disclaims any liability or responsibility related to personal failure to comply with applicable regulations.</p>
        </div>    
        <div class="section">
            <h3>IV. WINNER SELECTION, NOTIFICATION &amp; CLAIMS </h3>
            <p>After the last day of Contest Period, one (1) winner will be selected at random out of the pool of eligible entries received within the Contest Period. 
            The winner will be notified via email and/or phone after the Contest Period. If he/she fails to accept his/her prize within thirty (30) days, he/she will be disqualified and a new winner will be chosen at random from the pool of eligible participants. 
            To claim the contest prize, the winner must provide (if not already satisfactorily provided) a valid shipping address in the contiguous, continental United States. The winner is responsible for the validity of his/her address; the contest sponsor disclaims any and all liability related to incorrectly specified addresses or shipping issues for which a third party shipping provider (i.e. USPS, FedEx, UPS) is responsible. Prizes will be shipped according to availability. 
            By accepting the contest prize, the winner consents to allow the contest sponsor to publicize and/or list the winner’s name and state in web and print media associated with the contest, with no implicit or explicit limitations. Refusal to accept these terms or any other terms of the contest will result in disqualification.</p>
        </div>
        <div class="section">
            <h3>V. ODDS OF WINNING &amp; WINNER NAME REQUESTS</h3>
        <p>Odds of winning are directly proportional to the number of eligible entries. </p>
            To request the name of the contest winner, submit a written request via USPS to contest sponsor: Happy Chef Uniforms, 22 Park Place, Butler, NJ 07405. Requests for winner identification will be honored within thirty (30) days of receipt. 
        </div>
        <div class="section">
            <h3>VI. PRIVACY POLICY &amp; MISCELLANEOUS </h3>
            <p>The contest sponsor will not sell, distribute, or publicize the personal data of contest entrants to any third party company or organization, although The contest sponsor reserves the right to publicly and privately list/display the name and state of the contest winner as described in Section IV. 
                By entering the contest, participants must provide a valid mailing address. This address may be used for distribution of first-party promotional and marketing material directly related to Happy Chef products. After contest entry, participants can opt out of communications at any time via the unsubscribe methods indicated in all contest sponsor communications.
            </p>
        </div>
    </div>
</section>
</div>



 <script>
    jQuery('.homepg-hero .hide-768, .hbn-link').on('click touchstart', function(e){
        e.preventDefault;
        jQuery.fancybox({
            'padding': 20,
            'margin': 20,
            'href': '#pop-rules'
        });
    });
</script>