<div class="colour blk" id="homepage_3column_c">
    <div class="top-image">
        <a href="{{store direct_url="cutlery-and-chef-knives.html"}}">
        <div class="hide-767">
            <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-d-spot-r-d.jpg"}}" alt="SHOP KNIVES" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/home-pg/email-collateral/HC-EML-1610-black/blk-d-spot-r-m.jpg"}}" alt="SHOP KNIVES" />
        </div>
        </a>
    </div>
    <!--div class="block-content">
       <a href="{{store direct_url="tailored-executive-chef-coat.html"}}">GET THIS COAT</a>
    </div-->
</div>