<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" >
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet" type="text/css">
    <style type="text/css">
        * { text-rendering:optimizelegibility }

        div, p, a, li, td {-webkit-text-size-adjust:none;}
        a {text-decoration:none; border:none;}
        body {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased; mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;}
        html {width: 100%;}
        img {border:0px; outline:none; display:block;}
        table {border-collapse: collapse;}

        td[class=respRule] {background-color:#ffffff; visibility:hidden; height:0;}
        td[class=socialLeft] {background-color:#6f7073; width:225px; display:inline-block; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;color:#ffffff; font-size:22px; line-height:24px; padding: 10px 0 10px 30px;}
        td[class=socialRight] {background-color:#6f7073; width:340px; display:inline-block;}
        td[class=socialIcon] {padding: 0 20px;}
        td[class=footercopy] {padding: 0 20px;}
        *[class=oj] {color:#d26035;}

        @media only screen and (max-width: 599px), only screen and (max-width: 740px) and (-webkit-min-device-pixel-ratio: 3)
        {
            body {width:auto!important; -webkit-text-size-adjust: none !important;}

            /* REPLACE class="respImg" WITH class="respImgSwitch" ON IMGS 
            THAT GO FULL BLEED IN MOBILE AND HAVE A BACKGROUND */
            img[class=respImgSwitch] {width:100% !important; opacity:0.0 !important;}
            img[class=respImg] {width:100% !important;}

            /* Responsive Containers */
            table[class="wide"], td[class="wide"], img[class=respImg] {width:100% !important;}
            td[class=stack] {width:100% !important; display:block !important;}
            table[class=centered], td[class=centered] { width:440px !important;}

            /*Social Bar Mobile Adjustments */
            td[class=socialLeft] {width:100% !important; padding: 10px 0 0 0 !important;}
            td[class=socialRight] {width:100% !important; padding: 0 !important;}
            td[class=socialIcon] {padding: 7px 12px !important;}

            /* Responsive Copy and Copy containers*/
            a[class=headline] {font-size:27px !important; line-height:29px !important; }
            td[class=headline] {font-size:27px !important; line-height:36px !important; padding: 0 20px;}
            a[class=subhead] {font-size:16px !important;}
            td[class=subhead] {font-size:16px !important; padding: 0 20px;}
            td[class=mobilecenter] {text-align:center !important; background-position:center !important;}
            td[class=respRule] {background-color:#dadada !important; visibility:visible !important; height:1px !important;}
            a[class=toplink] {font-size:10px !important;}

            .mobilepad5 {padding-left:calc(50% - 47px);}

            /* Show/Hide  */
            .respHide { display:none !important; }
        }

        @media only screen and (max-width: 479px)
        {
            /* Responsive Containers */
            table[class=stackingHalfWrap], td[class=stackingHalfWrap] {width:130px !important;}
            table[class=centered], td[class=centered], table[id=TopLinks] {width:280px !important;}

            td[class=respPad] {padding-left:20px !important; padding-right:20px !important;}
        }
    </style>
</head>
<body style="width:100%; background-color:#ffffff; margin:0; padding:0; -webkit-font-smoothing:antialiased; mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt:0px 0px 0px 0px;">
<span style="font-size: 0px; overflow: hidden; color: #ffffff;">Thanks for joining our email list to get the latest offers and sneak peeks!</span>
<table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" style="line-height:100%;">
    <tbody>


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN Module: Header -->
    <tr>
        <td height="15" bgcolor="#ffffff" style="color:#ffffff;font-size:1px;mso-line-height-rule:exact;line-height:1px;">.</td></tr>
    <tr>
        <td align="center">
            <a href="{{store url}}?utm_source=Dynamic%20Offer&utm_medium=email&utm_campaign=Cart%20items">
                <img src="{{var logo_url}}" alt="{{var logo_alt}}" width="143" height="69" hspace="0" vspace="0" style="display:block;" border="0">
            </a>
        </td>
    </tr>
    <!-- END Module: Header -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- _________________BEGIN Module (1 Column Centered)____________________________ -->
    <tr>
        <td>
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table class="centered" align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin: auto;">
                            <!-- BEGIN Callout Label Rows - Delete if not needed -->
                            <tr>
                                <td align="center">
                                    <!--Middle Container -->
                                    <table class="centered" align="center" width="450" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <!-- Product Copy -->
                                                <table class="centered" width="100%" border="0" cellspacing="0" cellpadding="0" >
                                                    <tr>
                                                        <td align="center" style="padding-top:15px;">
                                                            <a class="toplink" style="font-size:12px; color:#636363; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{store url}}aprons.html?utm_source=Dynamic%20Offer&utm_medium=email&utm_campaign=Cart%20items">Aprons |</a>
                                                            <a class="toplink" style="font-size:12px; color:#636363; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{store url}}chef-coats-jackets.html?utm_source=Dynamic%20Offer&utm_medium=email&utm_campaign=Cart%20items">Coats |</a>
                                                            <a class="toplink" style="font-size:12px; color:#636363; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{store url}}cookcool.html?utm_source=Dynamic%20Offer&utm_medium=email&utm_campaign=Cart%20items">CookCool |</a>
                                                            <a class="toplink" style="font-size:12px; color:#636363; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{store url}}chef-hats.html?utm_source=Dynamic%20Offer&utm_medium=email&utm_campaign=Cart%20items">Hats |</a>
                                                            <a class="toplink" style="font-size:12px; color:#636363; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{store url}}chef-pants.html?utm_source=Dynamic%20Offer&utm_medium=email&utm_campaign=Cart%20items">Pants |</a>
                                                            <a class="toplink" style="font-size:12px; color:#636363; font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;text-decoration:none;" href="{{store url}}womens-chef-wear.html?utm_source=Dynamic%20Offer&utm_medium=email&utm_campaign=Cart%20items">Women's</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- / Product Copy -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- / Middle Container -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="60" bgcolor="#ffffff" style="color:#ffffff; font-size:1px; mso-line-height-rule:exact; line-height:1px;">.</td>
    </tr>
    <!-- _________________END Module (1 Column Centered)____________________________ -->
    <!-- ********************************************************************************************************* -->



    <!-- ********************************************************************************************************* -->
    <!-- BEGIN Module: Email Headline -->
    <tr>
        <td valign="top">
            <table width="600" class="wide" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <!-- HEADLINE -->
                <tr>
                    <td class="headline" height="35" valign="top" align="center" class="headline" style="font-size:24pt; line-height:26pt; color:#464646; font-weight:bold; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                        <a style="color:#464646; font-weight:bold; text-decoration:none;" href="{{store url}}customer/account/login/?utm_source=Dynamic%20Offer&utm_medium=email&utm_campaign=Cart%20items">
                            As promised, here's your code.
                        </a>

                    </td>
                </tr>
                <!-- / HEADLINE -->
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1px; mso-line-height-rule:exact; line-height:1px;">.</td>
    </tr>
    <!-- END Module: Email Headline -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: Coupon Code -->
    <tr>
        <td>
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                            <!-- CTA -->
                            <tr>
                                <td align="center">
                                    <table class="wide" width="100%" border="0" cellspacing="0" cellpadding="0" >
                                        <tr>
                                            <td align="center" style="background-repeat:no-repeat;" border="0" color="#FFFFFF">
                                                <table align="center" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="border-width:3px; border-style:dotted; border-color:#2b95a6;">
                                                    <tr>
                                                        <td align="center" class="subhead" style="padding-left:16pt; padding-right:16pt; font-size:22pt; line-height:42pt; font-weight:bold; color:#636363; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                                                            {{var coupon_code}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- /CTA -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
    </tr>
    <!-- END MODULE: Coupon Code -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN MODULE: CTA -->
    <tr>
        <td>
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td>
                        <table class="wide" width="600"  bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                            <!-- CTA -->
                            <tr>
                                <td align="center">
                                    <table class="wide" width="100%" border="0" cellspacing="0" cellpadding="0" >
                                        <tr>
                                            <td align="center" style="background-repeat:no-repeat;" border="0" color="#FFFFFF">
                                                <a href="{{store url}}applycoupon/index/?coupon_code={{var coupon_code}}" title="Shop with promo code" style="text-decoration:none;" >
                                                    <table align="center" border="1" bordercolor="#2b95a6" cellspacing="0" cellpadding="0" bgcolor="#2b95a6" style="border-width:1pt; border-style:solid; border-color:#2b95a6;">
                                                        <tr>
                                                            <td class="cta" align="middle" valign="middle" height="50" vspace="0" hspace="0" border="0" style="padding-left:16pt; padding-right:16pt; white-space:nowrap; font-size:11pt; line-height:14pt; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;">
                                                                <span class="cta" style="font-size:11pt; line-height:14pt; font-weight:bold; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; color:#ffffff; white-space:nowrap; margin:0;">SHOP WITH PROMO CODE</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- /CTA -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="60" bgcolor="#ffffff" style="color:#ffffff; font-size:1pt; mso-line-height-rule:exact; line-height:1pt;">.</td>
    </tr>
    <!-- END MODULE: CTA -->
    <!-- ********************************************************************************************************* -->



    <!-- ********************************************************************************************************* -->
    <!-- BEGIN Module: Email Headline -->
    <tr>
        <td valign="top">
            <table width="600" class="wide" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <!-- SUBHEAD -->
                <tr>
                    <td align="center" class="subhead" style="font-size:12pt; line-height:24pt; color:#636363; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                        No need to copy and paste. Just click above to magically have it applied to your order at checkout. You may want to save this email just in case your phone or computer are on the fritz and you need to re-enter the promo code later. Thanks for joining other Happy Chef fans!
                    </td>
                </tr>
                <!-- / SUBHEAD -->
            </table>
        </td>
    </tr>
    <tr>
        <td height="60" bgcolor="#ffffff" style="color:#ffffff; font-size:1px; mso-line-height-rule:exact; line-height:1px;">.</td>
    </tr>
    <!-- END Module: Email Headline -->
    <!-- ********************************************************************************************************* -->


    <!-- ********************************************************************************************************* -->
    <!-- BEGIN Module: Disclaimer -->
    <tr>
        <td valign="top">
            <table width="600" class="wide" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr>
                    <td height="17" bgcolor="#ffffff" style="color:#ffffff; font-size:1px; mso-line-height-rule:exact; line-height:1px;">.</td>
                </tr>
                <tr>
                    <td align="center" class="subhead" style="font-size:14pt; line-height:26pt; color:#464646; font-weight:bold; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                        The Particulars.
                    </td>
                </tr>
                <tr>
                    <td align="center" class="subhead" style="font-size:12pt; line-height:24pt; color:#636363; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                        Promo code valid for one use only.
                    </td>
                </tr>
                <tr>
                    <td align="center" class="subhead" style="font-size:12pt; line-height:24pt; color:#636363; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; text-decoration:none;">
                        Discount cannot be combined with other offers. (Sneaky, sneaky!)
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="35" bgcolor="#ffffff" style="color:#ffffff; font-size:1px; mso-line-height-rule:exact; line-height:1px;">.</td>
    </tr>
    <!-- END Module: Disclaimer -->
    <!-- ********************************************************************************************************* -->



    <!-- ********************************************************************************************************* -->
    <!-- BEGIN Module: Social -->
    <tr>
        <td valign="top">
            <table class="wide" width="600" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
                <tr bgcolor="#6f7073">
                    <td class="socialLeft" style="background-color:#6f7073;width:225px;display:inline-block;font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif;color:#ffffff; font-size:22px !important; line-height:24px !important;padding: 10px 0 10px 30px;" align="center">
                        <a href="https://www.facebook.com/happychef" style="color:#ffffff;text-decoration:none;">JOIN 200,000+ <br />HAPPY CHEF FANS</a>
                    </td>
                    <td class="socialRight" style="background-color:#6f7073;width:340px;display:inline-block;" align="center">
                        <table border="0" cellspacing="0" cellpadding="0" align="center" style="margin: auto;">
                            <tr>
                                <td class="socialIcon" style="padding: 0 20px;"><a href="https://www.facebook.com/happychef" title="Facebook"><img src="{{store url}}email/template/social-icons/SM_banner_facebook.jpg" width="44" height="44" alt="Facebook" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                                <td class="socialIcon" style="padding: 0 20px;"><a href="https://twitter.com/HappyChef" title="Twitter"><img src="{{store url}}email/template/social-icons/SM_banner_twitter.jpg" width="44" height="44" alt="Twitter" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                                <td class="socialIcon" style="padding: 0 20px;"><a href="https://www.pinterest.com/happychef" title="Pinterest"><img src="{{store url}}email/template/social-icons/SM_banner_pinterest.jpg" width="44" height="44" alt="Pinterest" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                                <td class="socialIcon" style="padding: 0 20px;"><a href="https://www.instagram.com/happychef" title="Instagram"><img src="{{store url}}email/template/social-icons/SM_banner_instagram.jpg" width="44" height="44" alt="Instagram" vspace="0" hspace="0" border="0" style="display:block;"></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="35" bgcolor="#ffffff" style="color:#ffffff; font-size:1px; mso-line-height-rule:exact; line-height:1px;">.</td>
    </tr>
    <!-- END Module: Social-->
    <!-- ********************************************************************************************************* -->


    </tbody>
</table>

</body>
</html>
