<div class="mid-rule" style="padding-top: 20px"></div>

<h3 class="pdp">Comfort and style perfect for today’s chef</h3>
<p class="pdp-hero">You deserve a better chef coat. So we designed the brand new CookCool Modern Fit Chef Coat to provide everything you want. The specially-placed CookCool insets help your body stay dry by keeping moisture off your body in the places where you need it most. We added snap tabs to keep your apron off your neck and your sleeves exactly where you want them. You should feel more comfortable and stylish in the kitchen. Consider this our way of helping out.</p>

<div><img  class="pdp-hero-img" src="http://placehold.it/944x566"></div>

<h3 class="pdp">PRODUCT FEATURES</h3>

<div class="pdp-row clearfix">
	<div class="pdp-ext-l-img">
		<img class="pdp-feature-img" src="http://placehold.it/427x310">
	</div>
	<div class="pdp-ext-r">
        <h4 class="pdp">Cotton/Lycra Stretch Fabric</h3>
		<p class="pdp">Reach for the sky…or pots or pans or food. This specially crafted material gives you full range of motion, making it easier to grab everything you need and feel comfortable moving around the kitchen.</p>
	</div>
</div>

<div class="pdp-row clearfix"> 
	<div class="pdp-ext-r-img" >
		<img class="pdp-feature-img" src="http://placehold.it/427x310">
	</div>
	<div class="pdp-ext-l">
        <h4 class="pdp">Tapered Sleeve</h3>
		<p class="pdp">You probably don’t take your chef coats to a tailor. Don’t worry, we already did. The narrow and custom fit of this coat looks and feels like a million bucks, and is a far cry from the oversized coats of the past.</p>
	</div>
</div>

<div class="pdp-row clearfix">
	<div class="pdp-ext-l-img">
		<img class="pdp-feature-img" src="http://placehold.it/427x310">
	</div>
	<div class="pdp-ext-r">
        <h4 class="pdp">Zip Sleeve Pocket</h3>
		<p class="pdp">For all the small things. Keep tools like pens and thermometers close, and store your phone safely.</p>
	</div>
</div>

<div class="pdp-row clearfix"> 
	<div class="pdp-ext-r-img" >
		<img class="pdp-feature-img" src="http://placehold.it/427x310">
	</div>
	<div class="pdp-ext-l">
        <h4 class="pdp">Covered Zipper Placket</h3>
		<p class="pdp">A sharp look that’s perfect for today’s chef. The concealed zipper adds a debonair quality typically reserved for movie super spies.</p>
	</div>
</div>

<div class="pdp-row clearfix">
	<div class="pdp-ext-l-img">
		<img class="pdp-feature-img" src="http://placehold.it/427x310">
	</div>
	<div class="pdp-ext-r">
        <h4 class="pdp">Roll-Up Cuffs and Snap Tab</h3>
		<p class="pdp">Long sleeve or short sleeve, you’ll have total control and comfort while you cook. The snap tab keeps your sleeves rolled up and not falling down your arms when you’re poaching, broiling and grilling (but hopefully not burning).</p>
	</div>
</div>

<div class="pdp-row clearfix"> 
	<div class="pdp-ext-r-img" >
		<img class="pdp-feature-img" src="http://placehold.it/427x310">
	</div>
	<div class="pdp-ext-l">
        <h4 class="pdp">Back Neck Snap Tab Apron Holder</h3>
		<p class="pdp">We had tons of chefs tell us how irritating it can be when an apron rides up on your neck, so we did something about it. A snap tab on the coat collar ensures your apron stays in place and lets you focus on the food in front of you.</p>
	</div>
</div>

<div class="pdp-row clearfix">
	<div class="pdp-ext-l-img">
		<img class="pdp-feature-img" src="http://placehold.it/427x310">
	</div>
	<div class="pdp-ext-r">
        <h4 class="pdp">Wrinkle & Soil Resistant</h3>
		<p class="pdp">This coat holds its form even as you reach for pans, bend for pots and plate your dish. And if you spill sauce or oil on you (which obviously never happens), the stain is easier to remove. </p>
	</div>
</div>

<div class="pdp-row clearfix"> 
	<div class="pdp-ext-r-img" >
		<img class="pdp-feature-img" src="http://placehold.it/427x310">
	</div>
	<div class="pdp-ext-l">
        <h4 class="pdp">Lightweight, Moisture-Wicking Microfiber</h3>
		<p class="pdp">Innovative apparel technology is useless if the clothes feel like an itchy sweater. This fabric breathes, pulling sweat off your body. It also keeps you feeling dry, even at the end of a long shift.</p>
	</div>
</div>

<div class="pdp-row clearfix">
	<div class="pdp-ext-l-img">
		<img class="pdp-feature-img" src="http://placehold.it/427x310">
	</div>
	<div class="pdp-ext-r">
        <h4 class="pdp">Mesh Material With Vent </h3>
		<p class="pdp">Specially placed vents provide airflow and aid you in keeping cool. The mesh is made to be comfortable, meaning you’ll enjoy wearing it from the first orders on deck to the very last dish.</p>
	</div>
</div>