<div class="clearfix skg">

    <div class="wide-banner skg">
        <a href="{{store url="trending-products.html"}}">
        <div class="hide-767">
            <img src="{{media url="wysiwyg/home-pg/b-spots/b1-d.png"}}" alt="Trending Products" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/home-pg/b-spots/b1-m.png"}}" alt="Trending Products" />
        </div>
        </a>
    </div>

</div>

<div class="homepage-2column clearfix skg">

    <div class="homepage-2column-col1 clearfix">
        <div class="image-left">
            <a href="{{store url="chef-pants.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-c2-spot-d.jpg"}}" alt="Shop pants" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-c2-spot-d.jpg"}}" alt="Shop pants" />
            </div>
            </a>
        </div>
    </div>

    <div class="homepage-2column-col2 clearfix">
        <div class="image-right">
            <a href="{{store url="chef-coats-jackets.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-c1-spot-d.jpg"}}" alt="Shop coats" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-trending/trend-c1-spot-d.jpg"}}" alt="Shop coats" />
            </div>
            </a>
        </div>
    </div>

</div>