<div class="special" id="homepage_3column_b">
    <div class="top-image">
        <a href="{{store direct_url="chef-pants.html?department=690"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-nov/nov-c-spot-d.jpg"}}" alt="20% off chef pants" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-nov/nov-c-spot-m.jpg"}}" alt="20% off chef pants" />
            </div>
        </a>
    </div>
    <div class="block-content">
        <a href="{{store direct_url="chef-pants.html?department=690"}}">ON SALE TODAY</a>
    </div>
</div>