<div class="scf">
    <div class="top-image">
        <a href="{{store direct_url="lookbook/urban-styles"}}">
        <div>
            <img src="{{media url="wysiwyg/home-pg/c-spots/c-spot-urban-d.jpg"}}" alt="Urban Styles" />
        </div>
        </a>
    </div>
    <div class="block-content">
        <a href="{{store direct_url="lookbook/urban-styles"}}">SHOW OFF YOUR EDGE</a>
    </div>
</div>
