<div class="cat-aspot">
    <div id="sale-aspot">
        <div class="a-desk">
            <img src="{{media url="wysiwyg/cats/cat-sale-d.jpg"}}" alt="On Sale" />
        </div>
        <div class="a-mob">
            <img src="{{media url="wysiwyg/cats/cat-sale-m.jpg"}}" alt="On Sale" />
        </div>
    </div>
</div>