<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Xnotif
 */
?>
<?php
if ($this->getType() == 'amxnotif/category_subscribe') {
    $productId = $this->getData('product')->getId();
    $category = true;
} else {
    $productId = Mage::registry('current_product')->getId();
    $category = false;
}
$withPopup = $this->getData('popup');
$subscribeUrl = $this->escapeHtml(Mage::helper('amxnotif')->getEmailUrl('stock'));
?>

<div class="amxnotif-block <?php if ($category) echo 'category'?>">
    <label <?php if (!is_null($withPopup) && $withPopup) echo 'class="amxnotif-block-label" onclick="showSubscribePopup(' . $productId . ')"' ?> >
        <?php echo $this->__('Notify me when in stock'); ?>
    </label>

        <?php if (!is_null($withPopup) && $withPopup): ?>
            </div>
            <div id="subcribe-<?php echo $productId ?>" class="subcribe-popup amxnotif-block" style="display: none">
                <div class="subcribe-popup-content">
                    <span class="close-subcribe-popup" onclick="closeSubscribePopup()">&times;</span>
                    <div>
                        <label>
                            <?php echo $this->__('Notify me when in stock'); ?>
                        </label>
                    </div>
        <?php endif; ?>

        <input type="text" name="guest_email"
               id="amxnotif_guest_email-<?php echo $productId; ?>"
               onKeyPress="return checkIt(
                       event,
                       '<?php echo $subscribeUrl; ?>',
                       $('button-email-send-<?php echo $productId; ?>')
                       )"
               class="input-text" size="30"/>
        <input type="hidden" name="product_id" value="<?php echo $productId; ?>"/>
        <input type="hidden" name="type" value="email"/>
        <?php if ($parentId = $this->getParentProductId()): ?>
            <input type="hidden" name="parent_id" value="<?php echo $parentId ?>"/>
        <?php endif; ?>
        <input type="hidden"
               name="<?php echo Mage_Core_Controller_Front_Action::PARAM_NAME_URL_ENCODED ?>"
               value="<?php echo Mage::helper('amxnotif')->getEncodedUrl() ?>"
        />
        <button type="button"
                id="button-email-send-<?php echo $productId; ?>"
                class="button btn-cart amcart-ignore"
                onclick="send_guest_alert_email('<?php echo $subscribeUrl; ?>', this)"
                title="<?php echo $this->__('Subscribe'); ?>">
            <span>
                <span><?php echo $this->__('Subscribe'); ?></span>
            </span>
        </button>

        <?php if ($withPopup): ?>
            </div>
        <?php endif; ?>

</div>


