
<script type="text/javascript">
    var p = jQuery.noConflict();
 function setSlider(id){		
    p('.bxslider-'+id).bxSlider({
        minSlides: 1,
        maxSlides: 5,
        slideWidth: 68,
        slideMargin: 10,
        infiniteLoop: false,
    });
    jQuery('.bx-loading').remove();
 }
</script>



<div style="width: 100%; float: left; padding: 10px 0;">..Or choose an existing design</div>



    <?php
   
    $customerData = Mage::getSingleton('customer/session')->getCustomer();
    $customerId = $customerData->getId();
    $customOptionModel = Mage::getModel('customoptions/artwork')->getCollection()->setOrder('img_path', 'DESC');
    $customOptionModel = $customOptionModel->addFieldToFilter('customer_id', $customerId);
    $mediaUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'artwork/';
    $lastId = Mage::getModel('customoptions/artwork')->getCollection()->setOrder('art_id', 'DESC')->getFirstItem();
    $lastOptId = Mage::getModel('customoptions/artwork')->getCollection()->setOrder('option_id', 'DESC')->getFirstItem();
    
    $lastId = $lastId->getArtId();
    $loptid = $lastOptId->getOptionId();
 
    ?>
<ul class="bxslider-<?php echo $lastId; ?>" id="bxslider-<?php echo $loptid; ?>">
   <?php 
   $i =0;
   foreach ($customOptionModel as $data) {
	   $i++;
	    $_id = $data->getOptionId();
        $srcF = $mediaUrl . $data->getImgPath();
        
        ?>
        <li class="uploaded-image-x <?php echo 'active-'.$data->getArtId()?>" style="width:60px !important;">
            <img class="swatch image-to-select" height="60" height="60" img-nm="<?php echo $data->getImgPath() ?>" tmp-nm="" imgidnm="<?php echo $data->getSaveName()."?".$data->getId() ?>" src="<?php echo $srcF ?> " title="<?php echo $data->getSaveName() ?>" id="artwork_option_<?php echo $i.'_'.$loptid;?>" onclick="chooseArtwork('<?php echo $loptid;?>',this.id,0)" />
           
        </li>
        <?php } ?>
        </ul>


