<?php
    $quote = Mage::helper('checkout/cart')->getQuote();
    $address = $quote->getShippingAddress();
    $session = Mage::getSingleton('customer/session');
?>
<div id="full-page-overlay"></div>
<div class="bettercheckout">
    <form id="bettercheckout-form" name="bettercheckout-form" method="post" action="/bettercheckout/checkout/placeOrder">
        <div class="checkout-wrapper clearfix">

            <?php if (!$session->getCustomer()->getId()): ?>
                <div class="sign-in-header-wrap clearfix">
                    <div class="sign-in-title">ALREADY HAVE AN ACCOUNT?</div>
                    <div class="btn-white sign-button" id="checkout-sign-in-button" onclick="createSidebarSignin(this, '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>/customer/account/login/')">Sign In</div>
                </div>
            <?php else: ?>
                <div class="sign-in-message clearfix">
                    <div class="signin-in-welcome">Hello, <?php echo ucfirst(strtolower($session->getCustomer()->getFirstname())); ?>. Welcome back!</div>
                    <div class="signin-in-sign-out">Not <?php echo ucfirst(strtolower($session->getCustomer()->getFirstname())); ?>?&nbsp;&nbsp;&nbsp;&nbsp;<span class="false-link hc-blue" onclick="bettercheckout.doSignOut()">Sign out</span></div>
                </div>
                <div class="checkout-title">
                    <h1><?php echo $this->__('CHECKOUT') ?></h1>
                    <div>All fields required unless otherwise noted</div>
                </div>
            <?php endif; ?>

            <div class="checkout-form grid_16 alpha">
                <?php if (!$session->getCustomer()->getId()): ?>
                <div class="checkout-title">
                    <h1><?php echo $this->__('CHECKOUT AS GUEST') ?></h1>
                    <div>All fields required unless otherwise noted</div>
                </div>
                <?php endif; ?>
                <div class="checkout-step first clearfix">
                    <?php echo $this->getChildHtml('shipping'); ?>
                </div>
                <div class="checkout-step">
                    <?php echo $this->getChildHtml('shipping_method'); ?>
                </div>
                <div class="checkout-step">
                    <?php echo $this->getChildHtml('payment'); ?>
                    <?php echo $this->getChildHtml('giftcards'); ?>
                </div>
                <div class="checkout-customer-note">
                    <div class="checkout-customer-note-link">Need to Add Special Instructions?</div>
                    <div class="checkout-customer-note-fields">
                        <div class="grid_16 alpha omega">
                            <textarea name="ordercomment[comment]" id="ordercomment-comment" placeholder="Special Instructions"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="checkout-recap-totals-mobile-container" id="checkout-recap-cart-mobile">
                    <div class="checkout-recap-totals-mobile-link-wrap">
                        <div class="checkout-recap-totals-mobile-link">
                            <span>View Cart Items (<?php echo number_format($quote->getItemsQty(),0); ?>)</span>
                        </div>
                        <a class="edit-cart-link hc-blue" href="<?php echo Mage::getUrl('checkout/cart'); ?>">Edit Cart</a>
                    </div>
                    <div class="checkout-recap-totals-mobile">
                        <?php echo $this->getChildHtml("cart.recap") ?>
                    </div>
                </div>
                <div class="checkout-subscription">
                    <div class="grid_1 alpha checkbox">
                        <label class="myCheckbox">
                            <input type="checkbox" name="list[07a3719f49][subscribed]" checked="checked" id="magemonkey-trigger" value="07a3719f49"/>
                            <span></span>
                        </label>
                    </div>
                    <div class="grid_15 omega checkout-notice">
                        Yes, sign me up for exclusive sales & promotions
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="checkout-submit">
                    <div class="grid_16 alpha omega btn-blue btn-tall checkout-submit-button disabled" id="checkout-submit-button" onclick="bettercheckout.submitOrder(this)">
                        <div class="static-prefix">Calculating<div class='animated-dots'></div></div>
                    </div>
                </div>
            </div>

            <div class="checkout-recap grid_8 omega clearfix">
                <div class="checkout-recap-totals" id="checkout-recap-totals">
                    <?php echo $this->getChildHtml("totals.recap") ?>
                </div>
                <div class="checkout-recap-cart" id="checkout-recap-cart">
                    <div class="checkout-recap-header">
                        <h2>Your Cart Items<span>(<?php echo number_format($quote->getItemsQty(),0); ?>)</span></h2>
                        <a class="rt-inline hc-blue" href="<?php echo Mage::getUrl('checkout/cart'); ?>">Edit Cart</a>
                    </div>
                    <?php echo $this->getChildHtml("cart.recap") ?>
                    <!--                    <div class="cart-view-all">View All Items</div>-->
                    <!--                    <div class="cart-show-less">Show Less Items</div>-->
                </div>
            </div>

        </div>
    </form>

    <div id="popup-sign-in"><?php echo $this->getChildHtml('checkout-sign-in'); ?></div>

</div>

<script>
    jQuery('#checkout-sign-in-button').on('click', function(){
        /*-- GOOGLE ANALYTICS --------------------------------*/
        _gaq.push(['_trackEvent', 'Login Open', 'Checkout']);
        /*-- GOOGLE ANALYTICS --------------------------------*/
    })
</script>



