<div class="homepg-hero">
    <div>
        <a href="{{store direct_url="chef-pants.html?narrow_results_by=827"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-nov/nov-a-spot-d.jpg"}}" alt="20% off all chef pants" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-nov/nov-a-spot-d.jpg"}}" alt="20% off all chef pants" />
            </div>
        </a>
    </div>
</div>