<div class="colour" id="homepage_3column_c">
    <div class="top-image">
        <a href="{{store direct_url="tailored-executive-chef-coat.html"}}">
        <div class="hide-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1607-new-coat/new-coat-c-spot-d.jpg"}}" alt="Get this coat" />
        </div>
        <div class="show-767">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1607-new-coat/new-coat-c-spot-m.jpg"}}" alt="Get this coat" />
        </div>
        </a>
    </div>
    <div class="block-content">
        <a href="{{store direct_url="tailored-executive-chef-coat.html"}}">GET THIS COAT</a>
    </div>
</div>