<div class="homepage-2column clearfix">

    <div class="homepage-2column-col1 clearfix">
        <div class="image-left">
            <a href="{{store url="cookcool.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/home-pg/b-spots/b-spot-cc-d.jpg"}}" alt="CookCool" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/home-pg/b-spots/b-spot-cc-d.jpg"}}" alt="CookCool" />
            </div>
            </a>
        </div>
    </div>

    <div class="homepage-2column-col2 clearfix">
        <div class="image-right">
            <a href="{{store url="smart.html"}}">
            <div class="hide-767">
                <img src="{{media url="wysiwyg/home-pg/b-spots/b-spot-smart-d.jpg"}}" alt="#SMART" />
            </div>
            <div class="show-767">
                <img src="{{media url="wysiwyg/home-pg/b-spots/b-spot-smart-d.jpg"}}" alt="#SMART" />
            </div>
            </a>
        </div>
    </div>

</div>