<div id="artwork-categories-list" data-bind="
                    visible: uiState.categories.activeViewed() === false"
     style="display:none">
    <ol class="categories-list record-edit-list vertical">
        <!-- ko foreach: categories() -->
        <li class="artwork-category" data-bind="
                    attr: {
                        'data-record-type': 'artwork-category',
                        'data-record-id': $data.categoryId,
                        'data-sortorder': $data.sortorder
                    }
                ">
            <span class="sortorder data-field" data-bind="text: $data.sortorder"></span>
            <span class="name data-field" data-bind="
                        attr: {
                            'data-field-key': 'name',
                            'data-field-name': $data.name
                        },
                        click: $parent.editText,
                        text: $data.name
                    "></span>
            <span class="artwork-count" data-bind="text: '(' + $parent.categoryArtworkCount($data.categoryId) + ')'"></span>
            <div class="controls">
                <button class="view" data-bind="
                            click: function (data, event) { $parent.toggleViewedCategory($data.categoryId) }
                        ">View</button>
            </div>
            <div class="controls temp-feature-hide">
                    <span class="enabled data-field editable" data-bind=" attr: {
                                        'data-field-key': 'enabled',
                                        'data-field-enabled': $data.enabled
                                    },
                                    text: $data.enabled === '0' ? 'Disabled' : 'Enabled',
                                    click: $parent.enabledSelect"></span>
            </div>
            <div class="controls temp-feature-hide">
                    <span class="enabled data-field editable" data-bind=" attr: {
                                        'data-field-key': 'featured',
                                        'data-field-featured': $data.featured
                                    },
                                    text: $data.featured === '0' ? 'Not Featured' : 'Featured',
                                    click: $parent.featuredSelect"></span>
            </div>
            <div class="controls temp-feature-hide">
                <span class="inline-label">Featured Text:</span>
                <span class="data-field editable" data-bind=" attr: {
                                        'data-field-key': 'featured-text',
                                        'data-field-featured-text': $data.featuredText
                                    },
                                    html: $data.featuredText === '' ? '<em>- None -</em>' : $data.featuredText,
                                    click: $parent.editFeaturedText"></span>
            </div>
        </li>
        <!-- /ko -->
    </ol>
</div>
