<div class="category-contents" data-bind="
                    visible: uiState.categories.activeViewed() !== false"
     style="display:none">
    <h3 class="category-contents-name" data-bind="text: uiState.categories.activeTitleText"></h3>
    <div class="listing-container">
        <ol class="category-artwork-options record-edit-list vertical">
            <!-- ko if: categoryArtworkCount(uiState.categories.activeViewed()) === 0 -->
            <div class="no-artwork">
                <p>No artwork exists in this category. Click "Add Artwork" to add items.</p>
                <p>Empty categories can also be <a data-bind="click: deleteCategoryModal">DELETED</a></p>
            </div>
            <!-- /ko -->
            <!-- ko foreach: uiState.categories.options() -->
            <li class="category-option" data-bind="
                    attr: {
                        'data-record-type': 'embroidery-type-option',
                        'data-record-id': $data.typeOptionId,
                        'data-sortorder': $data.sortorder
                    }">
                <div class="option-column-image">
                    <div class="artwork-listing-image" data-bind="
                                click: function (data, event) { $parent.updateArtworkImageModal($data.typeOptionId) }
                            ">
                        <img class="option-listing-image" data-bind="
                            attr: {
                                src: $parent.mediaImageUrl($data.image)
                            }" />
                    </div>
                    <div class="option-column-image-name">
                            <span class="name data-field editable" data-bind="
                                attr: {
                                    'data-field-key': 'name',
                                    'data-field-name': $data.name
                                },
                                click: $parent.editText,
                                text: $data.name
                            "></span>
                    </div>
                </div>
                <div class="meta option-column">
                    <div>
                        <span data-bind="html: '<strong>Sort: </strong>' + $data.sortorder"></span>
                    </div>
                    <div>
                        <h5>Logo Sku</h5>
                        <span class="name-old data-field editable" data-bind="
                                attr: {
                                    'data-field-key': 'name-old',
                                    'data-field-name-old': $data.nameOld,
                                    'data-input-data-bind': 'event: { keyup: sanitizeSkuField }'
                                },
                                click: $parent.editText,
                                text: $data.nameOld
                            "></span>
                        <h5>Category</h5>
                        <span class="artwork-category-id data-field editable" data-bind="
                                attr: {
                                    'data-field-key': 'artwork-category-id',
                                    'data-field-artwork-category-id': $data.artworkCategoryId
                                },
                                click: $parent.artworkCategorySelect,
                                text: $parent.getCategoryNameById($data.artworkCategoryId)
                            "></span>
                    </div>
                </div>
                <div class="meta option-column temp-feature-hide">
                    <div>
                        <h5>Enabled</h5>
                        <span class="data-field editable" data-bind="
                                    attr: {
                                        'data-field-key': 'enabled',
                                        'data-field-enabled': $data.enabled
                                    },
                                    text: $data.enabled === '0' ? 'No' : 'Yes',
                                    click: $parent.yesNoSelect
                            "></span>
                    </div>
                    <div class="temp-feature-hide">
                        <h5>Featured</h5>
                        <span class="data-field editable" data-bind="
                                    attr: {
                                        'data-field-key': 'featured',
                                        'data-field-featured': $data.featured
                                    },
                                    text: $data.featured === '0' ? 'No' : 'Yes',
                                    click: $parent.yesNoSelect
                            "></span>
                    </div>
                </div>
                <div class="controls">
                    <button data-bind="click: function (data, event) { $parent.updateArtworkImageModal($data.typeOptionId) }">Update Image</button>
                    <button data-bind="click: function (data, event) { $parent.deleteArtworkModal($data.typeOptionId) }">Delete</button>
                </div>
            </li>
            <!-- /ko -->
        </ol>
    </div>
    <div class="controls-container">
        <div class="controls">
            <button class="add-artwork" data-bind="
                        click: addArtworkModal
                    ">Add Artwork</button>
            <button class="save" data-bind="
                        visible: (uiState.categories.activeViewed() !== false) && (categoryArtworkCount(uiState.categories.activeViewed()) > 0),
                        click: function (data, event) { saveViewedCategory() }
                    ">Save Artwork List</button>
            <button class="view" data-bind="
                        click: function (data, event) { toggleViewedCategory(uiState.categories.activeViewed()) }
                    ">Categories</button>
        </div>
    </div>
</div>
