<div class="controls">
    <a class="export-sku-csv" data-bind="
                    click: exportArtworkSkuCSV,
                ">Export Artwork Sku CSV</a>
    <button class="add-artwork" data-bind="
                        click: addArtworkModal
                    ">Add Artwork</button>
    <button class="add-category" data-bind="
                        visible: uiState.categories.activeViewed() === false,
                        click: addCategoryModal
                    " style="display:none">Add Category</button>
    <button class="view" data-bind="
                    click: function (data, event) { saveCategoriesOrder('.categories-list') },
                    visible: uiState.categories.activeViewed() === false
                ">Save Categories</button>
    <button class="save" data-bind="
                        visible: (uiState.categories.activeViewed() !== false) && (categoryArtworkCount(uiState.categories.activeViewed()) > 0),
                        click: function (data, event) { saveViewedCategory() }
                    " style="display:none">Save Artwork List</button>
    <button class="view" data-bind="
                        visible: uiState.categories.activeViewed() !== false,
                        click: function (data, event) { toggleViewedCategory(uiState.categories.activeViewed()) }
                    " style="display:none">Categories</button>
</div>
