<div id="artwork-manager-modal" data-bind="visible: uiState.modal.active()" style="display:none;">
    <div class="modal-content-container">
        <div class="modal-content">
            <h2 class="modal-heading" data-bind="text: uiState.modal.title"></h2>

            <!-- ko if: uiState.modal.context() === 'upload-artwork-form' -->
            <div class="upload-artwork-form" data-bind="
                        visible: uiState.modal.context() === 'upload-artwork-form'"
                 style="display:none">
                <form action="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryartwork/addArtwork") ?>" method="post" name="add-artwork" id="add-artwork-form" class="modal-form" enctype="multipart/form-data" data-bind="submit: addArtworkFormSubmit">
                    <input type="hidden" name="form_key" id="form-key" value="<?php echo $this->getFormKey(); ?>" />
                    <div class="field-row">
                        <div class="field-column field-column-center">
                            <div class="field-container">
                                <label for="artwork_upload_image">Artwork Upload Image</label>
                                <input name="artwork_upload_image" value="" class="input-file" id="artwork-upload-image" title="artwork_upload_image" type="file" data-validate='{"required":true, "rule": "validImageExtension" }'
                                       data-bind="value: addArtworkForm.userFields.artworkUploadImage()" />
                            </div>
                        </div>
                    </div>
                    <div class="field-row">
                        <div class="field-column">
                            <div class="field-container">
                                <label for="name">Name</label>
                                <input type="text" name="name" title="name"
                                       data-validate='{"required":true}'
                                       data-bind="value: addArtworkForm.userFields.name" />
                            </div>
                            <div class="field-container">
                                <label for="name_old">Sku</label>
                                <input type="text" name="name_old" title="name_old"
                                       data-validate='{"required":true, "rule": "checkSku"}'
                                       data-bind="
                                            event: {
                                                keyup: sanitizeSkuField
                                            },
                                            value: addArtworkForm.userFields.nameOld
                                        " />
                            </div>
                        </div>
                        <div class="field-column">
                            <div class="field-container">
                                <label for="artwork_category_id">Category</label>
                                <select name="artwork_category_id" title="artwork_category_id" data-bind="
                                            options: categories,
                                            optionsText: 'name',
                                            optionsValue: 'categoryId',
                                            value: addArtworkForm.userFields.artworkCategoryId
                                        "></select>
                            </div>
                            <div class="field-container temp-feature-hide">
                                <label for="featured">Featured</label>
                                <select name="featured" title="featured" data-bind="value: addArtworkForm.userFields.featured">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="field-container temp-feature-hide">
                                <label for="enabled">Enabled</label>
                                <select name="enabled" title="enabled" data-bind="value: addArtworkForm.userFields.enabled">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /ko -->

            <!-- ko if: uiState.modal.context() === 'update-artwork-image' -->
            <div class="delete-artwork">
                <div class="update-artwork-image-preview">
                    <img data-bind="attr: { 'src': baseMediaUrl + uiState.modal.data().image }" />
                </div>
                <div class="artwork-delete-sku" data-bind="text: 'Sku: ' + uiState.modal.data().nameOld"></div>
                <form action="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryartwork/updateArtworkImage") ?>" method="post" name="update-artwork-image-form" id="update-artwork-image-form" class="modal-form" enctype="multipart/form-data" data-bind="submit: updateArtworkImageSubmit">
                    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
                    <input type="hidden" name="type_option_id" data-bind="value: uiState.modal.data().typeOptionId" />
                    <div class="field-row">
                        <div class="field-column field-column-center">
                            <div class="field-container">
                                <label for="artwork_upload_image">Uploaded will replace the one above.</label>
                                <input name="artwork_upload_image" value="" class="input-file" id="artwork-upload-image" title="artwork_upload_image" type="file" data-validate='{"required":true, "rule": "validImageExtension" }' />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /ko -->

            <!-- ko if: uiState.modal.context() === 'delete-artwork' -->
            <div class="delete-artwork">
                <div class="delete-artwork-image">
                    <img data-bind="attr: { 'src': baseMediaUrl + uiState.modal.data().image }" />
                </div>
                <div class="artwork-delete-sku" data-bind="text: 'Sku: ' + uiState.modal.data().nameOld"></div>
            </div>
            <!-- /ko -->

            <!-- ko if: uiState.modal.context() === 'add-category' -->
            <div class="add-category">
                <form action="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryartwork/addCategory") ?>" method="post" name="add-category" id="add-category-form" class="modal-form" enctype="multipart/form-data" data-bind="submit: addCategorySubmit">
                    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
                    <div class="field-row">
                        <div class="field-column">
                            <div class="field-container">
                                <label for="name">Name</label>
                                <input type="text" name="name" title="name"
                                       data-validate='{"required":true}' />
                            </div>
                            <div class="field-container temp-feature-hide">
                                <label for="featured_text">Featured Text</label>
                                <input type="text" name="featured_text" title="featured_text" />
                            </div>
                        </div>
                        <div class="field-column">
                            <div class="field-container temp-feature-hide">
                                <label for="featured">Featured</label>
                                <select name="featured" title="featured">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="field-container temp-feature-hide">
                                <label for="enabled">Enabled</label>
                                <select name="enabled" title="enabled">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /ko -->

            <!-- ko if: uiState.modal.context() === 'delete-category' -->
            <div class="delete-category">
                <form action="<?php echo Mage::helper("adminhtml")->getUrl("embroidery/adminhtml_embroideryartwork/deleteCategory") ?>" method="post" name="update-artwork-image-form" id="delete-category-form" class="modal-form" data-bind="submit: deleteCategorySubmit">
                    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
                    <input type="hidden" name="category_id" data-bind="value: uiState.categories.activeViewed()" />
                    <div class="delete-category-content" data-bind="click: deleteCategoryModal">This category can be deleted since it is empty. Click the "confirm" button to permanently delete it.</div>
                </form>
            </div>
            <!-- /ko -->

            <div class="modal-controls">
                <button class="close-modal" data-bind="click: closeModal">Cancel</button>
                <button class="delete-artwork" data-bind="
                            click: function (data, event) { deleteArtwork(uiState.modal.data().typeOptionId) },
                            visible: uiState.modal.context() === 'delete-artwork'
                        " style="display:none">Confirm Delete Artwork</button>
                <!-- ko if: uiState.modal.proxySubmit.text() !== '' -->
                <button class="submit" data-bind="
                            click: targetFormSubmit,
                            text: uiState.modal.proxySubmit.text()
                        "></button>
                <!-- /ko -->
            </div>
        </div>

    </div>

</div>
