<div id="embroidery-artwork-manager">
    <div id="embroidery-artwork-manager-title-bar">
        <h1>Embroidery Artwork Manager</h1>
        <?php echo $this->getChildHtml('artwork.manager.controls'); ?>
    </div>
    <div id="save-application-message" data-bind="
            visible: uiState.applicationAlert.message() !== '',
            html: uiState.applicationAlert.message"
         style="display:none;"></div>

    <?php echo $this->getChildHtml('artwork.manager.categories'); ?>
    <?php echo $this->getChildHtml('artwork.manager.contents'); ?>
    <?php echo $this->getChildHtml('artwork.manager.modal'); ?>

</div>
