<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Happy Chef</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <style type="text/css">
        body {
            font-family: 'Whitney SSm A', 'Whitney SSm B', 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
            color: #777;
        }
        .wrapper {
            width: 50%;
            margin: 40px auto;
            text-align: center;
            padding: 40px;

            box-shadow: 5px 5px 5px #eee;

            -moz-box-shadow-bottom: 4px 4px 4px black;
            -webkit-box-shadow-bottom: 4px 4px 4px black;
            box-shadow-bottom: 4px 4px 4px black;

        }
        .message {
            font-size: 28px;
            margin-top: 100px;
        }


        .contacts {
            font-size: 20px;
            margin-top: 100px;
        }

    </style>

</head>
<body>

<div class="wrapper">
<img src="https://happychef.com/logo.png">

<?php require_once $contentTemplate; ?>

<div class="contacts">
    If you have any questions or need assistance,
    please contact customer service at 800.347.0288,
    9:00am - 5:30pm EST Monday through Friday.
</div>
</div>

</body>
</html>
