<?php $giftcard = $this->getCurrentGiftCard(); ?>
<?php if($giftcard): ?>

    <div class="giftcard-status">Code:  <span><?php echo $giftcard->getCode();?></span></div>
    <div class="giftcard-status">Active: <span><?php echo Mage::getModel('aw_giftcard/source_product_attribute_option_yesno')->getOptionText($giftcard->getStatus());?></span></div>
    <div class="giftcard-status">Status: <span><?php echo Mage::getModel('aw_giftcard/source_giftcard_status')->getOptionByValue($giftcard->getState());?></span></div>
    <div class="giftcard-status">Balance: <span><?php echo Mage::helper('core')->currency($giftcard->getBalance());?></span></div>

    <?php if ($giftcard->getExpireAt()): ?>
        <div class="giftcard-status">Expires: <span><?php echo $this->formatDate($giftcard->getExpireAt(), 'short')?></span></div>
    <?php endif;?>

<?php endif;?>

