<?php $_helper = $this->helper('catalog/output'); ?>
<?php $gcHelper = Mage::helper('happychef_giftcard'); ?>
<?php $pageLayout = str_replace(array('page/','.phtml'),'',Mage::app()->getLayout()->getBlock('root')->getTemplate()); ?>
<?php $_product = $this->getProduct(); ?>
<?php $setting = Mage::helper('em0080settings'); ?>
<div class="gift-card">

    <div class="cat-aspot">
        <div id="giftcard-aspot">
            <div class="a-desk">
                <img src="<?php echo $this->getSkinUrl("images/giftcards/gc-aspot-d.jpg"); ?>"/>
            </div>
            <div class="a-mob">
                <img src="<?php echo $this->getSkinUrl("images/giftcards/gc-aspot-m.jpg"); ?>"/>
            </div>
        </div>
    </div>
    
    <div class="two">
            <div class="two-item alpha"><li><?php echo $this->__('no fees'); ?></li></div>
            <div class="two-item"><li><?php echo $this->__('no expiration'); ?></li></div>
            <div class="two-item"><li><?php echo $this->__('from $25 to $500'); ?></li></div>
            <div class="two-item omega"><li><?php echo $this->__('redeem online'); ?></li></div>
    </div>
    <?php if ($gcHelper->getEmailGiftcard()->getStatus() == 1 && $gcHelper->getMailGiftcard()->getStatus() == 1) { ?>
    <div class="three clearfix">
        <a href="<?php echo $this->getUrl('*/*/*',array('id'=>$gcHelper->getEmailGiftcardId())) ?>">
           <div class="left-card <?php if($_product->getSku() == $gcHelper->getEmailGiftcardSku()) echo "active" ?>">
               <div class="gc-tab-shadow">
                  <?php echo $this->__('Email Delivery'); ?>
               </div>
           </div>
        </a>
        <a href="<?php echo $this->getUrl('*/*/*',array('id'=>$gcHelper->getMailGiftcardId())) ?>">
           <div class="right-card <?php if($_product->getSku() == $gcHelper->getMailGiftcardSku()) echo "active" ?>">
               <div class="gc-tab-shadow">
                  <?php echo $this->__('Mail Delivery'); ?>
               </div>
           </div>
        </a>
    </div>
    <?php } else { ?>
        <br><br>
    <?php } ?>

            <div class="gift-card-container gc-prod-wrap-shadow">
                <div class="gift-card-wrapper">
                    <div class="grid_22 alpha omega">
                        <div class="clearfix">
                            <script type="text/javascript">
                                var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
                            </script>
                            <div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
                            <div class="product-view-container">
                                <div class="gc-description">
                                <?php if($_product->getSku() == $gcHelper->getEmailGiftcardSku()): ?>
                                    <p><?php echo  $this->__("Need a gift for the chef in your life? Try a Happy Chef gift card. They’ll get an email from us with an e-gift card code to redeem on our site for whatever flips their pancake.");?></p><br />
                                    <p><?php //echo  $this->__("To guarantee delivery before Christmas, please place your order by 12 PM EST on December 23.");?></p><br />
                                <?php elseif($_product->getSku() == $gcHelper->getMailGiftCardSku()): ?>
                                    <p><?php echo  $this->__("Send a gift card by mail to your recipient’s address. We’ll include the newest Happy Chef catalog to provide some shopping inspiration.");?></p><br />
                                <?php endif; ?>
                                </div>
                                <div id="giftcard-form-wrap" class="product-essential new-view">
                                    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                                        <?php echo $this->getBlockHtml('formkey') ?>
                                        <div class="no-display">
                                            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                                            <input type="hidden" name="related_product" id="related-products-field" value="" />
                                        </div>
                                        <div class="product-shop">
                                            <div id="product-shop-wrapper" class="product-shop-wrapper-content">
                                                <div class="product-data">
                                                    <?php echo $this->getChildHtml('product_type_data') ?>
                                                    <?php echo $this->getTierPriceHtml() ?>
                                                    <div class="gc-add-to-box">
                                                        <?php echo $this->getChildHtml('addtocart') ?>
                                                    </div>
                                                </div>
                                                <?php echo $this->getChildHtml('other');?>
                                            </div>
                                        </div>
                                    </form>
                                    <script type="text/javascript">var switchTo5x=true;</script>
                                    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
                                    <script type="text/javascript">stLight.options({publisher: "1d6e948e-4e48-495e-a7d3-5a4943e47c69", doNotHash: false, doNotCopy: false, hashAddressBar: false, onhover: false});</script>
                                    <script type="text/javascript">
                                        jQuery(document).ready(function(){
                                            var $=jQuery;
                                            $('span#show_ima').click(function(){
                                                $(this).parent('.description').children('span#hide_ima').show();
                                                $(this).hide();
                                                $(this).parent('.description').children('.descript').show();
                                            });
                                            $('span#hide_ima').click(function(){
                                                $(this).parent('.description').children('span#show_ima').show();
                                                $(this).hide();
                                                $(this).parent('.description').children('.descript').hide();
                                            });
                                            $('.color-box').click(function(){
                                                $('.availability').hide();
                                            });
                                        })
                                    </script>
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        var productAddToCartForm = new VarienForm('product_addtocart_form');
                                        productAddToCartForm.submit = function(button, url) {
                                            if (this.validator.validate()) {
                                                var form = this.form;
                                                var oldUrl = form.action;

                                                if (url) {
                                                    form.action = url;
                                                }

                                                var e = null;
                                                try {
                                                    this.form.submit();
                                                } catch (e) {
                                                }
                                                this.form.action = oldUrl;
                                                if (e) {
                                                    throw e;
                                                }

                                                if (button && button != 'undefined') {
                                                    button.disabled = true;
                                                }
                                            }
                                        }.bind(productAddToCartForm);

                                        productAddToCartForm.submitLight = function(button, url){
                                            if(this.validator) {
                                                var nv = Validation.methods;
                                                delete Validation.methods['required-entry'];
                                                delete Validation.methods['validate-one-required'];
                                                delete Validation.methods['validate-one-required-by-name'];
                                                // Remove custom datetime validators
                                                for (var methodName in Validation.methods) {
                                                    if (methodName.match(/^validate-datetime-.*/i)) {
                                                        delete Validation.methods[methodName];
                                                    }
                                                }

                                                if (this.validator.validate()) {
                                                    if (url) {
                                                        this.form.action = url;
                                                    }
                                                    this.form.submit();
                                                }
                                                Object.extend(Validation.methods, nv);
                                            }
                                        }.bind(productAddToCartForm);
                                        //]]>
                                    </script>
                                </div>

                                <?php if (Mage::helper('em0080settings')->getImageProduct_UseTabs()): ?>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    jQuery(window).ready(function() {
                                        setTimeout(function() {
                                            timeout = null;
                                            EM.tools.decorateProductCollateralTabs();
                                        }, 200);
                                    });
                                    //]]>
                                </script>
                                <?php endif ?>

                            </div>
                        </div><!-- END SHADOW -->
                    </div>
                </div><!-- END WRAPPER -->
            </div><!-- END CONTAINER -->
</div><!-- END GIFT CARD -->

<div class="giftcard-customer">
    <div class="four">
        <div><?php echo $this->__('Already have a gift card?'); ?></div>
    </div>

    <div class="giftcard-status-check">
        <form id="aw_giftcard-form" method="post">
            <input class="required-entry input-text" id="giftcard_code" name="giftcard_code" value="" placeholder="<?php echo $this->__('Enter your gift card code') ?>"/>
            <button type="button" title="Check Status" class="form-button button btn-blue" onclick="awGiftcardCheckStatus()" id="gcCheckStatusButton"><span>Check Status</span></button>
            <div id="results"></div>
        </form>
    </div>

    <script type="text/javascript">
        var AwGiftcardForm = new VarienForm('aw_giftcard-form');
        var awGiftcardCheckStatus = function () {
            jQuery.ajax({
                url: "<?php echo $this->getUrl('awgiftcard/card/checkAjax') ?>",
                type: "POST",
                data: "giftcard_code="+jQuery("#giftcard_code").val(),
                success: function(data) {
                    jQuery('#results').html("<div class='giftcard-result'>" + data + "</div>");
                }
            });

        }
    </script>

    <div >
        <p><?php echo $this->__('Happy Chef gift cards are not redeemable for cash and cannot be replaced if lost or stolen. Gift cards are valid toward online purchases. All orders are subject to review in cases of willingly abusive intent. Shipping to US only.'); ?></p>
    </div>
</div>

