<?php
	
	$helper = Mage::helper('cms');
    $processor = $helper->getBlockTemplateProcessor();
	$idJs = "slide_".md5(uniqid(rand()));
	$classJsUl = $idJs."-ul";
?>
<div id="<?php echo $idJs;?>" class="slider_container<?php if($cssClass = $this->getData('css_class')):?> <?php echo $cssClass;?><?php endif;?>">
	<?php echo $processor->filter($this->getWidgetInstance());?>
	<div id="<?php echo $idJs;?>_css"></div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
	var maxHeight = 0;
	$('.item', '#<?php echo $idJs;?> <?php echo $this->getData('container')?>').each(function() {
		maxHeight = Math.max(maxHeight, $(this).height());
	});
	
	var width_<?php echo $idJs;?> = jQuery('#<?php echo $idJs;?> <?php echo $this->getData('container')?> li.item').width();
	var height_<?php echo $idJs;?> = jQuery('#<?php echo $idJs;?> <?php echo $this->getData('container')?> li.item').height();
	jQuery('#<?php echo $idJs;?>_css').html('<style type="text/css">#<?php echo $idJs;?> .jcarousel-skin-tango .jcarousel-item {width:' + width_<?php echo $idJs;?> + 'px;height:' + maxHeight + 'px;}</style>');

	if(jQuery('#<?php echo $idJs;?> <?php echo $this->getData('container')?>').length){
		function carouselCallBack_<?php echo $idJs;?>(carousel){
		    jQuery('.<?php echo $classJsUl?>').touchwipe({
			    wipeLeft: function() { 
		    		carousel.next();
		    	},
			    wipeRight: function() { 
		    		carousel.prev();
		    	},
				preventDefaultEvents: false
			});
		}
		jQuery('#<?php echo $idJs;?> <?php echo $this->getData("container")?>')
			.addClass('<?php echo $classJsUl?>')
			.addClass('jcarousel-skin-tango')
			.jcarousel({
				<?php if ($this->getData('circular')): ?>
				wrap: 'circular',
				<?php endif ?>
				auto:<?php echo ($auto = $this->getData('auto_sliding')) ? $auto : 0;?>,
				buttonNextHTML:'<a class="next" href="javascript:void(0);" title="Next"></a>',
				buttonPrevHTML:'<a class="previous" href="javascript:void(0);" title="Previous"></a>',
				scroll:<?php echo ($scroll = $this->getData('items_per_slide')) ? $scroll : 1;?>,
				animation:'slow',
				initCallback: carouselCallBack_<?php echo $idJs;?>,
				vertical:<?php echo intval($this->getData('direction'));?>
			});
		<?php if ($w = $this->getSliderWidth()): ?>
			jQuery('#<?php echo $idJs;?> .jcarousel-clip').css({width:'<?php echo $w ?>px'});
		<?php endif ?>
		<?php if ($h = $this->getSliderHeight()): ?>
			jQuery('#<?php echo $idJs;?> .jcarousel-clip').css({height:'<?php echo $h ?>px'});
		<?php elseif($this->getData('direction')==1): ?>		
			jQuery('#<?php echo $idJs;?> .jcarousel-clip').css({height: maxHeight + 'px'});
		<?php endif ?>
	}
});
</script>
