<div class="homepg-hero skg">
    <div>
        <div class="hide-768">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-blk-fri/blk-fri-hp-a-spot-d.png"}}" alt="Free shipping" />
        </div>
        <div class="show-768">
            <img src="{{media url="wysiwyg/email-collateral/HC-EML-1611-blk-fri/blk-fri-hp-a-spot-m.png"}}" alt="Free shipping" />
        </div>
    </div>
</div>