<div class="wide-banner skg">
    <div>
        <a href="{{store direct_url="cookcool.html"}}">
        <div class="hide-768">
            <img src="{{media url="wysiwyg/home-pg/e-spots/e1-d.png"}}" alt="Shop CookCool" />
        </div>
        <div class="show-768">
            <img src="{{media url="wysiwyg/home-pg/e-spots/e1-m.png"}}" alt="Shop CookCool" />
        </div>
        </a>
    </div>
</div>

<div class="homepage-2column clearfix skg">

    <div class="homepage-2column-col1 clearfix">
        <div class="image-left">
            <a href="{{store url="aprons.html"}}">
            <div class="hide-768">
                <img src="{{media url="wysiwyg/home-pg/f-spots/f1-d.png"}}" alt="Shop aprons" />
            </div>
            <div class="show-768">
                <img src="{{media url="wysiwyg/home-pg/f-spots/f1-m.png"}}" alt="Shop aprons" />
            </div>
            </a>
        </div>
    </div>

    <div class="homepage-2column-col2 skg clearfix">
        <div class="image-right">
            <a href="{{store url="chef-shoes.html"}}">
            <div class="hide-768">
                <img src="{{media url="wysiwyg/home-pg/f-spots/f2-d.png"}}" alt="Shop shoes" />
            </div>
            <div class="show-768">
                <img src="{{media url="wysiwyg/home-pg/f-spots/f2-m.png"}}" alt="Shop shoes" />
            </div>
            </a>
        </div>
    </div>

</div>

<div class="wide-banner skg">
    <div>
        <a href="{{store direct_url="sale.html"}}">
        <div class="hide-768">
            <img src="{{media url="wysiwyg/home-pg/g-spots/g1-d.png"}}" alt="On sale" />
        </div>
        <div class="show-768">
            <img src="{{media url="wysiwyg/home-pg/g-spots/g1-m.png"}}" alt="On sale" />
        </div>
        </a>
    </div>
</div>
