<div class="wide-banner skg">
    <div>
        <a href="{{store direct_url="new-products.html"}}">
        <div class="hide-768">
            <img src="{{media url="wysiwyg/home-pg/b-spots/b1-d.png"}}" alt="New products" />
        </div>
        <div class="show-768">
            <img src="{{media url="wysiwyg/home-pg/b-spots/b1-m.png"}}" alt="New products" />
        </div>
        </a>
    </div>
</div>

<div class="homepage-2column clearfix skg">

    <div class="homepage-2column-col1 clearfix">
        <div class="image-left">
            <a href="{{store url="chef-coats-jackets.html"}}">
            <div class="hide-768">
                <img src="{{media url="wysiwyg/home-pg/c-spots/c1-d.png"}}" alt="Shop coats" />
            </div>
            <div class="show-768">
                <img src="{{media url="wysiwyg/home-pg/c-spots/c1-m.png"}}" alt="Shop coats" />
            </div>
            </a>
        </div>
    </div>

    <div class="homepage-2column-col2 skg clearfix">
        <div class="image-right">
            <a href="{{store url="chef-pants.html"}}">
            <div class="hide-768">
                <img src="{{media url="wysiwyg/home-pg/c-spots/c2-d.png"}}" alt="Shop pants" />
            </div>
            <div class="show-768">
                <img src="{{media url="wysiwyg/home-pg/c-spots/c2-m.png"}}" alt="Shop pants" />
            </div>
            </a>
        </div>
    </div>

</div>