<div class="scf skg">
    <div class="top-image">
        <a href="{{store direct_url="chef-hats.html"}}">
        <div class="hide-768">
            <img src="{{media url="wysiwyg/home-pg/d-spots/d1-d.png"}}" alt="Shop hats" />
        </div>
        <div class="show-768">
            <img src="{{media url="wysiwyg/home-pg/d-spots/d1-m.png"}}" alt="Shop hats" />
        </div>
        </a>
    </div>
</div>
