<div class="special skg" id="homepage_3column_b">
    <div class="top-image">
        <a href="{{store direct_url="shirts.html"}}">
        <div class="hide-768">
            <img src="{{media url="wysiwyg/home-pg/d-spots/d2-d.png"}}" alt="Shop shirts" />
        </div>
        <div class="show-768">
            <img src="{{media url="wysiwyg/home-pg/d-spots/d2-m.png"}}" alt="Shop shirts" />
        </div>
        </a>
    </div>
</div>