<div class="colour skg" id="homepage_3column_c">
    <div class="top-image">
        <a href="{{store direct_url="kitchen-tools.html"}}">
        <div class="hide-768">
            <img src="{{media url="wysiwyg/home-pg/d-spots/d3-d.png"}}" alt="Shop kitchen tools" />
        </div>
        <div class="show-768">
            <img src="{{media url="wysiwyg/home-pg/d-spots/d3-m.png"}}" alt="Shop kitchen tools" />
        </div>
        </a>
    </div>
</div>