<?php
$helper = Mage::helper('embroidery');
?>


<select name="product[embroidery_template_id]">
    <option value="0">Select a template...</option>
    <?php
    $templates = Mage::getModel('embroidery/template')
        ->getCollection()
        ->setOrder('sortorder', "ASC");

    foreach($templates as $template):?>
        <option value="<?php echo $template->getTemplateId(); ?>"><?php echo $template->getName(); ?></option>
    <?php endforeach; ?>
</select>
- load embroidery options from this template

<br/><br/>

<select name="product[embroidery_diagram_id]">
    <option value="0">Select a template...</option>
    <?php
    $templates = Mage::getModel('embroidery/template')
        ->getCollection()
        ->setOrder('sortorder', "ASC");

    foreach($templates as $template) {

        $selected = ($this->getAssignedTemplateId() == $template->getTemplateId()) ? "selected" : "";
    ?>
        <option value="<?php echo $template->getTemplateId(); ?>" <?php echo $selected; ?>><?php echo $template->getName(); ?></option>
    <?php } ?>
</select>
- use embroidery diagram from this template

<br/><br/>

<div class="entry-edit custom-options product-custom-options">
    <div id="dynamic-price-warrning" style="display:none">
        <ul class="messages">
            <li class="error-msg">
                <ul>
                    <li><?php echo $this->__('Bundle with dynamic pricing cannot include custom defined options. Options will not be saved') ?></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="entry-edit-head">
        <h4><?php echo $this->__('Embroidery Options');?></h4>
    </div>

    <div id="embroidery_options_container" class="box">

        <table cellspacing="0" class="form-list">
            <tbody>
        <?php foreach($this->getLocations() as $location) { ?>

            <tr>
                <td class="label" style="border-top: 1px solid #d6d6d6 !important;"><label for="location_<?php echo $location->getLocationId();?>"><?php echo $location->getName();?></label></td>
                <td class="value" style="border-top: 1px solid #d6d6d6 !important;">
                   <?php
                        $types = "";
                        $selectedTypeIds = array();
                        $selectedTypes = $this->getSelectedTypes($location->getLocationId());
                        foreach($selectedTypes as $selectedType){
                            $textLimit = "";
                            if ($selectedType->getTypeId() == 4) {
                                $productEmbroideryRecord = $this->getProductEmbroideryRecord($location->getLocationId(), $selectedType->getTypeId());
                                $textLimit = $productEmbroideryRecord->getLimit();
                            }
                            $selectedTypeIds[] = $selectedType->getTypeId();
                            $types .= ucfirst($selectedType->getTypeName())." {$textLimit}, ";
                        }
                   echo $types ? substr($types, 0, -2) : "-";
                   ?>
                </td>
                <td class="scope-label" style="text-align: right; border-top: 1px solid #d6d6d6 !important;"><span class="nobr"><a href="javascript:void(0);" class="set-embroidery-options" id="location-<?php echo $location->getLocationId();?>">Edit</a></span></td>
            </tr>
            <tr style="display: none;" class="embroidery-options" id="embroidery-options-<?php echo $location->getLocationId();?>">
                <td class="label"></td>
                <td class="value" colspan="2" style="padding: 10px 0 20px 0 !important; ">
                    <?php
                        $types = $this->getTypes();
                        foreach($types as $type){
                            $checked = ( in_array($type->getTypeId(), $selectedTypeIds) ) ? "checked" : "";
                        ?>
                            <div>
                            <input type="checkbox" name="product[embroidery_option-<?php echo $location->getLocationId();?>-<?php echo $type->getTypeId();?>]" value="1" <?php echo $checked?>> <?php echo $type->getName(); ?>
                            <?php
                            // for text embroidery show line limits
                            if ($type->getTypeId() == 4) {
                                $productEmbroideryRecord = $this->getProductEmbroideryRecord($location->getLocationId(), $type->getTypeId());
                            ?>
                                with
                                <select name="product[embroidery_text_limit-<?php echo $location->getLocationId();?>-<?php echo $type->getTypeId();?>]" style="width: inherit">
                                    <option value="">...</option>
                                    <option value="1" <?php if ($productEmbroideryRecord->getLimit() == 1) {echo "selected='selected'";} ?>>1</option>
                                    <option value="2" <?php if ($productEmbroideryRecord->getLimit() == 2) {echo "selected='selected'";} ?>>2</option>
                                    <option value="3" <?php if (!$productEmbroideryRecord->getLimit() || $productEmbroideryRecord->getLimit() == 3) {echo "selected='selected'";} ?>>3</option>
                                </select> lines
                            <?php
                            }
                            ?>
                            </div>

                    <?php }  ?>
                </td>
            </tr>


        <?php } ?>
            </tbody>
        </table>

    </div>
</div>
