<div class="row-one">
    <div class="item first"><a href="{{store direct_url="formal.html"}}"><img src="{{media url="wysiwyg/menu_normal.jpg"}}" alt="" />
      <div class="vCenter">
        <h3 class="title-more-content">FORMAL</h3>
      </div>
      </a> </div>
    <div class="item second"><a href="{{store direct_url="scrubs.html"}}"><img src="{{media url="wysiwyg/menu-scrubs-136x150.jpg"}}" alt="" />
      <div class="vCenter">
        <h3 class="title-more-content">SCRUBS</h3>
      </div>
      </a> </div>
    <div class="item third"><a href="{{store direct_url="t-shirts.html"}}"><img src="{{media url="wysiwyg/graphic-wear-136x150.jpg"}}" alt="" />
      <div class="vCenter">
        <h3 class="title-more-content">GRAPHIC WEAR</h3>
      </div>
      </a> </div>
    <div class="item fourth"><a href="{{store direct_url="shoe.html"}}"><img src="{{media url="wysiwyg/menu-shoes-136x150.jpg"}}" alt="" />
      <div class="vCenter">
        <h3 class="title-more-content">SHOES</h3>
      </div>
      </a> </div>
</div>
<div class="row-two">
    <div class="item fifth"><a href="{{store direct_url="kitchentool.html"}}"><img src="{{media url="wysiwyg/kit-tools-136x150.jpg"}}" alt="" />
      <div class="vCenter">
        <h3 class="title-more-content">KITCHEN TOOLS</h3>
      </div>
      </a> </div>
    <div class="item sixth"><a href="{{store direct_url="coordinating.html"}}"><img src="{{media url="wysiwyg/menu-coord-136x150.jpg"}}" alt="" />
      <div class="vCenter">
        <h3 class="title-more-content">COORDINATING</h3>
      </div>
      </a> </div>
    <div class="item last"><a href="{{store direct_url="chefgift.html"}}"> <img src="{{media url="wysiwyg/menu_chef_gift_136x150.jpg"}}" alt="" />
      <div class="vCenter">
        <h3 class="title-more-content">CHEF GIFTS</h3>
      </div>
      </a> </div>
</div>
