<div class="colour home-lg-vspace" id="homepage_3column_c">
<div class="top-image"><a href="{{store direct_url="whats-new"}}"><img src="{{media url="wysiwyg/home-pg/home-new-HC.jpg"}}" alt="" /></a></div>
<div class="block-title">THE NEW HAPPY CHEF</div>
<div class="block-content"><a href="{{store direct_url="whats-new"}}">Take a Quick Tour</a></div>
</div>