<?php
$helper = Mage::helper('categorycolors');
?>
<div class="entry-edit custom-options product-custom-options">
    <div id="dynamic-price-warrning" style="display:none">
        <ul class="messages">
            <li class="error-msg">
                <ul>
                    <li><?php echo $this->__('Bundle with dynamic pricing cannot include custom defined options. Options will not be saved') ?></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="entry-edit-head">
        <h4><?php echo $this->__('Category Colors');?></h4>
    </div>

    <div id="category_colors_container" class="box">

        <table cellspacing="0" class="form-list">
            <tbody>
        <?php foreach($this->getCategories() as $category) { ?>

            <tr>
                <td class="label"><label for="categorycolor_<?php echo $category->getId();?>"><?php echo $category->getName();?></label></td>
                <td class="value">
                    <select id="categorycolor_<?php echo $category->getId();?>" name="product[categorycolor_<?php echo $category->getId();?>]" class="select">
                        <option value="">-</option>
                        <?php
                            foreach($this->getColors() as $colorId => $color) {
                                $selected = ( $colorId == $this->getSelectedColor($category->getId())) ?  "selected" : "";
                            ?>
                            <option value="<?php echo $colorId; ?>" <?php echo $selected; ?>><?php echo $color; ?></option>
                        <?php } ?>
                    </select>
                </td>
                <td class="scope-label"><span class="nobr"></span></td>
            </tr>

        <?php } ?>
            </tbody>
        </table>

    </div>
</div>
