<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard
 * @version    1.0.6
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$_product = $this->getProduct();
$_id = $_product->getId();
$_storeId = $_product->getStoreId();
$_skipSaleableCheck = Mage::helper('catalog/product')->getSkipSaleableCheck();
$preconfiguredValues = $_product->getPreconfiguredValues();
?>
<script>
    //<![CDATA[
    productConfigure.AwGiftcardConfig = {};
    //]]>
</script>
<div id="catalog_product_composite_configure_fields_downloadable" class="aw-gc-form <?php echo $this->getIsLastFieldset() ? 'last-fieldset' : '' ?>">

    <?php if (!$_product->isAvailable() && !$_skipSaleableCheck): ?>
        <p class="availability out-of-stock">
            <?php echo $this->helper('catalog')->__('Availability:') ?>
            <span>
                <?php echo $this->helper('catalog')->__('Out of stock') ?>
            </span>
        </p>
    <?php endif; ?>

    <div class="product-options">
        <?php if (($_product->isSaleable() || $_skipSaleableCheck)): ?>
        <?php if (!$_product->getAwGcAllowOpenAmount() && (count($this->getAmountOptions($_product)) == 1)): ?>
            <?php $_amount = $this->getAmountOptions($_product); $_amount = array_shift($_amount); ?>
                <label>
                    <?php echo $this->__('Amount'); ?>
                </label>
                <div class="input-box">
                    <span class="regular-price">
                        <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                            <input type="hidden" value="<?php echo $_amount ?>" price="<?php echo $_amount ?>" name="aw_gc_amount" />
                            <?php echo Mage::helper('core')->currencyByStore($_amount, $_storeId, true, false); ?>
                        </span>
                    </span>
                </div>
            <?php else: ?>
            <div class="aw-gc-amount-form">
                <ul class="form-list">
                    <li class="fields">
                        <div class="field">
                            <?php if (count($this->getAmountOptions($_product)) > 0): ?>
                            <label for="aw_gc_amount" id="amount_label_select" class="required">
                                <em>*</em>
                                <?php echo $this->__('Amount'); ?>
                            </label>
                            <?php $configValue = $preconfiguredValues->getData('aw_gc_amounts');?>
                            <div class="input-box">
                                <select name="aw_gc_amount" id="aw_gc_amount" class="required-entry aw_gc-amount-entry" onchange="productConfigure.AwGiftcardConfig.switchGiftCardInputs.call(this,event||window.event)">
                                    <option value="">
                                        <?php echo $this->__('Choose an Amount...');?>
                                    </option>
                                    <?php foreach ($this->getAmountOptions($_product) as $value): ?>
                                        <option value="<?php echo $value; ?>" price="<?php echo Mage::helper('core')->currencyByStore($value, $_storeId, false) ?>" <?php echo (($configValue == $value) ? 'selected' : '')?>>
                                            <?php echo Mage::helper('core')->currencyByStore($value, $_storeId, true, false); ?>
                                        </option>
                                    <?php endforeach; ?>

                                    <?php if ($_product->getAwGcAllowOpenAmount()): ?>
                                        <option value="custom" <?php echo (($configValue == 'custom') ? 'selected' : '')?>>
                                            <?php echo $this->__('Other Amount...') ?>
                                        </option>
                                    <?php endif; ?>
                                </select>
                            </div>
                            <?php endif; ?>
                        </div>

                        <?php if ($_product->getAwGcAllowOpenAmount()): ?>
                        <div class="field" id="aw_gc_amount_input_fields">
                            <label for="aw_gc_amount_input" id="amount_label_input" class="required">
                                <em>*</em><?php echo $this->__('Amount in %s', Mage::app()->getStore($_storeId)->getCurrentCurrencyCode()); ?>
                            </label>
                            <div id="aw_gc_amount_box" class="input-box">
                                <span class="v-fix">
                                    <input type="text" id="aw_gc_amount_input" name="aw_gc_custom_amount" class="validate-number required-entry input-text aw_gc-amount-entry aw_gc-min-amount aw_gc-max-amount" value="<?php echo $this->escapeHtml($preconfiguredValues->getData('aw_gc_custom_amount')) ?>" price="<?php echo $this->escapeHtml($preconfiguredValues->getData('aw_gc_custom_amount')) ?>" onblur="this.setAttribute('price', this.value);" /></span>
                                <?php if ($_product->getAwGcOpenAmountMin() || $_product->getAwGcOpenAmountMax()): ?>
                                <?php $_minAmount = Mage::helper('core')->currency($_product->getAwGcOpenAmountMin(), true, false); ?>
                                <?php $_maxAmount = Mage::helper('core')->currency($_product->getAwGcOpenAmountMax(), true, false); ?>
                                <p class="notice">
                                    <?php if ($_product->getAwGcOpenAmountMin()): ?>
                                        <span>
                                            <?php echo $this->__('Minimum: %s', $_minAmount); ?>
                                        </span>
                                    <?php endif; ?>

                                    <?php if ($_product->getAwGcOpenAmountMax()): ?>
                                        <span>
                                            <?php echo $this->__('Maximum: %s', $_maxAmount); ?>
                                        </span>
                                    <?php endif; ?>
                                </p>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    productConfigure.AwGiftcardConfig.minAllowedAmount = <?php echo Mage::helper('core')->currencyByStore($_product->getAwGcOpenAmountMin(), $_storeId, false, false) ?>;
                                    productConfigure.AwGiftcardConfig.maxAllowedAmount = <?php echo Mage::helper('core')->currencyByStore($_product->getAwGcOpenAmountMax(), $_storeId, false, false) ?>;

                                    productConfigure.AwGiftcardConfig.parsePrice = function (value) {
                                        value = value.replace('\'', '').replace(' ', '');
                                        var separatorComa = value.indexOf(',');
                                        var separatorDot  = value.indexOf('.');

                                        if (separatorComa != -1 && separatorDot != -1) {
                                            if (separatorComa > separatorDot) {
                                                value = value.replace('.', '').replace(',', '.');
                                            } else {
                                                value = value.replace(',', '');
                                            }
                                        } else if (separatorComa != -1) {
                                            value = value.replace(',', '.');
                                        }
                                        return parseFloat(value);
                                    }

                                    Validation.add('aw_gc-min-amount', <?php echo Zend_Json::encode($this->__('Entered amount is too low')); ?>, function(v) {
                                        return (productConfigure.AwGiftcardConfig.parsePrice(v) >= productConfigure.AwGiftcardConfig.minAllowedAmount);
                                    });
                                    Validation.add('aw_gc-max-amount', <?php echo Zend_Json::encode($this->__('Entered amount is too high')); ?>, function(v) {
                                        if (productConfigure.AwGiftcardConfig.maxAllowedAmount == 0) {
                                            return true;
                                        }
                                        return (productConfigure.AwGiftcardConfig.parsePrice(v) <= productConfigure.AwGiftcardConfig.maxAllowedAmount);
                                    });
                                    //]]>
                                </script>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
                //<![CDATA[
                productConfigure.AwGiftcardConfig.switchGiftCardInputs = function () {
                    if (!$('aw_gc_amount') || !$('aw_gc_amount_input_fields')) {
                        return;
                    }

                    var customAmount = $('aw_gc_amount_input');
                    var value = $('aw_gc_amount').options[$('aw_gc_amount').selectedIndex].value;
                    if (value == 'custom') {
                        $('aw_gc_amount_input_fields').show();
                        if (customAmount) {
                            customAmount.disabled = false;
                        }
                    } else {
                        $('aw_gc_amount_input_fields').hide();
                        if (customAmount) {
                            customAmount.disabled = true;
                        }
                    }
                }

                if ($('aw_gc_amount') && $('aw_gc_amount_input_fields')) {
                    $('aw_gc_amount_input_fields').hide();
                }
                productConfigure.AwGiftcardConfig.switchGiftCardInputs();
                //]]>
            </script>
            <?php endif; ?>

        <?php echo $this->getChildHtml('product.composite.aw.giftcard.qty') ?>

        <div class="aw_gc-send-form">
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="aw_gc_sender_name" class="required">
                            <em>*</em><?php echo $this->__('Sender Name'); ?>
                        </label>
                        <div class="input-box">
                            <input type="text" id="aw_gc_sender_name" name="aw_gc_sender_name" class="required-entry input-text" value="<?php echo $this->escapeHtml($preconfiguredValues->getData('aw_gc_sender_name')) ?>" />
                        </div>
                    </div>
                    <?php if ($this->isAllowEmail($_product)): ?>
                    <div class="field">
                        <label for="aw_gc_sender_email" class="required">
                            <em>*</em><?php echo $this->__('Sender Email'); ?>
                        </label>
                        <div class="input-box">
                            <input type="text" id="aw_gc_sender_email" name="aw_gc_sender_email" class="validate-email required-entry input-text" value="<?php echo $this->escapeHtml($preconfiguredValues->getData('aw_gc_sender_email')) ?>"/>
                        </div>
                    </div>
                    <?php endif; ?>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="aw_gc_recipient_name" class="required">
                            <em>*</em><?php echo $this->__('Recipient Name'); ?></label>
                        <div class="input-box">
                            <input type="text" id="aw_gc_recipient_name" name="aw_gc_recipient_name" class="required-entry input-text" value="<?php echo $this->escapeHtml($preconfiguredValues->getData('aw_gc_recipient_name')) ?>" />
                        </div>
                    </div>
                    <?php if ($this->isAllowEmail($_product)): ?>
                    <div class="field">
                        <label for="aw_gc_recipient_email" class="required">
                            <em>*</em><?php echo $this->__('Recipient Email'); ?>
                        </label>
                        <div class="input-box">
                            <input type="text" id="aw_gc_recipient_email" name="aw_gc_recipient_email" class="validate-email required-entry input-text" value="<?php echo $this->escapeHtml($preconfiguredValues->getData('aw_gc_recipient_email')) ?>" />
                        </div>
                    </div>
                    <?php endif; ?>
                </li>
                <?php if ($this->isAllowMessage($_product)): ?>
                <li>
                    <div class="field">
                        <label for="aw_gc_message">
                            <?php echo $this->__('Message'); ?>
                        </label>
                        <div class="input-box">
                            <textarea name="aw_gc_message" id="aw_gc_message" class="input-text" cols="80" rows="8"><?php echo $this->escapeHtml($preconfiguredValues->getData('aw_gc_message')) ?></textarea>
                        </div>
                    </div>
                </li>
                <?php endif; ?>
            </ul>
        </div>
        <?php endif; ?>
    </div>
</div>