<?php
$cartReferer = Mage::helper('core/http')->getHttpReferer();
$_order = $this->getOrder();
?>

<div class="cart bettercheckout">
   <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

    <div id="orderstatus-cart-table" class="orderstatus-header-container">
         <div class="orderstatus-header-row clearfix">
             <div class="orderstatus-hdr-col orderstatus-col-image">&nbsp;</div>
             <div class="orderstatus-hdr-col orderstatus-col-item">ITEM</div>
             <div class="orderstatus-hdr-col orderstatus-col-price">UNIT PRICE</div>
             <div class="orderstatus-hdr-col orderstatus-col-qty">QTY</div>
             <div class="orderstatus-hdr-col orderstatus-col-subtotal">SUBTOTAL</div>
         </div>
         <div class="orderstatus-items-collection" id="orderstatus-items-collection">
             <?php echo $this->getChildHtml('orderstatus.items'); ?>
         </div>
    </div>

    <div class="orderstatus-pmt show-568">
        <div class="orderstatus-pmt-hdg-mob"><span>View Payment Information</span>
            <div class="si-icon-wrap vcenter">
                <svg class="si-arrow-down" viewBox="0 0 26 26">
                    <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
                </svg>
            </div>
        </div>
        <div id='orderstatus-pmt-info' class='clearfix'>
            <div class="orderstatus-billing-pmt">
                <?php
                $_pmt = $_order->getPayment();
                $_ccType = $_pmt->getCcType();
                switch ($_ccType) {
                    case 'VI':
                        $_ccTypeClass = 'visa';
                        break;
                    case 'AE':
                        $_ccTypeClass = 'amex';
                        break;
                    case 'MC':
                        $_ccTypeClass = 'mastercard';
                        break;
                    case 'DS':
                        $_ccTypeClass = 'discover';
                        break;
                }
                ?>
                <div id="cc_number" class="<?php echo $_ccTypeClass; ?>" background="url('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/css/images/credit-cards-logos-vertical.png" ?>')"></div>
                <div>xxxx-<?php echo $_pmt->getCcLast4() ?></div>
                <div>Exp: <?php echo $_pmt->getCcExpMonth() ?>/<?php echo $_pmt->getCcExpYear() ?></div>
            </div>
            <div class="orderstatus-bill-addr">
                <?php echo $_order->getBillingAddress()->getFormated('html'); ?>
            </div>
        </div>
    </div>

    <div class="orderstatus-collaterals clearfix">
        <div class="totals">
            <?php echo $this->getChildHtml('totals'); ?>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($){
        $('.orderstatus-pmt-hdg-mob').on('click', function() {
            if ($('#orderstatus-pmt-info').is(':hidden')) {
                $('#orderstatus-pmt-info').slideDown();
                if (!$('.orderstatus-pmt-hdg-mob .si-icon-wrap').hasClass('open')) {
                    $('.orderstatus-pmt-hdg-mob .si-icon-wrap').addClass('open');
                }
            } else {
                $('#orderstatus-pmt-info').slideUp();
                if ($('.orderstatus-pmt-hdg-mob .si-icon-wrap').hasClass('open')) {
                    $('.orderstatus-pmt-hdg-mob .si-icon-wrap').removeClass('open');
                }
            }
        })
    })
</script>
