<div class="cms-pg">
    <h1 class="cms-head">ORDER STATUS</h1>

    <div id="orderstatus-request">
        <div class="orderstatus-request-content">
            <p>For updates on your order, please enter the email address used to place the order and the order number you received after completing the order or via email confirmation.</p>
            <div class="orderstatus-form-wrap">
                <form name="form" id="orderstatus" novalidate action="<?php echo $this->getFormActionUrl(); ?>" method="get">
                    <div class="input-box">
                        <input id="orderstatusConfirmationNumber" name="confirmation_number" type="tel" required class="fancy-label required-entry" maxlength="50" value="" />
                        <label for="orderstatusConfirmationNumber"><span><?php echo $this->__('Order #'); ?></span></label>
                    </div>

                    <div class="input-box">
                        <input id="orderstatusEmail" name="email" type="email" required class="fancy-label validate-email required-entry" />
                        <label for="orderstatusEmail"><span><?php echo $this->__('Email'); ?></span></label>
                    </div>

                    <button type="submit" class="btn-blue btn-wide btn-tall"><?php echo $this->__('Submit'); ?></button>
                </form>
            </div>
            <div class="login-advisory">
                <span>Already have an account?</span>
                <?php if(Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                    <a class="hc-blue" href="<?php echo Mage::getBaseUrl()?>sales/order/history/">Click here</a><span> to see your order history</span>
                <?php else: ?>
                    <span class="false-link hc-blue" onclick="createSidebarSignin(this, '<?php echo Mage::getBaseUrl()?>customer/account/login/')">Sign in to see all orders</span>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
<script>
    //<![CDATA[
    var dataForm = new VarienForm('orderstatus');
    var validator = new Validation(dataForm);
    if (validator.validate()) {
        dataForm.submit();
    }
    //]]>
</script>
