<?php
    $_order = $this->getOrder();
    $showGoBack = false;

    if ($_order->getId()) {
        $statusCode = strtolower($_order->getStatus());
        $msgPrefix = "Your order";
        switch ($statusCode) {
            case ("unprocessed"):
            $msgSuffix = "is processing";
            break;
            case ("processed"):
            $msgSuffix = "has been processed";
            break;
            case ("shipped"):
            $msgSuffix = "has shipped";
            break;
            case ("magento-holded"):
            $msgSuffix = "is on hold";
            break;
            case ("canceled"):
            $msgSuffix = "has been canceled";
            break;
            default:
            $msgSuffix = "is $statusCode";
        }

        $msg = $msgPrefix . " " . $msgSuffix;

    } else {
        $msg = "Please check your Order Confirmation Number or Email and try again.";
        $showGoBack = true;
    }
?>

<div class="orderstatus-result-content">
    <div>ORDER STATUS</div>
    <div id="orderstatus-result-msg" class="orderstatus-result-msg"><h1><?php echo $msg; ?></h1></div>
    <?php if ($showGoBack): ?>
    <div class="btn-wrap">
        <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'orderstatus' ?>" class="btn-blue btn-tall btn-xtra-pad"><?php echo $this->__('Go Back'); ?></a>
    </div>
    <?php endif; ?>
    <?php if ($conf = $_order->getIncrementId()): ?>
    <div class="orderstatus-date">Order placed on <?php echo date('F j, Y', strtotime($_order->getCreatedAt())); ?> - Confirmation #<?php echo $conf; ?></div>
    <?php endif; ?>

    <?php if ($_order->getId()): ?>
    <?php
    foreach($_order->getShipmentsCollection() as $shipment) {
        /** @var $shipment Mage_Sales_Model_Order_Shipment */
        $shipDate = date('F j, Y', strtotime($shipment->getCreatedAt()));
        if ($shipDate) {
            if (!is_null($shipment->getAllTracks()[0])) {
                echo "<div class='orderstatus-ship-date'>Shipped on " . $shipDate . " via <span class='orderstatus-carrier'>" . $shipment->getAllTracks(){0}->getCarrierCode() . "</span></div>";
            } else {
                echo "<div class='orderstatus-ship-date'>Shipped on " . $shipDate . ".</div>";
            }

            foreach ($shipment->getAllTracks() as $track) {
                $trackingNumber = $track->getNumber();
                $carrierCode = $track->getCarrierCode();

                switch ($carrierCode) {

                    case 'usps':
                        $link = "https://tools.usps.com/go/TrackConfirmAction?tLabels=" . $trackingNumber;
                        break;
                    case 'ups':
                        $link = "https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=" . $trackingNumber;
                        break;
                    case 'fedex':
                        $link = "https://www.fedex.com/apps/fedextrack/?tracknumbers=" . $trackingNumber;
                        break;
                    default:
                        $link = false;
                        break;
                }

                echo "<div class='orderstatus-track'>Tracking number: <a class='hc-blue' href='" . $link . "'>" . $trackingNumber . "</a></div>";
            }
            if (Mage::helper('returns')->isOrderReturnEligible($_order)) {
                echo '<div><a class="hc-blue" href=' . $this->getUrl('returns/index/index/', array('order_id' => $_order->getId(), 'email' => $_order->getCustomerEmail())) . '>Request Return</a></div>';
            }
        }
    }
    ?>

    <div class="orderstatus-info">
        <div class="orderstatus-meta orderstatus-shipping-info">
            <div class="info-hdg">Shipping Address</div>
            <div class="orderstatus-ship-addr">
                <?php echo $_order->getShippingAddress()->getFormated('html'); ?>
            </div>
        </div>
        <div class="orderstatus-meta orderstatus-billing-info">
            <div class="info-hdg">Payment Information</div>
            <div class="orderstatus-billing-pmt">
                <?php
                $_pmt = $_order->getPayment();
                $_ccType = $_pmt->getCcType();
                switch ($_ccType) {
                    case 'VI':
                        $_ccTypeClass = 'visa';
                        break;
                    case 'AE':
                        $_ccTypeClass = 'amex';
                        break;
                    case 'MC':
                        $_ccTypeClass = 'mastercard';
                        break;
                    case 'DS':
                        $_ccTypeClass = 'discover';
                        break;
                }
                ?>
                <div id="cc_number" class="<?php echo $_ccTypeClass; ?>" background="url('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/css/images/credit-cards-logos-vertical.png" ?>')"></div>
                <div>xxxx-<?php echo $_pmt->getCcLast4() ?></div>
                <div>Exp: <?php echo $_pmt->getCcExpMonth() ?>/<?php echo $_pmt->getCcExpYear() ?></div>
            </div>
            <div class="orderstatus-bill-addr">
                <?php echo $_order->getBillingAddress()->getFormated('html'); ?>
            </div>
        </div>
        <div class="orderstatus-meta orderstatus-eml">
            <div class="info-hdg">Email Address</div>
            <div><?php echo $_order->getCustomerEmail(); ?></div>
        </div>
    </div>
<?php endif; ?>
</div>

<?php if ($_order->getId()): ?>
<div class="orderstatus-cart">
    <div class="orderstatus-cart-hdg hide-568"><span>Order Details</span></div>
    <div class="orderstatus-cart-hdg-mob show-568-inline-block">
        <span>View Order Details</span>
        <div class="si-icon-wrap vcenter">
            <svg class="si-arrow-down" viewBox="0 0 26 26">
                <use xlink:href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/em0080/images/icons/si-icon.svg#arrow" ?>"></use>
            </svg>
        </div>
    </div>
    <?php echo $this->getChildHtml('orderstatus.cart'); ?>
</div>

<script>
    jQuery(document).ready(function($){
        $('.orderstatus-cart-hdg-mob').on('click', function() {
            if ($('#orderstatus-cart-table').is(':hidden')) {
                $('#orderstatus-cart-table').slideDown();
                if (!$('.orderstatus-cart-hdg-mob .si-icon-wrap').hasClass('open')) {
                    $('.orderstatus-cart-hdg-mob .si-icon-wrap').addClass('open');
                }
            } else {
                $('#orderstatus-cart-table').slideUp();
                if ($('.orderstatus-cart-hdg-mob .si-icon-wrap').hasClass('open')) {
                    $('.orderstatus-cart-hdg-mob .si-icon-wrap').removeClass('open');
                }
            }
        })
    })
</script>
<?php endif; ?>
