<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.2.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
?>
<?php if (Mage::helper('advancedreviews')->confShowOrdering()): ?>
<?php if (Mage::helper('advancedreviews')->confOrderingItemsAnyoneSelected()): ?>
	<?php if (Mage::helper('advancedreviews')->checkVersion('1.4.0.0')): ?>
	<div class="pager">
		<div style="float: right;">
		<?php echo $this->__('Sort by:') ?>
			<select onchange="updateSortType(this.value)" style="width:120px;">
			<?php foreach(Mage::helper('advancedreviews')->confOrderingItemsArray() as $item): ?>
				<option value="<?php echo $item['value'] ?>"<?php if($this->isCurrentOrdering($item['value'])): ?> selected="selected"<?php endif ?>>
					<?php echo $this->__($item['label']) ?>
				</option>
			<?php endforeach ?>
			</select>
            <img id="advancedreviews-sorting-arrow" style="margin-top: 3px;" src="<?php echo $this->getSkinUrl('advancedreviews/images/sort_desc_arrow.gif') ?>" onclick="updateSortDir()">
		</div>
	</div>
	<?php else: ?>
    <table class="pager">
        <tr>
            <td class="a-right">
                <?php echo $this->__('Sort by:') ?>
                    <select onchange="updateSortType(this.value)" style="width:120px;">
                    <?php foreach(Mage::helper('advancedreviews')->confOrderingItemsArray() as $item): ?>
                        <option value="<?php echo $item['value'] ?>"<?php if($this->isCurrentOrdering($item['value'])): ?> selected="selected"<?php endif ?>>
                            <?php echo $this->__($item['label']) ?>
                        </option>
                    <?php endforeach ?>
                    </select>
                <img id="advancedreviews-sorting-arrow" style="margin-top: 3px;" src="<?php echo $this->getSkinUrl('advancedreviews/images/sort_desc_arrow.gif') ?>" onclick="updateSortDir()">
            </td>
        </tr>
    </table>
	<?php endif; ?>
<?php endif ?>
<?php endif; ?>
