<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.2.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
    $collection = $this->getCollection();
?>
<?php if($collection):?>
<?php if($collection->getSize()):?>
<?php $count_collect=count($collection);
	  $devide=(int)$count_collect;
		$inr=1;
 ?>
<?php foreach ($collection as $_review):?>

		<dd class="grid_12">  
		<div class="content_review" >
			<div class="name-review">
				<?php $_votes = $this->getRatingVotes($_review->getId());?>
				<?php if (count($_votes)): ?>
				<div class="ratings-table">
					<col width="1" />
					<col />
					<tbody>
						<?php $i=0; ?>
                  <?php $voteSum = 0; ?>
                  <?php $voteAvg = 0; ?>
                  
                  
						<?php foreach ($_votes as $_vote): ?>
                  <?php $i++; ?>	
						<tr>
                     
                     <?php $voteSum = $voteSum + $_vote->getPercent(); ?>
                     <?php $voteAvg = $voteSum / $i; ?>
						
                  <?php endforeach; ?>    
							<td>

								<div class="rating-box">
									<div class="rating" style="width:<?php echo $voteAvg ?>%;"></div>
								</div>
							</td>
							
                  <th>
                  	<div class="excel"><?php echo $_review->getTitle(); ?></div>
                  	<div class="createdDate"><?php echo $this->__('%1s',date("M d, Y", strtotime($_review->getCreatedAt())))?></div>
                  </th>
						</tr>
						 
					</tbody>
				</div>
				<?php endif; ?>
			</div>
		   <div class="body-review">
			<?php
                        $text = nl2br($this->htmlEscape(str_replace('"', '', $_review->getDetail())));
						if ($text) echo '"'.$text.'"';
			 ?>
				<div class="reviewer-name">
                    <?php

                    echo ucfirst(strtolower($this->escapeHtml($_review->getNickname())));
                    if($_review->getIsFromCustomer() || $_review->getCustomerId()){
                        echo ", verified buyer";
                    }
                    ?>
                </div>
			
			<?php
				echo $this->getChild('advancedreviews_footer')->setReviewId( $_review->getId() )->toHtml();
			?>
			</div>
		</div>
		</dd>

<?php endforeach; ?>
<?php endif;?>
<?php endif;?>
