<style>

    .snowflake {
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .happychef-giftcard-index-index .promo-bar-wrap,
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap {
        background-color:#A51E22;
        color:#ffffff;
        padding:0 110px;
        position:relative;
        margin-bottom:5px;
        text-align: center;
    }
    .promo-main-msg-l2 {font-weight:normal; font-size:20px; line-height:30px;}
    .promo-main-msg-l2 {letter-spacing: 1px; vertical-align: middle;}

    .promo-link {
        cursor:pointer;
        position: absolute;
        right: 15px;
        top:0;
        color: #ffffff;
        font-size:12px;
        text-decoration:underline;
    }
    .promo-det-copy {display:none; width:230px;}

    @media screen and (max-width:960px) {
        .promo-bar-wrap {padding:0 100px; font-size:12px;}
        #clockdiv span.vals {width: 17px;}
    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap {background-size: initial; background-position: right;}
        .promo-bar-wrap {text-align:center;}
        .promo-main-msg-l2 {margin-right:0; font-size:16px}
    }

    @media screen and (max-width:568px) {
        .promo-main-msg-l2 {font-size:12px}
    }

    @media screen and (max-width:480px) {
        .promo-link {font-size:9px; top:0; right:0; background-color:#a51e22; padding:0 5px;}
        .promo-main-msg-l2 {font-size:9px;}
        .promo-bar-wrap {padding: 0 7px;}
    }
</style>

<div class="promo-bar-wrap clearfix">
    <span class="promo-main-msg-l2"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-giftcard/snowflake.png"}}" alt="snowflake" class="snowflake" />20% OFF ALL GIFT CARDS<img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-giftcard/snowflake.png"}}" alt="snowflake" class="snowflake" /></span><br />
    <span class="ship-note" style="line-height:22px"><span style="font-weight:bold">Important Note:</span> Due to delivery carrier delays, all new orders placed may not arrive until after December 25th. Please allow an additional 2 weeks for embroidery. We apologize for the inconvenience.</span>
    <span id="promo-link" class="promo-link">SEE DETAILS</span>
</div>

<div id="promo-det-copy" class="promo-det-copy">
    Offer valid through 12/31/16. Online orders only. Discount applied at checkout.
</div>

<script>
    jQuery('#promo-link').on('click touchstart', function(e){
        e.preventDefault;
        var path = jQuery(this).attr('href');
        jQuery.fancybox({
            'padding': 20,
            'margin': 20,
            'href': '#promo-det-copy'
        });
    });
</script>
