<style>
.happychef-giftcard-index-index .promo-bar-wrap,
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap , .promo-bar-wrap a{
        /*background-color:#48A9DB;*/
        color:#ffffff;
        margin-bottom:5px;
        text-align: left;
    }
    .promo-main-msg-l2 {font-weight:normal; font-size:20px; letter-spacing: 1px; vertical-align: middle; line-height:30px; padding-left: 25%;

        background: url('{{media url="wysiwyg/promo-bar/signature-look/sitewidebanner-d.jpg"}}');
        background-repeat:no-repeat;
        /*background-size: contain;*/

    }

    .promo-link {
        cursor:pointer;
        position: absolute;
        right: 15px;
        top:0;
        padding-top: 5px;
        color: #ffffff;
        font-size:12px;
        text-decoration:underline;
    }
    .promo-det-copy {display:none; width:230px;}

    .bold {font-weight: 600;}

    @media screen and (max-width:960px) {
        .promo-bar-wrap, .promo-bar-wrap a {font-size:12px;}
        #clockdiv span.vals {width: 17px;}
        .promo-main-msg-l2 {margin-right:0; font-size:16px;}

    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap, .promo-bar-wrap a {background-size: initial; background-position: right; text-align:left;}
        .promo-link {display: none !important;}
    }

    @media screen and (max-width: 673px) {  
        .promo-main-msg-l2 {margin-right:0; font-size:14px;}
        .promo-link {color: #fff;}
    }

    @media screen and (max-width:643px) {
        .snowflake {padding-top: 8px; padding-left: 5px; padding-right: 5px; width: 15px;}
        .promo-bar-wrap, .promo-bar-wrap a{padding: 0}
    }

    @media screen and (max-width:479px) {
        .promo-link {font-size:9px; top:95px; right:120px !important; padding:5px 5px; font-size: 11px;}
        .promo-main-msg-l2 {font-size: 12px !important; padding-right: 0 !important; padding-left: 0 !important;}
        .snowflake {padding-top: 11px; padding-left: 2px; padding-right: 2px; width: 15px;}
        .promo-bar-wrap, .promo-bar-wrap a {text-align: center; padding-right: 0;}
    }

</style>

<a href="{{store direct_url="new-products.html"}}" style="text-decoration: none;">
<div class="promo-bar-wrap clearfix bg">
    <span id="promo-link" style="cursor: pointer !important;"><p class="promo-main-msg-l2"><span class="bold">SIGNATURE LOOKS FOR EVERY KITCHEN</span></p>
    <span class="promo-link">SHOP NEW PRODUCTS</span>
</div>
</span>