<style>
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap .dot {
        background-color:#ff3333;
        height:5px;
        width:5px;
        border-radius:50%;
        vertical-align:middle;
    }
    .promo-bar-wrap .mid-rule {
        border-bottom: 2px solid #ff3333;
        text-align: center;
        display:inline-block;
        padding: 0 30px;
        height:15px;
        margin-bottom:15px;
    }
    .promo-bar-wrap .mid-rule span {
        display: inline-block;
        position: relative;
        top: 0;
        padding:0 10px;
        background-color: #000000;
        vertical-align:middle;
    }
    .promo-bar-wrap {
        background-color:#000000;
        line-height:30px;
        color:#ffffff;
        padding:0 20px;
        position:relative;
        margin-bottom:5px;
    }
    .promo-main-msg-l1 {font-size:18px; font-weight:100;}
    .promo-main-msg-l1 .sm {font-size:12px; color:#bbbbbb; letter-spacing: 0;}
    .promo-main-msg-l2 {font-weight:bold; font-size:20px; margin:0 20px 0 30px;}
    .promo-main-msg-l2,
    .promo-main-msg-l1 {letter-spacing: 1px; vertical-align: middle;}
    .promo-link {color:#fffff; text-decoration:underline; font-size:10px; cursor:pointer; vertical-align: middle;}
    .promo-red {color:#cc6633;}
    .promo-det-copy {display:none; width:230px;}
    .spec-title {font-weight:bold; text-align:center; font-size:16px; margin-bottom:5px;}
    #clockdiv {float:right;}
    #clockdiv,
    #clockdiv span {display:inline-block; vertical-align: middle;}
    #clockdiv span.vals {width:23px; text-align:right; font-weight:500;}
    #clockdiv span.units {margin:0 5px; font-weight:100;}

    @media screen and (max-width:960px) {
        .promo-bar-wrap {padding:2px 10px 0; font-size:12px;}
        .promo-main-msg-l2 {display:none;}
        .promo-link {margin-left:20px;}
        .promo-det {margin: 0 0 0 20px; vertical-align:initial;}
        #clockdiv span.vals {width: 17px;}
    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap {background-size: initial; background-position: right;}
        .promo-bar-wrap {text-align:center;}
        .promo-main-msg-l1 {margin:0; font-size:18px;}
        .promo-bar-wrap {line-height:20px;}
        .promo-main-msg-l1,
        .promo-main-msg-l1 {font-size:11px;}
        .promo-main-msg-l1 {font-weight:bold; letter-spacing:1px; display:block;}
        .promo-main-msg-l2 {margin-right:0;}
        .promo-det {position:absolute; right:5px; top:2px; margin:0;}
        #clockdiv {float:none;}
        .promo-link {
            margin:0;
            position: absolute;
            right:5px;
            top:1px;
            font-size:9px;
        }

    }

    @media screen and (max-width:479px) {
    }
</style>
<div class="promo-bar-wrap clearfix">
    <span class="promo-main-msg-l1">$5 BACK <span class="sm">ON</span> EVERY $50</span>
    <span class="promo-main-msg-l2"><div class="mid-rule"><span>LAST CHANCE</span></div></span>
        <span id="promo-link" class="promo-link">SEE DETAILS</span>
        <!--img style="height:25px;" src="http://s.mmgo.io/t/bpD" alt="Time Remaining" /-->
    <span id="clockdiv">
        <span class="days vals"></span><span class="units">days</span><span class="dot"></span>
        <span class="hours vals"></span><span class="units">hr</span><span class="dot"></span>
        <span class="minutes vals"></span><span class="units">min</span><span class="dot"></span>
        <span class="seconds vals"></span><span class="units">sec</span>
        <span class="units" style="margin-left:0;">left</span>
    </span>
</div>
<div id="promo-det-copy" class="promo-det-copy">
    <div class="spec-title">Special Offer Details</div>
    For every whole increment of $50 spent per order at happychef.com between October 4, 2016 and October 31, 2016, customers will receive $5 of Happy Chef credit.
    A credit code will be sent via email to the address associated with the order after it has shipped. Codes expire March 31, 2017.
</div>

<script>
    jQuery('#promo-link').on('click touchstart', function(e){
        e.preventDefault;
        var path = jQuery(this).attr('href');
        jQuery.fancybox({
            'padding': 20,
            'margin': 20,
            'href': '#promo-det-copy'
        });
    });
</script>