<style>
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap .mid-rule {
        border-bottom: 2px solid #83a931;
        text-align: center;
        display:inline-block;
        width:100%;
        height:13px;
        margin-bottom:13px;
    }
    .promo-bar-wrap .mid-rule span {
        display: inline-block;
        position: relative;
        top: -1px;
        padding:0 10px;
        background-color: #A51E22;
        vertical-align:middle;
        line-height:23px;
    }
    .promo-bar-wrap {
        background-color:#A51E22;
        line-height:30px;
        color:#ffffff;
        padding:0 110px;
        position:relative;
        margin-bottom:5px;
    }
    .promo-main-msg-l2 {font-weight:normal; font-size:20px;}
    .promo-main-msg-l2 {letter-spacing: 1px; vertical-align: middle;}

    .promo-link {
        position: absolute;
        right: 15px;
        top:0;
        color: #ffffff;
        font-size:12px;
        text-decoration:underline;
    }
    .promo-det-copy {display:none; width:230px;}

    @media screen and (max-width:960px) {
        .promo-bar-wrap {padding:0 100px; font-size:12px;}
        #clockdiv span.vals {width: 17px;}
    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap {background-size: initial; background-position: right;}
        .promo-bar-wrap {text-align:center;}
        .promo-main-msg-l2 {margin-right:0; font-size:16px}
    }

    @media screen and (max-width:480px) {
        .promo-link {font-size:9px; top:0; background-color:#a51e22; padding:0 5px;}
        .promo-main-msg-l2 {font-size:9px;}
        .promo-bar-wrap {padding: 0 7px;}
        .promo-bar-wrap .mid-rule {text-align: left;}
        .promo-bar-wrap .mid-rule span {padding: 0 5px;}
    }
</style>

<div class="promo-bar-wrap clearfix">
    <span class="promo-main-msg-l2"><div class="mid-rule"><span>FREE SHIPPING &ndash; 3 DAYS ONLY!</span></div></span>
    <span id="promo-link" class="promo-link">SEE DETAILS</span>
</div>

<div id="promo-det-copy" class="promo-det-copy">
    <div class="spec-title">Special Offer Details</div>
    For every whole increment of $50 spent per order at happychef.com between October 4, 2016 and October 31, 2016, customers will receive $5 of Happy Chef credit.
    A credit code will be sent via email to the address associated with the order after it has shipped. Codes expire March 31, 2017.
</div>

<script>
    jQuery('#promo-link').on('click touchstart', function(e){
        e.preventDefault;
        var path = jQuery(this).attr('href');
        jQuery.fancybox({
            'padding': 20,
            'margin': 20,
            'href': '#promo-det-copy'
        });
    });
</script>
