<style>

    .snowflake {
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;        
    }
.happychef-giftcard-index-index .promo-bar-wrap,
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap , .promo-bar-wrap a{
        background-color:#48A9DB;
        color:#ffffff;
        padding:0 110px;
        position:relative;
        margin-bottom:5px;
        text-align: center;
    }
    .promo-main-msg-l2 {font-weight:normal; font-size:20px; letter-spacing: 1px; vertical-align: middle; line-height:30px;}

    .promo-link {
        cursor:pointer;
        position: absolute;
        right: 15px;
        top:0;
        padding-top: 6px;
        color: #ffffff;
        font-size:12px;
        text-decoration:underline;
    }
    .promo-det-copy {display:none; width:230px;}

    @media screen and (max-width:960px) {
        .promo-bar-wrap {padding:0 100px; font-size:12px;}
        #clockdiv span.vals {width: 17px;}
        .promo-main-msg-l2 {margin-right:0; font-size:16px}

    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap {background-size: initial; background-position: right;}
        .promo-bar-wrap {text-align:center;}
    }

    @media screen and (max-width: 673px) {
        .promo-main-msg-l2 {margin-right:0; font-size:12px; padding-right: 50px;}
    }

    @media screen and (max-width:643px) {
        .snowflake {padding-top: 8px; padding-left: 5px; padding-right: 5px; width: 15px;}
        .promo-bar-wrap {padding: 0}
    }

    @media screen and (max-width:480px) {
        .promo-link {font-size:9px; top:0; right:0; background-color:#48A9DB; padding:5px 5px;}
        .promo-main-msg-l2 {font-size:8px; padding-right: 60px;}
        .snowflake {padding-top: 10px; padding-left: 2px; padding-right: 2px; width: 10px;}
    }
</style>


<a href="{{store direct_url="sale.html"}}">
<div class="promo-bar-wrap clearfix">
    <span class="promo-main-msg-l2"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-giftcard/snowflake.png"}}" alt="snowflake" class="snowflake" />20% OFF CUSTOMER FAVORITES<img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-giftcard/snowflake.png"}}" alt="snowflake" class="snowflake" /></span><br />
    <span id="promo-link" class="promo-link">SEE DETAILS</span>
</div>
</a>

<div id="promo-det-copy" class="promo-det-copy">
     Offer valid through 12/31/16. Online orders only. Discount applied at checkout.
</div>

<script>
    jQuery('#promo-link').on('click touchstart', function(e){
        e.preventDefault;
        var path = jQuery(this).attr('href');
        jQuery.fancybox({
            'padding': 20,
            'margin': 20,
            'href': '#promo-det-copy'
        });
    });
</script>
