<style>
    .blue-promo.fancybox-wrap a.fancybox-close,
    .red-promo.fancybox-wrap a.fancybox-close {
        background: url('{{media url="wysiwyg/promo-bar/election/close-white-rnd.png"}}');
        background-repeat:no-repeat;
        background-size: contain;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
    }
</style>
<div class="promo-bar-wrap clearfix">
    <div id="detsLbl" class="dets-lbl">SEE DETAILS</div>
    <div id="dets">
        <div class="det-head">"HOLIDAY SPECIAL" DETAILS</div>
        <div class="det-copy">No exclusions. Discount applied at checkout. Online orders only. Offer valid through 12/11/16.</div>
    </div>
    <div class="headline">
        <span class="star mob-hide"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/ornament.png"}}" /></span><span class="star"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/ornament.png"}}" /></span>
        <span class="headline-main">HOLIDAY SPECIAL</span><span class="star select-show"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/ornament.png"}}" /></span>
        <span class="blue-specific">10% OFF ANY $100 PURCHASE</span>
        <span class="red-specific">$5 OFF ANY ONE PRODUCT</span>
        <span class="star"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/ornament.png"}}" /></span><span class="star mob-hide"><img src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/ornament.png"}}" /></span>
    </div>
    <div class="promo-t2">
        <div class="promo-left" onclick="applyCouponAjax('BLUE');">
            <span class="promo-main-msg-l1">10% OFF ANY $100 PURCHASE</span>
            <!--<span class="promo-main-msg-l2">SELECT</span>-->
        </div>
        <div class="or-wrap"><div class="or">OR</div></div>
        <div class="promo-right" onclick="applyCouponAjax('RED');">
            <span class="promo-main-msg-l1">$5 OFF ANY ONE PRODUCT</span>
            <!--<span class="promo-main-msg-l2">SELECT</span>-->
        </div>
    </div>
</div>
<div id="promo-confirm-blue" style="display:none;">
    <div class="promo-confirm-msg">
        <div><img class="promo-confirm-img" style="opacity:0;" src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/overlay-BLUE-d.png"}}" alt="" /><div class="ajax_loading"></div></div>
    </div>
</div>
<div id="promo-confirm-red" style="display:none;">
    <div class="promo-confirm-msg">
        <div><img class="promo-confirm-img" style="opacity:0;" src="{{media url="wysiwyg/email-collateral/HC-EML-1612-split/overlay-image-d.png"}}" alt="" /><div class="ajax_loading"></div></div>
    </div>
</div>

