<style>

    .snowflake {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;        
    }

    .bg {
        background-image: url("wysiwyg/email-collateral/HC-EML-1702-presidents-day/star-transparent-noextra.png")
    }

/*style="background-image:"{{media url="wysiwyg/email-collateral/HC-EML-1702-presidents-day/sidewidebanner-empty.png"}}"*/



.happychef-giftcard-index-index .promo-bar-wrap,
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap , .promo-bar-wrap a{
        /*background-color:#48A9DB;*/
        color:#ffffff;
        margin-bottom:5px;
        text-align: left;
    }
    .promo-main-msg-l2 {font-weight:normal; font-size:20px; letter-spacing: 1px; vertical-align: middle; line-height:40px; padding-left: 5%;

        background: url('{{media url="wysiwyg/email-collateral/HC-EML-1702-presidents-day/sidewidebanner-empty.png"}}');
        background-repeat:no-repeat;
        /*background-size: contain;*/

    }

    .promo-link {
        cursor:pointer;
        position: absolute;
        right: 15px;
        top:0;
        padding-top: 10px;
        color: #ffffff;
        font-size:12px;
        text-decoration:underline;
    }
    .promo-det-copy {display:none; width:230px;}

    .bold {font-weight: 600;}

    @media screen and (max-width:960px) {
        .promo-bar-wrap, .promo-bar-wrap a {font-size:12px;}
        #clockdiv span.vals {width: 17px;}
        .promo-main-msg-l2 {margin-right:0; font-size:16px;}

    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap, .promo-bar-wrap a {background-size: initial; background-position: right; text-align:left;}
        .promo-link {right: 65px; bottom: 550px; top: 70px; color: #000000;}
    }

    @media screen and (max-width: 673px) {  
        .promo-main-msg-l2 {margin-right:0; font-size:14px;}
        .promo-link {color: #fff;}
    }

    @media screen and (max-width:643px) {
        .snowflake {padding-top: 8px; padding-left: 5px; padding-right: 5px; width: 15px;}
        .promo-bar-wrap, .promo-bar-wrap a{padding: 0}
    }

    @media screen and (max-width:479px) {
        .promo-link {font-size:9px; top:95px; right:120px !important; padding:5px 5px; font-size: 11px;}
        .promo-main-msg-l2 {background: #104877 !important; height: 60px; height: font-size: 14px !important; padding-right: 0 !important; padding-left: 0 !important;}
        .snowflake {padding-top: 11px; padding-left: 2px; padding-right: 2px; width: 15px;}
        .promo-bar-wrap, .promo-bar-wrap a {text-align: center; padding-right: 0;}
    }

    @media screen and (max-width: 425px) {
        .promo-link {right: 180px !important;}
    }

    @media screen and (max-width: 375px) {
        .promo-link {right: 160px !important;}
    }


    @media screen and (max-width: 320px) {
        .promo-link {right: 120px !important;}
    }


</style>


<div class="promo-bar-wrap clearfix bg">
    <span id="promo-link" style="cursor: pointer !important;"><p class="promo-main-msg-l2"><span class="bold">ONE ORDER FREE</span><img src="{{media url="wysiwyg/email-collateral/HC-EML-1702-presidents-day/star-transparent-noextra.png"}}" alt="star" class="snowflake" />ENDS SUNDAY</p>
    <span class="promo-link">SEE DETAILS</span></span>
</div></span>


<div id="promo-det-copy" class="promo-det-copy">
    <div class="custom customwrap">
    <span style="width: 400px;">
    One order placed between 10:30a.m. EST on 02/20/2017 and 11:59p.m. EST on 02/26/2017 will be randomly selected to receive a full refund up to $500.

   
        <a href="{{store direct_url='rules'}}" style="display:block; margin-top:20px; text-decoration:underline; color: #000000 !important; top: 60px !important;">SEE COMPLETE RULES</a>
    </span>



    </div>
</div>


<script>
    jQuery('#promo-link').on('click', function(e){
        e.preventDefault;
        var path = jQuery(this).attr('href');
        jQuery.fancybox({
            'padding': 20,
            'margin': 20,
            'href': '#promo-det-copy'
        });
    });
</script>