<style>
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap {
        line-height:35px;
        background-color: #000000;
        margin-bottom: 5px;
    }
    .promo-bar-wrap .headline a,
    .promo-bar-wrap .headline {
        text-align:center;
        font-size:26px;
        color:#ffffff;
    }

    .promo-bar-wrap .headline a {
        text-decoration:underline;
    }
    .promo-bar-wrap .headline-main {
        margin-right:100px;
        letter-spacing:2px;
    }

    @media screen and (max-width:960px) {
        .promo-bar-wrap .headline a,
        .promo-bar-wrap .headline {
            font-size:19px;
        }
    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap .headline a,
        .promo-bar-wrap .headline {
            font-size:16px;
        }
    }

    @media screen and (max-width:568px) {
        .promo-bar-wrap .headline a,
        .promo-bar-wrap .headline {
            font-size:9px;
        }
    }
</style>
<div class="promo-bar-wrap clearfix">

    <div class="headline">
        <span class="headline-main">ALL CHEF COATS 20% OFF</span><a href="{{store direct_url="chef-coats-jackets.html"}}">SHOP NOW</a>
    </div>
</div>
