<style>
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap .mid-rule {
        border-bottom: 2px solid #50C2C3;
        text-align: center;
        display:inline-block;
        width:100%;
        height:13px;
        margin-bottom:13px;
    }
    .promo-bar-wrap .mid-rule span {
        display: inline-block;
        position: relative;
        top: -1px;
        padding:0 10px;
        background-color: #000000;
        vertical-align:middle;
        line-height:23px;
    }
    .promo-bar-wrap {
        background-color:#000000;
        line-height:30px;
        color:#ffffff;
        padding:0 10px;
        position:relative;
        margin-bottom:5px;
    }
    .promo-main-msg-l2 {font-weight:normal; font-size:20px;}
    .promo-main-msg-l2 {letter-spacing: 1px; vertical-align: middle;}

    @media screen and (max-width:960px) {
        .promo-bar-wrap {padding:0 10px; font-size:12px;}
        #clockdiv span.vals {width: 17px;}
    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap {background-size: initial; background-position: right;}
        .promo-bar-wrap {text-align:center;}
        .promo-main-msg-l2 {margin-right:0; font-size:16px}
    }

    @media screen and (max-width:568px) {
        .promo-main-msg-l2 {font-size:9px;}
        .promo-bar-wrap {padding: 0 7px;}
        .promo-bar-wrap .mid-rule span {padding: 0 5px;}
    }
</style>

<div class="promo-bar-wrap clearfix">
    <span class="promo-main-msg-l2"><div class="mid-rule"><span>CYBER MONDAY &ndash; FREE SHIPPING ENDS TONIGHT!</span></div></span>
</div>
