<style>

    .snowflake {
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;        
    }
.happychef-giftcard-index-index .promo-bar-wrap,
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap , .promo-bar-wrap a{
        background-color:#000000;
        color:#ffffff;
        /*padding:0 90px;*/
        /*position:relative;*/
        margin-bottom:5px;
        text-align: center;
    }
    .promo-main-msg-l2, .promo-main-msg-12 a{font-weight:normal; font-size:20px; letter-spacing: 1px; vertical-align: middle; line-height:30px;}

    .promo-link, .promo-link a{
        cursor:pointer;
        right: 15px;
        top: 6px; 
        color: #ffffff;
        font-size:12px;
        text-decoration:underline;
        position: absolute;
        right:20px;
    }
    .promo-det-copy {display:none; width:230px;}

    @media screen and (max-width:960px) {
        /*.promo-bar-wrap {padding:0 100px; font-size:12px;}*/
        #clockdiv span.vals {width: 17px;}
        .promo-link  {font-size: 12px;}
        .promo-bar-wrap, .promo-bar-wrap a {}

    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap {background-size: initial; background-position: right;}
        .promo-bar-wrap {text-align:center;}
        .promo-link  {font-size: 12px; top: 73px;}
        .promo-main-msg-l2 {margin-right:0; font-size:16px; padding: 0;}
    }

    @media screen and (max-width: 673px) {
        .promo-main-msg-l2 {margin-right:0; font-size:12px; padding-right: 0;}
    }

    @media screen and (max-width:643px) {
        .snowflake {padding-top: 8px; padding-left: 5px; padding-right: 5px; width: 15px;}
        .promo-bar-wrap {padding: 0}
        .promo-link{ padding-left: 20px; }
    }

    @media screen and (max-width:480px) {
        .promo-link {font-size:9px; top:0; right:0; background-color:#000000; padding:0;}
        .promo-main-msg-l2 {font-size:12px; padding: 0;}
        .promo-link {display: none;}
    }
</style>



<div class="promo-bar-wrap clearfix">
    <a href="{{store direct_url="sale.html"}}" style="text-decoration: none;">
        <span class="promo-main-msg-l2">UP TO 50% OFF SELECT URBAN STYLES</span>
        <a href="{{store direct_url="sale.html"}}"><span class="promo-link">FIND YOUR PAIR</span></a>
    </a>
</div>
