<style>

    .happychef-giftcard-index-index .promo-bar-wrap,
    .cms-index-index .promo-bar-wrap {display:none;}
    .promo-bar-wrap , .promo-bar-wrap a{
        background-color:#000000;
        color:#ffffff;
        margin-bottom:5px;
        text-align: center;
    }
    .promo-main-msg-l2, .promo-main-msg-12 a{font-weight:normal; font-size:20px; letter-spacing: 1px; vertical-align: middle; line-height:30px;}

    .promo-link, .promo-link a{
        cursor:pointer;
        right: 15px;
        top: 6px;
        color: #ffffff;
        font-size:12px;
        text-decoration:underline;
        position: absolute;
        right:20px;
    }
    .promo-det-copy {display:none; width:640px; margin:85px;}

    .fw {width:100%; margin-top:7px;}
    .fw.txt {margin: 43px 0 50px;}
    .hw.left {
        width:calc(50% - 4px);
        margin-right:4px;
        margin-top:7px;
    }
    .hw.right {
        width:calc(50% - 4px);
        margin-left:4px;
        margin-top:7px;
    }

    #popmobstatic {
        position: relative;
        z-index: 20;
        width:100%;
        background-color: #ffffff;
        display: block;
    }


    .popvideoWrapper {
        position: relative;
        /*padding-bottom: 50%; !* 16:9 *!*/
        /*padding-top: 25px;*/
        /*height: 0;*/
    }
    .popvideoWrapper video {
        /*position: absolute;*/
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #popmobstatic {
        position: relative;
        z-index: 20;
    }

    #popmobileLogoVid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .fineprint {
        margin-top:20px;
        text-align: center;
        font-size:12px;
    }

    .fineprinthdg {font-size:14px; font-weight:bold; margin-bottom:10px; padding-right: 10%; padding-left: 10%;}

    @media only screen and (max-width: 768px) {
        .promo-det-copy {width:100%; margin:0;}
    }
    /****************************************************************/
    /* VIDEO */
    /****************************************************************/




    @media screen and (max-width:960px) {
        .promo-link  {font-size: 12px;}

    }

    @media screen and (max-width:768px) {
        .promo-bar-wrap {background-size: initial; background-position: right;}
        .promo-bar-wrap {text-align:center;}
        .promo-link  {font-size: 12px; top: 73px;}
        .promo-main-msg-l2 {margin-right:0; font-size:16px; padding: 0;}
    }

    @media screen and (max-width: 673px) {
        .promo-main-msg-l2 {margin-right:0; font-size:12px; padding-right: 0;}
    }

    @media screen and (max-width:643px) {
        .promo-bar-wrap {padding: 0}
        .promo-link{ padding-left: 20px; }
    }

    @media screen and (max-width:480px) {
        .promo-link {font-size:9px; top:0; right:0; background-color:#000000; padding:0;}
        .promo-main-msg-l2 {font-size:12px; padding: 0;}
        .promo-link {display: none;}
    }

    @media screen and (max-width:479px) {

        .hw.left {
            width: 100%;
            margin-right: 0;
        }

        .hw.right {
            width: 100%;
            margin-left: 0;
        }
    }
</style>


<a id="promo-link" href="#promo-det-copy">
    <div class="promo-bar-wrap clearfix">
        <span class="promo-main-msg-l2">FREE LOGO SETUP WHEN YOU SPEND $150+</span>
        <span id="promo-link" class="promo-link">SEE DETAILS</span>
    </div>
</a>

<script>
    jQuery(document).ready(function(){
        jQuery('#promo-link').on('click', function (e) {
            e.preventDefault;
            e.stopPropagation();
            var path = jQuery(this).attr('href');
            jQuery.fancybox({
                'maxWidth': 800,
                'autoSize': false,
                'width': '95%',
                'padding': 20,
                'margin': 20,
                'href': '#promo-det-copy'
            });
        });
    });
</script>

<div id="promo-det-copy" class="promo-det-copy">


    <div class="hide-768">
        <div id="popviddesk" class="popvideoWrapper">
            <video id="poplogoVid" autoplay loop>
                <source src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-preview.mp4"}}" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="show-768">
        <div class="popvideoWrapper" id="mobstaticwrap">
            <img id="popmobstatic" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/mobile-static.png"}}" />
            <video id="popmobileLogoVid" autostart="false">
                <source src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/1080-mobile.mp4"}}" type="video/mp4">
            </video>
        </div>
    </div>
    <div>
        <img class="fw txt" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/free-logo-setup-text.png"}}" />
    </div>
    <div>
        <img class="fw" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/a1.png"}}" />
    </div>
    <div class="clearfix">
        <div>
            <img class="hw left" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/b1.png"}}" />
        </div>
        <div>
            <img class="hw right" src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo-setup/b2.png"}}" />
        </div>
    </div>
    <div class="clearfix">
        <div class="fineprint">
            <div class="fineprinthdg">The Fine Print</div>
            <p>Minimum purchase of $150 in a single order required. Valid on one logo setup only. Cannot be combined with other offers.</p>
        </div>
    </div>

    <script>
        jQuery(document).ready(function(){
            let popvideo = document.getElementById("poplogoVid");
            let popmobileVideo = document.getElementById("popmobileLogoVid");

            function popchangeVideo() {
                popvideo.src="{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-no-logo.mp4"}}";
                popvideo.loop = false;
            }

            function popchangeMobileVideo() {
                jQuery('#popmobstatic').css('visibility', 'hidden');
                popmobileVideo.play();
            }

            function popreturnVideo() {
                popvideo.src= "{{media url="wysiwyg/email-collateral/HC-EML-1705-free-logo/a-spot-preview.mp4"}}";
                popvideo.loop = true;
            }

            function popreturnMobileVideo() {
                jQuery('#popmobstatic').css('visibility', 'visible');
            }

            popvideo.addEventListener('ended', function() {
                popreturnVideo();
            });

            popmobileVideo.addEventListener('ended', function() {
                popreturnMobileVideo();
            });

            jQuery('#popmobstatic').on('click', popchangeMobileVideo);
            jQuery('#popviddesk').on('click', popchangeVideo);
        });
    </script>
</div>

