
.aw-block-title {
    background:url("../images/bkg_block-title.gif") repeat-x scroll 0 0 #E7E7E7;
    border:1px solid #E1E1E1;
    margin:11px -21px;
    padding:7px 20px;
    width:255px;
}

.aw-block-title h2 {
    color:#000333;
    font-size:14px;
    font-weight:bold;
    line-height:1.2;
}

.aw-product-details {
    margin-left:0;
    margin-top:40px;
    padding:0 0 0 13px;
}