<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Xnotif
 */
?>
<?php
if ($this->getType() == 'amxnotif/category_subscribe') {
    $productId = $this->getData('product')->getId();
    $category = true;
} else {
    $productId = Mage::registry('current_product')->getId();
    $category = false;
}
$subscribeUrl = $this->escapeHtml(Mage::helper('amxnotif')->getEmailUrl('stock'));

$product                = Mage::getModel('catalog/product')->load($productId);
$stockStatus            = Mage::helper('amstockstatus')->getCustomStockStatusText($product);
$stockItem              = Mage::getModel('cataloginventory/stock_item')->loadByProduct($product);
$stockQty               = (int) $stockItem->getData('qty');
$shipLeadTimedaysAmazon = (int) $product->getData('shipleadtimedaysamazon');

$isDropShip = false;
if($stockStatus == 'In Stock' && $stockQty == 0 && $shipLeadTimedaysAmazon == 0) {
    $isDropShip = true;
}

?>
<div class="amxnotif-block <?php if ($category) echo 'category'?>">
    <?php if(! $isDropShip) { ?>
        <div id="amxnotif-msg-<?php echo $productId ?>" class="amxnotif-msg false-link hc-blue"><?php echo $this->__('Notify me when in stock'); ?></div>
    <?php } ?>

    <div id="subcribe-<?php echo $productId ?>" class="amxnotif-form" style="display: none">
        <input type="hidden" name="product_id" value="<?php echo $productId; ?>"/>
        <input type="hidden" name="type" value="email"/>
        <?php if ($parentId = $this->getParentProductId()): ?>
        <input type="hidden" name="parent_id" value="<?php echo $parentId ?>"/>
        <?php endif; ?>
        <input type="hidden"
            name="<?php echo Mage_Core_Controller_Front_Action::PARAM_NAME_URL_ENCODED ?>"
            value="<?php echo Mage::helper('amxnotif')->getEncodedUrl() ?>"
        />

        <div class="input-box">
            <input required type="text" name="guest_email"
                   id="amxnotif_guest_email-<?php echo $productId; ?>"
                   onKeyPress="return checkIt(
                           event,
                           '<?php echo $subscribeUrl; ?>',
                           $('button-email-send-<?php echo $productId; ?>')
                           )"
                   class="fancy-label validate-email input-text" />
            <label for="amxnotif_guest_email-<?php echo $productId; ?>"><span>Email</span></label>
        </div>
        <button type="button"
            id="button-email-send-<?php echo $productId; ?>"
            class="button btn-cart amcart-ignore btn-white btn-xtall validate-email"
            onclick="send_alert_guest_email('<?php echo $subscribeUrl; ?>', this)"
            title="<?php echo $this->__('NOTIFY ME'); ?>">
            <span>
                <span><?php echo $this->__('NOTIFY ME'); ?></span>
            </span>
        </button>
    </div>
</div>