<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Xnotif
 */
if ($this->getType() == 'amxnotif/category_subscribe') {
    $productId = $this->getData('product')->getId();
} else {
    $productId = Mage::registry('current_product')->getId();
    $parentId = $this->getParentProductId();
}
?>
<p class="<?php echo $this->getHtmlClass() ?>">
    <span class="false-link hc-blue" onclick="send_alert_user_email('<?php echo $this->escapeHtml(Mage::helper('amxnotif')->getSignupUrl('stock', $productId, $parentId)) ?>')">
        Notify me when in stock
    </span>
</p>
