<?php
/**
 * @var $this Mage_Checkout_Block_Cart_Item_Renderer
 */
?>
<?php
$_item = $this->getItem();

$setting = Mage::helper('em0080settings');
$w = $setting->getImageShoppingCart_Width(100);
$h = $setting->getImageShoppingCart_Height(100);
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);

?>
<!-- new code -->
<div id="shopcart-item-<?php echo $_item->getId(); ?>" class="shopcart-item-container clearfix">

    <div class="shopcart-col shopcart-col-image">
        <?php
        $typeId = $_item->getProduct()->getTypeId();

        /****** By Astrio *****/
        $image_product = $_item->getProduct();

        if ($_item->getProduct()->isConfigurable()) {
            $eavConfig = Mage::getSingleton('eav/config');
            $productTypeConfigurable = Mage::getModel('catalog/product_type_configurable');
            $productTypeConfigurable->setProduct($_item->getProduct());
            $configurableSimpleCollection = $productTypeConfigurable->getUsedProductCollection()->addFilterByRequiredOptions();
            $option = $_item->getOptionByCode('attributes');

            if ($option instanceof Mage_Sales_Model_Quote_Item_Option) {
                if ($configurableAttributes = $option->getValue()) {
                    $configurableAttributes = unserialize($configurableAttributes);
                    foreach ($configurableAttributes as $attributeId => $optionId) {
                        $configurableSimpleCollection->addAttributeToFilter($attributeId, $optionId);
                    }

                    $configurableSimpleCollection->addAttributeToSelect(array('image', 'thumbnail', 'small_image'));

                    $configurableSimpleCollection->setPageSize(1);
                    if ($configurableSimpleCollection->count()) {
                        $image_product = $configurableSimpleCollection->getFirstItem();
                    }
                }
            }
        }
        ?>

        <?php if ($typeId != "aw_giftcard"): ?>
            <div class="image-product shopcart-item-image">
                <?php if ($this->hasProductUrl()): ?>
                    <a href="<?php echo $this->getProductUrl() ?>"
                       title="<?php echo $this->escapeHtml($this->getProductName()) ?>" class="product-image"><img
                            src="<?php if ($typeId != "configurable") {
                                echo $this->getProductThumbnail()->resize($w, $h)->setWatermarkSize('30x10');
                            } else {
                                echo Mage::helper('catalog/image')->init($image_product, 'small_image')->resize($w, $h)->setWatermarkSize('30x10');
                            } ?>" width="<?php echo $w ?>"
                            alt="<?php echo $this->escapeHtml($this->getProductName()) ?>"/></a>
                <?php endif; ?>
            </div>
        <?php else: ?>
            <div class="image-product shopcart-item-image">
                <?php if ($this->hasProductUrl()): ?>
                <a href="<?php echo $this->getProductUrl() ?>"
                   title="<?php echo $this->escapeHtml($this->getProductName()) ?>" class="product-image gift-card">
                    <?php endif; ?>
                    <img
                        src="<?php echo $_item->getIsVirtual() ? $this->getProductThumbnail() : $_item->getBuyRequest()->getGiftcardDesign(); ?>"
                        width="<?php echo $w ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>"/>
                    <?php if ($this->hasProductUrl()): ?>
                </a>
            <?php endif; ?>
            </div>
        <?php endif; ?>
    </div>
    <!-- END bundle1 -->
    <div class="shopcart-cols-container">
        <div class="shopcart-col shopcart-col-item">
            <div
                class="<?php echo ($typeId == "aw_giftcard") ? "product-name-giftcard" : "product-name"; ?> extra-accent-text">
                <?php if ($this->hasProductUrl()): ?>
                    <a href="<?php echo $this->getProductUrl() ?>"><?php echo $this->escapeHtml($this->getProductName()) ?></a>
                <?php else: ?>
                    <?php echo $this->escapeHtml($this->getProductName()) ?>
                <?php endif; ?>
            </div>

            <div class="product-sku accent-text">
                <?php
                $children = $_item->getChildren();
                $simpleItem = ($_item->getProductType() == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE) ? reset($children) : $_item;

                if ($typeId != "aw_giftcard"){
                    echo "#" . $_item->getProduct()->getData('model');
                }
                ?>
            </div>

            <?php
            if($_item->getProduct()->getCustomOption('info_buyRequest')) {
                $infoBuyRequestValue = $_item->getProduct()->getCustomOption('info_buyRequest')->getValue();
                $optionArray = unserialize($infoBuyRequestValue);
                $superAttributes = $optionArray["super_attribute"];
                foreach((array) $superAttributes as $superAttribute => $superValue) {
                    $attr = Mage::getModel('catalog/resource_eav_attribute')->load($superAttribute);
                    echo "<div>".ucwords($attr->getFrontend()->getLabel()).": <span class='cart-item-attribute'>". $attr->getSource()->getOptionText($superValue)."</span></div>";
                }
	    }
            ?>

            <?php echo $this->getLayout()->createBlock('core/template')->setData('orderItem', $this)->setData('cartItem', '')->setTemplate('customoptions/embroiderytool.phtml')->toHtml(); ?>

            <?php if ($typeId != "aw_giftcard") : ?>
            <div id="cart-stock-status-<?php echo $_item->getId() ?>">
                <?php echo $this->getLayout()->createBlock('core/template')->setData('orderItem', $this)->setData('itemProduct', $image_product)->setTemplate('ripen/bettercheckout/cart/item/stockstatus.phtml')->toHtml(); ?>
            </div>
            <?php endif; ?>

            <?php $addInfoBlock = $this->getProductAdditionalInformationBlock(); ?>

            <?php if ($addInfoBlock): ?>
                <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
            <?php endif; ?>

            <?php if ($isVisibleProduct): ?>

                <!-- New Embroidery -->
                <?php if($_item->getProduct()->hasEmbroidery()): ?>
                    <div id="bind-embroidery-<?php echo $_item->getId();?>" class="bind-embroidery-cart">
                        <!--pre data-bind="text: ko.toJSON($data.isDataSaved(), null, 4)"></pre-->
                        <input type="hidden" id="product-embroidery-options-<?php echo $_item->getId(); ?>" name="product-embroidery-options" value="">
                        <input type="hidden" id="product-id-<?php echo $_item->getId(); ?>" value="<?php echo $this->getProduct()->getId(); ?>">

                        <?php
                        $block = $this->getLayout()
                            ->createBlock('embroidery/embroidery','embroidery',
                                array('template' => 'ripen/embroidery/embroidery.phtml'));

                        $block->setProductId($_item->getProduct()->getId());
                        $block->setQuoteItemId($_item->getId());
                        echo $block->setBlockId('embroidery')->toHtml();

                        ?>
                        <div>Embroidery:
                            <span data-bind="if: !$root.isEmbroiderySetForProduct()">
                                <span class="open-cart-embroidery cart-item-attribute" id="addEmbroidery-<?php echo $_item->getProduct()->getId();?>-<?php echo $_item->getId();?>" data-bind="click: function(){ $root.loadTypes(); $root.isOpen(true)}">Add Your Name</span>
                            </span>
                            <span style="white-space:nowrap" data-bind="if: $root.isEmbroiderySetForProduct()">
                                <span class="open-cart-embroidery cart-item-attribute" id="previewEmbroidery-<?php echo $_item->getProduct()->getId();?>-<?php echo $_item->getId();?>" data-bind="click: function(){$root.loadSummary(); $root.isOpen(true)}">View</span><span class="remove-cart-embroidery cart-item-attribute" id="removeEmbroidery-<?php echo $_item->getProduct()->getId();?>-<?php echo $_item->getId();?>" data-bind="if: $root.isEmbroiderySetForProduct(), click: function(){$root.removeEmbroidery()}">Remove</span>
                            </span>
                        </div>

                        <ul class="shopcart-action-links">
                            <li>
<!--                                <a href="--><?php //echo $this->getConfigureUrl() ?><!--" title="--><?php //echo $this->__('Edit Item') ?><!--">--><?php //echo $this->__('Edit Item') ?><!--</a>-->
                                <a onclick="createSidebarEdit('<?php echo $this->getConfigureUrl() ?>')" title="<?php echo $this->__('Edit Item') ?>"><?php echo $this->__('Edit Item') ?></a>
                            </li>
                            <li>
                                <a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove Item') ?>"><?php echo $this->__('Remove Item') ?></a>
                            </li>
                        </ul>
                        <div class="cart-embroidery-message" id="cart-embroidery-message-<?php echo $_item->getId(); ?>" data-bind="if: $root.isEmbroiderySetForProduct(), style: {display: $root.isEmbroiderySetForProduct() == true ? 'block' : 'none'}"><?php echo $this->helper('embroidery')->getEmbroideryDisclaimer($_item->hasEmbroiderySaved(), $_item->hasLogoEmbroideryWithoutSetup()); ?></div>

                    </div>

                <?php else: ?>

                <!-- End New Embroidery -->

                <ul class="shopcart-action-links">
                    <li>
<!--                        <a href="--><?php //echo $this->getConfigureUrl() ?><!--" title="--><?php //echo $this->__('Edit Item') ?><!--">--><?php //echo $this->__('Edit Item') ?><!--</a>-->
                        <a onclick="createSidebarEdit('<?php echo $this->getConfigureUrl() ?>')" title="<?php echo $this->__('Edit Item') ?>"><?php echo $this->__('Edit Item') ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove Item') ?>"><?php echo $this->__('Remove Item') ?></a>
                    </li>
                </ul>

            <?php endif; ?>

        </div>
        <!-- END bundle2 -->
        <?php endif; ?>

        <!--div class="bundleGroup"-->
        <div class="shopcart-col shopcart-col-price">
            <?php if ($canApplyMsrp): ?>
                <div
                    class="shopcart-item-price" <?php if ($this->helper('tax')->displayCartBothPrices()): ?> colspan="2"<?php endif; ?>>
                    <span class="cart-price cart-item-price"  id="cart-item-price-<?php echo $_item->getId(); ?>">
                        <span
                            class="cart-msrp-unit"><?php echo $this->__('See price before order confirmation.'); ?></span>
                        <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                        <a id="<?php echo $helpLinkId ?>" href="#"
                           class="map-help-link"><?php echo $this->__("What's this?"); ?></a>
                        <script type="text/javascript">
                            Catalog.Map.addHelpLink($('<?php echo $helpLinkId ?>'), "<?php echo $this->__("What's this?") ?>");
                        </script>
                    </span>
                </div>
            <?php else: ?>
                <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                    <div class="shopcart-item-price">
                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                            <span class="cart-tax-total"
                                  onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');"></span>
                        <?php else: ?>
                        <span class="cart-price cart-item-price" id="cart-item-price-<?php echo $_item->getId(); ?>">
                      <?php endif; ?>

                      <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                          <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice() + $_item->getWeeeTaxAppliedAmount() + $_item->getWeeeTaxDisposition()); ?>
                      <?php else: ?>
                          <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
                      <?php endif; ?>
                        </span>

                        <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                            <div class="cart-tax-info" id="eunit-item-tax-details<?php echo $_item->getId(); ?>"
                                 style="display:none;">
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php echo Mage::helper('checkout')->formatPrice($tax['amount'], true, true); ?></span>
                                    <?php endforeach; ?>
                                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php echo Mage::helper('checkout')->formatPrice($tax['amount'], true, true); ?></span>
                                    <?php endforeach; ?>
                                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php echo Mage::helper('checkout')->formatPrice($tax['amount'], true, true); ?></span>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>

                            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <div class="cart-tax-total"
                                     onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                    <span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>
                                        : <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice() + $_item->getWeeeTaxAppliedAmount() + $_item->getWeeeTaxDisposition()); ?></span>
                                </div>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>

                <!-- inclusive price starts here -->
                <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                    <div class="shopcart-item-price">
                        <div class="shopcart-header shopcart-header-price"><?php echo $this->__('Unit Price') ?></div>
                        <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-tax-total"
                              onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                      <?php else: ?>
                            <span class="cart-price cart-item-price" id="cart-item-price-<?php echo $_item->getId(); ?>">
                      <?php endif; ?>
                      <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                          <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?>
                      <?php else: ?>
                          <?php echo $this->helper('checkout')->formatPrice($_incl - $_item->getWeeeTaxDisposition()) ?>
                      <?php endif; ?>
                         </span>

                            <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                <div class="cart-tax-info" id="unit-item-tax-details<?php echo $_item->getId(); ?>"
                                     style="display:none;">
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="weee"><?php echo $tax['title']; ?>
                                                : <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'], true, true); ?></span>
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="weee"><?php echo $tax['title']; ?>
                                                : <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'], true, true); ?></span>
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="weee"><?php echo $tax['title']; ?>
                                                : <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'], true, true); ?></span>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </div>

                         <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <div class="cart-tax-total"
                                         onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                        <span class="weee"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>
                                            : <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?></span>
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        </div>
        <!-- END bundle3 -->

        <div class="shopcart-col shopcart-col-qty">
            <div class="shopcart-item-qty">
                <?php $cap = 10; ?>

                <input class="cart-qty-cap" type="hidden" id="cart-<?php echo $_item->getId() ?>-qty-cap" value="<?php echo $cap;?>">

                <div class="cart-item-qty-input" id="cart-<?php echo $_item->getId() ?>-item-qty-input">
                    <input type='button' value='-' class='qtymin' field='quantity'>
                    <input type="tel" name="cart[<?php echo $_item->getId() ?>][qty]"  id="cart-<?php echo $_item->getId() ?>-qty" value="<?php echo $this->getQty() ?>" maxlength="4" pattern="[0-9]*"
                           title="<?php echo $this->__('Qty') ?>" class="input-text qty"  min="1" max="9999" onfocus="this.value=''" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onclick="this.select();"/>
                    <input type='button' value='+' class='qtyplus' field='quantity'>
                </div>

            </div>
        </div>
        <!-- END bundle4 -->

        <!--Sub total starts here -->
        <div class="shopcart-col shopcart-col-subtotal">
            <?php if (($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()) && !$_item->getNoSubtotal()): ?>
                <div class="shopcart-item-totals">

                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <span class="cart-tax-total"
                          onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                   <?php else: ?>
                        <span class="cart-price cart-item-total-price" id="cart-item-total-price-<?php echo $_item->getId(); ?>">
                   <?php endif; ?>

                            <?php if ($canApplyMsrp): ?>
                                <span class="cart-msrp-subtotal">--</span>
                            <?php else: ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal() + $_item->getWeeeTaxAppliedRowAmount() + $_item->getWeeeTaxRowDisposition()); ?>
                                <?php else: ?>
                                    <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
                                <?php endif; ?>
                            <?php endif; ?>
                      </span>

                        <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                            <div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>"
                                 style="display:none;">
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span>
                                    <?php endforeach; ?>
                                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span>
                                    <?php endforeach; ?>
                                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>

                      <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <div class="cart-tax-total"
                                     onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                    <span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>
                                        : <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal() + $_item->getWeeeTaxAppliedRowAmount() + $_item->getWeeeTaxRowDisposition()); ?></span>
                                </div>
                            <?php endif; ?>
                        <?php endif; ?>
                </div>
            <?php endif; ?>
        </div>
        <!-- END bundle5 -->
    </div>
</div>

