/* @override 
	http://bkwld.dev/css/master.css
	http://bkwld3.bkwlddev.com/css/master.css
	http://bkwld.com/css/master.css
*/

/* The line-height: 0.1em;'s are for IE 6
   they don't care about height, but set it
   as the 12px default for the font size.
   
   So you have to make it small. */

@import "/css/reset.css";

/* Don't let your underwear show! */
body { background-color: #fff; }

a:hover {
	color: #333;
}

#wrapper {
	width: 1100px;
	margin: 0 auto;
}

/* Footer */
h1#bkwld {
	/*background: url('/images/global/bkwld.gif') no-repeat;*/
	float: left;
	font: 10px/0.1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #4d4d4d;
}
#footer {
	clear: both;
	border-top: 10px solid #ccc;
	margin: 10px 0 0; padding: 23px 0 40px;
}
#footer ul {
	float: right;
}

/* Titles */
/* TODO: Remove the text-indents and put them into 1 selector */
#title_wws,
#title_buk_life,
#title_buk_blog,
#title_our_homes,
#title_about,
#title_our_story,
#title_news,
#title_work,
#title_expertise,
#title_contact,
#title_case_study,
#title_related_work,
#title_loving_these,
#title_categories,
#title_buks_and_does,
#title_archives,
#title_leadership {
	text-indent: -9999em;
}

#title_wws {
	background: url('/images/titles/what_were_saying.gif') no-repeat;
	width: 273px; height: 18px;
}
#title_buk_life {
	background: url('/images/titles/buk_life.gif') no-repeat;
	width: 169px; height: 101px;
}
#title_buk_blog {
	background: url('/images/titles/buk_blog.gif') no-repeat;
	width: 176px; height: 96px;
}
#title_our_homes {
	background: url('/images/titles/our_homes.gif') no-repeat;
	width: 153px; height: 76px;
}
#title_about {
	background: url('/images/titles/about.gif') no-repeat;
	width: 111px; height: 23px;
}
#title_our_story {
	background: url('/images/titles/our_story.gif') no-repeat;
	width: 146px; height: 23px;
}
#title_news {
	background: url('/images/titles/news.gif') no-repeat;
	width: 98px; height: 23px;
}
#title_work {
	background: url('/images/titles/work.gif') no-repeat;
	width: 178px; height: 23px;
}
#title_expertise {
	background: url('/images/titles/expertise.gif') no-repeat;
	width: 168px; height: 23px;
}
#title_contact {
	background: url('/images/titles/contact.gif') no-repeat;
	width: 178px; height: 23px;
}
#title_case_study {
	background: url('/images/titles/case_study.gif') no-repeat;
	width: 157px; height: 17px;
}
#title_related_work {
	background: url('/images/titles/related_work.gif') no-repeat;
	width: 113px; height: 47px;
}
#title_loving_these {
	background: url('/images/titles/loving_these.gif') no-repeat;
	width: 122px; height: 13px;
}
#title_categories {
	background: url('/images/titles/categories.gif') no-repeat;
	width: 122px; height: 13px;
}
#title_buks_and_does {
	background: url('/images/titles/buks_and_does.gif') no-repeat;
	width: 122px; height: 13px;
}
#title_archives {
	background: url('/images/titles/archives.gif') no-repeat;
	width: 86px; height: 13px;
}
#title_leadership {
	background: url('/images/titles/leadership.gif') no-repeat;
	width: 157px; height: 17px;
	margin: 35px 0 0;
}

/* Header */
#header { padding: 0 0 65px; }
#p_home #header { padding-bottom: 0; }
#p_our_work.project #header, #p_our_work.selected #header {
	padding-bottom: 43px;
}
#header h1 {
	background: #333;
	width: 160px; height: 80px;
	float: left;
	color: #fff;
}
#header h1 a {
	background: transparent url('/images/global/logo.gif') no-repeat 16px 43px;
	width: 160px; height: 80px;
	display: block;
	text-indent: -9999em;
}
#header h1 a:hover {
	background-color: #292929;
}
#header h1 a:active {
	background-color: transparent;
}

/* Navigation */
#header ul { padding: 23px 0 0; float: right; }
#header li, #footer li {
	height: 7px;
	padding: 0 30px;
	float: left;
}
#header li a, #footer li a {
	background-position: 0 50%;
	background-repeat: no-repeat;
	text-decoration: none;
	display: block;
	height: 7px;
	text-indent: -9999em;
	line-height: 0;
}
#header li a {
	padding: 20px 0;
}
#header li a:hover, #footer li a:hover {
	background-position: 100% 50%;
}

/* Navigation Items */
.n_our_work, .n_our_work a {
	width: 59px;
}
.n_our_work a {	background: url('/images/global/navigation/our_work.gif'); }

.n_expertise, .n_expertise a {
	width: 56px;
}
.n_expertise a { background: url('/images/global/navigation/expertise.gif'); }

.n_about, .n_about a {
	width: 37px;
}
.n_about a { background: url('/images/global/navigation/about.gif'); }

.n_news, .n_news a {
	width: 31px;
}
.n_news a {	background: url('/images/global/navigation/news.gif'); }

.n_buk_life, .n_buk_life a {
	width: 46px;
}
.n_buk_life a {	background: url('/images/global/navigation/buk_life.gif'); }

.n_blog, .n_blog a {
	width: 29px;
}
.n_blog a {	background: url('/images/global/navigation/blog.gif'); }

.n_contact, .n_contact a {
	width: 50px;
}
.n_contact a { background: url('/images/global/navigation/contact.gif'); }
.n_contact { padding-right: 0 !important; }

#p_contact .n_contact a,
#p_blog .n_blog a,
#p_buk_life .n_buk_life a,
#p_life .n_buk_life a,
#p_news .n_news a,
#p_blog .n_blog a,
#p_blog .n_buk_life a,
#p_about .n_about a,
#p_expertise .n_expertise a,
#p_our_work .n_our_work a {
	background-position: 100% 50%;
}

/* Latest Launches */
#latest_launches {
	line-height: 0;
	min-height: 470px;
}

#latest_launches div.feature {
	float: left;
	height: 300px;
	overflow: hidden;
	width: 380px;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
#latest_launches img {
	float: left;
	margin-top: 15px;
}
#latest_launches div.content {
	margin-left: 60px;
}

#latest_launches h3 {
	font: 13px Helvetica, Arial, sans-serif;
	display: block;
}
#latest_launches h2 {
	margin-top: 5px;
	font-size: 24px;
	color: #00ace8;
	margin-bottom: 7px;
	position: relative;
	left: -1px;
}
#latest_launches p {
	font-size: 14px;
	margin-bottom: 15px;
	line-height: 22px;
}
#latest_launches p a {
	display: block;
	width: 107px;
	height: 19px;
	text-indent: -9999px;
	margin-bottom: 1px;
}
#latest_launches p a.case_study {
	background-image: url(/images/buttons/view_case_study.gif);
}
#latest_launches p a.launch {
	background-image: url(/images/buttons/launch.gif);
}
#latest_launches p a:hover {
	background-position: 0 -19px;
}

/* Recent News */
#recent_news {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0 0 30px; padding: 30px 0;
}
.article {
	margin: 0 20px 0 0;
	width: 225px;
	float: left;
}
.article.last { margin: 0; }
.article img {
	border: 2px solid #ccc;
}
.article h2 { padding: 0 0 3px; }
.article h2, .article h2 a {
	text-decoration: none;
	font: normal 16px Georgia, serif;
	color: #00a7e5;
}
.article h2 a:hover {
	color: #333;
}
.article .preview {
	line-height: 0;
	padding: 0 0 16px;
}
.article .content {
	padding: 0 4px;
}
	
.more-news {
	padding: 30px 0 0;
}
.more-news a {
	background: url('/images/buttons/more_news.gif') no-repeat top left;
	width: 86px; height: 19px;
	text-indent: -9999em;
	float: right;
}
.more-news a:hover {
	background-position: -86px;
}

/* What We're Saying */
#what_were_saying { 
	margin: 0 0 30px;
	position: relative;
}
#what_were_saying .top {
	padding: 14px 0 10px;
}
/*.back_arrow {
	background: url('/images/arrows.gif') no-repeat top left;
	width: 38px; height: 38px;
	text-indent: -9999em;
	position: absolute;
	left: 0;
	top: 130px;
}
*//*.back_arrow:hover, .left_arrow a:hover {
	background-position: left -38px;
}*/
/*.next_arrow {
	background: url('/images/arrows.gif') no-repeat top right;
	width: 38px; height: 38px;
	text-indent: -9999em;
	position: absolute;
	top: 130px;
	left: 922px;
}*/
/*.next_arrow:hover, .right_arrow a:hover {
	background-position: right -38px;
}*/
.top a {
	background: url(/images/buttons/buk_blog.gif) no-repeat;
	width: 101px; height: 46px;
	float: right;
	margin: -9px 0 0;
	text-indent: -9999em;
}
.top a:hover {
	background: url(/images/buttons/buk_blog.gif) no-repeat -101px;
}

/* Statement */
#statements {
	width: 825px; 
	height: 180px;
	overflow: hidden;
	margin: 0 0 20px;
	position: relative;
	left: 65px;
}
#statements .overflow {
	width: 100000px;
	position: relative;
}
.statement {
	width: 405px;
	float: left;
	border-right: 1px solid #ccc;
	margin: 0 30px 0 0; padding: 0 0 10px;
}
.statement .author {
	width: 150px;
	float: left;
}
.statement .content {
	width: 215px;
	float: left;
	padding: 2px 20px;
}
.statement .content h2 {
	padding: 0 0 2px;
}
.statement .content h2, .statement .content h2 a {
	font: normal 16px Georgia, serif;
}
statement .content h2 {
	color: #00a7e5;
}
.statement .content p {
	padding: 10px 0 0;
}

/* Meet Us */
#meet_us { 
	padding: 0 60px 10px 0;
	text-align: center;
}
#meet_us ul {
	display: inline-block;
}
#meet_us li {
	height: 40px;
	margin: 0 1px;
	float: left;
}
.meet_all a {
	background: url('/images/buttons/meet_all.gif') no-repeat top left;
	width: 145px; height: 40px;
	text-indent: -9999px;
	display: block;
}
.meet_all a:hover {
	background-position: -145px;
}

/* Buk Life */
#buk_life {
	border-bottom: 1px solid #ccc;
	margin: 0 0 30px;
	padding: 0 0 44px;
	background-repeat: no-repeat;
	background-position: right;
}
#buk_life .content {
	width: 210px;
	float: left;
	padding: 0 35px 0 0;
}

#buk_life #members {
	width: 715px;
	float: left;
}
#buk_life li {
	margin: 0 6px 6px 0;
	float: left;
	line-height: 0;
}
#buk_life li.last { margin: 0 !important; }

#p_buk_life .buk_member {
	width: 600px; height: 426px;
	margin-right: 0 !important;
}
#p_buk_life #buk_life .content {
}

#buk_life #title_buk_blog {
}

/* Our Homes */
#our_homes {
	border-top: 1px solid #ccc;
	padding: 40px 0 30px;
}
#our_homes .content {
	width: 202px;
	padding: 130px 0 0 22px;
	border-right: 1px solid #ccc;
	float: left;
	min-height: 284px;
	height: auto !important;
	height: 284px;
}
#our_homes h3 {
	font: normal 16px Georgia, serif;
	color: #333;
	padding: 7px 0 0;
}
#sacramento {
	float: left;
	padding-left: 20px;
}
#seattle {
	float: left;
	padding-left: 25px;
}

#our_homes .photos {
	display: block;
	width: 345px;
	height: 345px;
	overflow: hidden;
	cursor: pointer;
}

div.qtip p {
	font: 10px Helvetica, Arial, sans-serif;
	font-size: 11px;
}

div.qtip p.name {
	color: #00A7E5;
	text-transform: uppercase;
	font-weight: bold;
}


/* About */
#page_title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 24px;
}
#p_our_work.project #page_title, #p_our_work.selected #page_title {
	padding-bottom: 20px;
}
#our_story {
	padding: 34px 0 27px;
}
#our_story h2 {
	padding: 0 0 19px;
}
#about_info {
	border-bottom: 1px solid #ccc;
	padding: 37px 0;
}
#about_info ul {
	font: 40px/45px Georgia, serif;
	color: #ccc;
}
#about_info em {
	font-style: normal;
	color: #00a7e5;
}


/* News */

.news .thumbnail {
	width: 456px; height: 246px;
	float: left;
	margin: 0 20px 0 0;
}
#news_items {
	padding-bottom: 26px;
}
.news .thumbnail img {
	border: 2px solid #ccc;
}
.news {
	padding: 40px 0;
	border-bottom: 1px solid #ccc;
}
.news .story {
	width: 450px; 
	min-height: 246px;
	float: left;
	border-left: 1px solid #ccc;
	padding: 0 0 0 20px;
}
.news .story h2 {
	font: bold 13px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #333;
	padding: 0 0 25px;
}
.news .story h3 {
	font: normal 13px Georgia, serif;
	color: #00a7e5;
	padding: 25px 0 0;
}
.news .story h1 { padding: 0 0 3px; }
.news .story h1, .news .story h1 a, .news .story h1 a:hover, #news_item h1 {
	font: normal 16px Georgia, serif;
}
.news .story h1, #news_item h1 {
	color: #00a7e5;
}


.news .story p {
	font: normal 13px/20px Georgia, serif;
	color: #666;
	margin-bottom: 20px;
}
.news .story li {
	font: normal 13px/20px Georgia, serif;
	list-style-type: disc;
	margin-left: 16px;
}
.news .story ul {
	margin-top: -15px;
	margin-bottom: 20px;
}
#news_images, #news_story { float: left; }
#news_story.story { height: auto; }
#news_images li { margin-bottom: 20px; }
#news_images .thumbnail { 
	height: auto;
	border: 0;
	margin-right: 24px;
}
#news_images .thumbnail img { border: 2px solid #ccc; }
#news_images .thumbnail p { font-style: italic; }
#news_images li { float: none; }

/* --------------------
 * Paginate
 * -------------------- */
.paginate {
	position: relative;
	float: right;
	top: -3px;
}
.paginate ul {
	float: right;
}
.paginate li {
	margin: 0 3px;
	float: left;
	font: normal 11px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
.paginate li a {
	display: block;
	padding: 3px 6px;
	border: 1px solid #ccc;
}
.paginate li a:hover {
	background: #00a7e5;
	color: #fff;
	display: block;
	padding: 3px 6px;
	border: 1px solid #00a7e5;
}
.paginate .current a {
	background: #00a7e5;
	color: #fff;
	display: block;
	padding: 3px 6px;
	border: 1px solid #00a7e5;
}
.paginate .previous a {
	background: #fff url('/images/misc/blue_left.gif') no-repeat left center;
	color: #00a7e5;
	display: block;
	padding: 3px 6px 3px 15px;
	border: 1px solid #ccc;
}
.paginate .previous a:hover {
	background: #00a7e5 url('/images/misc/white_left.gif') no-repeat left center;
	color: #fff;
	display: block;
	padding: 3px 6px 3px 15px;
	border: 1px solid #00a7e5;
}
.paginate .next a {
	background: #fff url('/images/misc/blue_right.gif') no-repeat right center;
	color: #00a7e5;
	display: block;
	padding: 3px 15px 3px 6px;
	border: 1px solid #ccc;
}
.paginate .next a:hover {
	background: #00a7e5 url('/images/misc/white_right.gif') no-repeat right center;
	color: #fff;
	display: block;
	padding: 3px 15px 3px 6px;
	border: 1px solid #00a7e5;
}

/* --------------------
 * Work
 * -------------------- */
#search_form {
	float: right;
	margin-top: 2px;
}
#work_items .work, #related_work .work {
	margin: 0 10px;
	
	width: 225px;
	float: left;
	
	min-height: 213px;
	height: auto !important;
	height: 213px;
}

#work_items span.case_study_badge {
	background: url(/images/buttons/case_study.png) no-repeat;
	display: block;
	width: 75px;
	height: 42px;
	position: absolute;
	top: 92px;
	left: 154px;
}

/* --------------------
 * I could use .work.first, but IE 6
 * doesn't support nested selectors.
 * -------------------- */

#p_our_work .paginate, #p_news .paginate {
	padding-bottom: 20px;
	padding-top: 0;
}
#work_items {
	padding: 40px 0 0;
}
#work_items .first {
	margin-left: 0;
}
#work_items .last {
	margin-right: 0;
}
.work .thumbnail {
	margin: 0 0 5px;
	position: relative;
}

.work .meta h1 {
	font: normal 15px Georgia, serif;
	padding: 4px 0 4px;
}
.work .meta h2 {
	font: normal 12px Georgia, serif;
	color: #777;
}
#work_items p.none {
	font-size: 14px;
	margin-bottom: 300px;
}

/* --------------------
 * selected_extra
 * -------------------- */
#selected_extra {
	border-bottom: 1px solid #ccc;
	padding: 40px 0;
	font: 40px/45px Georgia, serif;
	color: #ccc;
}
#selected_work_for {
	background: url('/images/titles/selected_work_for.gif');
	width: 162px; height: 10px;
	line-height: .1em;
	text-indent: -9999em;
}
#title_work_selected {
	color: #333333;
	font-size: 30px;
	margin-top: 4px;
	position: relative;
	left: -2px;
}

/* --------------------
 * Contact
 * -------------------- */
#contact_us { padding: 40px 0; }
#contact_us .misc {
	width: 240px;
	float: left;
}
#contact_us .misc h2.email {
	background: url('/images/titles/email.gif');
	width: 51px; height: 12px;
	line-height: 0.1em;
	text-indent: -9999em;
	margin: 0 0 5px;
}
#contact_us .misc p {
	padding: 15px 0;
	font: normal 16px/24px Georgia, serif;
}
#contact_us .misc h2.newsletter {
	text-indent: -9999em;
	line-height: 0.1em;
	background: url(/images/titles/mailinglist.gif) no-repeat;
	width: 111px;
	height: 12px;
	margin-top: 59px;
}

#contact_us .misc p.newsletter {
	font: normal 13px/22px Georgia, serif;
	margin-right: 20px;
}
#contact_us .misc #email {
	padding: 4px;
	border-style: inset;
	border-width: 1px;
	width: 140px;
}
#contact_us .misc #submit {
	border-style: outset;
	border-width: 1px;
	padding: 4px 10px;
	margin-left: 1px;
	background-color: #eaeaea;
}
#contact_us .misc strong {
	color: #333;
	display: block;
	font-weight: normal;
}
#contact_us .misc a {
	display: block;
}
#contact_us .map {
	margin-bottom: 13px;
	width: 345px;
	height: 345px;
}
#contact_us .city_name {
	margin: 0 0 20px;
}
#contact_us #sacramento, #contact_us #seattle {
	width: 345px;
	float: left;
}
#sacramento .city_name {
	background: url('/images/titles/sacramento.gif');
	width: 117px; height: 12px;
	line-height: 0.1em;
	text-indent: -9999em;
}
#seattle .city_name {
	background: url('/images/titles/seattle.gif');
	width: 72px; height: 12px;
	line-height: 0.1em;
	text-indent: -9999em;
}
#contact_us #sacramento {
	padding-left: 0;
}
	
.vcard {
	font-size: 14px;
}
.vcard li {
	color: #00a7e5;
	padding: 2px 0;
}
.vcard .tel {
	color: #666;
}

/* --------------------
 * Extended
 * -------------------- */
#back_to_work {
	margin: 0;
	font-size: 0;
	padding: 0 0 4px;
}
#back_to_work a {
	background: url('/images/titles/back_to_work.gif') no-repeat;
	width: 128px; 
	height: 10px;
	text-indent: -9999px;
	display: block;
}
#back_to_work a:hover {
	background-position: 0 -10px;
}
#selected_title {
	font-size: 30px;
	color: #00a7e5;
	position: relative;
	left: -1px;
	display: inline-block;
}
#prev_next {
	float: right;
	top: 18px;
	position: relative;
}
#prev_next .prev {
	background: url('/images/buttons/arrows_mini.gif') no-repeat left top;
	text-indent: -9999px;
	display: block;
	width: 27px;
	height: 27px;
	margin-right: 2px;
	line-height: 0;
	float: left;
}
#prev_next .prev:hover {
	background-position: left -27px;
}
#prev_next .next {
	background: url('/images/buttons/arrows_mini.gif') no-repeat right top;
	text-indent: -9999px;
	display: block;
	width: 27px;
	height: 27px;
	line-height: 0;
	float: left;
}
#prev_next .next:hover {
	background-position: right -27px;
}
#work_description {
	padding: 30px 0 35px;
}
#work_description .info {
	font: normal 14px/28px Georgia, serif;
	width: 215px;
	padding: 0 10px 0 0;
	float: left;
}
#work_description .info p {
	padding: 0 0 12px;
}
#work_description .info .client p {
	padding-bottom: 6px;
}
#work_description .section {
	padding: 0 0 12px;
}
#case_study p {
	padding: 0 0 24px;
}
#work_description .info h2, #case_study .info h2 {
	font: normal 16px/28px Georgia, serif;
	color: #333;
}
#work_description .preview {
	width: 715px;
	float: left;
	padding: 0 0 0 20px;
}

#case_study {
	border-top: 1px solid #ccc;
	padding: 35px 0 0;
}
#title_case_study {
	margin: 0 0 26px;
}
#case_study .info {
	font: normal 14px/28px Georgia, serif;
	width: 460px;
	padding: 0 30px 0 0;
	float: left;
}
#case_study .photos {
	width: 470px;
	float: left;
}
#case_study .caption {
	text-align: center;
	position: relative;
	top: -10px;
	font-style: italic;
}
#case_study .photos img, #case_study object {
	margin: 15px 0;
}
#related_work {
	margin: 25px 0 0; padding: 40px 0 27px;
	border-top: 1px solid #ccc;
}
#title_related_work {
	background-position: 35px 70px;
	float: left;
	width: 225px; height: 210px;
	border-right: 1px solid #ccc;
}
#related_work .work {
	padding: 0; margin: 0 0 0 19px;
	width: 225px;
}

/* Buk Life Detail */
.title_for_member {
	font-size: 30px;
	color: #00a7e5;
	line-height: .7em;
	position: relative;
	left: -2px;
}
#buk_life h4.title {
	margin-bottom: 20px;
	margin-top: 5px;
	font: bold 10px Helvetica, Arial, sans-serif;
	color: #494949;
}
.member #buk_life .content { padding-top: 72px; }
.member #buk_life { 
	padding-bottom: 0;
	min-height: 426px;
	background-position: right bottom;
}
.member #buk_life .content p {
	margin-bottom: 20px;
}
#member {
	float: left;
	width: 715px; height: 470px;
}
#member.hero {
	background-position: right;
	background-repeat: no-repeat;
}


/* Posts */
#p_buk_life .paginate { padding: 0 0 30px; }
#posts #content {
	width: 600px;
	float: left;
	overflow: hidden;
	padding-top: 14px;
	position: relative;
	top: -15px;
}
#posts #sidebar {
	width: 320px;
	float: left;
	margin: 0 0 0 40px;
	overflow: hidden;
}

.fpo-post-image { width: 596px; height: 300px; border: 2px solid #ccc; }
#posts .post, .post-content p {
	font: normal 14px/22px Georgia, serif;
}
#posts .post {
	border-bottom: 1px solid #ccc;
	padding: 0 0 40px; margin: 0 0 40px;
}
.post-content p {
	padding: 10px 0;
}
.post-content img.alignleft {
	float: left;
	margin-right: 15px;
	padding-top: 5px;
	margin-bottom: 15px;
}

div.post-content {
	padding-bottom: 20px;
}
.post h3 {
	font: bold 13px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #333;
	padding-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
}
.post .gallery {
	padding-bottom: 10px;
	padding-top: 10px;
}
.post ol li {
	list-style-type: decimal;
	margin-left: 40px;
}
.post ul li {
	list-style-type: disc;
	margin-left: 40px;
}
#posts #content h2.pagetitle {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
}

.post h2 {
	font: normal 24px Georgia, serif;
	color: #00a7e5;
	padding: 15px 0 5px;
}

.alignleft {
	float: left;
	margin-right: 15px;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.post ul li {
	margin-left: 25px;
}

.wp-caption {
	padding: 10px;
	border: 1px solid #ccc;
	background: #f0f0f0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.post .tags {
	padding-bottom: 30px;
}
.author-info {
	background: #f2f2f2;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 0;
	clear: both;
}
.author-info .avatar {
	background: #f2f2f2;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float: left;
	margin: 0 7px 0 0;
}
.author-info .comments {
	width: 40px; height: 29px; padding: 11px 0 0;
	background: #00a7e5 url('/images/global/comments.gif') no-repeat;
	float: right;
	text-align: center;
	color: #333;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin: -1px 0;
}

.author-info .digg_link {
	width: 40px; height: 29px;
	margin: -1px 0; padding: 11px 0 0;
	background: #00a7e5 url('/images/global/comments.gif') no-repeat;
	float: right;
	text-align: center;
	color: #333;
	font: bold 12px Helvetica, Arial, sans-serif;
	border-right: 1px solid #ccc;
}

.author-info .twitter_link {
	width: 50px; height: 29px;
	margin: -1px 0; padding: 11px 0 0;
	background: #00a7e5 url('/images/global/comments_twitter.gif') no-repeat;
	float: right;
	text-align: center;
	color: #333;
	font: bold 12px Helvetica, Arial, sans-serif;
	border-right: 1px solid #ccc;
	overflow: hidden;
}

.author-info .twitter_link iframe {
	width: 30px;
	height: 16px;
	position: relative;
	border-style: none;
	left: 18px;
	overflow: hidden;
}

.fb_link {
	position: relative;
	left: 9px;
	top: -8px;
}

.author-info .comment-dude {
	font: italic 12px/16px Georgia, serif;
	padding: 3px 0 0;
}

.wpa_container {
	border: 1px solid #27a7e5 !important; 
	padding: 8px !important;
}

.wpa_container .wpa_play {
	position: relative;
	top: 1px;
}

.wpa_container .wpa_text {
	top: -2px;
	position: relative;
}

.post code {
	display: block;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 1px solid #c9ecf9;
	font: 12px/21px Monaco, Courier, mono;
	padding-left: 7px;
	background: url(/images/misc/code_bg.gif) repeat 0 2px;
	margin-left: 20px;
	margin-right: 20px;
	overflow: auto;
}
.post blockquote p {
	font-style: italic;
	border-left: 2px solid #00a7e5;
	padding-left: 10px;
	margin-left: 20px;
	margin-right: 20px;
}


/* Sidebar */
#sidebar .module {
	margin: 0 0 33px; 
	padding: 0 0 30px;
	border-bottom: 1px solid #ccc;
}
#title_twitter {
	background: url('/images/global/twitter.gif') no-repeat;
	width: 131px; height: 21px;
	margin: 0 0 15px;
}
#title_twitter a, #title_twitter a:hover, #title_flickr a, #title_flickr a:hover {
	display: block;
	text-indent: -9999em;
	width: 131px; height: 21px;
}
.module.twitter p {
	font: normal 20px/28px Georgia, serif;
	color: #999;
	padding: 0 0 15px;
}
.module.twitter small {
	font: normal 12px Georgia, serif;
	color: #999;
}
	
#title_flickr {
	background: url('/images/global/flickr.gif') no-repeat;
	width: 131px; height: 21px;
	margin: 0 0 15px;
}
.module.flickr li {
	float: left;
	margin: 0 6px 6px 0;
}
.module.flickr li img {
	width: 70px; 
	height: 70px;
	border: 2px solid #ccc;
}
.module.flickr li.last {
	margin-right: 0;
}
	
.module.links {
	font: normal 14px/20px Georgia, serif;
}
.module.links h2, .module.member_block h2 {
	margin: 0 0 15px;
}

.module.member_block {
	font: normal 14px/20px Georgia, serif;
}
.module.member_block li {
	width: 74px;
	float: left;
	line-height: 0;
	margin: 0 8px 8px 0;
}
.member_block li.last { margin-right: 0; }

/* Blog */
#buk_blog {
	padding: 0 0 40px; margin: 0 0 33px;
	border-bottom: 1px solid #ccc;
}
#posts #content h2 {
	font: bold 14px Helvetica, Arial, sans-serif;
	color: #333;
	text-transform: uppercase;
}
#posts h2.pagetitle {
	font: bold 14px Helvetica, Arial, sans-serif;
	margin-bottom: 30px;
	
	text-align: left;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 6px;
}

#title_seattle_wa {
	background: url('/images/titles/seattle_wa.gif') no-repeat;
	width: 84px; height: 11px;
	margin: 0 auto;
	line-height: 0.1em;
	text-indent: -9999em;
}
#title_sacramento_ca {
	background: url('/images/titles/sacramento_ca.gif') no-repeat;
	width: 114px; height: 11px;
	margin: 0 auto;
	text-indent: -9999em;
	line-height: 0.1em;
}
#weather {
	float: right;
}
#p_buk_life #weather {
	border-bottom: 1px solid #ccc;
	padding: 0 0 30px;
	float: none;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 0;
}
#weather .city {
	width: 160px;
	float: left;
	text-align: center;
}
#weather .conditions {
	font-style: italic;
}
#weather .conditions span {
	color: #d5d5d5;
	display: none;
}
.city .status {
	padding: 12px 0;
}

#comments {
	padding: 0 0 0; margin: 0 0 40px;
}
#comments .paginate {
	padding-top: 15px;
}
#comments .comment {
	border-bottom: 1px solid #ccc;
	padding: 30px 0;
}
.comment div.avatar {
	width: 54px;
	float: left;
	padding: 0 20px 0 0;
}
.comment div.avatar img {
	border: 2px solid #ccc;
}
.comment .comment-content {
	width: 500px;
	float: left;
	border-left: 1px solid #ccc;
	padding: 0 0 0 20px;
	min-height: 52px;
}
.comment .comment-author {
	font: normal 14px Georgia, serif;
	padding: 0 0 3px;
}
.comment cite {
	font-style: normal;
	color: #00a7e5;
}
#title_comments {
	background: url('/images/titles/comments.gif') no-repeat;
	width: 95px; height: 13px;
	line-height: 0.1em;
	text-indent: -9999em;
}
.comments-form {
	font-size: 13px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
}
.form-label {
	width: 54px;
	float: left;
	padding: 7px 20px 7px 0;
	text-align: right;
	color: #444;
}
.form-label label {
	display: block;
	padding: 2px 0 0;
}
.form-input {
	width: 500px;
	float: left;
	padding: 7px 0;
}
.form-input .required {
	color: #ff1f4c;
	font-style: italic;
}
.form-input input {
	width: 270px;
	background: #e6e6e6;
	padding: 3px;
	color: #666;
	font-size: 13px;
	border: 0;
	margin: 0 5px 0 0;
}
.form-input textarea {
	width: 498px;
	background: #e6e6e6;
	padding: 2px;
	color: #666;
	border: 0;
	height: 130px;
}
.form-input p {
	position: relative;
	top: 1px;
}
.form-input input#submit {
	border-style: outset;
	border-width: 2px;
	width: 100px;
	position: relative;
	top: -3px;
}

/* Capabilities */
#capabilities {
	padding: 40px 0;
	/*border-top: 1px solid #CCCCCC;*/
}
#title_capabilities {
	background: url('/images/titles/capabilities.gif') no-repeat;
	width: 170px; height: 18px;
	line-height: 0.1em;
	text-indent: -9999em;
	margin: 0 0 30px;
}

/* Client List */
#client_list {
	padding: 40px 0;
}
#title_client_list {
	background: url('/images/titles/client_list.gif') no-repeat;
	width: 149px; height: 18px;
	line-height: 0.1em;
	text-indent: -9999em;
	margin: 0 0 30px;
}

.listing {
	border-top: 1px solid #ccc;
}
.listing li {
	font-size: 16px;
	width: 225px;
	padding: 7px 0; margin: 0 20px 0 0;
	float: left;
	color: #444;
	border-bottom: 1px solid #ccc;
}
.listing li.last {
	margin-right: 0;
}

.logos {
	padding: 0;
}
.logos li {
	width: 184px; height: 90px;
	margin: 0 10px 30px 0;
	float: left;
	line-height: 0.1em;
}
.logos li.last {
	margin-right: 0;
}
	
#expertise_slides {
	padding: 0px 0 0;
}
#expertise_slides .left_arrow {
	/*float: left;*/
}
#expertise_slides .slides {
	width: 960px;
	height: 720px;
	overflow: hidden;
	margin: 0 30px;
	float: left;
	position: relative;
}

#p_about #expertise_slides .slides .slide_0 {
	background-color: #f9f9f9;
	height: 287px;
}

#expertise_slides #slide-container {
	width: 99999px;
	height: auto !important;
	position: absolute;
}
#expertise_slides .slide {
	width: 960px;
	float: left;
}
#expertise_slides .slide .meet_your_team {
	text-align: center;
	width: 550px;
	margin-left: 136px;
	margin-top: 88px;
}
#expertise_slides .slide .meet_your_team h2 {
	margin-bottom: 20px;
}
.slide .leader {
	float: left;
	margin: 0 20px 0 0;
}
#expertise_slides .right_arrow {
	/*float: left;*/
}
#expertise_slides .slide ul {
	padding-left: 107px;
	float: right;
	display: block;
	background: url(/images/titles/related_work_expertise.gif) no-repeat 0 17px;
	margin-top: 34px;
	height: 57px;
}
#expertise_slides .slide li {
	float: left;
	margin-right: 20px;
}

#expertise_slides .slide li img {
	border: 2px solid #CCCCCC;
	display: block;
}
#expertise_slides .slide li img:hover {
	border-color: #00a7e5;
}
	
.left_arrow a {
	background: url('../images/arrows.gif') no-repeat top left;
	width: 38px; height: 38px;
	float: left;
	text-indent: -9999em;
	margin: 330px 0 0;
}
.right_arrow a {
	background: url('../images/arrows.gif') no-repeat top right;
	width: 38px; height: 38px;
	float: right;
	text-indent: -9999em;
	margin: 330px 0 0;
}
.title_expertises {
	margin: 0 0 10px;
	font-size: 24px;
	color: #00a7e5;
}
	
.slide p {
	padding: 0;
	font: 20px/32px Georgia, serif;
	color: #676767;
}
#p_about .slide p {
	font: 13px/24px Georgia, serif;
	color: #676767;
}
#p_about .slide h4 {
	font: bold 10px Helvetica, Arial, sans-serif;
	color: #494949;
	text-transform: uppercase;
	margin-top: 3px;
}
#p_about .slide img { float: left;}
#p_about .slide .info { float: right; width: 500px;}
#p_about .slide h2 {
	font-size: 30px;
	color: #00a7e5;
	line-height: .7em;
	position: relative;
	left: -2px;
	text-transform: uppercase;
}
.slide em {
	font-style: normal;
	color: #00a7e5;
}

/* About people */
#about_people {
	padding: 0 0 25px;
	/*border-bottom: 1px solid #ccc;*/
}
#about_people .person {
	background: #fafafa;
	cursor: pointer;
	width: 225px; height: 75px;
	float: left;
	margin: 10px 20px 5px 0;
}
#about_people .person.over { background: #f0f0f0;}


#about_people .last {
	margin-right: 0;
}
#about_people .current {
	background: #f0f0f0;
}
#about_people .first h3 {
	padding-left: 10px;
}
.person img {
	float: left;
	margin: 0 15px 0 0;
}
.person h3 {
	font-weight: normal;
	padding: 10px 0 0;
	font-size: 16px;
	color: #02a8e6;
}
.person .role {
	font-style: normal;
}

/* Player */
#thumbnails {
	width: 690px;
	padding: 20px 0 0;
	margin-bottom: 5px;
}
#thumbnails li {
	float: left;
	width: 79px;
	margin: 0 2px 0 0;
	position: relative;
}
#thumbnails a img {
	display: block;
	width: 75px;
	border: 2px solid #e5e5e5;
}
#thumbnails a:hover img {
	border: 2px solid #00a7eb;
}
#thumbnails span.playable {
	background: url(/images/buttons/thumb_playable.png) no-repeat;
	display: block;
	width: 75px;
	height: 42px;
	position: absolute;
	top: 13px;
	left: 25px;
}
#thumbnails span.loader {
	position: absolute;
	top: 12px;
	left: 26px;
	width: 24px;
	height: 24px;
	display: block;
	background: url(/images/misc/loader_bkgd.png) no-repeat;
}
#thumbnails span.loader span {
	text-indent: -9999px;
	display: block;
	width: 16px;
	height: 16px;
	background: url(/images/misc/loader.gif) no-repeat;
	position: relative;
	top: 4px;
	left: 4px;
}
a.current img {
	border: 2px solid #00a7e5 !important;
}
li.launch {
	float: right !important;
	width: 107px; height: 19px;
}
li.launch a {
	background: url('../images/buttons/launch.gif');
	width: 107px; height: 19px;
	text-indent: -9999em;
	display: block;
}
li.launch a:hover {
	background-position: 0 -19px;
}
#current_preview {
	width: 715px;
	overflow: hidden;
	position: relative;
	min-height: 405px;
}
#current_preview img {
	cursor: pointer;
	display: block;
}

.work .thumbnail img {
	border: 2px solid #ccc;
	display: block;
}

.asset_movie {
	width: 715px;
	height: 405px;
}

a.no_style {
	color: #444;
}
a.no_style:hover {
	color: #00a7e5;
}


/* work page navigation */
#work_options {
	padding: 15px 0;
}
#work_options li {
	float: left;
	font-size: 10px;
	margin-right: 20px;
}
#work_options a {
	color: #999;
}
#work_options a:hover, #work_options a.active {
	color: #00a7e5;
}

/* Detail Pagination */
.page_navigation {
	float: right;
}
.page_navigation .left {
	width: 26px; height: 26px;
	float: left;
}
.page_navigation .left a {
	background: url('/images/buttons/small_arrows.gif') no-repeat top left;
	width: 26px; height: 26px;
	display: block;
	text-indent: -9999em;
}
.page_navigation .left a:hover {
	background-position: bottom left;
}
.page_navigation .right {
	width: 26px; height: 26px;
	float: left;
	margin: 0 0 0 10px;
}
.page_navigation .right a {
	background: url('/images/buttons/small_arrows.gif') no-repeat top right;
	width: 26px; height: 26px;
	display: block;
	text-indent: -9999em;
}
.page_navigation .right a:hover {
	background-position: bottom right;
}

/* Error page */

#error_page {
	height: 400px;
}

#error_page h1 {
	font-weight: normal;
	font-style: normal;
	font-size: 48px;
}

#error_page p {
	font-size: 16px;
	line-height: 23px;
}
