/*
// BKWLD
// @author: Garrett Bjerkhoel
// @copyright: 2009
-----
// Initial CSS Reset
*/

/*
// I hate you *
*/

body,table,tr,th,td,dd,dt,dl,p,div,form,input,
pre,textarea,fieldset,blockquote,ul,ol,li,h1,
h2,h3 {
	margin: 0; padding: 0;
	}

/*
// Setup default structure for the page.
*/

body, input {
	font: 12px Georgia, serif;
	color: #777;
	}
p {
	line-height: 18px;
	}

input {
	color: #666;
	}

/*
// Tidy Resets
*/

img,a img {
	border: 0;
	}
ol,ul {
	list-style: none;
	}
h2 span {
	/*display: none;*/
	}


/*
// Reset all the anchors.
*/

a, a:hover {
	color: #00a7e5;
	outline: none;
	text-decoration: none;
	}

/*
// Remove all focus styles.
*/

*:focus {
	outline: none;
	}

/*
// Clearfix
*/

.clearfix:after {
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
	}
.clearfix {
    display:inline-block;
	}
.clearfix {
    display:block;
	}
* html .clearfix {
    height:1px;
	}

/*
// Set for the sake of defining them.
*/

span.amp {
  	font-family: Baskerville, Palatino, "Book Antiqua", serif;
	font-style: italic;
	font-weight: normal !important;
  	}